.menu {
  overflow: auto;
  @include sizeForHeader();
  background-color: #c2c2c2;
  text-transform: uppercase;
  height: 100%;
  @include onTablet() {
    margin-bottom: 0;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__top {
    margin-bottom: 24px;
    position: sticky;
    top: 0;
    z-index: 1;
    @include onTablet {
      margin-bottom: 8px;
    }
  }

  &__num {
    @include stylesForMenuBar();
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
  }

  &__num-title {
    width: fit-content;
    @include stylesForMenuBar();
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    padding-bottom: 7px;
    border-bottom: 1px solid $main-dark-color;
  }
}
