.about-us {
  &--margin-bottom {
    margin-bottom: 164px;

    @include on-tablet {
      margin-bottom: 132px;
    }

    @include on-phone {
      margin-bottom: 92px;
    }
  }

  &__container {
    @include page-grid;
  }

  &__title {
    text-align: center;
    grid-column: 1 / 4;

    @include on-tablet {
      grid-column: 1 / 3;
    }

    @include on-phone {
      grid-column: span 2;
    }
  }

  &__description {
    font-size: 23px;
    font-weight: 500;
    line-height: 32.2px;
    text-align: left;

    grid-column: 6 / 11;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-phone {
      grid-column: span 2;
    }
  }
}
