.button {
  border-radius: 40px;
  background-color: $main-font-color;
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  line-height: 27px;
  color: $second-font-color;
  cursor: pointer;

  @include on-tablet {
    width: 392px;
  }

  @include on-phone {
    width: 278px;
  }

  &:hover {
    box-shadow: 1px 4px 16px 0 #e8e8f066;
  }

  &:active {
    box-shadow: 1px 4px 16px 0 #e8e8f0a3;
  }
}
