.footer {
  &__container {
    height: 555px;
    width: 100%;
    background-image: url('../img/footer-photo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    @include on-tablet {
      height: 480px;
    }

    @include on-phone {
      height: 200px;
    }
  }
}
