.form {
  &__wrapper {
    display: grid;
    row-gap: 16px;
    margin-bottom: 32px;
  }

  &__row {
    box-sizing: border-box;
    border-radius: 40px;
    border: 1px solid #d5d7de;
    background-color: #f8f8fa;
    padding-left: 16px;

    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #7e7e83;
    resize: none;

    &:hover::placeholder,
    &:active::placeholder,
    &:focus::placeholder {
      color: $second-font-color;
    }

    &:hover,
    &:active,
    &:focus {
      color: $second-font-color;
    }
  }
}
