.header {
  height: 100vh;
  box-sizing: border-box;
  background-image: url('../img/background-header-image-mb.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__bottom {
    padding-bottom: 203px;

    @include on-tablet {
      padding-bottom: 103px;
    }

    @include on-phone {
      padding-bottom: 88px;
    }

    display: flex;
    justify-content: center;
  }

  &__title {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 64px;
      line-height: 64px;
    }

    @include on-phone {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
