.icon {
  display: inline-block;
  height: $icon-size;
  width: $icon-size;

  @include smooth-hover(transform, scale(1.2));

  @include on-phone {
    width: 24px;
    height: 24px;
  }

  &--phone {
    height: 100%;
    width: 100%;
  }

  &--burger {
    height: 100%;
    width: 100%;

    @include smooth-hover(opacity, 0);

    &-link {
      &:hover {
        background-image: url('../img/burger-menu-hover-logo.png');
        background-size: cover;
      }
    }
  }

  &--close {
    height: 100%;
    width: 100%;
  }
}
