@charset "UTF-8";
body:has(.aside:target) {
  overflow: hidden;
}

.aside {
  background-color: #d12d35;
  position: fixed;
  inset: 0;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  overflow: auto;
}

.aside:target {
  opacity: 1;
  pointer-events: all;
}

.aside__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #d12d35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 24px;
}
@media (min-width: 576px) {
  .aside__header {
    padding-block: 64px;
  }
}
@media (min-width: 1024px) {
  .aside__header {
    padding-block: 64px;
  }
}

.aside__img-logo {
  height: 46px;
  width: 64px;
  display: block;
}
@media (min-width: 576px) {
  .aside__img-logo {
    height: 65px;
    width: 87px;
  }
}

.aside__closed {
  background-image: url(/src/img/header/svg/icon-close.svg);
  display: block;
  width: 24px;
  height: 24px;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
  background-position: center;
  background-size: cover;
}
@media (min-width: 576px) {
  .aside__closed {
    width: 32px;
    height: 32px;
  }
}

.aside__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.list__item {
  color: #fff;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  list-style: none;
}

/* Стилі для навігаційних посилань */
.aside__home,
.aside__about-us,
.aside__now-on-view,
.aside__explore-online,
.aside__contscts {
  text-decoration: none;
  color: #fff;
  font-family: Cinzel, serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.list-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.list-bottom__item {
  color: #fff;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  list-style: none;
}

.list-bottom__met-fifth-avenue,
.list-bottom__met-cloisters {
  display: block;
  color: #fff;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
}

.list-bottom__met-cloisters {
  margin-bottom: 8px;
}

.list-bottom__call-order {
  position: relative;
  color: #fff;
  font-family: Cinzel, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 8px;
}

.list-bottom__call-order::after {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.link-aside {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 8px;
  -webkit-transition: text-decoration-color 0.3s ease, text-underline-offset 0.3s ease;
  transition: text-decoration-color 0.3s ease, text-underline-offset 0.3s ease;
}
.link-aside:hover {
  text-decoration-color: currentColor;
  color: #c8c1c1;
}