.main__contacts {
  margin-bottom: 100px;
}

.contact-us__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
}
.contact-us__title-block {
  color: #161616;
  text-align: center;
  font-family: Cinzel, serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1.5px;
}
@media (min-width: 665px) {
  .contact-us__block-meet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 110px;
  }
}
.contact-us__met-block--margin {
  margin-bottom: 48px;
}
.contact-us__met-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 48px;
}
@media (min-width: 1024px) {
  .contact-us__met-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 24px;
  }
}
.contact-us__title {
  color: #161616;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.69;
  margin-bottom: 16px;
}
.contact-us__phone--margin {
  margin-bottom: 8px;
}
.contact-us__text {
  color: #161616;
  font-family: Cinzel, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.92;
  margin-bottom: 4px;
}
.contact-us__namber-us {
  color: #3e3e3e;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.69;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-us__namber-us:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #7f7c7c;
}
.contact-us__adress {
  color: #3e3e3e;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 2.24;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-us__adress:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #7f7c7c;
}

.form-block__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.form-block__form:last-child {
  margin-bottom: 32px;
}
.form-block__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 14px;
  padding-left: 11px;
  color: #7e7e83;
  font-family: Cinzel, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  height: 48px;
  width: 100%;
}
@media (min-width: 665px) {
  .form-block__input {
    width: 288px;
  }
}
@media (min-width: 1024px) {
  .form-block__input {
    width: 411px;
  }
}
.form-block__input--textarea {
  height: 144px;
  resize: none;
  overflow: auto hidden;
  scrollbar-width: thin;
}
.form-block__btn {
  color: #fff;
  text-align: center;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.69;
  background-color: #ae1c23;
  width: 100%;
  height: 56px;
  border: none;
}
.form-block__btn:hover {
  background-color: #d12d35;
}
.form-block__btn:focus {
  background-color: #eb343d;
}