.header {
  background-image: url(/src/img/header/background-img.png);
  height: 100vh;
  height: 100svh;
  background-size: cover;
  background-position: center;
}
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 24px;
}
@media (min-width: 576px) {
  .header__top {
    padding-block: 64px;
  }
}
@media (min-width: 1024px) {
  .header__top {
    padding-block: 64px;
  }
}
.header__img-logo {
  height: 46px;
  width: 64px;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__img-logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 576px) {
  .header__img-logo {
    height: 65px;
    width: 87px;
  }
}
.header__title {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: Cinzel, serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1.5px;
}
@media (min-width: 576px) {
  .header__title {
    font-size: 64px;
  }
}
@media (min-width: 1024px) {
  .header__title {
    font-size: 80px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.nav__hover-call {
  position: absolute;
  right: 48px;
  width: 210px;
  text-align: right;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: auto;
}
@media (max-width: 576px) {
  .nav__hover-call {
    display: none;
  }
}
.nav__block-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  position: relative;
}
.nav__block-call:hover .nav__hover-call {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.nav__block-text:not(:last-child) {
  margin-bottom: 8px;
}
.nav__call-link {
  text-decoration: none;
  color: #fff;
}
.nav__call-text {
  color: #fff;
  text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.69;
  text-transform: uppercase;
}
.nav__call {
  background-image: url(/src/img/header/svg/icon-phone-call.svg);
  display: block;
  width: 24px;
  height: 24px;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
  background-position: center;
  background-size: cover;
}
.nav__call:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}
@media (min-width: 576px) {
  .nav__call {
    width: 32px;
    height: 32px;
  }
}
.nav__burger {
  background-image: url(/src/img/header/svg/icon-burger-menu.svg);
  background-position: center;
  background-size: cover;
  display: block;
  width: 24px;
  height: 24px;
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}
.nav__burger:hover {
  background-image: url(/src/img/header/svg/icon-burger-menu-hover.svg);
  -webkit-transition: linear 0.4s;
  transition: linear 0.4s;
}
@media (min-width: 576px) {
  .nav__burger {
    width: 32px;
    height: 32px;
  }
}

.header--mergin-bottom {
  margin-bottom: 140px;
}
@media (min-width: 723px) {
  .header--mergin-bottom {
    margin-bottom: 140px;
  }
}