/* Error: Expected string.
 *    ,
 * 12 |   @import onTablet {
 *    |           ^
 *    '
 *   src\styles\section-title.scss 12:11  @use
 *   src\styles\main.scss 3:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected string.\a    \2577 \a 12 \2502    @import onTablet {\a    \2502            ^\a    \2575 \a   src\\styles\\section-title.scss 12:11  @use\a   src\\styles\\main.scss 3:1             root stylesheet";
}
