.contacts {
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(12, 1fr);
    }

  }

  &__title {
    grid-column: span 2;

    @media (min-width: 768px) {
      grid-column: span 12;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-column: span 2;

    @media (min-width: 768px) {
      grid-column: 1/ 7;
    }
  }

  &__input {
    padding: 14px 16px;
    height: 48px;
    box-sizing: border-box;

    background-color: $backgroundColor;
    border: none;
    border-radius: 8px;

    grid-column: span 2;

    color: $mainTextColor;
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;

    &:hover {
      border-radius: 8px;
      border: 1px solid #dbdbdb;
      background: $backgroundColor;
    }

    &:focus {
      outline: 0;
      border-radius: 8px;
      border: 2px solid $buttonColor;
      background: $backgroundColor;
    }

    &::placeholder {
      color: $placeholderColor;
      font-family: $mainFont;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.15px;
      border-radius: 8px;
      background: $backgroundColor;
    }
  }

  &__text-area {
    box-sizing: border-box;
    height: 120px;
    background-color: $backgroundColor;
    border: none;
    border-radius: 8px;

    padding-left: 10px;
    padding-top: 10px;

    grid-column: span 2;

    &:hover {
      border-radius: 8px;
      border: 1px solid #dbdbdb;
      background: $backgroundColor;
    }

    &:focus {
      outline: none;
      border-radius: 8px;
      border: 2px solid $buttonColor;
      background: $backgroundColor;
    }

    &::placeholder {
      color: $placeholderColor;
      font-family: $mainFont;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.15px;
      border-radius: 8px;
      background: $backgroundColor;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;

    grid-column: span 2;

    @media (min-width: 768px) {
      grid-column: 8/ -1;
    }

  }

  &__link {
    text-decoration: none;
    color: #191919;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;

    transition: $transition;

    &:hover {
      color: $buttonColor;
    }
  }

  &__link > span {
    padding-bottom: 8px;
    color: $contactsColor;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;
  }
}
