.agenda {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include onTablet {
    max-width: 392px;
  }

  &__image-container {
    height: 277px;
    margin-bottom: 24px;
    transition: all $transition;

    @include onTablet {
      height: 387px;
      margin-bottom: 34px;
    }

    @include onDesktop {
      width: 324px;
      height: 320px;
      margin-bottom: 32px;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  &__image {
    @extend %img-fit;
  }

  &__title {
    margin-bottom: 8px;
    text-align: center;
    color: $color-accent-main;
  }

  &__text {
    @extend %text-main;
    text-align: center;
  }
}
