.contact-us {
  &__title {
    margin-bottom: 48px;
  }

  &__content {
    @include page-grid;
    row-gap: 48px;
  }

  &__form {
    grid-column: 1 / -1;

    @include media-tablet {
      grid-column: 3 span;
    }

    @include media-desktop {
      grid-column: 5 span;
    }
  }

  &__field {
    margin-bottom: 16px;

    &--last {
      margin-bottom: 30px;
    }
  }

  &__info {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @include media-tablet {
      grid-column: 3 span;
    }

    @include media-desktop {
      grid-column: 8 / 11;
    }
  }

  &__info-title {
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__info-link {
    font-weight: 500;
    font-size: 16px;

    @include hover(color, $clr-hover-link);
  }
}
