@import "../abstract/variables";

.contacts {
  &__title {
    text-align: center;
    margin-bottom: 48px;
  }

  &__wrapper {
    @include gridColumns;

    @include onMobile {
      @include gridRows;

    }
  }

  &__form {
    grid-column: 1/6;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onLaptop {
      grid-column: span 3;
    }

    @include onMobile {
      grid-column: 1/-1;
    }
  }

  &__info {
    grid-column: 8/-1;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include onLaptop {
      grid-column: span 3;
    }

    @include onMobile {
      grid-column: 1/-1;
    }
  }
}
