.details {
  &__title {
    text-align: center;
  }

  &__container {
    display: grid;
    grid-template-rows: auto;
    row-gap: 48px;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__button {
    @include gridColumns;
  }
}

.box {
  &__wrapper {
    @include gridColumns;
    margin-bottom: 16px;
  }

  &__image {
    &--large {
      grid-column: span 8;

      @include onLaptop {
        grid-column: span 4;
      }

      @include onMobile {
        grid-column: auto;
      }
    }

    &--small {
      grid-column: span 4;
      @include onLaptop {
        grid-column: span 2;
      }

      @include onMobile {
        grid-column: auto;
      }
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__button {
    grid-column: 5/9;

    @include onLaptop {
      grid-column: 2/-2;
    }

    @include onMobile {
      grid-column: 1/-1;
    }
  }
}
