.exhibition {
  &__title {
    margin-bottom: 8px;
    text-align: center;
  }

  &__desc {
    margin: 0 auto 48px;
    text-align: center;
    font-weight: 400;

    @include onTablet {
      width: 392px;
    }
  }

  &__list {
    margin: 0 0 40px;

  }

  &__card {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__button {
    margin: 0 auto;
  }
}
