.footer {
  position: sticky;
  z-index: -1;
  height: 555px;
  background: url("../assets/footer.png") center/cover no-repeat;

  @include onLaptop {
    height: 480px;
  }

  @include onMobile {
    height: 200px;
  }
}
