.footer {
  padding-bottom: 64px;

  &__content {
    @include page-grid;

    row-gap: 48px;
  }

  &__contact-form {
    grid-column: 1 / -1;

    @include media-desktop {
      grid-column: 6 span;
    }
  }

  &__contact-info {
    grid-column: 1 / -1;

    @include media-desktop {
      grid-column: 8 / -1;
    }
  }
}
