.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;

  background-image: url('../styles/images/footer-desktop.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 360px;
  overflow: hidden;
}
