.gallery {
  @include paddingContainer;

  &__title {
    margin-bottom: 56px;
  }

  &__wrapper {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    row-gap: 120px;

    @include onLaptop {
      row-gap: 56px;
    }

    @include onMobile {
      row-gap: 40px;
    }
  }

  &__cta {
    @include gridColumns;
  }

  &__button {
    grid-column: span 4;

    @include onLaptop {
      grid-column: 1/-1;
    }
  }
}
