.header {
  height: 100vh;
  background: url("../assets/header-bg.png") center/cover no-repeat;
  color: white;
  position: relative;

  @include onLaptop {
    height: 993px;
  }

  @include onMobile {
    height: 480px;
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 32px;

    @include onMobile {
      gap: 24px;
    }
  }

  &__title {
    position: absolute;
    left: 120px;
    bottom: 64px;
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onLaptop {
      font-size: 48px;
      left: 72px;
    }

    @include onMobile {
      font-size: 36px;
      left: 20px;
      bottom: 40px;
    }
  }
}
