.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  @include transition(background-color, box-shadow);

  &--scroll {
    background-color: rgba($color: #fff, $alpha: 0.9);
    box-shadow: 0 4px 10px rgba($color: #000, $alpha: 0.2);
  }
}
