.main {
  padding: 120px 0;
  display: grid;
  grid-template-rows: auto;
  row-gap: 120px;

  @include onLaptop {
    row-gap: 96px;
  }

  @include onMobile {
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    gap: 96px;
  }
}
