$grid-columns-desktop-lg: 12;
$grid-columns-desktop-md: 6;
$grid-columns-phone: 2;
$grid-gap-desktop-lg: 24px;
$grid-gap-desktop-md: 24px;
$grid-gap-phone: 20px;

.main {
  height: max-content;
  width: 100%;
  background-color: $bg-color;
  padding: 0 $margin-desktop-lg;

  @include respond-to(desktop) {
    padding: 0 $margin-desktop-md;
  }

  @include respond-to(tablet, phone) {
    padding: 0 $margin-mobile;
  }
}

.hero {
  margin-top: 120px;
  scroll-margin-top: 30vh;

  @include grid($grid-columns-desktop-lg, $grid-gap-desktop-lg);

  @include respond-to(desktop) {
    @include grid($grid-columns-desktop-md, $grid-gap-desktop-md);
  }

  @include respond-to(tablet, phone) {
    margin-top: 60px;

    @include grid($grid-columns-phone, $grid-gap-phone);
  }

  &__title {
    grid-column: 1 / 5;

    @include text-style(
      $title-font-size-medium-desktop-lg,
      $font-weight-medium,
      -1.5px
    );

    @include respond-to(desktop) {
      font-size: $title-font-size-medium-desktop-md;
      grid-column: 1 / 4;
    }

    @include respond-to(tablet, phone) {
      font-size: $title-font-size-medium-phone;
      grid-column: 1 / -1;
    }
  }

  &__description {
    max-width: 500px;
    grid-column: 6 / -2;

    @include text-style($text-font-size-large, $font-weight-medium, 0, 140%);

    @include respond-to(desktop) {
      grid-column: 4 / -1;
    }

    @include respond-to(tablet, phone) {
      margin-top: 32px;
      grid-column: 1 / -1;
    }
  }
}

.compare {
  margin-top: 164px;
  scroll-margin-top: 10vh;

  @include respond-to(desktop) {
    margin-top: 132px;
  }

  @include respond-to(tablet, phone) {
    margin-top: 92px;
  }

  &__title {
    @include text-style(
      $title-font-size-medium-desktop-lg,
      $font-weight-medium,
      -1.5px
    );

    text-align: center;

    @include respond-to(desktop) {
      font-size: $title-font-size-medium-desktop-md;
    }

    @include respond-to(tablet, phone) {
      font-size: $title-font-size-medium-phone;
    }
  }

  &__container {
    margin-top: 55px;

    @include grid($grid-columns-desktop-lg, $grid-gap-desktop-lg);

    @include respond-to(desktop) {
      margin-top: 48px;

      @include grid($grid-columns-desktop-md, $grid-gap-desktop-md);
    }

    @include respond-to(tablet, phone) {
      margin-top: 48px;

      @include grid($grid-columns-phone, $grid-gap-phone);
    }
  }
}

.details {
  margin-top: 145px;
  scroll-margin-top: 10vh;

  @include respond-to(desktop) {
    margin-top: 120px;
  }

  @include respond-to(tablet, phone) {
    margin-top: 92px;
  }

  &__title {
    @include text-style(
      $title-font-size-medium-desktop-lg,
      $font-weight-medium,
      -1.5px
    );

    text-align: center;

    @include respond-to(desktop) {
      font-size: $title-font-size-medium-desktop-md;
    }

    @include respond-to(tablet, phone) {
      font-size: $title-font-size-medium-phone;
    }
  }

  &__container {
    margin-top: 48px;

    @include respond-to(desktop) {
      margin-top: 64px;
    }
  }

  &__actions {
    @include grid($grid-columns-desktop-lg, $grid-gap-desktop-lg);

    @include respond-to(desktop) {
      @include grid($grid-columns-desktop-md, $grid-gap-desktop-md);
    }

    @include respond-to(tablet, phone) {
      @include grid($grid-columns-phone, $grid-gap-phone);
    }
  }
}

.contact {
  margin-top: 180px;
  scroll-margin-top: 30vh;

  @include respond-to(desktop) {
    margin-top: 120px;
  }

  @include respond-to(tablet, phone) {
    margin-top: 80px;
  }

  &__title {
    @include text-style(
      $title-font-size-small-desktop-lg,
      $font-weight-semi-bold,
      -1.5px
    );

    text-align: center;

    @include respond-to(desktop) {
      font-size: $title-font-size-medium-desktop-md;
    }

    @include respond-to(tablet, phone) {
      font-size: $title-font-size-medium-phone;
    }
  }

  &__container {
    margin-top: 48px;

    @include grid($grid-columns-desktop-lg, $grid-gap-desktop-lg);

    @include respond-to(desktop) {
      @include grid($grid-columns-desktop-md, $grid-gap-desktop-md);
    }

    @include respond-to(tablet, phone) {
      @include grid($grid-columns-phone, $grid-gap-phone);
    }
  }

  &__form {
    grid-column: span 5;

    @include flex(flex-start, flex-start, column);

    gap: 16px;

    @include respond-to(desktop) {
      grid-column: span 3;
    }

    @include respond-to(tablet, phone) {
      grid-column: span 2;
    }
  }

  &__button {
    margin-top: 16px;
  }

  &__info {
    grid-column: 8 / -1;

    @include respond-to(desktop) {
      grid-column: 4 / -1;
    }

    @include respond-to(tablet, phone) {
      margin-top: 48px;
      grid-column: 1 / -1;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-label {
      @include text-style($text-font-size-small, $font-weight-regular, 0, 140%);
    }

    &-link {
      @include text-style($text-font-size-medium, $font-weight-medium, 0, 140%);

      &:hover {
        width: max-content;
        text-decoration: underline currentColor;
        text-underline-offset: 5px;
        text-decoration-thickness: 1px;
      }
    }
  }
}
