.main {
  background-color: $color-primary;

  &__container {
    display: grid;
    row-gap: 100px;
    padding-block: 100px;
    padding-inline: 20px;
    margin-inline: auto;
    max-width: 280px;

    @media (min-width: $breakpoint-tablet) {
      row-gap: 140px;
      padding-block: 100px;
      padding-inline: 72px;
      max-width: 600px;
    }

    @media (min-width: $breakpoint-desktop) {
      row-gap: 140px;
      padding-block: 100px;
      padding-inline: 120px;
      max-width: 1020px;
    }
  }
}
