.office-info {
  &__item {
    display: flex;
    margin-bottom: 8px;

    &:last-child {
      padding-top: 8px;
      flex-direction: column;
    }
  }

  &:last-child {
    > .office-info__item {
      &:last-child {
        margin: 0;
      }

      &:not(:last-child) {
        gap: 25px;
      }
    }

  }

  &__title {
    margin-bottom: 16px;
  }

  &__hours {
    min-width: 120px;
  }

  &__desc {
    font-weight: 400;
  }
}
