.page {
  font-family: $font-main;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  color: $color-main-dark;
  scroll-behavior: smooth;

  &__body {
    margin: 0;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__section {
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 140px;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transform: translateX(100%);
    transition: transform $transition;

    &:target {
      transform: translateX(0);
    }
  }
}
