.phones {
  &__info {
    color: $color-light;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
  }

  @include onDesktop {
    display: flex;
    flex-direction: column;
  }

  &__link {
    @extend %h4;
    color: inherit;
    cursor: pointer;
    transition: all $transition;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 6px;
    }
  }
}
