.recommended {
  @include paddingContainer;

  &__title {
    margin-bottom: 56px;
  }

  &__wrapper {
    @include gridColumns;

    @include onLaptop {
      display: flex;
      flex-direction: column;
      gap: 56px;
    }

    @include onMobile {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  &__product {
    grid-column: span 4;
  }
}
