.schedule {

  &__content {
    @extend %grid-system;
  }

  &__heading {
    grid-column: 1/3;

    @include onTablet {
      grid-column: 1/4;
    }

    @include onDesktop {
      grid-column: 1/6;
    }
  }

  &__subtitle {
    margin-bottom: 3px;
    color: $color-accent-main;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__list {
    margin: 0;
    grid-column: 1/3;

    @include onTablet {
      grid-column: 4/7;
    }

    @include onDesktop {
      grid-column: 6/13;
    }
  }

  &__office-info {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
