.about{
    &__title{

    }

    &__texts{
        @include pageGrid;
        row-gap: 20px;
    }

    &__text{
        grid-column: 1/ -1;
        margin: 0;
    }
}

.spaced-br{
    margin-bottom: 10px;
}