.contact{

    &__title{

    }

    &__wrap{
        @include pageGrid;
    }

    &__form{
        grid-column: 1/-1;
        @include onDesctop{
            grid-column: 1/6;
        }
    }

    &__button{
        margin-top: 16px;
    }

    &__input{
        margin-bottom: 16px;

        &--big{
            height: 148px;
            resize: none;
        }
    }

    &__infos{
        margin-top: 48px;
        grid-column: 1/-1;
        @include onDesctop{
            grid-column: 7/-1;
        }
    }

    &__info{
        &:not(:last-child){
            margin-bottom: 24px;
        }
    }

    &__label{
        font-size: 14px;
        line-height: 19.6px;
        color: $labelColor;
        margin: 0;
        margin-bottom: 8px;
    }


    &__text{
        margin: 0;
        color: $mainColor;
        text-decoration: none;
    }

}