.footer {
  margin-top: 48px;
  margin-bottom: 64px;
  &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  &__list {
    align-self: flex-start;

    @include on-desktop {
      width: 50%;
      padding-top: 80px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  @include on-desktop {
    flex-direction: row;
  }

  gap: 110px;
  align-items: center;
}
