.header{
    background-image: url(../images/mobile/background.png);
    background-size: cover;
    background-position: center;

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }

    &__bottom{
        padding-bottom: 40px;

        @include onTablet{
            padding-bottom: 65px;
        }

        @include onDesctop{
            padding-bottom: 92px;
        }
    }

    @include onTablet{
        background-image: url(../images/tablet/background.png);
    }

    @include onDesctop{
        background-image: url(../images/background.png);
    }
}