.header {
  box-sizing: border-box;
  padding: 25px 20px 288px;

  @media (min-width: 744px) {
    padding: 50px 72px 456px;
  }

  @media (min-width: 1260px) {
    padding: 50px 120px 482px;
  }

  height: 100vh;
  background-image: url('/src/images/bg-img.png');
  background-size: cover;
  background-position: center;

  @media (min-width: 744px) {
    background-image: url('/src/images/bg-img-tablet.png');
  }

  @media (min-width: 1260px) {
    background-image: url('/src/images/bg-img-desktop.png');
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin: 0;
    font-size: 40px;

    @media (min-width: 744px) {
      font-size: 64px;
    }

    @media (min-width: 1260px) {
      font-size: 80px;
    }

    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 100%;
    letter-spacing: -1.5px;
  }
}

.top-bar {
  @include flex-center;

  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  height: 46px;

  @media (min-width: 744px) {
    height: 65px;
  }

  &__logo {
    display: block;
    height: 46px;
    width: 64px;
    background-image: url('/src/images/logo-title.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    @media (min-width: 744px) {
      height: 65px;
      width: 88px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
  }
}
