.header {
  background-image: url('../image/header-bg-4x.png');
  background-size: cover;
  background-position: center;

  &__container {
    @include content-limits;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    padding-bottom: 40px;

    &-title {
      font-size: 36px;
      font-weight: 700;
      line-height: 36px;
      color: $header_title_color;
    }
  }
}
