.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  cursor: pointer;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../assets/icon/Icon-Phone-call.svg);

    @include on-desktop {
      &:hover ~ .phone-number {
        opacity: 1;
        transform: translateX(-50%) translateY(-5px);
      }
    }
  }

  &--menu {
    background-image: url(../assets/icon/Icon-Burger-menu.svg);

    &:hover {
      background-image: url(../assets/icon/Icon-Burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../assets/icon/Icon-Close.svg);
    outline: none;
  }
}
