.product {
  &__photo {
    width: 100%;
  }

  &__title {
    font-size: $font-size-lg;
    line-height: 25px;
    margin-top: 24px;
  }

  &__category {
    font-size: $font-size-base;
    line-height: 22px;
    font-weight: $font-weight-regular;
    letter-spacing: 0.15px;
  }

  &__price {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    line-height: 22px;

    &::before {
      content: '$ ';
    }
  }
}
