.second-background{
    width: 100%;
    background-image: url('../images/mobile/background-part.png');
    background-size: cover;
    background-position: center;
    height: 200px;

    @include onTablet{
        height: 400px;
        background-image: url('../images/tablet/background-part.png');
    }

    @include onDesctop{
        height: 460px;
        background-image: url('../images/background-part.png');
    }
}