.section-title {
  margin: 0;
  padding: 48px 0;

  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  line-height: 100%;
  text-align: left;
  cursor: default;

  @include on-tablet {
    font-size: 40px;
    padding: 56px 0;
  }

  @include on-desktop {
    font-size: 48px;
  }
}
