.sidebar{
    padding: 24px 20px 40px;
    height: 100vh;
    background-color: #E5E6E8;

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}