$primary-font-color: #161616;
$secondary-page-color: #d12d35;
$form-color: #f8f8fa;

$transition-duration: 0.33s;
$appearance-duration: 2s;

$main-font-size: 16px;
$main-line-height: 27px;

$article-gap: 48px;
