.quick-contact {
  @include column(8px);

  &__link {
    display: block;

    @include animate-underline-on-hover;
    @include text-cinzel($c-light-ink);

    font-size: 16px;
    font-weight: $fw-bold;
    line-height: 27px;

    &::after {
      bottom: -3.5px;
    }
  }

  &__text {
    @include text-cinzel($c-light-ink);

    font-size: 16px;
    font-weight: $fw-bold;
    line-height: 27px;
  }
}
