.rect-button {
  @include text-cinzel($c-light-ink);
  @include p;
  @include bold;
  @include center;

  width: 100%;
  height: 56px;

  background-color: $c-main-accent;

  text-align: center;
  text-decoration: none;

  transition: background-color $d-transition-duration linear;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;

  &:link,
  &:visited {
    color: $c-light-ink;
  }

  &:hover {
    background-color: $c-main-accent-on-hover;
  }

  &:active {
    background-color: $c-main-accent-on-active;
  }

  &:focus {
    outline: none;
    background-color: $c-main-accent-on-hover;
  }
}
