.fade-in {
  animation: fade-in 3s ease forwards;
}

.fade-in-top {
  position: relative;
  animation: fade-in-top 1s ease forwards;
}

.animation-delay-500 {
  opacity: 0;
  animation-delay: 500ms;
}
