.contact-us__button {
  margin-top: 18px;
  margin-bottom: 80px;
  color: #fff;
  background-color: #f98921;
  border: 1px solid #f98921;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 56px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  display: grid;
  transition: 300ms;

  &:hover {
    background-color: #1B2129;
    border: 1px solid #1B2129;
  }

  &:active {
    background-color: #010810;
    border: 1px solid #010810;
  }
}
