@font-face {
    font-display: swap;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url('/src/assets/fonts/poppins-400.woff2') format('woff2');
    unicode-range: U+0020-007F;
}

@font-face {
    font-display: optional;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    src: url('/src/assets/fonts/poppins-600.woff2') format('woff2');
    unicode-range: U+0020-007F;
}
