body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
fieldset {
  margin: 0;
}

fieldset,
button {
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

img {
  border-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0;
  display: block;
}

legend {
  box-sizing: border-box;
  color: inherit;
  padding: 0;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
