.about-us {
  @include page-grid;

  &__title {
    color: $base-color;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__block {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }

    &:last-child {
      @include on-desktop {
        grid-column: span 7;
      }
    }
  }

  &__text {
    color: $base-color;
    font-weight: $base-weight;
    font-size: $base-font-size;
    line-height: 27px;
    letter-spacing: 0;
    text-transform: uppercase;

    &--red {
      color: $red-color;
      margin-bottom: 2px;
      font-size: 12px;
      font-weight: 900;
      line-height: 140%;
    }

    &--bold {
      font-weight: 900;
    }
  }

  &__subblock {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &--row {
      display: flex;

      .about-us__text {
        margin-top: 0;
        margin-bottom: 8px;
      }

      & > div:first-child {
        margin-right: 24px;
      }
    }
  }

  &__subtitle {
    color: $base-color;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    text-transform: uppercase;

    margin-bottom: 16px;

    &:nth-of-type(2) {
      margin-top: 24px;
    }
  }
}
