.address-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: span 3;
  }

  @include on-desktop {
    grid-column: 8 / -3;
  }

  &__title {
    color: $main-color-text;

    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 140%;

    display: flex;
    flex-direction: column;

    p {
      margin: 0;
      margin-bottom: 8px;
    }
  }

  &__data {
    color: $main-color-text;

    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

    @include hover(transform, scale(1.1))
  }
}
