.bike-card {
  grid-column: span 4;
  width: 100%;

  @include respond-to(desktop) {
    grid-column: 2 / 6;
  }

  @include respond-to(tablet, phone) {
    grid-column: span 2;
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  &__title {
    margin-top: 32px;

    @include text-style($text-font-size-large, $font-weight-bold, 0, 140%);
  }

  &__description {
    margin-top: 8px;

    @include text-style($text-font-size-medium, $font-weight-regular, 0, 140%);
  }

  &__price {
    margin-top: 16px;

    @include text-style($text-font-size-large, $font-weight-bold, 0, 140%);
  }
}
