.button {
  background-color: $clr-accent;
  color: $clr-btn-text;
  font-weight: 700;
  border-radius: 8px;
  height: 56px;

  @include hover(background-color, $clr-btn-bg-hover);

  &:active {
    background-color: $clr-btn-bg-pressed;

    @include transition(background-color);
  }
}
