.red-btn {
  font-weight: 700;
  font-size: $base-font-size;
  line-height: 27px;
  letter-spacing: 0;
  color: #fff;
  background-color: $red-color;
  outline: none;
  border: none;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;

  @include hover(background-color, #ae1c23);

  @include on-tablet {
    width: unset;
  }

  &--lg {
    @include on-tablet {
      padding: 14.5px 107.5px;
    }
  }

  &--sm {
    @include on-tablet {
      padding: 15px 65.78px;
    }
  }
}
