.section__contacts {
  &-title {
    margin-bottom: 4.8rem;
  }
}

.contact {
  margin-bottom: 4.8rem;

  &:last-of-type {
    margin-bottom: 0;
  }
  &__wrapper {
    display: grid;

    @include page-grid(1, 2rem);

    @include media-tablet {
      @include page-grid(6, $main-gap);
    }

    @include media-decstop {
      @include page-grid(12, $main-gap);
    }
  }

  &__container {
    &--address {
      @include media-mobile-xl {
        display: grid;

        @include page-grid(2, 2rem);
      }

      @include media-tablet {
        display: block;
        grid-column: 1/4;
      }

      @include media-decstop {
        display: grid;

        @include page-grid(2, 2.4rem);

        grid-column: 1/7;
      }
    }
    &--form {
      @include media-tablet {
        grid-column: 4/7;
      }

      @include media-decstop {
        grid-column: 8/13;
      }
    }
  }

  &__title {
    margin-bottom: 1.6rem;
  }

  &__content {
    width: 100%;
  }

  &__info {
    width: 100%;
    color: $color-txt-main;

    &-title {
      margin-bottom: 0.4rem;

      @include font(1.4rem, 2.7rem, 400);
    }

    &-link {
      display: block;
      color: $color-txt-dark;
      margin-bottom: 0.8rem;

      &:hover {
        color: $color-hover-contact;
      }

      &--adress {
        line-height: 2.24rem;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__input {
    margin-bottom: 1.6rem;
  }

  &__textarea,
  &__input {
    padding: 1.3rem 1.09rem;
  }

  &__textarea {
    padding-bottom: 0.9rem;
    margin-bottom: 3.2rem;
  }

  // Stylized by design, here hover and default background change are swapped
  &__button {
    background-color: $color-bgc-hover;
    padding-block: 1.5rem 1.4rem;
    text-transform: uppercase;

    &:hover {
      background-color: $color-bgc-default;
    }
  }
}
