.contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &__item {
    display: grid;
    row-gap: 8px;
  }

  &__label {
    color: $clr-info-label;
    font-size: 14px;
    letter-spacing: 0.15px;
  }

  &__link {
    letter-spacing: 0.15px;
    color: $clr-info-link;

    @include hover(color, $clr-accent);
  }
}
