.details {
  overflow: hidden;

  @include anim-on-scroll(__title, transform, translate(120%, 0), translate(0, 0), 0);
  @include anim-on-scroll(__anim-first, transform, translate(120%, 0), translate(0, 0), 300ms);
  @include anim-on-scroll(__anim-second, transform, translate(-120%, 0), translate(0, 0), 500ms);
  @include anim-on-scroll(__anim-third, transform, translate(120%, 0), translate(0, 0), 800ms);
  @include anim-on-scroll(__explore, transform, translate(0, 120%), translate(0, 0), 1000ms);

  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }
  }

  &__explore {
    @include page-grid;

    margin-top: 48px;
  }

  &__button {
    grid-column: 1 / -1;
    text-decoration: none;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 5 / -5;
    }
  }
}
