@use '../utils/vars' as *;
@use '../utils/mixins' as *;

.explore-online {
  &__container {
    @include page-grid;

    row-gap: 61px;

    @include on-tablet {
      row-gap: 48px;
    }
  }
  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 4 / -4;
    }
  }
  &__item {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
  &__img {
    margin-bottom: 24px;
    display: block;

    @include on-tablet {
      margin-bottom: 32px;
    }
  }
  &__subtitle {
    line-height: 1.4;
    text-align: center;
    color: $accent-main;
    margin-bottom: 4px;
  }
  &__text {
    font-family: $second-family;
    font-weight: 400;
    text-align: center;
  }
}
