@use '../abstracts' as *;

.explore-online {
  @extend %page-grid;

  &__title {
    margin: 0;
    grid-column: span 2;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;

    @include font(32px, 700, 32px, $text-color);

    @include tablet {
      @include font(48px, 700, 48px, $text-color);

      grid-column: 2 / span 4;
    }

    @include desktop {
      grid-column: 4 / span 6;
    }
  }

  &__content {
    grid-column: span 2;

    @include tablet {
      grid-column: 2 / span 4;
    }

    @include desktop {
      grid-column: 1 / span 12;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }

  &__article {
    margin-bottom: 40px;

    @include tablet {
      grid-column: span 4;
    }

    @include desktop {
      grid-column: auto;
    }

    &-image {
      width: 280px;
      height: 277px;
      grid-column: span 2;

      @include tablet {
        width: 392px;
        height: 387px;
        grid-column: span 4;
      }

      @include desktop {
        width: 324px;
        height: 320px;
      }
    }

    &__info {
      gap: 8px;

      &-title {
        margin: 24px 0 0;

        @include font(24px, 700, 1.4, $secondary-accent-color);

        @include tablet {
          margin: 32px 0 0;
        }
      }

      &-text {
        @include font(16px, 400, 27px, $text-color);
      }
    }
  }

  &__article:last-child {
    margin-bottom: 0;
  }
}
