.section__explore {
  &-title {
    margin-bottom: 4rem;
  }
}

.explore {
  margin-bottom: $article-mb;

  &:last-child {
    margin-bottom: 0;
  }

  &__description {
    @extend %font-roboto;
  }

  &__image {
    margin-bottom: $main-gap;
  }

  &__title {
    color: $color-txt-accent;
    margin-bottom: 0.4rem;

    @include font(2.4rem, 3.36rem, 700);
  }

  &__description,
  &__title {
    text-align: center;
  }
}
