.explore-online {
  padding: 0 20px 100px;

  @media (min-width: $tablet-size) {
    padding: 0 176px 140px;
  }

  @media (min-width: $wide-screen-size) {
    padding: 0 52px 120px;
  }

  &__header {
    margin-bottom: 40px;

    @media (min-width: $tablet-size) {
      margin-bottom: 48px;
    }
  }

  &__collections {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    height: max-content;

    @media (min-width: $wide-screen-size) {
      flex-direction: row;
      gap: 24px;
      max-width: 1020px;
      margin: 0 auto;
    }
  }

  &__collection {
    display: flex;
    flex-direction: column;
    overflow: hidden;

  }

  &__collection-title {
    margin-bottom: 4px;
  }

  &__illustaration {
    display: block;
    margin: 0 auto 24px;
    object-fit: cover;
    overflow: hidden;
    height: calc((1020px - 48px) / 3);
    width: calc((1020px - 48px) / 3);
  }

  &__collection-text {
    color: var(--main-dark);
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 27px; /* 168.75% */

    @media (min-width: $wide-screen-size) {
      width: 320px;

    }
  }
}
