.footer {
  width: 100vw;
  height: 180px;
  margin-top: 84px;

  background-image: url('../images/image\ 1.png');
  background-position: center;
  background-size: cover;

  @include on-tablet {
    height: 359px;
  }
}
