.footer {
  position: sticky;
  height: 180px;
  background-image: url("../images/footer-small.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @media (min-width: $tablet-size) {
    background-image: url("../images/footer-wide-screen.webp");
    height: 359px;
    background-position: 70% 50%;
  }

  @media (min-width: $wide-screen-size) {
    background-image: url("../images/footer-bg.webp");
    background-position: 50% 50%;
  }
}
