.footer {
  z-index: -1;
  position: sticky;
  bottom: 0;

  background-image: url('../public/images/footer/footer-bgc.png');
  background-size: cover;
  height: 18rem;
  background-repeat: no-repeat;
  background-position: center;

  @include media-tablet {
    height: 35.9rem;
    background-position: 63% 0;
  }

  @include media-decstop {
    height: 35.9rem;
    background-position: center;
  }
}
