.form {
  &__input {
    color: $base-color;
    font-weight: $base-weight;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #f8f8fa;
    caret-color: $base-color;

    padding: 14px 11.21px;
    width: calc(100% - 2 * 11.21px);
    margin-bottom: 16px;

    border: none;
    outline: none;

    &:last-child {
      margin-bottom: 0;
    }

    &--textarea {
      height: 144px;
      resize: vertical;
    }
  }

  .red-btn {
    width: 100%;
  }
}
