@use '../abstracts' as *;

.form {
  grid-column: span 2;

  &__input {
    margin-bottom: 16px;
    border-radius: 40px;

    @extend %input;
  }

  &__text-area {
    margin-bottom: 32px;
    border-radius: 16px;

    @extend %input;
  }

  &__btn {
    @extend %btn;
  }

  @include on-tablet {
    grid-column: span 3;
  }

  @include on-desktop {
    grid-column: span 5;
  }
}
