.form-field {
  display: block;
  width: 100%;
  margin-bottom: 18px;
  padding: 12px 0 12px 10px;
  border: 1px solid transparent;
  background-color: $color-light-gray;
  font-family: $font-heading;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  color: $color-main-dark;

  @include onDesktop {
    margin-bottom: 16px;
  }

  @include onDesktop {
    padding: 12px 0 12px 15px;
  }

  &:hover {
    border: 1px solid #d5d7de;
    background: $color-light-gray;
  }

  &:focus,
  &:-webkit-autofill {
    outline: none;
    border: 1px solid $color-main-dark;
    color: $color-main-dark;
    -webkit-text-fill-color: $color-main-dark;
    box-shadow: 0 0 0 1000px $color-light inset;
  }

  &--textarea {
    resize: none;
    min-height: 144px;
    margin-bottom: 32px;

    @include onTablet {
      padding: 15px 0 12px 10px;
    }

    @include onDesktop {
      padding: 15px 0 12px 15px;
      margin-bottom: 35px;
    }
  }

  &::placeholder {
    color: $color-gray;
  }

  &__button {
    margin: 0 auto;

    @include onTablet {
      width: 288px;
    }

    @include onDesktop {
      width: 411px;
    }
  }
}
