.header {
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;

    @include on-tablet {
      font-size: 48px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }
}
