.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/icons/icon-phone-2x.png);
    position: relative;

    &::after {
      content: '+1 234 555-55-55';
      display: inline-block;
      position: absolute;
      left: -450%;
      top: 50%;
      transform: translateY(-50%);
      white-space: nowrap;
      color: #1b2129;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      text-align: right;
      text-transform: uppercase;
      opacity: 0;
    }

    @include on-desktop {
      &:hover::after {
        opacity: 1;
      }
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu-2x.png);

    &:hover {
      background-image: url(../images/icons/burger-menu-hover-2x.png);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close-2x.png);
  }
}
