.icon {
  display: block;
  height: 20px;
  width: 20px;

  &--phone {
    background-image: url(../images/icons/icon-phone.svg);

    @media (min-width: $wide-screen-size) {
      &:hover + .header__phones {
        opacity: 1;
      }
    }
  }

  &--menu {
    position: relative;

    &--animated {
      position: absolute;
      top: 50%;
      display: block;
      height: 2px;
      margin: auto 0;
      background-color: white;
      border-radius: 1px;

      &::after,
      &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        border-radius: 1px;
        background-color: white;
        top: 6px;
        transition: all 0.5s;
      }
      &::before {
        top: -6px;
      }
    }

    &:hover &--animated::after {
      width: 10px;
    }
    &:hover &--animated::before {
      width: 15px;
    }
  }

  &--close {
    background-image: url(../images/icons//icon-close.svg);
    background-position: center;
  }
}
