.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: contain;
  transition: transform 0.6s;

  &--phone {
    background-image: url('../styles/images/icon-phone-call.png');
    position: relative;

    @media (min-width: $breakpoint-desktop) {
      &:hover + .header__phone-menu {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &--burger {
    background-image: url('../styles/images/icon-burger-menu.png');

    &:hover {
      background-image: url('../styles/images/icon-burger-menu-hover.png');
    }
  }

  &--close {
    background-image: url('../styles/images/icon-close.png');

    @media (min-width: $breakpoint-desktop) {
      margin: 0 65px;
    }
  }
}
