@import "../abstracts/variables";

.input {
  background-color: #f9f9f9;
  border: none;
  outline: 2px solid transparent;
  color: $color-primary;
  padding: 14px 16px;
  border-radius: 8px;
  font-size: 14px;
  transition: outline 0.3s ease;

  &--textarea {
    font-family: inherit;
    margin-bottom: 32px;
  }

  &::placeholder {
    color: #7e7e83;
  }

  &:hover {
    outline: 2px solid #dbdbdb;

    &::placeholder {
      color: $color-primary;
    }
  }

  &:focus {
    outline: 2px solid $color-secondary;

    &::placeholder {
      color: $color-primary;
    }
  }
}
