.logo {
  &__text {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 80%; /* 32px */
    letter-spacing: -1.5px;
  }

  &__link,
  &__link:hover,
  &__link:active,
  &__link:visited {
    text-decoration: none;
  }
}
