.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: $font-heading;
  font-size: 3rem;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: -1.5px;
  color: $color-light;
  transition: all $transition;

  @include onTablet {
    font-size: 4rem;
  }

  &:hover {
    transform: scale(1.01);
    opacity: 0.8;
  }
}
