.menu {
  // display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-bgc-default;
  text-transform: uppercase;

  &__top {
    padding-block: 2rem 4rem;

    @extend %flex-between-center;
  }

  &__contact-order {
    height: 2.4rem;
    position: relative;
    display: inline-block;

    @include font(1.2rem, 1.6rem, 700, 0.2rem);

    &::after {
      @include link-line(0.1rem, $color-txt-light);
    }
  }

  &__contact-title,
  &__contact-order,
  &__phone-link {
    color: $color-txt-light;
  }
  &__phone-link {
    display: block;
    margin-bottom: 0.8rem;

    &:last-of-type {
      margin-bottom: 1.6rem;
    }
  }
}

.nav {
  margin-bottom: 3.2rem;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 3.2rem;
  }

  &__link {
    color: $color-txt-light;
    height: 3rem;
    position: relative;

    &:hover {
      &::after {
        @include link-line(0.1rem, $color-txt-light);
      }
    }
  }

  &__item {
    color: $color-txt-light;

    @include font(2.2rem, 2.2rem, 700, 0.2rem);
  }
}
