@import "../abstract/variables";

.menu {
  margin: 0 auto;
  height: 100vh;
  background-color: $secondary-color;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  overflow: auto;

  @include onLaptop {
    font-weight: 600;
  }

  &__content {
    position: relative;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__phone {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    margin-bottom: 16px;
  }

  &__booking {
    width: fit-content;
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid $primary-color;
  }

  &__nav {
    margin-bottom: 40px;
  }
}
