.menu {
  height: 100vh;
  background-color: $color-accent-main;

  &__top {
    padding-top: 25px;
    display: grid;
    grid-template-rows: 1fr;
    column-gap: 24px;
    grid-template-columns: 1fr 24px;
    margin-bottom: 40px;

    @include onTablet {
      padding-top: 32px;
    }

    @include onDesktop {
      grid-template-columns: 1fr 32px;
      margin-bottom: 58px;
    }
  }

  &__logo {
    @include onTablet {
      font-size: 3rem;
    }

    @include onDesktop {
      font-size: 4rem;
    }
  }

  &__list {
    margin: 0 0 32px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include onDesktop {
      margin: 0 0 46px;
    }
  }

  &__link {
    font-family: $font-heading;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-light;
    transition: all $transition;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 10px;
      opacity: 0.8;
    }
  }

  &__phones {
    margin-bottom: 16px;

    @include onDesktop {
      margin-bottom: 10px;
    }
  }

  &__call {
    font-family: $font-heading;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 133.33%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-light;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 10px;
    }
  }
}
