.nav {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      opacity: 0;
      display: inline-block;
      height: 1px;
      background-color: $primary-color;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &:hover {
      &::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }
}
