.product-card {
  &__img {
    height: 280px;
    margin-bottom: 24px;
    overflow: hidden;

    @include media-tablet {
      height: 600px;
    }

    @include media-desktop {
      height: 324px;
    }

    img {
      @include img-cover;
      @include transition(transform);
    }
  }

  &:hover &__img {
    img {
      transform: scale(1.1) rotate(5deg);
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__desc {
    letter-spacing: 0.15px;
    margin-bottom: 12px;

    @include media-tablet {
      margin-bottom: 24px;
    }

    @include media-desktop {
      margin-bottom: 12px;
    }
  }

  &__price {
    font-weight: 700;
  }
}
