.recommended {
  @include on-desktop {
    max-width: 1260px;
    padding-inline: 120px;
  }

  &__products {
    @include page-grid;

    row-gap: 40px;
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}

.product__photo {
  transition: transform 500ms;

  &:hover {
    transform: scale(1.1);
  }
}
