.section-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1.5px;
  text-align: center;

  @include media-tablet {
    font-size: 48px;
  }

  @include media-desktop {
    font-size: 64px;
  }
}
