.timetable {

  &__subtitle {
    margin-bottom: 16px;
  }

  &__table {
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
  }

  &__times,
  &__days {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__times-text {
    font-weight: 700;
  }

}
