.title {
  font-weight: 700;
  line-height: 1;
  color: $clr-title-base;

  &--h1 {
    font-size: 36px;
    color: $clr-title-secondary;

    @include media-tablet {
      font-size: 48px;
    }

    @include media-desktop {
      font-size: 56px;
    }
  }

  &--h2 {
    font-size: 32px;

    @include media-tablet {
      font-size: 40px;
    }

    @include media-desktop {
      font-size: 48px;
    }
  }

  &--h3 {
    font-size: 18px;
  }
}
