.about-us {

  &__image {
    min-height: 200px;

    background-image: url("../images/content-images-desktop/about-us-img-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    @include onTablet {
      min-height: 400px;
    }

    @include onDesktop {
      min-height: 460px;
    }
  }

  &__content {
    padding: 48px 20px;

    background: #fcfaef;

    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 80px);
      column-gap: 24px;
      align-items: center;
      padding: 120px 72px;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 63px);
      justify-content: space-between;
      padding: 120px;
    }
  }

  &__title {
    color: $content-font-color;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%; /* 100% */

    @include onTablet {
      grid-column: 1 / 4;
      font-size: 40px;
    }

    @include onDesktop {
      grid-column: 1 / 6;
      font-size: 48px;
    }
  }

  &__text {
    color: $content-font-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.15px;

    @include onTablet {
      grid-column: 4 / -1;
    }

    @include onDesktop {
      grid-column: 8 / 13;
    }
  }
}
