.about {
  @include pageGrid;
  @include sectionCommonStyleWithHeader;

  &__header {
    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__info {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }

    &-separator {
      display: block;
      margin-top: 16px;
    }
  }
}
