.about-us {

  &__image {
    background-image: url("../images/content-images-mobile/some-product-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;

    @include onTablet {
      background-image: url("../images/content-images-tablet/some-product-tablet.png");
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 400px;
    }

    @include onDesktop {
      background-image: url("../images/content-images-desktop/some-product-desktop.png");
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 460px;
    }
  }

  &__content {
    background: #fcfaef;
    padding: 48px 20px;

    @include onTablet {
      padding: 120px 72px;
      display: grid;
      grid-template-columns: repeat(6, 80px);
      column-gap: 24px;
      align-items: center;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 63px);
      padding: 120px;
      justify-content: space-between;
    }
  }

  &__title {
    color: $content-font-color;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%; /* 100% */

    @include onTablet {
      font-size: 40px;
      grid-column: 1 / 4;
    }

    @include onDesktop {
      font-size: 48px;
      grid-column: 1 / 6;
    }
  }

  &__text {
    color: $content-font-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.15px;

    @include onTablet {
      grid-column: 4 / -1;
    }

    @include onDesktop {
      grid-column: 8 / 13;
    }
  }
}
