.about-us {
  @include contentPaddingInline;

  @include onTablet {
    @include gridContainerProperties;
    grid-template-rows: auto;
  }

  &__title {
    @include aboutUsContentBlockPaddings;
    @include gridAboutUsContentProprties(1, 4, 1, 7);
  }

  &__text {
    font-family: $secondaryFontFamily;
    font-size: 16px;
    line-height: 140%;

    @include onTablet {
      @include aboutUsContentBlockPaddings;
      @include gridAboutUsContentProprties(4, 7, 7, -1);
    }
  }
}
