.address {
  &__title {
    font-family: Poppins, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }

  &__text {
    font-family: Poppins, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
  }
}
