.article {
  margin-bottom: $normal-m;
  text-align: center;
  transition: all $transition-time ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: $small-shadow;
  }

  @media (min-width: $tablet) {
    width: 392px;
    margin-left: $auto-m;
    margin-right: $auto-m;
  }

  &__title {
    color: $red;
    font-size: $normal-fs;
    font-weight: $bold-fw;
    line-height: 27px;
    margin-bottom: 16px;
  }

  &__image {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: $smaller-m;

    @media (min-width: $tablet) {
      height: 387px;
    }

    @media (min-width: $pc) {
      height: 324px;
    }
  }

  &__summary {
    font-family: Roboto, sans-serif;
  }
}
