.bikes {
  padding-top: 46px;
  padding-bottom: 46px;
  @media (max-width: 1023px) {
    margin: 0 auto;
    width: 100%;
    max-width: 392px;
  }
  @media (min-width: 744px) {
    padding-bottom: 60px;
  }
  @media (min-width: 1260px) {
    padding-bottom: 72px;
  }
  &__title {
    @media (min-width: 1260px) {
      margin-bottom: 56px;
    }
  }
  &__list {
    display: grid;
    row-gap: 40px;
    @media (min-width: 744px) {
      grid-template-columns: 392px;
      row-gap: 48px;
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
    }
  }
  &__img {
    margin-bottom: 32px;
  }
  &__price {
    margin-top: 16px;
    margin-bottom: 0;
  }
}
