.button {
  &__primary {
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: $main-button-color;
    background-color: $main-botton-bg-color;
    border: none;
    padding: 0;

    @include on-desktop {
      max-width: 324px;
    }

    @include hover(background-color, $hover-botton-bg-color);

    &:active {
      background-color: $pressed-botton-bg-color;
    }
  }
}
