.button {
  display: block;
  margin: 0 auto;

  width: 100%;

  padding: 15px 0;

  color: $white;
  font-family: inherit;
  line-height: inherit;
  font-weight: 700;

  background-color: $accent-color;
  border-color: transparent;

  cursor: pointer;

  @include on-hover(background-color, $accent-color-hoverd);

  &:active {
    background-color: $accent-color-passed;
  }
}
