.button {
  box-sizing: border-box;
  text-decoration: none;
  color: $first-color;
  padding: 20px 48px;
  text-align: center;
  font-weight: 700;
  width: 100%;
  border: 2px solid $second-color;
  border-radius: 8px;
  background: $second-color;

  &:hover {
    border-color: #f0f1f4;
    background-color: #f8f8fa;
    color: $second-color;
  }

  &:active {
    color: $first-color;
    background-color: #111;
  }
}
