.button {
  grid-column: 1 / -1;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;

  font-weight: bold;
  line-height: 27px;
  text-decoration: none;

  color: $secondary-color;
  background-color: $primary-color;

  border: none;
  border-radius: 40px;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: $shadow-color;
  }

  &:active {
    box-shadow: $shadow-color-active;
  }

  @include onTablet {
    grid-column: 2 / -2;
  }

  @include onDesktop {
    grid-column: 5 / -5;
  }
}
