.category{


    &__photos{
        @include pageGrid;
        column-gap: 20px;
    }
    
    &__photo{
        width: 100%;
        min-height: 130px;
        border-radius: 4px;
        block-size: 100%;
        background-position: center;
        background-size: cover;
        object-fit: cover;

        @include onTablet{
            min-height: 184px;
            block-size: 0;
            
            grid-column: 9/-1;
        }

        @include onDesctop{
            min-height: 324px;
        }

        &--special{
            @include onTablet{
                grid-column: 1/5; 
            }
        }

        &--long{
            @include onTablet{
                grid-column: 1/9; 
            }
        }

        &--long:nth-child(2){
            @include onTablet{
                grid-column: 5/-1; 
            }
        }

    }

    &__title{
        margin-top: 16px;
    }
}