.category{


    &__photos{
        @include pageGrid;
        column-gap: 20px;
    }
    
    &__photo{
        width: 100%;
        height: 130px;
        background-size: cover;
        background-position: center;

        &--birdth{
            background-image: url('../images/mobile/birdth-on-phone.png');
        }

        &--headphones-box-in-hand{
            background-image: url('../images/mobile/headphones-box-in-hand.png');
        }

        &--one-headphone{
            background-image: url('../images/mobile/one-headphone.png');
        }

        &--headphones-in-hand{
            background-image: url('../images/mobile/headphones-in-hand.png');
        }

        &--block{
            background-image: url('../images/mobile/block.png');
        }
        &--phone-black{
            background-image: url('../images/mobile/phone-black.png');
        }
    }

    &__title{
        margin-top: 16px;
    }
}