.category {
  margin-bottom: 96px;

  @include onTablet {
    margin-bottom: 120px;
  }

  &__title {
    @include sectionTitlePaddings(96px);
  }
  &__btn {
    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }
}
