.bikes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;

  @include on-desktop {
    display: flex;
    flex-wrap: nowrap;
    width: 1020px;
    margin: 0 auto;
    gap: 24px;
  }
}

.bike {
  width: 280px;

  @include on-tablet {
    width: 392px;
  }

  @include on-desktop {
    gap: 24px;
  }

  &__img {
    width: 100%;
    margin-bottom: 32px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
    margin-top: 0;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 0;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.04em;
    margin: 0;
  }
}
