input,
button,
select,
textarea {
  font: inherit;
  border: 0;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  font-size: var(--size-sm);
  gap: 1rem;
  margin-left: 1rem;
  max-width: 411px;
  margin-right: 1rem;
  margin-top: 3rem;
}

.contact__form-input input {
  width: 100%;
  height: 48px;
  background-color: #f0f0f0;
  padding: 0.5rem;
}

.area textarea {
  height: 144px;
  width: 100%;
  background-color: #f0f0f0;
  padding: 0.5rem;
}

.contact__form-btn {
  width: 100%;
  align-self: center;
}

.contact__container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.contact__title {
  text-align: center;
  font-size: var(--size-3xl);
}

.contact__form-area {
  resize: none;
}

.contact__subtitle {
  font-size: var(--size-base);
  color: var(--clr-dark);
  font-weight: 700;
  padding: 0;
  margin-bottom: 1rem;
}

.contact__ul {
  flex: 1 2;
  margin-left: 1.25rem;
  list-style: none;
  padding: 0;
  & li:nth-child(odd) {
    font-size: var(--size-base);
    font-weight: 700;
    max-width: 25ch;
    margin-top: 0.25rem;
  }
  & li:nth-child(even) {
    font-size: var(--size-sm);
    font-weight: 400;
    margin-top: 0.5rem;
  }
}

/* xs */

/* @media (min-width: 475px) {} */

/* sm */

/* @media (min-width: 640px) {} */

/* md */

@media (min-width: 768px) {
  .contact__title {
    font-size: var(--size-5xl);
  }
  .contact__container {
    display: flex;
    flex-direction: row;
  }
  .contact__form {
    margin-top: 0;
  }
}

/* Lg */

/* @media (min-width: 1024px) {} */

/* xL */

/* @media (min-width: 1280px) {} */

/* 2xL */

/* @media (min-width: 1536px) {} */
