.info {

  &__title {
    margin: 0 0 4px;
    color: #9393a3;
    font-size: 14px;
    font-weight: 400;
  }

  &__description {
    display: block;
    margin-bottom: 24px;
    cursor: pointer;

    font-family: $secondaryFontFamily;
    color: $secondaryFontColor;
    font-size: 16px;
    transition: all $effectDuration;

    &:hover {
      color: $mainFontColor;
      font-weight: 700;
    }
  }
}
