.contact {
  @include contentPaddingInline;

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    column-gap: 24px;
  }

  &__title {
    @include sectionTitlePaddings(104px);
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  &__form {
    @include formMarginBottom;
    grid-column: 1 / 6;
    grid-row: 2 / -1;
  }

  &__info {
    grid-column: 7 / 13;
    grid-row: 2 / -1;
  }
}
