.contacts {
  padding: 40px 20px;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 12px;
    background-color: #f9f9f9;
    font-family: inherit;
    font-size: 16px;
  }

  &__textarea {
    resize: none;
    height: 100px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-title {
      color: #9393a3;
      font-size: 14px;
      letter-spacing: 0.15px;
      margin-bottom: 8px;
    }

    &-text {
      color: #191919;
    }
  }
}

@media (min-width: 744px) {
  .contacts {
    padding: 60px 72px;

    &__wrapper {
      grid-template-columns: repeat(6, 1fr);
      gap: 24px;
      max-width: 744px;
      margin: 0 auto;
    }

    &__title {
      grid-column: 1 / -1;
    }

    &__form {
      grid-column: span 3;
    }

    &__info {
      grid-column: span 3;
    }
  }
}

@media (min-width: 1020px) {
  .contacts {
    padding: 80px 120px;

    &__wrapper {
      max-width: 1260px;
      margin: 0 auto;
      grid-template-columns: repeat(12, 1fr);
      gap: 24px;
    }

    &__title {
      grid-column: 1 / -1;
      margin-bottom: 40px;
    }

    &__form {
      grid-column: span 6;
      max-width: 498px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }


    &__info {
      grid-column: span 6;
      max-width: 411px;
      padding-left: 24px;
    }
  }
}
