.contacts {
  padding-bottom: 120px;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;

    @include onTable {
      flex-direction: row;
    }
  }
  &__title {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 48px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 300px;
  }

  &__input {
    border-radius: 16px;
    height: 48px;
  }

  &__textarea {
    border-radius: 16px;
    height: 148px;
  }

  &__button {
    margin-top: 32px;
  }

  &__text {
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__contact-type {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__type-link {
    text-decoration: none;
    color: $fntClMain;
  }
}
