.contact-form {
  width: 278px;
  display: flex;
  flex-wrap: wrap;

  @include on-tablet {
    width: 549px;
    flex-wrap: nowrap;
    gap: 24px;
  }

  @include on-desktop {
    width: 846px;
    gap: 198px;
  }
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 280px;
}

.contact {
  &__name,
  &__email {
    font-size: 14px;
    font-weight: 400;
    padding: 14px 16px;
    color: $input-text-color;
    background-color: $bg-input-color;
    border-radius: 40px;
    width: 280px;
    border: none;

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 411px;
    }
  }

  &__message {
    font-family: 'Poppins', 'Helvetica', sans-serif;
    width: 280px;
    height: 148px;
    font-size: 14px;
    font-weight: 400;
    padding: 14px 16px;
    color: $input-text-color;
    background-color: $bg-input-color;
    border-radius: 16px;
    border: none;
    resize: none;

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 411px;
    }
  }

  &__name::placeholder,
  &__email::placeholder,
  &__message::placeholder {
    opacity: 1;
    color: $input-color;
  }

  &__name:focus,
  &__email:focus,
  &__message:focus {
    outline: none;
    box-shadow: none;
  }
}

.send-btn {
  width: 280px;

  @include on-tablet {
    width: 288px;
  }

  @include on-desktop {
    width: 411px;
  }
}

.address {
  width: 237px;

  @include on-tablet {
    width: 237px;
  }

  @include on-desktop {
    width: 237px;
  }
}
