.contact-us {
  @include pageGrid;
  @include sectionCommonStyleWithHeader;

  &__contact-form {
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__contact {
    grid-column: 1 / -1;
    margin-top: 8px;

    @include onTablet {
      margin-top: 24px;
    }

    @include onDesktop {
      grid-column: span 6;
      margin-top: 0;
    }

    &-title {
      color: #9393a3;
      font-size: 14px;
      font-family: $secondary-font-style;
      margin-bottom: 8px;

      &:not(:first-child) {
        margin-top: 24px;
      }
    }

    &-info {
      color: #191919;
      text-decoration: none;

      &:hover {
        color: #6e6e6e;
      }
    }
  }
}
