.contact-us {

  @include onDesktop {
    grid-column: 1 / 6;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 16px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #f9f9f9;
    color: $content-font-color;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: 0.15px;
    cursor: default;

    &::placeholder {
      color: #7e7e83;
    }

    &:hover::placeholder {
      color: $content-font-color;
    }

    &:focus {
      border: 2px solid #f98921;
      border-radius: 8px;
      cursor: text;
    }

    &--message {
      resize: none;
    }
  }

  &__label {
    display: block;
    margin-bottom: 16px;
  }

  &__label--message {
    margin-bottom: 16px;

    @include onDesktop {
      margin-bottom: 32px;
    }
  }
}
