.contacts {
  &__content {
    @include pageGrid;

    @include onTablet {
      row-gap: 80px;
    }
  }
  &__form {
    display: grid;
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: 1 / 6;
    }
  }
  &__input {
    padding-inline: 16px;
    margin-bottom: 16px;

    &-data {
      resize: none;
      font-family: 'Space Mono', sans-serif;
      font-size: 14px;
      line-height: 140%;
      height: 48px;
      border: 1px solid $input-border-color;
      border-radius: 8px;
      outline: none;
      color: $input-default-color;
      background-color: $input-bcg-color;

      &:hover {
        border: 1px solid $hover-input-border-color;
      }
      &:focus {
        border: 1px solid $active-input-border-color;
      }

      &--message {
        padding-top: 14px;
        height: 148px;
        margin-bottom: 32px;
      }
    }
  }

  &__hidden-button {
    display: none;
  }

  &__info {
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: -1 / -7;
    }
  }
}
