.form {
  &__field {
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #f8f8fa;
    background: #f8f8fa;
    color: $second-color;
    font-size: 14px;
    font-family: $primary-font-style;
    padding: 16px 14px;

    &--textarea {
      height: 120px;
      resize: none;
    }

    &:not(:first-child) {
      margin-top: 16px;
    }

    &::placeholder {
      color: #7e7e83;
      font-size: 14px;
    }

    &:hover {
      border-color: #d5d7de;
    }

    &:focus {
      border-color: $second-color;
    }
  }

  &__btn {
    margin-top: 32px;
  }
}
