.contacts {
  &__wrapper {
    @include page-grid;

    gap: 48px;
  }

  &__info {
    grid-column: span 2;
    display: flex;
    flex-direction: column;

    gap: 48px;

    @include on-tablet {
      grid-column: span 3;
      gap: 48px;
    }

    @include on-desktop {
      grid-column: span 6;
      flex-direction: row;
      justify-content: space-between;
    }

    &--wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &--title {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 27px;
      font-weight: 700;
    }

    &--subtitle {
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
    }

    &--phone {
      position: relative;
      color: #3e3e3e;
      font-size: 16px;
      line-height: 27px;
      font-weight: 700;
      text-decoration: none;

      &:hover {
        color: #d12d35;
      }
    }

    &--address {
      font-size: 16px;
      line-height: 22.4px;
      font-weight: 700;
      color: #3e3e3e;
      text-decoration: none;

      &:hover {
        color: #d12d35;
      }
    }

    &--container {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  &__form {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 8 / 13;
    }

    display: flex;
    flex-direction: column;
    gap: 16px;

    &--label {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &--textarea {
      @include form-input-styles;

      resize: none;
      height: 144px;
    }

    &--input {
      @include form-input-styles;
    }

    &--button {
      font-family: Cinzel, serif;
      width: 100%;
      height: 56px;
      font-size: 16px;
      line-height: 27px;
      font-weight: 700;
      margin: auto;
      background-color: #d12d35;
      color: #fff;
      text-align: center;
      text-decoration: none;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #ae1c23;
      }

      &:active {
        background-color: #eb343d;
      }
    }
  }
}
