.details {
  padding-top: 46px;
  padding-bottom: 40px;
  @media (min-width: 744px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (min-width: 1260px) {
    padding-top: 72px;
    padding-bottom: 90px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;

    @media (min-width: 744px) {
      gap: 48px;
      margin-bottom: 48px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
    @media (min-width: 744px) {
      align-items: flex-start;
    }
  }
  &__wrapper {
    width: 100%;
    max-width: 278px;
    @media (min-width: 744px) {
      max-width: 672px;
    }
  }
  &__link {
    width: 100%;
    max-width: 324px;
    margin: 0 auto;
    @media (max-width: 1259px) {
      max-width: 392px;
    }
  }
}
.image-list {
  display: flex;
  gap: 20px;
  @media (min-width: 744px) {
    gap: 24px;
  }
}
