.division-background {
  background-image: url("../images/division-background.png");
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  @include onTablet {
    height: 400px;
  }

  @include onDesktop {
    height: 460px;
  }
}
