.footer {
  height: calc(160vw / 3.5);
  background-image: url(../assets/images/footer-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: 744px) {
  .footer {
    height: calc(160vw / 3.5);
    background-image: url(../assets/images/footer-tablet.png);
  }
}

@media (min-width: 1260px) {
  .footer {
    height: calc(112vw / 4);
    background-image: url(../assets/images/footer-desktop.png);
  }
}
