.footer {
  &__content {
    padding-block: 96px;
  }
  &-photo {
    height: 200px;

    @include onTablet {
      height: 400px;
    }

    @include onDesktop {
      height: 460px;
    }

    &__image {
      object-fit: cover;
      z-index: -1;
      width: 100%;
      height: 100%;
    }
  }
}
