// #region FOOTER
.footer__img {
  background-image: url(../assets/images/footer-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  background-position: right;
  z-index: -1
}

// #endregion


@media (min-width: 744px) {
  .footer__img {
    height: 480px;
  }
}


@media (min-width: 1260px) {
  .footer__img {
    height: 555px;
  }
}
