.footer {
  height: 180px;
  width: 100dvw;
  background-image: url('../images/footer.png');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
  bottom: 0;
  left: 0;
  z-index: -1;

  @media (min-width: $tablet) {
    height: 359px;
  }

  @media (min-width: $pc) {
    background-size: fill;
  }
}
