.form {
  cursor: pointer;
  &__input {
    @include stylesForInputs;

    height: 48px;
    margin-bottom: 16px;
  }

  &__text-area {
    @include stylesForInputs;

    height: 148px;
    margin-bottom: 46px;
    resize: none;
  }
}
