.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &__field {
    box-sizing: border-box;
    padding: 14px 16px;
    width: 100%;
    height: 48px;

    font-family: "Poppins", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: $tertiary-color;

    background-color: $background-tertiary-color;
    border: none;
    border-radius: 40px;

    &--textarea {
      height: 160px;
      resize: none;

      border-radius: 16px;
    }

    &:hover,
    &:focus {
      color: $input-color-hover;
      border: 1px solid $border-color-hover;
    }
  }

  &__button {
    width: 100%;
  }
}
