.form {

  &__style {
    padding: 14px 16px;
    display: block;
    width: 100%;

    border-radius: 8px;
    border: 1px solid #f8f8fa;
    font-family: $secondaryFontFamily;
    background-color: #f8f8fa;
    color: $mainFontColor;
    font-size: 14px;
    line-height: 18px;

    &::placeholder {
      font-family: $secondaryFontFamily;
      color: $thirdaryFontColor;
      opacity: 1;

      transition: opacity $effectDuration, color $effectDuration;
    }

    @include onDesktop {

      @include hover(border, 1px solid #d5d7de);
      &:hover {

        &::placeholder {
          color: $mainFontColor;
        }
      }
    }

    &:focus {
      border: 1px solid $mainFontColor;

      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__input {
    margin-bottom: 24px;
  }

  &__text-area {
    margin-bottom: 32px;
    height: 120px;
  }
}
