.header {
  background-image: url(../images/headerBackgroundLarge.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;

    @include paddingInLine;
  }

  &__bottom {
    @include paddingHeaderBottom;
  }

  &__title {
    color: $grey-color-text;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    @include fontGrotesk;

    @include onTablet {
      font-size: 48px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
