.header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../assets/images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header__title {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-transform: none;
}

@media (min-width: 744px) {
  .header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    background-image: url(../assets/images/header-bg.png);
  }

  .header__title {
    font-size: 64px;
  }
}

@media (min-width: 1260px) {
  .header__title {
    font-size: 80px;
  }
}
