.header {
  @include header-block;
  @include section-bg;

  background-image: url('../images/backgrouds/header-bg-desc.jpg');
  background-position: right;
  overflow-x: hidden;

  &__top {
    @include header-top;
  }

  &__img {
    @include header-logo;
  }

  &__bottom {
    padding-bottom: 88px;

    @media (min-width: 744px) {
      padding-bottom: 130px;
    }

    @media (min-width: 1260px) {
      padding-bottom: 203px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-align: center;
    color: $main-color;

    @media (min-width: 744px) {
      font-size: 64px;
    }

    @media (min-width: 1260px) {
      font-size: 80px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
    height: 24px;

    @media (min-width: 744px) {
      height: 32px;
    }
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;

  @media (min-width: 744px) {
    width: 32px;
    height: 32px;
  }
}

.phone-wrapper {
  @media (min-width: 744px) {
    display: inline-flex;
    align-items: center;
    gap: 20px;

    &:hover &__number {
      display: inline-block;
    }
  }

  &__number {
    display: none;

    @media (min-width: 744px) {
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 0.17em;
      text-decoration: none;
      transition: color $time-funclion;
      &:hover {
        color: $input-color;
      }
    }
  }
}

.icon--phone {
  background-image: url('../images/icons/icon-phone.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.icon--close {
  background-image: url('../images/icons/close-icon.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.icon--menu {
  background-image: url('../images/icons/icon-burger.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image $time-funclion;

  &:hover {
    background-image: url('../images/icons/icon-burger-hover.png');
  }
}
