@import "./components/top-bar.scss";
@import "./components/sidebar.scss";
@import "./components/nav.scss";

.header {
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__bottom {
    padding-bottom: 40px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%; /* 36px */

    @include onTablet {
      padding-bottom: 64px;
      font-size: 48px;
    }

  }

  &__icons {
    display: flex;
    gap: 24px;
    @include onTablet {
      gap: 32px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

  }
}
