.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-top: 5rem; /* space below fixed header if needed */
}

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/src/images/main.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  color: var(--clr-light);
  text-transform: uppercase;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  text-align: center;
  padding: 8rem 0 0;
}

nav ul {
  padding: 0;
  li {
    color: var(--clr-light);
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.modal-close {
  width: var(--size-2xl);
  height: var(--size-2xl);
}

.menu__subtitle {
  color: var(--clr-light);
  font-size: var(--size-3xl);
  text-transform: uppercase;
}

.menu__dialog {
  border: none;
  background-color: var(--clr-accent);
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 90%;
  transition: all 0.3s allow-discrete;
}

.menu__ul {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-areas:
    'header'
    'main';
  width: 100%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.grid__header {
  display: flex;
  justify-content: space-between;
}

/* xs */
@media (min-width: 475px) {
  .hero__title {
    font-size: var(--size-5xl);
  }
}

/* sm */
@media (min-width: 640px) {
  .hero__title {
    font-size: var(--size-6xl);
  }
}

/* md */
@media (min-width: 768px) {
  .hero__title {
    font-size: var(--size-7xl);
  }
}

/* Lg */
@media (min-width: 1024px) {
  .hero__title {
    font-size: var(--size-8xl);
  }
}

/* xL */
@media (min-width: 1280px) {
  .hero__title {
    font-size: var(--size-9xl);
  }
}

/* 2xL */
@media (min-width: 1536px) {
  .hero__title {
    font-size: var(--size-10xl);
  }
}
