.hours {
  display: flex;
  letter-spacing: 0.08rem;
  flex-direction: column;
}

.hours__plan {
  color: var(--clr-accent);
  font-size: var(--size-xs);
  font-weight: 700;
}

.hours__title {
  color: var(--clr-dark);
  font-weight: 700;
  font-size: var(--size-4xl);
  padding: 0;
}

.hours__subtitle {
  color: var(--clr-dark);
  font-weight: 700;
  font-size: var(--size-2xl);
  padding-bottom: 1rem;
}

.hours__ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hours__ul-container {
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 0;
}

.hours__ul-left {
  list-style: none;
  padding: 0;
  font-size: var(--size-base);
  font-weight: 700;
}

.hours__ul-right {
  list-style: none;
  padding-left: 1.5rem;
  font-size: var(--size-base);
  font-weight: 400;
}

.hours__list-left {
  padding-top: 0.5rem;
}

.hours__list-right {
  padding-top: 0.5rem;
}

.hours__closed {
  padding-top: 1rem;
}

.hours__closed-description {
  padding-bottom: 1.5rem;
}

.hours__left {
  flex: 1;
}

.hours__right {
  flex: 2;
}

/* xs */

/* @media (min-width: 475px) {} */

/* sm */

/* @media (min-width: 640px) {} */

/* md */

@media (min-width: 744px) {
  .hours {
    flex-direction: row;
  }
  .hours__title {
    font-size: var(--size-5xl);
  }
  .hours__right {
    flex: 1;
  }
}

/* Lg */

/* @media (min-width: 1024px) {} */

/* xL */

/* @media (min-width: 1260px) {} */

/* 2xL */

/* @media (min-width: 1536px) {} */
