/* ICON */

.icon {
  display: block;

  position: relative;

  height: 24px;
  width: 24px;

  background-position: center;
  background-size: cover;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  @include on-hover(transform, scale(1.2));

  &--phone {
    background-image: url('../assets/icons/phone.svg');

    background-repeat: no-repeat;

    &:hover ~ .header__icons-hovered-phone,
    ~ .header__icons-hovered-phone:hover {
      opacity: 1;

      visibility: visible;
    }
  }

  &--menu {
    background-image: url('../assets/icons/menu.svg');

    background-repeat: no-repeat;
    і &:hover {
      background-image: url('../assets/icons/menu-hover.svg');
    }
  }

  &--close {
    background-image: url('../assets/icons/close.svg');
  }
}
