.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(../assets/images/icons/icon-phone-call-mobile.png);
}

.icon--menu {
  background-image: url(../assets/images/icons/icon-burger-menu-mobile.png);
}

.icon--close {
  background-image: url(../assets/images/icons/icon-close-mobile.png);
}

@media (min-width: 744px) {
  .icon {
    height: 32px;
    width: 32px;
  }

  .icon--phone {
    background-image: url(../assets/images/icons/icon-phone-call-desktop.png);
  }

  .icon--menu {
    background-image: url(../assets/images/icons/icon-burger-menu-desktop.png);
  }

  .icon--close {
    background-image: url(../assets/images/icons/icon-close-desktop.png);
  }

  .icon--phone:hover ~ .menu__items--hover {
    visibility: visible;
  }
}
