.icon {
  display: block;
  width: 24px;
  height: 24px;
  &--phone {
    background-image: url(../img/phone-number.svg);
    position: relative;
    transition: all $effectDuration;
    cursor: pointer;
  }

  &--phone:hover {
    transform: scale($effectScale);
  }

  &--phone:hover::after {
    position: absolute;
    content: '+1 234 5555-55-55';
    display: block;
    width: 160px;
    left: -155px;
  }

  &--menu {
    background-image: url(../img/icon-burger-menu.svg);
    transition: all $effectDuration;
  }

  &--menu:hover {
    background-image: url(../img/Icon-Burger-menu-hover.svg);
    transform: scale($effectScale);
  }

  &--close {
    background-image: url(../img/icon-close.svg);
    transition: all $effectDuration;
    cursor: pointer;
  }

  &--close:hover {
    transform: scale($effectScale);
  }
}
