.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(/src/images/icons/icon-burger.svg);
  background-size: cover;
  transition: $transition-time;

  &:hover {
    transform: scale(1.2);
  }

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    position: relative;
    background-image: url(/src/images/icons/icon-phone.svg);

    @include on-tablet {
      &:hover + .address {
        display: block;
      }
    }
  }

  &--menu {
    background-image: url(/src/images/icons/icon-burger.svg);

    &:hover {
      background-image: url(/src/images/icons/icon-burger-hover.svg);
    }
  }
}

// .address {
//   display: none;
//   position: absolute;
//   left: -200%;
//   top: 50%;
//   transform: translate(-20px, -50%);
//   display: none;
//   padding: 8px;
//   padding-right: 70px;

//   &__contact {
//     color: #fff;
//     line-height: 27px;
//     font-size: 16px;
//     margin-top: 0;
//     font-weight: 700;
//     text-align: right;

//     &--phone {
//       color: #fff;
//       line-height: 27px;
//       font-size: 16px;
//       margin-top: 0;
//       font-weight: 700;
//       text-decoration: none;
//     }
//   }

//   &:hover {
//     display: block;
//   }

//   // &:target {
//   //   display: block;
//   //   left: -200%;
//   //   top: 50%;
//   // }
// }
