.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: contain;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }

  @media (min-width: $breakpoint-tablet) {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url('/src/images/icons/icon-phone.png');
  }

  &--burger {
    background-image: url('/src/images/icons/icon-burger.png');

    &:hover {
      background-image: url('/src/images/icons/icon-burger-hover.png');
    }
  }

  &--close {
    background-image: url('/src/images/icons/icon-close.png');
  }
}
