.icon {
  width: 24px;
  height: 24px;
  display: block;
}

.icon--phone {
  background-image: url(/src/images/icons/phone-icon.png);
}

.icon--menu {
  background-image: url(/src/images/icons/burger-menu.png);
}

.icon--close {
  background-image: url(/src/images/icons/close-icon.png);
}
