.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(../assets/images/icons/icon-phone-call-mobile.png);
}

.icon--phone:hover {
  transform: scale(130%);
  transition: all 0.5s ease-in-out;
}

.icon--menu {
  background-image: url(../assets/images/icons/icon-burger-menu-mobile.png);
}

.icon--menu:hover {
  background-image: url(../assets/images/icons/icon-burger-menu-hover-mobile.png);
  background-size: contain;
  transform: scale(130%);
  transition: all 0.5s ease-in-out;
}

.icon--close {
  background-image: url(../assets/images/icons/icon-close-mobile.png);
}

.icon--close:hover {
  transform: scale(130%);
  transition: all 0.5s ease-in-out;
}

@media (min-width: 744px) {
  .icon {
    height: 32px;
    width: 32px;
  }

  .icon--phone {
    background-image: url(../assets/images/icons/icon-phone-call-desktop.png);
  }

  .icon--menu {
    background-image: url(../assets/images/icons/icon-burger-menu-desktop.png);
  }

  .icon--close {
    background-image: url(../assets/images/icons/icon-close-desktop.png);
  }

  .icon--phone:hover ~ .menu__items--hover {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5 ease-in-out;
    pointer-events: all;
  }
}
