.info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 140%;
    color: $info-title-color;
  }

  &__link {
    font-family: 'Space Mono', sans-serif;
    font-size: 16px;
    line-height: 140%;
    color: $info-link-color;
    text-decoration: none;
    position: relative;

    &::after {
      @include underlineLink;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
