@import 'news';

.latest {
  margin-bottom: $large-m;

  &__title {
    font-size: $big-fs;
    font-weight: $bold-fw;
    text-align: center;
    margin-bottom: 10px;

    @media (min-width: $tablet) {
      font-size: $huge-fs;
      line-height: 48px;
    }
  }

  &__subtitle {
    margin-top: 10px;
    text-align: center;
    margin-bottom: $normal-m;
    line-height: 27px;
  }

  &__button {
    background-color: $red;
    display: block;
    width: 280px;
    height: 56px;
    margin: $normal-m $auto-m $zero-m;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    padding: 19px;
    text-decoration: none;

    &:hover {
      background-color: $red-dark;
    }

    &:active {
      background-color: $red-light;
    }
  }
}
