.main {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    @include content-container;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-wrap: nowrap;
    text-align: center;

    @include on-sm {
      font-size: 48px;
    }

    @include on-lg {
      font-size: 64px;
    }

    &--align-left {
      text-align: left;
    }
  }
}
