.main {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 100px;
  background-color: #fff;
}

.main::before {
  content: '';
}

.main__section {
  display: flex;
  flex-direction: column;
}

.main__section-title {
  display: flex;
  justify-content: center;
  margin: 0;
  color: var(--main-dark);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.main__section-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 744px) {
  .main {
    padding: 0 72px;
    gap: 140px;
  }

  .main__section-title {
    font-size: 48px;
  }
}

@media (min-width: 1260px) {
  .main {
    padding: 0 120px;
  }
}
