@media screen and (max-width: 744px){
  .recommended__grid {
    justify-content: center !important;
  }
  .recommended__title, .categories__title {
    font-size: 40px !important;
  }
  .about__container {
    height: 400px !important;
  }
  .about__box {
    gap: 24px !important;
    .about__title {
      font-size: 40px !important;
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    .contact__form {
      margin-bottom: 80px;
      & > * {
        max-width: 600px;
        min-width: 300px;
        align-self: center;
        width: 95%;
      }
    }
    & > .contact__address-container {
      align-self: center;
      width: 95%;
      min-width: 300px;
      max-width: 600px;
    }
  }
}

@media screen and (max-width: 500px) {
  .about__container {
    height: 200px !important;
  }
  .header .nav .nav__menu-wrapper .nav__menu-open, .header .nav .nav__menu-wrapper .nav__menu-close {
    margin-left: 10px;
  }
}

@media screen and (max-width: 320px) {
  .about__box {
    .about__title {
      font-size: 2rem !important;
    }
  }
  .recommended__title, .categories__title {
    font-size: 2rem !important;
  }
  .contact {
    .contact__form {
      margin-bottom: 48px;
      & > * {
        width: 280px;
      }
      .contact__form-title {
        margin: 0 0 48px;
        font-size: 2rem;
      }
    }
  }
}


