.menu {
  height: 100vh;
  overflow: auto;
  @include paddingInLine;

  background-color: $gey-color-menu-bg;

  &__top {
    @include marginBottom;
    position: sticky;
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__cta {
    @include fontGrotesk;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;

    &-number {
      margin-bottom: 16px;
    }

    &-call {
      width: fit-content;
      padding-bottom: 4px;
      border-bottom: 1px solid $grey-color-text;
    }
  }
}
