.more {
  display: flex;
  justify-content: center;
}

.more__grid {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 1.5rem;
}

.more__grid-sub {
  display: grid;
  width: 100%;
  place-items: center;
}

.more__title {
  font-size: var(--size-3xl);
  font-weight: 700;
}

.more__subtitle {
  font-size: var(--size-2xl);
  font-weight: 700;
  &.red {
    color: var(--clr-accent);
  }
}

.more__description {
  font-size: var(--size-base);
  font-weight: 400;
}

.more__item1 {
  height: 100%;
  width: 100%;
}

.more__item2 {
  height: 100%;
  width: 100%;
}

.more__item3 {
  height: 100%;
  width: 100%;
}

/* xs */

/* @media (min-width: 475px) {} */

/* sm */

/* @media (min-width: 640px) {} */

/* md */

@media (min-width: 768px) {
  .more__title {
    font-size: var(--size-5xl);
  }
}

/* Lg */

/* @media (min-width: 1024px) {} */

/* xL */

@media (min-width: 1280px) {
  .more__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .more__grid-sub {
    grid-template-rows: subgrid;
    grid-row: span 3;
  }
}

/* 2xL */

/* @media (min-width: 1536px) {} */
