@import 'article';

.more {
  &__title {
    font-size: $big-fs;
    font-weight: $bold-fw;
    text-align: center;
    margin-bottom: $normal-m;
    width: 280px;
    line-height: 32px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $tablet) {
      font-size: $huge-fs;
      line-height: 48px;
      width: 411px;
      margin: $zero-m $auto-m $normal-m;
    }

    @media (min-width: $pc) {
      width: 450px;
    }
  }

  &__content {
    @media (min-width: $pc) {
      display: flex;
      gap: 24px;
    }
  }

  &__summary {
    font-style: Roboto, sans-serif;
  }
}
