.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  position: relative;

  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-decoration: none;

  color: inherit;

  &::after {
    content: "";
    display: block;
    width: 100%;

    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: $secondary-color;

    transform-origin: left;
    transform: scale(0);
    transition: transform $effect-duration;
  }

  &:hover::after {
    transform: scale(1);
  }
}
