.news {
  margin-bottom: $normal-m;
  transition: all $transition-time ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: $small-shadow;
    padding: 10px;
  }

  &:last-child {
    margin-bottom: $zero-m;
  }

  &__description {
    text-transform: uppercase;
    line-height: 27px;
  }

  &__images {
    margin-bottom: $smaller-m;
    display: flex;
    gap: 20px;
    justify-content: center;

    @media (min-width: $pc) {
      &.news__images--big-middle {
        gap: 24px;
      }
    }

    &--wider-first {
      :first-child {
        object-position: 20% 50%;

        @media (min-width: $tablet) {
          flex-grow: 1;
          object-position: unset;
          object-fit: cover;
        }
      }
    }

    &--wider-last {
      :last-child {
        object-position: 100% 50%;

        @media (min-width: $tablet) {
          flex-grow: 1;
          object-position: unset;
          object-fit: cover;
        }
      }
    }

    :nth-child(3) {
      display: none;

      @media (min-width: $pc) {
        display: block;
      }
    }

    img {
      display: block;
      width: 130px;
      height: 130px;
      object-fit: cover;

      @media (min-width: $tablet) {
        height: 186px;
        width: auto;
      }

      @media (min-width: $pc) {
        height: 320px;
      }
    }

    &--big-middle {
      @media (min-width: $tablet) {
        img {
          height: 284px;
          width: 288px;
        }
      }

      @media (min-width: $pc) {
        img {
          height: 320px;
          width: 324px;
        }
      }
    }
  }

  &__title {
    color: $red;
    font-weight: $bold-fw;
    line-height: 27px;
  }
}
