:root {
  --main-accent: #D12D35;
  --placeholder: #7E7E83;
  --main-dark: #161616;
  --hover-info: #e7b75d;
}

.page {
  font-family: Cinzel, serif;
  font-size: 16px;
  line-height: 27px;
  color: var(--main-dark);

  scroll-behavior: smooth;
  cursor: url(../assets/images/cursor.png), pointer;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 100px;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;

  text-transform: uppercase;
  color: #fff;
  transform: translateX(-100%);
}

.page__menu:target {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  pointer-events: all;
  transform: translate(0);
}

@media (min-width: 1260px) {
  .page__body {
    gap: 140px;
  }
}
