.page {
  overflow-x: hidden;
  margin: 0;
  min-width: 320px;

  font-family: "Manrope", sans-serif;

  &:has(.page__menu:target) {
    overflow: hidden; /* not to scroll the page */
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    transition: all 0.3s;
    transform: translateX(100%);
    pointer-events: none;
  }

  &__menu:target {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: inherit;
    margin: 0;
    font-weight: inherit;
  }
}
