.page {
  margin: 0;
  scroll-behavior: smooth;

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }

  &__menu:target {
    opacity: 1;
    pointer-events: all;
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}
