.product {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  align-items: center;
  border-radius: 4px;

  &:not(:first-of-type) {
    margin-top: 40px;

    @include onTablet {
      margin-top: 56px;
    }

    @include onDesktop {
      margin-top: 0;
    }
  }

  &__grid--phone {
    @include gridProductCardsDesktopProperties(1, 5);
  }

  &__grid--ear {
    @include gridProductCardsDesktopProperties(5, 9);
  }

  &__grid--ear-stick {
    @include gridProductCardsDesktopProperties(9, 13);
  }

  &__photo {
    margin-bottom: 24px;
    width: 100%;

    @include onTablet {
      width: 70%;
    }

    @include onDesktop {
      width: 100%;
    }
  }

  &__photo-img {
    width: 100%;
  }

  &__title {
    margin-bottom: 8px;
    font-size: 18px;
  }

  &__description {
    margin-bottom: 12px;
    font-family: $secondaryFontFamily;
    position: relative;
    font-size: 16px;
    font-weight: 400;
  }

  &__description--span {
    @include onDesktop {
      position: absolute;
      height: 1px;
      width: 1px;
      margin: -1px;
      overflow: hidden;
    }
  }

  &__price {
    font-weight: 700;
    &::before {
      content: "$ ";
    }
  }
}
