.product {
  &__photo {
    width: 100%;
    display: block;
  }

  &__title {
    font-size: 18px;
  }

  &__bio {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    width: 100%;
  }
}
