.recommended {
  @include pageGrid;
  @include sectionCommonStyleWithHeader;

  &__card {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $second-color;
    transition: transform $transition-duration linear;

    @include onDesktop {
      grid-column: span 4;
    }

    &:hover {
      transform: scale(1.02);
    }

    &-img {
      width: 100%;
    }

    &-title {
      margin-top: 24px;
      font-size: 18px;
      font-family: $secondary-font-style;
      font-weight: 700;
    }

    &-description {
      margin-top: 8px;
      line-height: 140%;
    }

    &-price {
      padding-top: 12px;
      font-family: $secondary-font-style;
      font-weight: 700;

      @include onDesktop {
        margin-top: auto;
      }
    }
  }
}
