.recommended {
  &__container {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      grid-template-columns: minmax(280px, 600px);
      justify-content: center;
      row-gap: 56px;
    }
        
    @include onDesktop {
      grid-template-columns: repeat(3, 1fr);
      justify-content: stretch;
      row-gap: 0;
      column-gap: 24px;
    }
  }
}
