@use './helpers/effects';

    .recommended {
      display: flex;
      flex-direction: column;
      .recommended__title {
        margin: 0;
        margin-bottom: 56px;
        font-size: 48px;
        align-self: flex-start;
      }

      .recommended__grid {
        gap: 24px;
        display: flex;
        flex-flow: row wrap;
        &:hover .card {
          opacity: 0.5;
        }
        /* stylelint-disable */
        .card {
          min-width: calc(33.3% - 24px);
          max-width: 324px;
          &:hover {
            opacity: 1;
            transform: scale(1.2);
          }
          .card__container {
            background-color:#F9F9F9;
            .card__image {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          .card__title {
            margin: 24px 0 0;
            font-size: 18px;
          }
          .card__description {
            font-weight: 400;
            margin: 8px 0 0;
          }
          .card__price {
            margin: 12px 0 0;
          }
        }
        /* stylelint-enable */
      }
  }
