.section-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;

  @include onTablet {
    font-size: 40px;
    line-height: 40px;
  }

  @include onDesktop {
    font-size: 48px;
    line-height: 48px;
  }

  &__recommended {
    padding-bottom: 48px;

    @include onTablet {
      padding-bottom: 56px;
    }
  }

  &__categories {
    padding-bottom: 48px;

    @include onTablet {
      padding-bottom: 88px;
    }

    @include onDesktop {
      padding-bottom: 56px;
    }
  }

  &__about-us {
    padding-top: 24px;

    @include onTablet {
      padding-top: 0;
    }
  }

  &__contacts {
    padding-top: 104px;
    padding-bottom: 48px;

    @include onTablet {
      padding-top: 120px;
      padding-bottom: 56px;
    }
  }
}
