
.menu {
  font-weight: 700;
  box-sizing: border-box;
  height: 100vh;
  background-color: #f9f9f9;

  &__top {
    margin-bottom: 32px;
    @include onTablet {
      margin-bottom: 56px;
    }
    @include onDesktop {
      margin-bottom: 56px;
    }
  }

  &__call-links {
    display: block;
    width: fit-content;
    color: $content-font-color;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    letter-spacing: 2px;
    text-transform: uppercase;

    &--phone-number {
      margin-bottom: 16px;
    }

    &--call-to-order {
      padding-bottom: 3px;
      border-bottom: 1px solid #1b2129;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &__nav {
    margin-bottom: 48px;
  }
}
