.slogan {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding-block: 60px;

    @include onTable {
      flex-direction: row;
      gap: 24px;
      padding-block: 120px;
    }

    @include onDesktop {
      gap: 24px;
      padding-block: 120px;
    }
  }

  &__title {
    @include onTable {
      min-width: 246px;
    }

    @include onDesktop {
      min-width: 330px;
    }
  }

  &__text {
    font-size: $textMainSz;
    min-width: 300px;
  }
}
