@use "sass:map";
@use "../utils/variables.scss" as variables;
@use "../utils/mixins.scss" as mixins;

textarea {
  height: 148px;
  padding: 14px 16px;
  resize: vertical;
  border-radius: 16px;
  cursor: pointer;
  transition:
    border 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;

  @include mixins.content-font-style(
    (
      base: (
        size: 14px,
        weight: 400,
        line: 20px,
        letter: normal
      )
    )
  );
}
