.tooltip {
  position: relative;

  &__text {
    font-family: Inter, sans-serif;
    font-weight: 700;
    visibility: hidden;
    width: max-content;
    color: $main-text-color;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 2px 4px;
    height: 100%;
    align-content: center;
    right: 40px;
    position: absolute;
    z-index: 1;
  }

  @include on-tablet {
    &:hover .tooltip__text {
      visibility: visible;
    }
  }
}
