.tooltip {
  position: relative;

  &__text {
    visibility: hidden;
    width: max-content;
    background-color: $hover-botton-bg-color;
    color: $main-lable-color;
    text-align: center;
    font-size: 10px;
    border-radius: 6px;
    padding: 2px 4px;
    top: -24px;
    left: 10px;
    opacity: 0.6;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  &:hover .tooltip__text {
    visibility: visible;
  }
}
