.top-bar {
  padding-block: 28px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;
    width: 125px;

    @include onTablet {
      height: 24px;
      width: 100%;
    }
    
    @include hover(transform, scale(1.2));
  }
}
