.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  font-family: inherit;
  font-size: 16px;
  color: #fff;
  background-color: var(--main-accent);
  text-decoration: none;
  border: none;
}

.button-primary:hover {
  background-color: #AE1C23;
}

.button-primary:active {
  background-color: #EB343D;
}

.button-secondary {
  padding-bottom: 8px;
  width: fit-content;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.button-secondary:hover {
  border-bottom: 1px solid #fff;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  margin: 16px 0;
  padding: 14px 16px;
  border: 1px solid transparent;
  height: 48px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  background-color: #F8F8FA;
  font-family: inherit;
  font-size: 14px;
}

.form__input--textarea {
  height: 144px;
  min-width: 100%;
}

.form__input::placeholder {
  color: var(--placeholder);
}

.form__input:hover {
  border: 1px solid #D5D7DE;
}

.form__input:hover::placeholder {
  color: var(--main-dark);
}

.form__input:focus {
  border-color: var(--main-dark);
}
