$main-color: #1d1d1d;
$white-color: #fff;
$input-color: #7e7e83;
$bg-input-color: #f8f8fa;
$input-text-color: #292929;
$shadow-hover-color: #e8e8f066;
$shadow-active-color: #e8e8f0a3;
$menu-bg-color: #c2c2c2;
$logo-mob: url(/src/images/logo.png);
$logo-tab: url(/src/images/logo-tab.png);
$logo-desk: url(/src/images/logo-desk.png);
$bg-hero-mob: url(/src/images/bg-hero-mob.png);
$bg-hero-tab: url(/src/images/bg-hero-tab.png);
$bg-hero-desk: url(/src/images/bg-hero-desk.png);
$bg-footer-mob: url(/src/images/bg-footer-mob.png);
$bg-footer-tab: url(/src/images/bg-footer-tab.png);
$bg-footer-desk: url(/src/images/bg-footer-desk.png);
