.view__title {
  font-size: var(--size-3xl);
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.view__subtitle {
  font-size: var(--size-base);
  font-weight: 400;
  text-align: center;
  max-width: 40ch;
  margin: 0 auto;
}

.view__description {
  font-size: var(--size-base);
  font-weight: 400;
  &.red {
    color: var(--clr-accent);
    font-weight: 700;
  }
}

.view__container {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.view__container2 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.view__container3 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.view__container-item1 {
  height: 100%;
  object-fit: cover;
}

.view__container-item2 {
  height: 100%;
  object-fit: cover;
}

.view__container-item3 {
  height: 100%;
  object-fit: fill;
}

.view__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

/* xs */

/* @media (min-width: 475px) {} */

/* sm */

/* @media (min-width: 640px) {} */

/* md */

@media (min-width: 768px) {
  .view__container {
    grid-template-columns: 3fr 1fr;
  }
  .view__container3 {
    grid-template-columns: 1fr 2fr;
  }
  .view__title {
    font-size: var(--size-5xl);
  }
}

/* Lg */

/* @media (min-width: 1024px) {} */

/* xL */

/* @media (min-width: 1280px) {} */

/* 2xL */

/* @media (min-width: 1536px) {} */
