.visit {
  @include page-grid;

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }

    display: flex;
    flex-direction: column;
    gap: 2px;

    &--subtitle {
      margin: 0;
      font-size: 12px;
      line-height: 17px;
      color: #d12d35;
      font-weight: 700;
    }

    &--title {
      margin: 0;
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.5px;
      font-weight: 700;
      color: #161616;
    }
  }

  &__location {
    grid-column: 1 / -1;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 6 / -1;
    }

    &--content {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &--title {
      font-size: 24px;
      line-height: 30px;
    }

    &--schedule {
      display: flex;
      gap: 24px;
      flex-direction: row;
    }
  }

  &--note {
    &--title {
      margin: 0;
      color: #161616;
      line-height: 27px;
      font-size: 16px;
      font-weight: 700;
    }

    &--content {
      margin: 0;
      color: #161616;
      line-height: 27px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &--hours {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #161616;
    line-height: 27px;
    font-size: 16px;
    font-weight: 700;
  }

  &--days {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #161616;
    line-height: 27px;
    font-size: 16px;
    font-weight: 400;
  }
}
