.button {
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
  color: $color-txt-light;
  background-color: $color-bgc-default;

  transition: 1s ease-in-out;

  @include font(1.6rem, 2.7rem, 700);

  &:hover {
    background-color: $color-bgc-hover;
  }

  &:active {
    $color-bgc-pressed: #eb343d;
  }
}
