.btn {
  display: inline-flex;
  padding: rem(14.5) 0;
  width: max-content;
  font-size: rem(16);
  line-height: lineheight(27, 16);
  color: $white;
  font-weight: 700;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: rem(8);
  background: $main;
  transition: 0.3s ease-in-out;
  border: 2px solid #f0f1f4;
  text-decoration: none;
  &:hover {
    color: $main;
    background: #f8f8fa;
  }

  &:active {
    color: $white;
    background: #111;
  }
}

.link-hovered {
  width: max-content;
  position: relative;
  display: inline;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: rem(-2);
    width: 0;
    height: rem(1);
    background-color: $main;
    transition: all 0.3s;
  }

  &:hover {
    &::after {
      content: "";
      width: 100%;
      left: 0;
    }
  }
}
