.title {
  font-weight: 700;
  line-height: lineheight(56, 56);
}

.heading-2 {
  font-size: rem(48);
  line-height: lineheight(48, 48);
  grid-column: 1 / 12;
  margin-bottom: rem(56);

  @include tablet-sm {
    font-size: rem(40);
    grid-column: 1 / 6;
  }

  @include mobile-sm {
    font-size: rem(32);
    grid-column: span 2;
  }
}
