@keyframes underline-anim {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes img-anim {
  from {
    transform: scale(1);
  }

  to {
    transition-duration: 0.5s;
    transform: scale(1.1);
  }
}
