* {
  box-sizing: border-box;
  color: white;
  margin: 0;
}

.page {
  font-family: "Poppins", sans-serif;
}

.page__body {
  background-color: hsl(0, 0%, 11%);
}

.page:has(.menu:target) {
  overflow:hidden;
}

a {
  text-decoration: none;
  display: flex;
  width: fit-content;
  height: min-content;
  color: black;
}

.conteiner {
  padding-inline: 120px;
  height: 100%;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onMobile {
    padding-inline: 20px;
  }
}

img {
  @include img-hover;
}
