.section-4
    width: 100dvw
    height: max-content
    grid-row: 4 / 4
    display: flex
    flex-direction: column
    gap: 24px
    align-items: center
    &__title
        margin-top: 82px
        font-size: 48px
        width: 428px
    .explore-list
        margin-top: 12px
        display: inline-flex
        gap: 24px
        .explore
            width: 324px
            gap: 24px
            .explore__title
                margin-top: 15px
                color: #D12D35
                font-size: 24px

            .explore__desc
                margin-top: 5px
                font:
                    family: Roboto
                    size: 16px