.aboutus {
  background-color: black;
  color: #fff;
  padding: 60px 20px;
  text-align: left;

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    max-width: 500px;
    margin: 0 auto;
  }
}
