.button {
  font-family: inherit;
  font-weight: 700;
  font-size: px-to-rem(16);
  line-height: px-to-rem(27);
  text-decoration: none;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  border: none;
  padding: 14.5px 48px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;

  &--primary {
    background-color: $common-white-color;
    color: $primary-main-color;

    &:hover {
      box-shadow: $shadow-lighter;
    }

    &:active {
      box-shadow: $shadow-light;
    }
  }
}
