.card {
  &__image {
    width: 100%;
    display: block;
    margin-bottom: 32px;
    transition: transform 0.3s ease-out;

    &-container {
      overflow: hidden;
    }
  }

  &__link {
    text-decoration: none;

    &:link,
    &:visited {
      color: currentColor;
    }

    &:hover .card__image {
      transform: scale(1.1);
    }
  }

  &__title {
    @include text-h3;

    margin-bottom: 8px;
  }

  &__description {
    margin: 0 0 16px;
    padding: 0;
    line-height: px-to-rem(22);
  }

  &__price {
    @include text-h3;

    margin: 0;
    padding: 0;
  }
}
