.icon-link {
  display: block;
  text-decoration: none;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;

  @include active-state-opacity-transition;

  @include on-tablet {
    background-size: 24px;
    width: 32px;
    height: 32px;
  }

  @include on-desktop {
    @include hover-state-opacity-transition;
  }

  &--phone {
    background-image: url('../images/icons/phone-icon.svg');
  }

  &--burger-menu {
    background-image: url('../images/icons/burger-menu-icon.svg');

    &:hover {
      background-image: url('../images/icons/burger-menu-hover-icon.svg');
    }
  }

  &--close {
    background-image: url('../images/icons/close-icon.svg');
  }
}
