.text-field {
  font-family: inherit;
  border: 1px solid $common-white-color;
  width: 100%;
  display: block;
  font-size: px-to-rem(14);
  line-height: px-to-rem(20);
  border-radius: 40px;
  padding: 14px 16px;
  color: $grey-500;

  &--textarea {
    border-radius: 16px;
    resize: none;
  }

  &::placeholder {
    color: $grey-300;
  }

  &:hover {
    border-color: $grey-100;

    &::placeholder {
      color: $grey-500;
    }
  }

  &:focus {
    border-color: $grey-500;
  }
}
