.about-us {
  padding-bottom: 52px;
  padding-top: 48px;

  @include onTablet {
    padding: 60px;
    padding-top: 56px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__text-box {
    align-content: flex-end;

    @include onTablet {
      max-width: 288px;
    }

    @media (min-width: 850px) {
      max-width: 498px;
    }
  }

  &__text:not(:last-child) {
    margin-bottom: 30px;

    @include onTablet {
      margin-bottom: 35px;
    }
  }
}
