/***********************************
---------- FOOTER SECTION ----------
************************************/

.footer {
  padding-bottom: 64px;
  padding-top: 52px;

  @include onTablet {
    padding-bottom: 120px;
    padding-top: 60px;
  }

  &__title {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 56px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: 1000px) {
      flex-direction: row;
    }
  }

  &__form {
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 80px;
    }

    @media (min-width: 1000px) {
      max-width: 411px;
      margin-right: 111px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__contact-info {
    &-link {
      display: block;
      color: #191919;

      @include hover(color, #68686a);

    }

    &-link:not(:last-child) {
      margin-bottom: 24px;
    }

    &-phone,
    &-email,
    &-adress {
      font-family: $addition-font-family-2, sans-serif;
      color: $footer-contacts;
      line-height: 19.6px;
      font-size: 14px;
      display: block;
      margin-bottom: 8px;
    }
  }
}
