.recommended {
  padding-top: 64px;
  padding-bottom: 128px;

  @include onTablet {
    padding-top: 120px;
  }

  &__flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include onDesktop {
      flex-direction: row;
      align-items: flex-start;
      column-gap: 24px;
    }
  }

  &__title {
    margin-bottom: 48px;
  }

  &__card {
    max-width: 600px;
    box-sizing: border-box;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    @include onDesktop {
      max-width: 324px;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    display: block;
    margin-bottom: 24px;
    width: 100%;
    transition: transform $effectDuration $effectFunc 0s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__card-title {
    margin-bottom: 8px;
    font-size: 18px;
  }
  &__card-text {
    margin-bottom: 12px;
  }

  &__card-title,
  &__card-price {
    font-family: $addition-font-family-2, sans-serif;
    font-weight: 700;
  }
}
