.menu {
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;

  background-color: $accent-color;
  font-weight: 700;
  text-transform: uppercase;

  &-top {
    position: sticky;
    top:0;
    z-index: 1;
    background-color: $accent-color;

    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 0;
    }


  }

  &__nav {
    margin-bottom: 32px;
  }

  &__phone-number {
    display: block;
    line-height: 27px;
    margin-bottom: 16px;

    font-size: 16px;
    text-decoration: none;
    color: $header-menu-text-color;
  }

  &__call-to-order {
    display: block;
    padding-bottom: 8px;
    width: fit-content;
    border-bottom: 1px solid #fff;

    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: $header-menu-text-color;
  }
}
