.nav {
  &__link {
    position: relative;

    text-decoration: none;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 22px;
    color: $header-menu-text-color;

    &::after {
      display: block;
      position: absolute;
      bottom: -8px;
      content: '';

      height: 1px;
      width: 100%;
      background-color: $header-menu-text-color;

      transition: 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 32px;

    list-style: none;
  }
}
