.section--museum-hours {
  .item__title {
    padding-bottom: 16px;
    font-size: 1.5rem;
    line-height: 1.89rem;
  }

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }

  .section__title-container {
    @include onTablet {
      grid-column: 1/4;
    }

    @include onDesktop {
      grid-column: 1/6;
    }
  }

  .item {
    @include onTablet {
      grid-column: 4/-1;
    }

    @include onDesktop {
      grid-column: 6/-1;
    }
  }
}
