.product {
  &__link {
    display: block;
    color: $main-text-color;
    text-decoration: none;

    @include hover(transform, scale(1.1));
  }

  &__photo {
    width: 100%;
  }

  &__title {
    @include text-styles(
      $font-size: 18px,
      $font-weight: 700,
      $letter-spacing: 0,
      $text-transform: uppercase
    );
  }

  &__text {
    @include text-styles;
  }

  &__price {
    @include text-styles($font-weight: 700, $letter-spacing: 0);
  }
}
