.product {

  &__link {
    display: block;
    text-decoration: none;
    color: $main-text-color;

    @include hover(transform, scale(1.1));
  }

  &__photo {
    width: 100%;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: $main-text-color;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 140%;
    color: $main-text-color;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $main-text-color;
  }
}
