@mixin onphone {
  @media (max-width: $inTablet) {
    @content;
  }
}

@mixin ontablet {
  @media (min-width: $inTablet) and (max-width: $inDextop) {
    @content;
  }
}

@mixin ondesktop {
  @media (min-width: $inDextop) {
    @content;
  }
}

@mixin contentpaddinginline() {
  padding-inline: 20px;

  @include ontablet {
    padding-inline: 72px;
  }

  @include ondesktop {
    max-width: 1020px;
    margin-inline: auto;
    width: 100%;
  }
}

@mixin iconsize() {
  height: 24px;
  width: 24px;

  @include ontablet {
    height: 32px;
    width: 32px;
  }
}

@mixin icongap() {
  gap: 24px;

  @include ontablet {
    gap: 32px;
  }
}

@mixin logosize() {
  height: 38px;
  width: 130px;

  @include ontablet {
    height: 56px;
    width: 187px;
  }
}

@mixin titlesize() {
  font-size: 36px;

  @include ontablet {
    font-size: 64px;
  }

  @include ondesktop {
    font-size: 80px;
  }
}

@mixin hovertime() {
  transition: all 0.3s;
}
