$desktop-min-width: 1260px;
$tablet-min-width: 744px;

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin section-title-mobile {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
}

@mixin section-title-tablet {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -1.5px;
}

@mixin section-title-desktop {
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -1.5px;
}

@mixin button-hover {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
}

@mixin button-pressed {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
}
