@font-face {
  font-family: Manrope, sans-serif;
  font-weight: 400;
  src: url('../fonts/Manrope/Manrope-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  src: url('../fonts/Manrope/Manrope-Bold.woff2') format('woff2');
  font-style: normal;
}
