.about-us {
  background-color: #FCFAEF;

  &__image {
    background-image: url(../images/about-us.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;

    @include tablet {
      height: 400px;
    }

    @include desktop {
      height: 460px;
    }
  }

  &__content {
    padding-block: 48px;

    @include page-grid;

    @include tablet {
      padding-block: 120px;
    }
  }

  &__title {
    @include set-grid-columns(span 2, span 3, span 6);

    padding-bottom: 24px;
    letter-spacing: 0.15px;

    @include tablet {
      padding-bottom: 0;
    }
  }

  &__description {
    margin: 0;

    @include set-grid-columns(span 2, span 3, span 5 / -1);
  }
}
