.compare {
  padding: 32px 0 50px;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include page-grid;

    row-gap: 48px;
  }

  &__item {
    grid-column: 1 / -1;

    @media (min-width: $tablet-width) {
      grid-column: 2 / 6;
    }

    @media (min-width: $desktop-width) {
      grid-column: span 4;
    }
  }
}
