.compare-bikes {

  &__content {
    @include pageGrid;
    row-gap: 40px;
    margin-top: 48px;

    @include onTablet {
      row-gap: 48px;
    }

    @include onDesktop {
      row-gap: 0;
      margin-top: 56px;
    }
  }

  &__item {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }
}
