.contacts {
  &__title {
    @include onDesktop {
      font-weight: 600;
      font-size: 48px;
    }
  }

  &__content {
    @include pageGrid;
    margin-top: 48px;
  }

  &__form {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 6;
    }
  }

  &__info {
    grid-column: 1 / -1;
    margin-top: 48px;

    @include onTablet {
      grid-column: 4 / -1;
      margin-top: 0;
    }

    @include onDesktop {
      grid-column: 8 / -1;
    }
  }
}
