.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__input {
    box-sizing: border-box;
    padding: 14px 11px;
    border: 1px solid transparent;
    background-color: $bg-color-input;

    @include on-desktop {
      padding: 14px 16px;
    }

    &::placeholder {
      color: $text-color-input;
      font-family: $font-default;
      font-size: inherit;
      line-height: 24px;
      letter-spacing: 1px;
    }

    &:hover {
      border-color: #d5d7de;
    }

    &:focus {
      border-color: $text-color-main-dark;
    }
  }

  &__textarea {
    height: 144px;
    padding-bottom: 0;
    resize: none;
    margin-bottom: 16px;
  }
}
