.contacts-info {
  &__wrapper {
    @include page-grid(2, 6, 12, 48px);
  }

  &__util {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }
  }

  &__content {
    gap: 48px;

    @include on-desktop {
      grid-column: 1 / 8;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 48px;
    }
  }

  &__avenue {
    grid-column: 1 / 4;
  }

  &__cloisters {
    grid-column: 4 / 8;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 16px;
  }

  &__text {
    max-width: 237px;
    color: $extra-text-color;
    font-weight: 700;
    line-height: 23px;
    margin: 4px 0 8px;
    text-decoration: none;
  }
}

// .contacts-info {
//   &__wrapper {
//     @include page-grid(2, 6, 12, 48px);
//   }

//   &__util {
//     grid-column: span 2;

//     @include on-tablet {
//       grid-column: span 3;
//     }
//   }

//   &__content {
//     @include on-desktop {
//       grid-column: 1 / 8;
//       display: grid;
//       grid-template-columns: repeat(7, 1fr); // Розміщення на рівні підрозділу
//       gap: 48px; // Додатковий відступ між елементами, якщо потрібно
//     }
//   }

//   &__avenue {
//     grid-column: 1 / 4; // Указуємо розміщення в рамках `contacts-info__content`
//   }

//   &__cloisters {
//     grid-column: 4 / 8; // Розташування другого елементу в тій же лінії
//   }

//   &__title {
//     font-size: 16px;
//     margin-bottom: 16px;
//   }

//   &__text {
//     max-width: 237px;
//     color: $extra-text-color;
//     font-weight: 700;
//     line-height: 23px;
//     margin: 4px 0 8px;
//     text-decoration: none;
//   }
// }

// .contacts-info__avenue {
//   grid-column: 1 / 4;
// }

// .contacts-info__cloisters{
//   grid-column: 4 / 8;
// }

// .contacts-info__title {
//   font-size: 16px;
//   margin-bottom: 16px;
// }

// .contacts-info__text {
//   max-width: 237px;
//   color: $extra-text-color;
//   font-weight: 700;
//   line-height: 23px;
//   margin: 4px 0 8px;
//   text-decoration: none;
// }
