.details {
  &__items {
    display: grid;
    row-gap: 40px;
    margin-top: 48px;
    padding-bottom: 40px;

    @include onTablet {
      row-gap: 48px;
      margin-top: 64px;
    }
  }

  &__button {
    margin: 0 auto;
    width: 100%;

    @include onTablet {
      width: 392px;
    }

    @include onDesktop {
      width: 324px;
    }
  }
}
