.exhibit {
  &__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include section-margin;

    &--small-gap {
      gap: 8px;
    }

    @include onTablet {
      gap: 24px;
    }
  }

  &__img {
    @include small-img-style;
    @include hover-on-img;

    &--on-tablet {
      @include onTablet {
        display: none;
      }

      @include onLaptop {
        display: block;
      }
    }
  }

  &__img-wide {
    @include wide-img-style;
    @include hover-on-img;

    &--left {
      object-position: 15% 50%;
    }

    &--right {
      object-position: 100% 50%;
    }
  }

  &__img-square {
    flex-basis: content;
    min-height: 88px;
    min-width: 88px;

    @include hover-on-img;

    @include onTablet {
      max-height: 288px;
      max-width: 288px;
    }

    @include onLaptop {
      max-height: 320px;
      max-width: 324px;
    }
  }

  &__title {
    @include card-title;
    text-align: start;
  }

  &__text {
    @include section-primary-text;
  }
}
