.explore-online {
  &__title-wrapper {
    margin-bottom: 40px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 4 / 9;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include page-grid;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 1 / -1;
    }
  }

  &__article {
    align-items: center;
    text-align: center;
    margin-bottom: 48px;

    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 4;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      margin: 0;
      margin-bottom: 4px;
      width: fit-content;
      line-height: 33.6px;
      font-weight: 700;
      text-decoration: none;
      color: $color-main-red;

      @include hover-underline($color-main-red, 0);
    }
    &-text {
      font-family: $font-secondary;
      margin: 0;
    }
  }

  &__image {
    display: block;
    width: 280px;
    height: 277px;

    @include hover(transform, scale(1.1));

    @include on-tablet {
      width: 392px;
      height: 387px;
    }

    @include on-desktop {
      width: 324px;
      height: 320px;
    }

    margin-bottom: 24px;
    background-position: center;
    background-size: cover;

    &--1 {
      @include adapt-content-image('explore1', 'explore-more');
    }

    &--2 {
      @include adapt-content-image('explore2', 'explore-more');
    }

    &--3 {
      @include adapt-content-image('explore3', 'explore-more');
    }
  }
}
