.move-free {
  @include page-grid;

  row-gap: 32px;
  margin-bottom: 90px;

  @include on-md {
    margin-bottom: 130px;
  }

  @include on-lg {
    margin-bottom: 165px;
  }

  &__title {
    grid-column: span 2;

    @include on-md {
      grid-column: span 3;
    }

    @include on-lg {
      grid-column: span 5;
    }
  }

  &__paragraph {
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0;

    grid-column: span 2;

    @include on-md {
      grid-column: span 3;
    }

    @include on-lg {
      grid-column: span 7;
    }
  }
}

// .move-free {
//   display: flex;
//   flex-direction: column;
//   gap: 24px;
//   margin-bottom: 90px;

//   @include on-md {
//     flex-direction: row;
//     margin-bottom: 130px;
//     gap: 80px;
//   }

//   @include on-lg {
//     margin-bottom: 165px;
//     gap: 120px;
//   }

//   &__paragraph {
//     font-size: 23px;
//     font-weight: 500;
//     line-height: 140%;
//     letter-spacing: 0;
//   }
// }
