.schedule-box {
  color: $primary-font-color;

  &__title {
    width: fit-content;
    margin-bottom: 16px;

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  &__week-table {
    display: grid;
    gap: 8px 25px;
    grid-template-columns: 100px 1fr;

    margin-bottom: 16px;
  }

  &__days-title {
    @include section-primary-text;
    font-weight: 700;
  }

  &__days-names {
    @include section-primary-text;
  }

  &__closed-info {
    margin-bottom: 24px;
  }

}
