$primary-color: #1b2129;
$bg-color: #f9f9f9;
$white-color: #fff;
$primary-button-bg-color: #f98921;
$about-us-bg-color: #fcfaef;
$contact-us-button-bg-color: #191919;
$contact-us-label-color: #9393a3;
$contact-us-data-color: #191919;
$contact-us-placeholder-color: #7e7e83;
$input-border-color-hover: #f98921;
$input-border-color-focus: #dbdbdb;
