.form_field {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form_contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input_base_form {
  width: 90%;
  padding: 14px 16px;
  background: #f8f8fa;
}

.input_form_text {
  border-radius: 40px;
}

.input_form_text::placeholder,
.input_form_area::placeholder {
  color: #7e7e83;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}

.input_form_area {
  border-radius: 16px;
  height: 148px;
}

.contact_info_base {
  display: flex;
  flex-direction: column;
}

.contact_info_section {
  gap: 24px;
}

.contact_info_block {
  gap: 8px;
}

.contact_base {
  font-style: normal;
  line-height: 140%;
}

.contact_info {
  font-size: 16px;
}

.contact_header {
  width: 150px;
  font-size: 14px;
}
