.main {
  background-color: #1d1d1d;
  margin: 0;
  padding: 20px;
  color: #fff;
}

.main_content {
  margin: 0;
  padding: 0 0 92px;
}

.main_content_gap {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.main_content:nth-last-child(2) {
  padding: 0 0 80px;
}

.main_content:last-child {
  padding: 0 0 120px;
}

.header_section_base {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.header_section_first {
  margin: 60px 0 32px;
}

.header_section_second {
  margin: 0;
  text-align-last: center;
  text-transform: capitalize;
}

.menu_content_description {
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.preview_bikes {
  padding: 0 0 32px;
  background-size: cover;
  width: 100%;
}
