.base_section_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bike_section_header {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.bike_section_margin {
  margin-top: 16px;
}

.bike_section_description {
  padding-top: 8px;
  width: 280px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.bike_price {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.image_preview {
  margin: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.double_images {
  min-width: 138px;
  min-height: 130px;
}
