.menu {
  display: block;
  box-sizing: border-box;
  height: 110vh;
  width: 100%;
  position: absolute;
  top: -20;
  background-color: #c2c2c2;
  color: #1d1d1d;
  overflow: hidden;
  padding: 20px;
  min-width: 340px;
  opacity: 0;
  pointer-events: none;
  &:target {
    opacity: 1;
    pointer-events: all;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__exit-icon {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/x.png);
  }
  &__header {
    // padding-bottom: 40px;
    &-link {
      text-decoration: none;
      &:visited {
        text-decoration: none;
        color: #1d1d1d;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    gap: 30px;
    padding: 0;
  }
  &__item {
    list-style: none;
  }
  &__link {
    text-decoration: none;
    color: #1d1d1d;
    &:visited {
      text-decoration: none;
      color: #1d1d1d;
    }
  }
  &__contacts {
    font-weight: 600;
    margin-top: 40px;
    &__call {
      font-size: 16px;
    }
    &__test-ride {
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      position: relative;
    }
  }
}
