.main {
  background-color: $white-clr;
  padding-bottom: 72px;

  &__content {
    display: grid;
    row-gap: 48px;
    padding: 64px 0 48px;

    @include onTablet {
      padding: 120px 0 80px;
    }
  }
}
