.header {
  box-sizing: border-box;
  background-image: url(../Images-icons/hero-img.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__icons {
    @include iconsSize;
    gap: 24px;
    display: flex;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;

    @include contentPaddingInline;

    @include onTablet {
      font-size: 48px;
      margin-bottom: 65px;
    }

    @include onDesktop {
      font-size: 56px;
      margin-bottom: 92px;
    }
  }
}
