.about {
  &__content {
    @include contentPaddingInline;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include onTablet {
      flex-direction: row;
    }
  }

  &__title {
    @include onTablet {
      width: 50%;
      margin: 0 0;
    }
  }

  &__description {
    font-family: 'Space Mono', sans-serif;
    font-weight: 400;
    line-height: 140%;

    @include onTablet {
      width: 50%;
    }
  }

  &__close-up {
    @include aboutImg;
  }
}
