.about {
  @extend %gridPage;
  margin-block-end: 104px;

  @include onTablet {
    margin-block-end: 120px;
  }

  &__title {
    @extend %sectionTitle;
    grid-column: 1/-1;
    text-align: left;
    margin-block-end: 32px;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__info {
    grid-column: 1/-1;
    row-gap: 35px;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__text {
    font-family: $font-family-secondary;
    font-size: 16px;
    line-height: 140%;
  }
}
