.about {
  background-color: $c-milk;
  
  &::before {
    content: "";
    display: block;
    height: 200px;
    margin-bottom: 48px;
    background-image: url(../images/about-image-mobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    @include tabletLayout {
      height: 400px;
    }

    @include desktopLayout {
      height: 460px;
    }
  }
  
  &__content {
    padding-bottom: 48px;
    
    @include tabletLayout {
      padding-top: 70px;
      padding-bottom: 120px;
      @include gridLayout;
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin: 0;
    line-height: 138%;
    letter-spacing: 0.16px;
  }

  @include tabletLayout {
    &__title {
      grid-column: 1 / 4;
    }
    
    &__text {
      grid-column: 4 / -1;
    }
  }

  @include desktopLayout {
    &__title {
      grid-column: 1 / 7;
    }
    
    &__text {
      grid-column: 8 / -1;
    }
  }
}
