.about-us {
  --column-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  justify-content: center;
  margin-bottom: 92px;

  @media (min-width: 744px) {
    --column-count: 2;
  }

  &__title {
    font-weight: 500;
    line-height: 100%;
    font-size: 32px;
    letter-spacing: -1.5px;
    margin-bottom: 32px;
  }

  &__intro {
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
  }
}
