%nav-underscore {
  content: '';
  height: 1px;
  margin-top: 8px;

  background-color: #1d1d1d;
  border-radius: 1px;
}

.menu {
  padding: 24px 20px 88px;
  height: 100vh;
  background-color: #c2c2c2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;

  &:target {
    opacity: 1;
    pointer-events: all;
    padding-right: 30px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
  }
}

.nav {
  font-weight: 600;
  text-transform: uppercase;
  color: #1d1d1d;
  background-color: inherit;
  margin-bottom: 40px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #e5e5e5;
    background-color: inherit;
    margin-bottom: 40px;
  }
  &__link {
    font-size: 22px;
    line-height: 22px;
    font-weight: inherit;
    letter-spacing: 2px;
    color: inherit;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__phone {
    font-size: 16px;
    font-weight: inherit;
    line-height: 27px;
    color: inherit;
    transition: color 0.5s;
  }

  &__test-ride {
    width: max-content;
    font-size: 12px;
    line-height: 16px;
    font-weight: inherit;
    letter-spacing: 2px;
    color: inherit;
  }
}

.nav-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-transform: uppercase;
  color: #1d1d1d;

  &__phone {
    font-size: 16px;
    font-weight: 500;
    color: inherit;
  }

  &__test-ride {
    font-size: 12px;
    font-weight: 500;
    color: inherit;
  }
}
