.benefits {
  &__top {
    background-image: url(../images/benefits/benefits-bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;

    @include onTablet {
      height: 400px;
    }

    @include onDesktop {
      height: 460px;
    }
  }

  &__bottom {
    background: #fcfaef;
  }

  &__filling {
    @include onTablet {
      display: grid;
      --columns: 6;
      column-gap: 24px;
      grid-template-columns: repeat(var(--columns), 1fr);
    }

    @include onDesktop {
      --columns: 12;

    }
  }

  &__title {
    margin-bottom: 24px;

    @include onTablet {
      grid-column: 1/4;
    }
    @include onDesktop {
      grid-column: 1/7;
    }
  }

  &__discription {
    @include onTablet {
      grid-column: 4/-1;
    }
    @include onDesktop {
      grid-column: 8/-1;
    }
  }
}
