.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 56px;
  background-color: $orange;
  border-color: transparent;
  border-radius: 8px;

  font-family: inherit;
  font-size: 16px;
  line-height: 27;
  color: #fff;
  cursor: pointer;
  transition: background-color, 0.3s;

  &:hover {
    background-color: $main-text-color;
  }

  &:active {
    background-color: $darkdark;
  }
}
