.button {
  padding: 14px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: 1px solid #fff;
  border-radius: 40px;
  color: #1d1d1d;
  font-size: 16px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0px;

  background-color: #fff;
  text-decoration: none;
  transition: $transition-hover;

  &:hover {
    box-shadow: 1px 4px 16px #e8e8f066;
  }

  &:active {
    box-shadow: 1px 4px 16px #e8e8f0a3;
  }
}
