.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 14.5px 48px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: $white-color;
  text-decoration: none;
  text-align: center;
  background-color: $main-text-color;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all $transition-duration;

  &:hover {
    background-color: #f8f8fa;
    border-color: #f0f1f4;
    color: $main-text-color;
  }

  &:active {
    background-color: #111;
    border-color: transparent;
    color: $white-color;
  }
}
