.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 140%;
  transition: 0.5s;

  &:hover {
    transform: scale(1.05);
  }

  &--max-width {
    max-width: 392px;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;

    &--hover:hover {
      transform: scale(1.05);
      overflow: hidden;
    }

    &--margin {
      margin-bottom: 32px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__price {
    font-weight: 700;
    line-height: 140%;
    font-size: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 20px;
  }

  &__item {
    height: 100%;
    margin-bottom: 16px;

    &--long {
      grid-column: span 3;
    }

    &--short {
      grid-column: span 3;
    }

    @media (min-width: 744px) {
      &--long {
        grid-column: span 4;
      }

      &--short {
        grid-column: span 2;
      }
    }
  }
}
