.card {
  width: 324;
  height: 446;
  grid-column: 1/3;
  justify-self: center;
  background-color: transparent;

  &__link {
    text-decoration: none;
    color: $color-font;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  &__image {
    width: 324;
    height: 256;
    overflow: hidden;
    margin-bottom: 32px;
  }

  &__image-img {
    width: 100%;
    height: auto;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
  }

  @include on-tablet {
    grid-column: 2/6;
    justify-self: center;
  }

  @include on-desktop {
    grid-column: unset;
  }
}
