.category {
  margin-block-end: 40px;

  @include onDesktop {
    margin-block-end: 56px;
  }

  &__photos {
    @extend %gridPage;
    margin-block-end: 16px;
  }

  &__link {
    position: relative;
    display: block;
    height: 100%;
    transition: transform $effectDuration;
    z-index: 1;

    &:hover {
      transform: scale(1.1);
      z-index: 2;
    }
  }

  &__link--size--wide {
    grid-column: span 1;

    @include onTablet {
      grid-column: span 4;
    }
    @include onDesktop {
      grid-column: span 8;
    }
  }

  &__link--size--square {
    height: 0;
    padding-block-end: 100%;

    @include onTablet {
      grid-column: span 2;
    }
    @include onDesktop {
      grid-column: span 4;
    }
  }

  &__img {
    @include square(100%);
    position: absolute;
    object-fit: cover;
  }

  &__btn {
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    color: $color-grey-1;
    text-decoration: none;
    transition: color $effectDuration,
      transform $effectDuration;

    &:hover {
      color: $color-grey-2;
    }

    &:active {
      transform: scale(0.95);
    }

    @include onTablet {
      font-size: 24px;
    }
  }
}
