.categories {
  &__wrapper {
    @include page-grid;
  }

  &__content {
    display: grid;
    grid-column: 1 / -1;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 5;
    }

    @include on-desctop {
      grid-column: span 8;
    }
  }

  &__button {
    margin-top: 56px;

    grid-column: 1 / -1;

    @include on-desctop {
      grid-column: span 4;
    }
  }

  &__bottom {
    grid-column: 1 / -1;

    @include on-desctop {
      grid-column: span 4;
    }
  }
}
