.category {

    display: grid;
    margin: 20px;
    gap: 40px 20px;

    grid-template-columns: repeat(2 , 1fr);

    @media ( min-width: $onTablet ) {
      grid-template-columns: repeat(6 , 1fr);
      column-gap: 24px;
      margin: 0 72px;

      row-gap: 56px;

    }
    @media ( min-width: $onDesktop ) {
      grid-template-columns: repeat(12 , 1fr);
      column-gap: 24px;
      margin: 0 120px;

      row-gap: 56px;

    }


  &__wrapper
    {
    grid-column: span 2;



    @media ( min-width: $onTablet ) {
      grid-column: span 6;


    }

    @media ( min-width: $onDesktop ) {
      grid-column: span 12;

    }
  }


  &__title {
    font-size: 32px;
    line-height: 32px;
    grid-column: span 2;

    margin-top: 96px;

    white-space: nowrap;

    @media ( min-width: $onTablet ) {
      font-size: 40px;
      margin-top: 120px;
    }

    @media ( min-width: $onDesktop ) {
      font-size: 48px;
      margin-top: 120px;
    }

  }
  &__photos {
    display: flex;
    gap: 20px;

  }



  &__photo {
    display: block;
    height: auto;
    width: 100%;
    object-fit:cover;

}

  &__name {
    font-size: 18px;
    line-height: 25px;
    margin: 16px;

    @media ( min-width: $onTablet ) {
      font-size: 24px;
    }

    @media ( min-width: $onDesktop ) {
      font-size: 24px;
    }
  }

  &__button-wrapper {
    display: block;
    height: 56px;
    grid-column: span 2;

    @media ( min-width: $onTablet ) {
      grid-column: span 6;


    }

    @media ( min-width: $onDesktop ) {
      grid-column: span 4;

    }
  }

  &__button {
    background-color: $button--main--color;
    color:$button--text--color;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    line-height: 27px;
    height: 56px;

    border-radius: 8px;



    &:hover {
      background-color: $button--hover--color;

    }

  }

 }
