.categories {
  &__content {
    padding-block: 32px;
    
    @include tabletLayout {
      padding-block: 0;
    }
  }

  &__category {
    margin-bottom: 40px;

    @include tabletLayout {
      margin-bottom: 56px;
    }
  }
}
