.categories {
  &__title {
    @extend %sectionTitle;
    margin-block-end: 48px;

    @include onTablet {
      margin-block-end: 56px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__button {
    @extend %sectionButton;
    width: 100%;

    @include onDesktop {
      align-self: flex-start;
      width: 324px;
    }
  }
}
