.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: unset;
  }

  &__card {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    h3:hover,
    p:hover {
      cursor: pointer;
    }

    @include tablet {
      width: 392px;
    }

    @include desktop {
      width: 324px;
    }
  }

  &__card-img {
    width: 100%;
    object-fit: contain;
  }

  &__card-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__card-title {
    text-align: center;
    font-size: 24px;
    line-height: 33.6px;
  }

  &__card-subtitle {
    text-align: center;
  }
}
