@use '../base/mixins' as *;

.compare-bikes{
  padding-bottom: 92px;

  @include on-tablet{
    padding-bottom: 120px;
  }

  @include on-desktop{
    padding-bottom: 144px;
  }

  &__header{
    text-align: center;
    margin-bottom: 48px;
  }

  &__cards{
    display: grid;
    row-gap: 40px;
    column-gap: 24px;

    @include on-tablet{
      grid-template-columns: repeat(6, 1fr);
      row-gap: 48px;
    }

    @include on-desktop{
      grid-template-columns: repeat(12, 1fr);
    }
  }

}
