.compare-bikes {
  margin-top: 92px;

  &__list {
    @include grid;

    row-gap: 40px;
  }

  @include on-tablet {
    margin-top: 132px;

    &__list {
      row-gap: 48px;
    }
  }

  @include on-desktop {
    margin-top: 164px;
  }
}
