.compare {
  &__products {
    @include pageGrid;
    row-gap: 48px;
  }

  &__product {
    grid-column: 1 / -1;

    @include onTabl {
      grid-column: 2 / 6;
    }

    @include onDesc {
      grid-column: span 4;
    }
  }
}
