.contact-us {
  display: grid;
  gap: 48px 20px;
  margin: 0 20px;

  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $onTablet) {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
    margin: 0 72px;
  }
  
  @media (min-width: $onDesktop) {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    margin: 0 120px;
  }

  &__title {
    grid-column: span 2;

    font-size: 32px;
    line-height: 32px;

    @media (min-width: $onTablet) {
      grid-column: span 6;
      font-size: 40px;
    }

    @media (min-width: $onDesktop) {
      grid-column: span 12;
      font-size: 48px;
    }
  }

  &__input {
    grid-column: span 2;
    height: 48px;
    padding-left: 16px;

    color: $main--text--color;

    background-color: $field--color;
    border: 1px solid $field--color;
    border-radius: 8px;

    @media (min-width: $onTablet) {
      grid-column: span 6;
    }

    &::placeholder {
      font-size: 14px;
      letter-spacing: 0.15px;
      color: $inactive--text--color;
    }

    &:hover {
      border-color: $hover--text--color;

      &::placeholder {
        color: $main--text--color;
      }
    }

    &:focus {
      outline-color: $accent--color;
    }
  }

  &__button-wrapper {
    display: grid;
    grid-column: span 6;
  }

  &__button {
    background-color: $button--main--color;
    color: $button--text--color;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 16px;
    line-height: 27px;
    height: 56px;

    border: none;
    border-radius: 8px;

    &:hover {
      background-color: $button--hover--color;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-bottom: 48px;

    @media (min-width: $onTablet) {
      grid-column: span 6;
    }
  }

  &__content {
    grid-column: span 2;

    @media (min-width: $onTablet) {
      grid-column: span 6;
    }

    &__block {
      margin-bottom: 24px;

      &-title {
        margin-bottom: 8px;

        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
      }
    }
  }
}
