@use '../utils/' as u;

.contacts {
  &__wrapper {
    display: grid;
    row-gap: 48px;

    @include u.on-tablet {
      @include u.page-grid;

      row-gap: 48px;
    }
  }
}

/* Contact Form */
.form {
  @include u.on-tablet {
    grid-column: span 3;
  }

  @include u.on-desktop {
    grid-column: span 5;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__input {
    box-sizing: border-box;
    background-color: u.$input-bg;
    border: 1px solid u.$input-bg;
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding-block: 14px;
    padding-inline: 16px;
    border-radius: u.$border-radius;
    color: u.$input-color;
    outline: none;

    &:hover {
      border: 1px solid #d5d7de;
    }

    &:focus {
      color: u.$input-active-color;
    }
  }

  &__textarea {
    border-radius: 16px;
    height: 148px;
    resize: none;
  }
}

/* Contact info */
.contact-info {
  @include u.on-tablet {
    grid-column: span 2;
  }

  @include u.on-desktop {
    grid-column: 8/11;
  }

  display: flex;
  gap: 24px;
  flex-direction: column;

  &__title {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-bottom: 8px;
  }

  &__description {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    line-height: 22px;
    transition: all u.$effect-duration;

    &:hover {
      color: u.$hover-text-color;
    }
  }
}
