.list {
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 140%;

  &__title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__item {
    font-size: 16px;
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &--link {
      color: #fff;
    }
  }
}
