.contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__items {
    display: grid;
    row-gap: 8px;
  }

  &__subtitle {
    margin-bottom: 4px;
    font-size: 14px;
  }

  &__info {
    @include hover(color, $accent-hover);
    @include active(color, $accent-active);

    font-weight: 700;
    color: $accent-contacts-color;
  }
}
