.container {
  max-width: $mobile-min-width;
  margin-inline: auto;
  @include contentPaddingInline;

  @include onTablet {
    max-width: $tablet-min-width;
  }

  @include onDesktop {
    max-width: $desktop-min-width;
  }
}
