.contact-us {
  &__wrapper {
    @include page-grid;

    row-gap: 48px;

    @include on-tabl {
      row-gap: 0;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include on-tabl {
      grid-column: 1 / 4;
    }

    @include on-desc {
      grid-column: 1 / 6;
    }
  }

  &__input {
    display: block;

    box-sizing: border-box;
    width: 100%;
    padding: 14px 16px;
    border-color: transparent;
    border-radius: 40px;

    background: #f8f8fa;
    outline: transparent;

    transition: border 0.3s ease;

    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      color: $placeholderFont;
      transition: color 0.3s ease;
    }

    &:focus {
      &::placeholder {
        color: $basicFont;
      }
    }

    &:hover {
      &::placeholder {
        color: $basicFont;
      }
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &--textarea {
      resize: none;
      scroll-behavior: auto;

      height: 148px;
      border-radius: 16px;

      background: #f8f8fa;

      &:focus {
        outline: none;
      }
    }
  }

  &__info {
    grid-column: 1 / -1;

    @include on-tabl {
      grid-column: 4 / 6;
    }

    @include on-desc {
      grid-column: 8 / 11;
    }

    &-block {
      color: #fff;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &-title {
      margin-bottom: 8px;

      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #fff;
    }

    &-link {
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      color: #fff;
      text-decoration: none;
    }
  }
}
