.contacts {
  &__wrapper {
  @include pageGrid;
  }

  &__form {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / -1;
    }

    @include onDesktop {
      grid-column: 8 / 11;
    }
  }
}

.content-inner {
  display: flex;
  gap: 8px;
  flex-direction: column;

  &__title {
    color: $clr--contact-main;
    font-size: 14px;
    line-height: 140%;
  }

  &__description {
    text-decoration: none;
    color: $clr--contact-secondary;
    line-height: 140%;

    &:hover {
      color: $clr--contact-main;
    }
  }
}
