.contact-us {
  &__section-title {
    margin-bottom: $title-margin;
  }

  &__wrapper {
    @include pageGrid;
    row-gap: 48px;
  }

  &__item {
    grid-column: span 2;

    @include onTablet {
      grid-column: span 3;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    grid-column: span 2;

    @include onTablet {
      grid-column: 4 / span 3;
      grid-row: 1 / span 2;
    }

    @include onDesktop {
      grid-column: -6 / -1;
    }
  }

  &__form-field {
    @include hover(border, 1px solid $accent-border-color);
    padding: 14px 16px;

    font-size: 14px;
    line-height: 20px;

    background: $form-field-color;
    border: 1px solid transparent;

    resize: none;

    &:not(:first-child) {
      margin-top: 16px;
    }

    &:focus {
      border: 1px solid $main-dark;
    }

    &:hover::placeholder {
      color: $main-dark;
    }
  }

  &__button {
    margin-top: 32px;
  }
}
