.contact-form {
  &__form {
    box-sizing: border-box;
    width: 100%;
    background: #F9F9F9;
    border: 1px solid #F9F9F9;
    border-radius: 8px;
    padding: 16px 14px;
    outline: none;

    &:hover {
      border: 1px solid #DBDBDB;
    }

    &:focus {
     border: 2px solid #F98921;
    }

    &::placeholder {
      font-size: 14px;
      line-height: 19.6px;
      letter-spacing: 0.15px;
    }
  }

  &__info {
    height: 48px;
    margin-bottom: 16px;
  }

  &__message {
    height: 148px;
    resize: none;
  }

  &__button {
    margin-top: 32px;
    height: 56px;
    width: 100%;
    padding-block: 14.5px;
  }
}
