.contacts {
  &__title {
    margin-bottom: 48px;
  }

  &__content {
    @include gridContainer;
    row-gap: 48px;
    justify-items: flex-start;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 48px;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      flex-direction: row;
      grid-column: span 7;
    }
  }

  &__item-title {
    margin-bottom: 16px;
  }

  &__contact-text {
    margin-top: 8px;
    margin-bottom: 4px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__contact-link {
    font-weight: 700;
    color: $color-link;
    @include hover(color, $color-main-accent);
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__form-field {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 11px;
    color: $color-input-text;
    background-color: $color-input-bg;
    margin-bottom: 16px;

    &:hover {
      color: $color-main-dark;
    }

    &:focus {
      color: $color-main-dark;
      border: 1px solid $color-main-dark;
    }

    &--textarea {
      height: 116px;
      resize: none;
      margin-bottom: 32px;
    }
  }
}
