.contact {
  display: grid;
  grid-template-columns: repeat(2, $column-width-mobile);
  gap: 48px $gap-width-mobile;
  justify-content: center;

  &__form, &__info {
    grid-column: 1 / 3;
  }

  @include on-tablet {
    grid-template-columns: repeat(6, $column-width-tablet);
    gap: 80px $gap-width-tablet;

    &__form, &__info {
      grid-column: 1 / 7;
    }
  }

  @include on-desktop {
    grid-template-columns: repeat(12, $column-width-desktop);
    gap: 0 $gap-width-desktop;

    &__form {
      grid-column: 1 / 7;
    }

    &__info {
      grid-column: 8 / 13;
    }
  }
}
