.details {
  &__title {
    margin-bottom: 48px;
  }

  &__subtitle {
    margin-bottom: 8px;
  }

  &__description {
    margin: 0 0 8px 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__photoline {
    @include grid;

    row-gap: 20px;
  }

  @include on-tablet {
    margin-top: 132px;

    &__title {
      margin-bottom: 64px;
    }

    &__photoline {
      row-gap: 24px;
    }

    &__list {
      gap: 48px;
    }
  }

  @include on-desktop {
    margin-top: 164px;

    &__photoline {
      row-gap: 24px;
    }

    &__list {
      gap: 48px;
    }
  }
}
