.details {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include onTabl {
      row-gap: 48px;
    }
  }

  &__button {
    margin: 0 auto;

    @include onTabl {
      max-width: 392px;
    }

    @include onDesc {
      max-width: 324px;
    }
  }
}
