.details {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 64px;
    }
  }
}

.detail {
  &__photos {
    @include pageGrid;
    margin-bottom: 16px;
  }

  &__link {
    position: relative;

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include onTablet {
        grid-column: span 2;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }

    &--rectangle {
      @include onTablet {
        grid-column: span 4;
      }

      @include onDesktop {
        grid-column: span 8;
      }
    }
  }

  &__photo {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:hover {
      scale: 105%;
    }
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }

  &_descriptins {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  &__position {
    display: grid;
    padding: 48px;
  }

  &__button {
    @include button;
    &:hover {
      box-shadow: 1px 4px 16px $colorHover;
    }

    &:active {
      box-shadow: 1px 4px 16px $colorActive;
    }

    @include onDesktop {
      width: 324px;
      grid-column: 5/8;
    }
  }
}
