.detail {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    position: relative;
    &--wide {
      @include on-tabl {
        grid-column: span 4;
      }

      @include on-desc {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tabl {
        grid-column: span 2;
      }

      @include on-desc {
        grid-column: span 4;
      }
    }
  }
  &__photo {
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: transform 0.4s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
  &__title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
}
