.exhibitions {
  &__title {
    margin: 0 0 8px;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;

    @include on-tablet {
      font-size: 32px;
      line-height: 32px;
    }

    @include on-desktop {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__text {
    margin: 0 0 48px;

    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
  }

  &__list {
    margin: 0 0 40px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__photo {
    width: 100%;
  }
}

.exhibition {
  &__name {
    color: $color-red;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
  }

  &__images {
    margin: 0 0 24px;

    display: flex;
    justify-content: space-between;
  }

  &__time {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
  }
}
