.explore__title {
  margin: auto;
  text-align: center;
}

@include tablet {
  .explore__title {
    max-width: 415px;
  }
}

@include desktop {
  .explore__title {
    max-width: 498px;
  }
}

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

@include desktop {
  .collection {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: unset;
  }
}

.explore__collection {
  margin-top: 40px;
}

@include tablet {
  .explore__collection {
    margin-top: 48px;
  }
}

.collection__card {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  & h3:hover,
  & p:hover {
    cursor: pointer;
  }
}

.collection__card-img {
  width: 100%;
  object-fit: contain;
}

@include tablet {
  .collection__card {
    width: 392px;
  }
}

@include desktop {
  .collection__card {
    width: 324px;
  }
}

.collection__card-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.collection__card-title {
  text-align: center;
  font-size: 24px;
  line-height: 33.6px;
}

.collection__card-subtitle {
  text-align: center;
}