.explore__title {
  margin: auto;
  text-align: center;

  @include tablet {
    max-width: 415px;
  }

  @include desktop {
    max-width: 498px;
  }
}

.explore__collection {
  margin-top: 40px;

  @include tablet {
    margin-top: 48px;
  }
}
