.footer {
  background-image: url(../images/footer-image.png);
  height: 200px;
  background-size: cover;
  background-position: center;

  position: sticky;
  top: 0;
  z-index: -1;

  @include onTablet {
    height: 480px;
  }

  @include onDesktop {
    height: 555px;
  }
}
