.footer {
  background-image: url(../images/footer.png);
  background-size: cover;
  background-position: center;

  height: 200px;

  @include onTablet {
    height: 480px;
    background-position: center;
  }

  @include onDesktop {
    height: 555px;
  }
}
