.footer {
  height: 25vh;
  background: url("../images/backgrounds/footer-backgroud.png") center bottom/auto 25% no-repeat fixed;

  @include onTablet {
    height: 50vh;
    background-size: auto 50%;
  }

  @include onDesktop {
    background-size: 100% 50%;
  }
}
