.form {
  &__input {
    @include input-form-style;

    height: 48px;
    border-radius: 40px;
    margin-bottom: 16px;
  }

  &__message {
    @include input-form-style;

    height: 148px;
    border-radius: 16px;
    margin-bottom: 32px;
    resize: none;
  }

  &__button {
    @include button;

    width: 100%;
  }
}
