@use "../base/vars" as *;
@use "../base/mixins" as *;

.form{
  width: 100%;

  &__group{
    margin-bottom: 16px;
  }

  &__group:last-of-type{
    margin-bottom: 32px;
  }

  &__input{
    font-family: Poppins, sans-serif;
    width: 100%;
    padding: 14px 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $color-main;
    border-radius: 40px;
    background-color: #F8F8FA;
    outline: 0;
  }

  &__input::placeholder{
    color: #7E7E83;
  }

  &__textarea{
    border-radius: 16px;
    height: 148px;
  }

}

