.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 392px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #7e7e83;

  &__input {
    width: 100%;
    background-color: #fff;
    height: 48px;
    border-radius: 40px;
    padding-left: 16px;
    font-family: Poppins, sans-serif;
  }

  &__text-input {
    width: 100%;
    background-color: #fff;
    height: 148px;
    border-radius: 16px;
    padding-top: 16px;
    padding-left: 16px;
    font-family: Poppins, sans-serif;
  }

  &__button {
    width: 100%;
    height: 56px;
    color: #1d1d1d;
    background-color: #fff;
    border-radius: 40px;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    font-family: Poppins, sans-serif;
    text-align: center;
    transition: 0.5s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
