.gallery {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.gallery__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  max-width: 392px;
  text-align: center;
  margin: 0 auto 48px;
}

.gallery__item-title-wrapper {
  margin-top: 24px;
}

@include tablet {
  .gallery__view-all-btn {
    width: 392px;
    margin: auto;
  }
}

@include desktop {
  .gallery__view-all-btn {
    width: 324px;
    margin: auto;
  }
}