@import '../utils/mixins';

.grid {
  @include on-tablet {
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
  }

  @for $start from 1 through 6 {
    @for $end from $start + 1 through 6 {
      &__item--tablet--#{$start}-#{$end} {
        @include on-tablet {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }

  @for $start from 1 through 12 {
    @for $end from $start + 1 through 12 {
      &__item--desktop--#{$start}-#{$end} {
        @include on-desktop {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }
  }
}
