.header {
  background: url("../images/backgrounds/header-background.png") center/cover fixed;

  &__content {
    height: 100vh;
  }

  &__logo {
    display: block;
  }

  &__title {
    margin-top: 129px;

    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;
    color: $accent-white;

    @include onTablet {
      margin-top: 141px;
      font-size: 64px;
    }

    @include onDesktop {
      margin-top: 83px;
      font-size: 80px;
    }
  }
}
