.hero {
  @include bg-responsive(
    'backgrounds/cover-photo--mobile.jpg',
    'backgrounds/cover-photo--tablet.jpg',
    'backgrounds/cover-photo--desktop.jpg'
  );

  height: 100vh;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    margin: 0;
    padding: 0;
  }

  @include on-tablet {
    &__title {
      font-size: 64px;
    }
  }

  @include on-desktop {
    &__title {
      font-size: 80px;
    }
  }
}
