.icon {
  display: block;
  height: 24px;
  width: 24px;

  &--phone {
    background-image: url(../assets/icons/icon-phone.png);
  }

  &--menu {
    background-image: url(../assets/icons/icon-burger-menu.png);
  }

  &--close {
    background-image: url(../assets/icons/icon-close.png);
  }
}
