.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(/icons/icon-phone2x.png);

    @include onDesktop {
      &:hover::after {
        content: "+1 234 555-55-55";
        position: absolute;
        top: 30%;
        right: 130%;
        color: $main-text-color;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 2px;
        white-space: nowrap;
      }
    }
  }

  &--menu {
    background-image: url(/icons/icon-burger-menu2x.png);

    &:hover {
      background-image: url(/icons/icon-burger-menu-hover2x.png);
    }
  }

  &--close {
    background-image: url(/icons/icon-close2x.png);
  }
}
