.icon {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: filter 300ms;

  &--phone {
    background-image: url(../images/icons/icon-phone.svg);
  }

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);

    @include hover(background-image, url(../images/icons/icon-menu-hover.svg));
  }

  &--menu-close {
    background-image: url(../images/icons/icon-menu-close.svg);
  }

  @include hover(
    filter,
    brightness(0)
    saturate(100%)
    invert(57%)
    sepia(82%)
    saturate(1184%)
    hue-rotate(344deg)
    brightness(99%) contrast(97%)
  );
}
