.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    position: relative;
    background-image: url(../images/icons/icon-phone.svg);

    &::after {
      content: '+1-234-55555555';
      position: absolute;
      display: flex;
      align-items: center;
      width: 150px;
      top: 5px;
      right: 32px;
      opacity: 0;
      color: $clr--main;
      transition: opacity 0.3s ease;
      text-shadow: 1px 1px 10px $clr--bg;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.svg);

    &:hover {
     background-image: url(../images/icons/icon-burger-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}

