.image {
  @include on-desktop {
    transition: all $animation-speed;

    &:hover {
      transform: scale(1.1);
    }
  }

  &-beosound {
    background-image: url('../images/beosound.png');
  }

  &-beoplay {
    background-image: url('../images/beoplay.png');
  }

  &-beosound-theatre {
    background-image: url('../images/beosound-theatre.png');
  }

  &-portable-speaker-1 {
    background-image: url('../images/portable-speaker-1.png');
  }

  &-portable-speaker-2 {
    background-image: url('../images/portable-speaker-2.png');
  }

  &-earphones-1 {
    background-image: url('../images/earphones-1.png');
  }

  &-earphones-2 {
    background-image: url('../images/earphones-2.png');
  }

  &-smart-home-1 {
    background-image: url('../images/smart-phone-1.png');
  }

  &-smart-home-2 {
    background-image: url('../images/smart-phone-2.png');
  }

  &-about-us {
    background-image: url('../images/about-us-image.png');
  }
}
