.link {
  color: $color-font;
  text-decoration: none;
  font-style: normal;
  @include transition-custom(color, $transition-duration, $transition-function);

  &__visited {
    color: $color-gray-200;
  }

  &:hover,
  &:focus {
    color: $color-font-menu-hover;
  }
}
