.link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $text-color;
  color: $main-color;
  padding-inline: 15px;
  padding-block: 17px;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.69;
  font-size: 16px;
  min-height: 56px;
  width: 100%;
  @include onTablet {
    width: 100%;
    max-width: 392px;
  }
  @include onDesktop {
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
    }
    &:active {
      box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
    }
    text-align: center;
    width: 100%;
    max-width: 324px;
    min-height: 56px;
  }
}
