@use '../utils/mixins';
@use '../vars/breakpoints';
@use '../vars/main_sizes' as *;

.main {
  display: grid;
  grid-template-columns: $main-border-column-width-s 1fr $main-border-column-width-s;
  grid-template-rows: repeat(1, 1fr);
  row-gap: 96px;
  max-width: breakpoints.$breakpoint-l;
  margin: 0 auto;
  padding: 64px 0;
  box-sizing: border-box;

  @include mixins.on-tablet {
    padding: 120px 0;
    grid-template-columns: $main-border-column-width-m 1fr $main-border-column-width-m;
    row-gap: 120px;
    text-transform: none;
  }

  @include mixins.on-desktop {
    padding: 120px 0;
    grid-template-columns: $main-border-column-width-l 1fr $main-border-column-width-l;
    row-gap: 120px;
    text-transform: none;
  }
}
