@use '../utils/mixins';
@use '../vars/breakpoints';

.main {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: repeat(1, 1fr);
  row-gap: 96px;
  max-width: breakpoints.$breakpoint-l;
  margin: 0 auto;
  padding: 64px 0;
  overflow-x: hidden;
  box-sizing: border-box;

  @include mixins.on-tablet {
    padding: 120px 0;
    grid-template-columns: 72px 1fr 72px;
    row-gap: 120px;
    text-transform: none;
  }

  @include mixins.on-desktop {
    padding: 120px 0;
    grid-template-columns: 120px 1fr 120px;
    row-gap: 120px;
    text-transform: none;
  }
}
