.main {
  background-color: #1d1d1d;

  @include contentPaddingInline;

  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 96px;

    @include onTablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }
}
