@media (max-width: 1260px) {

  .container {
    max-width: 1020px;
    padding-left: 120px;
    padding-right: 120px
  }

  .compare {

    &__bikes {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .bike-card {
    margin-right: 0 !important;
    margin-bottom: 48px;
  }

  .end {
    margin-bottom: 0;
  }

  .cards {

    &__subtitle {
      min-width: 100%;
    }
  }

  .contacts {
    display: flex;
    gap: 10% !important;
  }

}

@media (max-width: 744px) {

  .container {
    padding-left: 72px;
    padding-right: 72px;
  }

  .nav{

    &__phone {
      font-size: 8px !important;
    }
  }

  .streets {
    padding-bottom: 130px !important;

    &__title {
      font-size: 64px !important;
    }
  }

  .moves {

    &__title {
      font-size: 48px !important;
    }

    &__text {
      font-size: 15px !important;
    }
  }

  .cards {

    &__btn {
      width: 70% !important;
    }
  }

  .cards-details {

    &__images {
      height: 178px;
    }

    &__picture {
      height: 178px;
    }
  }

  .title {
    font-size: 48px;
  }

  .form {
    display: flex;
    flex-direction: column;

    &__input {
      border-radius: 40px;
      width: 100% !important;
      height: 48px;
      margin-bottom: 16px;
      padding: 14px 16px 14px 14px;
    }

    &__input:last-child {
      height: 120px;
      margin-bottom: 32px;
      resize: none;
      border-radius: 16px;
    }

    &__btn {
      width: 100% !important;
    }
  }

  .contacts {

    &__info {
      width: 30% !important;
    }
  }

  .footer {
    background: url('../img/foot.png') center;
    height: 480px;
    background-attachment: fixed;
    background-size: cover;
  }
}

@media (max-width: 320px) {

  .header {
    background-position: right !important;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav {
    padding: 24px 0 !important;

    &__logo {
      width: 130px;
      height: 38px;
    }

    &__icon {
      margin-left: 5px !important;
      margin-right: 15px !important;
    }

    &__icons {
      width: 24px !important;
      height: 24px !important;
    }
    &__contacts {
      gap: 10px !important;
    }

    &__phone {
      right: 70% !important;
      font-size: 5px !important;
    }
  }

  .navigation {
    width: 24px;
    height: 24px;
  }

  .streets {
    padding-bottom: 88px !important;
    &__title {
      font-size: 36px !important;
    }
  }

  .menu {
    &__top {
      padding: 24px 0 !important;
    }
    &__image {
      width: 130px;
      height: 38px;
    }
    &__list {
      padding-top: 8px !important;
    }
    &__link {
      font-size: 22px !important;
      font-weight: 600 !important;
    }
  }

  .icon {

    &__close {
      width: 24px;
      height: 24px;
    }
  }

  .main {
    margin-bottom: 120px !important;
  }

  .title {
    font-size: 32px;
  }

  .move {
    padding-top: 60px !important;
  }

  .moves {
    flex-direction: column;

    &__title {
      font-size: 32px !important;
      width: 100% !important;
      margin-right: 0 !important;
    }

    &__text {
      width: 100% !important;
      padding-top: 32px;
    }
  }

  .compare {
    padding-top: 92px !important;
  }

  .bike-card {
    margin-bottom: 40px;
  }

  .end {
    margin-bottom: 0;
  }

  .cards {

    &__picture {
      width: 50%;
      margin-right: 20px !important;
    }

    &__pictures {
      width: 50%;
    }

    &__btn {
      width: 100% !important;
    }
  }

  .details {
    padding-top: 82px !important;
  }

  .contact {
    padding-top: 80px !important;
  }
  .contacts {
    flex-direction: column;
    &__form {
      padding-bottom: 48px;
    }

    &__info {
      width: 60% !important;
    }
  }

  .footer {
    background: url('../img/footermin.png') center;
    background-size: cover;
    height: 200px;
  }
}
