.menu {
  height: 100vh;

  background-color: $color-secondary;
  font-weight: 600;
  text-transform: uppercase;
  color: black;

  transition: all 0.5s;
  opacity: 0;
  transform: translateX(-100%);

  &:target {
    opacity: 1;
    transform: translateX(0);
  }

  &__top {
    margin-bottom: 32px;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__content {
    padding-inline: 20px;

    @include on-tablet {
      padding-block: 36px;
    }

    @include content-padding-inine;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;

    line-height: 27px;
  }

  &__book-a-test-ride {
    display: block;
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 1px solid $color-primary;

    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: left;
    color: inherit;
  }
}
