.menu {
  box-sizing: border-box;
  height: 100vh;
  background: #F9F9F9;
  overflow: auto;

  &__content {
    @include content-padding-inline
  }

  &__call-to-order {
    display: block;
    text-decoration: none;
    color: #1B2129;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 7px;
    border-bottom: 1px solid $default-color;
    width: fit-content;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
    color: $default-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__top {
    margin-bottom: 32px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
