.menu {
  box-sizing: border-box;
  font-weight: 600;
  text-transform: uppercase;
  height: 100%;
  background-color: $menu-bg;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;

    @include menu-top-padding;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__content {
    @include content-padding-inline;
  }

  &__phone-number {
    display: block;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color: inherit;
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    margin-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid $border-bottom;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    color: inherit;
  }
}
