.move {
  @include page-grid;

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 32px;
    text-align: left;

    @include on-tabl {
      grid-column: 1 / 4;
      margin-bottom: 0;
    }

    @include on-desc {
      grid-column: 1 / 5;
    }
  }

  &__descr {
    grid-column: 1 / -1;

    font-size: 23px;
    font-weight: 500;
    line-height: 32px;
    color: #fff;

    @include on-tabl {
      grid-column: 4 / 7;
    }

    @include on-desc {
      grid-column: 6 / 12;
    }
  }
}
