.move {
  padding-top: 120px;
}

.moves {
  display: flex;
  
  &__title {
    width: 45%;
    color: var(--color-white);
    font-size: 64px;
    font-weight: 500;
    line-height: 100%; /* 64px */
    letter-spacing: -1.5px;
    margin-right: 24px;
  }

  &__text {
    width: 50%;
    height: 96px;
    color: var(--color-white);
    font-size: 23px;
    font-weight: 500;
    line-height: 140%; /* 32.2px */
  }
}
