.moveFree {
  &--position {
    padding-top: 60px;

    @include content-padding-inine;

    @include on-tablet {
      padding-top: 120px;
    }
  }

  &__container {
    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(6, 80px);
      column-gap: 24px;
      justify-content: center;
    }

    @include on-desktop {
      display: grid;
      grid-template-columns: repeat(12, 63px);
    }
  }

  &-text {
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 6 / -2;
    }
  }

  &--align-left {
    text-align: left;
  }

  &-title {
    margin-bottom: 32px;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1/ 6;
    }
  }
}
