.museum-hours {
  @include gridContainer;
  row-gap: 32px;

  &__titles {
    grid-column: span 1;

    @include onTablet {
      grid-column: span 3;
    }
    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: $color-main-accent;
  }

  &__content {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 7;
    }
  }

  &__address {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
  }

  &__week-plan {
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
  }

  &__week {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__holidays {
    display: flex;
    flex-direction: column;
  }

  &__time {
    font-weight: 700;
  }

}
