.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    @include after;
    position: relative;

    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-decoration: none;
    color: inherit;
  }
}
