.nav {
  text-transform: uppercase;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 44px;
  }

  &__link {
    text-decoration: none;
    color: $menu-text-color;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;

    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $menu-text-color;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: right;
    }
    &:hover::after {
      transform-origin: left;
      transform: scale(1);
    }
  }
}
