.navbar {
  display: flex;
  justify-content: end;
  align-items: center;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 24px;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__phone-number {
    pointer-events: none;
    position: absolute;
    width: max-content;
    padding-right: 20px;
    right: 100%;
    top: 50%;
    transform: translate(20px, -50%);
    opacity: 0;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 20px;
    color: $font-color;
    text-decoration: none;

    &--phone {
      position: relative;
    }
  }

  @include on-desktop {
    &__link {
      &--phone {
        &:hover {
          .navbar__phone-number {
            pointer-events: all;
            opacity: 1;
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
}
