.now-on-view {
  &__title {
    margin-bottom: 8px;
  }

  &__subtitle {
    text-align: center;
    margin-bottom: $title-margin;
  }

  &__wrapper {
    display: grid;
    row-gap: 48px;
  }

  &__item {
    @include pageGrid;
  }

  &__button {
    grid-column: span 2;

    @include onTablet {
      grid-column: 2 / span 4;
    }

    @include onDesktop {
      grid-column: 5 / span 4;
    }
  }
}
