.page {
  font-family: Poppins, sans-serif;
  color: #fff;
  line-height: 140%;
  background-color: #1d1d1d;
  scroll-behavior: smooth;

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}

:root {
  font-family: Poppins, sans-serif;
  color: #fff;
  line-height: 140%;
}

.main {
  background-color: #1d1d1d;
}

.wrapper {
  padding-top: 60px;
}
