.page {
  scroll-behavior: smooth;
  font-family: 'Poppins', 'Segoe UI', 'Arial', sans-serif;
  color: #fff;

  &__body {
    background-color: $basicFont;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-in-out;
    &:target {
      opacity: 1;
      pointer-events: all;

      @include onDesc {
        & .top-bar__logo,
        .icon--close {
          @include cursor-black;
        }
      }
    }
  }
}
