.page {
  background-color: $bg-color;
  scroll-behavior: smooth;
  
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s;

    &:target {
      transform: translateX(0);
      opacity: 1;
      pointer-events: all;
    }
  }

  &__title {
    padding: 0;
    margin: 0;

    font-size: 32px;
    color: $main-text-color;
    line-height: 32px;
    letter-spacing: -1.5px;
  }
}
