.product {
  &__photo {
    width: 100%;
    cursor: pointer;

    @include hover(transform, scale($hoverScale));
  }

  &__title {
    cursor: pointer;

    &:hover,
    &:active {
      color: $color-secondary-dark;
    }
  }
}
