.product {
  &__image {
    margin: 0 0 32px;
  }
  &__picture {
    width: 100%;
    transform: scale(1);
    transition: transform 0.3s;
    &:hover {
      transition: transform 0.3s;
      transform: scale(1.05);
    }
  }
  &__heading {
    color: $text-color;
    font-size: 24px;
    margin: 0 0 8px;
  }
  &__desription {
    color: $text-color;
    margin: 0 0 16px;
  }
}
