.recommended {

    display: grid;
    gap: 48px 20px;
    margin:0 20px;

    grid-template-columns: repeat(2 , 1fr);

  @media ( min-width: $onTablet ) {
    grid-template-columns: repeat(6 , 1fr);
    column-gap: 24px;
    margin: 0 72px;

  }
  @media ( min-width: $onDesktop ) {
    grid-template-columns: repeat(12 , 1fr);
    column-gap: 24px;
    margin: 0 120px;

  }

  &__product {
    display: block;
    justify-content: center;
    align-items: center;



    grid-column: span 2;

    @media ( min-width: $onTablet ) {
      grid-column: span 6;


    }

    @media ( min-width: $onDesktop ) {
      grid-column: span 4;
    }


  }


  &__title {

    height: 32px;
    font-size: 32px;

    grid-column: span 2;

    @media ( min-width: $onTablet ) {
      grid-column: span 6;
      font-size: 40px;


    }

    @media ( min-width: $onDesktop ) {
      grid-column: span 12;
      font-size: 48px;

    }

  }

    &__product-photo {
    

    display: block;
    height: auto;
    width: 100%;
    object-fit:cover;


    }

    &__product-name {
      display: block;
      grid-column: span 2;
      margin-bottom: 8px;

      font-size: 18px;
      line-height: 25px;
    }

    &__product-info {
      grid-column: span 2;
      width: 320px;

      font-size: 16px;
      font-weight: 400;

      margin-bottom: 12px;

    }

    &__price {
      font-size: 16px;
    }
}

