.recommended {
  margin-block-end: 96px;

  @include onTablet {
    margin-block-end: 120px;
  }

  @include onDesktop {
    margin-block-end: 128px;
  }

  &__title {
    @extend %sectionTitle;
    margin-block-end: 48px;

    @include onTablet {
      margin-block-end: 56px;
    }
  }

  &__products {
    @extend %gridPage;
    justify-content: center;
    row-gap: 40px;

    @include onDesktop {
      justify-content: start;
      row-gap: 0;
    }
  }
}

.product {
  grid-column: 1/-1;

  @include onTablet {
    grid-column: 2/-2;
  }

  @include onDesktop {
    grid-column: span 4;
  }

  &__link {
    position: relative;
    z-index: 1;
    display: block;
    height: 0;
    padding-block-end: 100%;
    margin-block-end: 24px;
    @extend %hoverEffectForPhoto;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__title {
    margin-block-end: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
  }

  &__description {
    margin-block-end: 12px;
    font-family: $font-family-secondary;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }
}
