.schedule {
  &__subtitle {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 30px;
  }

  &__list {
    display: grid;
    row-gap: 8px;
  }

  &__item {
    &--avenue-content-width {
      @include scheduleStyle(96px);
    }

    &--cloisters-content-width {
      @include scheduleStyle(121px);
    }
  }

  &__time {
    font-weight: 700;
  }

  &__holidays {
    margin-top: 16px;
  }
}
