.main {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
  

  @include onTablet {
    padding-top: 132px;
    padding-inline: 20px;
    max-width: 100%;
  }

  @include onDesktop {
    padding-top: 164px;
    padding-inline: 20px;
 
  }
}

// First Section 
.compare-bikes {

    text-align: center;

  &__container {
    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      align-items: center;
      justify-items: center;
   }
  }
  
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $text-color;

    padding-top: 92px;
    padding-bottom: 48px;

    @include onTablet {
      font-size: 48px;
      line-height: 100%;
      padding-bottom: 56px;
    }

    @include onDesktop {
      margin-bottom: 56px;
      padding: 0;
      font-size: 64px;
      line-height: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 48px;
    }

    &:last-child {
      margin-bottom: 92px;

      @include onTablet {
        margin-bottom: 120px;
      }
    }
  }

  &__image {
    width: 280px;
    height: 228px;
    background-repeat: no-repeat;
    @include bgCoverCenter;
   
  }

  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include onTablet {
      max-width: 400px;
    }
  }

  &__name {
    color: $text-color;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 32px;

    @include onTablet {
      font-size: 28px;
      margin-top: 40px;
    }

    @include onDesktop {
      font-size: 32px;
    }
  }

  &__description {
    color: $text-color;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    margin-top: 8px;

    @include onTablet {
      font-size: 18px;
      margin-top: 12px;
    }

    @include onDesktop {
      font-size: 20px;
    }
  }

  &__price {
    color: $text-color;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 16px;

    @include onTablet {
      font-size: 28px;
      margin-top: 20px;
    }

    @include onDesktop {
      font-size: 32px;
    }
  }
}
// Second Section 
.details {
  text-align: center;

&__title {
  margin: 0;
 
  margin-bottom: 48px; 
  color: $text-color;
  font-weight:500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

&__item {
  display: flex;
  flex-direction: column;
  align-items: center;
//  опускаю кнопку Explore 
   &:last-child {
  margin-bottom: 40px;
 }
 }
// 

 &__text {
    display: flex;
    flex-direction: column;
 }

&__imgages {
  width: 130px;
  height: 130px;  
  margin-bottom: 16px;
} 

 &__name {
  color: $text-color;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 8px;
 }

 &__description {
  color: $text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 40px;
 }

&__explore {
  width: 278px;
  height: 56px;
  text-align: center;
  border-radius: 40px;
  border:  solid $button-color 1px;
  color: $btn-text-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0px;
  margin-bottom: 80px;

   cursor: pointer;
 }
}
// Third Section
.contact-us {
&__title {
  margin: 0;
  font-weight: 500;
  font-style: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  color: $text-color;
  }

&__container {
  padding-top: 48px;
  margin: 0 auto;
  padding-inline: 20px;
  }

&__name,
&__email {
  width: 278px;
  height: 48px;
  border-radius: 40px;
  justify-content: left;
  text-align: left;
  border:  solid $button-color 1px;
  background-color: #F8F8FA;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $contact-us-btn-text-color;
  
  &::placeholder {
    padding: 14px 16px;
  }
}

  &__message {
    box-sizing: border-box;
  width: 278px;
  height: 148px;
  border-radius: 16px;
  border: solid $button-color 1px;
  background-color: #F8F8FA;


  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $contact-us-btn-text-color;
  margin-bottom: 32px;
  
  &::placeholder {
    padding: 14px 16px;
  }
 }

  &__send {
    text-align: center;
    width: 280px;
    height: 56px;
    border-radius: 40px;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $btn-text-color;
    margin-bottom: 48px;
 }
// Contact-us card
  &__card {
  display: flex;
  flex-direction: column;
  
  }

  &__item {
  display: flex;
  flex-direction: column;
  align-items: center;

   &:last-child {
  margin-bottom: 120px;
 }
}

 &__label {
  text-align: left;
  width: 150px;
  height: 20px;


  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color:$text-color;
  margin-bottom: 8px;

 }

 &__value {
  white-space: nowrap;
  text-align: left;
  width: 150;
  height: 22;


  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color:$text-color;
  margin-bottom: 24px;
 }
}

.footer {
 &__image {
  width: 455px;
  height: 200px;
  }
}


