.section-title {
  margin-bottom: 48px;

  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  color: #fff;
  text-align: center;
  letter-spacing: -0.05em;

  @include on-tabl {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.03em;
  }

  @include on-desc {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.02em;
  }

  &__details {
    @include on-tabl {
      margin-bottom: 64px;
    }

    @include on-desc {
      margin-bottom: 48px;
    }
  }
}
