.section-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: $color--main-text;

  @include on-tablet {
    font-size: 40px;
    line-height: 40px;
  }

  @include on-desctop {
    font-size: 48px;
    line-height: 48px;
  }
}
