.main {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding-inline: 20px;

@include onTablet {
 padding: 0;
}

  @include onDesktop {
    padding: 0;
  }
}

// First Section
.compare-bikes {

&__container {
 @include onTablet {
    // відступи по бокам суто для цієї секції
   padding-inline: 176px;
  }

 @include onDesktop {
// відступи по бокам суто для цієї секції
    padding-inline: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    align-items: center;
    justify-items: center;
    // опускаю вниз заголовок 2 секції при 1260px;
    margin-bottom: 144px;
 }
}

//заголовок першої секції 
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

    padding-inline: 20px;
    margin-top: 92px;
    margin-bottom: 48px;

    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $text-color;

    //загаловок при 744px
    @include onTablet {
      margin-top: 132px;
      padding-inline: 176px;
      margin-bottom: 48px;

      white-space: nowrap;
      font-size: 48px;
      line-height: 100%;
    }
   //загаловок при 1260px
    @include onDesktop {
      padding-inline: 381px;
      margin-top: 164px;
      margin-bottom: 56px;
      font-size: 64px;
      line-height: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 92px;
      
    }

    @include onTablet {
      // відступи між Item при 576px;
      margin-bottom: 48px;

    // опускаю заголовок 2 секції при від 576px;
     &:last-child {
      margin-bottom: 120px;
     }
   
    }
  }

  &__image {
    width: 280px;
    height: 228px;
    background-repeat: no-repeat;
    align-items:start;
   
   //  розмір фото  велосипедів  при 576px;
    @include onTablet {
      width: 392px;
      height: 319px;
    }
  //  розмір фото велосипедів при 1260px;
    @include onDesktop {
      width: 324px; ;
      height: 256px; ;
    }

  }

  &__text {
    display: flex;
    flex-direction: column;
    text-align: left;

    @include onTablet {
    text-align: start;

    }
  }

  &__name {
    color: $text-color;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 32px;

    @include onTablet {
      font-size: 28px;
      margin-top: 40px;
    }

    @include onDesktop {
      font-size: 32px;
    }
  }

  &__description {
    color: $text-color;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    margin-top: 8px;

    @include onTablet {
      font-size: 18px;
      margin-top: 12px;
    }

    @include onDesktop {
      font-size: 20px;
    }
  }

  &__price {
    color: $text-color;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 16px;

    @include onTablet {
      font-size: 28px;
      margin-top: 20px;
    }

    @include onDesktop {
      font-size: 32px;
    }
  }
}
// Second Section
.details {
  margin: 0 auto;
  box-sizing: border-box;

  &__container {
    display: flex;
    flex-direction: column;
    @include onTablet {
      padding-inline: 72px;
    }
    @include onDesktop {
      padding-inline: 120px;
    }
  }

  &__title {
    text-align: center;
    margin: 0;
    margin-bottom: 48px;
    color: $text-color;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    @include onTablet {
      margin-bottom: 64px;
      padding-inline: 176px;
    }
    @include onDesktop {
      margin-bottom: 48px;
      padding-inline: 381px;
    }
  }

  &__item {
    margin-bottom: 40px;
    display: flex;
    align-items:left;
    flex-direction: column;
    &:last-child {
      margin-bottom: 40px;
    }
  }
  // 
  &__images {
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 20px;
  margin-bottom: 16px;
  height: 130px;


  @include onTablet {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 100%;
  }

  @include onDesktop {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
     height: 100%;
  }
}

&__image {
  object-fit: contain;
  background-position: center;
  transition: width 0.3s, height 0.3s;

  &--big {

  height: 100%;
  width: 100%;

    @include onTablet {
      height: 100%;
      width: 100%;
    
    }
    @include onDesktop {
      height: 100%;
        width: 100%;
    }
  }

  &--small {
  height: 100%;
  width: 100%;

    @include onTablet {
     height: 100%;
     width: 100%;
    }
    @include onDesktop {
     height: 100%;
  width: 100%;
    }
  }
}

 &__text {
    display: flex;
    flex-direction: column;
    text-align: left;

    @include onTablet {
    text-align: start;
    }
    @include onDesktop {
      text-align: start;
    }
  } 
  
  &__name {
    color: $text-color;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-top: 16px;
  }

  &__description {
    margin: 0;
    padding-top: 8px;
    color: $text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__explore {
    width: 278px;
    height: 56px;
    text-align: center;
    border-radius: 40px;
    border: solid $button-color 1px;
    color: $btn-text-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0px;
    margin-bottom: 80px;
    cursor: pointer;
  }
}
// Third Section
.contact-us {
    margin: 0 auto;
  box-sizing: border-box;

  &__title {
    margin: 0;
    font-weight: 500;
    font-style: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $text-color;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    margin: 0 auto;
    padding-inline: 20px;
  }

  &__name,
  &__email {
    width: 278px;
    height: 48px;
    border-radius: 40px;
    justify-content: left;
    text-align: left;
    border: solid $button-color 1px;
    background-color: #f8f8fa;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $contact-us-btn-text-color;

    &::placeholder {
      padding: 14px 16px;
    }
  }

  &__message {
    box-sizing: border-box;
    width: 278px;
    height: 148px;
    border-radius: 16px;
    border: solid $button-color 1px;
    background-color: #f8f8fa;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $contact-us-btn-text-color;
    margin-bottom: 32px;

    &::placeholder {
      padding: 14px 16px;
    }
  }

  &__send {
    text-align: center;
    width: 280px;
    height: 56px;
    border-radius: 40px;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $btn-text-color;
    margin-bottom: 48px;
  }

  // Contact-us card
  &__card {
    display: flex;
   flex-direction: column;
   text-align: left;
  }

  &__item {
    display: flex;
    flex-direction: column;
    
    &:last-child {
      margin-bottom: 120px;
    }
  }

  &__label {

    width: 150px;
    height: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $text-color;
    margin-bottom: 8px;
  }

  &__value {
    white-space: nowrap;
    text-align: left;
    width: 150;
    height: 22;

    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: $text-color;
    margin-bottom: 24px;
  }
}
// FOOTER 
.footer {
  &__image {
    width: 100%;

    background-image: url(/public/footer-image/footer-img.svg);
    
    @include onTablet {
      height: 480px;
    }
    
    @include onDesktop {
      height: 555px;
    }
  }
}


