.section {
  &__title {
    width: $column-width-mobile * 2 + $gap-width-mobile * 1;
  }

  @include on-tablet {
    &__title {
      width: $column-width-tablet * 6 + $gap-width-tablet * 5;
    }
  }

  @include on-desktop {
    &__title {
      width: $column-width-desktop * 12 + $gap-width-desktop * 11;
    }
  }
}
