.section {
  --padding-size: 100px;

  padding-top: var(--padding-size);

  @include on-tablet {
    --padding-size: 140px;
  }

  &:last-child {
    padding-bottom: var(--padding-size);

    @include on-tablet {
      --padding-size: 140px;
    }
  }
}
