.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__links {
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 55px;
    }
  }

  &__link {
    display: flex;

    @include square-size(24px);

    @include on-tablet {
      @include square-size(32px);
    }
  }

  &__icons {
    display: flex;
  }
}
