.top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;

  &__icons {
    display: grid;
    grid-template-columns: repeat(2, 24px);
    grid-column-gap: 24px;
  }
}
