.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;

  &__logo {
    display: flex;

    transition: transform 0.3s ease-in-out;

    @include on-desc {
      @include cursor-custom;
    }

    &:hover {
      transform: scale(1.04);
    }
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include on-tabl {
      gap: 32px;
    }
  }
}
