.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__links {
    display: flex;
    gap: 24px;

    @include onTablet {
      gap: 55px;
    }
  }

  &__link {
    display: flex;
    @include squareSize(24px);

    @include onTablet {
      @include squareSize(32px);
    }
  }

  &__icons {
    display: flex;
  }
}
