.top {
  width: 100%;
  height: 100vh;
  background: url("../image/background/bg-girl.png") center / cover no-repeat;

  &__container {
    @include small-container;
    display: flex;
    height: 100%;
    padding-bottom: 64px;
    align-items: flex-end;

    @include onMobile-S {
      padding-bottom: 40px;
    }
  }

  &__title {
    max-width: 440px;
    font-size: 56px;

    @include onMobile-L {
      font-size: 48px;
    }

    @include onMobile-S {
      font-size: 36px;
    }
  }
}
