.top-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__links {
    position: relative;
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 55px;
    }
  }

  &__link {
    display: flex;
    position: relative;

    @include square-size(24px);

    @include on-tablet {
      @include square-size(32px);
    }
  }

  &__icons {
    display: flex;
  }

  &__contacts {
    padding: 0;

    position: absolute;
    left: 100%;
  }

  &__location-list {
    padding-right: 16px;

    position: absolute;
    right: 100%;
    top: 50%;

    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 8px;

    transform: translateY(-50%);
    transition: opacity 300ms;
    opacity: 0;
    pointer-events: none;
  }

  &__address {
    &:hover {
      .top-actions__location-list {
        @include on-desktop {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}
