.top-bar {
  box-sizing: border-box;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 20px;

  &__logo {
    width: 125px;
    height: 16px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  @media (min-width: 744px) {
    padding: 36px 72px;

    &__logo {
      width: 188px;
      height: 24px;
    }
  }

  @media (min-width: 1260px) {
    padding: 32px 120px;
  }
}
