.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 25px;

  @include on-tablet {
    padding-block: 50px;
  }

  &__icons {
    display: flex;
    gap: 24px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
  }

  &__logo-link {
    display: flex;
    text-decoration: none;
  }

  &__logo {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1.5px;
    color: $bg-color;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      font-size: 40px;
    }
  }
}
