.working-hours__table {
  display: flex;
  gap: 24px;
}

.working-hours__table-wrapper {
  margin: 16px 0;
}

.working-hours__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.working-hours__column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.working-hours__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  color: $working-hours-text-color;

  &--thin {
    font-weight: 400;
  }
}