.about {
  &__background {
    height: 200px;
    background-image: url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
      background-image: url(../images/about-bg-desktop.jpg);
      background-position: top;
    }
  }

  &__content {
    padding-top: 48px;

    @include on-tablet {
      padding-top: 56px;
    }

    @include page-grid;
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 24px;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__description {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 23px;
    line-height: 1.38;

    @include on-tablet {
      line-height: 1.4;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
