/* #region about-us */
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  padding: 0  20px;
}

.about-us__title-remark {
  font-size: 12px;
  line-height: 140%;
  color: #d12d35;
  font-weight: 700;
  margin: 0;
}

.about-us__tittle {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  font-weight: 700;
  margin: 0;
}

.about-us__content-tittle {
  margin-top: 32px;
  font-size: 24px;
  line-height: 30px;
}

.about-us__days-and-times {
  display: flex;
  flex-direction: row;
}

.about-us__times {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  font-weight: 700;
  line-height: 27px;
  font-size: 16px;
}

.about-us__days {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-left: 24px;

  line-height: 27px;
  font-size: 16px;
}

.about-us__holidays {
  margin-top: 16px;
}

#closed-on {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

#c-losed-on {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}
/* #endregion */
