.about-bo {
  padding: 48px 0;
  background-color: #fcfaef;
  @include onTablet {
    padding: 120px 0;
  }

  &__content {
    @include container;
    @include pageGrid;
  }

  &__title {
    padding: 0;
    margin-bottom: 24px;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__description {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 8 / -1;
    }
  }
}
