.about--us {
  background-color: #fcfaef;
  &__img {
    background-image: url(../images/about-us-bg-tablet.png);
    background-size: cover;
    background-position: center;
    height: 200px;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      background-image: url(../images/about-us-bg-laptop.png);
      object-fit: cover;
      height: 460px;
      justify-content: center;
      align-items: center;
    }
  }

  &__content {
    @include content-padding-inline;
    @include page-grid;

    max-height: 416px;

    @include on-desktop {
      padding: 120px 0;
    }

    &--title {
      margin: 0;
      line-height: 32px;
      font-size: 32px;
      font-weight: 700;
      padding: 48px 0 24px;
      grid-column: 1 / -1;

      @include on-tablet {
        padding: 120px 0;
        grid-column: 1 / 4;
        font-size: 40px;
        line-height: 40px;
      }

      @include on-desktop {
        grid-column: span 6;
        font-size: 48px;
        line-height: 48px;
      }
    }

    &--description {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 22.4px;
      letter-spacing: 0.15px;
      grid-column: 1 / -1;
      padding: 0 0 48px;

      @include on-tablet {
        grid-column: 4 / 7;
        padding: 120px 0;
      }

      @include on-desktop {
        grid-column: 8 / -1;
      }
    }
  }
}
