.aboutUs {

  &__title {
    margin-top: 60px;
    grid-column: 1 / -1;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onTablet {
      grid-column: 1 / -4;
      font-size: 48px;
      margin-top: 120px;
    }

    @include onDesktop {
      grid-column: 1 / 5;
      font-size: 64px;
    }
  }

  &__text {
    margin-top: 32px;
    padding-bottom: 92px;
    grid-column: 1 / -1;
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;

    @include onTablet {
      grid-column: -3 / -1;
      margin-top: 120px;
      padding-bottom: 132px;
    }

    @include onDesktop {
      grid-column: -7 / -2;
      padding-bottom: 164px;
    }
  }
}
