.about-us {
  background-color: #FCFAEF;
  box-sizing: border-box;
}

.about-us__image {
  width: 100%;
  height: 200px;
}

.about-us__content {
  margin: 0 20px;
  padding: 48px 0;
  color: inherit;
  box-sizing: border-box;
}

.about-us__title {
  margin: 0 0 24px;
  font-size: 32px;
  line-height: 32px;
}

.about-us__text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
  margin: 0;
}


@media (min-width: 744px) {
  .about-us__image {
    height: 400px;
  }

  .about-us__content {
    display: flex;
    align-items: center;
    margin: 120px 72px;
    gap: 24px;
  }

  .about-us__title {
    min-width: 287px;
    max-width: 498px;
    font-size: 40px;
    line-height: 100%;
    margin: 0;
  }

  .about-us__text {
    min-width: 288px;
    max-width: 411px;
  }
}

@media (min-width: 1260px) {
  .about-us__image {
    height: 460px;
  }

  .about-us__content {
    width: fit-content;
    padding: 120px 0;
    margin: 0 auto;
    gap: 111px;
  }

  .about-us__title {
    font-size: 48px;
    line-height: 48px;
  }
}
