.aboutUsImg {
  display: flex;

  box-sizing: border-box;
  height: 460px;

  background-image: url(../../images/aboutUs_img.png);
  background-position: center 67%;
  background-size: cover;
}

.about-us {
  @include content-padding-inline-header;
  @include page-grid;

  align-items: center;
  height: clamp(300px, 50vw, 350px);
  margin-left: 0;
  background-color: rgba(252, 250, 239, 1);

  &__title {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/4;
      padding-right: 24px;
    }

    @include on-desktop {
      grid-column: 1/7;
    }
  }

  &__descripition {
    grid-column: 1/-1;
    margin-top: 24px;

    @include on-tablet {
      grid-column: 4/7;
      margin-top: 0;
    }

    @include on-desktop {
      grid-column: 7/12;
      margin-top: 0;
    }
  }

  &__text {
    margin: 0;

    @include recomended-product-descripition-text;
  }
}
