.aboutus {
  background-color: black;
  color: #fff;
  padding: 60px 20px;

  &__content {
    display: grid;
    gap: 20px;
  }



  &__title {
    font-size: 32px;
    font-weight: 700;

  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
  }

  @include on-tablet {
    &__content {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 40px;
    }

    &__title {
      font-size: 48px;
      text-align: left;
    }

    &__text {
      max-width: 500px;
      max-height: calc(1.5em * 6);
      overflow: hidden;
    }
  }

  @include on-desktop {
    &__content {
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 40px;
    }

    &__title {
      font-size: 72px;
    }

    &__text {
      max-width: 1200px;
    }
  }



}
