.about {
  &__title {
    margin-bottom: 10px;

    @include onDesktop {
      margin-bottom: 40px;
    }
  }

  &__description {
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 10px;
    }

    @include onDesktop {
      margin-bottom: 10px;
    }

    &:nth-last-of-type(2) {
      margin-bottom: 30px;

      @include onTablet {
        margin-bottom: 20px;
      }
    }

    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  &__img {
    display: none;

    @include onTablet {
      display: block;

      min-height: 440px;
      width: 100%;

      background: url("../../src/images/tablet/bird.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include onDesktop {
      display: block;

      min-height: 440px;
      width: 100%;

      background: url("../../src/images/desktop/bird.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__details {
    margin-bottom: 25px;

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onDesktop {
      margin-bottom: 40px;
    }
  }

  &__action {
    margin: 0 auto;

    @include onTablet {
      margin: 0;
    }

    @include onDesktop {
      margin: 0;
    }
  }
}
