.about {
  &__container {
    @include gridColumns;

    @include onMobile {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }

  &__title {
    flex: 1;
    font-weight: 500;
    line-height: 100%;
    font-size: 64px;
    white-space: nowrap;
    grid-column: 1/5;

    @include onLaptop {
      font-size: 48px;
      grid-column: span 3;
    }

    @include onMobile {
      font-size: 32px;
    }
  }
  &__paragraph {
    flex: 1;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    grid-column: 6/-1;

    @include onLaptop {
      grid-column: span 3;
    }
  }
}
