.about-us {
  &__image-container {
    height: 200px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    padding: 48px 20px;
    background-color: $bg-color-about-us;
  }

  &__title {
    font-weight: $second-font-weight;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 0;
  }

  &__text {
    letter-spacing: 0.15px;
  }

  @media (min-width: $tablet-page-width) {
    &__image-container {
      height: 400px;
    }

    &__content {
      grid-template-columns: repeat(2, 1fr);
      padding: 120px 72px;
    }

    &__title {
      font-size: 2.5rem;
      line-height: 100%;
    }
  }

  @media (min-width: $des-page-width) {
    &__image-container {
      height: 460px;
    }

    &__image {
      object-fit: cover;
      object-position: center;
    }

    &__content {
      padding: 120px;
      gap: 111px;
    }

    &__title {
      font-size: 3rem;
      line-height: 48px;
    }
  }
}
