.about-us {
  padding-top: 60px;

  @include page-grid;

  @include on-tablet {
    padding-top: 120px;
  }

  &__title {
    margin-bottom: 32px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__text {
    grid-column: 1 / -1;

    font-size: 23px;
    line-height: 140%;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}
