.About {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.about__section {
  margin-bottom: 64px;

}

.about__box--style {
  background: #fcfaef;
  padding: 0;
  margin: 0;
}

.about__img {
  width: 100%;
  height: auto;
  margin: 0;
}

.about__block {
  margin: 0 20px;
  padding: 48px 0;
}

.about__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.15px;
  margin-bottom: 24px;
}

.about__txt {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
