.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__paragraphs {
  font-family: "Space Mono", sans-serif;
  text-align: justify;
}

@media (min-width: 744px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about__paragraphs {
    width: 288px;
  }
}

@media (min-width: 1260px) {
  .about__paragraphs {
    width: 498px;
  }
}
