.about-us {
  padding-inline: 20px;
  color: $main-text-color;
  padding: 0;

  @include onTablet {
    @include pageGrid;

    margin-top: 140px;
    padding: 0;
    gap: 24px;
  }

  @include onDesktop {
    margin-top: 138px;
    padding-inline: 0;
    gap: 24px;
  }

  &__wrap {
    display: flex;
    margin-block: 16px;
    white-space: nowrap;
    gap: 24px;
  }

  &__section-title {
    align-items: left;
    letter-spacing: -1.5px;

    @include onTablet {
      grid-column: span 2;
      margin: 0;
    }

    @include onDesktop {
      grid-column: span 5;
      margin: 0;
    }
  }

  &__content {
    @include onTablet {
      grid-column: 4 / -1;
    }
    @include onDesktop {
      grid-column: span 6;
      margin: 0;
    }
  }

  &__timetable {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__timetable--span {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    margin-bottom: 8px;
  }

  &__timetable--days {
    margin-bottom: 8px;
  }

  &__location {
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    margin-block: 32px 16px;

    &--link {
      text-decoration: none;
      color: $main-text-color;
    }
  }

  &__location2 {
    margin-block: 24px 16px;
  }
}
