.about-us {
  padding-inline: 20px;

  @include contentPaddingInLine;

  &__title {
    padding-top: 60px;
    padding-bottom: 32px;
  }

  &__text {
    margin: 0 auto;
    margin-bottom: 92px;
    color: $main-text-color;
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;
  }
}

@include on-Tablet {
  .about-us {
    display: grid;
    margin-bottom: 132px;
    gap: 24px;
    padding-top: 120px;
    grid-template-columns: repeat(2, 1fr);

    &__title {
      margin: 0;
      font-size: 48px;
      padding-top: 0;
    }

    &__text {
      margin: 0;
    }

  }
}

@include on-Desktop {
  .about-us{
    display: grid;
    gap: 24px;
    padding-top: 120px;
    margin-bottom: 164px;
    grid-template-columns: repeat(2, 1fr);

    &__title {
      margin: 0;
      font-size: 64px;
      padding-top: 0;
    }

    &__text {
      margin: 0;
    }
  }
}




