.about-us {
  &__wrapped {
    @include pageGrid;
  }

  &__images {

    &--size {
      width: 100%;
      margin-bottom: 48px;

      @include onTablet {
        margin-bottom: 56px;
      }
    }
  }

  &__title{
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__description {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__description{
    margin: 0;
    font-family: Space Mono;
    font-size: 16px;
    line-height: 140%;
  }
}

