.about {
  @include page-grid;


  &__title {
    grid-column: 1 / -1;
    letter-spacing: -1.5px;
    text-wrap: nowrap;
    margin: 60px 0 32px;

    @include on-tablet {
      margin: 0;
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__intro {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__adaptability {
    width: 280px;
    margin: 0;
    line-height: 32.2px;
    font-size: 23px;
    font-weight: 500;

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 498px;
    }
}
}
