.about-us {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include tablet {
      flex-direction: row;
      gap: 24px;
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    gap: 2px;

    @include desktop {
      width: 411px;
    }
  }

  &__subtitle {
    font-size: 12px;
    line-height: 17px;
    color: $red-color-main;
  }

  &__schedules {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
