.about-us {
  padding: 48px 0 52px;

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__text {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }
  }
}

@media screen and (min-width: $tablet) {
  .about-us {
    padding: 56px 0 60px;

    &__wrap {
      flex-direction: row;

      & > * {
        flex: 1;
      }
    }
  }
}
