.action {
  display: block;
  width: 24px;
  height: 24px;

  &__namber {
    display: none;
    position: absolute;
    width: 142px;
    top: 0;
    transform: translateY(30%);
    right: 50px;

    text-align: right;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &--phone {
    position: relative;
    background-image: url(../images/icons/icon-phone.png);

    &:hover .action__namber {
      display: block;
    }
  }
  &--menu {
    background-image: url(../images/icons/icon-menu.png);
  }
  &--close {
    background-image: url(../images/icons/icon-close.png);
  }
}
