.action {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &__namber {
    display: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    order: -1;
    transition: $effect-duration;

    @include on-desktop {
      opacity: 0;
      display: block;
    }
  }

  &--phone {
    position: relative;
    background-image: url(../images/icons/icon-phone.png);

    @include on-tablet {
      background-image: url(../images/icons/icon-phone-tablet.png);
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-menu.png);

    @include on-tablet {
      background-image: url(../images/icons/icon-menu-tablet.png);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.png);

    @include on-tablet {
      background-image: url(../images/icons/icon-close-tablet.png);
    }
  }
}
