a {
  text-decoration: none;
}

img {
  transition: transform $effectDuration ease;

  &:hover {
    transform: $FotoTransform;
  }
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

footer {
  z-index: -1;
  position: fixed;
}
