.address {
  display: grid;
  row-gap: 24px;

  &__designations {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    font-style: normal;
    color: $contact-us-info-color;
  }

  &__link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    font-style: normal;
    text-decoration: none;
    color: $contact-us-links-color;

    @include action(hover, transform, scale(1.1));
  }
}
