.address {
  padding-top: 48px;
}

.address__block {
  padding-bottom: 24px;
}

.address__title {
  font-family: "Space Grotesk", monospace, sans-serif;
  color: #9393a3;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin: 0 0 8px;
}

.address__link {
  display: block;
  color: #191919;
  font-family: "Space Mono", monospace, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.address__link:hover {
  color: #8c8888;
}

.address__block:last-child {
  padding-bottom: 0;
}

@media (min-width: 744px) {
  .address {
    padding-top: 80px;
  }
}

@media (min-width: 1260px) {
  .address {
    padding-top: 56px;
    width: 498px;
  }
}
