.address {
  display: block;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  text-decoration: none;

  transition: $duration-effect;

  &:hover {
    color: #c3c3c3;
  }
}
