.address {
  font-style: normal;

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-family: $title-font;
    font-size: 14px;
    color: #9393a3;
  }

  &__link {
    margin-bottom: 24px;
    display: block;
    color: #191919;
    text-decoration: none;
  }
}
