.additional-info {
  &__adress,
  &__call-to {
    font-weight: $font-bold;
    line-height: 27px;
    color: $accent-default;
  }

  &__call-to {
    &:hover {
      color: $accent-main-hover;
    }
  }

  &__call-to:not(:last-child) {
    margin-bottom: 8px;
  }
}
