.advantage {
  &__photo {
    width: 100%;
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 32px;
    }
  }

  &__title {
    color: $red-color;
    font-size: 24px;
    line-height: 140%;
    margin: 0;
    margin-bottom: 4px;
    text-align: center;
  }

  &__description {
    margin: 0;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
}
