.aicon {
  background-position: center;
  background-size: cover;
  height: 18px;
  width: 18px;

  @include hover(transform, scale(1.1));

  @media (min-width: $TabletInit) {
    height: 24px;
    width: 24px;
  }

  &--menu {
    height: 12px;
    width: 18px;
    align-self: center;
    background-image: url('../aicon/Vector-menu-aicon.svg');

    @media (min-width: $TabletInit) {
      width: 24px;
      height: 16px;
    }
  }

  &--menu:hover {
    background-image: url('../aicon/Icon-Burger-menu-hover.svg');

    @include hover(transform, scale(1.5));
  }

  &--close {
    background-image: url('../aicon/Vector-crusaid.svg');
  }

  &--phone {
    background-image: url('../aicon/Vector-phone-svg-.svg');
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;

    @include on-descktoop{
      @include hover(transform, scale(1.2));
    }



    &:hover::after {
      content: '+32 856 7436';
      position: absolute;
      right: 30px;
      width: 100px;
      background-color: #000;
      border-radius: 10px;
      outline: 1px solid #F98921;

      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;


      color: white;

      @include on-tablet {
        right: 40px;

        font-size: 16px;
        width: 110px;
      }
    }
  }
}
