.intro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  background-color: $main-page-color;

  transition: opacity 1s ease-out;
}

.anim {
  @include onTablet {
    $animation-offset: 64px;
  }

  opacity: 0;

  &--r {
    transform: translate($animation-offset, 0);
  }

  &--l {
    transform: translate(-$animation-offset, 0);
  }

  &--t {
    transform: translate(0, -$animation-offset);
  }

  &--b {
    transform: translate(0, $animation-offset);
  }

  &--su {
    transform: scale(0.8);
  }

  &--show {
    opacity: 1;
    transform: translate(0, 0);
  }

  transition: transform $effect-duration $effect-function,
    opacity $effect-duration $effect-function;
}
