.animation {
  
  &__pictureBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;

    &--leftPicture {
      width: 46.4%;
      height: 130px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(./pictures/animation_1.jpg);

      @include tablet {
        width: 184px;
        height: 186px;
      }

      @include desktop {
        width: 324px;
        height: 320px;
      }
    }

    &--rightPicture {
      width: 46.4%;
      height: 130px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(./pictures/animation_2_320.jpg);
      
      @include tablet {
        width: 392px;
        height: 186px;
        background-image: url(./pictures/animation_2_1260.jpg);
      }

      @include desktop {
        width: 672px;
        height: 320px;
      }
    }
  }
}
