.animation-handler {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-right: 24px;

  &__number {
    display: flex;
    align-items: center;
    font-weight: bold;
    opacity: 0;
    transition: opacity $transition-speed;
    padding-right: 20px;
  }

  &__icon:hover ~ &__number {
    opacity: 1;
    transition: opacity $transition-speed;
  }
}
