@keyframes translate-x {
  from {
    transform: translateX(-100%);
    opacity: 0;
    visibility: visible;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.translate-x {
  visibility: visible;
  animation: translate-x 2s;
}
