[data-aos] {
  body[data-aos-easing="cubic"] &,
  &[data-aos][data-aos-easing="cubic"] {
    transition-timing-function: $a-cubic;
  }
}

[data-aos*="fade"] {
  filter: blur(3px);
  transition-property: all !important;
}

.aos-animate {
  filter: blur(0);
}
