.area {
  &__photo {
    width: 100%;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);

      @include on-tablet {
        transform: scale(1.05);
      }

      @include on-desktop {
        transform: scale(1.05);
      }
    }
  }

  &__title {
    font-size: 24px;
    line-height: 33.6px;
    font-weight: $bold-font-weight;
    text-align: center;
    color: $accent-color;
    margin: 24px 0 4px;

    @include on-tablet {
      margin-top: 32px;
    }

    @include on-desktop {
      margin-top: 32px;
    }
  }

  &__text {
    font-family: $font-fam-2;
    font-weight: 400;
    font-style: 16px;
    line-height: 27px;
    text-align: center;
  }
}
