.area {
  &__photo {
    width: 100%;
    margin-bottom: 24px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-transform: capitalize;
    text-align: center;
    color: $accent-color;
  }

  &__description {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Roboto, sans-serif;
    color: $text-color;
  }

  &__link {
    position: relative;
    display: block;
    transition: $transition-effect;

    &:hover {
      scale: 1.05;
    }
  }
}
