.art-online {
display: block;
  &__photo {
    height: 277px;
    display: block;

    @include on-tablet {
      height: 387px;
    }

    @include on-desktop {
      height: 320px;
    }
  }


  &__title {
    display: block;
    width: 280px;
    height: 34px;
    margin: 0;
    margin-top: 24px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #D12D35;

    @include on-tablet {
      width: 392px;
      height: 34px;
      margin-top: 32px;
    }

    @include on-desktop {
      width: 324px;
      height: 34px;
    }
  }

  &__category {
    width: 280px;
    display: block;
    margin-top: 4px;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #161616;

    @include on-tablet {
      width: 392px;
    }

    @include on-desktop {
      width: 324px;
    }
  }
}
