.art-online {
  display: block;
  &__photo {
  display: block;
  object-fit: cover;
  width: 100%;

  }

  &__title {
    display: block;
    margin: 0;
    margin-top: 24px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #d12d35;

    @include on-tablet {
      margin-top: 32px;
    }
  }

  &__category {
    display: block;
    margin-top: 4px;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: none;
    color: $main-text-color;
  }
}
