.art {
  &__item {
    grid-column: 1 / -1;
    margin-bottom: 24px;

    @include grid;

    &--second {
      display: flex;
      flex-direction: row;
      gap: 8px;

      @include on-tablet {
        @include grid;
      }
    }
  }
  &__title {
    font-size: 16px;
    line-height: 27px;
    color: $main-red-color;
    margin: 0;
    grid-column: 1 / -1;
  }
  &__date {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin: 0;
    grid-column: 1 / -1;
    margin-bottom: 48px;
  }

  &__photo {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;

    @include hover(transform, scale($photo-scale));

    &--right {
      object-position: right;
    }

    &--left {
      object-position: left -20px center;
    }
  }

  &__link {
    &--square {
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
    &--wide {
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--hidden {
      @include on-tablet {
        display: none;
      }

      @include on-desktop {
        display: inline-block;
      }
    }

    &--visible {
      @include on-tablet {
        grid-column: span 3;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }
}
