.article {
  margin: 0;

  @include constent-padding-inline;

  &__container {
    @include page-grid;

    padding-top: 100px;

    @include on-tablets {
      padding-top: 140px;
    }

    @include on-desktop {
      padding-top: 138px;
    }

    &__container--content {
      padding: 100px 0 0;
      margin-bottom: 32px;
      text-transform: uppercase;
    }
  }

  &__title {
    margin: 0;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    font-weight: 700;
    font-style: Bold;
    grid-column: 1 / -1;

    @include on-tablets {
      grid-column: 1 / 2;
      font-weight: 700;
      font-style: Bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.5px;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }
  &__heading {
    width: 100%;
    grid-column: 1 / -1;
    margin: 0;
    padding-top: 32px;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;

    @include on-tablets {
      grid-column: 4 / 6;
      padding-top: 0;
      font-weight: 700;
      font-style: Bold;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0;
    }

    @include on-desktop {
      grid-column: 6 / 10;
      padding-top: 0;
    }
  }

  &__content {
    margin: 0;
    grid-column: 1 / -1;

    @include on-tablets {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 6 / -1;
    }
  }

  &__paragraph--margin {
    margin: 0;
  }

  &__container-now_on_view {
    padding-top: 100px;
    padding-bottom: 48px;

    @include page-grid;

    grid-column: 1 / -1;

    @include on-tablets {
      grid-column: 2 / 6;
    }

    @include on-desktop {
      grid-column: 5 / 9;
    }
  }

  &__title-now_on_view {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    margin: 0;
    grid-column: 1 / -1;

    @include on-tablets {
      font-weight: 700;
      font-style: Bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.5px;
      text-align: center;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
    grid-column: 1 / -1;
  }

  &__text--color {
    color: $primary-color;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 140%;
    margin: 0;
    font-weight: 700;
    font-style: Bold;
    grid-column: 1 / -1;

    @include on-tablets {
      grid-column: 1 / 3;
      font-weight: 700;
      font-style: Bold;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0;
    }
  }
}
