.article {
    display: flex;
    flex-direction: column;
    align-items: center;

  &__image {
    display: inline-block;
    margin-bottom: 24px;
    width: 100%;
    object-fit: cover;
    @include onDesktop {
      min-height: 324px;
    }
  }

  &__title {
    color: $color-accent;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
  }

  &__text {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: $color-main-dark;
  }
}
