.article {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 4/-1;
  }

  @include on-desktop {
    grid-column: 6/-1;
  }

  &__title {
    font-size: 24px;
    line-height: 30px;

    &--museum {
      margin-bottom: 16px;
    }
  }

  &__schedule {
    margin-bottom: 16px;

    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }

  &__closed-time {
    &--normal {
      font-weight: 400;
    }

    &--first {
      margin-bottom: 24px;
    }
  }

  &__description {
    color: rgba(209, 45, 53, 1);
    margin-top: 24px;
    grid-column: 1/-1;
    justify-self: left;

    &--explore {
      font-size: 24px;
      line-height: 33.5px;
      justify-self: center;
      margin-bottom: 4px;
      margin-top: 24px;

      @include on-tablet {
        margin-top: 32px;
      }
    }
  }

  &__text {
    font-weight: 400;
    text-align: center;
  }

  &__description-date {
    font-weight: 400;
    grid-column: 1/-1;
    justify-self: left;
  }

  &--on-view {
    @include page-grid;

    place-items: center;
  }

  &--second {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/6;
    }
  }

  &--third {
    grid-column: 1/6;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;

    @include on-tablet {
      column-gap: 24px;
      grid-template-columns: repeat(6, 1fr);
    }

    @include on-desktop {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &--fourth {
    margin-bottom: 40px;

    @include on-tablet {
      grid-column: 1/6;
    }

    @include on-desktop {
      grid-column: 1/-1;
    }
  }

  &--fifth {
    @include on-tablet {
      grid-column: 2/6;
    }

    @include on-desktop {
      grid-column: 1/5;
    }
  }

  &--sixth {
    @include on-tablet {
      grid-column: 2/6;
    }

    @include on-desktop {
      grid-column: 5/9;
    }
  }

  &--seventh {
    @include on-tablet {
      grid-column: 2/6;
    }

    @include on-desktop {
      grid-column: 9/-1;
    }
  }

  &__link--first {
    width: 100%;
    height: 100%;
    grid-column: 1/2;

    @include on-tablet {
      grid-column: 1/5;
    }

    @include on-desktop {
      grid-column: 1/9;
    }
  }

  &__link--second {
    @include link-sizes;

    grid-column: 2/-1;

    @include on-tablet {
      grid-column: 5/-1;
    }

    @include on-desktop {
      grid-column: 9/-1;
    }
  }

  &__link--third {
    @include link-sizes;

    @include on-tablet {
      grid-column: 1/4;
    }

    @include on-desktop {
      grid-column: 1/5;
      height: 320px;
      width: 100%;
    }
  }

  &__link--fourth {
    @include link-sizes;

    @include on-tablet {
      grid-column: 4/-1;
    }

    @include on-desktop {
      grid-column: 5/9;
    }
  }

  &__link--fifth {
    @include link-sizes;

    grid-column: 3/-1;

    @include on-tablet {
      display: none;
    }

    @include on-desktop {
      display: inline;
      grid-column: 9/-1;
    }
  }

  &__link--sixth {
    grid-column: 1/2;

    @include link-sizes;

    @include on-tablet {
      grid-column: 1/3;
    }

    @include on-desktop {
      grid-column: 1/4;
    }
  }

  &__link--seventh {
    grid-column: 2/-1;

    @include link-sizes;

    @include on-tablet {
      grid-column: 3/-1;
    }

    @include on-desktop {
      grid-column: 5/-1;
    }
  }
}
