.articles {

  @include onDesktop {
    @include pageGrid;
    gap: 24px;
    flex-wrap: wrap;
  }

  &__article {
    @include onTablet {
      padding-inline: 90px;
    }

    @include onDesktop {
      padding-inline: 0;
      grid-column: span 4;
    }
  }

  &__article:not(:last-child) {
    margin-bottom: 48px;
  }
}
