.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include content-padding-inline;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
    height: 24px;
  }

  &__image {
    display: block;
    width: 125px;
    height: 16px;

    @include on-tablet {
      height: 24px;
    }
  }
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $menu-backgraund-color;

  &__content {
    @include content-padding-inline;
  }

  &__image {
    display: block;
    width: 125px;
    height: 16px;
  }

  &__icons {
    display: flex;
    gap: 24px;
    height: 24px;
  }

  &__top {
    margin-bottom: 32px;
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
    color: $main-text-color;
    margin-bottom: 16px;
  }

  &__call-to-order {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
    color: $main-text-color;
    padding-bottom: 4px;
    border-bottom: 1px solid #292929;
    text-transform: uppercase;
    width: fit-content;
  }
}

.icon--close {
  background-image: url(../images/icons/icon-close.svg);

}
