@import '../blocks/variables';
@import '../utils/mixins';

.menu {
  overflow: auto; /* to scroll the menu if needed */
  box-sizing: border-box;
  height: 100vh;
  background-color: #{$second-page-color};
  font-weight: 600;
  color: #{$text-color};

  &__top {
    margin-bottom: 24px;
    position: sticky; /* to keep cross always visible */
    top: 0;
    z-index: 1;
  }

  &__content {
    @include padding-inline;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__logo {
    height: 38px;
    width: 130px;
  }

  &__phone-number {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    display: block;
    margin-bottom: 16px;
  }

  &__call-to-book {
    color: inherit;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    display: block;
    width: fit-content;

    padding-bottom: 7px;
    border-bottom: solid 1px #{$text-color};
  }
}

.nav__link {
  position: relative;
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;

  &::after {
    content: ' ';
    display: block;
    bottom: -8px;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $main-page-color;

    transform: scale(0);
    transition: transform 0.3s;
    transform-origin: left;
  }

  &:hover::after {
    transform: scale(1);
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
