.aside {
  height: 100vh;
  background-color: $red-text-color;
  font-weight: $bold-style-text;
  color: $main-white-text-color;
  text-transform: uppercase;

  &__container {
    @include onTablet {
      padding: 32px 72px 298px;
    }

    @include onDesktop {
      padding: 32px 121px 106px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @include onDesktop {
      margin-bottom: 55px;
    }
  }

  &__logo {
    @include onTablet {
      width: 64px;
      height: 46px;
    }

    @include onDesktop {
      width: 87px;
      height: 65px;
    }
  }

  &__icon {
    @include onTablet {
      width: 24px;
      height: 24px;
    }

    @include onDesktop {
      width: 32px;
      height: 32px;
    }
  }
}
