.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 24px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }


  &__item--1 {

    @include onTablet  {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 1 / 5 ;
    }
  }


  &__item--2 {

    @include onTablet  {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 5 / 9;
    }

  }

  &__item--3 {

    @include onTablet  {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 9 / 13;
    }
 }
}
