.back {
  position: relative;

  &__images {
    position: absolute;
  }

  &__image {
    position: absolute;
    width: 100vw;
    height: 200px;
    margin-left: -20px;
    object-fit: cover;

    @include onTablet {
      margin-left: -72px;
      height: 400px;
    }

    @include onDesktop {
      margin-left: -120px;
      height: 460px;
    }
  }
}

.about-us {
  position: relative;
  margin-top: 148px;

  @include onTablet {
    margin-top: 336px;
  }

  @include onDesktop {
    margin-top: 396px;
  }
}
