.back-image {
  background-image: url(../images/background-image.png);
  margin: -200px;
  width: auto;
  margin-top: 96px;

  height: 200px;

  background-size: cover;
  background-position: center;
  margin-bottom: 48px;

  @include onTablet {
    margin-top: 120px;
    height: 400px;
    margin-bottom: 56px;
  }

  @include onDesktop {
    margin-top: 120px;
    height: 460px;
    margin-bottom: 56px;
  }
}
