.background-between-section {
  background-image: url(/src/images/background-between-section.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 100%;

  @include onTablet {
    height: 400px;
  }

  @include onDesktop {
    height: 460px;
    background-attachment: fixed;
  }
}
