.background {
  position: sticky;
  z-index: -1;

  width: 100%;
  height: 200px;

  background-image: url('/src/images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include on-tablet {
    height: 480px;
  }

  @include on-deskpop {
    height: 555px;
  }
}
