.back-phone {
  background-image: url(/src/images/back-phone.png);
  background-position: center;
  background-size: cover;
  height: 460px;
  margin: 0 -120px ;

    &__image {
      width: 100%;
  }
}
