.banner {
  display: flex;
  justify-content: space-between;

  &__logo {
    display: block;
    width: 64px;
    height: 46px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__actions {
    display: flex;
    column-gap: 27px;
    align-items: center;
  }
}
