.banner {
  height: 200px;
  background: url("../images/banner-bg.png");
  background-position: 50% 50%;
  background-size: cover;

  @include onTablet {
    height: 400px;
  }

  @include onDesctop {
    height: 460px;
  }
}
