.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-bottom: -64px;

  @include tablet {
   height: 460px;
  }

  @include desktop {
   height: 526px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
