.top-bar {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-size) {
    padding: 36px 72px;
  }

  @media (min-width: $desktop-size) {
    padding: 36px 120px;
  }

  &__logo-link {
    display: flex;
    width: 130px;
    height: 38px;

    @media (min-width: $tablet-size) {
      width: 187px;
      height: 56px;
    }
  }

  &__logo {
    width: 100%;
  }

  &__icons {
    display: flex;
    gap: 24px;

    @media (min-width: $tablet-size) {
      gap: 32px;
    }
  }
}

