.top__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px; // вертикал

  @include content-padding-in-line; // відступ горизонт (20px)

  @include on-table {
    padding-block: 36px;
  }

  &__logo {
    display: flex;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }
}
