.between-sections {
  height: 200px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  position: relative;
  background-image: url(/src/images/bg-about-us.png);
  background-size: cover;
  background-position: center;

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
  }
}
