.between-sections {
  background-image: url(/src/images/bg-about-us.png);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  padding: 0;
  margin: 0;

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
  }
}
