.between-section-image {
  margin-bottom: 48px;

  height: 400px;
  background-image: url(../images/categories/bottom-image.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    margin-bottom: 56px;
    height: 400px;
  }

  @include onDesktop {
    margin-bottom: 56px;
    height: 460px;
  }
}
