.bg-block {
  background-image: url(../images/bg-block.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;

  margin: 0 -20px;
  margin-bottom: 48px;

  @include onTablet {
    margin: 0 -72px;
    margin-bottom: 56px;
    height: 400px;
    background-size: auto;
    background-attachment: fixed;
    position: sticky;
    z-index: -1;
  }

  @include onDesktop {
    height: 460px;
  }
}
