.big-photo {
  width: 100vw;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 48px;

  @include on-tablet {
    height: 400px;
    margin-bottom: 56px;
  }

  @include on-desktop {
    height: 460px;
  }
}
