@import '../global-vars';

.bikes {

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    width: $max-width;
    justify-self: center;
    justify-items: center;
    gap: 4rem;

    @media (max-width: 768px) {
      & {
        grid-template-columns: repeat(1, minmax(280px, 1fr));
      }
    }
  }

  &__title {
    text-align: center;
    font-size: clamp($subtitle-min-font-size, 5vw, $subtitle-max-font-size);
  }

}
