.bike-card {
  margin-bottom: 40px;

  text-decoration: none;
  color: $mainLight;

  transition: transform $transitionDuration;

  @include on-tablet {
    margin-bottom: 48px;
  }

  @include on-desktop {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__image {
    display: block;
    width: 100%;
    margin-bottom: 32px;
  }

  &__title {
    margin: 0 0 8px;
  }

  &__description {
    margin: 0 0 16px;
  }

  &__price {
    margin: 0;
  }

  &:hover {
    transform: scale(1.1);
  }
}
