.bike {
  &__photo {
    @include hover-photos(transform, scale(1.1), $transition-time);

    width: 100%;
  }

  &__title {
    margin-top: 32px;
    font-weight: 700;
    line-height: 34px;
    font-size: 24px;
  }

  &__description {
    margin: 8px 0 16px;
    line-height: 23px;
    font-weight: 400;
  }

  &__price {
    line-height: 34px;
    font-size: 24px;
    font-weight: 700;
  }
}
