.bike-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;

  text-decoration: none;
  border-radius: 40px;
  background-color: $buttons-color;
  color: $main-black-color;
  font-weight: 700;
  line-height: 27px;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }

  &:active {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}
