.bike {
  width: 100%;

  @include laptop {
    max-width: 392px;
  }

  &__link {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include hover(transform, scale(1.05));
  }

  &__image {
    max-width: 100%;
  }
}
