.bike {
  &__photo {
    width: 100%;
  }

  &__title {
    font-size: 24px;
    margin-top: 32px;
    font-weight: 700;
  }

  &__description {
    margin: 8px 0 16px;
    font-weight: 400;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
  }
}
