.bike-card {

  &__img {
    max-width: 100%;

    @include onTablet {
      max-width: none;
      max-height: 100%;
    }

    @include onPC {
      @include hover(transform, scale(1.2));
    }
  }

  &__name {
    display: block;
    margin: 0;
    margin-top: 32px;

    font-size: 24px;
    font-weight: 700;
    line-height: $main-line-height;
  }

  &__description {
    display: block;
    margin: 0;
    margin-top: 8px;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }
}
