.bike-card {
  &__link {
    @include flex-align-center;
  }

  &__image {
    width: 100%;
    @include hover-increase_active-decrease;
  }

  &__bold-text {
    @include article-title-styles;
  }

  &__title {
    margin-top: 32px;
    margin-bottom: 0;
  }

  &__description {
    margin-top: 8px;
    margin-bottom: 0;
  }

  &__price {
    margin-top: 16px;
    margin-bottom: 0;
  }

}
