.bikes {
  &__products {
    @include page-grid;

    row-gap: 40px;
    grid-template-columns: 1fr;

  }

  &__product{
    margin-bottom: 92px;
    grid-column: 1 / -1;

    @include on-tablet{
      margin-bottom: 120px;
      grid-column: 2 / -2;
    }

    @include on-desktop{
      margin-bottom: 144px;
      grid-column: span 4;
    }
  }
}
