.bikes {
  @include hover(transform, scale(1.05));
  &__photo {
    width: 100%;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
  }
}
