.block1 {
  margin-right: 24px;
  width: 324px;

  @include phone {
    width: 240px;
    padding: 0 16px;
  }
}

.block2 {
  margin-right: 24px;
  width: 324px;

  @include phone {
    width: 240px;
    padding: 0 16px;
  }
}

.block3 {
  width: 324px;

  @include phone {
    width: 240px;
    padding: 0 16px;
  }
}

.block4 {
  @include phone {
    max-width: 300px;
  }
}

.block5 {
  width: 100%;
}

.block7 {

  @include phone {
    width: 100%;
  }
}

.block9 {

  width: 100%;

  @include phone {
    width: 100%;
  }
}
