.block {
  margin: 0 25px 0 0;

  &__none {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__day {
    list-style: none;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__time {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #161616;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
