.block {

  &__title {
    font-weight: 400;
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    color: #9393a3;
  }

  &__text {
    margin: 0;
    font-family: 'Space Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-top: 8px;
    text-decoration: none;
    color: $main-text-color;
    cursor: pointer;
    
    @include hover (color, #ff0000);
  }
}
