@import '../variables';

.blog {
  display: flex;
  flex-direction: column;
  gap: 24px;


  &__item {
    width: 100%;
  }
  &__photos {
    display: grid;
    gap: 15px;

    &--first {
      grid-template-columns: repeat(1, 2fr  1fr);
    }

    &--second {
      grid-template-columns: repeat(3, 1fr);
    }

    &--third {
      grid-template-columns: repeat(1, 1fr  2fr);
    }
  }

  &__photo {
    cursor: pointer;

    &--new {
      background-image: url(../images/exhibition/new1.svg);
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--statue {
      background-image: url(../images/exhibition/statue1.svg);
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
    }

    transition: $main-transition;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__info {
    transition: $main-transition;
    &:hover {
      transform: translateY(-5px);
    }
  }

}
