body {
  margin: 0;
  min-width: 500px;
  background-color: #1D1D1D;
  color: #fff;
  font-family: Poppins, sans-serif;

  @include on-tablet {
    min-width: 768px;
  }
  @include on-desktop {
    min-width: 1024px;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
