.main {
  display: grid;
  row-gap: 100px;
  padding-block: 100px;
  color: $mainDark;

  @include on-tablet {
    row-gap: 140px;
    padding-block: 140px;
  }
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
  margin: 0;

  @include on-tablet {
    font-size: 48px;
    line-height: 48px;
  }
}

.section-subtitle {
  margin-top: 8px;
  text-align: center;
}

.labelblock {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 1 / 4;
  }

  @include on-desltop {
    grid-column: span 5;
  }

  &__subtitle {
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    line-height: 16.8px;
    color: $defaultRed;
    margin: 0;
  }
}

.info {
  display: grid;
  gap: 24px;
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 4 / 7;
  }

  @include on-desltop {
    grid-column: span 5;
  }

  &__block {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }

  &__label {
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
  }
}

.timetable {
  display: flex;
  gap: 24px;

  &__time {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.images {
  @include page-grid;
}

.trioImages {
  display: grid;
  columns: 3;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);

  @include on-tablet {
    gap: 16px;
  }
}

.description {
  margin-top: 24px;
}

.contact {
  gap: 8px;
}

.form {
  gap: 32px;

  &__block {
    gap: 16px;

    & > input {
      height: 48px;
    }

    & > textarea {
      height: 144px;
    }
  }
}

.footer {
  background-image: url(../images/FooterBg.png);
  background-position: center;
  background-size: cover;
  height: 180px;
  width: 100%;
  z-index: -1;

  @include on-tablet {
    height: 359px;
  }
}

.underlineGray:hover {
  text-decoration: underline $defaultGray;
}
