.main {
  padding: 60px 20px;
}

.section {
  margin-bottom: 92px;
}

.section__header {
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
  margin-bottom: 48px;
}

.section__header1 {
  text-align: left;
  margin-bottom: 32px;
  margin-top: 0;
}

.section--text {
  font-size: 24px;
  font-weight: 500;
}

.bike {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bike--price,
.bike--name {
  font-size: 24px;
  font-weight: 700;
}

.content__flex {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 16px;
}

.content__header {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
}

.content__text {
  margin-top: 8px;
  margin-bottom: 40px;
}

.section3 {
  margin-bottom: 40px;
}

.button {
  width: 100%;
  height: 58px;
  background: #fff;
  border-radius: 40px;
}

.button__text {
  text-align: center;
  line-height: 30%;
  font-weight: 700;
  font-size: 20px;
}

.contact--us {
  padding-right: 20px;
}

.contact__input {
  height: 48px;
  border-radius: 40px;
  padding-left: 16px;
  line-height: 20px;
  font-size: 14px;
  margin-right: 20px;
  width: 100%;
  margin-bottom: 16px;
}

.contact__input::placeholder {
  font-size: 14px;
  line-height: 20px;
}

.contact__input:last-child {
  padding: 16px 14px;
  height: 148px;
  margin-bottom: 32px;
}

.section4 {
  margin-bottom: 48px;
}
