.body-main {
  &__container {
    @include container;
  }
}

.recommended {
  padding-top: 64px;

  @include onTab {
    padding-top: 120px;
  }

  &__grid {
    @include grid;
  }

  &__item {
    grid-column: 1 / -1;

    &:not(:last-child) {
      margin-bottom: 40px;
      @include onDesk {
        margin-bottom: 0;
      }
    }

    @include onDesk {
      grid-column: span 4;
      margin-bottom: 0;
    }
  }
}

.card {
  &__img-box {
    margin-bottom: 24px;
    position: relative;
    padding-bottom: 100%;
  }

  &__img {
    position: absolute;
    width: 100%;
    cursor: pointer;
    transform: scale(1);
    @include hover (transform, scale(1.05));
  }

  &__text-item {

    &:nth-child(1) {
      margin-bottom: 8px;
    }

    &:nth-child(2) {
      margin-bottom: 12px;
    }

    &--weight {
      &--norm {
        font-family: "Space Mono", monospace;
        font-weight: 400;
      }
    }

  }

}

.categories {

  padding-top: 96px;

  @include onTab {
    padding-top: 120px;
  }

  &__title-wrapper {
    @include grid;
  }

  &__title {
    grid-column: span 2;

    @include onTab {
      grid-column: span 5;
    }

    @include onDesk {
      grid-column: span 7;
    }

  }

  &__btn-box {
    @include grid;
  }

  &__btn {
    grid-column: span 2;
    @include onTab {
      grid-column: 1 / -1;
    }

    @include onDesk {
      grid-column: span 4;
    }
  }

  &__wrapper {
    margin-bottom: 40px;
    display: grid;
    row-gap: 40px;

    @include onTab {
      row-gap: 56px;
      margin-bottom: 56px;
    }
  }

  .category {

    &__photos {
      margin-bottom: 16px;
      @include grid;
    }

    &__link {
      position: relative;

      &--wide {
        @include onTab {
          grid-column: span 4;
        }

        @include onDesk {
          grid-column: span 8;
        }
      }

      &--square {
        height: 0;
        padding-bottom: 100%;
        @include onTab {
          grid-column: span 2;
        }

        @include onDesk {
          grid-column: span 4;
        }
      }
    }

    &__photo {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__title {
      font-size: 16px;
      line-height: 22px;

      @include onTab {
        font-size: 24px;
        line-height: 33px;
      }
    }
  }

}

.why {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include onTab {
    padding-top: 56px;
  }

  @include grid;

  &__title {
    grid-column: span 2;

    @include onTab {
      margin-bottom: 0;
      grid-column: span 3;
    }

    @include onDesk {
      grid-column: span 6;
    }
  }

  &__statement {
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    grid-column: span 3;

    @include onDesk {
      grid-column: span 6;
    }
  }

  &__stat-item {
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 22px;
    }
  }

}

.image {
  padding-top: 96px;
  &__box {
    position: relative;
    height: 200px;
    @include onTab {
      height: 400px;
    }

    @include onDesk {
      height: 460px;
    }
  }
  &__elem {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
