.bottom__images {
  height: 200px;
  background-image: url(../images/bottom_im.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
  }
}
