.bottom {
  padding-bottom: 88px;
  
  @include constentPaddingInLaine;

  @include onTablet {
    padding-bottom: 130px;
  }

  &__title {
    margin: 0;
    font-weight: 700px;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
  
    @include onTablet {
      font-size: 64px;
    }
  }
}

