.button {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 40px;
  background-color: $main-text-color;
  color: $menu-color;
  font-size: $font-size;
  font-weight: $page-font-weight;
  line-height: 27px;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 4px 16px 0px rgba(232, 232, 240, 0.40);
  }
}
