.box {
  &__wrapper {
    @include gridColumns;
    margin-bottom: 16px;
  }

  &__image {
    &--large {
      grid-column: span 8;

      @include onLaptop {
        grid-column: span 4;
      }

      @include onMobile {
        grid-column: auto;
      }
    }

    &--small {
      grid-column: span 4;
      @include onLaptop {
        grid-column: span 2;
      }

      @include onMobile {
        grid-column: auto;
      }
    }
  }

  &__title {
    margin-bottom: 8px;
  }
}
