.branch {

  * {
    margin-bottom: 0;
    margin-top: 16px;
  }

  &__met-fifth-avenue {
    margin-top: 32px;

    @include onTablet {
      margin-top: -12px;
    }
  }

  &__closed-on {
    margin-top: 16px;
  }

  &__schedule {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    column-gap: 25px;
    margin-top: 0;
  }

  &__met-cloisters{
    margin-top: 24px;
  }

  &__holidays{
    margin-top: 0;
  }
}
