.breaker {
  display: flex;
  width: calc(100vw); /* На весь экран */
  height: 200px;
  background-image: url('/src/images/page-breaker.png');
  background-size: cover;
  margin-left: calc(50% - 50vw); /* Вытягиваем блок влево */

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
  }
}
