.browse {
  display: flex;
  flex-direction: column;
}

.browse__container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.browse__block {
  display: flex;
  gap: 20px;
}

.browse__image {
  background-size: cover;
  background-position: center;
  width: 130px;
  height: 130px;
}

.browse__subtitle {
  margin: 16px 0 0;
}

.browse__button {
  background-color: #292929;
  color: #fff;
  border-radius: 8px;
  padding: 0 48px;
  width: 280px;
  height: 56px;
  margin: 40px auto 0;
}

.browse__button:active {
  background-color: #111;
}

.all--left {
  background-image: url(../../images/mobile/browse/all-left.png);
}

.all--right {
  background-image: url(../../images/mobile/browse/all-right.png);
}

.audio--left {
  background-image: url(../../images/mobile/browse/audio-left.png);
}

.audio--right {
  background-image: url(../../images/mobile/browse/audio-right.png);
}

.access--left {
  background-image: url(../../images/mobile/browse/access-left.png);
}

.access--right {
  background-image: url(../../images/mobile/browse/access-right.png);
}

@media (min-width: 744px) {
  .browse__block {
    gap: 24px;
  }

  .browse__image {
    width: 184px;
    height: 184px;
  }

  .image--large {
    width: 392px;
  }

  .browse__button {
    width: 600px;
    margin-top: 56px;
  }

  .all--left {
    background-image: url(../../images/tablet/browse/all-left.png);
  }

  .all--right {
    background-image: url(../../images/tablet/browse/all-right.png);
  }

  .audio--left {
    background-image: url(../../images/tablet/browse/audio-left.png);
  }

  .audio--right {
    background-image: url(../../images/tablet/browse/audio-right.png);
  }

  .access--left {
    background-image: url(../../images/tablet/browse/accessories-left.png);
  }

  .access--right {
    background-image: url(../../images/tablet/browse/accessories-right.png);
  }
}

@media (min-width: 1260px) {
  .browse__image {
    width: 324px;
    height: 324px;
  }

  .image--large {
    width: 672px;
  }

  .browse__button {
    width: 324px;
    margin: 56px 0 0;
  }

  .all--left {
    background-image: url(../../images/desktop/browse/all-left.png);
  }

  .all--right {
    background-image: url(../../images/desktop/browse/all-right.png);
  }

  .audio--left {
    background-image: url(../../images/desktop/browse/audio-left.png);
  }

  .audio--right {
    background-image: url(../../images/desktop/browse/audio-right.png);
  }

  .access--left {
    background-image: url(../../images/desktop/browse/accessories-left.png);
  }

  .access--right {
    background-image: url(../../images/desktop/browse/accessories-right.png);
  }
}
