.browse {
  &__content {
    @include pageGrid;
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 56px;
    }
  }

  &__categories {
    grid-column: 1 / -1;
    @include pageGrid;
    row-gap: 40px;
  }

  &__category {
    grid-column: 1 / -1;
  }

  &__button {
    grid-column: 1 / -1;
    margin-top: 40px;

    @include onDesktop {
      grid-column: 1 / 5;
    }
  }
}
