
.browse {

  &__title {
    margin-bottom: 48px;

    font-family: $font-main;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;

    @include onTablet {
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
    }
  }

  &__group {
    margin-bottom: 16px;

    display: flex;
    gap: 20px;

    &-title {
      margin-bottom: 40px;

      font-family: $font-main;
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
    }
  }

  &__images {
    display: flex;
    width: 100%;
    gap: 26px;
  }

  &__image-container {
    display: inline-block;
    position: relative;
    width: 130px;
    max-width: 100%;
    height: 130px;
    max-height: 187px;
    flex-grow: 1;
    overflow: hidden;

    @include onTablet() {
      &--flex-grow--2 {
        flex-grow: 2;
      }

      &--flex-grow--5 {
        flex-grow: 5;
      }
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;

  }

  &__button {
    margin: 0 auto 96px;

    @include onDesktop {
      margin-right: 0;
    }
  }
}
