.btn {
  display: flex;
  justify-content: center;

  &__button {
    padding: 15px 109px;

    @include onTablet {
      padding: 15px 165px;
    }

    @include onDesktop {
      padding: 15px 131px;
      margin-bottom: 60px;
    }

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: $main-text-color;
    text-decoration: none;
    border: none;
    border-radius: 40px;
    background-color: #fff;

    @include hover(box-shadow, 1px 4px 16px rgba(232, 232, 240, 0.4));
    @include active(box-shadow, 1px 4px 16px rgba(232, 232, 240, 0.64));
  }
}
