.btn {
  all: unset;

  display: block;
  padding: 14.5px 48px;
  box-sizing: border-box;
  width: 100%;

  text-align: center;
  line-height: 27px;
  font-weight: 700;

  color: $accent-text-color;
  border-radius: 8px;
  cursor: pointer;

  &--fixed {
    @include onDesktop {
      width: 324px;
    }
  }

  &--content {
    background-color: $button-main-bg-color;
  }

  &--form {
    background-color: $button-secondary-bg-color;
  }

  @include hover {
    background-color: $button-secondary-bg-color;
  }

  &:active {
    background-color: $button-active-bg-color;
  }
}
