.btn {
  background-color: $main-text-color;
  border-radius: 40px;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: $main-color;
  text-decoration: none;
}
