.burger {
  height: 100vh;
  background: $burger-bg-color;
  font-weight: 700;
  text-transform: uppercase;
  overflow: auto;

  &__top {
    margin-bottom: 24px;
    position: sticky; 
    top: 0;
    z-index: 1;
    background-color: $burger-bg-color;

    @include on-tablet {
      margin-bottom: 8px;
    }
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    color: $secondary-txt-elemets-color;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
  }

  &__test-ride {
    display: block;
    padding-bottom: 7px;
    border-bottom: 2px solid $secondary-txt-elemets-color;
    width: fit-content;
    font-size: 12px;

    line-height: 16px;
    color: $secondary-txt-elemets-color;
    text-decoration: none;
  }
}
