.burger {
  height: 100vh;
  background: $burger-bg-color;
  font-weight: 700;
  text-transform: uppercase;

  &-content {
    @include contentPaddingInline;
  }

  &__top {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 8px;
    }
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    color: $burger-txt-brdr-color;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
  }

  &__test-ride {
    display: block;
    padding-bottom: 7px;
    border-bottom: 2px solid $burger-txt-brdr-color;
    width: fit-content;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 16px;
    color: $burger-txt-brdr-color;
    text-decoration: none;
  }
}
