.button {
  transition-duration: 300ms;
  height: 56px;
  border-radius: 8px;
  border: 1px solid transparent;
  background: #292929;
  color: #f8f8fa;
}

.button:hover {
  color: #292929;
  background-color: #f8f8fa;
}

.button:active {
  background-color: #111;
}
