.button {
  font-family: Cinzel, serif;
  height: 56px;
  width: 280px;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  align-items: center;
  color: $menu-text-color;
  background-color: $red-color;
  border: none;
  cursor: pointer;

 @include on-tablet {
  width: 324px;
 }


  &:hover {
    background-color: #AE1C23;
  }

  &:active {
    background-color: #EB343D;
  }
}
