.buttom {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: #F98921;
  border-radius: 8px;
  padding-block: 14.5px;
  text-decoration: none;
  font-weight: 700;
  size: 16px;
  color: #FFF;
  text-align: center;
  line-height: 27px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #1B2129;
  }

  &:active {
    background-color: #010810;
  }
}
