.button {
  display: block;
  height: 56px;
  border-radius: 40px;
  margin-top: 32px;
  background-color: $main-text-color;
  text-decoration: none;
  text-align: center;

  color: $menu-text-color;
  font-weight: 700;
  line-height: 56px;

  &:hover {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
  }

  &:active {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
  }

}
