  .button {
    box-sizing: border-box;
    height: 56px;

    color: #fff;
    background-color: $main-text-color;
    border: 2px solid $main-text-color;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    border-radius: 8px;
    width: 100%;

    &:hover {
      color: $main-text-color;
      background-color: #f8f8fa;
      border: 2px solid $main-text-color;
      border-radius: 8px;
      cursor: pointer;
    }

    &:active {
      background-color: #111;
      border: 2px solid #111;
      color: #fff;
    }
  }
