.button {
  margin-top: 32px;
  display: flex;
  height: 56px;
  justify-content: center;
  align-items: center;
  background: #F8F8FA;
  border-radius: 40px;
  cursor: pointer;

  color: #1D1D1D;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;

  @include hover(box-shadow, 1px 4px 16px 0 rgba(232, 232, 240, 0.40));

  &:active {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
  }
}
