.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 56px;
  padding: 20px;

  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;

  cursor: pointer;
  border-radius: 8px;
  background-color: $button-color;
  color: #fff;
  transition: color $transform-duration, background-color $transform-duration;

  &:hover {
    background-color: $button-hover-color;
    border: 2px solid $button-hover-color;
    color: $main-text-color;
  }

  &:active {
    background-color: $button-color;
    color: #fff;
  }
}
