.button__explore {
  margin-top: 40px;
  height: 56px;

  @include page-grid;

  @include on-tablet {
    margin-top: 48px;
  }

  &__link {
    grid-column: 1 / -1;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: $menu-text-color;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: $main-text-color;
    border: 1px solid $main-text-color;
    border-radius: 40px;
    box-sizing: border-box;
    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease;

    @include hover-button;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 5 / -5;
    }
  }
}
