.button {
  @include pageGrid;

  &-categories {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / -1;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  &-contacts {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / -1;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &-look {
    background-color: #F98921;
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    line-height: 27px;
    text-align: center;

    &:hover {
      background-color: #1B2129;
    }
  }
}
