.button {
  box-sizing: border-box;
  height: 56px;

  @include mainFontStyle;
  line-height: 27px;
  font-size: 16px;
  text-align: center;
  color: #fff;

  background-color: $main-text-color;
  border: 2px solid $main-text-color;
  border-radius: 8px;

  cursor: pointer;

  transition: all $effectDuration;

  &:hover {
    color: $main-text-color;
    background-color: #f8f8fa;
    border-color: #f0f1f4;
  }
  &:focus {
    color: #fff;
    background-color: #111;
    border-color: #111;
  }
}
