.call {
  position: relative;
}

.for-hover {
  position: absolute;
  top: -67px;
  right: -10;

  display: none;

  width: 200px;
  height: 116px;
  padding: 25px 55px 0 0;

  color: $header-text-color;
  text-align: right;
  text-shadow: 0 0 10px black;

  &:hover {
    display: block;
  }
}

.call:hover .for-hover,
.call:focus-within .for-hover {
  @include onDesktop {
    display: block;
  }
}

.text {
  display: block;
  display: none;
  color: $header-text-color;
  letter-spacing: 0;

  @include onDesktop {
    display: block;
  }
}

.phone-number {
  display: none;

  margin-bottom: 8px;

  color: $header-text-color;
  text-decoration: none;
  letter-spacing: 0;

  @include onDesktop {
    display: block;
  }

  &:hover {
    color: $main-text-color-red;
  }
}
