.call {
  position: relative;
  font-family: Cinzel, serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 27px;
  vertical-align: middle;
  text-transform: uppercase;
}

.for-hover {
  position: absolute;
  top: -67px;
  right: -10;

  display: none;

  width: 260px;
  height: 116px;
  padding: 25px 55px 0 0;

  text-align: right;
  color: white;
  cursor: pointer;

  &:hover {
    display: block;
  }
}

.call:hover .for-hover,
.call:focus-within .for-hover {
  @media (min-width: 1260px) {
    display: block;
  }
}

.text {
  display: block;
  display: none;
  color: white;

  @media (min-width: 1260px) {
    display: block;
  }
}

.phone-number {
  display: none;
  margin-bottom: 8px;

  color: white;
  text-decoration: none;

  @media (min-width: 1260px) {
    display: block;
  }

  &:hover {
    color: #d12d34;
  }
}
