.call {
  position: relative;
}

.for-hover {
  display: none;
  position: absolute;

  color: #fff;
  width: 201px;
  height: 116px;
  top: -67px;
  right: 50px;
  text-align: right;
}

.call:hover .for-hover,
.call:focus-within .for-hover {
  display: block;
  text-shadow: 0 0 10px black;
  padding-top: 27px;
}

.text {
  display: block;
  color: #fff;
  letter-spacing: 0;
}

.phone-number {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
  letter-spacing: 0;

  &:hover {
    color: $accent-color;
  }
}
