.callToOrder {
  line-height: 140%;
  letter-spacing: 2px;
  font-weight: $bold-text-font-weight;
  text-transform: uppercase;
  margin-bottom: 16px;

  &__phoneNumber-link {
    position: relative;
    color: inherit;
    text-decoration: none;

    @include hoveredUnderlineMenu;
  }

  &__text-link {
    position: relative;
    color: inherit;
    text-decoration: none;

    &:after {
      content: "";
      position: absolute;
      bottom: -4px;
      display: block;
      width: 100%;
      height: 1px;
      border-radius: 1px;
      background: $main-black-color;
    }
  }
}
