.card {

  &__img {
    margin-bottom: 24px;
    border-radius: 4px;

    transition: transform .5s;

    &:hover {
      transform: scale(1.04);
    }

    // width: 280px;
    // height: 280px;

    object-fit: contain;
    width: 100%;

    // @include on-tablet {
    //   // width: 600px;
    //   // height: 600px;
    // }

  }

  &__title {
    margin-bottom: 8px;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    color: rgba(27, 33, 41, 1);
  }

  &__text {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #1B2129;
    letter-spacing: 0.15px;

    @include on-tablet {
      margin-bottom: 34px;
    }
  }

  &__price {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    color: #1B2129;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }
}
