.card-product {
  &__img-link {
    margin-bottom: 32px;
  }

  &__img {
    width: 100%;
    transition: all $animation-standard-duration ease;

    &:hover {
      box-sizing: border-box;
      border: 1px solid gray;
      border-radius: 4px;
      transform: scale(1.05);
    }
  }

  &__title {
    margin: 32px 0 8px;

    @include text-formart-price-title-of-products;
  }

  &__details {
    margin: 0 0 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
  }

  &__price {
    margin: 0;

    @include text-formart-price-title-of-products;
  }
}
