.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff;

  width: 280px;
  height: 418px;

  /* margin-bottom: 40px; */

  &__img {
    width: 280px;
    height: 288px;
    margin-bottom: 32px;

    &--first {
      height: 130px;
      width: 130px;
      object-fit: cover;
    }

    &--second {
      height: 130px;
      width: 130px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__about {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__price {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
  }
}

.card__img--smaller-block {
  width: 280px;
  height: 288px;
  padding-top: 16px;
}
