.cards {
  display: grid;
  grid-template-columns: repeat(1, 280px);
  justify-content: center;

  @include onTablet {
    grid-template-columns: repeat(1, 392px);
    justify-content: center;
  }

  @include onDesctop {
    grid-template-columns: repeat(3, 324px);
    justify-content: space-between;
  }
}

.card {
  margin: 0 0 40px;

  @include onTablet {
    margin: 0 0 48px;
  }

  @include onDesctop {
    margin: 0;
  }
  &__img {
    width: 280px;
    margin-bottom: 32px;

    @include onTablet {
      width: 392px;
    }

    @include onDesctop {
      width: 324px;
    }
  }

  &__title {
    margin: 0 0 8px;
  }

  &__title,
  &__price {
    font-weight: 700;
    font-size: 24px;
  }

  &__description {
    font-size: 16px;
    margin: 0 0 16px;
  }

  &__price {
    margin: 0;
  }
}
