.categories {
  @include content-padding-inline;

  background-color: $background-color;
  font-family: $main-font;
  &--padding {
    padding-top: 96px;
    padding-bottom: 96px;

    @include on-tablet {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    @include on-desktop {
      padding-top: 128px;
      padding-bottom: 120px;
    }
  }

  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include image-scale;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;

    @include on-tablet {
      font-size: 24px;
      line-height: 33.6px;
    }
  }
}
