.cart {
  display: grid;
  margin-bottom: 64px;

  @include on-tablet {
    margin-bottom: 120px;
  }

  &__title {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__wrapper {
    display: grid;
    grid-column: 1/-1;
    margin-bottom: 48px;

    @include on-tablet {
      grid-column: 1/7;
      margin-bottom: 80px;
    }

    @include on-desktop {
      grid-column: 1/6;
      margin-bottom: 0;
    }
  }

  &__field {
    display: grid;
    font-size: 14px;

    &-form {
      height: 48px;
      padding-left: 16px;
      border: 1px solid transparent;
      border-radius: 8px;

      font-family: 'Space Mono', 'Courier New', Courier, monospace;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 1px;

      background: #f8f8fa;
      outline: none;

      &:hover {
        border-color: #d5d7de;
      }

      &:focus {
        border-color: #292929;
      }
    }
  }

  &__form {
    display: grid;
    row-gap: 16px;
  }

  &__message {
    display: grid;
    height: 148px;
    margin-bottom: 16px;

    &-text {
      resize: none;

      padding: 14px 16px;
      border: 1px solid transparent;
      border-radius: 8px;

      font-family: 'Space Mono', 'Courier New', Courier, monospace;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 1px;

      background: #f8f8fa;
      outline: none;

      &:hover {
        border-color: #d5d7de;
      }

      &:focus {
        border-color: #292929;
      }
    }
  }

  &__info {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/4;
    }

    @include on-desktop {
      grid-column: 7/13;
    }
  }

  &__item {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #9393a3;
  }

  &__link {
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
    color: #191919;
    text-decoration: none;

    &:hover {
      color: #9393a3;
    }
  }

  &__group {
    margin-bottom: 24px;
  }
}

input::placeholder,
textarea::placeholder {
  color: #7e7e83;
}
