.catalog {
  padding: 0 20px;

  @include on-tablet {
    padding: 0 72px;
  }

  @include on-computer {
    padding: 0 120px;
  }

  &__title {
    margin-bottom: 48px;
    font-weight: 700;
    line-height: 32px;
    color: #1B2129;
    font-size: 32px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    margin-bottom: 96px;

    border-radius: 8px;
    background-color: #F98921;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    transition: background-color .5s;

    &:hover {
      background-color: #1B2129;
    }

    &:active {
      background-color: #010810;
    }

    @include on-tablet {
      margin-bottom: 120px;
    }

    @include on-computer {
      width: 33%;
    }
  }
}
