.catalog {
margin-top: 48px;

  &__images {
    @include pageGrid;

    &--three-images {
      display: grid;
      column-gap: 8px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__image {

    &--wide {
      @include onTablet {
        grid-column: span 4;
      }

      @include onDesktop {
        grid-column: span 8;
      }
    }

    &--square {
      @include onTablet {
        grid-column: span ;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }
  }

  &__images--bodhisattvas-display-none {
    @include onTablet {
      display: none;
    }
  }

  &__description {
    margin-top: 24px;
    grid-column: 1 / -1;


    &__title {
      margin: 0;
      font-weight: bold;
      color: $secondary-text-color;
    }

    &__date {
      margin: 0;
    }
  }

}
