* {
  box-sizing: border-box;
}

.categories__title {
  margin: 0 0 48px;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.categories__wrapper {
  display: grid;
  row-gap: 40px;
}

.categories {
  padding-inline: 20px;
  display: grid;
  margin-top: 64px;
  margin-bottom: 48px;
}

.category__photo {
  --columns: 2;
  
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns),1fr);
}

.category__image:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: transform 0.5s;
}

.button__link {
  display: flex;
  width: 280px;
  height: 56px;
  padding: 0 48px;
  font-weight: 700;
  line-height: 27px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #F98921;
  padding-inline: 20px;
  text-decoration: none;
  color: #fff;
}

.button__link:hover {
  background: #1b2129;
}
