.categorie {
  &__photo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin-bottom: 16px;

    @include on-tablet {
      column-gap: 24px;
    }
  }

  &__image {
    width: 100%;
    height: 130px;
    object-fit: cover;

    @include hover(transform, scale(1.05));

    @include on-tablet {
      height: auto;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0;
  }
}
