.categories {
  padding: 48px 0 96px;

  &__items {
    padding: 48px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: inherit;
    text-decoration: none;

    &__images {
      display: flex;
      gap: 20px;
    }

    &__image {
      width: 100%;
      object-fit: cover;
      border-radius: 4px;

      &-block {
        width: 100%;
      }
    }

    &__title {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: $tablet) {
  .categories {
    padding: 60px 0 120px;

    &__items {
      padding: 56px 0;
      gap: 56px;
    }

    &-item {
      gap: 16px;

      &__images {
        gap: 24px;
      }

      &__image {
        width: 100%;

        &--big {
          aspect-ratio: 2 / 1;
        }

        &--small {
          aspect-ratio: 1;
        }

        &-block {

          &--big {
            flex: 2;
          }

          &--small {
            flex: 1;
          }
        }
      }

      &__title {
        font-size: 24px;
      }
    }
  }
}

@media screen and (min-width: 1260) {
  .categories {
    padding: 64px 0 120px;

    &__button {
      width: 324px;
    }
  }
}
