.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 64px;
    }
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__photo {
    width: 100%;
    height: auto;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;

    @include on-tablet {
      font-size: 24px;
    }
  }

  &__button {
    @include page-grid;

    height: 56px;
    width: 100%;
    cursor: pointer;
    background-color: $orange-color;
    border-color: $orange-color;
    font-weight: 700;
    box-shadow: none;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include on-desktop {
      width: 33.3%;
    }

    &:hover {
      background-color: $main-text-color;
      border-color: $main-text-color;
    }

    &:active {
      background-color: $active-color;
      border-color: $active-color;
    }
  }

  &__button-link {
    text-decoration: none;
    color: $white-color;
  }
}
