.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 100%;
  text-decoration: none;
  color: $button-color;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  border-radius: 8px;
  background: $link-button-color;

  &:hover {
    background: $main-color;
  }

  &:active {
    background: $button-pressed;
  }
}

