.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    position: relative;

    &--wide {
      @include transform-img(1.16);

      @include on-tablet {
        grid-column: span 4;

        @include transform-img(1.11);
      }

      @include on-desktop {
        grid-column: span 8;

        @include transform-img(1.06);
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include transform-img(1.16);

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;

        @include transform-img(1.13);
      }
    }
  }

  &__photo {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 4px;
  }

  &__title {
    margin: 0;

    font-family: $font-bold;
    font-weight: 700;
    font-size: 18px;
    line-height: $line-height;
  }
}
