.category {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__goods-photo {
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    gap: 20px;
  }

  &__one-photo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 130px;
    border-radius: 4px;

  }

  &__name {
    display: block;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
  }
}


