.categories {
  margin: 0 20px;

  &__title {
    font-weight: $second-font-weight;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 0;
    margin-bottom: 47px;
  }

  &__group {
    margin-bottom: 40px;

    &-title {
      margin-top: 16px;
      font-weight: $second-font-weight;
      font-size: 1.3rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__image {
    width: 130px;
    height: 130px;
    display: block;
  }

  &__view-all {
    &-button {
      width: 100%;
      height: 56px;
      background-color: $first-bg-buttom-color;
      color: $buttom-text-color;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      font-size: inherit;
      line-height: 27px;
      font-weight: $second-font-weight;
      letter-spacing: 0;

      &:hover {
        background-color: $second-bg-buttom-color;
      }

      &:active {
        background-color: $buttom-bg-color-pressed;
      }
    }
  }

  @media (min-width: $tablet-page-width) {
    margin: 0 72px;

    &__title {
      font-size: 2.5rem;
      line-height: 40px;
      margin-bottom: 56px;
    }

    &__group {
      margin-bottom: 56px;

      &-title {
        font-size: 1.5rem;
      }
    }

    &__list {
      gap: 24px;
    }

    &__image {
      height: 184px;
      width: 288px;
    }
  }

  @media (min-width: $des-page-width) {
    margin: 0 120px;

    &__title {
      font-size: 3rem;
      line-height: 48px;
    }

    &__image {
      height: 324px;
      width: 498px;
    }

    &__view-all-button {
      width: 324px;
    }
  }
}
