.categories {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-weight: 700;
  margin: 0 20px;
}

.categories__section {
  margin-bottom: 96px;
}

.categories__title {
  font-size: 32px;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 47px;
}

.categories__catalog {
  padding: 0;
  margin: 0;
}

.categories__block {
  margin-bottom: 40px;
}

.categories__box {
  display: flex;
  padding: 0;
  gap: 20px;
  margin-bottom: 16px;

}

.categories__img {
  width: 100%;
  height: auto;
}

.categories__subtitle {
  display: flex;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.button {
  line-height: 27px;
  border-radius: 8px;
  padding: 0 48px;
  height: 56px;
  background: #f98921;
  border: none;
  color: #fff;
  text-align: center;
}

.button:hover {
  background: #1b2129;
}

.button:active {
  background-color: #010810;
}

.image {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.1);
}
