.categories {
  max-width: 1260px;
  width: 100%;

  transition: $animationDuration;

  &__wrapper {
    @include container;

    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 56px;
    }
  }

  &__button {
    display: flex;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    background: $orange-elements;
    justify-content: center;
    align-items: center;

    transition: $animationDuration;

    &:hover {
      background-color: $main-text-color;
    }

    &:focus {
      background-color: #010810;
    }
  }

  &__view-all {
    display: flex;
    justify-content: center;
    width: 100%;

    text-decoration: none;
    color: #fff;
    font-weight: 700;
    line-height: 56px;
  }
}

.category {
  &__photos {
    @include pageGrid;
    margin-bottom: 16px;
  }

  &__link {
    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 16px;

    @include hover(transform, scale(1.1));
  }

  &__title {
    margin: 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
  }
}
