.categories {
  padding: 96px 20px 0;
}

.categories__container {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
}

.categories__button {
  line-height: 27px;
  font-family: "Space Grotesk", monospace, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.categories__title {
  letter-spacing: -2px;
}

@media (min-width: 744px) {
  .categories {
    padding: 120px 72px 0;
  }

  .categories__container {
    padding-top: 56px;
  }

  .categories__title {
    width: 496px;
  }
}

@media (min-width: 1260px) {
  .categories {
    padding: 128px 120px 0;
  }

  .categories__button {
    width: 324px;
  }
}
