.main {
  background-color: #fff;

  &__content {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    row-gap: 96px;
    padding-top: 64px;
    padding-bottom: 104px;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }

    @include on-desktop {
      padding-bottom: 128px;
    }
  }
}
