.collection {
  margin-top: 48px;
  background: $header-color;

  &__img {
    width: 130px;
    height: 130px;
    @include transition (transform, 700ms);
    @include collection;
    @include onTablet () {
      min-width: 184px;
      height: 184px;
    }
    @include onDesktop {
      width: 324px;
      height: 320px;
    }
  }
  &__pack {
    display: flex;
    justify-content: center;
    gap: 20px;
    @include onTablet() {
      gap: 24px;
    }
    &--2 {
      gap: 8px;
      @include onTablet () {
        gap: 24px;
      }
      & > .collection__img {
        width: 88px;
        height: 87px;
        @include onTablet () {
          height: 184px;
        }
        @include onDesktop {
          width: 324px;
          height: 320px;

        }
      }

    }
    &--1 > .collection__img:first-child {
      @include onTablet () {
        width: 392px;
      }
      @include onDesktop {
        width: 672px;
        @include collection (105%);
      }

    }
    &--3 {
      & > .collection__img:last-child {
        @include onTablet () {
          width: 392px;
        }
        @include onDesktop {
          width: 672px;
          @include collection (105%);
        }
      }
    }
  }
  &__title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $accent-color;
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
