.communication {
  &__title {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 140%;
    font-weight: 300;
  }

  &__information {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
