.comparison {
  max-width: 1020px;
  margin: 0 auto;
  
   &__bikes {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
      justify-content: center;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      justify-content: stretch;
    }
  }
}
