.compare {
  &__bikes {
    @include page-grid;

    row-gap: 40px;
    margin-bottom: 92px;

    @include on-tablet {
      row-gap: 48px;
      margin-bottom: 120px;
    }

    @include on-desktop {
      margin-bottom: 144px;
    }
  }

  &__bike {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &__title {
    @include on-desktop {
      margin-bottom: 56px;
    }
  }
}

