.comparing-bikes {
  margin-bottom: 92px;

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $main-text-color;
  }
}

.bike {
  color: $main-text-color;
  margin-bottom: 40px;

  &__img {
    margin-bottom: 32px;

    width: 280px;
    height: 228px;

    transition: transform $transition-duration;
  }

  &__name {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  &__description {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
  }
}

@media (min-width: 744px) {
  .comparing-bikes {
    margin-bottom: 120px;

    &__title {
      font-size: 48px;
    }
  }

  .bike {
    width: 392px;
    margin-bottom: 48px;
    margin-inline: auto;

    &__img {
      width: 392px;
      height: 319px;
    }

    &__img:hover {
      transform: scale(110%);
    }
  }
}

@media (min-width: 1260px) {
  .comparing-bikes {
    margin-bottom: 124px;
    &__title {
      margin-bottom: 56px;
    }
  }

  .bikes-container {
    display: flex;
    gap: 24px;
  }

  .bike {
    &__img {
      width: 324px;
      height: 256px;
    }
  }
}
