.compares {
    scroll-margin-top: $scroll-margin-top;

    &__title {
        margin-bottom: $section-title-margin;
        text-align: center;
    }

    &__bikes-wrapper {
        row-gap: clamp(40px, 6.5vw, 48px);

        @include page-grid;
    }

    &__bike {
        grid-column: 1 / -1;

        @include on-tablet {
            grid-column: 2 / -2;
        }

        @include on-desktop {
            grid-column: span 4;
        }
    }
}
