.card {
  display: flex;
  flex-direction: column;

  &__img {
    align-self: center;
    width: 280px;
    height: 228px;
    transition-duration: $transition-duration;

    &:nth-child(1) {
      margin-top: 48px;
    }

    margin-top: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--sporty-4 {
      background-image: url(../img/bicycles/bicycle-sporty4.png);
    }

    &--ride-in-town {
      background-image: url(../img/bicycles/bicycle-ride-in-town-ST.png);
    }

    &--agile-ride-3 {
      background-image: url(../img/bicycles/bicycle-agile-ride-3.png);
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

.lowerthird {
  text-align: left;

  &--bike {
    margin-top: 32px;
  }
}
