.compare-bikes {
  margin-top: 92px;

  @include onTablet {
    margin-top: 132px;
  }
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  justify-content: center;

  &__item {
    grid-column: 1/-1;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: start;

  &__title {
    margin-top: 32px;
  }

  &__about {
    margin-top: 8px;
  }

  &__price {
    margin-top: 16px;
  }
}
