.compare {
  @include displayFlex(column, start);
  padding-bottom: 92px;
  align-items: center;
  gap: 48px;
  color: $light-theme;

  &__logo {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-transform: capitalize;

    @include onLaptop {
      font-size: 64px;
      line-height: 64px;
    }
  }

  @include onLaptop {
    padding-bottom: 144px;

    &__card-wrapper {
      @include displayFlex(row, center);
      gap: 24px;
    }
  }
}
