.compare-bikes {
  &__products {
    @include pagegrid;

    row-gap: 40px;
  }

  &__product {
    grid-column: 1 / -1;

    @include ontablet {
      grid-column: 2 / -2;
    }

    @include ondesktop {
      grid-column: span 4;
    }
  }
}

.product {
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
  }
}
