.compare-bikes {
  margin-top: 92;

  @include on-tablet {
    @include page-grid;

    margin-top: 132px;
  }

  @include on-desktop {
    margin-top: 164px;
  }
}

.compare-bikes__title {
  margin-bottom: 48px;

  text-align: center;

  @include on-tablet {
    grid-column: 1 / -1;
  }

  @include on-desktop {
    margin-bottom: 56px;
  }
}

.compare-bikes__card {
  &:not(:last-child) {
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 48px;
    }

    @include on-desktop {
      margin-bottom: 0;
    }
  }
}

.compare-card {
  @include on-tablet {
    grid-column: 2 / -2;
  }

  @include on-desktop {
    grid-column: span 4;
  }
}

.compare-card__img {
  display: block;
  margin: 0 auto 32px;
}

.compare-card__name {
  margin-bottom: 8px;
}

.compare-card__description {
  margin-bottom: 16px;
}

.compare-card__price {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
}
