 .compared {
  &__img {
    width: 100%;
    margin-bottom: 32px;
    transition: $transition-300;
  }

  &__img:hover {
    transform: scale(1.05);
  }

  &__title {
    width: 100%;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;

  }

  &__text {
    width: 100%;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    width: 100%;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }
 }
