.compare-bikes {
  &__products {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      justify-content: stretch;

    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
    }
  }
}
