.comparison {
  &__bike-cards {
    @include on-tablet {
      @include grid;
    }

    @include on-desktop {
      display: flex;
      gap: 24px;
    }
  }

  &__title {
    margin: 0 0 48px;
  }

  &__bike-card {
    @include on-tablet {
      grid-column: 2 / -2;
    }
  }
}
