.compere-bikes {

  &__products {
    @include pageGrid;
    row-gap: 40px;
  }

  &__product {
    grid-column: 1 / -1;
    transition: transform;
    cursor: pointer;

    @include hover (transform, translateY(-10%));

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }
}

