.compare-bakes {
  &__product {
    @include page-grid;

    row-gap: 40px;
  }

  &__products {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include desktop {
      grid-column: span 4;
    }
  }
}
