.compare-bikes {
  &--margin-top {
    margin-top: 92px;
  }

  &__description {
    margin-bottom: 16px;
  }

  &__products {
    @include page-grid;
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

      @include on-desktop {
        grid-column: span 4;
      }
  }
}




