.contact {
  &-wrapper {
    @include page-grid;
  }

  display: grid;
  row-gap: 16px;
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 1 / 4;
  }

  @include on-desktop {
    grid-column: 1 / 6;
  }

  &__name {
    @include contact-input;
  }

  &__email {
    @include contact-input;
  }

  &__message {
    @include contact-input;

    height: 120px;
    border-radius: 16px;
    resize: none;
  }

  &__button {
    margin-top: 16px;

    @include button;
  }

  &::placeholder{
    color: $placeholder-color;
  }
}

.superscription {
  display: grid;
  row-gap: 24px;
  height: fit-content;
  padding-top: 48px;

  &--wrapper {
    display: grid;
    row-gap: 8px;
    height: fit-content;
  }

  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 4 / -1;
    padding-top: 0;
  }

  @include on-desktop {
    grid-column: 8 / -1;
    padding-top: 0;
  }

  &__phone {
    @include superscription-details;

    &-value {
      @include superscription-details-values;
    }
  }

  &__email {
    @include superscription-details;

    &-value {
      @include superscription-details-values;
    }
  }

  &__address {
    @include superscription-details;

    &-value {
      @include superscription-details-values;
    }
  }
}
