.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  &__section {
    &--name {
      color: $c-footer-smal-text;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 19.6px */
    }

    &--content {
      color: $c-footer-text;
      @include t-mono;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 22.4px */
    }
  }
}
