.contacts {
  @include sectionTitle;
  @include pageGrid;

  color: $main-dark-color;

  &__article {
    margin-top: 48px;

    &--left {
      grid-column: 1 / -1;

      @include onTablet {
        grid-column: 1 / 4;
      }

      @include onLaptop {
        grid-column: 1 / 4;
      }
    }

    &--center {
      grid-column: 1 / -1;

      @include onTablet {
        grid-column: 1 / 4;
      }

      @include onLaptop {
        grid-column: 4 / 7;
      }
    }

    &--right {
      grid-column: 1 / -1;

      @include onTablet {
        grid-column: 4 / -1;
        grid-row: 2 / 4;
      }

      @include onLaptop {
        grid-column: 8 / -1;
      }
    }
  }

  &__title {
    margin-top: 100px;
    margin-bottom: 48px;
    grid-column: 1 / -1;
    text-align: center;

    @include onTablet {
      margin-top: 140px;
    }
  }

  &__title-inside {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 27px;
  }

  &__phone-text {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
  }

  &__phone-number {
    margin-bottom: 8px;
    color: $phone-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    transition: color 0.3s;

    &:hover {
      color: $accent-main-color;
    }
  }

  &__adress-text {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
  }

  &__adress-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $phone-color;

    transition: color 0.3s;

    &:hover {
      color: $accent-main-color;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}

.form {
  width: 100%;
  margin: 48px auto 0;

  @include onTablet {
    width: 100%;
    margin: 0 auto;
  }

  @include onLaptop {
    width: 100%;
    margin: 0 auto;
  }

  &__name {
    @include formInputStyle;
    @include formInputHover;
    margin-bottom: 16px;
    height: 48px;
  }

  &__email {
    @include formInputStyle;
    @include formInputHover;
    margin-bottom: 16px;
    height: 48px;
  }

  &__message {
    @include formInputStyle;
    @include formInputHover;
    margin-bottom: 48px;
    height: 144px;
  }

  &__button {
    width: 100%;
    padding: 14px 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    background-color: $accent-main-color;
    border: 0;
    color: #fff;

    transition: all 0.3s;

    &:hover {
      background-color: $button-hover-color;
      cursor: pointer;
    }

    &:active {
      background-color: $active-button-color;
    }
  }
}
