.contact-us {
  section {
    @include content-padding-inline;
  }

  .contact__us__grid {
    @include page-grid;
  }

  .contact__us__block {
    display: grid;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: 7 / 10;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 24px;
    list-style: none;
    text-align: left;
  }

  p.contact__us__info {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #9393a3;
    line-height: 1.4;
  }

  a.contact__us__details {
    color: #191919;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s;

    &:hover {
      border-bottom-color: $main-text-color;
    }
  }

  .contact-form {
    display: grid;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: 1 / 5;
    }

    label {
      display: block;
      margin-bottom: 8px;
      font-size: 16px;
      font-family: 'Space Grotesk', sans-serif;
    }

    textarea {
      min-height: 140px;
      resize: none;
    }

    input,
    textarea {
      width: 100%;
      box-sizing: border-box;
      padding: 16px;
      border-radius: 6px;
      background-color: #f8f8fa;
      border: 2px solid transparent;
      font-family: 'Space Mono', monospace;
      transition: all 0.3s ease-in-out;

      &:focus {
        border-color: $active-bg-color;
        background-color: #fff;
        outline: none;
      }

      &:hover {
        border-color: $main-text-color;
      }

      &:active {
        background-color: #f0f0f0;
      }
    }

    input::placeholder,
    textarea::placeholder {
      font-family: 'Space Mono', sans-serif;
      font-size: 14px;
      color: #7e7e83;
    }

    .button--form {
      margin-bottom: 80px;
      padding: 16px 24px;
      background-color:$main-text-color;
      color: #fff;
      border: 2px solid #f0f1f4;
      border-radius: 6px;
      font-family: 'Space Mono', monospace;
      font-size: 16px;
      width: 100%;
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;

      &:hover {
        background-color: $hover-bg-color;
        color: $main-text-color;
      }

      &:focus {
        outline: none;
        border-color: $active-bg-color;
;
      }
    }
  }
}
