.contacts {
  margin-bottom: 64px;
  @include contentPaddingInline;

  &__title {
    margin: 104px 0 48px;
  }

  &__form {
    margin-bottom: 48px;
    display: grid;
    row-gap: 16px;
  }

  &__input {
    box-sizing: border-box;
    background-color: #F8F8FA;
    height: 48px;
    padding-left: 16px;
    border-radius: 8px;
    border: transparent;
    font-family: 'Space Mono', sans-serif;
    font-size: 14px;
  }

  &__textarea {
    box-sizing: border-box;
    padding: 14px 16px;
    height: 120px;
    border-radius: 8px;
    border: transparent;
    background-color: #F8F8FA;
    font-family: 'Space Mono', sans-serif;
    font-size: 14px;
  }

  &__button {
    margin: 32px 0 0 0;
    background-color: #F8F8FA;
    border: 2px solid #F0F1F4;
    border-radius: 8px;
    height: 56px;
    color: $main-text-color;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
  }

  &__info {
    display: grid;
    row-gap: 24px;
  }

  &__item {
    display: grid;
    row-gap: 8px;
  }

  &__label {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    color: #9393A3;
  }

  &__value {
    margin: 0;
    font-family: 'Space Mono', sans-serif;
    font-size: 16px;
    color: #191919;
    text-decoration: none;
  }
}
