.contactUs {
  &__input {
    @include input-textarea-style;

    height: 48px;
    margin-bottom: 16px;

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px #fff inset;
    }
  }

  &__textarea {
    @include input-textarea-style;

    font-family: inherit;
    resize: none;
    margin-bottom: 32px;
    height: 148px;
  }

  &__input:hover, &__textarea:hover {
    border: 1px solid #DBDBDB;
  }

  &__input::placeholder, &__textarea::placeholder {
    color: #7E7E83;
  }

  &__input:hover::placeholder, &__textarea:hover::placeholder {
    color: $main-text-color;
  }

  &__input:focus::placeholder, &__textarea:focus::placeholder {
    color: $main-text-color;
  }

  &__input:focus, &__textarea:focus {
    border: 2px solid $buttom-and-focus-color;
  }

  &__info {
    margin-top: 80px;
  }

  @media (min-width: $desktop-min-width) {
    & {
      display: grid;
      grid-template-columns: repeat(2, 600px);
    }

    &__form {
      padding-right: 111px;
     }

    &__info {
      margin-top: 104px;
    }
  }

  &__contactType {
    height: 20px;
    color: #9393A3;
    font-size: 14px;
    padding-bottom: 8px;
  }

  &__contactData {
    height: 22px;
    color: #191919;
    font-size: 16px;
    padding-bottom: 24px;
  }

  &__hrefStyle {
    height: inherit;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    transition-duration:  0.3s;

    &:hover {
      font-size: 19.2px;
    }
  }
}

