
.contacts-block {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__type {
    @include formFieldText;
    color: #9393a3;
  }

  &__content {
    color: #191919;
    text-decoration: none;

    &:hover {
      color: #00a;
    }
  }
}
