.contact__info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include on-tablet {
    grid-column: span 2;
  }

  @include on-desktop {
    grid-column: 8/11;
  }

  &--item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &--title {
    color: $main-text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;

    margin: 0;
    margin-bottom: 8px;
  }

  &--description {
    color: $main-text-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;

    text-decoration: none;
    transition: all $effect-duration;

    &:hover {
      color: $hover-text-color;
    }
  }
}
