.contact {
  &__wrap {
    row-gap: 20px;
    grid-column: 2/-2;
    @include on-tablet {
      row-gap: 24px;
      @include page-grid;
    }
    @include on-desktop {
      @include page-grid;
    }
  }

  &__form {
    display: grid;
    gap: 16px;
    margin-bottom: 24px;

    @include on-tablet {
      gap: 20px;
      grid-column: span 3;
    }
    @include on-desktop {
      gap: 24px;
      grid-column: span 5;
    }
  }

  &__input,
  &__textarea {
    background-color: $mainformbg-color;
    border-radius: 30px;
    padding: 14px 16px;
    font-size: 14px;
  }

  &__textarea {
    border-radius: 20px;
    height: 120px;
  }

  &__button {
    background-color: $mainbatton-color;
    font-weight: 700;
    font-style: bold;
    border-radius: 30px;
    padding: 14px;
    font-size: 16px;
    line-height: 27px;
    cursor: pointer;
    width: 100%;
    text-align: center;

    &:hover {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    }
    &:active {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    }
  }

  &__info {
    font-size: 14px;
    line-height: 1.6;
    @include on-tablet {
      gap: 20px;
      grid-column: 4/-1;
    }
    @include on-desktop {
      gap: 24px;
      grid-column: 7 / span 5;
    }
  }

  &__label {
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 4px;
  }

  &__text {
    margin: 0;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
  }

  &__text a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}
