.contacts {
  padding-bottom: 100px;

  &__content {
    @include onTablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__title {
    padding-bottom: 48px;
    text-align: center;
    font-size: 32px;
    line-height: 32px;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 48px;

    @include onDesktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__adress-title {
    margin-bottom: 16px;
    font-size: 16px;
  }

  &__type {
    margin-bottom: 4px;
    margin-top: 8px;
    font-size: 14px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__contact {
    font-weight: 700;
    color: #3e3e3e;
    text-decoration: none;

    &:hover {
      color: $Main-dark;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    @include onDesktop {
      padding-left: 100px;
    }

    &__button {
      height: 56px;
      background-color: $Accent-main;
      border: none;

      font-family: "Cinzel", serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      color: #fff;
      transition: all 0.3s;

      &:hover {
        background-color: #ae1c23;
      }
    }
  }

  &__form-field {
    height: 48px;
    padding: 14px 10px;
    margin-bottom: 16px;

    box-sizing: border-box;
    border: none;
    font-family: "Cinzel", serif;
    font-size: 14px;
    color: $Main-dark;
    background-color: #f8f8fa;

    &--textarea {
      height: 144px;
      margin-bottom: 32px;
      resize: none;
    }
  }

  input,
  textarea {
    &::placeholder {
      color: #7e7e83;
    }

    &:hover::placeholder {
      color: $Main-dark;
    }

    &:focus {
      border: 1px solid $Main-dark;
      border-radius: 0;
      outline: none;
    }

    &:focus::placeholder {
      color: $Main-dark;
    }
  }
}
