.container {
  margin: 0 auto;
  max-width: 1020px;
  padding-inline: 20px;
}

@media (min-width: 596px) {
  .container {
    padding-inline: 72px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-inline: 120px;
  }
}
