.contact-us {
  margin-bottom: 64px;
}

.contact-us__form {
  margin-bottom: 48px;
}

.contact-us__input {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 14px 16px;

  background: #f9f9f9;
  border: 1px solid transparent;
  border-radius: 8px;

  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #1b2129;

  transition: all 0.3s;
}

.contact-us__input:not(:last-child) {
  margin-bottom: 16px;
}

.contact-us__input::placeholder {
  font-family: "'Manrope'", sans-serif;
  color: #7e7e83;
  transition: all 0.3s;
}

.contact-us__input:hover {
  border: 1px solid #d5d7de;
}

.contact-us__input:hover::placeholder {
  color: #292929;
}

.contact-us__input:focus {
  outline: none;
  border: 2px solid #f98921;
}

.contact-us__input--textarea {
  height: 148px;

  resize: none;
  border-radius: 16px;
}

.contact-us__item:not(:last-child) {
  margin-bottom: 24px;
}

.contact-us__title {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #9fadc2;
}

.contact-us__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  text-decoration: none;
  color: #3e3e3e;

  transition: color 0.3s;
}

.contact-us__link:hover {
  color: #111;
}

@media (min-width: 596px) {
  .contact-us {
    margin-bottom: 120px;
  }

  .contact-us__form {
    margin-bottom: 80px;
  }
}

@media (min-width: 1024px) {
  .contact-us__form {
    margin-bottom: 0;
  }
}
