.contact-us__title,
.contact-us__sub-title,
.contact-us__phone-text,
.contact-us__phone-num,
.contact-us__address-text,
.contact-us__address-line  {
  margin: 0;
}

.contact-us__content-container,
.contact_us__contacts-container,
.contact-us__card-description,
.contact_us__phone,
.contact_us__address,
.contact-us__fieldset {
  display: flex;
  flex-direction: column;
}

.contact-us__content-container,
.contact_us__contacts-container {
  gap: 48px;
}

.contact-us__content-container {
  margin-top: 48px;
}

.contact-us__sub-title {
  font-size: 16px;
}

.contact-us__card-description {
  margin-top: 16px;
  gap: 8px;
}

.contact_us__phone,
.contact_us__address {
  gap: 4px;
}

.contact-us__phone-text {
  font-size: 14px;
}

.contact-us__phone-num {
  font-weight: 700;
}

.contact-us__address-text {
  font-size: 14px;
}

.contact-us__address-line {
  font-weight: 700;
  line-height: 22px;
}

.contact-us__link {
  color: inherit;
  text-decoration: none;
}

.contact-us__fieldset {
  gap: 16px;
  border: 0;
  padding: 0;
}

.contact-us__input {
  box-sizing: border-box;
  padding: 14px 11px;
  width: 280px;
}

.contact-us__textarea {
  height: 144px;
  resize: none;
}

.contact-us__btn {
  margin-top: 32px;
  width: 280px;
  display: block;
}


@media (min-width: 744px){

  .contact-us__content-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .contact-us__input {
    width: 288px;
  }

  .contact-us__btn {
    width: 288px;
  }

}

@media (min-width: 1260px){

  .contact_us__contacts-container {
    flex-direction: row;
    gap: 24px;
  }

  .contact-us__contacts-card {
    min-width: 237px;
  }

  .contact-us__btn {
    width: 411px;
  }

  .contact-us__input {
    width: 411px;
  }

}
