.contacts-form {
  grid-area: form;

  &__input-box {
    @include inline-padding;

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    border: 0;

    @include on-tablet {
      padding-right: 0;
    }

    @include on-desktop {
      padding-right: 0;
    }
  }

  &__button {
    width: 280px;
    margin-top: 16px;

    @include on-tablet {
      width: 288px;
      margin-top: 32px;
    }

    @include on-desktop {
      width: 411px;
    }
  }
}
