.contact-footer-wrapper {
  @include onDesktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 111px;
    align-items: start;
  }
}

.contact-us{
    @include onDesktop {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    

    &__form-field{
        display: flex;
        flex-direction: column;
        gap: 16px;

        &__item{
            margin-top: 0;
            width: 100%;
            border: none;
            background-color:#F9F9F9;
            border-radius: 8px;
            color: #7E7E83;
            font-family: Manrope, sans-serif;
            padding-left: 16px;
            height: 48px;
            letter-spacing: 0.15px;
            box-sizing:border-box;
            margin-bottom: 0;

            &:last-child {
                padding-top: 14px;
                height: 148px;
                resize: none;
            }
        }
    }
    
    &__button{
        background-color: $button-color;
        color: #FFF;
        width: 100%;
        height: 56px;
        border-radius: 7px;
        border: none;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
        display: block;
        font-family: Manrope, sans-serif;
        font-size: 16px;
        cursor: pointer;

        &:hover{
            border: none;
            transition: transform $effectDuration, background-color $effectDuration;
            background-color: $main-text-color;
        }

        @include onDesktop{
            margin-bottom: 120px;
        }
    }
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  border: 2px solid $button-color;
}

.contact-us form {
  @include onDesktop {
    align-self: start;
  }
}

.contact-title{
    margin-top: 64px;
    margin-bottom: 48px;
}