.contact-information {
  margin-top: 48px;

  grid-column: 1 / -2;

  @include onTablet {
    grid-column: 4 / 7;
  }

  @include onDesktop {
    grid-column: 8 / 11;
  }

  &__link {
    text-decoration: none;
    color: $light-color;

    transition: color $animation-duration;

    &:hover {
      color: gray;
    }

  }

  &__title {

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    padding-bottom: 8px;
  }

  &__subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    margin-bottom: 24px;
  }
}
