.contact {
  margin-top: 80px;

  &__title {
    display: flex;
    justify-content: center;

    @include font-setting (32px,500,100%,-1.5px);

    margin-bottom: 48px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    width: 277px;
    border-radius: 40px;
    margin-bottom: 16px;
  }

  &__text {
    width: 277px;
    border-radius: 16px;
    margin-bottom: 32px;
  }

  &__info-block {
    margin-bottom: 24px;
  }

  &__info-block:last-child {
    margin-bottom: 0;
  }


  &__info-title {
    @include font-setting(14px,400,140%);

    margin-bottom: 8px;
  }

  &__info-link {
    @include font-setting(16px,500,140%);

    color: $white;
  }
}
