.contact-us {
  section {
    @include content-padding-inline;
  }


  &__grid {
    @include page-grid;

    row-gap: 24px;
  }

  &__block {
    display: grid;
    gap: 16px;
    justify-items: start;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: 7 / 10;
    }
  }


      li {
        margin-bottom: 20px;
        list-style: none;
      }
    }


  p.contact__us__info {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #9393a3;
    line-height: 1.4;
  }

  a.contact__us__details {
    color: #191919;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 2px solid transparent;


    &:hover{
      border-bottom-color: #7e22ce;
  }
}

  .contact-form {
    display: grid;
    gap: 20px;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }

    label {
      display: block;
      margin-bottom: 8px;
      font-size: 16px;
      font-family: 'Space Grotesk', sans-serif;
    }

      textarea {
      resize: vertical;
      min-height: 140px;
    }

    input, textarea {
      width: 100%;
      padding: 16px;
      border-radius: 6px;
      background-color: #f8f8fa;
      border: 2px solid transparent;
      font-family: 'Space Mono', monospace;
      transition: all 0.3s ease-in-out;

      &:focus {
        border-color: #7e22ce;
        background-color: #fff;
        outline: none;
      }

      &:hover {
        border-color: #7e22ce;
      }

      &:active {
        background-color: #f0f0f0;
      }
    }


    input::placeholder, textarea::placeholder {
      font-family: 'Space Mono', sans-serif;
      font-size: 14px;
      color: #7e7e83;
    }
  }

    button {
      padding: 16px 24px;
      background-color: #fff;
      color: #7e22ce;
      border: 2px solid #F0F1F4;
      border-radius: 6px;
      font-family: 'Space Mono', monospace;
      font-size: 16px;
      cursor: pointer;

     &:hover{
      background-color: #7e22ce;
     }
  }


