.contact-form {
display: grid;
row-gap: 16px;
margin-top: 48px;


grid-column: 1 / -1;

@include onTablet {
  grid-column: 4 / 7;
}

@include onDesktop {
  grid-column: 8 / span 5;
}
}

.contact__form__wrap {
  @include pageGrid;

  grid-template-areas:
  "first third"
  "second .";


}

.contact-form__input {
  font-family: Cinzel;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: #F8F8FA;
  border: 0;
  height: 48px;
  padding-left: 20px;
}

.contact-form__input__message {
  height: 144px;
  padding-top: 20px;
}
.send-button {
  background-color: #D12D35;
height: 56px;
border: 0;
color: #fff;

}
