.contact-data {
  grid-column: 1 / -1 ;
  @include OnTablet {
    grid-column: 4/7;
  }
  @include OnDesktop {
    grid-column: 8/13;
  }
  &--light {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 8px;
  }
  &--bold {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 24px;
  }
  &--link {
    text-decoration: none;
    color: #fff;
  }
}
