.contacts__info {
  grid-column: 1 / -1;

  :hover {
    color: aqua;
  }

  &--data {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
  }

  &--title {
    font-size: 14px;
    font-weight: 400;
  }

  &--value {
    font-weight: 500;
  }

  @include on-tablet {
    grid-column: span 2;
    height: 56px;
  }

  @include on-desktop {
    grid-column: 8 / span 2;
  }
}
