.section {
  padding: 52px 0;
  margin-bottom: 8px;

  &__title{
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    padding: $text-padding;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include on-desktop {
      font-size: 64px;
      line-height: 64px;
    }
  }

  &__paragraph {
    padding: 24px 0;
    font-size: 23px;
    font-weight: 500;
    line-height: 32.2px;
  }
}

.article {
  margin: 40px 0;

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
  }

  &__title,
  &__paragraph {
    padding: $text-padding;
  }

  &__paragraph {
    font-size: 16px;
  }
}

.about-us {
  @include grid-setting;

  .section__title,
  .section__paragraph {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }
  }

  .section__paragraph {
    @include on-desktop {
      grid-column: span 6;
    }
  }

  .section__title {
    text-align: left;

    @include on-desktop {
      grid-column: span 5;
    }
  }
}
