.conteiner {
  @include padding-inline;
}

.main {
  &__content {
    display: grid;
    row-gap: 92px;
    padding-top: 60px;
    padding-bottom: 120px;

    flex-grow: 1;

    @include on-tablet {
      row-gap: 120px;
      padding-top: 120px;
      padding-bottom: 102px;
    }

    @include on-desktop {
      row-gap: 164px;
    }
  }
}
