.content-bikes {
  color: #fff;
  display: flex;
  gap: 24px;
  justify-items: center;
  margin-top: 56px;
  padding-inline: 120px;
  justify-content: center;
  margin-bottom: 144px;

  @media (max-width: 1259px) {
    display: block;
    padding-inline: 176px;
  }

  &__h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  &__p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
  }

  & img {
    width: 324px;
    height: 256px;
  }
}
