.contact-us {
  display: grid;
  padding-top: 64px;

  @include onTablet {
    padding-top: 120px;
  }
}

.contact-us--content {
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: span 6;
  }

  .form {
    display: grid;

    &__input {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 16px;
      background-color: $forms-default;
      color: $forms-text-default;
      border-radius: 8px;
      border: 0;
      height: 48px;
      padding-left: 20px;
    }

    &__last {
      padding-left: 0;
      resize: none;
      height: 148px;
      font-family: Manrope;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      color: $forms-text-default;
    }
  }

  .contact-us__button {
    height: 56px;
    color: $second-main-color;
    border: 0;
    padding: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    background-color: $color-button;
    transition-duration: $timing-for-animation;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onDesktop {
      margin-bottom: 120px;
    }

    &:hover {
      background-color: $main-text-color;
    }

    &::after {
      background-color: $button-before;
    }
  }
}
