.contact-info {
  gap: 24px;
  font-style: normal;

  @include column-flex;

  &__item {
    gap: 8px;

    @include column-flex;
  }

  &__item-label {
    color: $main-text-color;
    text-transform: capitalize;

    @include font(14px, 400);
  }

  &__link {
    color: $main-text-color;
    text-decoration: none;

    @include transition('color');
    @include font(16px, 500);
    @include hover {
      &:hover {
        color: #e8e8f0a3;
      }
    }
  }
}
