.container {
  padding-inline: 20px;

  overflow: hidden;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    max-width: 1020px;
    padding-inline: 120px;

    margin-inline: auto;
  }
}
