.contacts {
  padding-bottom: 120px;

  @include onTablet{
    padding-bottom: 72px;
  }

  @include onDesktop{
    padding-bottom: 134px;
  }
  &__wrapper{
    @include pageGrid;

    row-gap: 16px;
  }
}
