@use './../utils/variables.scss' as *;
@use './../utils/mixins.scss' as *;

.contacts__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 288px;

@media (min-width: $breakpoint-desktop) {
    max-width: 400px;
    margin-left: 20px;
}

&-field {
    &--name {
      border: none;
      outline: none;
      background-color: #f8f8fa;
      font-family: Cinzel, sans-serif;

      padding: 14px 11px;

      &:active {
        outline: black 1px solid;
      }
    }

    &--email {
      border: none;
      outline: none;
      background-color: #f8f8fa;
      font-family: Cinzel, sans-serif;

      padding: 14px 11px;

      &:active {
        outline: black 1px solid;
      }
    }

    &--message {
      border: none;
      outline: none;
      background-color: #f8f8fa;
      font-family: Cinzel, sans-serif;

      padding: 14px 11px 110px;

      &:active {
        outline: black 1px solid;
      }
    }
  }
}
