.container {
    padding: 100px 20px 84px;


    &__title {
        display: block;
        margin: 0 auto;
        color: $second-text-color;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -1.5px;
    }

    @media (min-width: 744px) {
        padding: 140px 72px;
    }

    @media (min-width: 1260px) {
        padding: 140px 189px 140px 120px;
    }
}
