.context-image {
  position: relative;
  height: 200px;
  width: 100%;

  @include onTablet {
    height: 400px;
  }

  @include onDesktop {
    height: 460px;
  }

  &__photo {
    position: absolute;
    background-attachment: fixed;
    left: -20px;
    right: -20px;
    bottom: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-image: url(../images/bottom-bg.png);

    @include onTablet {
      left: -72px;
      right: -72px;
      bottom: 0;
      top: 0;
    }

    @include onDesktop {
      left: -120px;
      right: -120px;
      bottom: 0;
      top: 0;
    }
  }
}
