.contact-information {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-style: normal;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: $font-weight-regular;
    letter-spacing: $main-letter-spacing;
    line-height: $base-line-hight;
    color: #9393a3;
  }

  &__details {
    cursor: $hover-cursor;
    margin: 0;
    padding: 0;
    font-size: $font-size-main;
    font-weight: $font-weight-regular;
    letter-spacing: $main-letter-spacing;
    line-height: $base-line-hight;
    color: $base-color;
    text-decoration: none;

    @include hovers(color, $actions-color, none);
  }
}
