.contact-form {
  color: $form-main-font-color;

  &__contact-input {
    width: 100%;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    line-height: (20 / 14);
    padding-block: 14px;
    padding-inline: 16px;
    color: inherit;
    margin-bottom: 16px;

    &::placeholder {
      color: $placeholder-color;
    }
  }

  &__contact-comment {
    display: block;
    width: 100%;
    color: inherit;
    border: none;
    border-radius: 16px;
    font-size: 14px;
    line-height: (20 / 14);
    padding-block: 14px;
    padding-inline: 16px;
    min-height: 148px;
    margin-bottom: 32px;
    resize: none;

    &::placeholder {
      color: $placeholder-color;
    }
  }
}
