@use '../utilities/mixins' as mix;

.contacts-list {
  position: sticky;
  bottom: 48px;
  z-index: 1;
  grid-column: 1 / -1;

  @include mix.on-tablet {
    grid-column: 1 / -1;
  }

  @include mix.on-desktop {
    grid-column: 7 / -1;
  }

  &__label {
    font-size: 14px;
    line-height: 19.6px;
    color: #9393a3;
  }

  &__text {
    font-family: 'Space Mono', sans-serif;
    font-size: 16px;
    line-height: 22.4px;
    color: #191919;

    @include mix.hover(color, #9393a3);
  }

  &__link {
    text-decoration: none;

  }

}
