.contact-form {
  display: grid;
  row-gap: 16px;

  &__field {
    height: 48px;
    outline: none;
    box-sizing: border-box;

    padding: 13px 15px;
    border-radius: 8px;
    background: #f8f8fa;
    border: 1px solid #f8f8fa;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Space Mono', sans-serif;

    transition-duration: 0.3s;

    &--textarea {
      resize: none;
      height: 148px;
      margin-bottom: 16px;
    }

    &:hover {
      border: 1px solid #d5d7de;
    }

    &:focus {
      border: 1px solid $main-text-color;
    }
  }
}
