.main {
  background: #1D1D1D;

  &__content {
    display: grid;
    row-gap: 92px;
    padding-block: 60px;


    @include on-tabled {
      padding-block: 120px;
      row-gap: 120px;
    }
  }
}

