.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact__form--text {
  height: 48px;
  border-radius: 8px;
  background-color: #F8F8FA;
  border: none;
  color: #7E7E83;
  font-size: 14px;
  line-height: 19.6px;
  box-sizing: border-box;
  padding: 14px 16px;
}

.contact__form--text:hover {
  border: 1px solid #D5D7DE;
  color: #292929;
}

.contact__form--text:target {
  border: 1px solid #292929;
  color: #292929;
}

.contact__form--button {
  height: 56px;
  border-radius: 8px;
  border: 2px solid #F0F1F4;
  background-color: #F8F8FA;
  font-weight: 700;
  line-height: 27px;
}

.text--field {
  height: 148px;
}

.contact__list {
  margin: 48px 0 64px;
  padding: 0;
}

.contact__title {
  font-size: 14px;
  line-height: 19.6px;
  color: #9393A3;
  margin: 24px 0 8px;
}

.contact__item {
  font-family: "Space Mono", sans-serif;
  list-style: none;
}

.contact__link {
  text-decoration: none;
  color: #191919;
}

@media (min-width: 744px) {
  .contact {
    margin: 30px auto;
  }

  .contact__form--text {
    width: 600px;
  }

  .contact__form--button {
    width: 600px;
  }

  .contact__list {
    margin: 80px 0 120px;
  }
}

@media (min-width: 1260px) {
  .contact {
    display: flex;
    flex-direction: row;
    gap: 111px;
    margin-top: 56px;
  }

  .contact__form--text {
    width: 411px;
  }

  .contact__form--button {
    width: 411px;
  }

  .contact__list {
    margin: 0;
  }

  .contact__list :first-child {
    margin-top: 0;
  }
}
