@import '../variables';

.contactUs{
    display: grid;
    row-gap: 48px;

    @include on-tablet{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }
  
    @include on-desktop{
        grid-template-columns: 6fr 5fr;
        column-gap: 111px;
    }

    &__article_group{
        display: grid;
        gap: 48px 24px;

        @include on-desktop{
            grid-template-columns: repeat(2, 1fr);
        }

        &__article{
            display: grid;
            row-gap: 16px;
            font-size: 16px;
            line-height: 27px;

            @include on-tablet{
                display: grid;
                gap: 16px;
            }
          
            @include on-desktop{
                display: flex;
                flex-direction: column;
                gap: 25px;
            }
    
            &__content{
                display: grid;
                row-gap: 8px;
    
                &__section{
                    display: grid;
                    row-gap: 4px;
    
                    &__title{
                        font-weight: 400;
                        font-size: 14px;
                    }

                    &__address{
                        line-height: 22.4px;
                    }
                }
            }
        }
    }

    &__form{
        display: grid;
        row-gap: 32px;

        @include on-tablet{
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        &__input-group{
            display: grid;
            row-gap: 16px;

            &__text_input{
                padding: 14px 11px;
                font-family: Cinzel, serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: black;
                background-color: $text-input-background-color;
                border-style: none;
                box-sizing: border-box;
                resize: none;

                &::placeholder{
                    color: $text-input-color;
                }

                &:hover{
                    box-shadow: 0 0 0 1px $input-border-color inset;
                }
                

                &:focus{
                    box-shadow: 0 0 0 1px black inset;
                    outline: none;
                }

                &--tall{
                    height: 144px;
                }
            }
        }
    }
}