.Contact {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-weight: 400;
}

.contact__section {
  margin: 0 20px 120px;
}

.contact__title {
  font-size: 32px;
  line-height: 32px;
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 48px;

}

.contact__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.contact__form--style {
  padding: 14px 16px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #f9f9f9;
  font-size: 14px;
  letter-spacing: 0.15px;

}

.contact__form--input:hover {
  border-radius: 8px;
  border: 1px solid #dbdbdb;
}

.contact__form--input:focus {
  border-radius: 8px;
  border: 2px solid #f98921;
}

.contact__form--input:not(:last-child) {
  margin-bottom: 16px;
}

.contact__form--message {
  margin-bottom: 32px;
  font-family: "Manrope", sans-serif;
}

.contact__information {
  padding: 0;
  margin: 0;
}

.contact__information--block:not(:last-child) {
  margin-bottom: 24px;
}

.contact__information--title {
  color: #9393a3;
  padding: 0;
  margin: 0;
}

.contact__information--nav {
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.contact__information--nav:hover {
  color: #9393a3;
}
