@import "../utils/variables";

.contact-details {
  line-height: 1.7rem;

  &__list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  &__title {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  &__label {
    margin-top: .5rem;
    margin-bottom: .25rem;
    font-weight: normal;
    font-size: 0.9rem;
    color: $main-dark-color
  }

  &__details {
    margin: 0;
    font-weight: bold;
  }

  &__address {
    margin: 0;
    font-weight: bold;
  }

  &__link {
    text-decoration: none;
    color: $text-color;
  }

  &--text-align-end {
    text-align: end;
  }

  &--title-mb-0 {
    .contact-details__title {
      margin-bottom: 0;
    }
  }
}
