.contacts {

  &__wrap {
    @include pageGrig;
    row-gap: 48px;

    &--contact-info {
      grid-column: 1/-1;

      @include onDesktop {
        grid-column: span 5;
      }
    }

    &--form {
      grid-column: 1/-1;

      @include onDesktop {
        grid-column: span 6;
      }
    }
  }

}
