.contacts {
  margin: 88px 0 64px;

  @include contentPaddingInline;

  @include pageGrid;

  @include onTablet {
    margin: 104 0 120;
  }

  &__title {
    margin: 0 0 48px;
    grid-column: 1 / -1;

    @include onTablet {
      font-size: 40px;
    }

    @include onDesktop {
      font-size: 48px;
      grid-column: span 6;
      margin: 0 0 56px;
    }
  }

  &__form {
    grid-column: 1 / -1;
    margin-bottom: 48px;
    display: grid;
    row-gap: 16px;
    transition: all 0.3s;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onDesktop {
      grid-column: 1 / 6;
    }
  }

  &__input {
    box-sizing: border-box;
    background-color: #F8F8FA;
    height: 48px;
    padding-left: 16px;
    border-radius: 8px;
    border: transparent;
    font-family: 'Space Mono', sans-serif;
    font-size: 14px;
    transition: all 0.3s;

    &:hover {
      border: 1px solid #D5D7DE;
    }

    &:active {
      color: #292929;
      border: 1px solid #292929;
    }
  }

  &__textarea {
    box-sizing: border-box;
    padding: 14px 16px;
    height: 148px;
    border-radius: 8px;
    border: transparent;
    background-color: #F8F8FA;
    font-family: 'Space Mono', sans-serif;
    font-size: 14px;
  }

  &__button {
    margin: 16px 0 0 0;
    background-color: $main-text-color;
    border-radius: 8px;
    height: 56px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Space Grotesk', sans-serif;
    transition: 0.3s;

    &:hover {
      border: 2px solid #F0F1F4;
      background-color: #F8F8FA;
      color: $main-text-color;
    }

    &:active {
      background-color: #111111;
      color: #fff;
    }
  }

  &__info {
    display: grid;
    row-gap: 24px;
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: 7 / -1;
      height: 244px;
    }
  }

  &__item {
    display: grid;
    row-gap: 8px;
  }

  &__label {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    color: #9393A3;
  }

  &__value {
    margin: 0;
    font-family: 'Space Mono', sans-serif;
    font-size: 16px;
    color: #191919;
    text-decoration: none;
  }
}
