.contacts-info {
  &__wrapper {
    margin-bottom: 24px;
    display: grid;
    row-gap: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.15px;
    color: $contacts-main-color;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    text-align: left;
  }

  &__description {
    margin: 0;
    line-height: 22.4px;
    letter-spacing: 0.15px;
    color: $contacts-secondary-color;
    text-decoration: none;
    font-family: 'Space Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;

    &:hover {
      text-shadow: 0 0 1px #515151;
      text-decoration: underline;
    }
  }
}
