.contact-inf {
  display: flex;
  gap: 24;

  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
  }

  &__link {
    display: block;
    width: 237px;
    text-decoration: none;
    color: inherit;
  }

  &__section {
    margin: 0;
    padding: 0;
  }

  &__text {
    margin: 0;

    &:hover {
      color: gray;
    }
  }
}
