.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    letter-spacing: 0.15px;
    width: fit-content;
    line-height: 140%;
  }

  &__type {
    font-size: 14px;
    color: $secondary-text-color;
  }

  &__info {
    text-decoration: none;
    color: $additional-text-color;

    @include hover {
      color: $secondary-text-color;
    }
  }
}
