.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 64px 20px;
  gap: 96px;

  @include on-tablet {
    padding: 120px 72px;
    gap: 120px;
  }

  @include on-desktop {
    max-width: 1260px;
    padding: 120px;
    gap: 128px;
  }
}
