.contact-us {
  &__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 14px 16px;
    border: 1px solid rgba($color: $hover-border-color, $alpha: 0.0);
    background-color: $input-background;
    border-radius: 8px;

    font-family: 'Space mono', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    &::placeholder {
      color: $input-placeholder-color;
    }

    &:nth-child(-n + 2){
      margin-bottom: 16px;

    }

    &--message {
      height: 148px;
    }

    &:hover {
      transition: color $effectDuration;
      &::placeholder {
        color: $main-text-color;
      }
    }

    @include hover(border-color, rgba($color: $hover-border-color, $alpha: 1.0));
  }

  &__button {
    margin-top: 32px;
  }

  &__info {
    margin-top: 48px;
  }
}
