.contacts {
  letter-spacing: 0.15px;
  font-weight: 400;
  margin: 48px 0 0;
}

.contacts__title {
  color: #9393A3;
  font-size: 14px;
  margin: 0 0 8px;
}

.contacts__contact {
  color: #191919;
  font-size: 16px;
  margin: 0 0 24px;
}

.contacts__contact:last-child {
  margin: 0;
}


@media (min-width: 1260px) {
  .contacts__contact {
    width: fit-content;
  }
}
