.contact {
  &__section-title {
    margin-bottom: 48px;
    text-align: center;
  }

  &__content {
    @include page-grid;
  }


  &__locations {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 48px;
    margin-bottom: 48px;
    grid-column: 1 / -1;
    font-weight: 700;

    @include on-tablet {
      margin-bottom: 0;
      grid-column: span 3;
      align-items: flex-start;
    }

    @include on-desktop {
      grid-column: span 6;
      flex-direction: row;
       row-gap: 60px;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 8 / -1;
    }
  }
}
