.content-details {
  margin-top: 48px;
  padding-inline: 120px;
  &__photo {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  &__text p {
    max-width: 672px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    margin: 0;
  }

  &__text h3 {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  &__section2 {
    margin-top: 48px;
  }

  &__section3 {
    margin-top: 48px;
  }

  &__button {
    width: 324px;
    height: 56px;
    background-color: #fff;
    border-radius: 40px;
    line-height: 56px;
    text-align: center;
    color: #1d1d1d;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;

    &__button {
      display: flex;
      justify-content: center;
      margin-top: 48px;
    }
  }

  &__button:hover {
    cursor: pointer;
    box-shadow: 1px 4px 16px #e8e8f066;
  }

  &__button:active {
    box-shadow: 1px 4px 16px #e8e8f0a3;
  }
}
