.context-image {

  &__photo {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../images/bottom-bg.png);

    @include onTablet {
      height: 400px;
    }
    @include onDesktop {
      height: 460px;
      object-position: center;
    }
  }
}
