.contact-details {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    font-size: 14px;
    line-height: 140%;
    color: $contact-title-color;
    margin-bottom: 8px;
  }

  &__link {
    position: relative;
    font-family: 'Space Mono', 'Space Grotesk', sans-serif;
    color: $contact-link-color;
    line-height: 140%;
    text-decoration: none;

    @include linkHover;
  }
}
