.contact-blocks {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__par {
    color: rgba(62, 62, 62, 1);
    font-size: 16px;
    line-height: 150%;

    &--label {
      color: $main-dark-color;
      font-weight: 400;
      font-size: 14px;
    }

    &--title {
      color: $main-dark-color
    }
  }
}
