.data-form {
  @include onTablet {
    width: 288px;
    height: 382px;

    padding-right: 24px;
  }

  @include onDesktop {
    width: 411px;
    height: 382px;

    padding-right: 198px;
  }
}

.data {
  padding-right: 20px;

  &__input {
    padding-top: 16px;
  }

  &__input-1 {
    padding-top: 16px;
    padding-bottom: 32px;
  }
}

.figure {
  padding-left: 16px;
  width: 100%;
  height: 48px;
  border-radius: 40px;

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 140%;
}

.figure2 {
  padding-top: 14px;
  padding-left: 16px;;
  width: 100%;
  height: 148px;
  border-radius: 16px;
  resize: none;

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 140%;
}
