.decorate-bg {
  &__img {
    width: 100%;
    height: 200px;
    background-image: url(./../images/section/bg-section.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include onTablet {
      height: 400px;
    }

    @include onDekstop {
      height: 460px;
    }
  }
}
