.description {
  &__wrapper {
    display: grid;
    row-gap: 24px;
  }

  &__item {
    transition: transform, color 0.3s;
    &:hover {
      color: $formTextColor;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
  }
}
