.description {
  @include pageGrid;
  background-color: #FCFAEF;
  ;

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__content {
    display: grid;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column:  8 / 13;
    }
  }

  &__history {
    margin: 0;
    line-height: 22.4px;
  }

  &__image {
    grid-column: 1 / -1;
    margin: 0;
    padding: 0;
    padding-bottom: 48px;

    @include onTablet {
      padding-bottom: 120px;
    }
  }

  &__bg {
    width: 100%;
  }
}
