.description {
  @include grid;

  margin-top: 60px;
  row-gap: 32px;

  & :nth-child(n) {
    @include phone-span-all-columns;
  }

  &__title {
    margin-bottom: 0;
  }

  &__text {
    font-weight: $font-weight-average;
    font-size: 23px;
    line-height: $standart-line-height;
    margin: 0;
  }
}
