.design {
  background-color: $whiteColor;
  color: #7e7e83;
  border-radius: 8px;
  font-family: 'Space Mono', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid $whiteColor;
  padding: 14px 16px;

  &:hover {
    color: $mainColor;
    border: 1px solid #d5d7de;
    box-sizing: border-box;
  }

  &:active {
    border: 1px solid $mainColor;
    color: $mainColor;
    box-sizing: border-box;
  }
}
