.icon {
  position: relative;
  display: inline-block;
}

.phone-tooltip {
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translate(-100%, -50%);
    margin: 24px 16px 0 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 4px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &__text{
      color: $second-text-color;
      text-align: right;
    }
}

.icon--phone:hover .phone-tooltip {
    opacity: 1;
    visibility: visible;
}



@media (max-width: 1260px) {
  .phone-tooltip {
    display: none;
  }
}
