.desktop-contact {
  &__tooltips {
    position: absolute;
    transform: translate(-100%, -65%);
  
    display: flex;
    margin-left: -20px;
    flex-direction: column;
    align-items: flex-end;
  
    line-height: 27px;
    font-weight: bold;
    color: $colorWhite;
    letter-spacing: 1px;
    opacity: 0;
    pointer-events: none;
    @include hover (opacity, 1);
  }
  
  &__text {
    display: inline-flex;
    width: max-content;
    color: $colorWhite;
    text-align: end;
    text-decoration: none;
    pointer-events: all;
   
    &:nth-child(2) {
      margin-bottom: 8px;
    }
  }

  @include onDesktop {
    &:hover .desktop-contact__tooltips {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
