.detailes {
  &__features {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 48px;
    }
  }

  &__link {
    @include pageGrid;
    height: $button-height;
    text-decoration: none;
  }

  &__button {
    @include button-behaviour;

    grid-column: 1 / -1;

    border: none;
    border-radius: $button-height / 2;
    font-weight: 700;
    color: $menu-text-color;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: 5 / -5;
    }
  }
}
