.details-card {
  grid-column: span 2;

  @media (min-width: $tablet-min-width) {
    grid-column: span 6;
  }

  @media (min-width: $desktop-min-width) {
    grid-column: span 12;
  }


  &__photos {
    margin-bottom: 16px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: $tablet-min-width) {
      column-gap: 24px;
      grid-template-columns: repeat(6, 1fr);
    }

    @media (min-width: $desktop-min-width) {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__link {
    grid-column: span 1;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    @media (min-width: $tablet-min-width) {
      &--wide {
        grid-column: span 4;
      }

      &--square {
        grid-column: span 2;
      }
    }

    @media (min-width: $desktop-min-width) {
      &--wide {
        grid-column: span 8;
      }

      &--square {
        grid-column: span 4;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
  }

  &__text {
    margin: 0;
  }
}
