.details {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  &__list {
    @include grid-column;

    gap: 40px 20px;

    margin-bottom: 48px;

    @include on-tablet {
      gap: 48px 24px;
    }
  }

  &__item {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desctop {
      grid-column: span 12;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
  }
}
