.detail_article {
  &__photos {
    @include page-grid;

    row-gap: 16px;
  }

  &__link {
    grid-column: 1 span;
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: 4 span;
      }

      @include on-desktop {
        grid-column: 8 span;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: 2 span;
      }

      @include on-desktop {
        grid-column: 4 span;
      }
    }
  }

  &__photo {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: $transition-time;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__description {
    @include page-grid;

    row-gap: 8px;
  }

  &__title {
    margin: 0;
    margin-top: 16px;
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 700;
    grid-column: 1 / -1;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 8 span;
    }
  }
}
