.details {
  @include layout-grid;

  row-gap: 40px;

  @include on-tablet {
    row-gap: 48px;
  }

  @include on-desktop {
    padding-bottom: 36px;
  }

  &__title {
    margin-bottom: 8px;
    grid-column: 1/-1;

    @include on-tablet {
      margin-bottom: 16px;
    }

    @include on-desktop {
      margin-bottom: 0;
    }
  }

  &__item {
    grid-column: 1/-1;
  }

  &__button {
    @include link-reset;

    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: 5/-5;
    }
  }
}
