.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    display: grid;
    row-gap: 40px;
    margin-bottom: 30px;

    @include onTablet {
      row-gap: 64px;
    }
  }
}

.recommend {
  &__photos {
    @include pageGrid;

    margin-bottom: 16px;
  }
  &__link {
    position: relative;

    &--wide {
      @include onTablet {
        grid-column: span 4;
      }

      @include onDesktop {
        grid-column: span 8;
      }
    }
    &--square {
      @include onTablet {
        grid-column: span 2;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.02);
      translate: -1% -10%;
    }
  }
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
  &__text {
    margin-bottom: 40px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    @include onTablet {
      margin-bottom: 48px;
    }
  }
}

.the-details__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  background-color: #fff;
  padding: 15px 48px;
  border-radius: 40px;
  text-decoration: none;
  color: #1d1d1d;
  transition: 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 48px;
  border: none;

  &:hover {
    box-shadow: 1px 4px 16px #e8e8f0a3;
  }

  &:active {
    box-shadow: 1px 4px 16px #e8e8f0a3;
  }

  @include onTablet {
    width: 400px;
  }

  @include onDesktop {
    width: 330px;
  }
}

.the-details__link {
  color: #1d1d1d;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
}
