.details {
  &__title {
    margin: 82px 0 48px;
    padding-top: 10px;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
  }

  &__pictures {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .first-picture {
      background: url(../img/content/details/details-first.png);
    }

    .second-picture {
      background: url(../img/content/details/details-second.png) ;
    }

    .third-picture {
      background: url(../img/content/details/details-third.png) ;
    }

    .fourth-picture {
      background: url(../img/content/details/details-fourth.png) ;
    }

    .fifth-picture {
      background: url(../img/content/details/details-fifth.png) ;
    }

    .sixth-picture {
      background: url(../img/content/details/details-sixth.png) ;
    }
  }

  &__picture {
    width: 130px;
    height: 130px;
  }

  &__subtitle {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
  }

  &__description {
    width: 280px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 48px;
  }

  &__button {
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 40px;
    padding: 14px 131px;
    width: 278px;
    color: $text-color-dark;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
  }

  @media (min-width: 744px) {
    &__title {
      font-size: 48px;
      font-weight: 500;
      line-height: 48px;
    }

    &__button {
      max-width: 392px;
      margin: 0 auto;
    }

    &__description {
      width: 600px;
    }

    &__pictures {
      display: flex;
      gap: 24px;
      justify-content: space-between;
      margin-bottom: 16px;

      &__picture {
        height: $height-pictures;
      }

      .first-picture {
        width: $width-big-picture;
        background: url(../img/content/details/details-first.svg);
      }

      .second-picture {
        width: $width-little-picture;
        background: url(../img/content/details/details-second.svg) ;
      }

      .third-picture {
        background: url(../img/content/details/details-third.svg) ;
        width: $width-big-picture;
      }

      .fourth-picture {
        width: $width-little-picture;
        background: url(../img/content/details/details-fourth.svg) ;
      }

      .fifth-picture {
        width: $width-little-picture;
        background: url(../img/content/details/details-fifth.svg) ;
      }

      .sixth-picture {
        width: $width-big-picture;
        background: url(../img/content/details/details-sixth.svg) ;
      }
    }
  }

  @media (min-width: 1260px) {
    &__title {
      font-size: 64px;
      font-weight: 500;
      line-height: 64px;
      letter-spacing: -1.5px;
    }

    &__pictures {
      width: 1020px;

      .first-picture {
        width: $width-desktop-big-pictures;
        background: url(../img/content/details/d-details-first.svg);
      }

      .second-picture {
        width: $width-desktop-little-pictures;
        background: url(../img/content/details/d-details-second.svg);
      }

      .third-picture {
        width: $width-desktop-big-pictures;
        background: url(../img/content/details/d-details-third.svg);
      }

      .fourth-picture {
        width: $width-desktop-little-pictures;
        background: url(../img/content/details/d-details-fourth.svg);
      }

      .fifth-picture {
        width: $width-desktop-little-pictures;
        background: url(../img/content/details/d-details-fifth.svg);
      }

      .sixth-picture {
        width: $width-desktop-big-pictures;
        background: url(../img/content/details/d-details.sixth.svg);
      }
    }

    .details__picture {
      transition: border-radius 0.5s, transform 0.5s;
      height: $height-desktop-pictures;

      &:hover {
        border-radius: 10px;
        transform: scale(1.05);
      }
    }

    &__description {
      width: 672px;
    }

    &__button {
      width: 324px;
      transition: box-shadow 0.4s;

      &:hover {
        box-shadow: 1px 3px 8px #e8e8f0a3;
      }

      &:active {
        box-shadow: 1px 4px 15px #e8e8f0a3;
      }
    }
  }
}
