.details {
  &__images {
    @include grid-setting;

    margin-bottom: 8px;

    &__link {
      @include on-tablet {
        grid-column: 2 span;
      }

      @include on-desktop {
        grid-column: 4 span;
      }

      &--big {
        @include on-tablet {
          grid-column: 4 span;
        }

        @include on-desktop {
          grid-column: 8 span;
        }
      }

    }

    &__item {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &:hover {
        transform: scale(1.06);

        @include on-tablet {
          transform: scale(1.04);
        }

        @include on-desktop {
          transform: scale(1.03);
        }
      }
    }
  }
}


.button-container {
  @include grid-setting;

  padding: 40px 0;

  .details__button {
    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 4 / -4;
    }
  }
}
