.detail {
  // @include page-grid;

  &__photos {
    @include page-grid;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--wide {
      @include on-tablet {
        grid-column: 1/5;
      }
    }

    &--square {
      @include on-tablet {
        grid-column: 5/7;
      }
    }


  }





  &__title {
    font-weight: 700px;
    font-size: 24px;
    line-height: 140%;
    grid-column: span 2;
    margin-bottom: 8px;
  }

  &__description {
    grid-column: span 2;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 40px;
  }
}
