.detail-explore {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  width: 100%;

  &__button {
    height: 56px;
    width: 100%;
    color: #1d1d1d;
    background-color: #fff;
    border-radius: 40px;
    cursor: pointer;
    outline-width: 0;
    border: 0;

    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;

    @include on-tablet {
      width: 392px;
    }

    @include on-desktop {
      width: 324px;
    }

    &:hover {
      box-shadow: 1px 4px 16px 0 #e8e8f066;
    }
  }
}
