.detail {
  row-gap: 48px;
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include hover(transform, scale(1.2));
  }

  &__link {
    &--wide {
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;

    margin: 0;
    margin-bottom: 8px;
  }

  &__description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
  }

  &__button {
    @include page-grid;

    height: 56px;

    &__explore {
      background-color: #fff;
      color: #1d1d1d;
      font-size: 16px;
      line-height: 27px;
      text-align: center;
      text-decoration: none;
      border-radius: 40px;
      padding-block: 14.5px;
      grid-column: 1 / -1;

      @include button-status;

      @include on-tablet {
        grid-column: 2 / -2;
      }

      @include on-desktop {
        grid-column: 5 / -5;
      }
    }
  }
}
