.devices {

  &__photos {
    @include pageGrid;

    margin-bottom: 16px;
  }

  &__photo {
    width: 100%;
    height: 100%;
  
    @include hover(transform, scale(1.1));
  }

  &__link {
    &--left {
      grid-column: span 1;
  
      @include onTablet {
        grid-column: span 3;
      }
  
      @include onDesktop {
        grid-column: span 6;
      }
    }

    &--right {
      grid-column: span 1;
    
      @include onTablet {
        grid-column: span 3;
      }
    
      @include onDesktop {
        grid-column: span 6;
      }
    }
  }
}
