.division-background {
  display: block;
  height: 400px;
  background-image: url(/images/Big-black-back.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed;
  width: 100vw;
}
