.dividing {
  margin: 0;
  width: 100%;
  background-image: url(../images/dividing_img.png);
  min-height: 200px;
  background-position: center;
  background-size: cover;

  @include on-tablet {
    min-height: 400px;
  }

  @include on-desktop {
    min-height: 460px;
  }
}
