.dna {
  @include setGridCell;
  row-gap: 32px;

  &__title {
    grid-column: span 2;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  &__text {
    font-size: 23px;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: 6 / 12;
    }
  }
}
