.dropdown {
  position: relative;

  &__button{
    background-color: transparent;
    border: none;
  }

  &-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;

    background-color: $color-menu;
    transform: translateY(-100%);
    transition: transform $duration;
    overflow: hidden;
  }

  .menu--active {
    z-index: 2;
    pointer-events: all;
    transform: translateY(0);
  }
}
