.dropdown {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: right;

  &__link {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-transform: uppercase;
    transition: transform $effectDuration;

    &:hover {
      transform: scale(1.05);
    }
  }
}
