.ending {
  @include on-tablet {
    width: 600px;
  }

  @include on-desktop {
    width: 1020px;

    @include page-grid;
    .contact-us {
      grid-column: 1/6;
    }
    .footer {
      position: relative;
      top: 104px;
      grid-column: -1/-6;
    }
  }

  // @include on-desktop {
  //   @include page-grid;

  //   .contact-us {
  //     grid-column: span 6;
  //   }

  //   .footer {
  //     grid-column: -1/-6;
  //     padding-top: 104px;
  //   }
  // }
}
