.example {
  margin-top: 48px;

  @include on-tablet {
    margin-top: 0;
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;

  }
  &__text {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 500;
    transition: all 0.3s;

    &--link{
      display: block;
      text-decoration: none;
      color : #fff;
    }

    &:hover{
      color : lightslategray;
    }
  }
}
