.exgibition {
  &__photos {
    @include page-grid;
    gap: 16px;

    margin-bottom: 24px;
  }

  &__link {
    @include hover(transform, scale(1.2));

    &--wide {
      padding-right: 100%;
      width: 0;
      position: relative;
      display: block;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desctop {
        grid-column: span 8;
      }
    }

    &--square {
      padding-bottom: 100%;
      height: 0;
      position: relative;
      display: block;
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desctop {
        grid-column: span 4;
      }
    }
  }

  &--three {
    .exgibition__photos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &:last-child{
        display: none;
      }

      @include on-tablet {
        grid-template-columns: repeat(6, 1fr);
      }

      @include on-desctop {
        grid-template-columns: repeat(12, 1fr);
      }
    }

    .exgibition__link {
      &--square {
        @include on-tablet {
          grid-column: span 2;
        }

        @include on-desctop {
          grid-column: span 4;
        }
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--shift {
      object-position: 30%;
    }

    &--right {
      object-position: right;
    }
  }

  &__title {
    margin: 0;
    font-size: 16px;
    color: $main-accent-color;
    font-weight: 700;
  }

  &__text {
    margin: 0;
  }
}
