.exhibition {
  &__photos {
    @include page-grid;
  }

  &__link {

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }

    }

    &--square {
      @include on-tablet {
        grid-column: span 2;
      }

      @include  on-desktop{
         grid-column: span 4;
      }
    }

    &--square--3 {
     grid-row: 2;

      @include on-tablet {
        grid-column: span 3;
      }

      @include  on-desktop {
         grid-column: span 4;
      }
    }

    &--square--hide {
      grid-row: 2;

      @include on-tablet {
       display: none;
       pointer-events: none;
      }

      @include  on-desktop {
        display: block;
        grid-column: span 4;
      }
    }

  }

   &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin-block: 24px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #D12D35;

  }

  &__date {
    font-size: 16px;
    line-height: 27px;
    margin: auto;
  }
}
