.exhibition {
  &__photos {
    margin-bottom: 24px;
    @include pageGrid;
  }

  &__link {
    height: 100%;
    @include changeOnHover(transform, scale(1.05));

    &--square {
      /* stylelint-disable-next-line property-no-unknown */
      aspect-ratio: 1;

      @include onTablet {
        grid-column: span 2;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }

    &--wide {
      @include onTablet {
        grid-column: span 4;
      }

      @include onDesktop {
        grid-column: span 8;
      }
    }

    &--hidden-on-mobile {
      display: none;

      @include onTablet {
        display: inline-block;
      }
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    &--position--left {
      object-position: 20%;
      @include onTablet {
        object-position: center;
      }
    }
    &--position--right {
      object-position: right;
      @include onTablet {
        object-position: center;
      }
    }
  }

  &__caption {
    font-size: 16px;
    line-height: 27px;

    &-name {
      font-size: inherit;
      font-weight: 700;
      color: $color-accent-red;
    }
  }
}
