.exhibition {
  grid-column: span 3;

  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      padding-bottom: 100%;
      height: 0;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photos {
    @include page-grid;

    row-gap: 24px;
    margin-bottom: 24px;

    &--column-3 {
      grid-template-columns: repeat(3, 1fr);

      @include on-tablet {
        @include page-grid;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;

    &:hover {
      @include hover(transform, scale(1.01));
    }
  }

  &__title {
    color: $accent-color;
    font-size: 16px;
    line-height: 130%;
  }

  &__time-interval {
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
  }
}
