.exhibitions {
  &__wrapper {
    display: grid;
    row-gap: 24px;
    margin-bottom: 40px;
  }

  &__description {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
  }

  &__button {
    @include button;

    @include onTablet {
      width: 67%;
      margin: auto;
    }

    @include onDeskTop {
      width: 33%;
    }
  }
}

.exhibition {
  &__photos {
    @include pageGrid;
    margin-bottom: 24px;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include hover(transform, scale(1.05));

    &--left {
      object-position: right;
    }

    &--right {
      object-position: left;
    }
  }

  &__title {
    color: $accent-color;
    font-weight: 700;
    line-height: 27px;
  }

  &__header {
    margin-bottom: 48px;
  }

  &__link {
    &--square {
      @include onTablet {
        grid-column: span 2;
      }

      @include onDeskTop {
        grid-column: span 4;
      }
    }

    &--hidden {
      @include onTablet {
        display: none;
      }

      @include onDeskTop {
        display: block;
      }
    }

    &--wide {
      @include onTablet {
        grid-column: span 4;
      }

      @include onDeskTop {
        grid-column: span 8;
      }
    }
  }

  &__bodhisattvas {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 0;
  }
}
