.explore-card {
  grid-column: 1 / -1;

  @include tablet {
    grid-column: 2 / -2;
  }

  @include desktop {
    grid-column: span 4;
  }

  &__image {
    width: 100%;
    display: flex;
    margin-bottom: 32px;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
  &__title {
    font-weight: 700;
    color: $red-color-main;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 4px;
  }
  &__subtitle {
    font-family: Roboto, system-ui;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }

  &__link {
    display: block;
  }
}
