.explore-online {
  &__event {
    @include pageGrid;
    row-gap: 48px;
  }
}

.event {
  &__photo {
    width: 100%;
    height: auto;
    display: block;
  }

  &__offered {
    grid-column: 1/ -1;

    @include onTablet {
      grid-column: 2/ -2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  &__titel {
    margin: 24px 0 4px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    color: #d12d35;
  }

  &__description {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: $main-text-color;
  }
}
