.explore-page {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: clip;

  &__photo {
    &--collection-areas {
      width: 280px;
      height: 277px;
      background-image: url(../images/explore-page/collection-areas.png);
      background-position-x: -0.56px;
      background-position-y: -0.67px;
      background-size: 157.13% 100%;
      background-repeat: no-repeat;
      background-color: lightgray;
    }

    &--travel {
      width: 280px;
      height: 277px;
      background-image: url(../images/explore-page/travel.png);
      background-color: lightgray;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--virtual-group-tours {
      width: 280px;
      height: 277px;
      background-image: url(../images/explore-page/virtual-group-tours.png);
      background-color: lightgray;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    @include on-tablet {
      &--collection-areas {
        width: 392px;
        height: 387px;
      }

      &--travel {
        width: 392px;
        height: 387px;
      }

      &--virtual-group-tours {
        width: 392px;
        height: 387px;
      }
    }

    @include on-desktop {
      &--collection-areas {
        width: 324px;
        height: 320px;
      }

      &--travel {
        width: 324px;
        height: 320px;
      }

      &--virtual-group-tours {
        width: 324px;
        height: 320px;
      }
    }
  }

  &__title {
    margin: 0;
    margin-top: 24px;
    color: $main-accent;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

    @include on-tablet {
      margin-top: 32px;
    }
  }

  &__description {
    margin: 0;
    color: $main-text-black;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }
}
