.explore-online__container {
  text-align: center;
}

.explore-online__title {
  margin: 0 auto;
}

.explore-online__cards,
.explore-online__card-description {
  display: flex;
  flex-direction: column;
}


.explore-online__cards {
  margin-top: 40px;
  gap: 48px;
  align-items: center;
}

.explore-online__card-description {
  margin-top: 24px;
  gap: 4px;
}

.explore-online__image {
  display: block;
}

.explore-online__sub-title {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  color: #D12D35;
}

.explore-online__text {
  margin: 0;
  font-family: Roboto, sans-serif;
}

@media (min-width: 744px){

  .explore-online__container {
    max-width: 392px;
  }

  .explore-online__cards {
    margin-top: 48px;
  }

  .explore-online__card {
    width: 392px;
  }

  .explore-online__card-description {
    margin-top: 32px;
  }

  .explore-online__title {
   width: 392px;
  }

}

@media (min-width: 1260px){

  .explore-online__container {
    max-width: 1020px;
  }

  .explore-online__title {
    width: 498px;
  }

  .explore-online__cards {
    flex-direction: row;
    gap: 24px;
    align-items: start;
  }

  .explore-online__card {
    width: 324px;
  }

}
