.explore-online {
  &__wrapper {
    @include PageGrid;
    row-gap: 48px;
  }

  &__section-title {
    margin-bottom: 40px;
  }
}

.pictures {
  grid-column: span 2;

  @include OnTablet {
    grid-column: 2 / 6;
  }
  @include OnDesktop {
    grid-column: span 4;
  }
  &__photo {
    width: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    margin-top: 24px;
  }
}
