.exploreBlock {

  @include desktop {
    width: 324px;
  }
  
  
  &__picture {
    width: 100%;
    margin-bottom: 24px;
    @include pictureHover;

    @include tablet {
      margin-bottom: 32px;
    }

    @include desktop {
      padding: 0;
      width: 324px;
      height: 320px;
    }

    &--img {
      width: 100%;
      padding-top: 50%;
      box-sizing: border-box;
      object-fit: cover;
      object-position: center;
    }
  }

  &__smallTitle {
    text-align: center;
    margin-bottom: 4px;
  }

  &__text {
    color: $blackColor;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }
}
