@import '/src/styles/utils/mixins';

.explore-online{
  &__pictures{
    display: grid;
    gap: 48px;
    margin-top: 0;

    @include onTablet{
      justify-items: center;
    }

    @include onDesktop{
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      justify-items: stretch;
    }
  }
}

