.explore-item {
  &__photo {
    margin-bottom: 24px;
    width: 100%;
    @include hover(transform, scale(1.05));

    @include onTablet {
      margin-bottom: 32px;
    }
  }

  &__title {
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: $font-weight-bold;
    line-height: 34px;
    text-align: center;
    color: $secondary-color;
  }

  &__description {
    font-family: "Roboto", Arial, sans-serif;
    font-size: $text-main-size;
    font-weight: $font-weight-normal;
    line-height: 27px;
    text-align: center;
    color: $main-color;
  }
}
