/* #region explore-online */
.explore-online {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  padding: 0  20px;
}

.explore-online__tittle {
  display: flex;
}

.explore-online__tittle__content {
  text-align: center;
  font-size: 34px;
  line-height: 32px;
  letter-spacing: -1.5px;
  font-weight: 700;
}

.explore-online__article__content {
  margin-top: 40px;
}

.explore-online__article__image {
  width: 280px;
  height: 277px;
}

.explore-online__article__tittle {
  margin-top: 24px;
  color: #d12d35;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.explore-online__article__description {
  text-align: center;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}
/* #endregion */
