.explore {
  display: flex;
  flex-direction: column;
  line-height: 27px;
  text-align: center;
  color: #161616;
}

.explore__title {
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: -1.5px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 40px;
}

.explore__container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.explore__content {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.explore__photo {
  width: 280px;
  height: 277px;
}

.explore__subtitle {
  color: #d12d35;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}

.explore__describe {
  color: #161616;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
