.explore {
  &__collections {
    @include pageGrid;
    row-gap: 48px;
  }

  &__collection {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }
}
