.explore-card {
  text-align: center;

  &__photo-wrapper {
    overflow: hidden;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 32px;
    }
  }

  &__photo {
    display: block;
    width: 100%;

    @include hover(transform, scale(1.1));
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $accent-main-color;
    margin-bottom: 4px;
  }

  &__description {
    font-family: Roboto, sans-serif;
  }
}
