.explore {
  &__title {
    margin-bottom: 40px;
  }

  &__events {
    @include pageGrid;

    row-gap: 48px;
  }

  &__event {
    grid-column: 1 / -1;
    text-align: center;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }
}

.event {
  &__title {
    margin-top: 24px;
    color: $subtitle-text-color;
  }
}
