.feature {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    position: relative;

    @include on-tablet {
      @include hover(transform, scale(1.05));
    }

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__description {
    margin: 0;

    font-weight: 400;
    font-size: 16px;

    line-height: 140%;
  }
}
