.feature {
  &__photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 16px;

    @include onTablet {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__link {
    @include onTablet {
      &--wide {
        grid-column: span 4;
      }

      &--square {
        grid-column: span 2;
      }
    }
  }

  &__photo {
    height: 100%;
    object-fit: cover;

    @include hover(scale, 1.05);
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__descr {
    font-size: 16px;
    line-height: 140%;

    @include onDeskTop {
      max-width: 672px;
    }
  }
}
