.feedback {
  &__information {
    font-size: 16px;
    line-height: 27px;

    &:first-of-type {
      margin-bottom: 8px;
    }
  }

  &__phone {
    display: block;
    color: inherit;
    text-decoration: none;

    &--link-black:hover {
      color: $main-black-text-color;
    }

    &--link-red:hover {
      color: $red-text-color;
    }
  }
}
