.fields {
  width: 100%;
  margin-bottom: 48px;

  @include on-tablet {
    width: 100%;
    margin-bottom: 80px;
  }

  @include on-desktop {
    grid-column: 1 / 5;
    margin-bottom: 0;
  }
}

.form-field {
  box-sizing: border-box;
  margin-bottom: 16px;
  padding-left: 16px;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: #f8f8fa;

  &:hover {
    border: 1px solid #d5d7de;
  }

  &:active {
    border: 1px solid #292929;
  }

  &__message {
    width: 100%;
    padding: 14px 16px;
    height: 148px;
    border-radius: 8px;
    border: none;
    background-color: #f8f8fa;
    margin-bottom: 32px;
    font-family: 'Space Mono', monospace;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: none;

    @include on-desktop {
      grid-column: span 6;
    }

    &:hover {
      border: 1px solid #d5d7de;
    }

    &:active {
      border: 1px solid #292929;
    }
  }
}

input::placeholder {
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  line-height: 140%;
  color: #7e7e83;
  box-shadow: none;
  padding-top: 14px;
}

:hover {
  color: #292929;
}

:active {
  color: #292929;
}

@include button-type;

.button-field {
  position: relative;

  @include on-desktop {
    grid-column: span 6;
  }
}

.button {
  &--cursor {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-style: 700;
    background-color: #f8f8fa;
    border: 2px solid #f0f1f4;
    color: #292929;
    box-shadow: none;
    width: 100%;
    height: 48px;
    border-radius: 8px;

    &:hover {
      border: 1px solid #d5d7de;
    }

    &:active {
      border: 1px solid #292929;
    }
  }
}

.cursor-icon {
  position: absolute;
  top: 42px;
  right: 104px;
  width: 32px;
  height: 32px;
  pointer-events: none;
}
