.form {
  display: flex;
  flex-direction: column;
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  row-gap: 16px;

  &__field {
    display: block;
    box-sizing: border-box;
    font-family: $main-text-font;
    height: 48px;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #292929;
    text-align: left;
    background-color: #f8f8fa;
    border-radius: 40px;

    &::placeholder {
      color: #7e7e83;
      font-size: 14px;
      font-weight: 400;
      border: none;
    }

    &:hover::placeholder {
      color: #292929;
      border: none;

    }

    &--message {
      height: 148px;
      gap: 10px;
      border-radius: 16px;
      resize: none;
    }
  }

  &__button {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    color: #1d1d1d;
    text-decoration: none;
    height: 56px;
    background-color: #fff;
    border-radius: 40px;
    margin-top: 16px;

    @include hover(box-shadow, 1px 4px 16px 0 #e8e8f066);



    &:hover {
      cursor: pointer;
    }
    &:active {
      box-shadow: 1px 4px 16px 0 #e8e8f0a3;
    }
  }
}




input {
  border: none;
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  border: 1px solid transparent !important;
}
