.field {
  min-height: 48px;
  background-color: #f8f8fa;
  box-sizing: border-box;
  padding: 12px 16px;
  border: 1px solid #f8f8fa;
  border-radius: $border-radius;
  transition: all $hover-effect-duration;
  font-family: $font-primary;
  &::placeholder {
    color: #7e7e83;
    transition: color $hover-effect-duration;
  }

  &:hover {
    border-color: #d5d7de;
    &::placeholder {
      color: $main-text-color;
    }
  }

  &:focus {
    outline: none;
    border-color: $main-text-color;
    &::placeholder {
      color: $main-text-color;
    }
  }

  &--type {
    &--textarea {
      resize: none;
    }
  }
}
