.field {
  display: grid;
  gap: 8px;

  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 140%;

  &__title {
    font-weight: inherit;
    font-size: 14px;
    color: $field-secondary-color;
  }

  &__value {
    position: relative;
    display: block;
    width: fit-content;
    color: $field-main-color;

    @include linkHover;
  }
}
