.field {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: $field-black-color;
  outline-color: $border-color;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.field::placeholder {
  color: $main-gray-color;
  font-family: inherit;
}
