.filler-bg {
  display: block;
  background-image: url(../images/filler-bg.png);
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 200px;

  position: sticky;
  top: 0;

  @include on-tablet {
    padding-bottom: 400px;
  }

  @include on-desktop {
    padding-bottom: 460px;
  }
}
