.flex {
  display: flex;

  &--between {
    justify-content: space-between;
  }

  &--align-center {
    align-items: center;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--column {
    flex-direction: column;
  }
}
