h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Cinzel, serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $mainFontColor;
}

h1 {
  color: #fff;
  font-size: 40px;
  line-height: 40px;

  @include onTablet {
    font-size: 64px;
    line-height: 64px;
  }

  @include onLaptop {
    font-size: 80px;
    line-height: 80px;
  }
}

h2 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;

  @include onTablet {
    font-size: 48px;
    line-height: 48px;
  }
}

h3 {
  margin: 0 auto;
  font-size: 24px;
  line-height: 33.6px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-size: 16px;
  line-height: 27px;
}

h6 {
  font-size: 12px;
  line-height: 16.8px;
  color: $redСolor;
}

.fontRoboto {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  text-transform: none;
}

.fontRedTitle {
  margin: 24px 0 0;
  color: $redСolor;
}
