.form {
  display: grid;
  row-gap: 16px;
  margin-bottom: 32px;

  @include pageGrid;

  &__input,
  &__textarea {
    grid-column: span 2;
    height: 48px;
    border-radius: 8px;
    background-color: #f8f8fa;
    border: 1px solid #f8f8fa;
    padding-left: 16px;
    cursor: pointer;

    color: $main-text-color;
    font-family: "Space Mono";
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    transition-duration: 0.5s;

    @include onTablet {
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: 1 / 6;
    }
  }

.form__input {
  -webkit-box-shadow: inset 0 0 0 50px #f8f8fa;
}

  &__textarea {
    padding: 14px 16px;
    align-items: flex-start;
    gap: 10px;
    resize: none;
    height: auto;
  }

  &__info {
    @include onDesktop {
      grid-column: 7 / 12;
      grid-row: 1 / 5;
    }
    &__title {
      color: #9393a3;
      font-family: "Space mono", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 8px;
    }
    &__main {
      color: #191919;
      font-family: "Space Mono";
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 24px;
    }
  }
}

.main__link {
  position: relative;
  color: $main-text-color;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $main-text-color;

    transition: transform 0.5s;
    transform: scale(0);
    transform-origin: left;
  }

  &:hover::after {
    transform: scale(1);
  }
}

.form__input:hover,
.form__textarea:hover {
  transition-duration: 0.5s;
  border: 1px solid #d5d7de;
}

.form__input:focus,
.form__textarea:focus {
  color: $main-text-color;
  font-family: "Space Mono";
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  outline: none;
  border: 1px solid $main-text-color;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: #7e7e83;
  font-family: "Space Mono";
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.form__contacts {
  grid-column: 7 / 12;
}

.text__title {
  margin-bottom: 8px;
}
