.footer {
  height: 50vh;

  @include onTablet {
    height: 100vh;
  }

  @include onDesktop {
    height: 100vh;
  }

  &__block {
    position: sticky;
    height: 100%;
    width: 100%;
    background-image: url("/images/footer__background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
