.footer {
  z-index: -1;
  margin: 100px 0 0;
  padding: 0;
  position: sticky;

  @media (min-width: 744px) {
    margin-top: 156px;
  }

  @media (min-width: 1024px) {
    margin-top: 150px;
  }

  &__img {
    object-fit: cover;
    object-position: top;
    box-sizing: border-box;
    width: 100%;
    height: 180px;
    display: flex;

    @media (min-width: 744px) {
      height: 359px;
    }
  }
}

