/* #region footer */
.footer {
  margin-top: 100px;
}

.footer__image {
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 180px;
  background-image: url(../../images/footer-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* #endregion */
