.form {
  &__name {
    background-color: #f8f8fa; /* Прозорий фон форми */
    border-radius: 8px; /* Завкруглення кутиків */
    border: 0 solid #fff;
    height: 48px;
    margin-bottom: 16px;

  }

  &__message {
    border: 0 solid #fff;
    border-radius: 8px;
    width: 100%;
  }
}

.input {
  &__name {
    padding-block: 16px;
    padding-left: 14px;
    font-family: "Space Mono", monospace;
    color: #7e7e83;
    border-radius: 8px;
    border: 1px solid #fff;
    outline: none;

    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    width: 100%;
    box-sizing: border-box;

    &:valid {
      border: 1px solid #fff;
      color: #292929;
      background-color: #f8f8fa;
    }

    &:hover {
      border: 1px solid #d5d7de;
      background-color: #f8f8fa;
      color: #292929;
    }

    &:focus {
      border: 1px solid #292929;
      color: #292929;
    }

    &:-webkit-autofill {
      background-color: #f8f8fa;
    }
  }
}

.textarea {
  padding: 14px 16px;
  border: none;
  border-radius: 8px;
  outline: none;

  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  box-sizing: border-box;
  width: 100%;
  resize: none;
  height: 148px;
  background-color: #f8f8fa;
  margin-bottom: 32px;

  &:valid {
    border: 1px solid #fff;
    color: #292929;
  }

  &:hover {
    border: 1px solid #d5d7de;
    color: #292929;
  }

  &:focus {
    border: 1px solid #292929;
    color: #292929;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #f8f8fa inset;
}
