.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-image: url(../images/image-about-us.png);
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
}
