.footer_page {
  overflow: hidden;
  object-fit: cover;
}

@media (max-width: 743px) {
  .footer_page {
    height: 200px;
    width: 100%;
    margin-top: 120px;
  }
}

@media (min-width: 743px) and (max-width: 1259px) {
  .footer_page {
    height: 555px;
    margin-top: 102px;
  }
}

@media (min-width: 1259px) {
  .footer_page {
    height: auto;
    width: 100%;
    margin-top: 164px;
  }
}
