.form-field {
  &__text {
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: #fff;
    text-align: left;
    height: 48px;
    width: 100%;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    outline: none;
    padding-left: 16px;

    &:hover {
      border: 1px solid rgba(213, 215, 222, 1);
    }

    &:focus {
      border: 1px solid rgba(41, 41, 41, 1);
    }

    @include onTablet {
      width: 290px;
    }
    @include onDesctop {
      width: 411px;
    }
  }

  &__email {
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: #fff;
    text-align: left;
    height: 48px;
    width: 100%;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    outline: none;
    padding-left: 16px;

    &:hover {
      border: 1px solid rgba(213, 215, 222, 1);
    }

    &:focus {
      border: 1px solid rgba(41, 41, 41, 1);
    }

    @include onTablet {
      width: 290px;
    }
    @include onDesctop {
      width: 411px;
    }
  }

  &__message {
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 16px;
    background-color: #fff;
    text-align: left;
    height: 148px;
    width: 100%;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    outline: none;
    padding: 14px 16px;
    gap: 10px;
    margin-bottom: 32px;

    &::placeholder {
      position: absolute;
      top: 14px;
    }

    &:hover {
      border: 1px solid rgba(213, 215, 222, 1);
    }

    &:focus {
      border: 1px solid rgba(41, 41, 41, 1);
    }

    @include onTablet {
      width: 290px;
    }
    @include onDesctop {
      width: 411px;
    }
  }
}

input:-webkit-autofill:hover {
  background-color: #fff;
  border: 1px solid rgba(213, 215, 222, 1);
}

input:-webkit-autofill:focus {
  background-color: #fff;
  border: 1px solid rgba(41, 41, 41, 1);
}
