input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #111;
  -webkit-box-shadow: 0 0 0 1000px #ceead6 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form__container {
  padding-top: 48px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  height: 48px;
  padding-bottom: 16px;
}

.form__input {
  height: 100%;
  padding: 16px 14px;
  border-radius: 8px;
  background-color: #f8f8fa;
  font-family: "Space Mono", monospace, sans-serif;
  font-size: 14px;
  line-height: 140%;
  border: none;
  cursor: pointer;
}

.form__input::placeholder {
  color: #7e7e83;
}

.form__input:hover {
  border-radius: 8px;
  outline: 1px solid #d5d7de;
  background-color: #f8f8fa;
}

.form__input:focus {
  border-radius: 8px;
  outline: 1px solid #292929;
  background-color: #f8f8fa;
  color: #292929;
}

.form__input--textarea {
  margin-bottom: 32px;
  resize: none;
}

.form__input--textarea::-webkit-scrollbar {
  width: 10px;
}

.form__input--textarea::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px #292929;
  border-radius: 8px;
}

.form__input--textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #292929;
  border-radius: 8px;
}

.form__button {
  line-height: 27px;
  font-family: "Space Grotesk", monospace, sans-serif;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

@media (min-width: 1260px) {
  .form__container {
    padding-top: 56px;
    width: 411px;
    padding-right: 111px;
  }
}
