.form {
  &-box {
    margin-top: 48px;
    height: 396px;
    width: 280px;

    @include onTablet {
      width: 288px;
    }

    @include onLaptop {
      width: 411px;
    }
  }

  &-field {
    margin-bottom: 16px;
    padding: 14px 16px;
    background-color: #f8f8fa;

    &--message {
      height: 100px;
    }
  }
}

input {
  border: none;
  background-color: #f8f8fa;

  &::placeholder {
    @include sectionFont;
    color: #7e7e83;
  }
}
