.formfield {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-inline: 16px;
  
  background-color: #f8f8fa;
  font-family: $title-f-f;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  border: 0;
  border-radius: 8px;
  color: $main-text-color;

  &:hover {
    border: 1px solid #d5d7de;
  }

  &:focus {
    outline: none;
    border: 1px solid #292929;
  }

  &:-webkit-autofill:valid,
  &:-webkit-autofill:focus {
    font-family: $secondary-f-f;
    -webkit-box-shadow: 0 0 0 1000px #f8f8f8 inset;
    border: 1px solid #292929;
  }

  &::placeholder {
    color: #7e7e83;
  }

  &--textarea {
    height: 120px;
    padding: 14px 16px;
    resize: none;
  }

  &--textarea::-webkit-scrollbar {
    width: auto;
  }

  &--textarea::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 2px #292929;
    border-radius: 100px;
    border: 5px solid transparent;

  }
}
