.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  grid-column: 1 / -1;

  @include onTablet {
    grid-column: span 3;
  }

  @include onDesktop {
    grid-column: span 5;
  }

  &__field {
    height: 48px;
    width: 100%;
    padding-left: 16px;

    line-height: 20px;
    color: $field-text-color;
    font-family: Poppins;
    font-size: 14px;
    line-height: 20px;

    border-radius: 40px;
    background: #F8F8FA;
    border: 1px solid #F8F8FA;
    outline: none;


    &:hover {
      border: 1px solid #D5D7DE;
    }

    &::placeholder {
      color: $placeholder-text-color;
      font-family: Poppins;
      font-size: 14px;

      transition: $effectDuration;
    }

    &:hover::placeholder {
      color: $field-text-color;
    }

    &:focus::placeholder {
      color: $field-text-color;
    }

    &--message {
      height: 148px;
      padding: 14px 16px;
      
      border-radius: 16px;
      resize: none;
    }
  }

  &__button {
    margin-top: 16px;
  }


}
