.form-text {
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #292929;

  &::placeholder {
    color: #7e7e83;
  }

  &:focus {
    outline: none;
  }
}
