.form-field {
  display: block;
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 40px;
  background-color: #fff;
  height: 48px;
  width: 100%;
  color: rgba(41, 41, 41, 1);
  outline: none;
  padding: 14px 16px;

  &__message {
    border-radius: 16px;
    height: 148px;
    width: 100%;
    font-family: inherit;
    margin-bottom: 32px;
    resize: none;
  }

  &::placeholder {
    text-align: left;
    color: rgba(126, 126, 131, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  &:hover {
    border-color: rgba(213, 215, 222, 1);
  }

  &:focus {
    border-color: rgba(41, 41, 41, 1);
  }

  @include onTablet {
    width: 290px;
  }

  @include onDesctop {
    width: 411px;
  }
}

input:-webkit-autofill:hover {
  background-color: #fff;
  border: 1px solid rgba(213, 215, 222, 1);
}

input:-webkit-autofill:focus {
  background-color: #fff;
  border: 1px solid rgba(41, 41, 41, 1);
}
