.form {
  color: $text-color-primary;

  &__ceil {
    height: 48px;
    outline: none;
    @include inputField;

    &--textarea {
      @include inputField;
      outline: none;
      height: 148px;
      resize: none;
      border-radius: 16px;
    }

    &:hover {
      color: $text-color-input-active;
      border-color: $input-border-color;
      cursor: pointer;
    }

    &:active {
      color: $text-color-primary;
    }
  }

  &__button {
    margin-top: 32px;
  }
}
