.formfield {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formfield__button {
  margin-top: 16px;
}

.formfield__item {
  padding: 14px 11px;

  border: none;

  color: #161616;
  background-color: #f8f8fa;

  font-family: inherit;
}

.formfield__item--textarea {
  height: 144px;
  resize: none;
}

.formfield__item::placeholder {
  color: #7e7e83;

  font-family: "Cinzel", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.formfield__item:focus {
  border: 1px solid #161616;
  border-radius: 0%;
}

.formfield__item:hover {
  border: 1px solid #d5d7de;
}
