.form {
  display: grid;
  row-gap: 16px;
  margin-bottom: 80px;
  grid-column: span 2;

  @include onTablet {
    grid-column: span 6;
  }

  @include onDesktop {
    grid-column: span 7;
  }

  &__name {
    height: 48px;
    background: $b-g-focus;
    color: $color-focus;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.15px;
    padding-left: 16px;
    vertical-align: center;
    border: 2px solid transparent;
    font-family: "Manrope", sans-serif;
    outline: none;
    border-radius: 8px;

    &:link {
      border: 2px solid transparent;
    }

    &:hover {
      border-color: #dbdbdb;
      color: $main-text-color;
      border-radius: 8px;
      background: $b-g-focus;
    }

    &:focus {
      border-color: $button-color;
    }
  }

  &__email {
    height: 48px;
    background: $b-g-focus;
    color: $color-focus;
    font-size: 14px;
    font-weight: 400;
    padding-left: 16px;
    border: 2px solid transparent;
    font-family: "Manrope", sans-serif;
    outline: none;
    border-radius: 8px;

    &:hover {
      border-color: #dbdbdb;
      background: $b-g-focus;
      color: $main-text-color;
    }

    &:focus {
      border-color: $button-color;
    }
  }

  &__text-area {
    color: #7e7e83;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.15px;
    margin-bottom: 32px;
    padding: 14px 16px 0 14px;
    background: $b-g-focus;
    resize: none;
    font-family: "Manrope", sans-serif;
    border: 2px solid transparent;
    outline: none;
    border-radius: 8px;

    &:hover {
      border-color: #dbdbdb;
      background: $b-g-focus;
      color: $main-text-color;
    }

    &:focus {
      border-color: $button-color;
    }
  }
}
