.form {
  border: none;
  &-box {
    margin-top: 48px;
    height: 396px;
    width: 280px;

    @include onTablet {
      width: 288px;
    }

    @include onLaptop {
      width: 411px;
    }
  }

  &-field {
    margin-bottom: 16px;
  }

  &__input,
  &__textarea {
    @include formSetting;
    @include formFont;
    color: $mainFontColor;
    cursor: pointer;
    outline: none;

    &::placeholder {
      color: #7e7e83;
    }
  }

  &__textarea {
    height: 140px;
    overflow: auto;
  }
}

.form__input:hover,
.form__textarea:hover {
  color: $mainFontColor;
}

.form__input:focus,
.form__textarea:focus {
  color: $mainFontColor;
  border: 1px solid $mainFontColor;
}

.form__input:active,
.form__textarea:active {
  color: $mainFontColor;
  border: 1px solid $mainFontColor;
}

.form__input:default,
.form__textarea:default {
  color: $mainFontColor;
  border: none;
}
