.form {
  display: grid;
  row-gap: 16px;

  &__text {
    min-height: 148px;

    resize: none;
  }

  &__input,
  &__text {
    display: block;

    width: 100%;
    padding-block: 14px;
    padding-inline: 16px;
    border-radius: 8px;
    border: 1px solid $color--secondary;

    font-family: 'Space Mono', monospace;
    font-size: 14px;
    line-height: 20px;
    color: $color--placeholder;

    background-color: $color--secondary;
    transition: all $transition--duration;

    &:hover {
      color: $color--main-text;
      border: 1px solid $color--stroke;
    }

    &:focus {
      color: $color--main-text;
      outline-color: $color--primary;
      outline-width: 1px;
    }
  }

  &__button {
    margin-top: 16px;
  }
}
