.form {
  display: grid;
  grid-template-rows: auto;
  row-gap: 16px;

  &__input {
    background-color: #f8f8fa;
    border-radius: 8px;
    border: none;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #7e7e83;

    &:hover {
      border: 1px solid #d5d7de;
      color: #292929;
    }

    &:active {
      border: 1px solid #292929;
      color: #292929;
    }
  }
}
