.form-field {
  font-family: Cinzel, sans-serif;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid transparent;
  background-color: #F8F8FA;
  padding: 14px 16px;

  &::placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #7E7E83;
  }

  &:hover {
    color: $mainColor;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #D5D7DE;
  }

  &:focus {
    outline: none;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #161616;
  }

  &--textarea {
    height: 144px;
    font-family: inherit;
    resize: none;
  }
}
