.fotter {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-position: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  background-image: url('/src/images/footer\ image.jpg');

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;
  }
}
