.galeryTextBlock {
  
  &__redText {
    color: $redColor;
    font-family: Cinzel, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 168.75%;
  }

  &__date {
    color: $blackColor;
    font-family: Cinzel, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 168.75%;
  }
}
