.gallery {
  color: $black-color;

  &__dates {
    font-size: 16px;
    font-family: Cinzel, serif;
    line-height: 27px;
    font-weight: 400;
  }

  &__photos {
    display: flex;
    margin-top: 48px;
    gap: 20px;

    @include on-tablet {
      gap: 24px;
    }
  }

  &__photo {
    height: 130px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include on-tablet {
      height: 186px;
    }

    @include on-desktop {
      height: 320px;
    }
  }

  &__photo--1 {
    background-image: url(../images/gallery1-small.png);
    width: 50%;

    @include on-tablet {
      background-image: url(../images/gallery1.png);
      width: 66%;
    }
  }

  &__photo--2 {
    background-image: url(../images/Maxine-Helfman.png);
    width: 50%;

    @include on-tablet {
      width: 33%;
    }
  }

  &__photo--3 {
    background-image: url(../images/Vairocana.png);
    height: 88px;
    width: 33%;

    @include on-tablet {
      height: 284px;
      width: 50%;
    }

    @include on-desktop {
      height: 324px;
      width: 33%;
    }
  }

  &__photo--4 {
    background-image: url(../images/Hevajra-Mandala.png);
    height: 88px;
    width: 33%;

    @include on-tablet {
      height: 284px;
      width: 50%;
    }

    @include on-desktop {
      height: 324px;
      width: 33%;
    }
  }

  &__photo--5 {
    background-image: url(../images/Deity-Vajrabhairava.png);
    height: 88px;
    width: 33%;

    @include on-tablet {
      display: none;
    }

    @include on-desktop {
      display: flex;
      height: 324px;
      width: 33%;
    }
  }

  &__photo--6 {
    background-image: url(../images/Clock.png);
    width: 50%;

    @include on-tablet {
      width: 33%;
    }
  }

  &__photo--7 {
    background-image: url(../images/Dancer-small.png);
    width: 50%;

    @include on-tablet {
      background-image: url(../images/dancer-big.png);
      width: 66%;
    }
  }

  &__description {
    margin-top: 24px;

    &-link {
      color: $accent-main-red;
      text-decoration: none;
      font-size: 16px;
      line-height: 27px;
    }
  }

  &__button {
    margin: 0 auto;

    @include on-tablet {
      width: 390px;
    }

    @include on-desktop {
      width: 325px;
    }
  }
}

.photo {
  transition: transform 0.3s;

  @include hover(transform, scale(1.1));
}
