.gallery-card {

  &__link {
    display: block;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 32px;
    }
  }

  &__photo {
    display: block;
    width: 100%;
    transition: transform $transition-duration;

    @include on-desktop {
      &:hover {
        transform: scale($transform-scale-img);
      }
    }
  }

  &__title {
    color: $accent-main-color;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    margin-bottom: 4px;
  }

  &__description {
    text-align: center;
  }
}
