.categories {
  .gallery {
    @include content-padding-inlain;
    &__content {
      margin-bottom: 40px;
    }
    .content {
      &__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        .img {
          width: 100%;

          @include hover(transform, scale(1.1));

          cursor: pointer;
        }
      }

      &__title {
        font-size: 18px;
        line-height: 25.2px;
        text-align: left;
        margin-top: 16px;
        margin-bottom: 0;
      }
    }
  }
}

.button {
  width: 100%;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  padding: 0 48px;
  border: none;
  border-radius: 8px;
  color: #fff;

  background-color: $button-background-color;

  @include on-desktop {
    width: 324px;
  }

  @include button-effect(background-color, $button-hover-background);
}
