.gallery{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__photo{
    display: block;
    margin: 0 auto;
  }

  &__photo-1{

    @include gallery-photo-1-2-6-7;
    @include photo-margin-bottom;
    @include photo-rectangle;

    @include on-tablet{
      padding-left: 72px;
    }

    @include on-desktop{
      padding: 0;
    }
  }

  &__photo-2{
    @include gallery-photo-1-2-6-7;
    @include photo-margin-bottom;
    @include photo-square-min;

    @include on-tablet{
      padding-right: 72px;
    }

    @include on-desktop{
      padding: 0;
    }
  }

  &__photo-3{
    padding-left: 20px;

    @include gallery-photo-3-4-5;
    @include photo-margin-bottom;
    @include photo-square-max;

    @include on-tablet{
      padding-left: 72px;
    }

    @include on-desktop{
      padding-left: 120px;
    }
  }

  &__photo-4{
    @include gallery-photo-3-4-5;
    @include photo-margin-bottom;
    @include photo-square-max;

    @include on-tablet{
      padding-right: 72px;
    }

    @include on-desktop{
      padding:0 24px;
    }
  }

  &__photo-5{
    padding-right: 20px;

    @include gallery-photo-3-4-5;
    @include photo-margin-bottom;

    @include on-tablet{
      display: none;
    }

    @include on-desktop{
      display: flex;
      width: 324px;
      height: 320px;

      padding-right: 120px;
    }
  }

  &__photo-6{
    @include gallery-photo-1-2-6-7;
    @include photo-margin-bottom;
    @include photo-square-min;
  }

  &__photo-7{
    @include gallery-photo-1-2-6-7;
    @include photo-margin-bottom;
    @include photo-rectangle;
  }

  &__block {
    flex-direction: column;
    display: grid;
    justify-content: center;
    text-align: left;
    margin-bottom: 24px;
    padding-inline: 20px;
  }

  &__photo__block-1{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 48px;

    @include on-tablet{
      gap: 24px;
    }
  }

  &__photo__block-2{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 48px;

    @include on-tablet{
      gap: 24px;
    }
  }

  &__photo__block-3{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 40px;
  }

  &__block-2{
    grid-template-columns: repeat(2, 1fr);
  }

  &__block-2{
    grid-template-columns: repeat(3, 1fr);
  }

  &__block-3{
    grid-template-columns: repeat(2, 1fr);
  }

  &__title{
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #D12D35;
    text-align: left;
  }

  &__date{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #161616;
    text-align: left;
    display: block;
  }
}
