.galleries {
  &__wrapper {
    display: grid;
    row-gap: 48px;

    @include on-tablet {
      row-gap: 48px;
    }
  }
}

.gallery {
  &__photos {
    @include page-grid;

    margin-bottom: 24px;
  }

  &__link {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    
    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    color: $main-content-text-color;
  }

  &__info {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
    letter-spacing: 0;
    color: #d12d35;
  }

  &__days {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
    letter-spacing: 0;
    color: $main-content-text-color;
  }
}
