body {
  width: 100%;
  font-family: Popins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $aside-font-color;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main {
  width: 100%;
  padding: 60px 20px 48px;
  box-sizing: border-box;
  display: block;
}

div,
nav,
aside,
article,
section {
  box-sizing: border-box;
}
