body {
  font-family: Popins, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $aside-font-color;
  box-sizing: border-box;
}

.main {
  width: 100%;
  padding: 60px 20px 120px;
  box-sizing: border-box;
  display: block;

  @include respond-to($monitor) {
    padding-bottom: 102px;
  }

  @include respond-to($monitor) {
    padding-bottom: 164px;
  }
}

div,
nav,
aside,
article,
section {
  box-sizing: border-box;
}
