.go-top {
  position: sticky;
  bottom: 20px;
  margin-bottom: 20px;
  left: 90%;
  width: 40px;
  height: 40px;
  text-align: center;

  &__link {
    display: block;
    text-decoration: none;
    background-color: #000;
    color: white;
    font-size: 22px;
    line-height: 38px;
    padding: 1px 5px;
  }

  &__link:hover {
    background-color: #d12d35;
  }
}
