.grid {
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);

  @include on-tablet {
    gap: 24px;
  }

  &__device {
    // display: flex;

    display: block;
    text-decoration: none;

    margin-bottom: 16px;

    &-img {
      // object-fit: contain;

      display: block;
      width: 100%;

      // @include on-tablet {
      //   height: 184px;
      //   width: 288px;
      // }

    }
  }


  &__title {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    color: #1B2129;

    @include on-tablet {
      font-size: 24px;
      line-height: 33.6px;
    }
  }
}

