.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include on-desctop {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
  }

  &--desctopontablet {
    display: block;

    @include on-tablet {
      display: grid;
    }

    @include on-desctop {
      display: grid;
    }
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--tablet-#{$start}-#{$end} {
          @include on-tablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        &--desktop-#{$start}-#{$end} {
          @include on-desctop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
