.heading {
  &--h2 {
    font-size: 64px;
    letter-spacing: -1.5px;
    line-height: 100%;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 0;
  }

  &--center {
    text-align: center;
  }
}
