/* #region header */
.header {
  // display: none !important;
  height: 80vh;
  box-sizing: border-box;
  background-size: cover;
  background-position: 87% center;
  background-image: url(/src/images/header-bg.svg);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include onTablet {
    height: 100vh;
  }

  &__bottom {
    text-align: center;
    padding-bottom: 88px;
    @include contentPaddingInline;

    @include onTablet {
      padding-bottom: 130px;
    }

    @include onDesktop {
      padding-bottom: 200px;
    }
  }

  &__title {
    margin: 0;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }
}
