.header {
  height: 100vh;
  box-sizing: border-box;
  background-image: url(../../images/mobile-images/header-bg-mobile-image.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title {
  font-family: "Space Grotesk", monospace, sans-serif;
  margin: 0;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -2px;
}

.header__bottom {
  padding: 0 20px 40px;
}

@media (min-width: 744px) {
  .header__bottom {
    padding: 0 72px 65px;
  }

  .header__title {
    font-size: 48px;
    width: 392px;
  }
}

@media (min-width: 1260px) {
  .header {
    background-image: url(../../images/pc-images/header-bg-image.png);
  }

  .header__bottom {
    padding: 0 120px 92px;
  }

  .header__title {
    font-size: 56px;
    width: 498px;
  }
}
