.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  background-image: url(../../images/bike.png);
  background-size: cover;

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__text {
    display: flex;
    justify-content: center;
    font-size: 36px;

    &--bold {
      font-weight: 700;
    }
  }
}
