.headphones {
  display: grid;
  justify-content: center;
  column-gap: 40px;
  row-gap: 20px;

  @media (min-width: 744px) {

    .headphones__images--blocks {
      height: 184px;
      width: 288px;
    }
  }

  @media (min-width: 1260px) {

    .headphones__images--blocks {
      height: 324px;
      width: 498px;
    }

    .headphones__button {
      width: 324px;
    }
  }

  &__header {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 47px;
  }

  &__images {
    display: flex;
    column-gap: 20px;
  }

  &__images--blocks {
    width: 100%;
    height: 130px;
  }

  &__text {
    font-weight: 700;
    font-size: 18px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f98921;
    border-radius: 5px;
    width: 100%;
    height: 56px;
    margin-top: 40px;
    margin-bottom: 120px;

    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;

    &:hover {
      background-color: #1b2129;
    }

    &:active {
      background-color: #010810;
    }
  }
}
