@import 'mixins';

.header__top {
  padding: 24px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  @include padding;

  &__img {
    object-fit: cover;
    width: 130px;
    height: 38px;

    @include onTablet{
      object-fit: cover;
      width: 187;
      height: 56;
    }

    @include onDesktop{
      object-fit: cover;
      width: 187;
      height: 56;
    }
  }

  &__icons {
    display: flex;
    gap: 32px;

    &--number{
      display: none;
      @include onTablet{
        text-decoration: none;
        color: white;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
      }

      @include onDesktop{
        text-decoration: none;
        color: white;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
      }
    }

    &--phone {
      background-size: contain;
      width: 24px;
      height: 24px;
      background-image: url(/src/images/header/icons-header/Icon-Phone-call.svg);
      background-repeat: no-repeat;

      @include onTablet{
        object-fit: cover;
        width: 32;
        height: 32;
      }

      @include onDesktop{
        object-fit: cover;
        width: 32;
        height: 32;
      }
    }

    &--menu {
      background-size: contain;
      width: 24px;
      height: 24px;
      background-image: url(/src/images/header/icons-header/Icon-Burger-menu.svg);
      background-repeat: no-repeat;

      @include onTablet{
        width: 32;
        height: 32;

      }

      @include onDesktop{
        width: 32;
        height: 32;
      }
    }
  }
}
