.header {
  height: 100vh;
  background-image: url(../../images/background-phone.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__bottom {
  margin-bottom: 88px;
}

.icons {
  display: flex;
  gap: 24px;
}

.header__logo {
  display: block;
  width: 130px;
  height: 38px;
}

.header__title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5;
  text-align: center;
}
