.top-bar {
  @include contentPaddingBlock;
  @include contentPaddingInline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__phone-number {
    position: absolute;
    visibility: hidden;
    top: 6px;
    right: 60px;
    width: 150px;
    font-size: 12px;
    font-weight: 700;
    color: inherit;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    @include headerLogo;
  }
}
