.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-image: url("../../../images/bcgr_img-mobile.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.header__center {
  display: flex;
  justify-content: center;
  margin: auto;
}

.header__title {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: #fff;
  font-size: 2.5rem;
}
