.header {
  background-image: url(../../src/images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  color: #fff;

  &__bottom {
    padding-bottom: 50vh;
  }

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    color: #fff;

    @include on-tablet {
      font-size: 64px;
    }
  }
}
