.section__title {
  font-size: 32px;
  line-height: 1;
  margin-bottom: 48px;

  @include on-tablet {
    font-size: 40px;
    margin-bottom: 56px;
  }

  &--align--left {
    text-align-last: left;
    margin-bottom: 24px;
  }
}

.grid-title {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 1 / 7;
  }
}

.title__container {
  @include page-grid;
}
