.header-top {
  padding: 24px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 130px;
    height: 38px;

    background-repeat: no-repeat;
    background-size: cover;

    &--white {
      background-image: url(../images/mybike-logo-white.svg);
    }

    &--black {
      background-image: url(../images/mybike-logo-black.svg);
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__icon {
    display: flex;
    flex-direction: row;

    height: 24px;
    width: 24px;

    -webkit-tap-highlight-color: transparent;

    &:active {
      border: 1.6px solid $main-color;
      border-radius: 10%;
    }
  }

  &__icon--phone {
    position: relative;

    background-image: url('/src/images/icons/icon-phone-call.svg');
    background-repeat: no-repeat;
    background-size: contain;

    &:hover::before {
      content: '+1 234 5555-55-55';

      position: absolute;
      right: 44px;

      height: 24px;
      width: 150px;
      display: none;

      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 2px;
      color: $text-color;
      text-decoration: none;
    }
  }

  &__icon--menu {
    background-image: url('/src/images/icons/icon-burger-menu.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__icon--close {
    background-image: url('/src/images/icons/icon-close.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__icon--menu:hover {
    background-image: url('/src/images/icons/icon-burger-menu-hover.svg');
  }
}
