.header-top {
  height: 86px;

  @include padding-top;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 130px;
    height: 38px;

    background-repeat: no-repeat;
    background-size: cover;

    &--white {
      background-image: url(../images/mybike-logo-white.svg);
    }

    &--black {
      background-image: url(../images/mybike-logo-black.svg);
    }

    @include on-tablet {
      width: 187px;
      height: 56px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__icon {
    display: flex;
    flex-direction: row;

    height: 24px;
    width: 24px;

    -webkit-tap-highlight-color: transparent;

    &:active {
      border: 1.6px solid $main-color;
      border-radius: 10%;
    }

    @include on-tablet {
      width: 32px;
      height: 32px;
    }
  }

  &__phone-info {
    display: none;

    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 2px;
    color: $text-color;
    text-decoration: none;

    transition: opacity $default-transition;

    &:hover {
      text-shadow: 0 0 8px $text-color;
    }
  }

  &__phone {
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &:hover > &-info {
      display: block;
    }
  }

  &__icon--phone {
    background-image: url('/src/images/icons/icon-phone-call.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__icon--menu {
    background-image: url('/src/images/icons/icon-burger-menu.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__icon--close {
    background-image: url('/src/images/icons/icon-close.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__icon--menu:hover {
    background-image: url('/src/images/icons/icon-burger-menu-hover.svg');
  }
}
