.hidden__contacts {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;

  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    transition-duration: $effect-duration;
    opacity: 0;

    &--hide {
      display: none;
    }

    @include on-desktop {
      display: block;
    }

    &:target {
      opacity: 1;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &-title {
    font-family: Cinzel, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;

    margin: 0;
    color: $second-text-color;
  }

  &-number {
    margin: 0;
  }

  &-link {
    font-family: Cinzel, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;

    margin: 0;
    color: $second-text-color;
    text-decoration: none;

    &:hover {
      color: $accent-color;
    }
  }
}
