.hint {
  margin: 0;
  padding: 0;
  width: max-content;

  &__text {
    display: block;
    text-decoration: none;
    text-align: right;
    color: $second-text-color;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 8px;
    transition: all $effect-duration;

    @include hover(transform, scale(1.05));
  }
}
