.hint {
  margin: 0;
  padding: 0;
  width: max-content;

  &__text {
    display: block;
    text-decoration: none;
    text-align: right;
    color: $second-text-color;
    transition: $effect-duration;

    @include hover (font-weight, 700);
  }
}
