.history {
  @include page-grid;

  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  max-width: 1200px;
  display: grid;

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop{
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__text {
    text-align: left;
    grid-column: 1 / -1;

    // display: grid;
    // margin-bottom: 40px;
    // padding: 0;
    // list-style: none;

    font-weight: 500;
    font-size: 23px;
    margin: 0;
    line-height: 140%;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop{
      grid-column: span 6;
    }
  }
}
