.history {
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 200px;

    background-image: url(../images/old-player-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: cover;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }

    @include constent-padding-inline;
  }

  &__content {
    @include page-grid;

    padding: 48px 0;
    background-color: #fcfaef;

    @include on-tablet {
      padding: 120px 0;
    }

    @include constent-padding-inline;
  }

  &__title {
    grid-column: 1 / -1;
    font-size: 32px;
    font-style: Bold;
    line-height: 32px;

    @include on-tablet {
      grid-column: 1 / 4;
      font-size: 40px;
      line-height: 100%;
    }

    @include on-desktop {
      grid-column: span 6;
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__description {
    grid-column: 1 / -1;

    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 8 / 13;
    }
  }
}
