.home-content {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @include content-padding-inline;

  &__container {
    margin-top: auto;
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #fff;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }
  }
}