.home-bottom {
  height: 460px;
  margin-bottom: 56px;
  background-image: url('../images/phone-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include on-tablet {
    height: 400px;
  }

  @include on-mobile {
    height: 200px;
    margin-bottom: 48px;
  }
}
