.hours {
  padding: 100px 0 50px;

  &__inner {
    display: flex;
    flex-direction: column;

    @media (min-width: 744px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__over-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: $accent;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &--column {
      flex-direction: column;
      margin: 0;
    }
  }

  &__item-title {
    font-weight: 700;
    min-width: 121px;
    margin-right: 25px;
  }

  &__item-info {
    margin-right: auto;
  }

}
