.how-to-buy {
  @include page-grid-mix;

  &__title {
    grid-column: 1 / -1;

    & .section-title {
      width: 100%;
    }

    @include on-tablet-mix {
      grid-column: 1 / 4;
    }

    @include on-desctop-mix {
      grid-column: span 5;
    }
  }

  &__content {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
    grid-column: 1 / -1;

    @include on-tablet-mix {
      grid-column: 4 / 7;
    }

    @include on-desctop-mix {
      grid-column: 7 / 13;
    }
  }

  &__description {
    margin: 0;
    line-height: 140%;
  }
}
