.how-to-buy {
  @include page-grid;
  @include content-padding-inline;

  position: relative;
  margin-bottom: 64px;

  @include on-tablet {
    margin-bottom: $tablet-gap;
  }

  &__photo {
    position: relative;
    height: 200px;
    grid-column: 1/ -1;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }

    &::before {
      @include section-on-page-width(
        0,
        -20px,
        url(../images/photo-section.png),
        cover,
        center
      );

      @include on-tablet {
        inset: 0 -72px;
      }
  
      @include on-desktop {
        inset: 0 -120px;
      }
    }
  }

  &::before {
    @include section-on-page-width(
      -48px,
      0, 
      $how-to-buy-background-color
    );

    @include on-tablet {
      inset: 0 0 -120px;
    }
  }

  &__title {
    margin-top: 48px;
    margin-bottom: 24px;
    grid-column: 1/ -1;

    @include on-tablet {
      margin-top: $tablet-gap;
      margin-bottom: 0;
      grid-column: 1/ 4;
    }

    @include on-desktop {
      grid-column: 1/ 7;
    }
  }

  &__description {
    margin: 0;
    grid-column: 1/ -1;

    @include on-tablet {
      margin-top: $tablet-gap;
      grid-column: 4/ -1;
    }

    @include on-desktop {
      grid-column: 8/ -1;
    }
  }
}
