.how-to-by{
@include page-grid;

  &__title{
    grid-column:1 /-1;

    @include on-tablet{
      grid-column:1 / 5;
    }

    @include onDesktop{
      grid-column:span 4;
    }
  }

  &__content{
    grid-column:1 /-1;

    @include on-tablet{
      grid-column:5 / 8;
    }

    @include onDesktop{
      grid-column:span 7;
    }
  }

  &__description{
    margin: 0;
    font-family: 'Space Mono',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;

  }
}
