.how-to-buy {
  @include pageGrid;

  &__title {
    grid-column: 1/-1;

    @include onTable {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1/-1;

    @include onTable {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    row-gap: 16px;
    margin-bottom: 40px;
  }

  &__description {
    margin: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
  }

  margin-bottom: 96px;
}
