.icon {
  display: block;
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/icons/Icon-Phone-call.svg);
    position: relative;

    @include onDesktop {
      &:hover::before {
        content: "+1 234 5555-55-55";
        position: absolute;
        float: right;
        right: 100%;
        bottom: 8px;
        width: auto;
        white-space: nowrap;
        color: #292929;
        font-family: $inter;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 2px;
      }
    }
  }

  &--menu {
    background-image: url(../images/icons/Icon-Burger-menu.svg);

    &:hover {
      background-image: url(../images/icons/Icon-Burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/Icon-Close.svg);
  }
}
