.icons-container {
  width: 100%;
  @include flex-space-between-center;

  &__icons-box {
    @include flex-space-between-center;
    gap: 24px;

    @include onTablet {
      gap: 55px;
    }
  }

  &__link {
    @include flex-all-center;

    &:hover::before {
      content: "";
    }
  }

  &__button {
    @include buttons-style;
  }

  &__img-phone,
  &__img-burger,
  &__img-close {
    @include header_icon-size;
  }

}
