.icon {
  display: block;
  background-size: cover;
  height: 24px;
  width: 24px;
  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(./../images/icon-phone.svg);
    text-decoration: none;

    &::before {
      position: relative;
      display: block;
      content: "+1 234 5555-55-55";
      top: 9px;
      left: -150px;
      opacity: 0;

      color: $main-text-color;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      white-space: nowrap;

      transition: opacity 0.3s;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &--menu {
    background-image: url(./../images/icon-burger-menu.svg);

    &:hover {
      background-image: url(./../images/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(./../images/icon-close.svg);
  }
}
