.icon {
  width: 24px;
  height: 24px;
  display: block;
}

.icon--phone {
  background: url(../../images/icons/icon-phone.png);
}

.icon--menu {
  background: url(../../images/icons/icon-menu.png);
}

.icon--close {
  background: url(../../images/icons/icon-close.png);
}
