.icon {
  display: block;
  height: 24px;
  width: 24px;

  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
    cursor: url('../images/coursor.svg'), auto;
  }

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--menu {
    background-image: url(../images/Icon-Burger-menu.svg);
    background-size: cover;

    &:hover {
      background-image: url(../images/icon-burger-menu-hover.svg);
      background-size: cover;
    }
  }

  &--phone {
    background-image: url(../images/Icon-Phone-call.svg);
    background-size: cover;
    position: relative;

   @include on-desktop {
    &::after {
      position: absolute;
      content: '+1 234 555-55-55';
      width: 138px;
      top: 8px;
      left: -138px;
      font-family: Poppins, sans-serif;
      font-size: 12px;
      font-weight: 700;
      color: rgba(232, 232, 240, 0);
    }
   }

    &:hover::after {
    color: $text-color;
    }
  }

  &--close {
    background-image: url(../images/Icon-Close.svg);
    background-position: center;
    background-size: cover;
  }

  &--my-bike {
    width: 130px;
    height: 38px;

    @include on-tablet {
      width: 187px;
      height: 56px;
    }
  }
}


