.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;

  @include onTablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/icons/icon-phone.svg);
    position: relative;
    box-sizing: border-box;
  }

  &--phone::after {
    content: " ";
    position: absolute;
    width: 190px;
    right: 0;
    top: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    transition: all $effectDuration ease;
  }
  &--phone:hover::after {
    content: "+1 234 555-55-55";
    opacity: 1;
    gap: 20px;
  }

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);
  }

  &--menu:hover {
    background-image: url(../images/icons/icon-menu--hover.svg);
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}
