.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url('/src/images/icone-phone.png');
}

.icon--menu {
  background-image: url('/src/images/icon-burger-menu.png');
}

.icon--close {
  background-image: url('/src/images/icon-close.png');
}
