.icon {
  display: block;
  height: 24px;
  width: 24px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.icon--phone {
  background-image: url(../../images/icons/icon-phone.png);
}

.icon--menu {
  background-image: url(../../images/icons/icon-burger-menu.png);
}

.icon--close {
  background-image: url(../../images/icons/icon-close.png);
}

.icon--phone[data-tooltip]:hover::before {
  content: attr(data-tooltip);
  position: absolute;
  color: white;
  top: 35px;
  right: 120px;
}

@media (max-width: 500px) {
  .icon--phone[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    color: white;
    top: 70px;
    right: 25px;
  }
}
