.icon {
  height: 32px;
  width: 32px;
  display: block;
}

.icon__phone {
  background-image: url("../../images/icons/phone-call.svg");
}

.icon__menu {
  background-image: url("../../images/icons/burger-menu.svg");
}

.icon__close {
  background-image: url("../../images/icons/icon-close.svg");
}
