.icon {
  display: block;

  width: 1.5rem;
  height: 1.5rem;

  background-size: cover;

  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 2rem;
    height: 2rem;
  }

  &--phone {
    background-image: url(../images/icon/icon-phone.png);
  }

  &--menu {
    background-image: url(../images/icon/icon-menu.png);

    &:hover {
      background-image: url(../images/icon/icon-menu-hover.png);
    }
  }

  &--close {
    background-image: url(../images/icon/icon-menu-close.png);
  }
}
