.icons {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
}

.icons--phone {
  background-image: url(../../images/icons/phone-call.svg);
}

.icons--burger {
  background-image: url(../../images/icons/burger-menu.svg);
}

.icons--close {
  background-image: url(../../images/icons/close.svg);
}
