.image{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center center;

    &--crop-left{
        object-position: left center;
    }

    &--crop-15-center{
        object-position: 15% center;
    }

    &--crop-right-25{
        object-position: right 25%;
    }

    &--cropped-on-wide{
        @include on-tablet{
            aspect-ratio: 2/1;
        }
    }
}