.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include hoverEffect (scale, 105%);

  &--oldMasters {
    object-position: 15%;
  }

  &--dancers {
    object-position: right;
  }
}
