.image-page {
  margin: 0;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__phone {
    height: 100%;
    width: 100%;
  }
}

picture {
  height: 100%;
  display: block;
}
