.base_image {
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s ease-in-out;
}

.image_over {
  overflow: hidden;
}

.base_image:hover {
  transform: scale(1.1);
}

.block_1_1_image {
  content: url(./../images/first_block_des_1.png);
}

.block_1_2_image {
  content: url(./../images/first_block_des_2.png);
}

.block_2_1_image {
  content: url(./../images/second_block_des_1.png);
}

.block_2_2_image {
  content: url(./../images/second_block_des_2.png);
}

.block_3_1_image {
  content: url(./../images/third_block_des_1.png);
}

.block_3_2_image {
  content: url(./../images/third_block_des_2.png);
}

@media screen and (max-width: 768px) {
  .base_image {
    min-width: 130px;
    min-height: 122px;
  }

  .block_1_1_image {
    content: url(./../images/first_block_1.png);
  }

  .block_1_2_image {
    content: url(./../images/first_block_2.png);
  }

  .block_2_1_image {
    content: url(./../images/second_block_1.png);
  }

  .block_2_2_image {
    content: url(./../images/second_block_2.png);
  }

  .block_3_1_image {
    content: url(./../images/third_block_1.png);
  }

  .block_3_2_image {
    content: url(./../images/third_block_2.png);
  }

}

@media screen and (min-width: 768px) {
  .image_over_first {
    position: relative;
    z-index: 0;
  }

  .some_fix {
    width: calc(100% - 86%);
    height: calc(100% - 86%);
    background: linear-gradient(180deg, #47453e 0%, #45433c 23.13%, #45433b 44.74%, #45423c 65.48%, #44423b 81.03%, #423f3a 100%);
    position: absolute;
    bottom: 1%;
    right: .01px;
    z-index: 2;
  }
}
