.image-between-sections {
  margin: 0;
  &__img {
    display: block;
    margin-bottom: 48px;
    width: 100%;
    background-image: url('../images/about-us.png');
    background-size: cover;
    background-position: center;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }
}
