.image-block {
  @include page-grid-mix;

  &--width {
    grid-column: 1 / -1;

    width: 100%;
    min-height: 200px;
    margin-bottom: 48px;

    background-size: cover;

    @include on-tablet-mix {
      grid-column: 1 /-1;
      min-height: 400px;
      margin-bottom: 56px;
      transition: all 0.6s;
    }

    @include on-desctop-mix {
      grid-column: 1 /-1;
      max-height: 460px;
      margin-bottom: 56px;
    }
  }
}
