@use './utils/mixin' as *;
@use './variables' as *;

.image {
  max-width: 1200px;

  // width: 100%;
  height: auto;
  margin: 0 auto;

  &__bottom {
    top: 96px;

    width: 100%;
    height: 300px;
    margin: 0;

    background-image: url('/src/images/image__bottom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include on-tablet {
      top: 120px;
    }

    @include on-desktop {
      top: 120px;
    }
  }
}
