.img{

  &--section-seperation{
    display: block;
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;

    @include onTablet{
      height: 400px;
    }

    @include onDesktop{
      height: 460px;
    }
  }
}
