.img{

  &--section-seperation{
    display: block;
    height: 200;
    width: 100%;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;

    @include on-tablet{
      height: 400;
    }

    @include on-desktop{
      height: 460;
    }
  }
}
