.info-panel {
  &__title {
    margin: 0;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 14px;

    &--bald {
      color: #3e3e3e;
      font-size: 16px;
      font-weight: 700;
    }
  }

  grid-column: span 2;

  @include OnTablet {
    grid-column: span 3;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__part {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__a {
    text-decoration: none;
  }
}
