.info {
  @include onDesktop {
    padding: 100px 0;
  }

  &__content {
    display: flex;
    justify-content: left;

    @include onTablet {
      justify-content: center;
    }

    @include onDesktop {
      display: grid;
      grid-auto-flow: column;
    }

    &__title {
      width: 280px;

      @include onDesktop {
        position: relative;
        display: flex;
        width: 100%;

        &::after {
          content: "";
          border-bottom: 1px solid $primaryColor;

          position: absolute;
          left: 0;
          top: calc(100% + 100px);
          padding-right: 630px;
        }
      }
      @include onLargeDesktop {
        position: relative;
        display: flex;
        width: 100%;

        &::after {
          content: "";
          border-bottom: 1px solid $primaryColor;

          position: absolute;
          left: 0;
          top: calc(100% + 100px);
          padding-right: 711px;
        }
      }
    }

    &__description {
      display: none;
      width: 100%;

      @include onDesktop {
        position: relative;
        display: flex;

        &::before {
          content: "";
          border-bottom: 1px solid $primaryColor;

          position: absolute;
          right: 0;
          top: -100px;
          padding-left: 530px;
        }
      }

      @include onLargeDesktop {
        position: relative;
        display: flex;

        &::before {
          content: "";
          border-bottom: 1px solid $primaryColor;

          position: absolute;
          right: 0;
          top: -100px;
          padding-left: 610px;
        }
      }
    }
  }
}
