.columns {
@include on-desktop {
@include page-grid;

.info__contact {
  grid-column: 1/6;
}

.contact-us__titles {
  grid-column: 7/13;
}
}

.info__contact {
.info__name {
  border: 2px solid #f8f8fa;
  background: #f8f8fa;
  border-radius: 8px;
  font-family: $second-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #7e7e83;
  margin-bottom: 16px;
  height: 48px;
  width: 100%;

@include on-desktop {
    width: 611px;
    grid-column: 1/-1;
  }

  @include on-tablet {
    width: 100%;
    height: 48px;
  }
}

.info__email {
  border: 2px solid #f8f8fa;
  background: #f8f8fa;
  border-radius: 8px;
  font-family: $second-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #7e7e83;
  margin-bottom: 16px;
  height: 48px;
  width: 100%;

@include on-desktop {
  width: 411px;
  grid-column: 1/6;
  }

@include on-tablet {
  width: 100%;
  height: 48px;
  }
}

.info__message {
  border: 2px solid #f8f8fa;
  background: #f8f8fa;
  border-radius: 8px;
  font-family: $second-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #7e7e83;
  margin-bottom: 32px;
  resize: none;
  height: 148px;
  width: 100%;

@include on-desktop {
  width: 411px;
  grid-column: 1/6;
  }

@include on-tablet {
  width: 100%;
  height: 148px;
  }
}

.info__send {
  background: $main-text-color;
  border-radius: 8px;
  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  border: 2px solid $main-text-color;
  height: 56px;
  width: 100%;
  margin-bottom: 48px;

@include on-desktop {
  width: 411px;
  grid-column: 1/6;
  margin-bottom: 120px;
  }

@include on-tablet {
  width: 100%;
  height: 48px;
  margin-bottom: 80px;
  }

&:hover {
border: 2px solid $button-text-hover-color;
  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 169%;
  text-align: center;
  background-color: $background-hover-color;
  color: $main-text-color;
}
&:active {
  border-radius: 8px;
  border: 2px solid $main-text-color;
  background: $main-text-color;
  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 169%;
  text-align: center;
  color: #fff;
}
}
}

.contact-us__titles {
  .info__titles {
@include on-desktop {
  margin-top: 0;
  margin-bottom: 8px;
  }

  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #9393a3;
  }

.info__informations {
margin: 0;

@include on-desktop {
  margin-bottom: 24px;
  }

  font-family: $second-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #191919;
  }
}

padding-bottom: 64px;

@include on-tablet {
  padding-bottom: 120px;
}
}
