.infoBox {
  &__item {
    margin: 0;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;

    &--title {
      font-size: 14px;
      color: $contact-us_info_title_color;
    }

    &--text {
      font-size: 16px;
      color: inherit;
    }
  }
}
