.information-block {
  &__title {
    margin: 0;
    color: rgba(147, 147, 163, 1);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.15;
    margin-bottom: 8px;
  }

  &__descrip {
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.15;
    font-weight: 400;
    margin-bottom: 24px;
  }
}
