.info {
  &__block {
    margin-bottom: 24px;

    &--name {
      font-size: 14px;
      margin-bottom: 8px;
    }

    &--text {
      text-decoration: none;
      color: $light-text-color;
      font-size: 16px;
      font-weight: 500;
      line-height: 22.4px;

      &:hover {
        color: aquamarine;
      }
    }
  }
}
