.info-block__item {
  margin: 0;
  margin-bottom: 24px;

  &--possition {
    margin-bottom: 0px;
  }
}

.item-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.item-text {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;

  &--link {
    text-decoration: none;
    cursor: pointer;
  }

  &:hover {
    color: #bdbaba;
  }
}
