.info-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: all $animation-standard-duration ease;

  &__card {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
  }

  &__content {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
  }

  &--on-hover:hover {
    color: grey;
    cursor: pointer;
  }
}
