.information {
  display: grid;
  grid-column: 1 / -1;

  &__content {
    margin-bottom: 120px;

    @include gridPage;
    text-align: left;
  }

  @include onTablet {
    grid-column: span 3;
  }
  @include onDesktop {
    grid-column: span 5;
  }

  &__title {
    width: 100%;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;

    column-gap: 24px;
    grid-column: 1 / -1;

    color: #292929;
    margin-bottom: 32px;

    @include onTablet {
      font-size: 40px;
      line-height: 100%;
      grid-column: span 3;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
      grid-column: span 5;
    }
  }

  &__guarantee {
    display: grid;
    row-gap: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;

    color: #292929;

    grid-column: 1 / -1;
    margin-bottom: 64px;
  }

  &__text {
    font-size: 16px;
    line-height: 27px;
    color: #292929;
    grid-column: 1 / -1;

  }
}
