.info {
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 4 / -1;
  }

  @include onDesktop {
    grid-column: 8 / -1;
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
  }

  &__information {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
