.information {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &__title {
    color: #9393A3;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 8px;
  }

  &__link {
    font-family: 'Space Mono', monospace;
    color:#191919;
    font-size: 16px;
    line-height: 22.4px;
    display: block;
    transition:  0.3s color;
    &:hover {
      color:#888484;
    }
  }
}
