.inp {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 14px 16px;
  border-radius: 40px;
  color: #292929;
  background-color: #f8f8fa;
  outline: none;
  border: none;

  @include on-desktop {
    width: 400px;
  }

  &:hover {
    border: 1px solid #d5d7de;
  }

  &:focus {
    background-color: #ecf4f1 !important;
  }

  &:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
  }

  &--msg {
    height: 120px;
    border-radius: 20px;
    resize: none;
  }
}
