.inp {
  width: 278px;
  height: 48px;
  box-sizing: border-box;
  padding: 14px 16px;
  border-radius: 40px;
  color: #292929;
  background-color: #f8f8fa;

  &:hover {
    border: 1px solid #d5d7de;
  }

  &--msg {
    height: 120px;
    border-radius: 20px;
    resize: none;
  }
}
