.input {
  background-color: $bg-color;
  border: $bg-color 1px solid;
  border-radius: 8px;
  font-family: "Space Mono", monospace;
  padding: 16px 14px;

  &:hover {
    color: $main-text-color;
    border-color: #d5d7de;
  }

  &:focus {
    border-color: $main-text-color;
    color: $main-text-color;
    outline: none;
  }

  &-message {
    min-height: 120px;
    resize: none;
  }

  @include on-desktop {
    grid-column: span 5;
  }
}
