.input {
  font-family: inherit;
  box-sizing: border-box;
  padding: 12px 16px;
  height: 48px;
  font-size: 14px;
  background-color: $input-bg-color;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;

  &::placeholder {
    color: $text-color-muted;
  }

  &--textarea {
    height: 148px;
    margin-bottom: 0;
    resize: none;
  }

  @include is-desktop {
    &:hover {
      border-color: $input-border-color;
      transition: $transition-speed;
    }
  }

  &:focus {
    border-color: $input-border-color-focused;
  }
}
