.input {
  display: block;
  padding: 14px 16px;
  border: 0;
  border-radius: 8px;
  background-color: $bg-color-menu;
  outline: none;
  color: $text-color-main;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.15px;
  box-sizing: unset;

  &:-webkit-autofill {
    &, &:hover, &:focus {
      -webkit-box-shadow: 0 0 0 1000px $bg-color-menu inset;
    }
  }

  &::placeholder {
    color: $input-color-playsholder;
  }

  &:hover {
    border: 1px solid $input-color-border-hover;
    padding: 13px 15px;
  }

  &:focus {
    border: 2px solid $button-color-orange;
    padding: 12px 14px;
  }
}
