.input-text {
  all: unset;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-left: 16px;
  line-height: 20px;
  color: #292929;
  border-radius: 40px;
  background-color: #f8f8fa;
  border: 1px solid transparent;
  transition: $transition-time;

  &::placeholder {
    color: #7e7e83;
    font-family: Poppins, Arial, sans-serif;
  }

  &:hover {
    border: 1px solid #d5d7de;
  }

  &:focus {
    border: 1px solid #d5d7de;
  }

  &--textarea {
    border-radius: 16px;
    min-height: 278px;
    padding: 14px 16px;
  }
}
