.input {
  height: 48px;
  padding: 14px 16px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid $accent-color;
  background-color: $accent-color;
  color: inherit;
  font-size: 14px;

  &::placeholder {
    color: $secondary-color;
  }

  @include hover(border-color, $secondary-color);

  &:focus {
    border-color: $main-color;
  }

  &--textarea {
    height: 148px;
  }
}
