.insert {
  height: 200px;
  margin-bottom: 48px;

  background-image: url(../images/cover-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include on-tablet {
    height: 400px;
    margin-bottom: 56px;
    background-image: url(../images/cover-tablet.png);
  }

  @include on-desktop {
    height: 460px;
    background-image: url(../images/cover-desktop.png);
  }
}
