.insert {
    background-image: url(../images/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    margin: 0px -20px;

    @include onTablet {
      height: 400px;
      margin: 0px -72px;

    }
    @include onDesktop {
      height: 460px;
      margin: 0px -120px;

    }


}