.insert {
  height: 200px;
  margin: 0 -20px;

  background-image: url(../images/cover.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include on-tablet {
    height: 400px;
    margin: 0 -72px;
  }

  @include on-desktop {
    height: 460px;
    margin: 0 -120px;
  }
}
