.inspiration {

  &__content {
    @include page-grid;
    color: $primaryColor;
    margin: 60px 0 0;
    row-gap: 32px;

    @include on-tablet {
      margin: 120px 0 0;
    }
  }

  &__title {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on_desktop {
      grid-column: 1 / 6;
    }
  }

  &__text {
    grid-column: 1/-1;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0;
    font-weight: 500;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on_desktop {
      grid-column: 6 / -1;
    }
  }
}
