.intro {
  @include grid;
  row-gap: 32px;

  margin-bottom: 92px;

  @include onTablet {
    margin-bottom: 132px;
  }

  @include onDesktop {
    margin-bottom: 164px;
  }

  &__heading {
    @include mobileHeading2;
    color: $color-text-main;

    grid-column: 1 / -1;

    @include onTablet {
      @include tabletHeading2;
      grid-column: span 3;
    }

    @include onDesktop {
      @include desktopHeading2;
      grid-column: span 6;
    }
  }

  &__text {
    @include mobileTextBig;
    color: $color-text-main;

    grid-column: 1 / -1;

    @include onTablet {
      @include tabletTextBig;
      grid-column: span 3;
    }

    @include onDesktop {
      @include desktopTextBig;
      grid-column: span 6;
    }
  }
}
