.item {
  text-align: center;

  &__image {
    width: 100%;

    @include hover(transform, scale(1.05));
  }

  &__header {
    margin: 0;
    padding: 0;
    margin-top: 32px;

    font-size: 24px;
    line-height: 33.6px;
    color: $accent-color;
  }

  &__text {
    margin: 0;
    padding: 0;
    margin-top: 4px;
  }
}
