.item {
  &__option {
    grid-column: 1 / -1;
    display: grid;

    &__image {
      width: 280px;
      height: 228px;
      margin-bottom: 32px;

      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }

      @media (min-width: 744px) {
        width: 392px;
        height: 316px;
        place-self: center;
      }

      @media (min-width: 1260px) {
        width: 324px;
        height: 256px;
      }
    }

    &__title {
      @include fonts(700, 24px, 140%);
      margin-bottom: 8px;
    }

    &__description {
      @include fonts(400, 16px, 140%);
      margin-bottom: 16px;
    }

    &__price {
      @include fonts(700, 24px, 140%);
    }

    @media (min-width: 744px) {
      grid-column: 2 / 6;
    }

    @media (min-width: 1260px) {
      grid-column: span 4;
    }

  }

  @media (min-width: 744px) {
    @include tablet(24px);
    row-gap: 48px;
  }

  @media (min-width: 1260px) {
    @include desctop(24px);
  }
}
