.limited-edition {
  background-color: #FCFAEF;

  &__img {
    width: 100%;
    height: 200px;
    object-fit: cover;

    @include onTablet {
      height: 400px;
    }

    @include onDesktop {
      height: 460px;
    }
  }

  &__content {
    @include contentPaddingInLine;
    @include pageGrid;

    background-color: #FCFAEF;
    padding-block: 48px;

    @include onTablet {
      padding-block: 120px;
    }
  }

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__description {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 8 / 12;
    }

    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
  }
}
