.link {
    text-align: center;
    color: $secondary-color;
    background-color: $primary-color;

    padding-block: 14.5px;
    border-radius: 40px;

    @include hover(box-shadow, 1px 4px 16px 0 rgba(232, 232, 240, 0.4));

    &:active {
        box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
    }

    &--lg {
        font-size: 22px;
        line-height: 22px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    &--md {
        font-size: 16px;
        line-height: 27px;
        font-weight: 600;
    }

    &--sm {
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        letter-spacing: 2px;
    }
}
