.link {
  @include font(Cinzel, 700, 22px);

  position: relative;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    border: 1px solid;
    transform: scale(0);
    transform-origin: left;
    transition: transform $transition;
  }

  &:hover {
    &::after {
      transform: scale(1);
    }
  }
}
