.categories {
  &__button__link {
    display: flex;
    grid-column: 1 / -1;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    height: 56px;
    border-radius: 8px;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: $link-mob-click;
    text-decoration: none;

    background-color: $main-text-color;

    transition: all 0.3s;

    @include on-tablet-mix {
      position: relative;
      width: 100%;
      color: $link-mob-color;
      background-color: $main-text-color;
    }

    @include on-desctop-mix {
      max-width: 324px;
      color: $link-mob-click;
    }

    &:hover {
      border: 2px solid $link-hover-click;
      color: $main-text-color;
      background-color: $link-hover-click;
    }

    &:focus {
      box-sizing: border-box;
      border-radius: 8px;

      font-family: 'Space Grotesk', sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      color: $link-mob-click;

      background-color: $main-text-color;

      transition: all 0.3s;
    }
  }
}

.contacts {
  &__content-link {
    display: flex;
    grid-column: 1 / -1;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    min-width: 280px;
    height: 56px;
    margin-bottom: 48px;
    border: 2px solid $link-hover-click;
    border-radius: 8px;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: $main-text-color;
    text-decoration: none;

    background-color: $link-mob-click;

    transition: all 0.3s;

    &:hover {
      border: 2px solid $link-hover-click;
      color: $main-text-color;
      background-color: $link-mob-click;
      transition: (0.3s);

      @include on-desctop-mix {
        border: 1px solid $input-hover-color;
        color: $main-text-color;
        background-color: $link-mob-click;
        transition: (0.3s);
      }
    }

    &:active {
      box-sizing: border-box;
      border-radius: 8px;

      font-family: 'Space Grotesk', sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      color: $link-mob-click;

      background-color: $main-text-color;

      transition: all 0.3s;

      @include on-desctop-mix {
        background-color: $link-active-click;
        transition: all 0.3s;
      }
    }

    @include on-tablet-mix {
      margin-bottom: 80px;
    }

    @include on-desctop-mix {
      margin-bottom: 120px;
    }
  }
}
