.location {
  display: inline-block;
  color: $secondary-text-color;
  @include hoverLinksUnderlines($secondary-text-color, -5px);
  @include hover(color, $accent-color);

  &--white {
    color: $main-text-color;
    @include hoverLinksUnderlines($main-text-color, -2px);
    @include hover(color, $secondary-text-color);
  }
}
