.location {
  display: inline-block;
  color: $secondary-text-color;
  text-decoration: none;
  @include hover(color, $accent-color);

  &--white {
    color: $main-text-color;
    @include hover(color, darken($color: $main-text-color, $amount: 20));
    text-decoration: none;
  }
}
