.login {
  @include page-grid;
  
  position: relative;
  padding-top: 48px;

  @include on-tablet {
    padding-top: 56px;
  }

  &__tablet {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  &__title {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 1/4;
  }

  @include on-desktop {
    grid-column: span 6;
  }
}

&__content {
  grid-column: 1/-1;
  margin:  0;
  text-align: left;

  @include on-tablet {
    grid-column: 4/7;
  }

  @include on-desktop {
    grid-column: span 6;
  }
}

  &__description {
    margin: 0;
    font-size: 16px;
    font-weight: 400px;
    line-height: 22.4px;
    font-family: $font-mono;
    padding-bottom: 22.4px;
  }
}
