@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.login {
  &__title {
    grid-column: 1 / -1;
  }

  &__content {
    @include page-grid;

    margin: 0;
    font-family: 'Space Mono', monospace;
    line-height: 140%;
  }

  &__form {
    grid-column: 1 / -1;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 80px;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__field {
    font-family: inherit;
    display: block;
    box-sizing: border-box;
    margin-bottom: 16px;
    padding: 14px;

    width: 100%;
    height: 48px;
    color: $main-text-color;
    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 8px;
    background-color: $background-color-form-field;

    transition: all 0.7s;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      color: #7e7e83;
    }

    &:hover {
      border-color: #d5d7de;
    }

    &:hover::placeholder {
      color: $main-text-color;
    }

    &:focus {
      outline: none;
      color: $main-text-color;
      border-color: $main-text-color;
    }

    &--textarea {
      margin-bottom: 32px;
      height: 148px;
      resize: none;
    }
  }

  &__wrapper-button {
    display: grid;
    grid-column: 1 / -1;
  }

  &__info {
    display: grid;
    align-content: start;
    grid-column: 1 / -1;
    row-gap: 24px;

    @include on-desktop {
      grid-column: 7 / 12;
    }
  }

  &__info-title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #9393a3;
  }

  &__info-link {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: $main-text-color;

    &:hover {
      text-shadow: 1px 1px 1px grey;
    }
  }
}
