.login {
  @include pageGrid;

  &__title {
    grid-column: 1 / -1;
  }

  &__inputs {
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__text-field {
    box-sizing: border-box;
    background: #f8f8fa;
    padding-left: 16px;
    min-height: 48px;
    border-radius: 8px;
    border: none;
    resize: none;
    transition: 0.3s;

    &:hover {
      border: 1px solid #d5d7de;
      transition: 0.3s;
    }

    &:focus {
      border: 1px solid #292929;
    }
  }

  &__input {
    box-sizing: border-box;
    display: grid;
    margin-bottom: 16px;

    &--submit {
      height: 56px;
      padding-top: 16px;
    }

    &--message {
      height: auto;
    }
  }

  &__contacts {
    margin-top: 48px;

    @include onTablet {
      margin-top: 80px;
    }
    @include onDesktop {
      margin-top: 0;
    }

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 4;
    }

    @include onDesktop {
      grid-column: 7 / -1;
    }
  }

  &__text {

    color: #9393a3;

    &--phone {
      @include onDesktop {
        margin-top: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #191919;
    transition: 0.3s;

    &:hover {
      color: #207c7c;
      transition: 0.3s;
    }
  }
}
