.logo {
  display: block;
  @extend %cursor;

  &--header {
    width: 64px;
    height: 48px;

    @include onTablet {
      width: 87px;
      height: 65px;
    }
  }

  &__img {
    width: 100%;
  }
}
