.logo {
  width: 66px;
  font-size: 27px;

  @include onTablet() {
    font-size: 40px;
    width: 87px;
  }

  @include onDesktop() {
    font-size: 40px;
    width: 87px;
  }

  display: flex;
  text-align: center;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: -1.5px;

  @include hoverScaleTransition();
}
