.logo {
  display: block;

  width: 130px;
  height: 38px;

  background-image: url(./images/Logo.png);
  background-size: cover;

  @include on-table {
    width: 187px;
    height: 56px;
    background-image: url(./images/Logo_by_table.png);
  }
}
