.lore {
  @include pageGrid;

  &__content {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
      padding-bottom: 120px;
    }

    @include onPC {
      grid-column: span 5;
    }

    padding-bottom: 48px;
  }

  &__title {
    grid-column: 1 / -1;

    font-size: 32px;
    font-weight: 700;

    @include onTablet {
      grid-column: 1 / 4;
      font-size: 40px;
    }

    @include onPC {
      grid-column: 1 / 7;
      font-size: 48px;
    }
  }

  &__description {
    margin: 0;

    font-size: 16px;
    line-height: 22.4px;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onPC {
      grid-column: 8 / 12;
    }
  }

  &__background {
    position: absolute;
    z-index: -1;
    height: 100%;
    left: -20px;
    right: -20px;
    top: -96px;

    padding-bottom: 96px;
    background-color: #fcfaef;

    @include onTablet {
      top: -120px;
      left: -72px;
      right: -72px;
      padding-bottom: 120px;
    }

    @include onPC {
      left: -120px;
      right: -120px;
    }
  }
}
