.mains {
  display: block;
  row-gap: 64px;
  padding-block: 64px;
  margin-inline: auto;
  padding-inline: 0;

  @include on-tablet {
    row-gap: 120px;
    padding-block: 120px;
  }
}

.mains__logic--photo {
  margin-top: 120px;
  height: 60vh;
  width: 100%;
  margin-left: 0;
  background-image: url(../images/logic.png);
  background-size: cover;
  background-position: center;
}
