.categories {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  &__title {
    margin-bottom: 47px;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__image-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
  }

  &__category-name {
    margin-bottom: 40px;
  }

  &__image {
    height: 130px;
    width: 130px;
    border-radius: 4px;
  }

  &__button {
    border-radius: 8px;
    background: #f98921;
    border: none;
    height: 56px;
    width: 280px;
    color: white;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
  }
}
