.main {
  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 96px;
    background-color: $main-backgraund-color;

    @include on-tablet {
      row-gap: 120px;
      padding-block: 120px;
    }
  }
}

.view-all__button {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 56px;
  background-color: $button-negative-color;
  color: $button-positive-color;
  border: 1px solid $button-negative-color;
  border-radius: 8px;
  font-size: $main-font-size;
  line-height: 56px;
  text-align: center;

  @include on-desktop {
    width: 324px;
  }

  &:hover {
    color: $button-negative-color;
    background-color: $button-positive-color;
    border-color: $button-positive-color;
  }

  &:active {
    background-color: $button-negative-color;
    color: $button-positive-color;
    border-color: $button-negative-color;
  }
}
