.main {
  padding-block: 64px;
  display: grid;
  row-gap: 96px;
}

.section-title {
  text-align: left;
}

.product {
  &__photo {
  width: 100%;
  background:lightgray 50% / cover no-repeat, $images-bg-color;
  border-radius: 4px;
  margin-top: 40px;
  }

  &__title {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 8px;
    color: $main-color;
    font-size: 18px;
    line-height: 140%;
  }

  &__describe {
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.15px;
  }

  &__price {
    margin-bottom: 0;
    margin-top: 12px;
    color: $main-color;
    font-size: 16px;
    line-height: 140%;
  }
}

.container {
  padding-inline: 20px;
}
