.mainContent {
  @include flexTemplate;
  background-color: $colorBlack;
  padding-block: 60px 120px;

  @include onTablet {
    padding-block: 120px 120px;
  }

  @include onDesktop {
    padding-block: 120px 182px;
  }

  &__aboutUs {
    margin-bottom: 92px;

    @include onTablet {
      margin-bottom: 132px;
    }

    @include onDesktop {
      margin-bottom: 164px;
    }
  }

  &__compareBikes {
    margin-bottom: 92px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      margin-bottom: 144px;
    }
  }
}
