.main {
  padding: 100px 20px;

  &__article {
    margin-bottom: 100px;

    &:last-child {
      margin-bottom: 0;
    }

    @include onTablet {
      margin-bottom: 140px;
    }
  }

  @include onTablet {
    padding: 140px 72px;
  }

  @include onLaptop {
    padding: 140px 120px;
  }
}
