.main {
  background-color: #1d1d1d;
  position: relative;
  z-index: 1;
  margin-bottom: $mobile-footer-height;

  @include on-tablet {
    margin-bottom: $tablet-footer-height;
  }

  @include on-desktop {
    margin-bottom: $desktop-footer-height;
  }
}

.main__content {
  display: grid;
  row-gap: 92px;
  padding-block: 60px 120px;

  @include on-tablet {
    row-gap: 120px;
    padding-block: 120px 102px;
  }

  @include on-desktop {
    row-gap: 144px;
    padding-block: 120px 164px;
  }
}
