.main {
  &__content {
    display: grid;
    row-gap: 100px;
    padding-block: 100px;
    text-align: center;

    @include onTablet {
      row-gap: 140px;
      padding-block: 140px;
    }
  }

}
