.main-section {
  background-color: #1d1d1d;

  padding-top: 60px;

  margin-bottom: 200px;

  @include on-tablet {
    padding-top: 120px;
    margin-bottom: 480px;
  }

  @include on-desktop {
    margin-bottom: 555px;
  }

  &__content {
    display: grid;
  }
}
