.main-content {
  background-color: $main-content-bg;

  &__wrap-content {
    display: grid;
    row-gap: 6rem;
    padding-block: 6rem;

    @include on-tablet {
      row-gap: 7.5rem;
      padding-block: 7.5rem;
    }
  }
}
