.main {
  background-color: #fff;

  .main__content {
    display: grid;
    row-gap: 96px;
    padding-block: 64px;

    @include on-tablet-mix {
      padding-block: 120px;
    }

    @include on-desctop-mix {
      padding-block: 120px;
    }
  }
}
