@import "../utils/variables.scss";

.contacts {
  display: flex;
  flex-direction: column;
  padding: 64px 20px 48px;
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 120px 72px 80px;
  }

  @media (min-width: $desktop-width) {
    width: 1020px;
  }

  &__title {
    width: $mobile-width;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 48px;

    @media (min-width: $tablet-width) {
      width: $tablet-width;
      font-size: 40px;
      line-height: 100%;
      margin-bottom: 56px;
    }

    @media (min-width: $desktop-width) {
      font-size: 48px;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 56px;
      align-self: flex-start;
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    width: $mobile-width;
    gap: 16px;

    @media (min-width: $tablet-width) {
      gap: 16px;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      width: 498px;
      gap: 16px;

    }
  }

  &__name-input {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    width: $mobile-width;
    height: 48px;
    padding: 8px;
    border-radius: 8px;
    background: #f9f9f9;
    border: none;

    &:hover {
      border: 1px solid #dbdbdb;
    }

    &:focus {
      outline-color: $main-button-color;
      outline-width: 2px;
      outline-style: solid;
    }

    @media (min-width: $tablet-width) {
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      width: 498px;
    }
  }

  &__e-mail-input {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    width: $mobile-width;
    height: 48px;
    padding: 8px;
    border-radius: 8px;
    background: #f9f9f9;
    border: none;

    &:hover {
      border-radius: 8px;
      border: 1px solid #dbdbdb;
    }

    &:focus {
      outline-color: $main-button-color;
      outline-width: 2px;
      outline-style: solid;
    }

    @media (min-width: $tablet-width) {
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      width: 498px;
    }
  }

  &__message-input {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
    display: flex;
    width: $mobile-width;
    padding: 8px;
    background: #f9f9f9;
    border: none;
    border-radius: 8px;

    &:hover {
      border-radius: 8px;
      border: 1px solid #dbdbdb;
    }

    &:focus {
      outline-color: $main-button-color;
      outline-width: 2px;
      outline-style: solid;
    }

    @media (min-width: $tablet-width) {
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      width: 498px;
    }
  }

  &__button-send {
    cursor: pointer;
    border-radius: 8px;
    background: $main-button-color;
    color: white;
    width: $mobile-width;
    height: 56px;
    border: none;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    transition: background-color 0.3s ease;

    &:hover {
      background: $main-text-color;
    }

    &:active {
      background: $pressed-button-color;
    }

    @media (min-width: $tablet-width) {
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      align-self: flex-start;
      width: 498px;
    }
  }

  &__footer {
    width: 0;
    height: 0;
    opacity: 0;
  }

  @media (min-width: $desktop-width) {
    &__form-footer-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__footer {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 412px;
      height: 300px;
      opacity: 1;

      &__title {
        font-family: "Manrope", sans-serif;
        font-size: 14px;
        color: $light-grey;
      }

      &__phone {
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        line-height: 100%;
        margin-bottom: 24px;
      }

      &__e-mail {
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        line-height: 100%;
        margin-bottom: 24px;
      }

      &__adress {
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
}
