.contacts {
  display: flex;
  flex-direction: column;
  padding: 64px 20px 48px;

  &__title {
    width: 280px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 48px;
  }

  @media (min-width: 744px) {
    &__title {
      font-size: 40px;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 56px;
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 16px;
  }

  @media (min-width: 744px) {
    &__input-container {
      gap: 16px;
      width: 100%;
    }
  }

  &__name-input {
    width: 280px;
    height: 48px;
    padding: 0;
    border-radius: 8px;
    background: #f9f9f9;
    border: none;
  }

  @media (min-width: 744px) {
    &__name-input {
      width: 100%;
    }
  }

  &__e-mail-input {
    width: 280px;
    height: 48px;
    padding: 0;
    border-radius: 8px;
    background: #f9f9f9;
    border: none;
  }

  @media (min-width: 744px) {
    &__e-mail-input {
      width: 100%;
    }
  }

  &__message-input {
    margin-bottom: 16px;
    display: flex;
    width: 280px;
    padding: 0;
    background: #f9f9f9;
    border: none;
  }

  @media (min-width: 744px) {
    &__message-input {
      width: 100%;
    }
  }

  &__button-send {
    border-radius: 8px;
    background: #1b2129;
    color: white;
    width: 280px;
    height: 56px;
    border: none;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
  }

  @media (min-width: 744px) {
    &__button-send {
      width: 100%;
    }
  }
}

@media (min-width: 744px) {
  .contacts {
    padding: 120px 72px 80px;
  }
}
