.section-title {
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  color: #fff;
  letter-spacing: -1.5px;
  margin: 0;

  &__p {
    font-weight: 500;
    color: #fff;
    font-size: 23px;
    line-height: 32.2px;
  }

  &__about-us {
    display: flex;
    margin-left: 120px;
    margin-right: 207px;
    justify-content: space-around;
    margin-bottom: 164px;
  }

  &__main {
    background-color: #1d1d1d;
    padding-top: 120px;
  }
}

.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(/./src/images/Cover_photo.png);
  background-size: cover;
  background-position: center;

  @media (max-width: 1259px) {
    background-image: url(/./src/images/cover_photo_tablet.png);
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 203px;
    font-weight: 700;
    font-size: 80px;
    letter-spacing: -1.5px;
    line-height: 80px;

    @media (max-width: 1259px) {
      font-size: 64px;
      line-height: 64px;
      margin-bottom: 130px;
    }
  }
}

.icon {
  display: block;
  height: 32px;
  width: 32px;

  &--phone {
    background-image: url(../icons/Icon-phone.png);
  }

  &--menu {
    background-image: url(../icons/Icon-burger.png);
  }

  &--close {
    background-image: url(/src/icons/Icon-close.png);
  }
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #c2c2c2;

  &__logo-black {
    @media (max-width: 1259px) {
      width: 130px;
      height: 38px;
    }
  }

  &__content {
    padding-inline: 121px;

    @media (max-width: 1259px) {
      padding-inline: 72px;
    }
  }

  &__top {
    margin-bottom: 24px;
    
    @media (max-width: 1259px) {
      margin-bottom: 8px;
    }
  }

  &__phone-number {
    display: block;
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    @media (max-width: 1259px) {
      font-weight: 600;
    }
  }

  &__book-a-test-ride {
    display: block;
    text-decoration: none;
    color: #1d1d1d;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 7px;
    border-bottom: 1px solid #1d1d1d;
    width: fit-content;

    @media (max-width: 1259) {
      font-weight: 600;
    }
  }
}

.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    text-decoration: none;
    color: #1d1d1d;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;

    @media (max-width: 1259px) {
      font-weight: 600;
    }

    &:hover {
      padding-bottom: 7px;
      border-bottom: 1px solid #1d1d1d;
      width: fit-content;
    }
  }

  &__rent {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
  }
}

.page {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transition: all 0.3s;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;

    &:target {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }
  }
}

.top-bar {
  padding: 36px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1259px) {
    padding: 36px 72px;
  }

  &__icons {
    display: flex;
    gap: 32px;
  }

  &__logo {
    display: flex;
  }
}
