.main {
  background-color: #1d1d1d;

  &__content {
    display: grid;
    padding-block: 92px;
    row-gap: 92px;

    // @include content-padding-inline;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }
}
