@use '../utilities/mixins' as mix;

.main__container--after--img {
  padding: 48px 20px 104px;
  margin: 0 auto;

  @include mix.on-tablet {
    padding: 56px 72px 120px;
    max-width: 600px;
  }

  @include mix.on-desktop {
    padding: 120px;
    max-width: 1020px;
  }
}
