.main {
  background-color: $color-main;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0 20px;

  @include onTablet {
    padding: 0 72px;
  }

  @include onDesktop {
    padding: 0 120px;
  }
}
