.maincss {
  background-color: #fff;

  &__content{
    display: grid;
    row-gap: 96px;
    padding-block: 64px;

    @include on-tablet {
      padding-bottom: 120px;
      row-gap: 120px;
    }
  }

}
