.main {
  &__content {
    display: grid;
    padding-bottom: 96px;
    row-gap: 96px;

    @include on-tablet {
      padding-bottom: 120;
      row-gap: 120;
    }

    @include on-desktop {
      padding-bottom: 120;
      row-gap: 128px;
    }

    &--lower {
      row-gap: 104px;

      @include on-tablet {
        padding-bottom: 120;
        row-gap: 120;
      }
    }
  }
}
