.main {
  position: relative;
  background: #1d1d1d;
  background-size: cover;
  padding: 60px 20px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $mobile-section-width;
    margin-bottom: 87px;

    @include onTablet {
      width: $tablet-section-width;
    }

    @include onDesktop {
      width: $pc-section-width;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__title {
    box-sizing: border-box;
    margin: 0;
    padding-top: 5px;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 32px;

    @include onTablet {
      font-size: 48px;
      margin-bottom: 48px;
    }

    @include onDesktop {
      font-size: 64px;
    }

    &--left-side {
      align-self: flex-start;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: $main-line-height;
    margin-bottom: 8px;
  }
}

.button {
  display: block;
  width: 100%;
  color: $menu-font-color;
  background-color: #fff;
  font-weight: 700;
  line-height: 56px;
  border-radius: 40px;
  text-align: center;
  transition-duration: 0.8s;

  &:hover,
  :active {
    box-shadow: $button-box-shadow;
  }
}
