.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $button-bg-color;
  color: $button-text-color;
  text-decoration: none;
  padding: 14.5px;
  border: none;
  border-radius: 40px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: (27 / 16);
  cursor: pointer;
  width: 100%;

  @include main-transition(box-shadow) {
    box-shadow: 1px 4px 16px 0 #e8e8f066;
  }

  &:active {
    box-shadow: 1px 4px 16px 0 #e8e8f0a3;
  }
}
