@import '../utils/variables.scss';

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }

  &__top-image {
    background-image: url(../images/vinil-mobile.png);
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 320px;
    margin-top: 96px;

    @media (min-width: $tablet-width) {
      background-image: url(../images/vinil-tablet.png);
      height: 400px;
      width: $tablet-width;
    }

    @media (min-width: $desktop-width) {
      background-image: url(../images/vinil-desktop.png);
      width: 100vw;
    }
  }

  &__article-wrapper {
    padding: 48px 20px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      gap: 24px;
      padding: 120px 72px;
    }

    @media (min-width: $desktop-width) {
      gap: 112px;
      padding: 120px 72px;
    }
  }

  &__title {
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    width: $mobile-width;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      font-size: 40px;
      line-height: 100%;
      width: 287px;
    }

    @media (min-width: $desktop-width) {
      font-size: 48px;
      line-height: 100%;
      width: 498px;
    }
  }

  &__text {
    color: $main-text-color;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
    width: $mobile-width;

    @media (min-width: $tablet-width) {
      width: 288px;
    }

    @media (min-width: $tablet-width) {
      width: 412px;
    }
  }
}
