.main {
  @include setDefaultPadding;

  display: flex;
  flex-direction: column;
  gap: 92px;
  margin: 60px 0 120px;

  @include onTablet {
    gap: 120px;
    margin-top: 120px;
  }

  @include onDesktop {
    gap: 180px;
  }
}
