.main-btn {
  background-color: $red;
  color: $white;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  font-family: Cinzel, serif;
  border: none;
  width: 100%;
  cursor: pointer;

  @include hover (background-color, $red-hover);

  &:active {
    background-color: $red-active;
  }
}


