.main {
  color: $main-text-color;
  display: grid;
  row-gap: 100px;
  padding-top: 100px;

  @include contentPaddingInline;

  @include onTablet {
    row-gap: 140px;
    padding-top: 140px;
  }
}

