.main {
  background-color: $white-color;
  @include contentPaddingInline;

  &__container {
    display: grid;
    row-gap: 100px;
    padding-block: 100px;
    max-width: 1024px;
    margin: 0 auto;

    @include onTablet {
      row-gap: 140px;
      padding-block: 140px;
    }

    @include onDesktop {
      row-gap: 155px;
      padding-block: 155px;
    }
  }
}
