.main {
  background-color: $menu-text-color;

  &__content {
    display: grid;
    padding-block: 60px;
    padding-bottom: 120px;
    gap: 92px;
    z-index: 1;

    @include on-tablet {
      padding-block: 120px;
      gap: 120px;
    }

    @include on-desktop {
      padding-block: 165px;
      gap: 165px;
    }
  }

  &__button {
    text-align: center;
  }
}
