.categories {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  &__title {
    margin-bottom: 47px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
  }

  @media (min-width: 744px) {
    &__title {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 56px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__image-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
  }

  @media (min-width: 744px) {
    &__image-wrapper {
      gap: 24px;
    }
  }

  &__image--portable-speakers-1 {
    background-image: url(../images/Portable-speakers-1.png);
    display: flex;
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 4px;
  }

  @media (min-width: 744px) {
    &__image--portable-speakers-1 {
      background-image: url(../images/Portable-speakers-1-tablet.png);
      display: flex;
      background-position: center;
      background-size: cover;
      width: 288px;
      height: 184px;
    }
  }

  &__image--portable-speakers-2 {
    background-image: url(../images/Portable-speakers-2.png);
    display: flex;
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 4px;
  }

  @media (min-width: 744px) {
    &__image--portable-speakers-2 {
      background-image: url(../images/Portable-speakers-2-tablet.png);
      display: flex;
      background-position: center;
      background-size: cover;
      width: 288px;
      height: 184px;
    }
  }

  &__image--earphones-1 {
    background-image: url(../images/Earphones-1.png);
    display: flex;
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 4px;
  }

  @media (min-width: 744px) {
    &__image--earphones-1 {
      background-image: url(../images/Earphones-1-tablet.png);
      display: flex;
      background-position: center;
      background-size: cover;
      width: 288px;
      height: 184px;
    }
  }

  &__image--earphones-2 {
    background-image: url(../images/Earphones-2.png);
    display: flex;
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 4px;
  }

  @media (min-width: 744px) {
    &__image--earphones-2 {
      background-image: url(../images/Earphones-2-tablet.png);
      display: flex;
      background-position: center;
      background-size: cover;
      width: 288px;
      height: 184px;
    }
  }

  &__image--smart-home-1 {
    background-image: url(../images/Smart-Home-1.png);
    display: flex;
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 4px;
  }

  @media (min-width: 744px) {
    &__image--smart-home-1 {
      background-image: url(../images/Smart-Home-1-tablet.png);
      display: flex;
      background-position: center;
      background-size: cover;
      width: 288px;
      height: 184px;
    }
  }

  &__image--smart-home-2 {
    background-image: url(../images/Smart-Home-2.png);
    display: flex;
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 130px;
    border-radius: 4px;
  }

  @media (min-width: 744px) {
    &__image--smart-home-2 {
      background-image: url(../images/Smart-Home-2-tablet.png);
      display: flex;
      background-position: center;
      background-size: cover;
      width: 288px;
      height: 184px;
    }
  }

  &__category-name {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
  }

  @media (min-width: 744px) {
    &__category-name {
      margin-bottom: 56px;
      font-size: 24px;
    }
  }

  &__button {
    border-radius: 8px;
    background: #f98921;
    border: none;
    height: 56px;
    width: 280px;
    color: white;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    padding-block: 0;
    padding-inline: 0;
    line-height: 0;
  }

  @media (min-width: 744px) {
    &__button {
      width: 100%;
    }
  }
}

@media (min-width: 744px) {
  .categories {
    padding: 0 72px;
  }
}
