.main-sections {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--recommended {
    padding-top: 64px;
  }

  &--categories {
    padding: 96px 0;
  }

  &--about-us {
    background-color: $second-background-color;
  }

  &--contact-us {
    padding: 64px 0;
  }

  &__section-title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 48px;
    align-self: start;

    &__about-us {
      margin-bottom: 24px;
    }
  }

  &__button {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    background-color: $button-color;
    border: none;
    cursor: pointer;

    color: $second-text-color;
    font-weight: 700;
    line-height: 27px;
    text-align: center;

    &:active {
      background-color: $button-passed-color;
    }
  }

  &__background-img {
    width: 320px;
    height: 200px;
    background-image: url('../images/second-background-mobile.png');
    background-position: center;
    background-size: contain;
  }

  &__article {
    line-height: 22.4px;
  }

  &__form {
    margin-bottom: 48px;

    &-item {
      box-sizing: border-box;
      width: 100%;
      height: 48px;
      margin-bottom: 16px;
      padding: 14px 16px;
      border: none;
      border-radius: 8px;
      background-color: $form-background;

      color: $main-text-color;
      font-size: 14px;
      line-height: 19.6px;

      &--textarea {
        font-family: inherit;
        height: 148px;
        resize: none;
        margin-bottom: 32px;
      }

      &:active {
        border: 2px solid $button-color;
      }
    }
  }

  &__contacts {
    list-style: none;

    &-item {
      font-size: 14px;
      line-height: 19.6px;
      color: #9393a3;
      text-decoration: none;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &-link {
      display: block;
      padding-top: 8px;
      text-decoration: none;
      color: $main-text-color;
      line-height: 22.4px;
    }
  }
}
