.main {
  @include inline-padding;

  padding-block: 60px 120px;
  background-color: #1d1d1d;

  @include on-tablet {
    padding-block: 120px 102px;
  }

  @include on-desktop {
    padding-block: 120px 164px;
  }
}
