.contacts {
  display: flex;
  flex-direction: column;
  padding: 64px 20px 48px;

  &__title {
    width: 280px;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 48px;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    width: 280px;
  }

  &__name-input {
    margin-bottom: 16px;
    //font-family: "Manrope", sans-serif;
    width: 280px;
    height: 48px;

  }

  &__e-mail-input {
    margin-bottom: 16px;
    //font-family: "Manrope, sans-serif";
    width: 280px;
    height: 48px;
  }

  &__message-input {
    // font-family: "Manrope, sans-serif";
    margin-bottom: 32px;
    display: flex;
    width: 280px;
  }

  &__button-send {
    border-radius: 8px;
    background: #1b2129;
    color: white;
    width: 280px;
    height: 56px;
    border: none;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
  }
}
