.main {
  padding: 0 20px;
  column-gap: 20px;

  @include onTablet {
    padding: 0;
  }

  &__h2 {
    font-size: 32px;
    font-weight: $font-weight-500-mobile;
    letter-spacing: $letter-spacing-1-5-mobile;
    line-height: $line-height-32-mobile;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 64px;
    }
  }

  &__p {
    margin: 0;
  }

  &__price {
    font-size: 24px;
    font-weight: $font-weight-700-mobile;
    margin: 16px 0 40px;
  }

  &__price:last-child {
    margin-bottom: 0;
  }
}
