.recommended {
  display: flex;
  flex-direction: column;
  padding: 64px 20px 96px;

  &__title {
    display: block;
    margin-bottom: 48px;
    font-size: 32px;
  }

  &__image {
    width: 280px;
    height: 280px;
    margin-bottom: 24px;
    border-radius: 4px;
  }

  &__item {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  &__item-title {
    margin-bottom: 8px;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.15px;
    margin-bottom: 12px;
    width: 280px;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
  }
}
