@use './utils/mixin' as *;
@use './variables' as *;




.main {

  background-color: #fff;

  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: 96px;
    padding-inline: 20px;


    @include onTablet {
      padding-block: 120px;
      row-gap: 120px;
    }
  }

}
