.mains {
  background-color: #fff;
}

.main {
  display: grid;
  row-gap: 100px;
  padding-top: 100px;
  padding-bottom: 84px;

  @include content-padding-inline;

  @include on-tablet {
    row-gap: 140px;
    padding-top: 140px;
    padding-bottom: 156px;
  }

  @include on-desktop {
    padding-top: 138px;
    padding-bottom: 134px;
  }
}
