@media (max-width: 480px) {
  .top-bar__logo {
    width: 125px;
    height: 16px;
  }
}

@media (min-width: 481px) {
  .icon {
    display: block;
    height: 32px;
    width: 32px;
    background-size: cover;
  }
}
