 .menu {
    height: 100vh;
    box-sizing: border-box;
    background-color: #C2C2C2;
    color: #1d1d1d;
    font-weight: 600;
    text-transform: uppercase;
 }

 .menu__link {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  color: inherit;
 }

 .menu__bottom {
  padding: 24px 20px;
 }

 .menu__nav {
  margin-bottom: 40px;
 }

 .menu__phone-number{
  display: block;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 16px;
  color: inherit;
  text-decoration: none;
 }

 .menu__booking {
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  padding-bottom: 7px;
  border-bottom: 1px solid #1d1d1d;
  width: fit-content;
  color: inherit;
  text-decoration: none;
}
