.menu {
  height: 100vh;
  background-color: #c2c2c2;
  box-sizing: border-box;
}

.menu__content {
  margin: 24px 20px;
}

.menu__bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}

.menu__link {
  color: #1d1d1d;
  text-decoration: none;
  font-weight: 600;
}

.menu__phone-number {
  font-size: 16px;
  line-height: 27px;
}

.menu__book-ride {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;

  padding-bottom: 8px;
  width: fit-content;
  border-bottom: 1px solid #1d1d1d;
}

.menu__logo {
  display: block;
  width: 130px;
  height: 38px;
}
