.menu {
  overflow: auto;

  box-sizing: border-box;
  height: 100vh;

  font-weight: 700;

  background-color: $menu-color;

  &__top-link {
    position: sticky;
    z-index: 1;
    top: 0;

    margin-top: 2px;
    margin-bottom: 32px;

    background-color: #e5e5e5;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    display: block;

    margin-bottom: 16px;

    font-size: 16px;
    line-height: 140%;
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &__call-to-order {
    display: block;

    width: fit-content;
    padding-bottom: 4px;
    border-bottom: 1px solid $text-color;

    font-size: 16px;
    line-height: 140%;
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.page:has(.page__menu:target) {
  overflow: hidden;
}
