.desktop-contact {
  display: flex;
  justify-content: end;

  &__tooltips {
    position: absolute;
    right: 26px;
    top: -5px;

    @include onDesktop {
      display: flex;
      margin-right: 16px;
      flex-direction: column;
      align-items: flex-end;

      line-height: 27px;
      font-weight: bold;
      color: $colorTextHeader;
      letter-spacing: 1px;
      opacity: 0;
      pointer-events: none;
    }
  }
  &__link {
    margin-right: 55px;
    transform: scale($scale);
  }

  &__text {
    display: inline-flex;
    width: max-content;
    color: $colorTextHeader;
    text-align: end;
    text-decoration: none;

    &:nth-child(2) {
      margin-bottom: 8px;
    }
  }
}
