.menu-block {
  display: flex;
  align-items: start;

  @include onDesktop {
    align-items: center;
  }

  &__phones {
    transition: opacity 0.3s;
    opacity: 0;
  }

  &__description {
    display: block;
    width: max-content;
    margin: 0;
    @extend %cinzel;
    @include text-decoration ($fw-b, $fz-4xs, $fz-m, $color-1);

    &--tel {
      text-decoration: none;
      transition: 0.3s;
      @extend %cursor;

      &:hover {
        scale: 1.1;
      }
    }
  }

  &__icon {
    @extend %cursor;
    display: block;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include onTablet {
      width: 24px;
      height: 24px;
    }

    &--margins {
      margin: 0 30px 0 0;

      @include onTablet {
        margin: 0 63px 0 0;
      }

      @include onDesktop {
        margin: 0 63px 0 20px;
      }
    }

    &--phone {
      background-image: url(../images/ui-kit/phone.svg);
    }

    &--menu-opener {
      transition: background-image 0.3s;
      background-image: url(../images/ui-kit/menu_1.svg);

      &:hover {
        background-image: url(../images/ui-kit/menu_2.svg);
      }
    }

    &--closer {
      background-image: url(../images/ui-kit/close.svg);
    }
  }
}
