.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #E5E6E8;
}

.menu__top {
  margin-bottom: 32px;
}

.menu__content {
  padding-inline: 20px;
}

.menu__nav {
  margin-bottom: 48px;
}

.menu__phone-number,
.menu__call-to-order {
  display: block;
  color: #292929;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 16px;
}

.menu__call-to-order {
  width: fit-content;
  padding-bottom: 4px;
  border-bottom: 1px solid #292929;
}

.menu__phone-number:hover,
.menu__call-to-order:hover {
  color: #000;
}
