.menu {
  box-sizing: border-box;
  height: 100vh;
  background: $accent-color;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;

  &__content {
    padding: 15px 20px;

    @include onTablet {
      padding-left: 72px;
    }

    @include onDeskTop {
      padding-left: 120px;
    }
  }
  &__nav {
    margin-bottom: 32px;
  }

  &__contacts {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 1px solid #fff;

    text-decoration: none;
    color: inherit;
    font-size: 12px;
    line-height: 16px;
  }
}
