.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #c2c2c2;
  font-weight: 600;
  text-transform: uppercase;
  color: $color__dark-grey;

  @include onDesktop {
    font-weight: $bold__text;
  }

  &__top {
    margin-bottom: 24px;
    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    color: inherit;
    margin-bottom: 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 27px;
  }

  &__book-a-test-ride {
    display: block;
    width: fit-content;
    padding-bottom: 8px;
    border-bottom: 1px solid $color__dark-grey;

    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: inherit;
  }
}

.icon--close {
  background-image: url(images/icons/icon-close.svg);
}

.nav {
  color: $color__dark-grey;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    position: relative;
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;

    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $color__dark-grey;

      transition: transform $effectDuration;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
