.menu {
  height: 100vh;
  box-sizing: border-box;
  background-color: #C2C2C2;
  font-weight: 700;
  text-transform: uppercase;
  color: $black-color;
  overflow: auto;

  &__top {
    margin-bottom: 32px;
    position: sticky;
    top: 0;
    z-index: 1;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
    transition: all 0.3s;

    &:hover {
      color: #5a9de5;
    }
  }

  &__book-test-ride {
      color: inherit;
      text-decoration: none;
      display: block;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      padding-bottom: 7px;
      border-bottom: 1px solid #292929;
      width: fit-content;
      transition: all 0.3s;

    &:hover {
      color: #5a9de5;
    }
  }
}


