.message {
  margin: 0;
  margin-bottom: 16px;
  word-wrap: break-word;


    &__name {
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 16px 14px;
    border-radius: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 278px;
    height: 48px;
    background-color: $contact-background-color;
    color: $contact-text-color;

    @include ondesktop {
      width: 411px;
    }
      &:hover {
        color: $contact-text-color-hover;
      }
    }


  &__email {
    box-sizing: border-box;
    outline: none;
    border: none;
    padding: 16px 14px;
    border-radius: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 278;
    height: 48px;
    background-color: $contact-background-color;
    color: $contact-text-color;

    @include ondesktop {
      width: 411px;
    }
    &:hover {
      color: $contact-text-color-hover;
    }
  }

  &__messages {
    box-sizing: border-box;
    outline: none;
    border: none;
    display: flex;
    padding: 16px 14px 100px;
    border-radius: 16px;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 278;
    height: 148px;
    background-color: $contact-background-color;
    color: $contact-text-color;
    word-wrap: break-word;
    resize: none;

    @include ondesktop {
      width: 411px;
    }
    &:hover {
      color: $contact-text-color-hover;
    }
  }

  &__send {
    cursor: pointer;
    box-sizing: border-box;
    border: 0;
    border-radius: 40px;
    width: 278;
    height: 56px;
    background-color: $contact-background-color;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $contact-button-color;
    margin: 32px 0 0;

    @include ondesktop {
      width: 411px;
    }
    &:hover {
      box-shadow: 1px 4px 16px 0 $contact-button-color-shadow-hover;
    }
    &:active {
      box-shadow: 1px 4px 16px 0 $contact-button-color-shadow-active;
    }
  }
}
