.middle-bg {
  background-image: url(../images/middle-bg.png);

  @include background-position;

  height: 200px;

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
  }
}
