@mixin product-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
}

@mixin product-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

// #region buttons & inputs
@mixin btn {
  width: 100%;
  display: block;
  font-family: inherit;
  font-size: 14px;
  background-color: white;
  border-radius: 40px;
  border: none;
  outline: none;
}

@mixin submit-btn {
  @include btn;
  padding: 14.5px 48px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: $main-color;
  line-height: 27px; /* 168.75% */
  cursor: pointer;
}

@mixin input-field {
  @include btn;
  padding: 14px 16px;
  color: #292929;
  line-height: 20px; /* 142.857% */
}
// #endregion

// #region breakpoints
@mixin tablet {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1020px) {
    @content;
  }
}
// #endregion

@mixin menu-text-common($f-size, $l-height) {
  font-size: $f-size;
  line-height: $l-height;
  font-weight: 600;
  text-transform: uppercase;

  @include desktop {
    font-weight: 700;
  }
}
