@mixin menuCallLink {
  display: block;
  text-decoration: none;
  font-size: $font-size-normal;
  color: $c-font;
  font-weight: $font-weight-bg;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@mixin hover ($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}

