@mixin menuCallLink {
  display: block;
  text-decoration: none;
  font-size: $font-size-normal;
  color: $c-font;
  font-weight: $font-weight-bg;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@mixin hover ($property, $toValue) {
  transition: #{$property} 0.5s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin contentPaddingInline () {
  padding-inline: 20px;

  @media (min-width: 744px) {
    padding-inline: 72px;
  }
  @media (min-width: 1260px) {
    padding-inline: 120px;
    max-width: 1260px;
    margin-inline: auto;
  }
}

@mixin contentPaddingBlock () {
  padding-block: 24px;

  @media (min-width: 744px) {
    padding-block: 32px;
  }
}

@mixin contentHeaderTitle() {
  padding-bottom: 40px;
  @media (min-width: 744px) {
    padding-bottom: 64px;
  }
}

@mixin logoSize() {
  width: 152px;
  height: 16px;

  @media (min-width: 744px) {
    width: 228px;
    height: 24px;
  }

}
@mixin logoGap() {
  gap: 24px;

  @media (min-width: 744px) {
    gap: 32px;
  }
}

@mixin iconSize() {
  width: 24px;
  height: 24px;
  @media (min-width: 744px) {
    width: 32px;
    height: 32px;
  }
}

@mixin onTablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin onDeskstop {
  @media (min-width: $deskstop-width) {
    @content;
  }
}
