@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: 20px;

  @include on-tablet {
    max-width: 600px;
    margin-inline: auto;
    padding-inline: 72px;
  }

  @include on-desktop {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.container {
  @include content-padding-inline;
}

@mixin hover($property, $toValue, $effectDuration: 0.3s) {
  transition: #{$property} $effectDuration;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin page-grid {
  --colums: 2;

  gap: 20px;
  display: grid;
  grid-template-columns: repeat(var(--colums), 1fr);

  @include on-tablet {
    --colums: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --colums: 12;
  }
}

@mixin height-photo() {
  height: 320px;

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
  }
}
