$desktop-min-width: 1260px;
$tablet-min-width: 744px;


@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin section-title{
  font-family: Poppins, sans-serif;
  font-weight:500;
}
