.model {
  display: flex;
  flex-direction: column;

  &__link {
    display: flex;
    margin-bottom: 32px;


  }

  &__photo {
    width: 100%;
    @include hoverDifferent {
      transform: scale(1.1);
      box-shadow: 1px 4px 16px 0px rgba(232, 232, 240, 0.64);
      border-radius: 16px;
    }
  }

  &__title {
    margin: 0 0 8px;
    font-size: 24px;
    font-weight: 700;
  }

  &__description {
    margin: 0 0 16px;
    font-weight: 400;
    flex-grow: 1;
  }

  &__price {
    margin: 0;
    font-weight: 700;
  }
}
