.button {
  &--class:hover {
    box-shadow: 1px 4px 16px 0 #e8e8f066;
    &--class:active {
      box-shadow: 1px 4px 16px 0 #e8e8f0a3;
    }
  }
}

input,
textarea {
  &:hover::placeholder,
  &:active::placeholder,
  &:focus::placeholder {
    border: none;
    color: black;
    outline: none;
  }
}
