.icon--phone {
  background-image: url(../images/icons/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.icon--phone--number {
  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    width: $icon-number-width;
    height: 100%;
    right: 0;

    background-image: url(../images/phone-number.svg);
    background-repeat: no-repeat;
    background-position: center;

    transition: $transition-value;
    opacity: 0;
  }

  &:hover::before {
    right: $icon-number-position;
    opacity: 1;
  }
}

.icon--burger {
  background-image: url(../images/icons/icon-burger-menu.svg);
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-image: url(../images/icons/icon-burger-hover.svg);
  }
}

.icon--close {
  background-image: url(../images/icons/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.page__menu.page__menu--active {
  pointer-events: all;
  transform: translateX(0);
}

.page__body.page__body--lock {
  overflow: hidden;
}

.title.title--left {
  text-align: start;
}

.description__title--bike {
  margin-bottom: 9px;

  @include hover-bike;
}

.description__subtitle--bike {
  margin-bottom: 15px;

  @include hover-bike;
}

.description__price--bike {
  @include hover-bike;
}

.description__title--gallery {
  margin-bottom: 9px;
}

.gallery__wrap-image--big {
  grid-column: 1 / 9;

  @include laptop {
    grid-column: 1 / 5;
  }

  @include phone {
    grid-column: 1 / 2;
  }
}

.gallery__wrap-image--small {
  grid-column: 9 / -1;

  @include laptop {
    grid-column: 5 / -1;
  }

  @include phone {
    grid-column: 2/ -1;
  }
}

.description--gallery {
  grid-column: 1 / 9;

  @include laptop {
    grid-column: 1 / -1;
  }
}

.gallery__wrap-image--small-rewerse {
  grid-column: 1 / 5;

  @include laptop {
    grid-column: 1 / 3;
  }

  @include phone {
    grid-column: 1 / 2;
  }
}

.gallery__wrap-image--big-rewerse {
  grid-column: 5 / -1;

  @include laptop {
    grid-column: 3 / -1;
  }

  @include phone {
    grid-column: 2 / -1;
  }
}
