.icon--phone {
  background-image: url(../images/icons/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon--burger {
  background-image: url(../images/icons/icon-burger-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
}
