.more-to-explore-online {
  text-align: center;

  &__title {
    @include pageGrid;
    row-gap: 24px;

    &-item {
      grid-column: 1 / -1;

      @include onDesktop {
        grid-column: 4 / -4;
      }
    }
  }

  &__services {
    @include pageGrid;
    row-gap: 48px;
  }

  &__service {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  &__secondary-title {
    margin-top: 24px;
    margin-bottom: 4px;

    @include onTablet {
      margin-top: 32px;
    }
  }
}
