.more-to-explore {
  &__wrapper {
    @include pageGrid;

    row-gap: 40px;
  }
}

.explore {
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 2 / 6;
  }

  @include onDesktop {
    grid-column: span 4;
  }

  &__link {
    height: auto;
    display: block;
    overflow: hidden;
  }

  &__photo {
    width: 100%;
    height: auto;
    object-fit: cover;

    transition:
    transform $effectDuration,
    overflow $effectDuration;
    transform-origin: bottom;

    @include onDesktop {
      &:hover {
        transform: scale($effectScale);
      }
    }
  }

  &__title {
    margin: 0;
    margin-top: 24px;

    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
    text-align: center;
    color: $color-red;
  }

  &__description {
    font-family: Roboto, Cinzel, Arial, sans-serif;
    margin: 0;
    margin-bottom: 48px;

    color: $color-black;
    text-align: center;
    line-height: 27px;
  }
}
