.more-explore-online {
  @include page-grid;
  @include section-margin;

  &__title {
    text-align: center;
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 48px;
      grid-column: 2 / span 4;
    }

    @include on-decktop {
      grid-column: 4 /span 6;
    }

    @include title-h2
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-decktop {
      grid-column: span 12;
    }


    @include page-grid;
  }

  &__categorie {
    @include on-tablet {
      grid-column: 2 / span 4;
    }

    @include on-decktop {
      grid-column: span 4;
    }
  }

  &__img {
    width: 100%;
    object-fit:contain;
    margin-bottom: 24px;

    @include hover-img (transform, scale(1.1));
  }

  &__category-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 33.6px;
    color: $accent-main;
    margin-bottom: 4px;
  }

  &__categorie-description {
    text-align: center;
  }
}
