.more-to-explore-online {
  margin: 0;
  padding-inline: 20px;

  @include page-grid;

  @include on-tablet {
    padding-inline: 176px;
  }

  @include on-desktop {
    padding-inline: 120px;
  }

  &-block {
    margin-top: 40px;
    grid-column: 1 / -1;

    @include on-tablet {
      margin-top: 48px;
    }
  }

  &__photo {
    width: 280px;
    height: 277px;

    @include on-tablet {
      width: 392px;
      height: 387px;
    }

    @include on-desktop {
      width: 324px;
      height: 320px;
    }
  }

  &__tittle {
    color: #d12d35;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    text-align: center;
  }

  &_description {
    margin: 0;
    font-family: Roboto, serif ;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #161616;
    text-align: center;
  }
}
