.motivating {
  @include pageGrid;

  @include onTablet {
    grid-template-columns: 3fr 3fr;
  }
  @include onDesktop {
    grid-template-columns: 5fr 6fr;
  }

  &__quote {
    margin: 0;
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;

    @include onTablet {
      width: 192px;
    }
    @include onDesktop {
      width: 498px;
    }
  }

}
