.about-us{
  padding-top: 60px;
  display: grid;
  justify-content: center;

  &__header{
    font-weight: 500;
    color: #fff;
    padding-left: 20px;
    font-size: 32px;
    margin: 0;
  }

  &__text{
    font-weight: 500;
    color: #fff;
    font-size: 23px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 32px;
    text-align: left;
    line-height: 32px;
  }

}

@media (min-width: 576px) {
  .about-us{
    padding-top: 120px;
    grid-template-columns: repeat(6, 80px);
    padding-inline: 72px;
    gap: 24px;
    align-items: flex-start;

    &__header {
      grid-column: span 3;
      padding-top: 0;
      font-size: 48px;
      font-weight: 500;
      line-height: 48px;
      letter-spacing: -1.5px;

    }

    &__text{
      grid-column: span 3;
      margin-top: 0;
    }
  }
}

@media (min-width: 1260px) {
  .about-us{
    grid-template-columns: repeat(12, 63px);
    padding-inline: 120px;
    gap: 24px;
    align-items: flex-start;

    &__header {
      grid-column: 1/5;
      padding-top: 0;
      padding-left: 0;
      font-size: 64px;
      font-weight: 500;
      line-height: 64px;
      letter-spacing: -1.5px;

    }

    &__text{
      grid-column: 6/12;
      margin-top: 0;
      padding-left: 0;
    }
  }
}
