.move-free {
  &__content {
    @include pageGrid;
    row-gap: 32px;
  }

  font-weight: 500;
  font-size: 23px;
  
  &__title {
    margin: 0;
    letter-spacing: -1.5px;

    line-height: 100%;
    font-size: 32px;
    @include onTablet {
      font-size: 48px;
    }
    @include onDesktop {
      font-size: 64px;
    }

    grid-column: span 2;
    @include onTablet {
      grid-column: span 3;
    }
    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__paragraph {
    margin: 0 0 48px;

    grid-column: span 2;
    @include onTablet {
      grid-column: span 3;
    }
    @include onDesktop {
      grid-column: span 6;
    }
  }
}
