.move {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1200px;

  @include on-tablet {
    padding-top: 120px;
    flex-direction: row;
    gap: 88px;
  }

  &__title {
    text-align: left;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: $letter-spacing;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
      flex-shrink: 0;
    }

    @include on-dekstop {
      font-size: 64px;
      line-height: 64px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 23px;
    line-height: 32.2px;
  }
}
