.multimedia {
  .multimedia__title {
    margin-bottom: 48px;
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  &__img-cover {
    width: 100%;
  }

  &__image {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: all 144ms;
  }

  &__image:hover {
    background-size: 120%;
  }

  &__image::before {
    content: "";
    display: block;
    padding-top: 70%;
  }

  &__image--1 {
    background-image: url(../images/products/mobile/speaker-1-mobile.png);
  }

  &__image--2 {
    background-image: url(../images/products/mobile/speaker-2-mobile.png);
  }

  &__image--3 {
    background-image: url(../images/products/mobile/earphones-1-mobile.png);
  }

  &__image--4 {
    background-image: url(../images/products/mobile/earphones-2-mobile.png);
  }

  &__image--5 {
    background-image: url(../images/products/mobile/smarthome-1-mobile.png);
  }

  &__image--6 {
    background-image: url(../images/products/mobile/smarthome-2-mobile.png);
  }

  &__category {
    margin: 16px 0 40px;
  }

  &__category:last-child {
    margin: 16px 0 0;
  }

  @media all and (min-width: 576px) {
    &__container {
      gap: 24px;
    }

    &__category {
      font-size: 24px;
    }
  }

  @media all and (min-width: 1260px) {
    &__category {
      margin: 16px 0 56px;
    }

    &__image::before {
      padding-top: 65%;
    }

    &__image--1 {
      background-image: url(../images/products/desktop/speaker-1-desktop.png);
    }

    &__image--2 {
      background-image: url(../images/products/desktop/speaker-2-desktop.png);
    }

    &__image--3 {
      background-image: url(../images/products/desktop/earphones-1-desktop.png);
    }

    &__image--4 {
      background-image: url(../images/products/desktop/earphones-2-desktop.png);
    }

    &__image--5 {
      background-image: url(../images/products/desktop/smarthome-1-desktop.png);
    }

    &__image--6 {
      background-image: url(../images/products/desktop/smarthome-2-desktop.png);
    }

    &__button {
      width: 324px;
    }
  }
}
