* {
  text-transform: capitalize;
  font-variant: small-caps;
  font-family: 'Cinzel Decorative', serif;
}

.museum-hours {
  display: grid;
  column-gap: 20px;

  @include on-tablet {
    column-gap: 24px;
  }

  @include page-grid;

  &__plan-title {
    margin: 0;
    padding: 0;
    grid-column: 1 / -1;
    font-weight: 700;
    font-size: 12px;
    line-height: 16.8px;
    color: $accent-main;
    letter-spacing: 0;
    text-align: left;
  }

  &__title {
   grid-column: 1 / -1;
   margin: 0;
   padding: 0;
   font-weight: 700;
   font-size: 32;
   color: $main-dark;
   line-height: 32px;
   letter-spacing: -1.5px;

   @include on-tablet {
     font-size: 48px;
     line-height: 48px;
      grid-column: 1 / 4;
   }

 }
&__content {
   grid-column: 1 / -1;

   @include on-tablet {
      grid-column: 1 / 4;
   }

   @include on-desktop {
       grid-column: span 5;
    }
  }


  &__opens-title {
    grid-column: 1 / -1;
    font-weight: 700;
    font-size: 24;
    color: $main-dark;
    line-height: 24px;
    letter-spacing: -1.5px;

    @include on-tablet {
      grid-column: 3 / 4;
   }

   @include on-desktop {
       grid-column: span 5;
    }

   }

  &__opens-work {
    grid-column: 1 / 2;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $main-dark;

    @include on-tablet {
      grid-column: 3 / 4;
   }

     @include on-desktop {
       grid-column: span 6;
    }

  }

&__opens-days {
  grid-column: 2 / -1;
    row-gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $main-dark;
    font-family: 'Cinzel Decorative', serif;
    text-transform: uppercase;

    @include on-tablet {
      grid-column: 2 / -1;
   }

     @include on-desktop {
       grid-column: span 6;
    }
  }

     &--align--left {
       text-align: left;
    }

   &__opens-content {
    grid-column: 1 / -1;

      margin: 0;
      padding: 0;
      list-style: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: $main-dark;

     @include on-tablet {
      grid-column: 3;
     }

     @include on-desktop {
      grid-column: span 5;
    }
   }

   &__opens-close {
    grid-column: 1 / -1;
   margin: 0;
   padding: 0;
   list-style: none;
   font-weight: 700;
   font-size: 16px;
   line-height: 27px;
   color: $main-dark;

   @include on-tablet {
    grid-column: 3;
   }

   @include on-desktop {
    grid-column: span 5;
   }
  }
}
