.museum-hours {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include on-tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  @include on-laptop {
    grid-template-columns: repeat(12, 1fr);
  }

  &__title-container {
    @include on-laptop {
      grid-column: span 5;
    }
  }

  &__subtitle {
    color: $primary;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    margin-bottom: 2px;
  }

  &__museums-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-laptop {
      grid-column: span 7;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 16px;
  }

  &__open-close {
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
  }

  &__value {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__status {
    font-weight: 700;
  }
}
