
.museum-hours {
  font-family: 'Cinzel', serif;
  text-transform: capitalize;
  font-variant: normal;
  @include page-grid;
  column-gap: 20px;

  @include on-tablet {
    column-gap: 24px;
  }

  &__plan {
    grid-column: 1 / -1;
margin: 0;

    @include on-tablet {
      grid-column: 1 / 3;
   }

   @include on-desktop {
    grid-column: span 5;
  }
}

  &__plan-title {
    position: absolute;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 16.8px;
    color: $accent-main;
    letter-spacing: 0;
    text-align: center;


    }



  &__title {
   grid-column: 1 / -1;
   margin: 0;
   padding: 0;
   font-weight: 700;
   font-size: 32;
   color: $main-dark;
   line-height: 32px;
   letter-spacing: -1.5px;

   @include on-tablet {
     font-size: 48px;
     line-height: 48px;
      grid-column: 1 / 3;
   }

   @include on-desktop {
    grid-column: span 5;
   }

 }
&__content {
  font-family: 'Cinzel', serif;
  text-transform: capitalize;
  font-variant: normal;
   grid-column: 1 / -1;
   @include page-grid;
   column-gap: 0px;

   @include on-tablet {
     column-gap: 0px;
     row-gap: 0px;
   }
   grid-template-columns: repeat();

   @include on-tablet {
      grid-column: 4 / 7;
   }

   @include on-desktop {
       grid-column: span 5;
    }
  }


  &__opens-title {
    grid-column: 1 / -1;
    font-weight: 700;
    font-size: 24;
    color: $main-dark;
    line-height: 24px;
    letter-spacing: -1.5px;
   }

   &__opens-work1 {
    grid-column: 1 / 2;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $main-dark;

    @include on-tablet {
      grid-column: 1 / 4;
      grid-row: 2;
   }

     @include on-desktop {
       grid-column: span 6;
    }

  }
  &__opens-work2 {
    grid-column: 1 / 2;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $main-dark;

    @include on-tablet {
      grid-column: 1 / 4;
   }

     @include on-desktop {
       grid-column: span 6;
    }

  }

&__opens-days {
  font-family: 'Cinzel', serif;
  text-transform: capitalize;
   font-variant: normal;
   grid-column: 2 / -1;
    row-gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $main-dark;

    @include on-tablet {
      grid-column: 4 / 7;
   }

     @include on-desktop {
       grid-column: span 6;
    }
  }

     &--align--left {
       text-align: left;
    }

   &__opens-content {
    grid-column: 1 / -1;

      margin: 0;
      padding: 0;
      list-style: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: $main-dark;

     @include on-tablet {
      grid-column: 1 / -1;
     }

   }

   &__opens-close {
    grid-column: 1 / -1;
   margin: 0;
   padding: 0;
   list-style: none;
   font-weight: 700;
   font-size: 16px;
   line-height: 27px;
   color: $main-dark;

   @include on-tablet {
    grid-column: 1 / -1;
   }

   @include on-desktop {
    grid-column: span 5;
   }
  }
}
