.museum-address {
  list-style: none;
  padding: 0;
  margin: 0;

  @include onTablet {
    grid-column: span 3;
  }
  @include onDesktop {
    grid-column: span 6;
  }

  & * {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
  }

  &__container {
    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    padding: 0;
    grid-column: span 1;
  }

  &__name {
    margin-top: 40px;
  }

  &__info {
    margin-top: 16px;

    &--phone {
      text-decoration: none;
      color: inherit;
      margin-top: 12px;

      &:before {
        content: "Phone";
        display: block;
        font-weight: normal;
        margin-bottom: 4px;
        font-size: 14px;
      }
    }

    &--address {
      margin-top: 12px;

      &:before {
        content: "Address";
        display: block;
        font-weight: normal;
        margin-bottom: 4px;
        font-size: 14px;
      }
    }
  }
}
