.museum {
  &__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin-top: 24px;

    @include on-tablet {
      margin-top: 0;
    }
  }

  &__grid {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    text-wrap: nowrap;
  }

  &__hours {
    list-style: none;
    padding: 0;
    font-weight: 700;
  }

  &__days {
    list-style: none;
    padding: 0;
  }
}
