.bike1 {
  color: $color-white;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.bike2 {
  color: $color-white;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.bike3 {
  color: $color-white;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.explore {
  line-height: 55px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}
