.nav {
  &__list {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $menu-color;
    letter-spacing: 2px;
    font-size: 22px;
    line-height: 22px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: -8px;
      height: 1px;
      background-color: $menu-color;
      width: 100%;

      transform: scale(0);
      transition: transform $effectDuration;
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
