.nav {
  &__link {
    position: relative;
    color: $secondary-color;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;

    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $secondary-color;

      transition: transform 300ms;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
