.nav__link {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.nav__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  gap: 32px;

  list-style: none;
}
