.nav__list {
  padding: 0;
  list-style: none;
  font-size: 22px;
  line-height: 22px;
}

.nav__item:not(:last-of-type) {
  margin-bottom: 32px;
}

.nav__link {
  color: inherit;
  text-decoration: none;
}
