.nav {
  display: flex;
  flex-direction: column;
}

.nav__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}

.nav__link {
  display: flex;
  width: fit-content;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #292929;
  text-decoration: none;
}
