.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-size: 22px;
  line-height: 22px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: -8px;
    height: 1px;
    background-color: black;
    transform: scale(0);
    transition: transform 0.3s;
    transform-origin: left;
  }

  &:hover::after {
    transform: scale(1);
  }
}
