.navbar {
  display: flex;
  padding-block: 24px;
  justify-content: space-between;
  align-items: center;

  @include is-tablet {
    padding: 36px 0;
  }

  &__icons-menu {
    display: flex;
    gap: 24px;
  }

  &__phone {
    position: relative;
    display: flex;
    align-items: center;
    color: inherit;
    letter-spacing: 2px;
  }

  &__phone-label {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 12px;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: $transition-speed;
  }

  &:hover .navbar__phone-label {
    visibility: visible;
    opacity: 1;
  }

  &__logo-link {
    display: flex;
  }

  &__logo-img {
    height: 16px;

    @include is-tablet {
      height: 24px;
    }
  }
}
