.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    color: $second-color;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;

    &:hover {
      cursor: pointer;
      display: block;
      width: fit-content;
      padding-bottom: 8px;
      border-bottom: 1px solid $second-color;
    }
  }
}

