.navigation {
  height: 100vh;
  overflow: auto;

  background-color: #c2c2c2;
  text-transform: uppercase;
  font-weight: $font-weight-600;

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #e5e5e5;
  }

  &__phone-number {
    margin-top: 40px;

    display: block;

    text-decoration: none;
    color: $main-color;
    line-height: 27px;
  }

  &__order {
    margin-top: $margin-top-16px;
    padding-bottom: 8px;

    display: block;
    width: fit-content;

    text-decoration: none;
    color: $main-color;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px solid $main-color;
    letter-spacing: 2px;
  }

  &__main-content {
    padding-inline: $padding-inline-20px;

    @include onTable {
      padding-inline: $padding-inline-72px;
    }

    @include onDesktop {
      padding-inline: $padding-inline-120px;
    }
  }
}
