@import "../variables.scss";

.navigation {
  height: 100vh;

  background-color: #c2c2c2;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 600;

  &__phone-number {
    display: block;
    text-decoration: none;
    color: #1d1d1d;
    line-height: 27px;
    margin-top: 40px;
  }

  &__order {
    margin-top: 16px;
    padding-bottom: 8px;

    display: block;
    width: fit-content;

    text-decoration: none;
    color: #1d1d1d;
    font-size: 12px;
    line-height: 16px;
    border-bottom: 1px solid #1d1d1d;
    letter-spacing: 2px;
  }

  &__main-content {
    padding-inline: $padding-inline-20px;

    @include onTable {
      padding-inline: $padding-inline-72px;
    }

    @include onDesktop {
      padding-inline: $padding-inline-120px;
    }
  }
}
