.nav {
  display: flex;
  justify-content: space-between;
  &__logo {
    width: 64px;
    height: 46px;
    box-sizing: border-box;
    background-image: url("../images/icons/the_met.svg");

  }

  &__phone {
    position: relative;
    display: flex;
    @include onDesktop {

      &:hover > .nav__call {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__call {
    position: absolute;
    top: -40px;
    right: 20px;
    opacity: 0;
    width: 220px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    color: $header-color;
    text-align: end;
    scroll-behavior: unset;
    @include transition (opacity, 700ms);
    & > :not(:last-child) {
      margin-bottom: 8px;
    }
    &:hover {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__description {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    &--important {
      @include transition (color, 700ms);
      &:hover {
        color: $accent-color;
      }
    }
  }

  &__icons {
    display: flex;

  }

  &__icon {
    width: 24px;
    height: 24px;
    color: $header-color;
    background-size: contain;
    &--phone {
      background-image: url("../images/icons/icon-phone-call.svg");

    }

    &--burger {
      margin-left: 24px;
      background-image: url("../images/icons/icon-burger-menu.svg");
      @include transition (background-image, 700ms);
      &:hover {
        background-image: url("../images/icons/icon-burger-menu-hover.svg");
      }
    }
    @include onTablet {
      width: 32px;
      height: 32px;
    }
  }

}
