.nav {
  &__link {
    position: relative;
    color: #292929;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;

    &::after {
      content: '';
      position: absolute;

      display: block;
      bottom: -8px;
      height: 1px;
      width: 100%;
      background-color: #292929;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
