html {
  font-family: "Manrope", sans-serif;
  color: $main-text-color;
  font-size: 16px;
  line-height: 140%;
  scroll-behavior: smooth;
}

h2,
h3,
p,
footer,
main,
body {
  margin: 0;
}

a {
  line-height: 0;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  box-sizing: border-box;
}
