$text-title-color: #D12D35;
$text-color: #161616;

.now-view {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 64px;
    }
  }
}

.view {
  font-family: Cinzel;
  font-size: 16px;
  line-height: 27px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 48px;
  color: #161616;

  &__description-section {
    @include pageGrid;
  }

  &__description {
    margin: 0;
    font-weight: 400;
    text-align: center;
    color: $text-color;

    @include onTablet {
      text-align: center;
      grid-column: 2 / 6;
    }

    @include onDesktop {
      text-align: center;
      grid-column: 5 / 9;
    }
  }

  &__sectoion-photos {
    @include pageGrid;
    margin-bottom: 16px;
  }

  &__sectoion-photos-inline {
    --columns: 3;
    display: grid;
    column-gap: 8px;
    grid-template-columns: repeat(var(--columns), 1fr);
    margin-bottom: 16px;

    @include onTablet {
      --columns: 6;
      column-gap: 24px;
      grid-column: span 2;
    }

    @include onDesktop {
      --columns: 12;
      grid-column: span 4;
    }
  }

  &__link {
    position: relative;
    
    &--wide {
      @include onTablet {
        grid-column: span 4;
      }

      @include onDesktop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include onTablet {
        grid-column: span 2;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }

    &--photo {
      height: 0;
      padding-bottom: 100%;

      @include onTablet {
        grid-column: span 2;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-weight: 700;
    text-align: left;
    color: $text-title-color;
    margin: 24px 0 0 0;
  }

  &__info {
    font-weight: 400;
    text-align: left;
    margin: 0 0 48px 0;
  }
}
