.now-on-view {
  &__title-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 48px;
  }

  &__subtitle {
    text-align: center;
  }

  &__wrapper {
    display: grid;
    row-gap: 48px;
  }

  &__button {
    &-wrapper {
      margin-top: 40px;
      @include PageGrid;
    }

    grid-column: span 2;
    @include OnTablet {
      grid-column: 2/6;
    }

    @include OnDesktop {
      grid-column: 5/9;
    }
  }
}
