.now-on-view {
  &__wrapper {
    display: grid;
    row-gap: 48px;
  }

  &__wrapper2 {
    @include page-grid;

    text-decoration: none;
  }

  &__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 48px;
  }
}
