.now-on-view{
  &__wrapper{
    display: grid;
    row-gap: 40px;

    @include onTablet{
      row-gap: 64px;
    }

  }

  &__description{
    text-align: center;
    margin: 0;
    padding: 8px 0 48px 0;
  }

  &__button{
    padding: 16px 75px;
  }
}
