.now-on-view {
  @include sectionTitle;
  text-align: center;

  &__wrapper {
    display: grid;
    row-gap: 48px;
    margin-top: 48px;

    @include onTablet {
      column-gap: 24px;
    }
  }

  &__images {
    @include pageGrid;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--wide-top {
      object-position: -50px;
    }

    &--wide-bottom {
      object-position: right;
    }
  }

  &__link {
    text-decoration: none;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &--square {
      @include onTablet {
        grid-column: span 2;
      }

      @include onLaptop {
        grid-column: span 4;
      }
    }

    &--wide {
      @include onTablet {
        grid-column: span 4;
      }

      @include onLaptop {
        grid-column: span 8;
      }
    }

    &--additional {
      display: none;

      @include onTablet {
        display: block;
      }
    }
  }

  &__text {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }

  &__button-container {
    @include pageGrid;
  }

  &__button {
    grid-column: 1 / -1;
    display: block;
    margin: 40px auto 0;
    padding-block: 15px;
    width: 100%;

    background-color: $accent-main-color;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    transition: background-color 0.3s;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onTablet {
      grid-column: 5 / -5;
    }

    &:hover {
      background-color: $button-hover-color;
    }

    &:active {
      background-color: $active-button-color;
    }
  }

  &__title--bottom {
    margin-top: 24px;
    text-align: left;
    color: $accent-main-color;
    font-size: 16px;
    line-height: 27px;
  }

  &__text--bottom {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
