.numbers {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: max-content;
  text-align: right;

  &--text-align--initial {
    text-align: initial;
  }

  &__number {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 13.33px;
    line-height: 169%;
    text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);

    &--font-size--16 {
      font-size: 16px;
    }

    &--text-shadow--none {
      text-shadow: none;
    }
  }
}
