.number {
  display: block;
  color: $secondary-text-color;
  text-decoration: none;
  @include hover(color, $accent-color);

  &--white {
    color: $main-text-color;
    text-decoration: none;
    @include hover(color, darken($color: $main-text-color, $amount: 20));

    &--1 {
      color: $main-text-color;
      padding-bottom: 8px;
    }
  }

}
