.obsereve-element {
  &__item {
    transition-duration: 0.3s;

    @include onDesktop {
      transition-duration: 0.7s;
    }

    &--left {
      transform: translateX(-100%);
    }

    &--right {
      transform: translateX(100%);
    }
  }

  &--active {
    .obsereve-element__item {
      transform: translateX(0);
    }
  }
}
