.now-on-view {
  &__title-margin-bottom {
    margin-bottom: 8px;
  }

  &__text {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 48px;
  }

  &__button-wrapper {
    @include page-grid;

  }

  &__button {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    background-color: $accent-color;
    font-size: 16px;
    line-height: 27px;
    color: $header-text-color;
    transition: $transition-effect;

    &:hover {
      background-color: $hover-btn-color;
    }

    &:focus {
      background-color: $active-btn-color;
    }

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 5 / -5;
    }
  }
}
