.on-view {
  &__wrap-title {
    @include onTablet {
      @include grid;
    }
  }

  &__title {
    margin-bottom: 8px;

    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 4 / 10;
    }
  }

  &__text {
    margin-bottom: 48px;
    @include styleCategory;
    text-align: center;
    font-size: 16px;

    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 5 / 9;
    }
  }

  &__box {
    display: grid;
    row-gap: 48px;
    margin-bottom: 40px;
  }
}
