.online {
  &__wrapper {
    @include grid;
    font-weight: 400;
    text-align: center;

    @include onTablet {
      margin-bottom: 140px;
    }
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 40px;
    font-size: 48px;

    @include onTablet {
      grid-column: 2 / -2;
    }
  }

  &__items {
    @include grid;
    grid-column: 1/-1;
  }

  &__item {
    grid-column: 1/-1;
    margin-bottom: 48px;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: span 4;
      column-gap: 24px;
    }
  }

  &__img {
    @include hover(transform ,scale($scale));

    @include onTablet {
      grid-column: 2 / -2;
      margin-bottom: 32px;
    }
    @include onDesktop {
      grid-column: span 4;
      column-gap: 24px;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    color: $colorSubTitle;
  }

  &__text {
    @include onTablet {
      grid-column: 2/-2;
      margin-bottom: 32px;
    }
  }
}
