.online-offer {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 2/-2;
  }

  @include on-desktop {
    grid-column: span 4;
  }

  &__name {
    color: $main-color;
    font-size: 24px;
    line-height: 140%;

    margin: 0;
    margin-top: 24px;
    margin-bottom: 4px;
    text-align: center;
  }

  &__description {
    font-family: $font-text;
    color: black;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    text-align: center;
    margin: 0;
  }

  &__photo {
    width: 100%;
    object-fit: cover;
  }
}
