.online-guide {
  @include contentPaddingInLine;
  @include contentPaddingTop;
  background: $header-color;

  &__container {
    @include contentWidth;
    @include containerSet;
  }

  &__link {
    @include transition (transform, 700ms);
    @include collection;
  }
  &__collection {

    margin-top: 48px;
    @include onDesktop {
      gap: 24px;
      display: flex;
      flex-direction: row;
    }
  }
  &__title {
    @include titleFont;
    @include align-width;

  }
  &__sub-title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $accent-color;
    @include onTablet () {
      margin-top: 32px;
    }
  }
  &__card {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:first-child) {
      margin-top: 48px;
      @include onDesktop {
        max-width: 324px;
        margin-top: 0;
      }
    }
    @include onDesktop {

      justify-content: flex-start;
    }

  }
  &__image {
    width: 280px;
    @include onTablet {
      width: 392px;
    }
    @include onDesktop {
      width: 324px;
    }
  }
  &__description {
    @include align-width;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    @include onDesktop {
      max-width: 324px;
    }
  }
}
