.online-card {
  &__photo {
    width: 100%;
    transition-duration:$transition-time;
    &:hover {
      @include hover(transform, scale(1.05));
    }
  }

  &__title {
    color: $main-text-color-accent;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 4px;

    @include onTablet {
      margin-top: 32px;
    }
  }
  &__info {
    font-family: Roboto, sans-serif;
    color: $main-text-color-dark;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
  }
}
