.online {
  @include page-grid;

  row-gap: 40px;

  @include on-tablet {
    row-gap: $mb-main-title;
  }

  .section-title {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 2/6;
    }

    @include on-desktop {
      grid-column: 4/10;
    }
  }

  &__mainBlock {
    grid-column: 1/-1;

    &Wrapper {
      @include page-grid;

      row-gap: 48px;
    }
  }

  &__exhibition {
    grid-column: 1/-1;

    display: grid;
    grid-auto-flow: row;
    row-gap: 24px;

    @include on-tablet {
      grid-column: 2/6;
      row-gap: 32px;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    &Photo {
      width: 100%;
      height: 100%;
    }

    &Title {
      font-size: 24px;
      font-weight: 700;
      line-height: 33.6px;
      text-align: center;
      color: $red;
      margin-top: 0;
      margin-bottom: 4;
    }

    &Text {
      font-family: Roboto, serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      text-align: center;
      color: #161616;
      margin-block: 0;
    }
  }
}
