.online-explore {
  &__content {
    @include pageGrid;
    display: grid;
    justify-content: center;
    row-gap: 48px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    &__title {
      color: #d12d35;
    }

    &__photo {
      width: 100%;

      @include hover(transform, scale(1.05));
    }

    &__text {
      text-align: center;
    }

    &--align {
      grid-column: 1 / - 1;

      @include onTablet {
        grid-column: 2 / - 2;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }
  }
}
