.onview-item {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__image {
    display: flex;
    transition: transform 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }

    &--hide {
      @include on-tablet {
        display: none;
      }

      @include on-desktop {
        display: block;
      }
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;

    @include on-desktop {
      justify-content: start;
      gap: 24px;
    }
  }

  &__title {
    margin: 0;

    &--red {
      font-weight: 700;
      color: $red-color-main;
    }
  }
}
