@import '/src/styles/utils/variables';

.open-hours{
  &__title{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin-bottom: 16px;
  }
}

.days-and-time{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;

  &-second{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 21px;
  }
}

.clocks{
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__open{
    font-weight: $font-weight;
  }
}

.days{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.weekend{
  margin-top: 16px;
  margin-bottom: 24px;

  &__off{
    font-weight: $font-weight;
  }
}
