.open-hours {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: 16px;
  line-height: 169%;
  list-style: none;

  &__general {
    display: flex;
    gap: 24px;
  }

  &__time {
    font-weight: 700;
    list-style: none;
  }

  &__days {
    font-style: normal;
    font-weight: 400;
    list-style: none;
  }
}
