/* stylelint-disable */
.order {
  &__link {
    display: block;
    font-family: inherit;
    font-size: 12px;
    font-weight: 700;
    font-style: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 16px;
    letter-spacing: 2px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ffffff;
    width: fit-content;

    &:hover {
    }
  }
}
/* stylelint-enable */
