.our-contacts {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &__title {
    margin-bottom: 8px;

    font-size: 14px;
    font-weight: 400;
    color: $grey-text-color-adress;
    line-height: 19.6px;
  }

  &__phone,
  &__email,
  &__adress {
    font-size: 16px;
    font-weight: 400;
    color: $dark-text-color-adress;
    line-height: 22.4px;
    text-decoration: none;

    transition: text-shadow $effect-duration;

    &:hover {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}
