/* #region page */
.page {
  color: var(--main-dark, #161616);
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  font-family: "Cinzel", serif;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}
/* #endregion */
