.page-main {
  background-color: $main-text-color;

  &__content {
    display: grid;
    row-gap: 92px;
    padding-block: 92px;

    @include on-tablet {
      row-gap: 120px;
      padding-block: 120px;
    }

    @include on-desktop {
      row-gap: 144px;
      padding-block: 144px;
    }
  }
}
