.page {
  &:has(&__menu:target) {
    overflow: hidden;
  }

  &__menu {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;

    &:target {
      opacity: 1;
      pointer-events: all;
    }
  }
}


