.page {
  font-family: Poppins, sans-serif;
  color: #fff;
  line-height: var(--standart-line-height);

  --standart-line-height: 140%;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
}

.page__menu:target {
  pointer-events: all;
  opacity: 1;
}
