* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.page {
  font-family: Cinzel, serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

  scroll-behavior: smooth;
  overflow: auto;
}

.page__body {
  overflow: auto;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}
