.page {
  padding: 0;
  background-color: #1d1d1d;
  margin: 0;
  color: #fff;

  &__menu {
    height: 100vh;
    position: absolute;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    background-color: #c2c2c2;
    overflow: auto;

    &:target {
      opacity: 1;
      pointer-events: all;
    }
  }

  &:has(&__menu:target) {
    overflow: hidden;
  }

  &__main {
    margin-bottom: 200px;

    @include on-tablet {
      margin-bottom: 480px;
    }

    @include on-desktop {
      margin-bottom: 555px;
    }
  }

  &__footer {
    margin: 120px 0 0;

    @include on-desktop {
      margin: 182px 0 0;
    }
  }
}
