.page {
  font-family: 'Manrope', sans-serif;
  font-size: 22px;
  color: $main-text-color;
  line-height: 22px;
  scroll-behavior: smooth;
  padding-bottom: 64px;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  @include onDesktop {
    padding-bottom: 120px;
  }

  @include onTablet {
    padding-bottom: 120px;
  }

  &__body {
    margin: 0;
    min-height: 320px;
  }

  &__menu {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  transform: translateX(-100%);

    &:target {
      opacity: 1;
      pointer-events: all;
      background-color: #f9f9f9;
      transform: translateX(0);
    }
  }
}
