.input {
  box-sizing: border-box;
  padding: 0;
  font-family: $minor-font-family;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  border-radius: 8px;
  background-color: $input-main-color;
  border: 1px solid $input-main-color;
  text-align: left;
  padding-left: 16px;

  &__personal-info {
    height: 48px;
    margin-bottom: 16px;
  }

  &__message {
    height: 148px;
    margin-bottom: 32px;
    resize: none;
  }

  &:hover {
    border-color: $border-color;
  }

  &:active {
    border-color: $button-negative-color;
  }

  &__personal-info:-webkit-autofill,
  &__personal-info:-webkit-autofill:hover,
  &__personal-info:-webkit-autofill:focus {
    border: 1px solid $border-color;
    -webkit-text-fill-color: rgba(41, 41, 41, 1);
    -webkit-box-shadow: 0 0 0 1000px rgba(248, 248, 250, 1) inset;
  }

  &__send {
    background-color: $button-negative-color;
    color: $main-backgraund-color;
    border: 2px solid $button-negative-color;
    height: 56px;
    line-height: 56px;
    margin-bottom: 48px;
    text-align: center;
    font-family: $main-font-family;
    font-size: $main-font-size;

    &:hover {
      color: $button-negative-color;
      background-color: $input-main-color;
      border-color: rgba(240, 241, 244, 1);
    }

    &:active {
      background-color: $button-negative-color;
      color: $main-backgraund-color;
      border-color: $button-negative-color;
    }

    @include on-tablet {
      margin-bottom: 80px;
    }

    @include on-desktop {
      margin-bottom: 0;
    }
  }
}
