.phone {
  display: flex;
  flex-direction: column;

  &--header {
    display: none;
    position: absolute;
    left: -217px;
    top: -42px;
  }

  &__contacts {
    text-decoration: none;
  }

  & > :first-child {
    margin-bottom: 8px;
  }

  & :nth-child(2) {
    margin-bottom: 16px;
  }

  &__number {
    text-decoration: none;
    text-align: right;
    white-space: nowrap;

    @include text {
      font-weight: 700;
      color: $white;
    }
  }

  &__name {
    margin: $null;
    white-space: nowrap;

    @include text {
      font-weight: 700;
      color: $white;
    }

    &--header {
      text-align: right;
      width: 100%;
    }
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    text-decoration: none;
    letter-spacing: 2px;
    padding-bottom: 7px;
    border-bottom: 1px solid $white;

    @include text(12px, 700, 16px, $white);
  }
}
