.phone-menu {
  right: 135px;
  bottom: 25px;
  top: 26px;

  display: flex;
  flex-direction: column;

  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  text-align: right;

  opacity: 0;
  visibility: hidden;
  transition-duration: $hoverDuration;

  &__museum:not(:first-child) {
    margin-top: 8px;
  }
}

.icon--phone:hover + .phone-menu,
.phone-menu:hover {
  opacity: 1;
  visibility: visible;
}
