.phones {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
  font-weight: 700;
  width: max-content;
  text-transform: uppercase;
  text-align: right;
  padding-right: 16px;

  &__block {
    display: flex;
    flex-direction: column;
  }
}
