.phone-container{
  position: relative;
  display: inline-block;
}

.phone-number{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1000;
  left: 100%;
  top: 50%;
  white-space: nowrap;
  transform: translate(0, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.phone-container:hover.phone-number{
  visibility: visible;
  opacity: 1;
}
