.phone {
  box-sizing: border-box;
  height: 116px;
  width: 201px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: right;

  position: absolute;
  top: -30px;
  right: 75px;

  transition: all $transition-duration;
  opacity: 0;
  transform: translateY(-100%);

  @include on-tablet {
    top: -116px;
    right: 100px;
  }
}
