.phone-number {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  color: white;
  padding: 5px 20px 5px 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  opacity: 0;
  transition:
    right 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}
