.phones{
  font-weight: 700;
  text-transform: uppercase;
  &__title {
    color: $main-color;
    text-decoration: none;
  }

  &__number {
    color: $main-color;
    text-decoration: none;
    display: block;

    &:hover {
      color: $hover-color;
    }
  }
}
