.phone-numbers {
  box-sizing: border-box;
  color: $second-color;
  font-weight: 700;
  text-transform: uppercase;

  &__phone-links {
    color: $second-color;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
  }

  &__groups {
    padding-bottom: 8px;
  }

  &--in-header {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 10px;
  }
}