@use "../utils/mixins" as *;

.phone {

  &__label {
    color: #fff;
    text-align: right;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    transform: translateX(calc(-100% - 20px)) translateY(10px);

    @include visually-hidden;
  }

  &:hover &__label {
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
    transition: ease-out;
    transition-duration: 1.2s;
    cursor: pointer;

    @include for-desktop {
      @include visually-visible;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;

    @include for-tablet {
      width: 32px;
      height: 32px;
    }

    @include for-desktop {
      width: 32px;
      height: 32px;
    }
  }
}