.phone-numbers {

  &__link {
    display: block;
    width: fit-content;
    font-size: 16px;
    line-height: 27px;
    color: $second-text-color;
    text-decoration: none;

    &--end-group {
      margin-bottom: 8px;
    }

    &:hover {
      color: #f3c372;
    }
  }
}
