.photos {
  margin-top: 56px;
  align-content: center;
  justify-content: center;
  display: flex;

  @include phone {
    min-width: 360px;
    display: grid;
    row-gap: 40px;
    padding-block: 40px;
  }
}

.photos2 {
  align-content: center;
  justify-content: center;
  display: flex;

  @include phone {
    padding: 0 16px;
  }
}

.photos3 {
  margin-top: 190px;
  align-content: center;
  justify-content: center;
  display: flex;

  @include phone {
    padding: 0 16px;
  }
}

.photos4 {
  margin-top: 190px;
  align-content: center;
  justify-content: center;
  display: flex;

  @include phone {
    padding: 0 16px;
  }
}
