.photo {
  transition: transform 0.3s;

  &__img {
    display: block;
    width: 100%;
    border-radius: 4px;
  }

  &--mob-height {
    @media (max-width: 1200px) {
      min-height: 130px;
      max-height: 184px;
      height: 100%;

      & .photo__img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &--on-hover {
    &:hover {
      transform: scale(1.05);
    }
  }
}

.product {
  &:hover .photo {
    transform: scale(1.05);
  }
}
