.photo {
  @include pageGrid;
  background-image: url(..\images\products\Image_about-us_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 200px;
  grid-column: 1 / -1;

  @include onTablet {
    min-height: 400px;
    background-image: url(..\images\products\Image_about-us_2.png);
  }

  @include onDesktop {
    min-height: 460px;
    background-image: url(..\images\products\Image_about-us_3.png);
  }
}
