.photo {
  background-image: url(../images/photo.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 320px;

  @include onTablet {
    width: 100%;
    height: 400px;
    padding-block: 56px;
  }

  @include onDesktop {
    width: 100%;
    height: 460px;
    padding-block: 56px;
  }
}
