.photo1 {
  margin-right: 24px;
  width: 324px;
  height: 256px;

  &:hover {
    cursor: pointer;
  }

  @include phone {
    width: 240px;
  }
}

.photo2 {
  margin-right: 24px;
  width: 324px;
  height: 256px;

  &:hover {
    cursor: pointer;
  }

  @include phone {
    width: 240px;
  }
}

.photo3 {
  width: 324px;
  height: 256px;

  &:hover {
    cursor: pointer;
  }

  @include phone {
    width: 240px;
  }
}

.photo4 {
  margin-right: 24px;

  &:hover {
    cursor: pointer;

  }

  @include phone {
    width: 130px;
    height: 190px;
  }
}

.photo5 {
  height: 320px;

  &:hover {
    cursor: pointer;
  }

  @include phone {
    width: 130px;
    height: 190px;
  }
}

.photo6 {
  height: 320px;
  margin-right: 24px;

  &:hover {
    cursor: pointer;
  }

  @include phone {
    max-width: 130px;
    height: 190px;
  }
}

.photo7 {
  height: 320px;

  &:hover {
    cursor: pointer;
  }

  @include phone {
    max-width: 130px;
    height: 190px;
  }
}

.photo8 {
  height: 320px;
  margin-right: 24px;

  &:hover {
    cursor: pointer;
  }

  @include phone {
    width: 130px;
    height: 190px;
  }
}

.photo9 {
  height: 320px;

  &:hover {
    cursor: pointer;
  }

  @include phone {
    width: 130px;
    height: 190px;
  }
}

.photo10 {
  background: url(../pictures/photo10.png);
  display: flex;
  object-fit: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: 200px;

  @include phone {
    width: 100vh;
    height: 100vh;
  }
}

.bike {
  background: url(../pictures/Bike.svg);
  justify-content: space-between;
  display: flex;
  object-fit: cover;
  background-size: cover;
  height: 100vh;
}

.pictures2 {
  display: flex;
}

.pictures3 {
  display: flex;
}
