.picture {
  background-image: url(../images/about-us_img-phone.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  margin: 0;

  @include on-tablet {
    background-image: url(../images/about-us__img-tablet.png);
    width: 100%;
    height: 480px;
  }

  @include on-tablet {
    background-image: url(../images/about-us__img-desktop.png);
    width: 100%;
    height: 460px;
  }
}

