.picture {
  height: 200px;
  width: 100%;
  background-image: url(../images/about-us.png);
  background-position: center;
  background-size: cover;

  @include onTablet {
    height: 400px;
  }

  @include onDesktop {
    height: 460px;
  }
}
