.plan-your-visit {
  .container {
    @include pageGrid;
  }

  &__subheading {
    color: #d12d35;
    font-size: 12px;
    margin: 0;
    font-weight: bold;
  }
  &__table {
    border: none;
    border-collapse: collapse;
    padding: 0;
    width: auto;
    margin-bottom: 16px;

    td {
      padding: 4px 0;
    }
    td + td {
      padding-left: 25px;
    }
  }
  &__warning {
    margin: 0 0 24px;
  }
  & .container > *:last-child {
    margin-bottom: 0;
  }
  &__headings {
    margin-bottom: 32px;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }
  &__content {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
      margin-top: 6px;
    }

    @include onDesktop {
      grid-column: span 7;
    }
  }
  &__h3 {
    margin-bottom: 16px;
  }
}
