.plan-your-visit {
  @include pageGrid;

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }
}

.plan-your-visit__content {
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 4 / 7;
  }

  @include onDesktop {
    grid-column: span 5;
  }
}

.section-title--align--left--top {
  font-family: Cinzel;
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  color: #D12D35;
  margin-bottom: 2px;
  text-align: left;
  margin: 0;
}
.section-title--align--left--bottom {
font-family: Cinzel;
font-weight: 700;
font-size: 32px;
line-height: 32px;
letter-spacing: -1.5px;
color: #161616;
text-align: left;
margin: 0;
}

.section-title--align--left--top--bottom {
margin-bottom: 32px;
}

.section-title--align--right--top {
font-family: Cinzel;
font-weight: 700;
font-size: 24px;
line-height: 30px;
color: #161616;
text-align: left;
margin: 0;
margin-bottom: 16px;
}
.section-title--align--right--bottom {
  margin: 0;
  font-family: Cinzel;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #161616;
  text-align: left;
  margin-bottom: 16px;
  margin-top: 24px;
  }

.plan-your-visit__time__day {
    display: grid;
    grid-template-columns: 120px 1fr;
    column-gap: 24px;
    row-gap: 8px;
  }

.plan-your-visit__benefits {
  display: grid;
  row-gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.plan-your-visit__time {
font-family: Cinzel;
font-weight: 700;
font-size: 16px;
line-height: 27px;
color: #161616;
}
.plan-your-visit__day {
font-family: Cinzel;
font-weight: 400;
font-size: 16px;
line-height: 27px;
color: #161616;
}
.plan-your-visit__holidays {
font-family: Cinzel;
font-weight: 700;
font-size: 16px;
line-height: 27px;
color: #161616;
}
.plan-your-visit__description {
margin: 0;
font-family: Cinzel;
font-weight: 400;
font-size: 16px;
line-height: 27px;
color: #161616;
}
