.plan-your-visit {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 6;
    column-gap: 24px;
  }

  @include onDesktop {
    --columns: 12;
  }

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }
  }
}

.plan-your-visit__content {
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 4 / 7;
  }
}

.section-title--align--left--top {
  font-family: Cinzel;
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  color: #D12D35;
}
.section-title--align--left--bottom {
font-family: Cinzel;
font-weight: 700;
font-size: 48px;
line-height: 48px;
letter-spacing: -1.5px;
color: #161616;
}
.section-title--align--right--top {
font-family: Cinzel;
font-weight: 700;
font-size: 24px;
line-height: 30px;
color: #161616;
}
.section-title--align--right--bottom {
  font-family: Cinzel;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #161616;
  }

.plan-your-visit__benefits {
  display: grid;
  row-gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.plan-your-visit__time {
font-family: Cinzel;
font-weight: 700;
font-size: 16px;
line-height: 27px;
color: #161616;
}
.plan-your-visit__day {
font-family: Cinzel;
font-weight: 400;
font-size: 16px;
line-height: 27px;
color: #161616;
}
.plan-your-visit__holidays {
font-family: Cinzel;
font-weight: 700;
font-size: 16px;
line-height: 27px;
color: #161616;
}
.plan-your-visit__description {
margin: 0;
font-family: Cinzel;
font-weight: 400;
font-size: 16px;
line-height: 27px;
color: #161616;
}

