.popup {
  display: none;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  &__text {
    margin: 0;
    font-family: inherit;
    color: $white-color;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: right;
    letter-spacing: 2px;
  }
}
