/* #region portables */
.portables {

  padding: 0 20px;

  &__container {
    margin: 0 auto;
  }

  @media (min-width: 744px) {
    padding: 0 72px;
  }
  @media (min-width: 1260px) {
    padding: 0 120px;
  }

  &__headers {
    margin: 0;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
  }

  &__images {
    --columns: 2;
    display: grid;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 auto;
    row-gap: 50px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(var(--columns), 1fr);

    @media (min-width: 744px) {
      column-gap: 24px;
    }
  }

  &__images-container {

    transition-duration: 0.5s;
    width: 130px;
    height: 130px;

    @media (min-width: 744px) {
      width: 288px;
      height: 184px;
      margin-bottom: 16px;
    }

    @media (min-width: 1260px) {
      width: 498px;
      height: 324px;
      margin-bottom: 16px;
    }
  }

  &__headers-small {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    white-space: nowrap;
    max-width: 80px;

    @media (min-width: 744px) {
      margin-bottom: 56px;
    }
  }
}

.photo {
  transition-duration: 0.5s;
  width: 130px;
  height: 130px;

  @media (min-width: 744px) {
    width: 288px;
    height: 184px;
    margin-bottom: 16px;
  }

  @media (min-width: 1260px) {
    width: 498px;
    height: 324px;
    margin-bottom: 16px;
  }

  &:hover {
    scale: 1.1;
    border: 1px solid black;
  }
}

/* #endregion */
