.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 56px;
  border-radius: 40px;

  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: $second-color;
  text-decoration: none;

  background-color: $main-text-color;

  transition: box-shadow $anim-duration ease-in-out;

  &:hover {
    box-shadow: 1px 4px 16px 0 $button-background-hover-color;
  }

  &:active {
    box-shadow: 1px 4px 16px 0 $button-background-active-color;
  }
}
