.primary-field {
  &,
  &:-webkit-autofill {
    display: block;
    width: 100%;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $dark-color;
    color: #333 !important;
    box-shadow: 0 0 0 1000px $light-color inset !important;
    border-radius: 8px;
    border: 0;
    outline: transparent solid 1px;
    transition: outline-color $transition-fast-specs;

    &::placeholder {
      color: #7E7E83;
    }

    @include on-hover {
      outline: #DBDBDB solid 1px;
    }

    &:focus {
      outline: $accent-color solid 2px;
    }
  }

  &--text-area {
    resize: none;
    height: 148px;
  }
}
