.primary-field {
  &,
  &:-webkit-autofill {
    display: block;
    width: 100%;
    padding: 14px 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333 !important;
    box-shadow: 0 0 0 1000px #f9f9f9 inset !important;
    border-radius: 8px;
    border: 0;
    outline: transparent solid 1px;
    transition: outline-color 0.2s ease;

    &::placeholder {
      color: #7e7e83;
    }

    &:focus {
      outline: #f98921 solid 2px;
    }
  }

  &--text-area {
    resize: none;
    height: 148px;
  }
}
