.product {

  &__title {
    color: $main-text-color;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  &__photo {
    width: 100%;
    border-radius: 4px;
  }

  &__description {
    font-family: "Space Mono", monospace;
    color: $main-text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
    margin-bottom: 12px;

    @include onDesktop {
      height: 88px;
      overflow: hidden;
    }
  }

  &__price {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $main-text-color;
    margin: 0;
  }
}
