.product-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $main-text-color;

  &__image {
    align-self: center;
    width: 280px;
    height: 228px;
    margin-bottom: 32px;
    transition: transform 600ms;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    @include product-titles;

    margin-bottom: 8px;
  }

  &__product-description {
    @include product-descriptions;

    margin-bottom: 16px;
  }

  &__price-field-number {
    @include product-titles;
  }
}
