.product__photo {
  width: 100%;
}
.product__title {
  font-family: "Cinzel";
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  color: #D12D35;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  background-color: #D12D35;
}
.product__information {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #161616;
}