.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__image {
  background-size: cover;
  background-position: center;
  width: 280px;
  height: 280px;
  border-radius: 4px;
  margin: 24px auto;
}

.product--1 {
  background-image: url(/src/images/mobile/recommended/phone-1.png);
}

.product--2 {
  background-image: url(/src/images/mobile/recommended/ear-2.png);
}

.product--3 {
  background-image: url(/src/images/mobile/recommended/ear-stick.png);
}

.product__name {
  margin: 0 0 8px;
}

.product--title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
}

.product__description {
  font-family: "Space Mono", sans-serif;
  margin: 0 0 12px;
  text-align: justify;
}

.product__price {
  margin: 0;
}

@media (min-width: 744px) {
  .product__image {
    width: 600px;
    height: 600px;
  }

  .product--1 {
    background-image: url(/src/images/tablet/recommended/recommended-top.png);
  }

  .product--2 {
    background-image: url(/src/images/tablet/recommended/recommended-middle.png);
  }

  .product--3 {
    background-image: url(/src/images/tablet/recommended/recommended-bottom.png);
  }
}

@media (min-width: 1260px) {
  .recommended {
    display: flex;
    gap: 24px;
  }

  .product__image {
    width: 324px;
    height: 324px;
  }

  .product--1 {
    background-image: url(/src/images/desktop/recommended/recommended-left.png);
  }

  .product--2 {
    background-image: url(/src/images/desktop/recommended/recommended-middle.png);
  }

  .product--3 {
    background-image: url(/src/images/desktop/recommended/recommended-right.png);
  }
}
