@import '../variables';
@import '../utils/mixins';

.product {
  width: 100%;

  &__img-link {
    @include image-link;

    border-radius: 8px;
    margin-bottom: 24px;
  }

  &__img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__title-link {
    text-decoration: none;
    color: inherit;
    transition: color $image-hover-duration ease;

    &:hover {
      color: $primary-color;
    }
  }

  &__description {
    @include font-mono;

    font-size: 16px;
    line-height: 140%;
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;

    @include on-desktop {
      height: 88px;
    }
  }

  &__price {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
  }
}
