.product {
  &__photo {
    width: 100%;
    transition: border-radius, scale, 0.3s;

    &:hover {
      border-radius: 100px;
      transform: scale(1.03);
    }
  }

  &__title {
    margin: 0;
    margin-top: 24px;
    font-size: 18px;
  }

  &__description {
    margin: 0;
    margin-top: 8px;
    font-family: "Space Mono", sans-serif;
    font-weight: 400;

    &--cut-text::before {
      content: "Designed with instinct, to bring joy back to the everyday.";

      @include onDesktop {
        display: none;
      }
    }

    @include onDesktop {
      max-width: 280px;
    }
  }

  &__price {
    margin: 0;
    margin-top: 12px;
  }
}
