.products {
  margin-top: 92px;

  &__container {
    @include page-grid;

    row-gap: 40px;
    padding-top: 48px;

    @include on-tablet {
      row-gap: 48px;
    }
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
