.product {
  &__photo {
    width: 100%;
    background-color: $background-color;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
  }

  &__price {
    font-weight: 700;
  }
}
