.product-card {
  &__img {
    width: $image-square-size-mobile;

    @include onTablet {
      width: $image-square-size-tablet;
    }

    @include onDesktop {
      width: $image-square-size-desktop;
    }
  }

  &__title {
    @include getSpaceGroteskFont(18px, 140%, 700);
    @include resetMargin;
    margin-top: 24px;
  }

  &__description {
    @include resetMargin;
    margin-top: 8px;
  }

  &__price {
    @include getSpaceGroteskFont(16px, 140%, 700);
    @include resetMargin;
    margin-top: 12px;
  }
}
