.product-card {
  display: grid;
  box-sizing: border-box;

  transition: all 0.3s ease-out;

  &__picture {
    display: grid;
    width: 100%;

    transition: all 1s ease-out;
  }

  &__link {
    @include font-line-text(24px, 700, 33.6px, left);

    color: $main-text-color;
    text-decoration: none;
  }

  &__description {
    @include font-line-text(16px, 400, 22.4px, left);
  }

  &__price {
    animation-name: price;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    @include font-line-text(24px, 700, 33.6px, left);
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);

    .product-card__description {
      color: #ffffffc2;
      cursor: default;
    }

    .product-card__link {
      text-shadow: 1px 4px 16px #e8e8f066;
    }

    .product-card__price {
      cursor: default;
    }
  }
}
