.product {
  @include hover(transform, scale(1.1));

  &__image {
    width: 100%;
    margin-bottom: 24px;
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0;
  }

  &__description {
    margin: 0;
    margin-bottom: 12px;
  }

  &__price {
    font-weight: 700;
    letter-spacing: 0;
  }
}
