.promo {
  background: url(../images/promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;

  @include on-tablet {
    height: 400px;
  }

  @include on-laptop {
    height: 460px;
  }
}
