.promo {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;

  display: flex;
  align-items: center;
  min-height: 200px;

  @include on-tablet {
    min-height: 400px;
  }

  @include on-desktop {
    min-height: 460px;
  }

  &__image {
    position: absolute;
    display: block;
    width: 100vw;
    max-width: 100vw;
    height: 200px;
    margin: 0 auto;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }
}
