.recommended {
  @include pageGrid;

  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
      font-size: 48px;
    }

    @include onDesktop {
      grid-columns: span 5;
      font-size: 48px;
    }
  }

  &__description {
    margin: 0;
    font-weight: 500;
    font-size: 23px;

    @include onTablet {
      grid-column: 4 / 7;
      font-weight: 500;
      font-size: 23px;
    }

    @include onDesktop {
      grid-columns: span 5;
      font-weight: 500;
      font-size: 23px;
    }
  }
}
