.recommended {
  opacity: 0;
  transition: all 0.7s ease-out;
  will-change: transform, opacity;
  margin: auto;

  &-from-left {
    transform: translateX(-100%);
  }

  &__prodycts {
    @include paga-grit;

    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__prodyct {
    grid-column: 1/-1;

    @include on-desctop {
      grid-column: span 4;
    }
  }

  .prodyct__description {
    @include on-desctop {
      display: flex;
      align-items: center;
      height: 5em;
    }
  }

  .prodyct__photo:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
}
