.recomended {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @include onDesktop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 40px;

      @include onDesktop {
        margin-bottom: 0;

        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }

  &__imag {
    width: 280px;
    height: 100%;
    margin-bottom: 24px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    @include onTablet {
      width: 600px;
    }

    @include onDesktop {
      width: 324px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    width: 280px;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    margin: 0;
  }

  &__purpose {
    letter-spacing: 0.15px;
    margin: 8px 0 12px;
  }

  &__prise {
    font-weight: 700;
  }
}
