.card {
  &__link {
    display: block;
    margin-bottom: 24px;
  }

  &__img {
    width: 100%;

    @include hoverScale;
  }

  &__header {
    margin-bottom: 8px;

    @include textHeader;
  }

  &__text {
    margin-bottom: 12px;
  }

  &__price {
    font-weight: $bold-text-font-weight;
  }
}
