.recommendet {
  margin-top: 64px;

  @include onTablet {
    margin-top: 120px;
  }

  &__products {
    @include pageGrid;

    row-gap: 40px;
  }

  &__product {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / -1;
    }

    @include onDesktop {
      grid-column: span 4;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }
  }
}
