.recommended {
  &__products {
    @include page-grid;

    row-gap: 40px;
  }

  &__product {
    grid-column: 1/-1;
    @include on-tablet {
      grid-column: 2/-2;
    }
    @include on-desktop {
      grid-column: span 4;
    }
    &:nth-child(1) {
      @include animation-scroll(translateY(50px), translateY(0), 0.3s);
    }
    &:nth-child(2) {
      @include animation-scroll(translateY(50px), translateY(0), 0.4s);
    }
    &:nth-child(3) {
      @include animation-scroll(translateY(50px), translateY(0), 0.5s);
    }
  }
}
