.recommendet {
  &__products {
    @include pageGrid;

    row-gap: 40px;
  }

  &__product {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / -1;
    }

    @include onDesktop {
      grid-column: span 4;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }
  }
}

.product {
  &__photo {
    transition-duration: 0.5s;
  }
  &__photo:hover {
    transform: scale(1.2);
  }

  &__price {
    @include onDesktop {
      margin-top: auto;
    }
  }
}
