.recomended {
  &__products {
    @include page-grid;

    row-gap: 2.5rem;
  }

  &__product {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-descktop {
      grid-column: span 4;
    }
  }
}
