.recommend {
  padding: 64px 0 96px;

  @include onTablet {
    padding: 120px 0;
  }

  &__items {
    @include grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 56px;
    }
  }

  &__product {
    grid-column: 1 / -1;

    @include onDesctop {
      grid-column: span 4;
    }
  }
}
