.explore-online {
  &__exhibition {
    @include pageGrid;
    row-gap: 48px;
  }

  &__product {
    grid-column: 1/-1;

    @include onTablet {
      grid-column: 2/-2;
    }
    @include desktop {
      grid-column: span 4;
    }
  }
}
