section{
    padding: 0px 20px;
}
section>h1{
    font-family: "Manrope", sans-serif;
    color:#1B2129;
    font-size: 32px;
    line-height: 32px;
}

.recommended__items-one{
    margin-bottom: 40px;
}
.recommended__items-two{
    margin-bottom: 40px;
}

.recommended__items:last-child{
    margin-bottom: 0;
}

.recommended__text__title{
    font-family: "Manrope", sans-serif;
    color:#1B2129;
    font-size: 32px;
    line-height: 32px;
    margin-top: 64px;
}
.recommended__image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}
.recommended__text__subtitle{
    font-family: "Manrope", sans-serif;
    color:#1B2129;
    line-height: 140%;
    font-size:18px;
    margin-top: 24px;
}
.recommended__description{
    margin-top:8px;
    margin-bottom: 12px;
    letter-spacing: 0.15px;
}
.recommended__price{
    margin-top: 0px;
    font-size: 16px;
    line-height: 140%;
}
