.recommended {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  font-weight: 700;
  margin: 0 20px;
}

.recomended__section {
  margin-bottom: 96px;
}

.recommended__title {
  font-size: 32px;
  line-height: 32px;
  margin-top: 64px;
  margin-bottom: 48px;
}

.recommended__position {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.position--box:not(:last-child) {
  margin-bottom: 40px;
}

.recommended__img {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 24px;
}

.recommended__subtitle {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.subtitle {
  margin-bottom: 8px;
}

.recommended__text {
  font-weight: 400;
  letter-spacing: 0.15px;
  padding: 0;
  margin: 0;
}

.psition--text {
  margin-bottom: 12px;
}

.recommended__price {
  font-size: 16px;
  margin: 0;
}
