.recommended {
  padding: 64px 20px 0;
}

.recommended__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 48px;
}

@media (min-width: 744px) {
  .recommended {
    padding: 120px 72px 0;
  }

  .recommended__container {
    padding-top: 56px;
  }
}

@media (min-width: 1260px) {
  .recommended {
    padding: 120px 120px 0;
  }

  .recommended__container {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
