.red-button {
  display: block;
  padding: 14px;
  width: 100%;
  border: unset;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  text-align: center;
  color: $color-header-white;
  background-color: $color-accent-red;

  @include changeOnHover(background-color, $color-hover-red);
  &:active {
    opacity: 0.9;
  }
}
