body,
h1,
h2,
h3,
a,
p {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-text-fill-color: $main-text-color;
  transition: background-color 5000s;
}

input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover {
  border-color: $form-element-border-color;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
  outline: 1px solid $main-text-color;
}
