* {
  transition: all 0.3s ease;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  cursor:
    url(../images/Cursor-Mouse-Mice.png) 16 16,
    auto;
}

input {
  padding: 0;
  border: 0;
}

textarea {
  padding: 0;
  border: 0;
}

button {
  padding: 0;
  border: 0;
}
