html {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  background-color: #1d1d1d;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

html,
body,
h1,
h2,
h3,
p,
a,
label,
input,
textarea {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}
