.section-title {
  margin: 0;
  color: $main-text-color;
  font-family: Space Grotesk, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 48px;

  @include onTablet {
    font-size: 40px;
    margin-bottom: 56px;
  }

  @include onDesktop {
    font-size: 48px;
  }
}
