@keyframes enlarge {
  to {
    transform: scale(1.2);
  }
}

@keyframes returnToNormal {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.scale__img {
  &:hover {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
    animation: enlarge $effectDuration ease forwards;
  }

  &:not(:hover) {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
    animation: returnToNormal $effectDuration ease forwards;
  }
}
