.schedule {
  @include page-grid;

  &__title {
    margin: 0;
    grid-column: 1/ -1;
    line-height: 100%;

    @include on-tablet {
      grid-column: 1/ 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }

    margin-bottom: 18px;
  }

  &__content {
    display: grid;
    gap: 24px;
    grid-column: 1/ -1;

    @include on-tablet {
      grid-column: 4/ 7;
    }

    @include on-desktop {
      grid-column: span 7;
    }
  }

  &__accent-text {
    margin: 0;
    color: $accent-color;
    font-weight: 700;
    font-size: 12px;
  }

  &__location {
    font-size: 24px;
  }

  &__container {
    display: flex;
    column-gap: 24px;
  }

  &__list {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
    row-gap: 8px;
    &--days {
      font-weight: bold;
    }
  }

  &__closed,
  &__closed-days {
    margin: 0;
    padding: 0;
  }
}
