.schedule {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__days-and-time {
    display: flex;
    gap: 24px;
  }

  &__table {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__time {
    font-weight: 700;
  }
}
