.schedule {
  font-weight: 400;
  padding-top: 80px;
  padding-bottom: 100px;
  display: grid;

  &__title {
    margin-bottom: 32px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__work-time {
    display: flex;
    column-gap: 24px;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  @media (min-width: $tablet-min-width) {
    grid-template-columns: 1fr 1fr;
  }
}
