#scrollToTopBtn {
  position: fixed;
  width: 0;
  height: 0;
  bottom: 0;
  right: -300px;

  @media (min-width: 744px) {
    bottom: 50px;
    right: -10px;
    border-radius: 10px;
    transform: rotate(270deg);
    font-size: 12px;
    width: 85px;
    height: 20px;
  }

  @media (min-width: 1260px) {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 1;

    width: 80px;
    height: 50px;
    transform: rotate(0);
    border: none;
    background-color: $textColorWhite;
    color: $textColorBlack;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.4s;

    &:hover {
      box-shadow: 1px 3px 8px #e8e8f0a3;
      background-color: #c2c2c2;
    }
  }
}
