::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: $scroll-bar-thumb-color;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background: $scroll-bar-track-color;
}
