.scroll-top {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: $secondary-color;
  border: 1px solid $input-text-color;
  border-radius: 50%;
  box-shadow: inset 0 -1px 0.6px $grey-accent-input-area;
  right: 26px;
  bottom: 64px;

  &__material-icons {
    font-family: "Material Icons", serif;
    font-weight: normal;
    font-size: 21px;
    display: inline-block;
    line-height: 1;
    direction: ltr;
    padding: 10px;
    color: $input-text-color;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }
}
