.section-catalog-preview {
  margin-top: 96px;
  @include contentPaddingInline;

  @include onTablet {
    margin-top: $section-margin-top-tablet;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 47px;

    @include onTablet {
      gap: 56px;
      margin-top: 56px;
    }
  }

  @include onTablet {
    margin-top: $section-margin-top-tablet;
  }

  &__link-view-all {
    display: block;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: #fff;
    }

    @include onDesktop {
      width: 32%;
    }

  }
}
