.section {
  margin-bottom: 80px;
}

.section__title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
}

.section__h4 {
  color: #d12d35;
  text-transform: uppercase;
}
