.compare-bikes {
  padding-top: 92px;

  @include on-tablet {
    padding-top: 132px;
  }

  @include on-desktop {
    padding-top: 164px;
  }

  &__products {
    row-gap: 40px;

    @include page-grid;
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
