.main {
  display: flex;
  flex-direction: column;
  @include constentPaddingInline;
}

.section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 100px;
  @include sectionFont;

  @include onTablet {
    margin-top: 140px;
  }

  @include onLaptop {
    width: 1020px;
    margin-inline: auto;
  }

  &__title {
    margin-inline: auto;
    text-align: center;
    width: 280px;

    @include onTablet {
      width: 392px;
    }

    @include onLaptop {
      width: 498px;
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--aboutUs {
      gap: 24px;
      margin-inline: auto;
    }

    &--gallery {
      display: block;
      margin-inline: auto;
      width: 280px;

      @media (min-width: 640px) {
        width: 600px;
      }

      @include onLaptop {
        width: 1020px;
      }
    }

    &--explore-online {
      flex-direction: column;
      margin-inline: auto;

      @include onLaptop {
        flex-direction: row;
        gap: 24px;
        margin-inline: auto;
      }
    }

    &--contacts {
      gap: 24px;
      margin-inline: auto;

      @include onLaptop {
        gap: 0;
        margin-inline: 0;
        justify-content: space-between;
      }

    }
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;

    &--one,
    &--three {
      gap: 20px;
      margin-bottom: 24px;

      @include onTablet {
        gap: 24px;
      }
    }

    &--two {
      gap: 8px;
      margin-bottom: 24px;

      @media (min-width: 640px) {
        gap: 24px;
        margin-bottom: 0;
      }

      @include onLaptop {
        margin-bottom: 24px;
      }
    }

    &--four,
    &--five,
    &--six {
      margin-inline: auto;
      flex-direction: column;
      text-align: center;
      width: 280px;

      @media (min-width: 576px) {
        width: 392px;
      }

      @include onLaptop {
        width: 324px;
      }
    }

    &--seven {
      flex-wrap: wrap;
      gap: 24px;
      width: 280px;

      @include onLaptop {
        width: 498px;
      }
    }
  }

  &__items {

    &--fifth {
      box-sizing: content-box;

      @media (min-width: 599px) {
        width: 1px;
        height: 1px;
        visibility: hidden;
      }

      @include onLaptop {
        visibility: visible;
      }
    }
  }
}
