.section {
  color: #FFF;
  font-family: Poppins;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  @include ContentGridTemlate;
  @include ContentpaddingInline;


  &__title {
    grid-column: 1 / -1;
    font-size: 32px;
    margin-top: 92px;
    align-items: center;
    text-align: center;

    &--left {
      grid-column: span 1;
      font-size: 32px;
      margin-top: 60px;
      align-items: center;

      @include onTablet {
        grid-column: span 3;
        font-size: 48px;
        margin-top: 120px;
      }

      @include onDesktop {
        grid-column: span 5;
        font-size: 64px;
      }
    }

    @include onTablet {
      grid-column: 2 / -2;
      font-size: 48px;

      margin-top: 120px;
    }

    @include onDesktop {
      grid-column: 4 / -4;
      font-size: 64px;
    }
  }

  &__content {

    &--right {
      grid-column: span 1;
      margin-top: 60px;


      @include onTablet {
        grid-column: span 3;
        margin-top: 120px;
      }

      @include onDesktop {
        grid-column: span 6;
      }

    }

    @include onTablet {
      grid-column: span 8;
      margin-top: 120px;
    }

    @include onDesktop {
      grid-column: span 12;
    }
  }

}
