.exhibitions {
  @include  max-width;
  &__wrapper {
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat($max-grid-columns, 1fr);

    @include on-tablet {
     grid-template-columns: repeat($tablet-grid-columns, 1fr);
    }

    @include on-mobile {
      grid-template-columns: repeat($mobile-grid-columns, 1fr);
    }

    @include on-mobile {
      row-gap: 10px;
    }
  }

  &__header {
    &--subheader {
      font-size: $text-size;
      line-height: 27px;
      margin: 8px auto 48px;
      align-items: center;
      text-align: center;
      max-width: 300px;
    }
  }
}

.exhibition {

  &__block {
    grid-column: span 12;
  }


  &__photo {
    display: grid;
    grid-template-columns: repeat($max-grid-columns, 1fr);
    gap: 32px 20px;

    @include on-tablet {
     grid-template-columns: repeat($tablet-grid-columns, 1fr);
    }

    @include on-mobile {
      grid-template-columns: repeat($mobile-grid-columns, 1fr);
    }

    &--second {
      @include on-mobile {
      display: flex;
    }
    }
  }

  &__link {
    overflow: hidden;

    &--1 {
      grid-column: span 8;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-mobile {
        grid-column: span 1;
        overflow: hidden;

        & img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          object-position: 19%;
          transform: scale(1.4);
        }

      }
    }

    &--2 {
      grid-column: span 4;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-mobile {
        grid-column: span 1;
      }
    }

    &--3 {
      grid-column: span 4;

      @include on-tablet {
        grid-column: span 3;
      }

      @include on-mobile {
        grid-column: span 1;
      }
    }

    &--4 {
      grid-column: span 4;

      @include on-tablet {
        grid-column: span 3;
      }

      @include on-mobile {
        grid-column: span 1;
      }
    }

    &--5 {
      grid-column: span 4;

      @include on-tablet {
        grid-column: span -1;
        display: none;
      }

      @include on-mobile {
        grid-column: span 1;
      }
    }

    &--6 {
      grid-column: span 4;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-mobile {
        grid-column: span 1;
      }
    }

    &--7 {
      grid-column: span 8;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-mobile {
       grid-column: span 1;
        overflow: hidden;

        & img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          object-position: 100%;
          transform: scale(1.1);
        }
      }
    }


  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__data__container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 20px 0 40px;
  }

  &__header {
    font-weight: 700;
    color: $accent-color;
    margin: 0;
  }

  &__date {
    margin: 0;
  }

  &__btn {
    grid-column: span 4 / 9;
    background-color: $accent-color;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: $light-color;
    font-size: 16px;
    font-weight: 700;
    padding: 14px;

    @include on-tablet {
      grid-column: span 4/ 6;
    }

    @include on-mobile {
      grid-column: span 2;
    }
  }

}
