.section {
  @include container;
  @include container-indent;

  &__grid {

    &--2 {
      @include grid-2;
    }

    &--12 {
      @include grid-12;
    }

    &--row-gap-small {
      row-gap: 16px;
    }

    &--row-gap-large {
      row-gap: 40px;

      @include on-tablet {
        row-gap: 56px;
      }
    }

    &--indent {
      margin-bottom: 40px;

      @include on-tablet {
        margin-bottom: 56px;
      }
    }
  }

  &__full-columns {
    grid-column: 1 /-1;
  }

  &__item {
    grid-column: 1 / -1;

    &--col-4 {
      @include on-laptop {
        grid-column: span 4;
      }
    }

    &--tablet-col-3 {
      @include on-tablet {
        grid-column: span 3;
      }
    }

    &--left {
      @include on-laptop {
        grid-column: span 6;
      }
    }

    &--right {
      @include on-laptop {
        grid-column: 8 / -1;
      }
    }

    &--indent {
      margin-bottom: 48px;

      @include on-tablet {
        margin-bottom: 80px;
      }

      @include on-laptop {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }
}
