.section {
  margin-top: 96px;
  overflow: hidden;

  &__photo {
    background-image: url(/src/images/section.png);
    width: 100vw;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }
}
