/*
.section {
  margin-bottom: 100px;
  font-family: Cinzel, Times, serif;
  color: $main-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: left;

  &__content {
    width: 100%;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.5px;
  }

  &__title-red {
    font-family: inherit;
    color: #D12D35;
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;
  }

  &__align-center {
    text-align: center;
  }
}
*/
