.section {
  @include pageGrid;

  &__button {
    border: none;
    box-sizing: border-box;
    border-radius: $border-radius;
    padding: 15px 111px ;
    margin: 32px 0 96px;

    font-weight: 700;
    line-height: 27px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    color: $white;
    grid-column: 1 / -1;

    background-color: $orange;

    @include hover(background-color, $black-main);

    &:active {
      background-color: $black-button-press;
    }

    @include onTable {
      margin: 56px 0 80px;
    }

    &--category {
      @include onDesktop {
        grid-column: span 5;
      }
    }

    &--contact {
      margin-top: 20px;

      @include onDesktop {
        height: 56px;
      }
    }
  }
}
