.section-title {
  @include title-font;

  font-size: 32px;
  line-height: 32px;

  @include on744 {
    font-size: 40px;
    line-height: 40px;
  }

  @include on1260 {
    font-size: 48px;
    line-height: 48px;
  }

  &__recomended {
    padding-top: 40px;
    padding-bottom: 56px;

    @include on744 {
      padding-top: 84px;
      padding-bottom: 56px;
    }
  }

  &__store {
    padding-top: 48px;
    padding-bottom: 48px;
    max-width: 585px;

    @include on744 {
      padding-bottom: 56px;
    }

    @include on1260 {
      padding-top: 56px;
    }
  }

  &__contact-us {
    padding-top: 56px;
    padding-bottom: 48px;

    @include on744 {
      padding-top: 48px;
      padding-bottom: 56px;
    }
  }
}
