.section {
  &__move-free {
    @include display-grid-responsive;
    margin-bottom: 92px;

    @include onTablet {
      margin-bottom: 132px;
    }

    @include onDescktop {
      margin-bottom: 164px;
    }

    &-descreption {
      grid-column: 4 / -1;

      @include title-style(23px, 32px, 500);

      @include onDescktop {
        grid-column: 6 / -2;
      }
    }
  }

  &__compare-bikes {
    margin-bottom: 92px;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDescktop {
      margin-bottom: 144px;
    }
  }

  &__products {
    @include display-grid-responsive;
    row-gap: 48px;
  }

  &__the-details {
    margin-bottom: 80px;
  }

  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 48px;
    }
  }

  &__contact-us {
    &--wrapper {
      @include display-grid-responsive;
      row-gap: 48px;
    }
  }

  &__title {
    @include title-style(2rem, 2rem, 500);
    margin-bottom: 48px;
    text-align: center;
    letter-spacing: -1.5px;

    @include onTablet {
      @include title-style(3rem, 3rem, 500);
    }

    @include onDescktop {
      @include title-style(4rem, 4rem, 500);
    }

    &--align-left {
      grid-column: 1 / 4;
      margin-bottom: 32px;
      text-align: left;

      @include onDescktop {
        grid-column: 1 / 6;
      }
    }

    &--contact-us {
      @include onDescktop {
        @include title-style(3rem, 3rem, 600);
      }
    }
  }
}
