.section-bg {
  background-image: url(../images/section-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;

  @include on-tablet {
    height: 400px;
  }

  @include on-dekstop {
    height: 460px;
  }
}
