.compare-section {
  margin-top: 92px;

  @include on-tablet {
    margin-top: 132px;

    @include grid-tablet;
  }

  @include on-pc {
    margin-top: 164px;

    @include grid-pc;
  }
}

.compare-article {
  margin-bottom: 40px;

  @include on-tablet {
    grid-column: 2/span 4;
  }

  @include on-pc {
    grid-column: span 4;
  }

  &__image {
    margin-inline: auto;
    width: 100%;
    max-width: 660px;
  }

  &__title {
    margin-top: 32px;

    @include main-title-price-text;
  }

  &__text {
    @include main-text;
  }

  &__price {
    @include main-title-price-text;
  }
}
