.section-bg {
  background-image: url('../images/about/about-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  margin-inline: -20px;
  padding-inline: 20px;

  @include onTablet {
    background-image: url('../images/about/about-tablet.png');
    height: 400px;
    margin-inline: -72px;
    padding-inline: 72px;
  }

  @include onDesktop {
    background-image: url('../images/about/about-desktop.png');
    height: 460px;
    margin-inline: -120px;
    padding-inline: 120px;
  }
}
