.section__title {
  margin: 92px 20px 0;
  font-family: ' Poppins ', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: $main-text-color;
  display: flex;
  justify-content: center;
  align-items: center;

  @include ontable {
    margin: 120px 0 0;
    font-size: 48px;
    line-height: 48px;
  }

  @include ondesktop {
    font-size: 64px;
    line-height: 64px;
  }
}
