.section_button {
  background-color: $accent-main-color;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  color: white;
  height: 56px;
  border: none;

  cursor: pointer;

  &:hover {
    background-color: #ae1c23;

    transition-duration: $effectDuration;
  }

  &:active {
    background-color: #eb343d;

    transition-duration: $effectDuration;
  }
}
