.section-button {
  @include pageGrid;
  height: 56px;

  &__describe {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    grid-column: 1 / -1;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color: #fff;
    background-color: #f98921;
  }

  &--placing {
    @include onDesktop {
      grid-column: span 4;
    }
  }
}
