.section__title {
  display: flex;
  flex-direction: column;

  margin: 0;

  color: inherit;

  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
}

.section__plan-visit {
  margin: 0;
  padding-bottom: 2px;

  color: var(--accent-main);

  font-size: 12px;
  font-weight: 700;
  line-height: 140%;
  text-decoration: none;
  letter-spacing: normal;
}

.section__top--center {
  text-align: center;
}

.section__title--about-us {
  text-align: left;
}

.section__about-us {
  margin-top: 24px;
}

.section__about-us:first-of-type {
  margin-top: 32px;
}

.section__now-on-view {
  margin-top: 48px;
}

.section__explore-online {
  margin-top: 48px;
}

.section__explore-online:first-of-type {
  margin-top: 40px;
}

.section__contacts {
  margin-top: 48px;
}

.section__formfield {
  margin-top: 48px;
}
