.section-about {
  margin-top: 96px;

  @include onTablet {
    margin-top: $section-margin-top-tablet;
  }

  &__img {
    height: 200px;
    background-image: url(/images/bo-audio-appliances.png);
    background-position: center;
    background-size: cover;

    @include onTablet {
      height: 400px;
    }

    @include onDesktop {
      height: 460px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding-block: 48px;
    @include contentPaddingInline;
    background-color: #fcfaef;

    @include onTablet {
      grid-template-columns: 1fr 1fr;
      padding-block: 120px;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__title {
    @include onDesktop {
      grid-column: 1/7;
    }
  }

  &__description {
    margin-top: 0;

    @include onDesktop {
      grid-column: -6/-1;
    }
  }
}
