.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 48px;
  }

  &--align--left {
    text-align: left;
  }

  &__small {
    font-size: 12px;
    font-weight: 700;
    line-height: 16.8px;
    color: $third-text-color;

    &--align--left {
      text-align: left;
    }
  }
}
