.section-move-free {
  margin-left: 20px;
  padding-top: 60px;
  align-items: start;
  color: $second-text-color;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include onTablet {
    padding-top: 120px;
    column-gap: 24px;
    grid-template-columns: repeat(6, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
  }
}

.section-move-free__description {
  font-size: 23px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: $second-text-color;
  grid-column: 1 / 2;

  @include onTablet {
    grid-column: 4 / -1;
  }

  @include onDesktop {
    grid-column: 6 / 12;
  }
}

.article-title {
  margin-bottom: 48px;
  font-family: inherit;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;

  @include onTablet {
    font-size: 48px;
  }

  @include onDesktop {
    // margin-bottom: 56px;
    font-size: 64px;
    font-weight: 500;
  }

  &--align-left {
    color: $second-text-color;
    text-align: left;
    grid-column: 1 / -1;
    gap: 24px;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 5;
    }
  }
}
