.contact {
  padding-top: 80px;
  padding-bottom: 102px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 48px;

  @include on-tablet {
    flex-direction: row;
    gap: 24px;
  }

  @include on-desktop {
    gap: 198px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__connection {
    font-size: 14px;
    margin: 0;
  }

  &__content {
    font-weight: 500;
    margin: 0;
  }

  &__phone,
  &__email,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
