.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: left;
  letter-spacing: 0;
  color: $main-text-color;
  white-space: nowrap;

  @include on-tablet {
    margin-bottom: 56px;
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 48px;
  }
}
