.explore-online {
  @include on-tablet {
    @include page-grid;
  }
}

.explore {
  @include on-tablet {
    grid-column: 2 / 6;
  }

  &--position-start {
    @include on-desktop {
      grid-column: 1 / 5;
    }
  }

  &--position-center {
    @include on-desktop {
      grid-column: 5 / 9;
    }
  }

  &--position-end {
    @include on-desktop {
      grid-column: 9 / 13;
    }
  }

  &__photos {
    margin-top: 48px;

    @include page-grid;

    &--margin-top-40 {
      margin-top: 40px;

      @include on-tablet {
        margin-top: 48px;
      }
    }
  }

  &__link {
    grid-column: 1 / -1;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include hover(transform, scale(1.05));
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    color: $red-color;
    margin-top: 24px;
    text-align: center;
  }

  &__description {
    font-family: Roboto, sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }
}
