@import '../variable';

.section-title {
  color: $main-text-color;
  text-align: center;
  margin: 0;
  margin-bottom: 48px;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  line-height: 32px;
  letter-spacing: -1.5px;

  &--about-us {
    margin-bottom: 32px;
  }

  @include on-tablet {
    font-size: $title-font-size-tablet;
    line-height: 100%;
  }

  @include on-desktop {
    font-size: $title-font-size-desktop;
  }

  &--details {
    @include on-tablet {
      margin-bottom: 64px;
    }

    @include on-desktop {
      margin-bottom: 48px;
    }
  }

  &--compare-bikes {
    @include on-desktop {
      margin-bottom: 56px;
    }
  }
}

