.section {
  font-family: $font-family;

  &__title {
    margin-top: 0;
    margin-bottom: 48px;

    font-size: 32px;
    font-weight: $font-poppins-medium;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }

    @include on-desktop {
      font-size: 64px;
      line-height: 64px;
    }

    &--left-sm-margin {
      text-align: left;
    }
  }

  &__article-title {
    margin: 0;
    padding-bottom: 8px;

    font-size: 24px;
    font-weight: $font-poppins-bold;
    line-height: 33.6px;
  }

  &__article-description {
    margin: 0;

    font-size: 16px;
    font-weight: $font-poppins-regular;
    line-height: 22.4px;
    text-align: left;
  }
}
