.section-title {
  text-align: center;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  @include line-height-and-letter-spacing;
  @include on-tablet {
    font-size: 48px;
  }

  &--align--left {
    text-align: left;
  }
}

.red-subtitle {
  margin: 0;
  font-weight: 700;
  color: $red-color;

  &--align--left {
    text-align: left;
  }
}
