.section-name {
  text-align: center;

  font-weight: 700;
  color: $color-dark;

  &__subtitle {
    font-size: 12px;
    line-height: 140%;
    color: $actent-red;
  }

  &__title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;

    @include onDesctop {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &____text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }

  &--align--left {
    text-align: left;
  }
}
