.section-title {
  color: #161616;
  letter-spacing: -1.5px;
  align-items: center;
  margin: 100px 0 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;

  @media (min-width: 744px) {
    margin-top: 140px;
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 48px;
  }

  &--small {
    color: #d12d35;
    letter-spacing: normal;
    font-size: 12px;
    line-height: 16.8px;
  }
}
