.main {
  display: flex;
  flex-direction: column;
  @include constentPaddingInline;
}

.section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 100px;
  @include sectionFont;

  @include onTablet {
    margin-top: 140px;
  }

  @media (min-width: 1400px) {
    width: 1160px;
    margin-inline: auto;
  }

  &__title {
    margin-inline: auto;
    text-align: center;
    width: 280px;

    @include onTablet {
      width: 392px;
    }

    @include onLaptop {
      width: 498px;
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--aboutUs {
      gap: 24px;
    }

    @media (min-width: 1300px) {
      gap: 0;
      justify-content: space-between;
    }

    &--gallery {
      flex-direction: column;
    }

    &--explore-online {
      flex-direction: column;
      margin-inline: auto;

      @include onLaptop {
        flex-direction: row;
        margin-inline: 0;
        justify-content: space-between;
      }
    }

    &--contacts {
      gap: 24px;

      @include onLaptop {
        margin-inline: 0;
        justify-content: space-between;
      }
    }
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;

    &--gallery {
      flex-direction: column;
    }

    &--one,
    &--three {
      gap: 20px;
    }

    &--two {
      gap: 8px;
    }

    &--one,
    &--three,
    &--two {
      flex-direction: row;
      margin-bottom: 24px;
      justify-content: space-between;
    }

    &--four,
    &--five,
    &--six {
      flex-direction: column;
      text-align: center;
      width: 280px;

      @media (min-width: 576px) {
        width: 392px;
      }

      @include onLaptop {
        width: 324px;
      }
    }

    &--contacts {
      flex-wrap: wrap;
      gap: 24px;
      width: 280px;

      @media (min-width: 1000px) {
        width: 498px;
      }
    }
  }

  &__link--5 {
    @media (min-width: 640px) {
      display: none;
    }

    @include onLaptop {
      display: contents;
    }
  }

  &__picture,
  &__picture--5 {
    display: inline-block;
    overflow: hidden;
  }

  &__picture img,
  &__picture--5 img {
    display: block;
    transition: 1s;
  }

  &__picture img:hover,
  &__picture--5 img:hover {
    @include modeHover;
  }
}
