.segment {
  &__title {
    font-weight: 700;
    color: #d12d35;

    &--now-on-view {
      font-size: 16px;
      line-height: 27px;
    }

    &--explore-online {
      margin: 32px 0 4px;
      font-size: 24px;
      line-height: 33.6px;
      text-align: center;
    }
  }

  &__text {
    &--explore-online {
      margin: 0;

      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      text-align: center;
    }
  }
}
