.selection-title {
  display: flex;
  margin: 0;
  margin-bottom: 48px;
  grid-column: 1 / -1;
  height: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;

  // figma
  font-family: $main-font-family;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;

  @include on-tablet {
    font-size: 48px;
    margin-bottom: 48px;
    height: 48px;
  }

  @include on-desktop {
    font-size: 64px;
    height: 64px;
  }

  &--align--left {
    text-align: left;
  }

  &--min-with-ondesctop {
    // figma
    font-family: $main-font-family;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 0;
  }
}
