.separator {
  width: 100vw;
  background-image: url('../images/Image_site_separator.png');
  background-size: cover;
  background-position: center;

  height: 200px;
  margin-bottom: 48px;

  @include on-tablet {
    height: 400px;
    margin-bottom: 56px;
  }

  @include on-desktop {
    height: 460px;
  }
}
