.menu {
  height: 100vh;
  box-sizing: border-box;
  background: #C2C2C2;
  @include setDefaultPadding;

  &__icons {
    display: flex;
    height: fit-content;
    margin: auto 0;
    gap: 24px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    text-decoration: none;
    color: $sidemenuLinksColor;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    width: fit-content;
    cursor: default;

    &::after {
      content: "";
      display: block;
      margin-top: 8px;
      height: 1px;
      width: 0;
      background: $sidemenuLinksColor;
    }

    &:hover {
      &::after{
        width: 100%;
      }
    }
  }
}
