.menu{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  box-sizing: border-box;
  height: 100vh;
  background-color: $bg-aside-color;

  text-transform: uppercase;

  pointer-events: none;
  opacity: 0;

  &:target{
    pointer-events: all;
    opacity: 1;
  }

  &__content{
    padding-top: 32px;

    @include content-padding-inline;


    @include on-tablet{
    padding-top: 56px;

    }

    & .list{
      margin: 0;
      padding: 0;
      list-style: none;

      display: flex;
      flex-direction: column;
      gap: 32px;
      font-size: 22px;
      margin-bottom: 48px;

      &__item{

        & a{
        color: inherit;
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
        }
      }
    }

    & .tel-number{
      color: inherit;
      text-decoration: none;
      display: block;

      margin-bottom: 16px;
      font-size: 16px;
      line-height: 22.4px;
    }

    & .call-to-order{
      color: inherit;
      text-decoration: none;
      display: block;
      width: fit-content;

      padding-bottom: 4px;
      border-bottom: 1px solid $main-dark-font-color;

      font-size: 16px;
      line-height: 22.4px;
      letter-spacing: 2px;
    }

  }
}




