.sound {

  &__grid {
    @include pageGrid;
  }

  &__item {
    margin-bottom: 40px;

    @include onTablet {
      margin-bottom: 56px;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin-bottom: 16px;

    @include onTablet {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 24px;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
    transition: transform 0.3s;

    &-wrapper {
      position: relative;
      width: 100%;
      height: 130px;
      grid-column: span 1;

      @include onTablet {
        height: 184px;
        grid-column: span 3;
      }

      @include onDesktop {
        height: 324px;
        grid-column: span 6;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    font-size: 18px;
    line-height: 140%;
    cursor: pointer;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;

    background: #f98921;
    border-radius: 8px;
    color: #fff;

    grid-column: span 2;

    @include onTablet {
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }
}
