.sound-vision {
  &__products {
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  &__title {
    color: $main-color;
    font-size: 18px;
    line-height: 140%;
  }
}

.speaker__photo {
  width: 100%;
  background:lightgray 50% / cover no-repeat, $images-bg-color;
  border-radius: 4px;
  margin-top: 40px;
}
