.sound-vision {
  &__products {
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  &__title {
    margin-bottom: 0;
    color: $main-color;
    font-size: 18px;
    line-height: 140%;

    &--smarthome {
      margin-bottom: 40px;

      @media (min-width: 744px) {
        margin-bottom: 56px;
      }
    }
  }
}

.speaker__photo {
  width: 100%;
  background:lightgray 50% / cover no-repeat, $images-bg-color;
  border-radius: 4px;
  margin-top: 40px;
  transition: transform 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }
}
