.sound-vision {
  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
    margin: 0 0 16px;

    @include onTablet {
      gap: 24px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    min-width: 130px;
    min-height: 130px;
    object-fit: cover;
    object-position: center;

    @include hover(transform, scale(1.05));
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__btn {
    @include onDesktop {
      width: 30%;
    }
  }
}
