.store {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__img-box {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @include on744 {
      gap: 24px;
    }
  }

  &__img {
    display: block;

    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;

    @include on744 {
      flex-shrink: 2;
    }

    &--wide {
      flex-shrink: 1;
      aspect-ratio: 2/1;
    }
  }

  &__link {
    @include title-font;

    display: block;

    transition: color $transition-time;

    width: fit-content;
    margin-top: 16px;

    color: $color__main-text-color;
    font-size: 18px;

    @include on744 {
      font-size: 24px;
    }

    &:hover {
      color: #aaa;
    }
  }
}
