.section-title {
  box-sizing: content-box;
  margin: 0;
  margin-bottom: 48px;

  font-weight: 500;
  font-size: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  text-transform: capitalize;

  @include on-tablet {
    font-size: 48px;
    line-height: 100%;
  }

  @include on-desktop {
    font-size: 64px;
  }

  &--align-left {
    text-align: left;
  }

  &--contacts {
    row-gap: 80;
  }
}
