.contact-form {
  display: grid;
  width: 100%;
  gap: 16px;
}

.contact__input {
  display: grid;
  gap: 16px;

  &__area {
    box-sizing: border-box;
    border: 1px solid $form-border-color;
    border-radius: $border-radius-form;
    width: 100%;
    height: 48px;
    padding: 16px 14px;

    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;

    color: $form-font-text-color;

    &--message {
      height: 148px;
      border-radius: 16px;
      resize: none;
      text-transform: none;
      overflow: hidden;

      &::placeholder {
        text-transform: capitalize;
        color: $form-font-placeholder-color;
      }
    }

    &:hover {
      border: 1px solid $form-hover-border-color;
    }

    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid $form-focus-border-color;
    }
  }
}
