.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url(/src/images/Icons/Icon-Burger-menu.png);
  background-size: cover;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(/src/images/Icons/Icon-Phone-call.png);
  }

  &--menu {
    background-image: url(/src/images/Icons/Icon-Burger-menu.png);
  }

  &--close {
    background-image: url(/src/images/Icons/Icon-Close.png);
  }
}
