.page {
  font-size: $font-size-base;
  color: $main-text-color;
  font-family: $space-grotesk-font;

  scroll-behavior: smooth;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateX(+100%);
    transition: all 0.5s;
    overflow: auto;

    &__top {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #e5e5e5;
    }

    &:target {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
    }
  }
  &__non-contant--image {
    margin-block: 6rem 3rem;

    @include on-tablet {
      margin-block: 7.5rem 3.5rem;
    }
  }
}

.main-container {
  max-width: 1320px;
  display: flex;
  justify-content: center;
}
