.contact-us {
  padding-bottom: 60px;

  @include on-tablet {
    padding-bottom: 0;
  }

  @include on-desktop {
    padding-bottom: 62px;
    padding-top: 36px;
  }
}

.contact {
  @include page-grid;

  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  row-gap: 48px;

  &__form {
    box-sizing: border-box;
    display: grid;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }

    width: 100%;
    gap: 16px;

    grid-column: 1 / -1;
  }

  &__input {
    display: grid;
    gap: 16px;
  }

  &__area {
    box-sizing: border-box;
    border: 1px solid $form-border-color;
    border-radius: $border-radius-form;
    width: 100%;
    height: 48px;
    padding: 16px 14px;

    font-family: Popins, sans-serif;
    line-height: 20px;
    font-weight: 400;

    color: $form-font-text-color;

    &--message {
      height: 148px;
      border-radius: 16px;
      resize: none;
      text-transform: none;
      overflow: hidden;
    }

    &::placeholder {
      text-transform: capitalize;
      color: $form-font-placeholder-color;
    }

    &:hover {
      border: 1px solid $form-hover-border-color;
    }

    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid $form-focus-border-color;
    }
  }

  &__contact-block {
    box-sizing: border-box;
    display: grid;
    row-gap: 24px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 8 / -1;
    }
  }

  &__text {
    margin: 0 0 8px;
    line-height: 140%;
    letter-spacing: 0;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;

    text-decoration: none;
    outline: none;
    color: $font-color;
    cursor: $cursor-pointer;

    &:hover {
      color: $contact-link-color;
    }
  }
}
