.submit-message {
  &__input {
    @include input-box;

    height: 48px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.15px;
  }

  &__textarea {
    @include input-box;

    height: 148px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.15px;
  }

  &__button {
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 80px;
    }

    @include on-desktop {
      margin-bottom: 0;
    }
  }
}
