@media (min-width: 321px) and (max-width: 744px) {

  .top--bar {
    padding: 30px 60px;
  }

  .header__center__link {
    display: block;
    margin-top: 50px;
    padding: 0;
    font-size: 64px;
    line-height: 64px;
  }

  .about-us {
    justify-content: center;
    gap: 24px;
    margin-left: 72px;
    margin-right: 72px;
    line-height: 0;
  }

  .about-us__hours {
    margin-top: 32px;
  }

  .gallery__pictures__block-1-1 {
    width: 392px;
    height: 186px;
  }

  .gallery__pictures__block-1-2 {

    height: 186px;
  }

  .gallery__pictures__block-2 {

    height: 284px;
  }

  .gallery__pictures__block-2-3 {
    display: none;
  }

  .explore-online__pictures {
    display: block;

  }

  .explore-online__picture__block-3 {
    height: 387px;
  }

  .explore-online__pictures__description {
    margin: 4px auto 48px;
  }

  .contacts {
    gap: 75px;
    margin: 48px 72px;
  }

  .contacts__container {
    display: block;
  }

  .contacts__container > .contacts__container__block:last-of-type {
    margin-top: 48px;
  }

  .contacts__form-input {
    width: 288px;
  }

  .contacts__form-field-button {
    width: 288px;
  }

  .menu__content {
    padding: 72px;
  }

  .menu__nav {
    padding-bottom: 32px;
  }
  
  .top--bar__hover-phone {
    display: none;
  }
}
