
.phone-icon {
  position: relative;
}

.phone-popup {
  position: absolute;
  top: -180%;
  right: 100%;
  width: 300px;
  text-align: right;
  padding: 16px;
  color: $secondTextColor;
  visibility: hidden;
  opacity: 0;
  transition: visibility $effectDuration, opacity $effectDuration;
}

.phone-icon:hover .phone-popup {
  @include onTablet {
    visibility: visible;
    opacity: 1;
  }
}
