.text-input {
  height: 148px;
  margin-bottom: 32px;

  border-radius: 16px;
  background-color: $background;

  &:hover {
    border: 1px solid $hover-border-color;
  }

  &:focus {
    border: 1px solid $input-text-color;
  }

  &::placeholder {
    color: $input-text-color;
  }

  &__message {
    margin: 16px 14px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #7e7e83;

    background-color: $background;
    border: none;
    outline: none;

    resize: none;
  }
}
