.textarea {
  height: 148px;
  padding: 14px 16px;

  border-radius: 16px;

  line-height: 20px;


  color: $form-text;
  background-color: $form;

  font-family: Poppins, sans-serif;
  font-size: 14px;

  resize: none;
  outline: none;
  border: none;
}
