.textarea {
  @include input;
  grid-column: span 2;
  height: 120px;
  transition: $trasition-duration;

  &:hover::placeholder {
    color: $color-main;
  }

  &:focus {
    border: 2px solid $color-btn;
  }
}
