.base {
  height: 80px;
  background-repeat: no-repeat;
  margin-top: 428px;
  color: $color-white;
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 700;

  @include phone {
    min-width: 50px;
    font-size: 48px;
  }

  &:hover {
    cursor: pointer;
  }
}

.text {
  margin-right: 24px;
  display: flex;
  font-size: 64px;
  width: 411px;
  height: 64px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: $color-white;
  margin-top: 120px;

  @include phone {
    width: 152px;
    font-style: 32px;
  }
}

.text2 {
  margin-top: 120px;
  display: flex;
  color: $color-white;
  width: 498px;
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: 500;

  @include phone {
    width: 279px;
    font-style: 23px;
  }
}

.text3 {
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-top: 164px;
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: $color-white;

  @include phone {
    min-width: 280px;
  }
}

.text4 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: $color-white;
  text-align: center;
  margin-top: 180px;
}

.description1 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $color-white;
}

.description2 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $color-white;
}

.description3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $color-white;
}

.container {
  align-content: center;
  justify-content: center;
  display: flex;
  margin: 0;

  @include phone {
    display: grid;
    min-width: 280px;
  }
}

.details {
  margin-top: 180px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: $color-white;

  @include phone {
    min-width: 280px;
    font-size: 42px;
  }
}
