.text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;

  &--bold {
    font-weight: 700;
  }

  &--title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &--color {
    &-orange {
      color: $main-color;
    }
  }

  &--category-title {
    font-size: 16px;
    line-height: 27px;
  }

  &--small {
    font-size: 12px;
    line-height: 140%;
  }

  &--very-small-onMobile {
    font-size: 9px;
    line-height: 15px;

    @include onTablet {
      font-size: 14px;
      line-height: 140%;
    }

    @include onDesktop {
      font-size: 16px;
      line-height: 27px;
    }
  }

  &--medium {
    font-size: 14px;
  }

  &--secondary-title {
    font-size: 24px;
    line-height: 30px;
  }

  &--button {
    color: $button-text-color;
    text-align: center;
    font-family: "Cinzel", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
  }

  &--additional {
    font-family: "Roboto", sans-serif;
  }
}
