.textarea {
  padding: 14px 16px;
  box-sizing: border-box;
  border-radius: 16px;
  outline: none;
  resize: none;

  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  &::placeholder {
    font-family: $font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $color-input-light;

    transition: color $transition-duration;
  }

  &:hover::placeholder {
    color: $color-input-dark;
  }
}
