.text-link {
  position: relative;

  color: inherit;
  text-decoration: inherit;

  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;

    width: 0;
    height: 2px;
    border-radius: 1px;

    background-color: $main-text-color;

    transition: width $effect-duration $effect-function;
  }

  &:hover::after {
    width: 100%;
  }
}
