.text-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: $main-font-color;

  @include onTablet {
    font-size: 64px;
  }

  @include onDesktop {
    font-size: 80px;
  }
}

.text-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: $main-font-color;

  @include onTablet {
    font-size: 48px;
  }

  @include onDesktop {
    font-size: 64px;
  }

  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--capitalize {
    text-transform: capitalize;
  }
}

.text-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0;
  color: $main-font-color;
}

.text-normal {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  color: $main-font-color;

  &--emphasis {
    font-weight: 500;
    font-size: 23px;
  }

  &--link {
    text-decoration: none;

    &:hover {
      color: beige;
    }
  }
}

.text-subnormal {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0;
  color: $main-font-color;
}
