.textarea {
  padding: 14px 16px;
  border-radius: 16px;
  resize: none;

  color: #292929;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;

  outline: none;

  border: 1px solid #d5d7de;
}
