.the-details {
  &__title {
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 64px;
    }

    @include on-desktop {
      margin-bottom: 48px;
    }
  }

  &__content {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }
  }

  &__button-wrapper {
    @include page-grid;
  }

  &__button {
    @include column('1 / -1', '2 / span 4', '5 / span 4');
  }
}
