.the-details {
  @include contentPaddingInline;
  margin-bottom: 80px;

  @include onTablet {
    margin-bottom: 120px;
  }

  @include onDesktop {
    margin-bottom: 180px;
  }

  &__title {
    text-align: center;

    margin: 0;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 48px;
    }
  }

  &__wrapper {
    display: grid;
    @include columns;
    row-gap: 40px;

    @include onTablet {
      row-gap: 48px;
    }
  }

  &__primary-button {
    grid-column: 1 / -1;
    text-decoration: none;
    color: $main-color--dark;
    text-align: center;
    background-color: $main-color--light;
    padding: 15px 0;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    transition: all $effectDuration;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: 5 / -5;
    }

    &:hover {
      box-shadow: 1px 4px 16px $hover-shadow;
      transform: scale(105%);
    }

    &:active {
      box-shadow: 1px 4px 16px $active-shadow;
    }
  }
}
