.third-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  column-gap: 20px;

  &__picture {
    width: 100%;

    @include hover(transform, scale(1.2));
  }

  @include onTablet {
    grid-template-columns: 184px 392px;
    column-gap: 24px;
  }

  @include onDesktop {
    grid-template-columns: 324px 672px;
  }
}
