.three-objects {
  &__photos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  column-gap: 8px;

    @include on-tablet {
      column-gap: 24px;
    }
  }

 &__link {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;

    &--hidden {
      @include on-tablet {
        display: none;
      }

      @include on-desktop {
        display: flex;
      }
    }

    &--square {
      height: auto;
      padding-bottom: 100%;
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    font-weight: $bold-font;
    color: $red-color;
  }
}

a {
  display: flex;
}
