.timeless {
  position: relative;
  background-image: url(../images/timeless-bg-mobile.png);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: cover;
  background-position: center;

  @include onTablet {
    background-image: url(../images/timeless-bg-tablet.png);
    min-height: 400px;
  }

  @include onDesktop {
    background-image: url(../images/timeless-bg-desktop.png);
    min-height: 460px;
  }

  &__content {
    position: absolute;
    top: 200px;
    left: 0;
    padding: 48px 20px;

    @include pageGrid;
    background: #fcfaee;

    @include onTablet {
      padding: 120px 73px;
      top: 400px;
    }

    @include onDesktop {
      padding: 120px;
      top: 460px;
    }

    &__description {
      font-size: 16px;
      font-weight: 350;
      letter-spacing: 0.15px;
      grid-column: span 2;

      @include onTablet {
        grid-column: span 3;
      }

      @include onDesktop {
        grid-column: span 5;
      }
    }
  }
}
