.timeless {
  display: flex;
  flex-direction: column;
  background-color: #fcfaef;

  &__image {
    display: block;
    object-fit: cover;
    object-position: center;
    
    width: 100%;
    height: 40vw;
    min-height: 200px;
    max-height: 460px;
    margin-bottom: 8px;
  }

  &__content {
    @include contentPaddingInline();
    padding-block: 48px;

    @include onTablet {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 24px;
      padding-block: 56px;
    }

    @include onDesktop {
      column-gap: 110px;
    }
  }

  &__title {
    @extend %title;
    margin: 0 0 24px;
  }

  &__text {
    letter-spacing: $letter-spacing;
    margin: 0;
  }
}
