@import '../utils/mixins';

.timeless {
  margin-top: 96px;
  position: relative;
  background-color: #fcfaef;

  &-image {
    width: 100%;
    max-height: 460px;
    object-fit: cover;
    object-position: 21% 79%;
  }
  &__content {
    @include page-grid;

    padding: 48px 0;
    margin-top: 48px;
    &-title {
      grid-column: 1 / -1;
      font-weight: 700;
      font-size: 32px;

      @include on-tablet {
        font-size: 40px;
        line-height: 100%;
        grid-column: span 3;
      }

      @include on-desktop {
        grid-column: span 6;
      }
    }

    &-text {
      grid-column: 1 / -1;
      line-height: 140%;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.15px;

      @include on-tablet {
        font-size: 18px;
        grid-column: span 3;
      }

      @include on-desktop {
        grid-column: span 6;
      }
    }
  }
}
