.title {
  font-weight: 500;
  font-size: clamp-calc($min-break-point, $pc, 32px, 64px);
  text-transform: capitalize;
  line-height: 1;
  letter-spacing: -0.02em;

  @include mobile-small {
    letter-spacing: -0.05em;
  }

  &--center {
    text-align: center;
  }

  &--small {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: initial;
    line-height: 1.4;
  }

}