.title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1em;
  text-align: left;
  margin: 0;

  @include onTablet {
    font-size: 40px;
  }

  @include onDesktop {
    font-size: 48px;
  }

  &--header {
    font-size: 36px;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 56px;
    }
  }
}
