.title-section {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
  margin: 0;

  @include onTablet {
    font-size: 48px;
    line-height: 48px;
  }
}
