.title {
  font-size: 32px;
  line-height: 100%;
  font-style: normal;
  margin: 0;
  color: $title-font-main-color;

  &--header {
    font-size: 36px;
    color: $title-header-font-main-color;
  }

  &--about {
    margin-top: 48px;
    margin-bottom: 24px;
  }

  &--footer {
    margin-bottom: 48px;
  }

  @media all and (min-width: 576px) {
    &--header {
      font-size: 48px;
    }

    &--recommended,
    &--multimedia,
    &--about,
    &--footer {
      margin: 56px 0 8px;
      font-size: 40px;
      line-height: 100%;
    }

    &--about {
      margin: 0;
      margin-right: 24px;
      width: fit-content;
    }

    &--footer {
      margin-bottom: 48px;
    }
  }

  @media all and (min-width: 1260px) {
    .title--recommended,
    .title--multimedia,
    .title--about,
    .title--footer {
      font-size: 48px;
      line-height: 100%;
    }

    .title--header {
      font-size: 56px;
    }

    .title--about {
      margin-right: 112px;
    }

    .title--footer {
      margin-bottom: 56px;
    }
  }
}
