.title {
  font-family: "Space Grotesk", monospace, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}

@media (min-width: 744px) {
  .title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (min-width: 1260px) {
  .title {
    font-size: 48px;
    line-height: 48px;
  }
}
