.title {
  margin: 0;
  font-family: "Cinzel";
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;

  @include onTablet {
    font-size: 48px;
    line-height: 48px;
  }

  &--left {
    text-align: left;
  }

  &--header {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    color: #fff;

    @include onTablet {
      font-size: 64px;
      line-height: 64px;
    }

    @include onDesktop {
      font-size: 80px;
      line-height: 80px;
    }
  }
}
