.top-bar {
  padding-block: 25px;

  @include content-padding-inline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: calc(129px + 25px);

  @include on-tablet {
    padding-block: 50px;
    margin-bottom: calc(129px - 50px);
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 59px;
    }

    @include on-desktop {
      gap: 55px;
    }
  }

  &__logo {
    display: flex;
    width: 64px;
    height: 46px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 87px;
      height: 65px;
    }
  }
}
