.to-connect{
  @include pageGrid;
  grid-column: 1/-1;
  @include onDesktop{
    grid-column: 7/-1;
  }
  &__input{
    &--small{
      margin-bottom: 8px;
      color: rgba(147, 147, 163, 1);
      font-size: 14px;
    }
    &--text{
      color: rgba(25, 25, 25, 1);
      font-family: 'Space Mono', sans-serif;
    }
  }

}
