.tooltip {
  display: flex;
  align-items: center;

  &__content {
    display: none;

    @include on-laptop {
      font-family: $inter;
      font-size: 12px;
      font-weight: 700;
      display: block;
      letter-spacing: 2px;
      margin-right: 8px;
      @include hide-show (hidden, 0);
      transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
  }

  &:hover .tooltip__content {
    @include hide-show (visible, 1);
  }
}
