.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }


  &__number {
    position: absolute;
    right: 150%;
    top: 25%;
    transition:
    opacity 0.3s,
    transform 0.3s;
    pointer-events: none;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #fff;
    white-space: nowrap;
    opacity: 0;
  }

   @include on-desktop {
    &__call--container {
      position: relative;
      display: inline-block;
    }
    &__call--container:hover .top-bar__number {
      opacity: 1;
    }
  }


  &__logo {
    display: flex;
    padding: 0;
    margin: 0;
    width: 130px;
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 187px;
      height: 56px;
    }

    &__image {
      display: block;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    &-menu {
      display: flex;
      padding: 0;
      margin: 0;
      width: 130px;
      height: 38px;
      @include hover(transform, scale(1.2));

      &__image {
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }

      @include on-desktop {
        width: 187px;
        height: 56px;
      }
    }
  }
}
