.top-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;

  &--menu {
    margin-bottom: 40px;
  }

  &__logo {
    width: 64px;
    height: 46px;

    img {
      width: 100%;
    }
  }

  a {
    display: block;
  }

  &__wrapper {
    position: relative;
    display: flex;
    gap: 24px;
  }

  &__contacts {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 190px;
    top: -40px;
    left: 0;
    transform: translateX(-100%);
    transition: opacity .3s;

    &:last-child {
      top: 20px;
      width: 190px;
    }
  }

  &__the-met-adress {
    @include default-link-style;

    line-height: 27px;
    white-space: nowrap;
  }

  &__contacts-phone {
    @include default-link-style;

    line-height: 27px;
  }

  @include on-tablet {
    &__logo {
      width: 87px;
      height: 65px;
    }

    &__wrapper {
      gap: 55px;
    }
  }

  @include on-desktop {
    &--menu {
      margin-bottom: 55px;
    }

    &__phone:hover .top-actions__contacts {
      visibility: visible;
      opacity: 1;
      transition: opacity .3s;
    }  
  }
}