.top-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;

  &--menu {
    margin-bottom: 40px;
  }

  &__logo {
    width: 64px;
    height: 46px;

    img {
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    gap: 24px;
  }

  a {
    display: block;
  }

  @include on-tablet {
    &__logo {
      width: 87px;
      height: 65px;
    }

    &__wrapper {
      gap: 55px;
    }
  }

  @include on-desktop {
    &--menu {
      margin-bottom: 55px;
    }
  }
}