.top-bar {
  padding: 24px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.top-bar__logo {
  display: flex;
  align-items: center;
}

.menu-top {
  margin-bottom: 24px;
}
