/*#region top-bar*/
.top-bar {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-min-width) {
    padding: 36px 72px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;
    @include hover(transform, scale(1.2));

    @media (min-width: $tablet-min-width) {
      height: 56px;
    }
  }
}
/*#endregion*/
