.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: block;
    width: 64px;
    height: 46px;

    @include responsive(tablet) {
      width: 64px;
      height: 46px;
    }

    @include responsive(desktop) {
      width: 87px;
      height: 65px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__actions {
    display: flex;
    column-gap: 30px;

    @include responsive(tablet) {
      column-gap: 59px;
    }
  }

  &__locations {
    opacity: 0;
    position: absolute;
    top: 14;
    right: 255px;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
    }
  }
}
