.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include content-padding-inline;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 56px;
    }
  }

  &__phone-number {
    display: none;
    position: absolute;
    top: 50%;
    right: 110%;
    transform: translateY(-50%);
    color: #fff;
    padding: 6px 10px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 100;
  }

  &__phone-wrapper {
    position: relative;
    display: inline-block;

    &:hover .top-bar__phone-number {
      display: block;
    }
  }
}
