.top-bar {
  padding-block: 24px;
  display: flex;
  align-items:center;
  justify-content: space-between;


  &__icons {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__icon {
    height: 24px;
    width: 24px;

    @include on-tablet {
      height: 32px;
      width: 32px;
    }

    &-call {
      position: relative; /* Добавляем позиционирование, чтобы ::before относился к этому элементу */
      transition: all 0.4s;

      &::before {
        content: "1 234 5555-55-55"; /* Добавляем текст */
        color: #fff;
        letter-spacing: 2px;
        opacity: 0;
        z-index: -1;
        width: max-content;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        transition: opacity 0.3s;
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translate(-100%, -50%);
      }

      &:hover::before {
        opacity: 1; /* Делаем псевдоэлемент видимым при наведении */
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    &-burger {
      transition: transform 0.4s;

      &:hover {
        transform: scale(1.3);
        content: url(/src/image/Icon-Burger-menu-hover\ \(1\).png);
      }
    }

    &-close {
      transition: all 0.4s;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
