.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 130px;
  max-width: 400px;
  margin: 0 auto;

  @include tablet {
    padding: 50px 72px 160px;
    max-width: 650px;
  }

  @include desktop {
    padding: 66px 120px 100px;
    max-width: 1050px;
  }

  &__logo {
    display: block;
    flex-grow: 1;
    width: 64px;
    height: 46px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image: url(./pictures/metIcon_320.svg);
    fill: $whiteColor;
    @include pictureHover;
    
    @include tablet {
      width: 87px;
      height: 65px;
      background-image: url(./pictures/metIcon.svg);
    }
  }

  &__iconPhone {
    display: block;
    width: 24px;
    height: 24px;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./pictures/icon-Phone-call.svg);
    fill: $whiteColor;
    margin-right: 24px;

    @include tablet {
      width: 32px;
      height: 32px;
      margin-right: 55px;
    }

    @include desktop {
      &::before {
        display: block;
        width: 250px;
        height: 58px;
        content: "The Met Fifth Avenue +1 212-535-7710";
        position: relative;
        bottom: 120%;
        right: 275px;
        padding: 0 15px;

        font-family: Cinzel, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 27px;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 2px;
        color: $whiteColor;
        margin-bottom: 8px;

        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
      }

      &:hover::before {
        opacity: 1;
        pointer-events: all;
      }

      &::after {
        display: block;
        width: 210px;
        height: 58px;
        content: "The Met Cloisters +1 212-923-3700";
        position: relative;
        bottom: 120%;
        right: 235px;
        padding: 0 15px;

        font-family: Cinzel, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 27px;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 2px;
        color: $whiteColor;
        margin-bottom: 8px;

        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
      }

      &:hover::after {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__iconMenu {
    display: block;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./pictures/icon-burger-menu.svg);
    fill: $whiteColor;

    &:hover {
      background-image: url(./pictures/icon-burger-menu-hover.svg);
    }

    @include tablet {
      width: 32px;
      height: 32px;
    }
  }
}
