.top-bar {
  /* stylelint-disable-next-line shorthand-property-no-redundant-values */
  padding: 24px 20px 88px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar__logo {
  display: flex;
}


