.top-bar{
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 32px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }


  &__logo {
    display: flex;
    width: 125px;
    height: 16px;
    transition: transform .3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
