.top-bar {
  @include displayFlex(row, space-between);
  align-items: center;
  padding: 24px 20px;

  @include onTablet {
    padding: 36px 72px;
  }

  @include onLaptop {
    padding: 36px 120px;
  }

  &__icons {
    height: min-content;
    @include displayFlex(row, space-between);
    gap: 24px;
  }

  &__logo {
    display: block;
    height: 38px;
    width: 130px;
    background-image: url(../images/header_logo.svg);
    background-size: cover;

    @include hover(transform, scale(1.2));

    &--dark {
      background-image: url(../images/header_logo_dark.svg);
    }

    @include onTablet {
      height: 56px;
      width: 187px;
    }

    @include onLaptop {
      width: 187px;
      height: 56px;
    }
  }
}
