.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;

  @include onTablet {
    padding: 36px 72px;
  }

  &__icons {
    height: min-content;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &__logo {
    display: block;
    height: 38px;
    width: 130px;
    background-image: url(../images/header_logo.svg);
    background-size: cover;

    &--dark {
      background-image: url(../images/header_logo_dark.svg);
    }

    @include onTablet {
      height: 56px;
      width: 187px;
    }
  }
}
