/* #region topbar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  &__icon {
    position: relative;
    display: flex;
    gap: 24px;
  }

  &__logo {
    display: flex;
    transition-duration: 0.5s;

    &:hover {
      scale: 1.2;
    }
  }
}

/* #endregion */
