.top-bar {
  padding-block: 25px;

  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  display: flex;

  @include onTablet {
    padding-block: 50px;
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include onTablet {
      gap: 55px;
    }
  }
  &__logo {
    vertical-align: top;
    width: 64px;
    height: auto;

    @include hover(transform, scale(1.2));

    @include onTablet {
      width: 87px;
    }
  }
}
