.topbar {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding: 29px 0;
  align-items: center;

  @include onTablet {
    padding: 34px 0;
  }

  @include onDesktop {
    padding: 36px 0;
  }
}
