.topic {
  text-align: center;

  &__photo {
    display: block;
    width: 100%;

    @include hover(transform, scale(1.05));
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 4px;

    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    color: $main-color-red;
    letter-spacing: 0;

    @include on-tablet {
      margin-top: 32px;
    }

    @include on-desktop {
      margin-top: 32px;
    }
  }

  &__description {
    margin: 0;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
  }
}
