.tour {
  &__photo {
    margin-bottom: 16px;
    width: 100%;

    @include on-tablet {
      margin-bottom: 32px;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0;
    color: $main-accent;
    text-align: center;
  }

  &__description {
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
  }
}
