.title {
    &--xl {
        font-size: clamp(36px, 8.5vw, 80px);
        line-height: clamp(36px, 8.5vw, 80px);
        font-weight: 600;
        letter-spacing: -1.5px;
    }

    &--lg {
        font-size: clamp(32px, 6vw, 64px);
        line-height: clamp(32px, 6vw, 64px);
        font-weight: 600;
        letter-spacing: -1.5px;
    }

    &--md {
        font-size: 24px;
        line-height: 33.6px;
        font-weight: 600;
    }

    &--sm {
        font-size: 14px;
        line-height: 19.6px;
        font-weight: 400;
    }
}

.text--lg {
    font-size: 23px;
    line-height: 32.2px;
    font-weight: 400;
}
