@for $i from 1 through 6 {
  h#{$i} {
    color: $color-dark;
    margin: 0;
    font-family: $font-family-primary;
  }
}

button {
  width: 100%;
  padding: 14.5px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  background-color: $color-dark;
  color: $color-white;
  font-family: $font-family-primary;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background-color: #f0f1f4;
    color: $color-dark;
  }
  &:active {
    background-color: $color-black;
    color: $color-white;
  }
}

input {
  font-family: $font-family-secondary;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}
