.typography {
  font-family: $manrope;
  font-size: 16px;
  color: $main-color;
  line-height: 140%;

  &__title {
    font-size: $accent-small-size;
    line-height: 100%;
    font-weight: 700;

    @include on-tablet {
      font-size: $accent-middle-size;
    }

    @include on-laptop {
      font-size: $accent-large-size;
    }
  }

  &__subtitle {
    font-size: $middle-size;
    font-weight: 700;

    &--large {
      @include on-tablet {
        font-size: $large-size;
      }
    }

    &--uppercase {
      text-transform: uppercase;
    }
  }

  &--bold {
    font-weight: 700;
  }

  &--middle {
    color: $middle-color;
  }

  &--small {
    color: $light-color;
    font-size: $small-size;
  }
}
