.us {
  @include page-grid;

  &__title {
    font-size: 40px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__text {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__paragraph {
    font-family: "Space Mono", sans-serif;

  }
}
