$color-orange: #f98921;
$color-dark-blue: #1b2129;
$color-black: #010810;
$color-light-cream: #fcfaef;
$color-outline: #dbdbdb;
$color-white: #fff;
$color-gray: #9393a3;
$text-link-color: #191919;
$placehoolder-text-color: #7e7e83;
$placehoolder-bg-color: #f9f9f9;
$menu-bg-color: #f9f9f9;
