$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$text-color: #292929;
$menu-color: #e5e6e8;
$background: #fff;
$area-color: #f8f8fa;
$info-color: #9393a3;
$data-color: #191919;
$hover-color: #000;
