$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$hover-button-color: #1b2129;
$active-button-color: #010810;
$orange-color: #f98921;
$main-form-color: #f9f9f9;
$hover-form-color: #dbdbdb;
$address-color: #9393a3;
$link-color: #191919;
