$main-black-color: #1b2129;
$accent-orange-color: #f98921;
$bg-items-color-white: #f9f9f9;
$main-bg-color: #fff;
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$animation-delay: 0.3s;
$scale-size: 1.2;
