$main-text-color: #FFF;
$main-color: #1D1D1D;
$background-color-menu: #C2C2C2;
$background-color-item: #F8F8FA;
$effect-duration: 0.3s;
$size-icon-mb: 24px;
$size-icon-tab: 32px;
$height-bottom: 56px;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
