$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$font-family: Manrope, sans-serif;
$second-family: Inter, sans-serif;
$third-family: Roboto, sans-serif;
$main-color: #1b2129;
$background-color: #f9f9f9;
$white-color: #fff;
$contacts-color: #191919;
$placeholder-color: #7e7e83;
$fieldname-color: #9393a3;
$button-color: #f98921;
$active-color: #010810;
$hover-color: #dbdbdb;
$imagePath: '../images/cursor.png';
