.secont-title {
  @include page-grid;

  &__text {
    color: $title-text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    grid-column: span 2;

    :not(:last-child) {
      margin-bottom: 48px;
    }

    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: 5/-5;
    }
  }
}

.view {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &__photos {
    @include page-grid;

    margin-bottom: 48px;
    &--second {
      display: flex;
      justify-content: space-between;
    }
  }

  &__link {
    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
    &--unhiden {
      @include on-tablet {
        grid-column: span 3;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
    &--hiden {
      @include on-tablet {
        display: none;
      }

      @include on-desktop {
        display: block;
        grid-column: span 4;
      }
    }
  }
  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__text {
    &--red {
      color: $announcement__title_color;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      padding: 0;
      margin: 0;
    }
    &--black {
      color: $title-text-color;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      padding: 0;
      margin: 0;
    }
  }
}
