.view {

  &__title {
    margin-bottom: 8px;
  }

  &__sub-title {
    display: inline-block;
    margin-bottom: 48px;
    max-width: 250px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background-color: $accent;
    width: 280px;
    height: 56px;
  }
}

.event {
  margin: 0 auto;
  max-width: 1020px;
  text-align: left;

  &__images {
    display: flex;
    margin-bottom: 24px;
  }

  &__img {
    width: 130px;
    height: 130px;

    &--hide {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

    @media (min-width: 744px) {
      width: 184px;
      height: 186px;

      &--big {
        width: 392px;
      }

      &--hide {
        display: block;
      }
    }

    @media (min-width: 1260px) {
      width: 324px;
      height: 320px;

      &--big {
        width: 672px;
      }
    }
  }

  &__title {
    text-decoration: none;
    font-weight: 700;
    color: $accent;
  }

  &__date {
    margin: 0;
  }
}
