.view {
  &__content {
    padding-top: 100px;

    @include onTablet {
      padding-top: 140px;
    }
  }

  &__top {
    text-align: center;
  }

  &__title-text {
    margin: 0 auto;
    @extend %p;
    font-weight: 400;
    margin-top: 8px;

    @include onTablet {
      max-width: 392px;
    }

    @include onDesctop {
      max-width: 325px;
    }
  }

  &__text {
    @extend %p;
    font-weight: 400;
  }

  &__card {
    margin-top: 48px;
  }

  &__images {
    display: flex;
    justify-content: center;
    gap: 20px;

    @include onTablet {
      gap: 24px;
    }
  }

  &__images-small {
    display: flex;
    gap: 8px;

    @include onTablet {
      gap: 24px;
    }
  }

  &__image-none {
    @include onTablet {
      display: none;
    }

    @include onDesctop {
      display: block;
    }
  }

  &__subtitle {
    margin-top: 24px;
    @extend %h4;
  }

  &__button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
}
