.vinyl {
  &__wrapper {
    width: auto;
    height: 35vh;

    @include onTablet {
      height: 45vh;
    }

    @include onPC {
      height: 65vh;
    }
  }
  &__image {
    width: 100vw;
    height: 35vh;

    position: absolute;
    left: 0;
    right: 0;

    object-position: center center;
    object-fit: cover;

    @include onTablet {
      height: 45vh;
    }

    @include onPC {
      height: 65vh;
    }
  }
}
