textarea::-webkit-scrollbar {
  width: 10px;

}

textarea::-webkit-scrollbar-track {
  background: #f8f8fa;
  border-radius: 16px;
}

textarea::-webkit-scrollbar-thumb {
  background: $light;
  border-radius: 16px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 9999s ease-in-out 0s;
}
