@import "../utils/variables";

.welcome {
  position: relative;
  height: 100vh;
  width: 100%;
  min-width: $min-width;
  background-image: url('../assets/images/img-welcome.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: $text-color-light;

  &__title {
    position: relative;
    top: 30%;
    margin: 0 auto;
    width: 6em;
    font-size: clamp(2rem, 10vw, 6rem);
    text-align: center;
    letter-spacing: -.1rem;
  }
}
