.why-to-buy {
  background-color: #fcfaef;
  margin-bottom: 64px;
  padding-bottom: 48px;

  @include onTablet {
    padding-bottom: 120px;
    margin-bottom: 120px;
    //padding-top: 120px; //image change

  }

  @include pageGrid;

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    padding-inline: 20px;

    @include onTablet {
      grid-column: 1 / 4;

      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 0;
      padding-inline-start: 72px;
      padding-inline-end: 24px;
    }

    @include onDesktop {
      grid-column: span 5;
      padding-inline-start: 120px;
      padding-inline-end: 0;
      font-size: 48px;
      line-height: 48px;

    }
  }

  &__decsription {
    grid-column: 1 / -1;
    margin: 0;
    line-height: 140%;
    font-size: 16px;
    padding-inline: 20px;

    @include onTablet {
      grid-column: 4 / -1;
      font-size: 16px;
      line-height: 140%;
      padding-inline-start: 0;
      padding-inline-end: 72px;
    }

    @include onDesktop {
      grid-column: span 6;
      padding-inline-start: 120px;
      padding-inline-end: 0;

      letter-spacing: 0.15px;

    }

  }

  &__img {
    background-image: url(../images/why-to-buy-img.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 280px;
    grid-column: 1 / -1;
    margin-bottom: 48px;

    @include onTablet {
      height: 500px;
      margin-bottom: 120px;
      background-size: cover;

    }

    @include onDesktop {
      height: 460px;
      object-fit: cover;

    }
  }
}
