.wisdom {
  
  &__pictureBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
    
    &--leftPicture {
      width: 31.4%;
      height: 87px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(./pictures/wisdom_1.jpg);

      @include tablet {
        width: 48%;
        height: 284px;
      }

      @include desktop {
        width: 324px;
        height: 320px;
      }
    }
    
    &--centerPicture {
      width: 31.4%;
      height: 87px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(./pictures/wisdom_2.jpg);

      @include tablet {
        display: none;
      }

      @include desktop {
        display: block;
        width: 324px;
        height: 320px;
      }
    }
    
    &--rightPicture {
      width: 31.4%;
      height: 87px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(./pictures/wisdom_3.jpg);

      @include tablet {
        width: 48%;
        height: 284px;
      }

      @include desktop {
        width: 324px;
        height: 320px;
      }
    }
  }
}
