.work-hours {
  display: grid;
  column-gap: 24px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);

    & > div {
      @include sizeTwoItems(3);
    }
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);

    & > div {
      @include sizeTwoItems(6);
    }
  }

  &__title {
    text-align: left;
    margin-top: 0;
  }

  &__branch {
    margin-bottom: 24px;
  }

  &__schedule {
    display: flex;
    gap: 25px;
    font-size: 16px;
    line-height: 27px;
  }

  &__hours-work {
    font-weight: 700;
  }

  &__closed-on {
    margin-top: 16px;
    font-weight: 700;
  }

  &__closed-on-days {
    font-weight: 400;
  }
}
