.workTimeBlock {
  &__title {
    margin-bottom: 16px;
  }

  &__schedule {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;

    &--workDay {
      color: $blackColor;
      font-family: Cinzel, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 168.75%;
    }
  }

  &__text {
    color: $blackColor;
    font-family: Cinzel, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 168.75%;
  }
}

time {
  display: inline-block;
  width: 96px;
  color: $blackColor;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  margin-right: 25px;
}

mark {
  display: inline-block;
  width: 121px;
  color: $blackColor;
  background-color: $whiteColor;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  margin-right: 24px;
}
