.working-hours {
  &__place {
    margin: 24px 0 0;

    &:first-child {
      margin-top: 32px;
    }
  }

  &__timetable {
    list-style: none;
    padding: 0;
    margin-block: 16px;
    display: flex;
    gap: 24px;
  }
  &__time {
    font-weight: bold;
  }

  &__closed-on {
    &::before {
      content: "Closed on";
      display: block;
      font-weight: bold;
    }
  }
}
