.work-schedule {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 16px;

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    text-align: left;
  }

  &__schedule {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px 24px;
  }

  &__closed:not(:last-child) {
    margin-bottom: 8px;
  }

  &__item:nth-child(odd) {
    font-weight: 700;
  }
}
