.world-bo {
  background: #fcfaef;

  &__background {
    background-image: url(../images/world-bo/world-bo-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;

    @include onTable {
      height: 400px;
    }

    @include onDesktop {
      height: 460px;
    }
  }

  &__content {
    @include pageGrid;
  }

  &__title {
    padding-bottom: 0;

    grid-column: span 2;

    @include onTable {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__description {
    letter-spacing: 0.15px;

    grid-column: span 2;

    @include onTable {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }
}
