.world-of-bo {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include onTablet {
    display: grid;
    row-gap: 110px;
    grid-template-columns: repeat(6, 1fr);
  }

  @include onDesktop {
    display: grid;
    row-gap: 110px;
    grid-template-columns: repeat(12, 1fr);
  }

  &-text {
    color: #1b2129;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.15px;

    @include onTablet {
      grid-column: 4 / -1;
    }

    @include onDesktop {
      grid-column: 8 / -1;
    }
  }

  @include onTablet {
    flex-direction: row;
    gap: 24px;
  }

  @include onDesktop {
    flex-direction: row;
  }
}
