.world__of__bo {
  @include pageGrid;

  &__photo {
    height: 200px;
    background-image: url(../images/world__of__bo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    grid-column: 1 / -1;

    @include onTablet {
      height: 400px;
    }

    @include onDesktop {
      height: 460px;
    }
  }

  &__content {
    @include contentPaddingInline;
    display: grid;
    gap: 24px;

    padding-block: 48px;

    align-items: start;
    background-color: #fcfaef;
    grid-column: 1 / -1;

    @include onTablet {
      padding-block: 120px;
    }
  }

  &__title {
    color: $main-text-color;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__text {
    color: $main-text-color;
    letter-spacing: 0.15px;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 8 / 13;
    }
  }
}
