.world-bo {
  background-color: #fcfaef;

  &__photo {
    width: 100vw;
    object-fit: cover;

    @include onTablet {
      height: 400px;
    }

    @include onDesktop {
      height: 460px;
    }
  }

  &__content {
    margin: 0;
    padding-block: 48px;
    @include contentPadingInline;
    @include pageGrid;
  }

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__description {
    font-weight: 400;
    letter-spacing: 0.15px;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 8 / 13;
    }
  }
}
