.wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1260px;

  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesktop {
    padding-inline: 120px;
  }
}

