.wrapper {
  &__image {
    display: inline-block;
    margin-bottom: 24px;
  }
  &__title {
    color: $color-accent;
    font-size: 16px;
    line-height: 27px;
  }
  &__text {
    margin-bottom: 48px;
  }

}
