.wrapper {
  max-width: 1260px;
  padding-left: 6%;
  padding-right: 6%;
  margin: auto;

  @include responsive(tablet) {
    padding-left: 72px;
    padding-right: 72px;
  }

  @include responsive(desktop) {
    padding-left: 120px;
    padding-right: 120px;
  }
}
