.contact-us {
  &__content {
    @include content-padding-inline;
    @include page-grid;
  }

  &__title {
    grid-column: 1 / -1;
  }
}

.contact-form {
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: 1 / 6;
  }

  &__input {
    width: 100%;
    border-radius: 8px;
    border: 1px #f8f8fa solid;
    background: #f8f8fa;
    padding: 14px 16px;
    font-family: "Space Mono", sans-serif;
    font-size: 14px;
    line-height: 140%;
    box-sizing: border-box;

    ::placeholder {
      color: #7e7e83;
    }

    &:focus {
      outline: none;
      border: 1px solid $main-text-color;
    }

    &--small {
      height: 48px;
      margin: 0 0 16px;
    }

    &--big {
      height: 120px;
      margin: 0 0 32px;
    }
  }

  &__button {
    width: 100%;
  }
}

.contact-inform {
  grid-column: 1 / -1;
  margin-top: 48px;
  font-family: "Space Mono", sans-serif;

  @include on-tablet {
    margin-top: 80px;
  }

  @include on-desktop {
    grid-column: 7 / 12;
    margin: 0;
  }

  &__item {
    margin: 0 0 24px;
  }
  &__link {
    text-decoration: none;
    color: #191919;
    font-size: 16px;
    line-height: 140%;

    @include text-hover-effect;
  }

  &__title {
    margin: 0 0 8px;
    font-size: 14px;
    color: $liht-text-color;
    font-weight: 400;
    line-height: 140%;
  }
}
