.section-2 {
  width: 100dvw;
  height: 100dvh;
  display: grid;
}
@media screen and (min-device-width: 1259px) {
  .section-2 {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
  .section-2 .museum-hours {
    font-weight: bold;
    grid-column: 2/6;
    margin-top: 18dvh;
  }
  .section-2 .museum-hours .museum-hours__phrase {
    color: #D12D35;
    font-size: 12px;
  }
  .section-2 .museum-hours .museum-hours__title {
    font-size: 48px;
  }
  .section-2 .table-container {
    display: flex;
    flex-direction: column;
    margin-top: 18dvh;
    margin-left: 5dvw;
    gap: 2dvw;
    grid-column: 6/13;
  }
  .section-2 .table-container .table-hours {
    height: -moz-fit-content;
    height: fit-content;
  }
  .section-2 .table-container .table-hours .museum__title {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  .section-2 .table-container .table-hours .museum__table {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
  }
  .section-2 .table-container .table-hours .museum__table .table__item .hours {
    font-weight: bolder;
    font-size: 16px;
    margin-right: 1rem;
  }
}
@media screen and (min-device-width: 744px) and (max-device-width: 1258.99px) {
  .section-2 {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    height: 85dvh;
  }
  .section-2 .museum-hours {
    font-weight: bold;
    grid-column: 2/2;
    margin-top: 18dvh;
  }
  .section-2 .museum-hours .museum-hours__phrase {
    color: #D12D35;
    font-size: 12px;
  }
  .section-2 .museum-hours .museum-hours__title {
    font-size: 48px;
  }
  .section-2 .table-container {
    display: flex;
    flex-direction: column;
    margin-top: 18dvh;
    margin-left: 3.75dvw;
    gap: 2dvw;
    grid-column: 3/6;
  }
  .section-2 .table-container .table-hours {
    height: -moz-fit-content;
    height: fit-content;
  }
  .section-2 .table-container .table-hours .museum__title {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  .section-2 .table-container .table-hours .museum__table {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
  }
  .section-2 .table-container .table-hours .museum__table .table__item .hours {
    font-weight: bolder;
    font-size: 16px;
    margin-right: 1rem;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 743.99px) {
  .section-2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    height: 85dvh;
    grid-auto-flow: row;
    grid-auto-rows: 0.5fr 2fr;
  }
  .section-2 > * {
    margin-left: 30px;
    margin-right: 30px;
  }
  .section-2 .museum-hours {
    font-weight: bold;
    margin-top: 10dvh;
  }
  .section-2 .museum-hours .museum-hours__phrase {
    color: #D12D35;
    font-size: 12px;
  }
  .section-2 .museum-hours .museum-hours__title {
    font-size: 36px;
  }
  .section-2 .table-container {
    display: flex;
    flex-direction: column;
    gap: 2dvw;
    grid-column: 1/2;
  }
  .section-2 .table-container .table-hours {
    height: -moz-fit-content;
    height: fit-content;
  }
  .section-2 .table-container .table-hours .museum__title {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  .section-2 .table-container .table-hours .museum__table {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
  }
  .section-2 .table-container .table-hours .museum__table .table__item .hours {
    font-weight: bolder;
    font-size: 16px;
    margin-right: 1rem;
  }
}/*# sourceMappingURL=section-2.css.map */