/* #region header */
.header {
  block-size: border-box;
  height: 100vh;
  background-image: url(images/mobile_background_photo.png);
  background-size: cover;
  background-position: right;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  margin: 0;
}

.header__bottom {
  padding: 0 20px 40px;
}

/* #endregion */
