// COLORS
$accent-main: #D12D35;
$accent-hover: #AE1C23;
$accent-pressed: #EB343D;
$dark-main: #161616;
$white: #ffff;


// TRANSITION
$mobile-min-width: 320px;
$table-min-width: 744px;
$desctop-min-width: 1260px;
