@import "./variables";
@import "./mixins";

.top-bar {
  padding: 36px 120px;

  @include onLaptop {
    padding: 36px 72px;
  }

  @include onMobile {
    padding: 29px 20px;
  }

  &__logo {
    display: flex;

    @include onMobile {
      height: 36px;
    }
  }
}
