@import "./variables";
@import "./mixins";

.mb--32 {
  margin-bottom: 32px;
}

.mb--48 {
  margin-bottom: 48px;
}

.px-default {
  padding-left: 120px;
  padding-right: 120px;

  @include onLaptop {
    padding-left: 72px;
    padding-right: 72px;
  }

  @include onMobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.top-bar {
  padding: 36px 120px;

  @include onLaptop {
    padding: 36px 72px;
  }

  @include onMobile {
    padding: 29px 20px;
  }

  &__logo {
    display: flex;

    @include onMobile {
      height: 36px;
    }
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}
