@mixin font($size, $height, $weight: 400, $letter: normal, $style: normal) {
  font-size: $size;
  line-height: $height;
  letter-spacing: $letter;
  font-weight: $weight;
  font-style: $style;
}

@mixin border($size, $color, $raduis: none) {
  border: $size solid $color;
  border-radius: $raduis;
}

@mixin link-line($height, $bgc) {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: $height;
  background-color: $bgc;
  margin-top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin page-grid($columns, $gap) {
  display: grid;
  column-gap: $gap;

  grid-template-columns: repeat($columns, 1fr);
}
