// #region page

$tablet_min_width: 744px;
$desktop_min_width: 1260px;
$page_grid_colunm_count: 2;

// #endregion page
// #region header

$header_title_color: #fff;

// #endregion header
// #region menu

$menu_bg_color: #f9f9f9;
$menu_color: #1b2129;

// #endregion menu
// #region main

$main_bg_color: #f9f9f9;
$main_color: #1b2129;
$about-us_bg_color: #fcfaef;
$contact-us_info_title_color: #9393a3;

// #endregion main
// #region button and forms

$form_item_bg_color: #f9f9f9;
$form_item_color: #7e7e83;
$form_item_hover_border_color: #dbdbdb;
$form_item_target_border_color: #f98921;
$button_dg_color: #f98921;
$button_hover_dg_color: #1b2129;
$button_focus_dg_color: #010810;
$button_color: #fff;

// #endregion menu
