.about-us {
  margin-top: 96px;

  @include on-tablet {
    margin-top: 120px;
  }

  background-color: $about-us-background-color;

  &__background {
    height: 200px;
    background-image: url(../images/section3-mobile.jpg);
    background-position: center;
    background-size: cover;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
      background-image: url(../images/section3-desktop.png);
    }
  }

  &__text-box {
    @include page-grid;

    row-gap: 24px;
    padding: 48px 0;

    @include on-tablet {
      padding: 120px 0;
    }
  }

  &__title {
    grid-column: 1 / -1;
    margin: 0;
    text-align: left;

    @include text-styles(
      $font-size: 32px,
      $font-weight: 700,
      $line-height: 100%,
      $letter-spacing: 0
    );

    @include on-tablet {
      grid-column: 1 / 4;
      font-size: 40px;
    }

    @include on-desktop {
      grid-column: 1 / 7;
      font-size: 48px;
    }
  }

  &__text {
    grid-column: 1 / -1;
    margin: 0;

    @include text-styles;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 8 / -1;
    }
  }
}
