.contact-us {
  padding: 0 20px 84px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;

  @include onTablet {
    padding: 0 72px 156px;
  }

  @include onDeskTop {
    padding: 0 120px 150px;
  }

  &__content-wrapper {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 48px;

    @include onTablet {
      flex-direction: row;
      align-items: normal;
    }

  }

  &__subsections {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;

    @include onDeskTop {
      flex-direction: row;
    }
  }

  &__title {
    text-align: center;
  }
}
