.subsection {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__h3 {
    @include sub-section-text;
  }

  &__contact-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  }

  &__phone-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
  }

  &__address-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
  }

  &__h4 {
    margin: 0;
    line-height: 27px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
  }

  &__number {
    @include sub-section-text;

    @include hover (transform, scale(1.1));

    font-weight: 700;
    text-decoration: none;
  }

  &__link {
    @include sub-section-text;

    @include hover (transform, scale(1.1));

    font-weight: 700;
    margin: 0;
    text-decoration: none;
  }
}
