.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 180px;
  background-image: url(/src/images/footer-bg.png);
  background-position: top;

  @include on-tablet {
    height: 360px;
  }

  @include on-desktop {
    height: 360px;
  }
}
