.move-free{
  padding-top: 60px;
  @include on-tablet{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    column-gap: 24px;
  }
  @include on-desktop{
    grid-template-columns: repeat(12 , 1fr);
    column-gap: 24px;
  }
  &__title{
    @include section-title-mobile;
    text-align: left;
    margin-bottom:32px;
    @include on-tablet{
      grid-column: 1/4;
      @include section-title-tablet;
      margin: 0;
    }
    @include on-desktop{
      grid-column: 1/6;
      @include section-title-desktop;
      margin: 0;
    }
  }

  &__text{
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;
    @include on-tablet {
      grid-column: 4/7;
      font-weight: 500;
      font-size: 23px;
      line-height: 32.2px;
    }
    @include on-desktop{
      grid-column: 6/12;
      font-weight: 500;
      font-size: 23px;
      line-height: 32.2px;
    }
  }
}
