.header {
  box-sizing: border-box;
  color: $mainColor;

  @include content-padding;

  height: 100vh;
  background-repeat: no-repeat;
  background-image: url('../images/main-back.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__logo{
    width: 125px;
    object-position: center;
   object-fit: cover;
   align-items: center;
  height: min-content;

    transition: transform 0.3s;
    &:hover{
      transform: scale(1.1);
    }

  @include on-tablet {
  width: 172px;
  }
  }

  &__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  &__logo__link{
    display: flex;
  }
}

.icon{
  display: block;
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: cover;

  transition: transform 0.3s;
  &:hover{
    transform: scale(1.1);
  }

  @include on-tablet {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

&--phone{
  background-image: url('../images/Icon-Phone-call.svg');
  }
&--close{
    background-image: url('../images/Icon-Close.svg');
    }
  &--menu{
    background-image: url('../images/Icon-Burger-menu.svg');
    &:hover{
      background-image: url('../images/Icon-Burger-menu-hover.svg');
    }
    }
}


