html,
body,
div,
section,
article,
header,
footer,
main,
nav,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
table,
tr,
td,
th,
form,
label,
input,
textarea,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;

  @include link-styles;
}

h1 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}
