* {
  box-sizing: border-box;

  &::selection {
    background-color: #3f2844;
    color: #fff;
  }
}

body,
section,
h1,
h2,
h3,
p,
textarea {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

address {
  font-style: normal;
}

dt,
dl,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

input,
textarea {
  outline: none;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color:inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
