.header {
  background-image: url(../img/Cover_photo.png);
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 88px;

    @include on-tablet {
      padding-bottom: 130px;
    }

    @include onDesktop {
      padding-bottom: 203px;
    }
  }

  &__title {
    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }

    text-align: center;
    line-height: 100%;
  }
}
