.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;

 @include on-tablet {
    padding: 36px 72px;
  }

  @include onDesktop {
    padding-inline: 120px;  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 24px;
  }

  &__logo {
    width: 138px;
    height: 38px;
  }
}

.icons__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 24px;
}
