$min-width-tablet: 744px;
$min-width-desktop: 1260px;
$effect-duration: .3s;


$font-bold: 700;
$font-thin: 400;
$font-color-main: #1B2129;
$font-color-header-title: #FFFFFF;
$font-color-form: #7E7E83;
$font-color-contacts-title: #9393A3;
$font-color-contacts: #191919;


$line-height-title: 100%;

$font-size-header-title-mobile: 36px;
$font-size-header-title-tablet: 48px;
$font-size-header-title-desktop: 56px;
$font-size-section-title-mobile: 32px;
$font-size-section-title-tablet: 40px;
$font-size-section-title-desktop: 48px;
$font-size-product-name: 18px;
$font-size-description: 16px;
$font-size-form-name: 14px;
$font-size-menu-item: 22px;

$icon-size-mobile: 24px;
$icon-size-tablet-desktop: 32px;

$product-photo-size-tablet: 600px;
$product-photo-size-desktop: 324px;
