.header {
  background-image:url("../images/cover-photo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  &__top {
  width: 1280px;
  height: 128px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  &__logo-link {
    color: #fff;
    font-size: 60px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: -1.5px;
  }
  &__menu {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  &__phone-link {
    background-image: url('../images/phone.svg');
    background-repeat:no-repeat;
    background-size:cover;
    width: 32px;
    height: 32px;
    position: relative;
    transition: all .3s;
    &:hover {
      transform: scale(1.2);
      &::before {
        content: "+1 234 555-55-55";
        color: #fff;
        position: absolute;
        width: 150px;
        left: -180px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
      }
    }
  }
  &__burger-link {
    background-image: url('../images/burger.svg');
    background-repeat:no-repeat;
    background-size:cover;
    width: 32px;
    height: 32px;
    transition: transform .3s;
    &:hover {
      background-image: url('../images/burger-hover.svg');
      background-size:cover;
      transition: all 0.3s;
      transform: scale(1.6);
    }
  }
  &__caption {
    font-size: 80px;
    font-weight: 700px;
    letter-spacing: -1.5px;
}
  &__bottom{
    margin: 0 auto;
    height:100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
