.container__button {
  @include page-grid;

  width: 100%;
}

.button__wrapper {
  position: relative;
}

.button__position {
  grid-column: span 2;
  height: 56px;
  border-radius: 40px;
  color: var($white-color);
  cursor: pointer;

  &:hover {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
  }

  &::after {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
  }

  @include on-tablet {
    grid-column: 2 / span 4;
  }

  @include on-desktop {
    grid-column: 5 / span 4;
  }
}

.button__content {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  color: var($black-color);
}
