.contacts {
  margin-bottom: 120px;

  @include on-tablet {
    margin-bottom: 102px;
  }

  @include on-desktop {
    margin-bottom: 164px;
  }

  &__wrapper {
    @include page-grid;

    row-gap: 48px;
  }
  &__form {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }

    &--input {
      box-sizing: border-box;
      margin-bottom: 16px;
      padding: 14px 16px;
      width: 100%;

      border: unset;
      border-radius: 40px;
      background-color: rgba(248, 248, 250, 1);
      font-family: inherit;
      font-size: 14px;
      line-height: 20px;
      color: rgba(126, 126, 131, 1);

      &:focus {
        outline: unset;
      }
    }

    &--textarea {
      margin-bottom: 32px;
      border-radius: 16px;
      resize: none;
      height: 148px;
    }

    &--button {
      display: block;

      width: 100%;
      padding-block: 14px;
      border-radius: 40px;
      cursor: pointer;

      background-color: rgba(255, 255, 255, 1);

      color: rgba(29, 29, 29, 1);

      text-decoration: none;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      text-align: center;

      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 0.7);

      &:hover {
        box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
      }

      &:focus {
        cursor: pointer;
        box-shadow: 1px 4px 16px 0 #e8e8f066;
      }

      @include on-tablet {
        grid-column: 2/-2;
      }

      @include on-desktop {
        grid-column: 5/-5;
      }
    }
  }

  &__address {
    grid-column: 1/-1;

    font-style: normal;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 8/-2;
    }
  }
}

.address {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    &--label {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 19.6px;
    }

    &--link {
      display: block;
      text-decoration: none;
      color: inherit;
      font-weight: 500;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 24px;
  }
}
