.header {
  background-image: url(./images/BG__photo.svg);
  background-size: cover;
  background-position: center;

  &__content {
    @include content-padding-inline;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;

    color: $white-color;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1.5px;
    text-align: center;

    @include on-tablet {
      font-size: 64px;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -1.5px;
      text-align: center;
    }

    @include on-desktop {
      font-size: 80px;
      font-weight: 700;
      line-height: 80px;
      letter-spacing: -1.5px;
      text-align: center;
    }
  }

  &__bottom {
    padding-bottom: 124px;
  }
}
