.main {
  display: grid;

  row-gap: 96px;
  padding-block: 96px;

  @include content-padding-inline;

  @include on-tablet {
    row-gap: 120px;
    padding-block: 120px;
  }

  background-color: $black-color;
  color: $white-color;
}

.main__title {
  margin: 0;
  margin-bottom: 48px;

  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;

  @include on-tablet {
    font-size: 40px;
    margin-bottom: 48px;
  }

  @include on-desktop {
    font-size: 64px;
    margin-bottom: 64px;
  }

  &--align--left {
    text-align: left;
  }
}
