.section-1
    width: 100dvw
    height: 100dvh
    display: flex
    justify-content: center
    background-image: url('../../../public/assets/section-1/bg.png')
    background-size: cover
    background-position: center top
    background-repeat: no-repeat

    &__content
        margin-top: 200px
        width: 498px
        color: white
        font: 
            size: 80px
            weight: 700