a {
  display: block;
  text-decoration: none;
  color: $text-color;

  &:hover {
    @include mouseHover;
  }
}

h1 {
  margin: 0;
}

h2 {
  display: inherit;
  margin: 0;
  color: $text-color;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

.text {
  color: $text-color;
  text-align: left;
  margin-top: 8px
}

.text--hovered {
  transition-duration: $transition-duration;

  &:hover {
    color: $text-color-hovered;
  }
}

.lowerthird {
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
  color: $text-color;
  margin-top: 16px;
}

.heading {
  margin-top: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  color: $text-color;
}

.button {
  height: 56px;
  border-radius: 40px;
  padding: 0 48px;
  background-color: $button-color;

  color: $primary-black-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;

  @include mouseHover;
  transition-duration: $transition-duration;

  &:hover {
    box-shadow: 1px 4px 16px 0 #E8E8F066;
  }

  &:active {
    box-shadow: 1px 4px 16px 0 #E8E8F0A3;
  }
}

input {
  padding: 0;
  box-sizing: border-box;
  border: 0;
  padding-block: 0;
  padding-inline: 0;
}

textarea {
  border: 0;
  transition-duration: $transition-duration;

  &:hover {
    color: #292929;
  }

  &:active {
    color: #292929;

  &:focus {
      color: #292929
    }
  }
}
