.header-margins {
  width: $page-content-width;
  margin-inline: $page-margin;
  margin-top: $header-margin-top;

  @include on-desktop {
    margin-inline: auto;
  }
}

.section {
  width: $page-content-width;
  margin-top: $section-margin-top;
  margin-inline: $page-margin;

  @include on-desktop {
    margin-inline: auto;
  }
}

.section-title {
  font-size: 48px;
  text-align: center;
  letter-spacing: -1.5px;

  @include on-mobile {
    font-size: 32px;
  }
}

.footer-margin {
  margin-top: 134px;
}

// SCROLL MARGINS
.hours,
.onview,
.more,
.contacts {
  &:target {
    scroll-margin-top: $section-margin-top;
  }
}
