.header-margins {
  @include page-margin-inline;

  @include on-mobile {
    margin-top: 25px;
  }

  margin-top: 50px;
}

.section-margins {
  @include page-margin-inline;

  @include on-mobile {
    margin-top: 100px;
  }

  margin-top: 140px;
}

.section-title {
  font-size: 48px;
  text-align: center;
  letter-spacing: -1.5px;

  @include on-mobile {
    font-size: 32px;
  }
}
