
body {
  max-width: 1260px;
  position: relative;
  padding-top: $header-margin-top;
  margin-inline: auto;
}

.header-margins {
  margin-inline: $page-margin;
}

.section-margins {
  margin-top: $section-margin-top;
  margin-inline: $page-margin;
}

.section-title {
  font-size: 48px;
  text-align: center;
  letter-spacing: -1.5px;

  @include on-mobile {
    font-size: 32px;
  }
}

// SCROLL MARGINS
.hours,
.onview,
.more,
.contacts {
  &:target {
    scroll-margin-top: $section-margin-top;
  }
}

