@mixin on-mobile {
  @media (max-width: 743px) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin centered-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin page-margin-inline {
  @include on-mobile {
    margin-inline: 20px;
  }

  @include on-tablet {
    margin-inline: 72px;
  }

  @include on-desktop {
    margin-inline: 120px;
  }
}
