// COLORs:
$white: #fff;
$red: #d12d35;
$black: #161616;

// MARGINS
:root {
  // mobile
  @media (max-width: 743px) {
    --page-margin: 20px;
    --header-margin-top: 25px;
    --section-margin-top: 100px;
  }

  // tablet
  @media (min-width: 744px) {
    --page-margin: 72px;
    --header-margin-top: 50px;
    --section-margin-top: 140px;
  }

  // desktop
  @media (min-width: 1260px) {
    --page-margin: 120px;
    --header-margin-top: 50px;
    --section-margin-top: 140px;
  }

  // --------------

  // CONTENT-WIDTH
  @media (max-width: 1499px) {
    --page-content-width: calc(100vw - (var(--page-margin) * 2));
  }

  @media (min-width: 1500px) {
    --page-content-width: calc(1500px - (var(--page-margin) * 2));
  }

  // --------------

  --phone-hover: 0;
}

$page-content-width: var(--page-content-width);
$page-margin: var(--page-margin);
$header-margin-top: var(--header-margin-top);
$section-margin-top: var(--section-margin-top);
