@use '../mixins.scss' as mixins;

.compare {
  &__bikes {
    @include mixins.page-grid;

    row-gap: 40px;

    @include mixins.on-tablet {
      font-size: 48px;
      line-height: 100%;
    }

    @include mixins.on-desktop {
      font-size: 64px;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
    }
  }

  &__bike {
    grid-column: 1 / -1;

    @include mixins.on-tablet {
      grid-column: 2 / -2;
    }

    @include mixins.on-desktop {
      grid-column: span 4;
    }
  }
}
