.header {

  background-image: url(./images/header-bg.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
  }

  &__title {
    margin: 0;
    padding-bottom: 40px;
    color: #fff;
    font-family: $mainFont;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    @media (min-width: 576px) {
      font-size: 48px;
      padding-bottom: 64px;
    }
  }
}
