.top-bar {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 24px;

    @media (min-width: 576px) {
      padding-block: 32px;
    }
  }

  &__logo {
    width: 152px;
    height: 16px;
    box-sizing: content-box;

    transition: $transition;

    &:hover {
      transform: scale(1.05);
    }

    @media (min-width: 576px) {
      width: 228px;
      height: 24px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;

    @media (min-width: 576px) {
      gap: 32px;
    }
  }

  &__link {
    height: 24px;
    width: 24px;
    display: block;
    background-repeat: no-repeat;

    transition: $transition;

    &:hover {
      transform: scale(1.2);
    }

    @media (min-width: 576px) {
      height: 32px;
      width: 32px;
    }
  }
}

.icon--phone {
  position: relative;
  transition: $transition;
  background-image: url(icons/Icon-Phone-call.svg);
}

.icon--phone:hover {
  transition: $transition;
  &::before {
    content: "+1 234 555-55-55";
    position: absolute;
    top: 5px;
    left: -150px;

    text-decoration: none;
    color: $mainTextColor;
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

}

.icon--menu {
  background-image: url(icons/Icon-Burger-menu.svg);
  &:hover {
    background-image: url(icons/Icon-Burger-menu-hover.svg);
  }
}
