$tablet-min-width: 576px;
$desktop-min-width: 1020px;

$effectDuration: 0.3s;

$main-text-color: #292929;
$color-contacts: #9fadc2;
$color-input-placeholder: #7e7e83;
$font-inter: "inter", serif;
$scale-value: 1.06;
$time-animation: 0.4s;
