$tablet-min-width: 744px;
$desktop-min-width: 1020px;
$form-min-width: 280px;

$effectDuration: 0.3s;

$main-text-color: #292929;
$color-contacts: #9fadc2;
$color-input-placeholder: #a7a7ab;
$font-inter: "inter", serif;
$scale-value: 1.06;
$time-animation: 0.4s;
