.navigation {
  @include text-cinzel($c-light-ink);

  font-size: 22px;
  font-weight: $fw-bold;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: left;

  &__list {
    @include column(32px);
  }

  &__link {
    @include text-cinzel($c-light-ink);
    @include animate-underline-on-hover;
  }
}
