/*#region about as*/
.about__container {
  display: block;

  @media (min-width: 576px) {
    display: flex;
    gap: 40px;
  }
}

.about__title {
  font-weight: 500px;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  white-space: nowrap;
  padding-bottom: 32px;

  @media (min-width: 576px) {
    // display: flex;
    font-size: 48px;
  }
}

.about__text {
  font-weight: 500;
  font-size: 23px;
  line-height: 33px;
}
/*#endregion*/
