.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include on-tablet {
    flex-direction: row;
  }

  &__title {
    display: block;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  &__paragraph {
    font-family: $font-space-mono;
    font-size: $main-font-size;
    line-height: 22.4px;

    @include on-tablet {
      max-width: 288px;
    }

    @include on-pc {
      max-width: 498px;
    }
  }
}
