.categories {
  &__products{
    margin-top: 0;
    margin-bottom: 96px;
    justify-content: center;
    gap: 24px;

    @media (min-width: 744px){
      display: block;
    }

    @media (min-width: 1260px) {
      display: flex;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 48px;

    text-align: center;
    font-weight: 500;
    letter-spacing: -1.5px;

    @media (min-width: 320px) {
      font-size: 32px;
    }

    @media (min-width: 744px) {
      font-size: 48px;
    }

    @media (min-width: 1260px) {
      font-size: 64px;
    }
  }

  &__product{
    flex-grow: 0.14;
    flex-basis: 324px;
    transition: all 500ms;
    border-radius: 10px;
    background-color: #1D1D1D;
    color: #FFF;
    text-decoration: none;
  }

  &__product--photo{
    width: 100%;
    margin-bottom: 32px;
    border-radius: 10px;
  }

  &__product--text{
    margin-left: 10px;
  }

  &__product:hover{
    transform: scale(1.1);
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.40);
    z-index: 1;
  }

  &__product--title{
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 8px;
  }

  &__product--price{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
  }
}
