.categories__products{
  margin-top: 0;
  margin-bottom: 96px;
  
  display: flex;
  justify-content: center;
  gap: 24px;
}

@media (max-width: 800px){
  .categories__products{
    flex-direction: column;
  }
}

.categories__title {
  margin-top: 0;
  margin-bottom: 48px;

  text-align: center;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1.5px;
}

.product__photo{
  width: 100%;
  margin-bottom: 32px;
}

.products{
  flex-grow: 0.14;
  flex-basis: 324px;
}

.product__title{
  margin-top: 0;

  font-size: 24px;
  margin-bottom: 8px;
}


.product__price{
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}
