@import '../mixins';

.compare-bike {
  margin: 92px 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 280px);
  row-gap: 48px;

  @include respond(tablet) {
    margin: 132px 0 120px;
    grid-template-columns: repeat(1, 392px);
    row-gap: 48px;
  }

  @include respond(desktop) {
    margin: 164px 0 144px;
    gap: 56px 24px;
    grid-template-columns: repeat(3, 324px);
  }

  &__card {
    &-img {
      @include size-img(280px, 228px);

      @include respond(tablet) {
        @include size-img(392px, 316px);
      }

      @include respond(desktop) {
        @include size-img(324px, 256px);
      }
    }

    &-about {
      margin-top: 320px;

      @include font-style(16px, 400, 1.4, rgba(255, 255, 255, 1));
    }

    &-price {
      margin-top: 8px;

      @include font-style(24px, 700, 1.4, rgba(255, 255, 255, 1));
    }

    &-name {
      margin-top: 32px;

      @include font-style(24px, 700, 1.4, rgba(255, 255, 255, 1));
    }
  }
}
