/*#region Compre Bike*/
.items__item {
  display: block;
  justify-content: center;

  @media (min-width: 600px) {
    display: flex;
  }

  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: repeat(1, 395px);
  }
}

.items {
  display: inline;

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-items: center;
  }
}

.items__title {
  display: flex;
  text-align: center;
  white-space: nowrap;
}

.items__title-title {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  padding-top: 92px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;

  @media (min-width: 576px) {
    font-size: 48px;
    line-height: 100%;
    // padding-top: 132px;
  }
}

.items__image {
  margin-top: 48px;
}

.items__label {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  padding-top: 32px;
}

.items__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding-top: 8px;
}

.items__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  padding-top: 16px;
}
/*#endregion*/
