.items {
  box-sizing: border-box;
  gap: 24px;
}

.items__item {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 320px);
}

.items__title {
  display: flex;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  grid-column: 1 / -1;
}

.items__title-title {
  margin-top: 92px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
}

.items__image {
  margin-top: 48px;
}

.items__label {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  padding-top: 32px;
}

.items__body {
  display: grid;
}

.items__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding-top: 8px;
}

.items__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  padding-top: 16px;
}

@media (min-width: 744px) {
  .items__title-title {
    margin-top: 132px;
    font-weight: 500;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -1.5px;
  }
}

@media (min-width: 1166px) {
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .items__item {
    grid-template-columns: 1fr;
  }

  .items__title {
    text-align: center;
  }
  .items__title-title {
    margin-top: 164px;
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
  }

  .items__image {
    margin-top: 56px;
  }

}
