.contact-us {
  &__wrapper {
    display: grid;
    row-gap: 48px;
    grid-template: "a a"
      "b b"
      "c c";

    @include onTablet {
      grid-template: "a c"
        "b c"
        "b .";
    }

    @include onDesktop {
      column-gap: 24px;
      grid-template: "a a a b b b . c c c c c" /
        1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

  }

  &__block-a {
    grid-area: a;
  }

  &__block-b {
    grid-area: b;
  }

  &__block-c {
    grid-area: c;
  }

  &__title {
    text-align: center;
    margin-bottom: 48px;
  }

  &__block-title {
    margin-bottom: 16px;
    color: $main-dark;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
  }

  &__wrapper-contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__block-text {
    color: $main-dark;
    font-size: 14px;
    line-height: 27px;
  }

  &__block-value {
    display: block;
    color: $main-dark;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-decoration: none;

    @include hover(color, $c-button-hover);
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__input {
    width: 100%;
    height: 48px;
    padding-inline: 16px;
    padding-block: 14px;
    font-family: Cinzel, sans-serif;
    line-height: 20px;
    background-color: #f8f8fa;
    color: #7e7e83;
    border: 1px solid transparent;

    @include hover(border-color, #d5d7de);

    &:focus {
      outline: none;
      border-color: $main-dark;
    }

    &--message {
      height: 144px;
      margin-bottom: 16px;
    }
  }
}
