/*#region contacts*/
.contacts {
  padding-top: 80px;
}

.contacts__container {
  display: block;
  justify-content: center;
  align-items: flex-start;

  @media (min-width: 744px) {
    flex-direction: column;
    align-items: center;
  }
}

.contacts__title {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  padding-bottom: 48px;
}

.contacts__input--name,
.contacts__input--email {
  width: 250px;
  height: 25px;
  border-radius: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #7e7e83;
  padding: 14px 16px;
}

.contacts__input--message {
  width: 250px;
  height: 148px;
  border-radius: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 14px 16px;
}

.contacts__button--submit {
  width: 290px;
  height: 56px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #1d1d1d;
}

.contacts__phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  padding-top: 48px;
}

.contacts__number {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding-top: 8px;
  color: #fff;
  text-decoration: none;
}

.contacts__email {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  padding-top: 24px;
}

.contacts__email--name {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding-top: 8px;
}

.contacts__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  padding-top: 24px;
}

.contacts__address--text {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  padding-top: 8px;
}
/*#endregion*/
