.contact__us {
  @include grid;
  justify-content: center;
  margin-top: 180px;

  @include onTablet {
    margin-top: 120px;
  }

  @include onMobile {
    margin-top: 80px;
  }

  &-head {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin-bottom: 48px;

    @include onTablet {
      font-size: 32px;
      font-weight: 500;
    }

    @include onMobile {
      font-size: 32px;
      font-weight: 500;
    }
  }

  &-contact {
    display: flex;
    flex-direction: column;
    grid-column: 8/10;
    gap: 24px;

    @include onTablet {
      grid-column: span 3;
    }

    @include onMobile {
      grid-column: span 2;
    }

    & p {
      font-size: 14px;
      line-height: 140%;
    }

    & a {
      color: hsl(0, 0%, 100%);
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;

      &:hover {
        color: aqua;
      }
    }
  }
}

.form {
  display: flex;
  grid-column: span 5;
  flex-direction: column;

  @include onTablet {
    grid-column: span 3;
  }

  @include onMobile {
    grid-column: span 2;
  }

  &--items {
    width: 411px;
    background: hsl(240, 17%, 98%);
    color: black;
    padding: 14px 16px;
    margin-bottom: 16px;
    display: flex;
    border-radius: 40px;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    box-sizing: border-box;

    &:hover {
      transition-property: box-shadow;
      transition-duration: 0.5s;
      box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
    }

    &:focus {
      border: groove;
    }

    &:active {
      box-shadow: 1px 4px 16px 0 hsl(276, 77%, 62%)
    }

    &::placeholder {
      font-size: 14px;
      color: hsl(240, 2%, 50%);
      line-height: 20px;
    }

    @include onTablet {
      width: 288px;
    }

    @include onMobile {
      width: 278px;
    }
  }

  &__message {
    border-radius: 16px;
    margin: 0;
  }

  &__button {
    height: 56px;
    padding: 0 48px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    background: hsl(0, 0%, 100%);
    margin: 32px 0 0;
  }
}
