/*#region Ditales*/
.details__item {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, avto);
  align-items: start;
}

.details__title {
  text-align: center;
  white-space: nowrap;
  padding-top: 92px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
}

.details__picture img {
  transition-duration: 1s;
}

.details__image {
  display: flex;
  justify-content: center;
}

.details__item:nth-child(1) .details__image {
  margin-top: 48px;
}

.details__item:not(:nth-child(1)) .details__image {
  margin-top: 40px;
}

.details__image--1 {
  margin-right: 20px;
}

.details__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin-top: 16px;
}

.details__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-top: 8px;
  margin-bottom: 40px;
}

.button__container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 280px);
}

.details__button {
  width: 278px;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition-duration: 1s;
}

@media (min-width: $tablet-min-width) {
  .details__item {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 600);
  }

  .details__title {
    padding-top: 120px;
    font-size: 48px;
    line-height: 100%;
  }

  .details__item:nth-child(1) .details__image {
    margin-top: 64px;
  }

  .details__item:not(:nth-child(1)) .details__image {
    margin-top: 48px;
  }

  .ditails__image {
    display: flex;
  }

  .button__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details__button {
    width: 392px;
    height: 56px;
  }

  .details__content {
    padding-bottom: 48px;
  }
}

@media (min-width: $desktop-min-width) {
  .details__item {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1, 1020px);
  }

  .details__title {
    padding-top: 144px;
    font-size: 64px;
  }

  .details__item:nth-child(1) .details__image {
    margin-top: 48px;
  }

  .details__item:not(:nth-child(1)) .details__image {
    margin-top: 48px;
  }

  .details__content {
    padding-bottom: 48px;
  }

  .details__button {
    width: 324px;
    height: 56px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .details__button:hover {
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
    transition-duration: 1s;
  }

  .details__button:active {
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.8);
  }

  .details__picture:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $main-text-color(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .details__picture:hover img {
    transform: scale(1.05);
    transition-duration: 1s;
    cursor: pointer;
  }
}
/*#endregion*/
