/*#region Ditales*/

.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @media (min-width: $tablet-min-width) {
      row-gap: 64px;
    }
  }
}

.category {
  &__photos {
    @include pageGrid;

    @media (min-width: $tablet-min-width) {
      --columns: 6;
      column-gap: 24px;
    }

    @media (min-width: $desktop-min-width) {
      --columns: 12;
    }
    margin-bottom: 16px;

  }

  &__link {
    position: relative;
    &:hover img {
      transform: scale(1.05);
      transition-duration: 1s;
      cursor: pointer;
    }

    &--wide {
      @media (min-width: $tablet-min-width) {
        grid-column: span 4;
      }

      @media (min-width: $desktop-min-width) {
        grid-column: span 8;
      }
    }
    &--square {
      height: 0;
      padding-bottom: 100%;

      @media (min-width: $tablet-min-width) {
        grid-column: span 2;
      }

      @media (min-width: $desktop-min-width) {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 1s;
  }

  &__title {
    margin: 0;
    padding-top: 92px;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
  }

  &__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-top: 8px;
    margin-bottom: 40px;
  }
}

.button__container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, avto);
}

.details__button {
  width: 278px;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition-duration: 1s;
}

@media (min-width: $tablet-min-width) {

  .button__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details__button {
    width: 392px;
    height: 56px;
  }
}

@media (min-width: $desktop-min-width) {
  .details__button {
    width: 324px;
    height: 56px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .details__button:hover {
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
    transition-duration: 1s;
  }

  .details__button:active {
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.8);
  }
}
// /*#endregion*/
