/*#region Ditales*/
.details__item {
  display: grid;
  justify-content: center;

  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: repeat(1, 744);
    justify-content: center;
  }
}

.details__title {
  text-align: center;
  white-space: nowrap;
  padding-top: 92px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;

  @media (min-width: 576px) {
    padding-top: 120px;
    font-size: 48px;
    line-height: 100%;
  }
}

.details__item:nth-child(1) .details__image {
  margin-top: 48px;

  @media (min-width: 576px) {
    margin-top: 64px;
  }
}

.details__item:not(:nth-child(1)) .details__image {
  margin-top: 40px;

  @media (min-width: 576px) {
    margin-top: 48px;
  }
}

.ditails__image {
  display: block;

  @media (min-width: 576px) {
    display: flex;
  }
}

.details__image--1 {
  margin-right: 20px;
}

.details__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  padding-top: 16px;
}

.details__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  padding-top: 8px;
  padding-bottom: 40px;
}

.button__container {
  display: block;

  @media (min-width: 576px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.details__button {
  background-color: #fff;
  width: 278px;
  height: 56px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;

  @media (min-width: 576px) {
    width: 392px;
    height: 56px;
  }
}

/*#endregion*/
