.explore-online {
  @include page-grid;

  &__title {
    @include text48;

    margin-bottom: 48px;
    text-align: center;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 2/6;
    }

    @include on-desktop {
      grid-column: 4/10;
    }
  }

  &__container {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 2/6;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &__image {
    width: 100%;

    @include image-hover-zoom;
  }

  &__container-title {
    margin-top: 32px;
    margin-bottom: 4px;
    color: #d12d35;

    @include text24;

    text-align: center;
  }

  &__container-text {
    @include text16;

    font-weight: 400;
    text-align: center;
  }
}
