.main {
  padding: 100px 20px;

  display: flex;
  flex-direction: column;
  gap: 100px;

  @include onTablet {
    gap: 140px;
    padding: 140px 72px 156px;
  }

  @include onDesktop {
    padding: 138px 120px 150px;
  }
}
