@media(min-width:320px) {
  .stock__img {
    display: block;
    margin-bottom: 24px;
    width: 280px;
    height: 280px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .main__img {
    width: 288px;
    height: 144px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .main__img--ps1 {
    background-image: url(../images/ps1-1260.svg);
    background-size: cover;
  }
  .main__img--ps2 {
    background-image: url(../images/ps2-1260.svg);
    background-size: cover;
  }
  .main__img--ear1 {
    background-image: url(../images/ear1-1260.svg);
    background-size: cover;
  }
  .main__img--ear2 {
    background-image: url(../images/ear2-1260.svg);
    background-size: cover;
  }
  .main__img--sh1 {
    background-image: url(../images/sh1-1260.svg);
    background-size: cover;
  }
  .main__img--sh2 {
    background-image: url(../images/sh2-1260.svg);
    background-size: cover;
  }
  .main__img--bg {
    background-image: url(../images/timeless-320.svg);
    background-size: contain;
    width: 320px;
    height: 200px;
    margin-top: 96px;
  }
  .stock__img--ear {
    background-image: url(../images/ear.svg);
    background-size: contain;
  }
  .stock__img--theatre {
    background-image: url(../images/theatre.svg);
    background-size: contain;
  }
  .stock__img--bag {
    background-image: url(../images/bag.svg);
    background-size: contain;
  }
  .stock__img:hover {
    background-size: 300px;
  }
  .main__img:hover {
    background-size: 230px;
  }
}
@media(min-width:744px) {
  .stock__img {
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .main__img {
    width: 288px;
    height: 144px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .stock__img > img {
    width: 600px;
    height: 600px;
  }
  .row__sound > img {
    width: 288px;
    height: 144px;
  }
  .main__img--bg {
    background-image: url(../images/timeless-744.svg);
    background-size: contain;
    width: 744px;
    height: 400px;
    margin-top: 120px;
  }
  .stock__img:hover {
    background-size: 630px;
  }
  .main__img:hover {
    background-size: 300px;
  }
}
@media(min-width:1260px) {
  .stock__img {
    width: 324px;
    height: 324px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .stock__img > img {
    width: 324px;
    height: 324px;
  }
  .main__img {
    width: 498px;
    height: 324px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .main__img--bg {
    background-image: url(../images/timeless-1260.svg);
    background-position: center;
    background-size: cover;
    width: 1260px;
    height: 460px;
  }
  .stock__img:hover {
    background-size: 350px;
  }
  .main__img:hover {
    background-size: 520px;
  }
}
