@import "./prewiev.scss";
@import "./bike.scss";
@import "./details.scss";
@import "./contact.scss";

.main {
  margin-bottom: 180px;

  @include onTablet {
    margin-bottom: 120px;
  }

  @include onMobile {
    margin-bottom: 80px;
  }
}

.section--head {
  font-size: 64px;
  font-weight: 500;
  line-height: 100%; /* 64px */
  letter-spacing: -1.5px;

  @include onTablet {
    font-size: 48px;
  }

  @include onMobile {
    font-size: 32px;
  }
}
