.main {
  background-color: #fff;

  &__content {
    display: grid;
    row-gap: 96px;
  }
}

.animated-block {
  opacity: 0;
  transform: translateX(-20%);
}

.animated-block.animated-block-show {
  opacity: 1;
  transition: all 0.3s;
  transform: translateX(0%);
}
