.museum-hours {
  @include pageGrid;

  &__title-description {
    color: $accent-main;
    font-size: 12px;
    font-weight: 700;
    line-height: 140%;
  }

  &__title-container {
    grid-column: 1 / -1;
    margin-bottom: 32px;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 5;
    }
  }

  &__address-container {
    display: grid;
    grid-column: 1 / -1;
    row-gap: 24px;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: 6 / -1;
    }
  }

  &__address {
    display: grid;
    row-gap: 16px;

    &-title {
      color: $main-dark;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
    }

    &--open {
      display: flex;
      gap: 24px;
    }

    &-hours {
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
    }

    &-days {
      font-size: 16px;
      line-height: 27px;
    }
  }
}
