.prewiev {
  justify-content: center;
  margin-top: 120px;

  @include grid;

  @include onMobile {
    row-gap: 32px;
    margin-top: 60px;
  }

  &__head {
    grid-column: 1/6;

    @include onTablet {
      grid-column: 1/4;
    }

    @include onMobile {
      grid-column: 1/-1;
    }
  }

  &__text {
    font-size: 23px;
    font-weight: 500;
    line-height: 140%; /* 32.2px */

    grid-column: 6/-2;

    @include onTablet {
      grid-column: 4/8;
    }

    @include onMobile {
      grid-column: 1/-1;
    }
  }
}
