.product {
  display: flex;
  flex-direction: column;

  &__hidden-text {
    @include on-pc {
      display: none;
    }
  }

  &__backg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: $phone-width;
    height: 280px;

    @include on-tablet {
      width: $tablet-width;
      height: 600px;
    }

    @include on-pc {
      width: 324px;
      height: 324px;
    }


  &--phone {
    background-image: url(../images/recommended/iphone-background.png);
  }

  &--ear {
    background-image: url(../images/recommended/ear-background.png);
  }

  &--ear-stick {
    background-image: url(../images/recommended/ear-stick-background.png);
  }
  }

  &__info {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    font-size: 18px;
    line-height: 25.2px;
  }

  &__description {
    margin-top: 8px;
    font-family: $font-space-mono;
    font-size: $main-font-size;
    line-height: 22.4px;
    max-width: 280px;

    @include on-tablet {
      max-width: 600px;
    }

    @include on-pc {
      max-width: 288px;
      height: 88px;
    }
  }

  &__price {
    margin-top: 25px;
    font-size: $main-font-size;
    line-height: 22.4px;
  }
}
