.product {
  &__photo {
    width: 100%;
    transition: transform $effect-duration ease-in-out;

    &:hover {
      transform: rotateZ(5deg);
    }
  }
  &__title {
    padding: 24px 0 8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
  }
  &__price {
    padding-top: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
  }
}
