.rec {
  display: flex;
  flex-direction: column;

  @include on-pc {
    align-items: center;
  }

  &__wrap {
    @include on-pc {
      width: 1072px;
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    margin: 0;
    font-size: 32px;
    line-height: 32px;

    @include on-tablet {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;

    @include on-pc {
      flex-direction: row;
      gap: 24px;
      max-width: 324px;
    }
  }

  &__product {
    margin-top: 48px;

    @include on-tablet {
      margin-top: 56px;
    }

    @include scale-picture;
  }
}
