.section-store {
  &__wraper {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 56px;
    }
  }

  &__button {
    @include button;

    @include onDesktop {
      width: 32%;
    }
  }

}

.category {
  &__photos {
    @include page-grid;
    margin-bottom: 16px;
  }

  &__link {
    position: relative;
    &-wide {
      @include onTablet {
        grid-column: span 4;
      }

      @include onDesktop {
        grid-column: span 8;
      }
    }

    &-square {
      padding-bottom: 100%;
      height: 0;
      @include onTablet {
        grid-column: span 2;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include hover(transform, scale(1.05));
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;

    @include onTablet {
      font-size: 24px;
    }
  }
}

.section-bg-img {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background: url(../images/bg-store.png);
  background-size: cover;
  background-position: center;
}
