.store {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include on-pc {
    align-items: center;
  }

  &__title-wrap {
    width: $phone-width;

    @include on-tablet {
      width: $tablet-width;
    }

    @include on-pc {
      width: $pc-width;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 48px;
    font-size: 32px;
    line-height: 32px;

    @include on-tablet {
      margin-bottom: 56px;
      font-size: 40px;
      line-height: 40px;
    }

    @include on-pc {
      max-width: 585px;
    }
  }

  &__categories {
    display: flex;
    flex-direction: column;

    @include on-tablet {
      width: $tablet-width;
    }

    @include on-pc {
      width: $pc-width;
    }
  }

  &__category {
    font-size: 18px;
    line-height: 25.2px;
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 56px;
      font-size: 24px;
      line-height: 33.6px;
    }
  }

  &__pictures {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;

    @include on-tablet {
      gap: 24px;
    }

    @include on-pc {
      width: 1072px;
    }
  }

  &__picture {
    height: 130px;
    width: 130px;
    background-size: cover;
    background-position: center;

    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
      transition: 0.5s;
    }

    @include store-image-size;


    &--parrots {
      background-image: url(../images/store/store-parrots.png);

      @include store-image-grow
    }

    &--technics {
      background-image: url(../images/store/store-technics.png);
    }

    &--earplug {
      background-image: url(../images/store/store-earplug.png);
    }

    &--earpods {
      background-image: url(../images/store/store-earplugs.png);

      @include store-image-grow
    }

    &--phone {
      background-image: url(../images/store/store-phone.png);

      @include store-image-grow
    }

    &--charger {
      background-image: url(../images/store/store-charger.png);
    }
  }

  &__view-all-wrap {
    display: flex;
    width: $phone-width;

    @include on-tablet {
      width: $tablet-width;
      align-items: flex-start;
    }

    @include on-pc {
      width: $pc-width;
    }
  }

  &__view-all {
    text-decoration: none;
    height: 56px;
    width: 100%;
    line-height: 56px;
    text-align: center;
    background-color: $main-color;
    border-radius: 8px;
    color: #fff;

    &:hover {
      transition: 0.5s;
      box-sizing: border-box;
      background-color: #F8F8FA;
      border: 2px solid #F0F1F4;
      color: $main-color;
    }

    &:active {
      background-color: #111;
      color: #fff;
    }

    @include on-pc {
      width: 324px;
    }
  }
}
