.contacts {

  &__primary-title {
    @include articles-margin;
    @include article-primary-title;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: $article-gap;

    @include onTablet {
      flex-direction: row;
      justify-content: center;
      align-items: start;
    }

    @include onLaptop {
      justify-content: space-between;
    }
  }

  &__address-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $article-gap;

    @include onLaptop {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
  }

  &__form {
    align-self: center;

    @include onTablet {
      align-self: auto;
    }
  }

}
