.exhibition {
  &__primary-title {
    @include article-primary-title;
    text-align: center;
  }

  &__text {
    @include section-primary-text;
    text-align: center;
    @include articles-margin;
  }

  &__card {
    @include articles-margin;
  }

  &__button {
    margin: 0 auto;

    @include onTablet {
      width: 392px;
    }

    @include onLaptop {
      width: 324px;
    }
  }
}
