.explore-cards {
  &__primary-title {
    @include articles-margin;

    @include article-primary-title;
    text-align: center;
  }

  &__box {
    width: 100%;
    @include flex-all-center;
    flex-direction: column;

    gap: 40px;

    @include onLaptop {
      flex-direction: row;
      align-items: start;
      gap: 24px;
    }
  }
}
