$red-color: #d12d35;

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;

  @media (min-width: 744px) {
    font-weight: 700;
    font-size: 48px;
    line-height: 38px;
    letter-spacing: 1px;
  }
  @media (min-width: 1020px) {
    line-height: 48px;
  }
}
.subtitle {
  width: 280;
  height: 30;
  top: 751px;
  left: 20px;

  @media (min-width: 744px) {
    font-family: Cinzel;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0px;
  }
}
.entry-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 8px;
}
.red__text {
  color: $red-color;
}

.main__btn {
  background-color: $red-color;
  color: #fff;
  font-family: Cinzel;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.5px;

  width: 280px;
  height: 56px;
  @media (min-width: 744px) {
    width: 392px;
  }
}
