@mixin title-font {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@mixin on744 {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin on1260 {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin hover($property, $value) {
  transition: #{$property} #{$transition-time};
  &:hover {
    #{$property}: #{$value};
  }
}
