@mixin padding-inline {
  padding-inline: 20px;
  @media (min-width: 744px) {
    padding-inline: 72px;
  }
  @media (min-width: 1024px) {
    padding-inline: 120px;
  }
}

@mixin gridLayout {
  --columns: 2;
  width: 100%;
  display: grid;
  gap: 0 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @media (min-width: 744px) {
    gap: 0 24px;
    --columns: 6;
  }
  @media (min-width: 1024px) {
    gap: 0 24px;
    --columns: 12;
  }
}

@mixin hover ($property, $toValue) {
  transition: $property 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}
