// size
$min-width-tablet: 744px;
$min-width-decstop: 1260px;
$efect-duration: 0.3s;
$icon-size-mobile: 24px;
$icon-size-tablet: 32px;

// colors
$bg-color-menu: #f9f9f9;
$text-color-main: #1b2129;
$button-color-orange: #f98921;
$button-color-active: #010810;
$color-white: #fff;
$bg-color-abaut-us: #fcfaef;
$input-color-playsholder: #7e7e83;
$text-color-info-gray: #9393a3;
$text-colot-info-dark: #191919;
$input-color-border-hover: #dbdbdb;
