$tablet-min-width: 744px;
$desktop-min-width: 1020px;

$main-white-color: #fff;
$main-black-color: #1b2129;
$background-menu-sticky-header: #e5e5e5;
$background-special-offer-textarea: #fcfaef;
$background-contacts-form: #f9f9f9;
$background-menu-color: #f9f9f9;
$background-default-form-button: #f98921;
$placeholder-text-color: #7e7e83;
$contact-info-header: #9393a3;
$contact-info-text: #191919;

$bold-text-font-weight: 700;

$menu-links-text-font-size: 22px;

$mobile-header-text-font-size: 36px;
$tablet-header-text-font-size: 48px;
$desktop-header-text-font-size: 56px;

$mobile-title-font-size: 32px;
$tablet-title-font-size: 40px;
$desktop-title-font-size: 48px;

$mobile-title-font-line-height: 32px;
$tablet-title-font-line-height: 40px;
$desktop-title-font-line-height: 48px;

$mobile-header-font-size: 18px;
$tablet-header-font-size: 24px;

$mobile-header-font-line-height: 25.2px;
$tablet-header-font-line-height: 33.6px;

$speed-transitions: 0.3s;

$mobile-icon-size: 24px;
$tablet-icon-size: 32px;

$desktop-phone-icon-hovered-height: 32px;
$desktop-phone-icon-hovered-width: 179px;

$mobile-logo-height: 16px;
$tablet-logo-height: 24px;

$mobile-logo-width: 152px;
$tablet-logo-width: 228px;
