$main-text-color: #292929;
$white-color: #fff;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$input-background: #F8F8FA;
$input-placeholder-color: #7E7E83;
$hover-border-color: #D5D7DE;

