$red-color: #d12d35;
$white-color: #ffffff;
// Розміри
$mobile-width: 280px;
$tablet-width: 392px;

$font-title-mobile: 28px;
$font-title-tablet: 48px;

$line-title-mobile: 32px;
$line-title-tablet: 38px;
$line-title-desktop: 48px;

// Breakpoints
$breakpoint-tablet: 744px;
$breakpoint-desktop: 1240px;
