$main-font-color: white;
$main-black-color: #1d1d1d;
$link-hover-color: beige;
$input-form-background-color: #f8f8f8;
$input-form-placeholder-color: #7e7e83;
$input-form-font-color: #292929;
$min-width-tablet: 576px;
$min-width-desktop: 1024px;
$main-animation-speed: 0.3s;
