@use 'variables' as *;

@mixin on-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin font($size, $height, $weight, $color: $text-color) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

@mixin hover($prop) {
  transition: $prop 300ms;

  &:hover {
    @content;
  }
}
