$bg-color: #1d1d1d;
$text-color: #fff;
$hover-color: #acc8e5;
$menu-bg-color: #c2c2c2;
$menu-color: #1d1d1d;
$form-bg-color: #f8f8fa;
$form-color: #292929;
$form-hover-color: #d5d7de;
$placeholder-color: #7e7e83;
$btn-color: #1d1d1d;
$btn-bg-color: #fff;
$btn-hover-shadow-color: rgba(232, 232, 240, 0.4);
$btn-active-shadow-color: rgba(232, 232, 240, 0.64);
$transition-duration: 300ms;
$img-scale: 1.05;
