$text-color: #161616;
$secondary-color: #3e3e3e;
$input-color: #f8f8fa;
$primary-accent-color: #fff;
$secondary-accent-color: #d12d35;
$breakpoint-sm: 320px;
$breakpoint-md: 744px;
$breakpoint-lg: 1260px;
