$paddingInlieMb: 20px;
$paddingInlieTb: 72px;
$paddingInlieDt: 120px;
$coulumnGapMb: 20px;
$coulumnGap: 24px;
$titleMainSzMb: 36px;
$titleMainSzTb: 64px;
$titleMainfntSzDt: 80px;
$titleSecondarySzMb: 32px;
$titleSecondarySzTb: 48px;
$titleSecondarySzDt: 64px;
$titleTertiarySz: 24px;
$textMainSz: 23px;
$textSecondarySz: 16px;
$textInputSz: 14px;
$minWidthTb: 744px;
$minWidthDt: 1260px;
$fntWghtBold: 700;
$fntWghtNormal: 500;
$fntWghtLight: 400;
