.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 56px;

  background-color: $red-text-color;
  border: none;

  font-family: inherit;
  font-weight: 700;
  color: #fff;

  transition: 0.35s;

  &:hover {
    background-color: #ae1c23;
    transition: 0.35s;
  }

  &:active {
    background-color: #eb343d;
    transition: 0.35s;
  }
}
