$valueHundredPercent: 100%;
$valueFiftyPercent: 50%;

/* chamei a classe containerHeader */
.containerHeader {
  /* ! AREA DO CONTAINER DO HEADER ! */

  /* defini as dimenções do container */
  width: $valueHundredPercent;
  height: 628px;

  /* defini a propriedade position relativa para técnica de sobreposição primeiramente com o elemento pai para depois sobrepor os demais */
  position: relative;

  /* ! AREA DA IMAGEM DE FUNDO DO HEADER ! */

  /* chamei a classe filha do container */
  &__backgroundImage {
    /* defini as dimenções da imagem */
    width: $valueHundredPercent;
    height: 628px;

    /* defini a perspectiva da imagem */
    object-fit: cover;
  }

  /* ! AREA TEXTO CENTRAL DO HEADER ! */
  &__text {
    /* defini a propriedade position absolute para técnica de sobreposição primeiramente como elemento filho */
    position: absolute;
    font-size: 30px;
    width: 500px;
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: 700;

    /* defini o z-index informando que esse será o elemento que irá sobrepor */
    z-index: 2;

    /* NÃO FICO MUITO CLARO ESSA PARTE, mas sei que foi para dimensionar a posição do elemento sobre o container */
    left: $valueFiftyPercent;
    top: 74%;
    transform: translate(-$valueFiftyPercent, -$valueFiftyPercent);
  }

  /* ! AREA SUPERIOR DO HEADER, ONDE FICA A NAVEGAÇÃO ! */
  &__nav {
    /* foi aqui definido position como absolute para que venha a sobrepor o elemento pai */
    position: absolute;

    /* definido as dimenções do container */
    height: 128px;
    width: $valueHundredPercent;

    /* definido a ordem de sobreposição */
    z-index: 2;

    /* NÃO FICO MUITO CLARO ESSA PARTE, mas sei que foi para dimensionar a posição do elemento sobre o container */
    left: $valueFiftyPercent;
    top: 10%;
    transform: translate(-$valueFiftyPercent, -$valueFiftyPercent);

    /* ! AREA LOGO DA NAVEGAÇÃO ! */
    &-logo {
      margin-top: 35px;
      margin-left: 50px;
      width: 187px;
      height: 56px;

      /* como havia dois elementos na nav, usamos o justify-content: space-between & float: left para conseguir alinhar este elemento à esquerda */
      justify-content: space-between;
      float: left;
    }

    /* ! AREA DO PARA O MENU ESCONDIDO E O TELEFONE ! */
    &-dropdownMenu {
      /* definido as dimenções */
      width: 96px;
      height: 32px;

      /* colocamos o display como flex para conseguir usar o espaçamento entre elementos e alinhar no centro vertical como align-items: center; */
      display: flex;
      align-items: center;
      margin-top: 45px;
      margin-right: 50px;

      /* como havia dois elementos na nav, usamos o justify-content: space-between & float: left para conseguir alinhar este elemento à direita */
      justify-content: space-between;
      float: right;
    }
  }
}
