.sectionMain--contactUs {
  margin-top: 70px;
}

.sectionMain--contactUs_contactUs {
  display: flex;
  flex-direction: column;
  width: 280px;
  color: #ffff;
  font-family: Poppins, sans-serif;
  gap: 10vw;
  margin-left: calc(47vw - 140px);
}

.sectionMain--contactUs_titleSection {
  font-size: 32px;
  font-family: Poppins, sans-serif;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}

.sectionMain--contactUs_contactUs-data {
  display: flex;
  flex-direction: column;
}

.sectionMain--contactUs_contactUs-data-item {
  width: 288px;
  height: 48px;
  background-color: #f8f8fa;
  color: #7e7e83;
  border-radius: 50px;
  border: 0;
  margin-top: 20px;
}

.sectionMain--contactUs_contactUs-data-item::placeholder {
  color: #7e7e83;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  padding-left: 5%;
  font-weight: 400;
}

.sectionMain--contactUs_contactUs-data-message::placeholder {
  padding-top: 5%;
}

.sectionMain--contactUs_contactUs-data-message {
  height: 148px;
  border-radius: 15px;
}

.sectionMain--contactUs_contactUs-data-send {
  color: #1d1d1d;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  margin-top: 40px;
}

.sectionMain--contactUs_contactUs-contact-phone p {
  font-size: 14px;
  font-weight: 400;
}

.sectionMain--contactUs_contactUs-contact-phone {
  font-size: 16px;
  font-weight: 500;
}

.sectionMain--contactUs_contactUs-contact-email p {
  font-size: 14px;
  font-weight: 400;
}

.sectionMain--contactUs_contactUs-contact-email {
  font-size: 16px;
  font-weight: 500;
}

.sectionMain--contactUs_contactUs-contact-address p {
  font-size: 14px;
  font-weight: 400;
}

.sectionMain--contactUs_contactUs-contact-address {
  font-size: 16px;
  font-weight: 500;
}

