.sectionMain--compareBikes {
  width: 900px;
  height: auto;
  font-family: Poppins, sans-serif;
  color: white;
  background-color: #1d1d1d;
  margin-left: calc(50vw - 450px);
}

.sectionMain--compareBikes-text {
  font-size: 64px;
  text-align: center;
}

.sectionMain--compareBikes-cards {
  width: 850px;
  height: 446px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.sectionMain--compareBikes-cards-card1-image {
  width: 250px;
  height: 420px;
}

.sectionMain--compareBikes-cards-card1-title {
  font-size: 24px;
  margin-top: 30px;
}

.sectionMain--compareBikes-cards-card1-description {
  font-size: 16px;
  margin-top: -20;
}

.sectionMain--compareBikes-cards-card1-price {
  font-size: 24px;
  margin-top: -20;
}
