/* Section Move free - 320px */

.main {
  background-color: #1d1d1d;
}

.sectionMain__moveFree {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  color: white;

  &-title {
    margin-left: 20px;

    & h1 {
      font-weight: 500;
      font-size: 32px;
    }
  }

  &-description {
    font-size: 23px;
    margin-top: -50px;
    margin-right: 40px;
    margin-left: 20px;

    & h5 {
      font-weight: 500;
      font-size: 23px;
    }
  }
}

/* MEDIA - 744px */

@media (min-width: 744px) {
  .sectionMain__moveFree {
    flex-direction: row;
    gap: 20px;

    &-title {
      white-space: nowrap;
      margin-left: calc(25vw - 144px);

      & h1 {
        font-size: 35px;
      }
    }

    &-description {
      margin-top: 5px;
      margin-right: calc(25vw - 144px);
    }
  }
}

/* MEDIA - 744px */

@media (min-width: 1260px) {
  .sectionMain__moveFree {
    &-title {
      margin-left: 220px;

      & h1 {
        font-size: 64px;
      }
    }

    &-description {
      margin-top: 45px;
      margin-right: 300px;
      margin-left: 150px;
    }
  }
}
