.main {
  background-color: #1d1d1d;
}

.sectionMain__moveFree {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: row;
  color: white;

  &-title {
    margin-left: 220px;

    & h1 {
      font-weight: 500;
      font-size: 64px;
    }
  }

  &-description {
    margin-top: 45px;
    margin-right: 300px;
    margin-left: 150px;

    & h5 {
      font-weight: 500;
      font-size: 23px;
    }
  }
}
