/* Section Compare Bikes - mobile 320px */

.sectionMain__compareBikes {
  width: 283px;
  height: auto;
  font-family: Poppins, sans-serif;
  color: white;
  padding: 16px;
  overflow-x: hidden;
  margin-left: calc(45vw - 140px);
}

.sectionMain__compareBikes-title {
  font-size: 26px;

  & h1 {
    font-weight: 500;
  }
}

.sectionMain__compareBikes-cards {
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow-y: auto;
}

.sectionMain__compareBikes-cards-cardItem-image {
  width: 80%;
  height: 310;
  max-height: 180px;
  object-fit: cover;
  margin-left: calc(10em - 140px);
}

.sectionMain__compareBikes-cards-cardItem-title {
  font-size: 20px;
  margin-top: 30px;
  font-weight: 700;
}

.sectionMain__compareBikes-cards-cardItem-description {
  font-size: 16px;
  margin-top: -20;
  font-weight: 400;
}

.sectionMain__compareBikes-cards-cardItem-price {
  font-size: 24px;
  margin-top: -20;
  font-weight: 700;
}

/* MEDIA - 744px */

@media (min-width: 744px) {
  .sectionMain__compareBikes {
    width: 300px;
    margin-left: calc(50vw - 150px);
  }

  .sectionMain__compareBikes-title {
    font-size: 27px;
    text-align: center;
    margin-right: 2px;
  }
}

/* MEDIA - 1260px */

@media (min-width: 1260px) {
  .sectionMain__compareBikes {
    width: 100%;
    max-width: 900px;
    height: auto;
    font-family: Poppins, sans-serif;
    color: white;
    background-color: #1d1d1d;
    margin-left: calc(49vw - 450px);
  }

  .sectionMain__compareBikes-title {
    font-size: 64px;
    text-align: center;
  }

  .sectionMain__compareBikes-cards {
    height: 446px;
    flex-direction: row;
    gap: 15px;
  }

  .sectionMain__compareBikes-cards-cardItem-image {
    width: 250px;
    height: 420px;
  }
}
