main {
  background-color: #1d1d1d;
}

.sectionMain__details-container {
  width: 280px;
  height: 298px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  margin: 0 auto;
  background-color: #1d1d1d;
}

.sectionMain__details-container-categoryPhotos-photo1 {
  width: 130px;
  height: 130px;
  object-fit: cover;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.sectionMain--details_categoryPhotos_photo2 {
  width: 130px;
  height: 130px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.sectionMain__details-container-categoryPhotos-square180 {
  transform: scaleX(-1);
}

.sectionMain__details-titleSection {
  color: white;
  font-size: 32px;
  font-family: Poppins, sans-serif;
  text-align: center;
  font-weight: 500;
}

.sectionMain__details-texts {
  width: 280px;
  height: auto;
  margin: 0 auto;
  margin-top: -150px;
}

.sectionMain__details-texts-title {
  color: white;
  font-size: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.sectionMain__details-texts-description {
  color: white;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.sectionMain__details-container-buttonExplore {
  height: 56px;
  color: #1d1d1d;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  background-color: white;
  border-radius: 50px;
  border: 0;
  width: 300px;
  margin-left: calc(50vw - 162px);
  &:hover {
    transition: 0.8s;
    font-weight: 700;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
}
