.main {
  background-color: #1d1d1d;
}

.sectionMain__moveFree {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: row;
  color: white;
  gap: 20px;

  &-title {
    white-space: nowrap;
    margin-left: calc(25vw - 144px);

    & h1 {
      font-weight: 500;
      font-size: 35px;
    }
  }

  &-description {
    margin-top: 5px;
    margin-right: calc(25vw - 144px);

    & h5 {
      font-weight: 500;
      font-size: 23px;
    }
  }
}
