/* Footer - 320px */

footer {
  width: 100%;
  height: 300px;
}

.footer__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* MEDIA - 744px */

@media (min-width: 744px) {
  footer {
    height: 480px;
  }

  .footer__image {
    height: 480px;
  }
}

/* MEDIA - 1260px */

@media (min-width: 1260px) {
  footer {
    height: 555px;
  }

  .footer__image {
    height: auto;
  }
}
