.contacts {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #161616;


  @include on-mobile {
    display: block;
    margin: 100px 20px 0 20px;
  }

  @include on-tablet {
    margin: 140px 72px 0 72px;

  }

  &__title {

    @include on-mobile {
      font-family: Cinzel;
      font-size: 32px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -1.5px;
      text-align: center;

    }

    @include on-tablet {
      margin: 140px 72px 0 72px;

    }

    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 48px;

  }

  &__cards {
    display: flex;

    @include on-tablet {
      flex-direction: column;
    }

    @include on-mobile {
      display: block;
    }

    &_card {
      display: flex;
      flex-direction: column;
      width: 237px;

      &:first-child {
        margin-right: 24px;
      }

      @include on-tablet {
        &:first-child {
          margin-right: 0;
        }

      }



      &.card__title {
        font-family: Cinzel;
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        color: #161616;

        @include on-tablet {
          &:first-child {
            font-family: Cinzel;
            font-size: 16px;
            font-weight: 700;
            line-height: 27px;
            text-align: left;

          }

        }
      }

      &.card__description {

        &_phone {
          margin-top: 24px;

          font-family: Cinzel;
          font-size: 14px;
          font-weight: 400;
          line-height: 27px;
        }

        &_number {
          color: #3E3E3E;
          font-family: Cinzel;
          margin-top: 4px;
          font-size: 16px;
          font-weight: 700;
          line-height: 27px;
          text-align: left;

        }

        &_address {
          color: #161616;
          margin-top: 8px;
          font-size: 16px;
          font-weight: 700;
          line-height: 27px;
          text-align: left;
        }

        &_street {
          color: #3E3E3E;
          margin-top: 4px;
          font-family: Cinzel;
          font-size: 16px;
          font-weight: 700;
          line-height: 22.4px;
          text-align: left;

        }
      }
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include on-mobile {
      margin-top: 48px;
      margin-left: 0;
    }

    @include on-tablet {
      &:first-child {
        margin-left: 75px;

      }

    }

    margin-left: 111px;

    &_input {
      @include on-mobile {
        width: 100%;
      }

      @include on-tablet {
        font-family: Cinzel;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        padding: 11px 14px;



      }

      margin-top: 16px;
      width: 411px;
      padding: 16px 14px;
      color: #7E7E83;
      font-family: Cinzel;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      border: none;
      background-color: #F8F8FA;

      &:first-child {
        margin-top: 0;
      }

      &:focus {
        outline: none;
      }
    }

    &.textarea {
      margin: 0;

      height: 144px;

      color: #7E7E83;
      font-family: Cinzel;
    }

    &_button {
      transition: all 0.3s;
      width: 100%;
      padding: 15px 0;
      margin-top: 32px;
      font-family: Cinzel;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      text-align: center;
      color: #fff;
      border: none;
      background-color: #D12D35;
      cursor: pointer;


      @include on-tablet {
        font-family: Cinzel;
        font-size: 16px;
        font-weight: 700;
        line-height: 27px;
        text-align: center;


      }


      &:focus {
        outline: none;
      }

      &:hover {
        background: #AE1C23;

      }
    }
  }
}