.section-5
    grid-row: 5 / 5
    display: flex
    flex-direction: column
    width: 100dvw
    height: max-content
    gap: 48px
    &__title
        text-align: center
        margin-top: 82px
        font-size: 48px
    &__wrapper-content
        display: inline-flex
        justify-content: space-between
        margin: 0 4.75dvw
        gap: 5dvw
        .contact-list
            display: flex
            flex-direction: column
            gap: 48px
            .contact
                text-align: start
                line-height: 27px
                gap: 5px

                &__id
                    font:
                        size: 16px
                        weight: 700
        
                .phone
                    &__label
                        font: 
                            weight: 400
                            size: 14px
                    &__number
                         font: 
                            weight: 700
                            size: 16px
                .address
                    width: 200px
                    &__label
                        font: 
                            weight: 400
                            size: 14px
                    &__addr
                        color: #161616
                        text-decoration: none 
                        font: 
                            weight: 700
                            size: 16px
        .form-contact
            display: flex
            flex-direction: column
            gap: 24px
            min-height: 376px
            .input
                outline: none
                border: none
                background-color: #f8f8fa
                width: 55dvw
                height: 48px
                padding: 16px
                color: #161616

                &:hover
                    border: 1px solid #D5D7DE
                    &::placeholder
                        color: #161616

                &:focus, &:active
                    border: 1px solid #161616

                    &::placeholder
                        visibility: hidden

                &::placeholder
                    color: #7E7E83

                &--message
                    height: 144px
                    resize: none
            .button
                &:hover
                    background-color: #ae1c23
                &:active
                    background-color: #eb343d
                outline: none
                border: none
                width: 55dvw
                height: 56px
                font:
                    weight: 700
                    size: 16px
                color: white
                background-color: #D12D35
