.form {
  display: flex;
  flex-direction: column;

  &__input {
    @include formElements;

    @include formPlaceholder;

    height: 48px;
    margin-bottom: 16px;

  }

  &__textarea {
    @include formElements;

    @include formPlaceholder;

    margin-bottom: 32px;
    height: 120px;
    border-radius: 16px;
    resize: none;

  }

  &__button {
    @include formElements;
  }
}
