.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $menu-bg-color;
  color: $dark-color;
  overflow: auto;

  &__nav {
    margin-bottom: 40px;
  }

  &__top {
    margin-bottom: 24px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $menu-bg-color;

    @include onTablet {
      margin-bottom: 8px;
    }

    @include onDesktop {
      margin-bottom: 24px;
    }
  }

  &__phone {
    display: block;
    color: $dark-color;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    &--number {
      line-height: 27px;
      margin-bottom: 16px;
    }

    &--book {
      width: fit-content;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      padding-bottom: 7px;
      border-bottom: 1px solid $dark-color;
    }
  }
}
