.product {
  grid-column: 1 / -1;

  &__img {
    width: 100%;
    transition: all $effectDuration;
    @include onDesktop {
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }

  @include onTablet {
    grid-column: 2 / -2;
  }

  @include onDesktop {
    grid-column: span 4;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 32px;
    line-height: 140%;
  }

  &__descr {
    margin-top: 8px;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
  }
}
