.page {
  font-family: Cinzel, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: $main-color;
  &__body {
    margin: 0;
  }
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    pointer-events: none;

    transition: transform $transition-duration linear;

    transform: translateX(-100%);

    &:target {
      transform: translateX(0);

      opacity: 1;

      pointer-events: all;
    }
  }
  main {
    background-color: $white;
  }
  &:has(.page__menu:target) {
    overflow: hidden;
  }
}
