.recommended {
  &__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding-top: 48px;
    
    @media (min-width: 576px) {
      gap: 56px;
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      grid-row: 1fr;
      gap: 24px;
    }
  }
}
