.article {
  &__images {
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include on-tablet {
      gap: 24px;
    }

    @include on-laptop {
      gap: 24px;
    }
  }

  &__image {
    width: 100%;
    height: 130px;

    @include on-tablet {
      height: 187px;
    }

    @include on-laptop {
      height: 320px;
    }

    &--large {
      min-width: 130px;

      object-fit: cover;
    }

    &--small {
      min-width: 130px;
    }
  }
}
