.details {
  padding-inline: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-laptop {
    padding-inline: 120px;
  }

  &__header {
    font-weight: 500px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;

    margin-bottom: 8px;
  }

  &__explore {
    height: 56px;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    border-radius: 40px;

    color: #1d1d1d;

    text-align: center;
    align-content: center;
  }
}
