.details {
  padding-inline: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 92px;

  @include on-tablet {
    padding-inline: 72px;
    padding-top: 120px;
  }

  @include on-laptop {
    padding-inline: 120px;
    padding-top: 144px;
  }

  &__header {
    width: 100%;
    margin-top: 16px;

    font-weight: 500;
    font-size: 32px;
    letter-spacing: -1.5px;
    text-align: center;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-laptop {
      font-size: 64px;
    }
  }

  &__description {
    margin-top: 8px;
  }

  &__explore {
    height: 56px;
    width: 100%;
    align-self: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    border: 0;
    border-radius: 40px;

    color: $second-text-color;

    text-align: center;
    align-content: center;

    @include scale-transoform;

    @include button-styles;

    @include on-tablet {
      width: 50vw;
    }

    @include on-laptop {
      width: 324px;
    }
  }
}
