.form {
  &__fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }

  &__field {
    box-sizing: border-box;

    padding-inline: 16px;
    height: 48px;
    width: 100%;

    background-color: #F8F8FA;
    border-radius: 40px;

    @include scale-transoform;

    &--message {
      height: 148px;

      border-radius: 16px;
    }
  }

  &__submit {
    height: 56px;
    width: 100%;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    margin-top: 32px;

    border-radius: 40px;

    color: #1d1d1d;

    text-align: center;
    align-content: center;

    @include scale-transoform;
  }
}
