.product-card {
  width: 280px;

  @include on-tablet {
    width: 392px;
  }

  @include on-laptop {
    width: 324px;
  }

  &__image {
    width: 280px;
    height: 228px;

    @include scale-transoform;

    @include on-tablet {
      width: 392px;
      height: 316px;
    }

    @include on-laptop {
      width: 324px;
      height: 256px;
    }
  }

  &__header {
    margin-top: 32px;

    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;

    @include scale-transoform;
  }

  &__description {
    margin-top: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;

    @include scale-transoform;
  }

  &__price {
    margin: 0;
    margin-top: 16px;

    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;

    @include scale-transoform;
  }
}
