.about-us {
  @include page-grid;

  &__image {
    position: relative;
    left: -$mobile-padding;
    height: 200px;
    width: 100vw;
    object-fit: cover;

    @include on-tablet {
      left: -$tablet-padding;
      height: 400px;
      margin-bottom: 90px;
    }

    @include on-desktop {
      left: -$desktop-padding;
      height: 460px;
    }
  }

  &__title {
    grid-column: 1 / 2;

    @include on-tablet {
      grid-column: 1 / 3;
    }

  }
  &__description {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }
}
