.about-us {
  background-color: #fcfaef;

  &__bg-image {
  height: 200px;
  background-image: url(../images/main/about-us/about-us-bg-image.png);
  background-position-y: 10%;
  background-size: cover;
  background-color: #fcfaef;

  @include onTablet {
    height: 400px;
    background-position-y: 35%;
  }

  @include onDeskstop {
    background-position-y: 65%;
    height: 460px;
  }
}

 &__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    row-gap: 24px;
    padding-block: 48px;

    @include onTablet {
      padding-block: 120px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      column-gap: 24px;
    }

    @include onDeskstop {
      column-gap: 111px;
    }
 }

 &__title {
  font-size: 32px;
  font-weight: $font-weight-bg;
  line-height: 100%;

  @include onTablet {
    font-size: 40px;
  }

  @include onDeskstop {
    font-size: 48px;
  }
 }

 &__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.15px;
 }
}
