.about-us::before {
  content: "";
  display: block;
  width: 100%;
  height: 200px;

  @include onTablet {
    height: 400px;
  }

  @include onDesktop {
    height: 460px;
  }

  background-image: url(../images/music-system.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
