$width-first-img: 67.2px;
$height-first-img: 32px;
$announce-sec-margin-top: 48px;

// var for section 1 and 3
$h-w-phone-img-box1-3: 130px;
$gap1-3: 20px;
$descr-padding-top1-3: 24px - $gap1-3;

// var for section 2
$h-phone-img-box2: 87px;
$w-phone-img-box2: 88px;
$gap2: 8px;
$descr-padding-top2: 24px - $gap2;

$red-color: #d12d35;

.announce {
  display: flex;
  flex-direction: column;
  justify-content: center; /* по горизонталі */
  align-items: center;
  &-title-1 {
    width: 280px;
    @media (min-width: 744px) {
      width: 392px;
    }
  }
  & > section {
    margin-top: $announce-sec-margin-top;
    display: flex;
    flex-wrap: wrap;
  }

  // for gaps between blocks elements and paddings between box`s
  &-1 {
    gap: $gap1-3;
    & .announce__descr {
      padding-top: $descr-padding-top1-3;
    }
  }
  &-2 {
    gap: $gap2;
    & .announce__descr {
      padding-top: $descr-padding-top2;
    }
  }
  &-3 {
    gap: $gap1-3;
    & .announce__descr {
      padding-top: $descr-padding-top1-3;
    }
  }
  // section description
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
  }
  &__datetime {
    text-align: left;
  }
}

.announce__box-1 {
  width: $h-w-phone-img-box1-3;
  height: $h-w-phone-img-box1-3;
  overflow: hidden;
  position: relative;
}
.announce__box-2 {
  width: $w-phone-img-box2;
  height: $h-phone-img-box2;
}
.announce__box-3 {
  width: $h-w-phone-img-box1-3;
  height: $h-w-phone-img-box1-3;
}
.img {
  &-1 {
    background-image: url(./../../../images/sec_now-on-view/card-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

    width: $width-first-img * 6;
    height: $height-first-img * 6;
    left: -70px;
    top: -30px;
    @media (min-width: 744px) {
      left: 0px;
      top: 0px;
      background-size: cover;
    }
    @media (min-width: 1260px) {
      width: 100%;
      height: 100%;
    }
  }
  &-2 {
    background-image: url(./../../../images/sec_now-on-view/card-2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-3 {
    background-image: url(./../../../images/sec_now-on-view/card-3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-4 {
    background-image: url(./../../../images/sec_now-on-view/card-4.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-5 {
    background-image: url(./../../../images/sec_now-on-view/card-5.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-6 {
    background-image: url(./../../../images/sec_now-on-view/card-6.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-7 {
    background-image: url(./../../../images/sec_now-on-view/card-7.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.announce__btn {
  margin-top: 40px;
}

@media (min-width: 744px) {
  .announce {
    &-1,
    &-2,
    &-3 {
      // making bigger gap
      gap: 24px;
    }
    //first section
    &__box-1 {
      width: $h-w-phone-img-box1-3 + 54px;
      height: $h-w-phone-img-box1-3 + 56px;
      &:nth-child(1) {
        width: ($h-w-phone-img-box1-3 + 66px) * 2;
        height: $h-w-phone-img-box1-3 + 56px;
      }
    }
    //second section
    &-2 {
      & .img-5 {
        display: none;
      }
    }
    .announce__box-2 {
      width: 288px;
      height: 284px;
    }

    //third section
    &__box-3 {
      width: $h-w-phone-img-box1-3 + 54px;
      height: $h-w-phone-img-box1-3 + 56px;
      &:nth-child(2) {
        width: ($h-w-phone-img-box1-3 + 66px) * 2;
        height: $h-w-phone-img-box1-3 + 56px;
      }
    }
  }
}
@media (min-width: 1260px) {
  .announce {
    //first section
    &__box-1 {
      width: 324px;
      height: 320px;
      &:nth-child(1) {
        width: 672px;
        height: 320px;
      }
    }
    //second section
    &-2 {
      & .img-5 {
        display: block;
      }
    }
    .announce__box-2 {
      width: 324px;
      height: 320px;
    }

    //third section
    &__box-3 {
      width: 324px;
      height: 320px;
      &:nth-child(2) {
        width: 672px;
        height: 320px;
      }
    }
  }
}
