.bike {
  &__photo {
    width: 100%;
    transition: all $effectduration;

    &:hover {
      transform: scale(105%);
    }
  }

  &__title, &__price {
    font-size: 24px;
    font-weight: 700;
  }

  &__description {
    margin: 8px 0 16px;
  }
}
