.button__wrapper {
  @include pageGrid;
}

.button {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 14.5px 48px;
  border-radius: 40px;
  border: none;

  grid-column: span 2;

  color: #1d1d1d;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px; /* 168.75% */
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
  }

  @include onTablet {
    grid-column: 2 / 6;
  }

  @include onDesktop {
    grid-column: 5 / 9;
  }
}
