.category-images {
  @include page-grid;

  &__image {
    grid-column: span 1;
    object-fit: cover;
    width: 100%;
    height: 100%;

    @include hover(transform, scale(1.04) )
  }



  @include on-tablet {

    &--odd {
      .category-images__image:nth-child(1){
        grid-column: span 4;
      }
      .category-images__image:nth-child(2){
        grid-column: span 2;
      }

    }
    &--even {
      .category-images__image:nth-child(1){
        grid-column: span 2;
      }
      .category-images__image:nth-child(2){
        grid-column: span 4;
      }
    }
  }

  @include on-desktop {

    &--odd {
      .category-images__image:nth-child(1){
        grid-column: span 8;
      }
      .category-images__image:nth-child(2){
        grid-column: span 4;
      }
    }

    &--even {
      .category-images__image:nth-child(1){
        grid-column: span 4;
      }
      .category-images__image:nth-child(2){
        grid-column: span 8;
      }
    }
  }
}
