.compare-bikes {

  &__title {
    padding-bottom: 8px;
  }

  &__products {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      justify-items: center;
      row-gap: 48px;
    }

    @include onDesktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      justify-items: stretch;
    }
  }

}
