.compare-bikes {
  margin-bottom: 92px;

  @include on-tablet {
    margin-bottom: 120px;
  }

  @include on-desktop {
    margin-bottom: 144px;
  }

  &--wrapper {
    @include page-grid;
  }

  &__title {
    @include on-desktop {
      margin-bottom: 56px;
    }
  }
}
