.contacts {
  @include pageGrid;

  row-gap: 48px;
  padding-block: 80px 120px;

  @include onTablet {
    padding-block: 120px 102px;
  }

  @include onDesktop {
    padding-block: 180px 164px;
  }

  &__title {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 48px;
  }

  &__form {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__input {
    height: 48px;
    margin-bottom: 16px;
    border-radius: 40px;
  }

  &__textarea {
    height: 148px;
    margin-bottom: 32px;
    border-radius: 16px;
    resize: none
  }

  &__input, &__textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 16px;
    color: #7e7e83;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: #f8f8fa;

    &:hover,
    &:focus {
      @include transitionDefault(all);

      color: #292929;
      outline: none;
      border: 1px solid #d5d7de;
    }

    &:valid {
      color: #292929;
    }
  }

  &__button {
    width: 100%;
  }

  &__info {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 2;
    }

    @include onDesktop {
      grid-column: 8 / -3;
    }
  }
}

