.contacts {
  display: flex;
  flex-direction: column;
  gap: 48px;

  &__box-1,
  &__box-2 {
    width: 237px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: left;
    flex-wrap: wrap;
    @media (min-width: 744px) {
      width: 600px;
      max-height: 450px;
    }
    @media (min-width: 1260px) {
      flex-direction: row;
      width: 1020px;
      justify-content: space-between;
    }
  }

  &__info {
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  &-title-1 {
    font-family: Cinzel;
    font-weight: 700;

    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
  }
}

.info {
  &__title {
    padding-bottom: 16px;
  }
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__phone,
  &__adress {
    font-weight: 400;
    padding-bottom: 4px;
  }
  &__phone-ph {
    padding-bottom: 8px;
  }
}
.contacts__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 1260px) {
  .contacts__form > * {
    width: 410px;
  }
}
.contacts__input {
  &-name,
  &-email,
  &-message {
    box-sizing: border-box;
    width: 280px;
    height: 144px;
    padding-left: 20px;
    background-color: #f8f8fa;

    @media (min-width: 1260px) {
      width: 410px;
    }
    &::placeholder {
      color: #7e7e83;
    }
  }

  &-name,
  &-email {
    height: 48px;
  }
  &-message {
    padding-top: 10px;
  }
}

.contacts__btn {
  padding-top: 16px;
}
.main__btn {
  width: 280px;
  @media (min-width: 1260px) {
    width: 410px;
  }
}
