.contuct-us {
   display: grid;
   row-gap: 48px;

   @include onTablet {
    row-gap: 80px;
   }
    @include onDeskstop {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 111px;

    }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__info-title {
    color: #191919;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    margin-bottom: 8px;
  }

  &__info-link {
    display: inline-block;
    text-decoration: none;
    color: #191919;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;

    @include hover(transform, scale(1.2));
  }


}
