.contact-us {
  &__content {
    @include pageGrid;
    row-gap: 48px;
  }

  &__form {
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: 1 / 7;
    }

    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    font-family: inherit;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__form-input {
    display: block;
    box-sizing: border-box;
    color: $main-text-color;
    height: 48px;
    padding: 14px 16px;
    border-radius: 8px;
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;

    &:hover {
      &::placeholder {
        color: $main-text-color;
      }
    }

    @include hover (border-color, #dbdbdb);

    &:focus {
      outline: $accent-color solid 2px;
    }
  }

  &__message {
    font-family: inherit;
    height: 148px;
    resize: none;
  }

  &__info {
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: 8 / 13;
    }

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__link {
    text-decoration: none;
  }

  &__info-name {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: #9393a3;
  }

  &__info-value {
    letter-spacing: 0.15px;
    margin: 0;
    text-decoration: none;
    color: $main-text-color;
  }
}
