.contacts {
  &__container {
    margin-bottom: 100px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include onTablet {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    @include onDesktop {
      gap: 111px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 48px;

    &-text {
      @include titleText;

      @include onDesktop {
        font-size: 48px;
      }
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include onDesktop {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-title {
      margin-bottom: 8px;
      line-height: 27px;
    }

    &-block {
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: #3e3e3e;
    }

    &-link {
      transition: 0.5s;
    }

    &-link:hover {
      color: $red-color;
      transition: 0.5s;
    }

    &--small {
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
      color: $main-color;
    }
  }
}
