.contacts-info {
  display: grid;
  row-gap: 24px;
  height: fit-content;

  &__title {
    margin-bottom: 8px;
    
    &:hover {
      color:#7E7E83;
    }
  }

  &__phone-number {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }
}
