.details {
  padding-top: 92px;

  @include onTablet {
    padding-top: 120px;
  }

  @include onDesktop {
    padding-top: 144px;
  }

  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 48px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      margin-bottom: 48px;
    }
  }

  &__link-button {
    @include pageGrid;
  }

  &__button {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: 5 / -5;
    }
  }
}
