.details {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 64px;
    }
  }
}

.detail {
  &__photos {
    @include pageGrid;
  }

  &__link {
    position: relative;

    &--wide {
      @include onTablet {
        grid-column: span 4;
      }

      @include onDesktop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include onTablet {
        grid-column: span 2;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all $effectduration;

    &:hover {
      transform: scale(105%);
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin: 16px 0 8px;
  }

  &__explore {
    height: 56px;
    margin-top: 40px;
    @include buttonGrid;
  }

  &__button {
    border: none;
    border-radius: 40px;


    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 5 / 9;
    }
  }
}

#send {
  grid-column: 1 / -1;
}
