.form {
  grid-column: 1 / -1;

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    font-family: $main-font;
    font-size: 14px;
    background-color: $btn-color;
    border-radius: 8px;
    border: 1px solid $btn-color;
    margin-bottom: 16px;
    padding-left: 16px;
    outline: none;
    transition: $effect-duration;

    &::placeholder {
      color: $placeholder-color;
      transition: $effect-duration;
    }

    &:hover {
      border-color: $input-border-color;

      &::placeholder {
        color: $main-text-color;
      }
    }

    &:focus {
      border-color: $main-text-color;
    }
  }

  &__message {
    resize: none;
    height: 148px;
    padding: 16px 14px;
  }

  &__button {
    width: 100%;
    height: 56px;
    background-color: $main-text-color;
    color: white;
    border-radius: 8px;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 16px;
    border-style: none;
    transition: $effect-duration;
    cursor: pointer;

    &:hover {
      background-color: $btn-color;
      color: $main-text-color;
      border: solid 2px $btn-border-color;
    }

    &:active {
      background-color: rgba(17, 17, 17, 1);
      color: white;
      border: none;
    }

    @include btn-active;
  }

  @include on-desktop {
    grid-column: 1 / 6;
  }
}
