.input,
.select,
.textarea {
  box-sizing: border-box;
  padding: 14px 16px;
  width: 100%;
  color: #292929;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid transparent;
  border-radius: $button-border-radius;

  &:focus {
    outline: none;
    color: #292929;
    border-color: #292929;
  }

  &::placeholder {
    color: #7e7e83;
  }
}
