.form {
  &__input {
    @include set-dimensions(100%, 48px);

    margin-bottom: 16px;
  }

  &__textarea {
    @include set-dimensions(100%, 148px);

    display: block;
    margin-bottom: 32px;
    padding-block: 14px;
    resize: none;
  }

  &__input,
  &__textarea {
    font:
      0.88rem / 1.4 'Space Mono',
      monospace;
    padding-inline: 16px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: $form-bg-color;
    color: $input-text-color;

    &::placeholder {
      color: $form-placeholder-color;
    }

    @include hover(border-color, $input-hover-border-color);

    &:focus {
      border: 1px solid $input-focus-border-color;
    }
  }
}
