.main-btn {
  @include set-dimensions(100%, 56px);

  display: flex;
  align-items: center;
  justify-content: center;
  font:
    700 1rem / 1.7 'Space Grotesk',
    sans-serif;
  color: $main-btn-text-color;
  background-color: $main-btn-color;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all $effect-duration;

  &:hover {
    background-color: $main-btn-hover-color;
    border-color: $main-btn-hover-border-color;
    color: $main-btn-hover-text-color;
  }

  &:active {
    background-color: $main-btn-active-color;
    border-color: transparent;
    color: $main-btn-active-text-color;
  }

  &--pc-small {
    @include on-desktop {
      width: 324px;
    }
  }
}
