.main {
  background-color: rgb(29, 29, 29);

  padding: 20px 60px;

  @include onTablet {
    padding: 72px 120px;
  }

  @include onDesktop {
    padding-inline: 120px;
  }

  &__content {
    max-width: 1260px;
    margin: 0 auto;
  }
}
