.main {
  background-color: $main-bg-color;
  
  &__content {
    display: grid;
    row-gap: 92px;
    padding-block: 92px;

    @include onTablet {
      row-gap: 120px;
      adding-block: 120px;
    }
  }
}
