.main {
  background-color: $white-color;

  &__content-second-type {
    display: grid;
    row-gap: 96px;
    padding-block: 96px;

    @include onTablet {
      row-gap: 120px;
      padding-block: 120px;
    }
  }

  &__content-second-type:last-child {
    padding-bottom: 0;
  }

  &__content-first-type {
    display: grid;
    row-gap: 64px;
    padding-top: 64px;

    @include onTablet {
      row-gap: 120px;
      padding-top: 120px;
    }
  }
}
