.middle-background {
 &__image {
  display: block;
  height: 200px;
  width: 100%;
  margin: 0 auto;

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
  }
 }
}

