.move-free {
  @include pageGrid;
  
  padding-top: 60px;
  row-gap: 32px;

  @include onTablet {
    padding-top: 120px;
  }

  @include onDesktop {
    padding-top: 120px;
  }

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__description {
    grid-column: 1 / -1;
    font-size: 23px;
    line-height: 32px;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }
}
