.products{
  @include responsive-width;

  @include on-desktop{
    &__container{
      display: grid;
      column-gap: 24px;
      grid-template-columns: repeat(12, 63px);
    }
  }

  &__title{
    font-size: 32px;
  }

  &__title-padding{
    padding-bottom: 48px;

    @include on-tablet{
      padding-bottom: 56px;
    }
  }

  &__product{
    padding-bottom: 40px;

    @include on-tablet{
      padding-bottom: 56px;
    }

    @include on-desktop{
      &--first{
        grid-column: 1 / 5;
      }
      &--second{
        grid-column: 5 / 9;
      }
      &--third{
        grid-column: 9 / -1;
      }
    }

    &-img{
      padding-bottom: 24px;
      img{
        width: 100%;
        height: auto;
        object-fit: cover;

        @include hover(transform, scale(110%));
      }
    }

    &-title{
      font-size: 18px;
    }

    &-text{
      font-family: $smallerFont;
      font-weight: 400;
      font-size: 16px;
      padding-bottom: 12px;
    }

    &-price{
      font-size: 16px;
    }
  }
}


