.product {
  &__photo {
    width: 100%;

    @include image-hover(1.2);
  }

  &__title, &__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
}
