.product {
  &__photo {
    width: 100%;
    margin-bottom: 24px;
    row-gap: 40px;

    @include hover-zoom;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;

    margin: 0 0 8px;
  }

  &__category {
    font-weight: 400;
    letter-spacing: 0.15px;

    margin: 0 0 12px;
  }

  &__price {
    font-weight: 700;
    margin: 0;
  }
}
