.recommended {
  &__products {
    @include page-grid;

    row-gap: 40px;

    cursor: pointer;
  }

  &__product {
    grid-column: 1 / -1;

    transition: transform $transition-speed;

    &:hover {
      transform: scale(1.1);
    }

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
