.section__title {
  font-size: 32px;
  font-weight: $font-weight-bg;
  line-height: 100%;
  margin-bottom: 48px;

  @include onTablet {
    font-size: 40px;
    margin-bottom: 56px;
  }

  @include onDeskstop {
    font-size: 48px;
  }
}
