.section-header {
  &__overtext {
    @include text-cinzel($c-main-accent);

    font-weight: $fw-bold;

    font-size: 12px;
    line-height: 16.8px;
  }

  &__main {
    @include text-cinzel($c-dark-ink);

    font-weight: $fw-bold;
    letter-spacing: -1.5px;

    @include on-mobile {
      font-size: 32px;
      line-height: 32px;
    }

    @include on-tablet-and-up {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__subtext {
    @include text-cinzel($c-dark-ink);

    font-weight: $fw-normal;

    font-size: 16px;
    line-height: 27px;
  }
}
