.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-family: Cinzel, serif;
  font-weight: 700;
  font-weight: Bold;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;

  @include on-tablet {
    font-size: 48px;
    line-height: 48px;
  }

  &--align--left {
    text-align: left;
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 48px;
    }
  }

  &--align--left::before {
    content: 'Plan your visit';
    display: block;
    color: $accent-main-color;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 140%;
  }

  &--view::after {
    content: 'Explore exhibition gallery\A guides, videos, articles, and\A more.';
    display: block;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    white-space: pre-line;

    @include on-tablet {
      content: 'Explore exhibition gallery guides, videos,\A articles, and more.';
    }

    @include on-desktop {
      content: 'Explore exhibition gallery guides,\A videos, articles, and more.';
    }
  }

  &__break--table {
    display: none;

    @include on-tablet {
      display: inline;
    }

    @include on-desktop {
      display: none;
    }
  }

  &__break--mobile-desltop {
    @include on-tablet {
      display: none;
    }

    @include on-desktop {
      display: inline;
    }
  }
}
