.section-title {
  margin: 0;
  margin-bottom: 48px;

  font-size: 32px;
  font-weight: 700;

  @include onTablet {
    margin-bottom: 56px;
    font-size: 40px;
  }

  @include onDesktop {
    margin-bottom: 56px;
    font-size: 48px;
  }

  &____footer {
    @include pageGrid;
    grid-column: 1 / 7;
  }
}
