.world-of-bo {
  padding: 48px 20px;
  background-color: #fcfaef;

  @include onTablet {
    padding: 0 120px;
    padding-block: 120px;
  }

  &__wrapper {
    @include pageGrid;

    align-items: center;
  }

  &__title {
    margin: 0;
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__description {
    margin: 0;
    grid-column: 1 / -1;
    font-weight: 400;
    letter-spacing: 0.15px;

    @include onTablet {
      grid-column: 4 / -1;
    }

    @include onDesktop {
      grid-column: 9 / -1;
    }
  }
}
