.world-of-bo {
  padding-block: 48px;
  background-color: #fcfaef;

  @include onTablet {
    padding-block: 120px;
  }

  &__wrapper {
    @include pageGrid;
  }

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__description {
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.15px;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / -1;
    }

    @include onDesktop {
      grid-column: 8 / -1;
    }
  }
}
