.menu {
  height: 100vh;

  background-color: $color-gray-primary;
  color: $color-dark-primary;
  font-weight: 600;
  text-transform: uppercase;
  overflow: auto;

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $color-gray-primary;
  }

  &__bottom {
    padding-block: 24px;

    @include onTablet {
      padding-top: 8px;
    }

    @include onDesktop {
      padding-top: 24px;
    }
  }

  &__phone-number {
    display: block;
    width: fit-content;
    margin-top: 40px;

    font-size: 16px;
    line-height: 1.69em;

    @include onDesktop {
      @include hover(scale, 1.1);
    }
  }

  &__book-test-ride {
    position: relative;
    display: block;
    width: fit-content;
    margin-top: 16px;
    padding-bottom: 8px;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;

    @include onDesktop {
      @include hover(scale, 1.1);
    }

    &::after {
      position: absolute;
      bottom: 0;

      content: "";
      display: block;
      width: 100%;
      height: 1px;

      border-radius: 5px;
      background-color: $color-dark-primary;
    }
  }
}
