.button {
  cursor: pointer;
  height: 56px;

  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  color: $secondary-color;
  background: $main-color;
  border: none;
  border-radius: 40px;

  position: relative;
  transition: box-shadow $effect-duration ease;
  box-shadow: 1px 4px 16px 1px;

  &:hover {
    height: 56px;
    width: 100%;
    background-color: $button-color;
    box-shadow: $button-hover-effect;
  }

  &:active {
    box-shadow: $button-pressed-effect;
  }
}
