.details {
  &__heading {
    margin: 145px 0 56px;
  }

  &__images {
    grid-template-columns: 2fr 1fr;
    gap: 24px;

    &--type-2 {
      grid-template-columns: 1fr 2fr;
    }
  }

  &__image {
    object-fit: cover;
    height: 320px;
  }

  &__description_heading {
    margin: 15px 0 10px;
  }

  &__description {
    width: 66%;
    margin-bottom: 45px;
  }

  &__button {
    width: 324px;
  }
}
