.about-us {
  @include pageGrid;

  &____title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desctop {
      grid-column: span 5;
    }
  }
  &__content {
    grid-column: 1 / -1;

    @include on-desctop {
      grid-column: span 5;
    }

    @include on-tablet {
      grid-column: 4 / 7;
    }
  }

  &__history {
    display: grid;
    row-gap: 16px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    font-weight: bold;
  }

  &__description {
    margin: 0;
    line-height: 24px;
  }
}
