.about-us {
  &__content {
    @include page-grid;
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 23px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
}
