@import '../utils/mixins';

.about-us {
  @include page-grid;
  background-image: url(../images/about_us.png);
  background-size: cover;
  background-position: center;

  &__content {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  &__history {
    display: grid;
    row-gap: 16px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    font-weight: bold;
  }

  &__description {
    margin: 0;
    line-height: 24px;
  }

  &__bottom {
    padding-bottom: 40px;

    @include content-padding-inline;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }
}
