.button {
  box-sizing: border-box;
  background-color: $main-text-color;
  padding: 14.5px 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 40px;
  width: 100%;
  margin-inline: auto;
  border: none;

  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: #1d1d1d;
  text-decoration: none;

  @include hover(box-shadow, 1px 4px 16px 0 #e8e8f066);
  @include active(box-shadow, 1px 4px 16px 0 #e8e8f0a3);

  @include on-tablet {
    max-width: 392px;
  }

  @include on-desktop {
    max-width: 324px;
  }
}
