.button {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  background-color: #f98921;
  @include onDesktop {
    grid-column: 1/5;
  }

  &__text {
    font-weight: 700;
    line-height: 27px;
    color: #fff;
  }

  &:hover {
    background-color: #1b2129;
  }

  &:active {
    background-color: #010810;
  }

  &__container {
    width: 100%;
    display: flex;
    margin: 40px 0 96px;
    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &--primary {
    border: 0;
    color: #fff;
    margin: 32px 0 48px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    font-family: "Manrope", sans-serif;
    @include onTablet {
      margin: 32px 0 120px;
    }
  }
}
