.button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-inline: auto;
  height: 56px;

  color: $primary-white;

  background-color: $acccent-color;

  transition: background-color $transition-time;

  &:hover {
    background-color: $main-hover-color;
  }

  &:focus {
    background-color: $main-hover-color;
  }

  &:active {
    background-color: $main-active-color;
  }
}
