.categories {
  padding-left: 20px;
  padding-right: 20px;
}

.categories__good-list {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .categories__good-list {
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
  }
}

.categories__good {
  padding-bottom: 40px;
}

.categories__header {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.categories__photo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.categories__photo img {
  width: 100%;
}

.categories__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 16px;
}
