.compare {
  &__title {
    margin-bottom: 48px;
  }

  &__cards {
    @include page-grid;

    row-gap: 40px;
  }

  &__card {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 2/6;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
