.comparison {
  margin-top: 92px;

  @include on-tablet {
    margin-top: 132px;
  }

  @include on-desktop {
    margin-top: 164px;
  }

  &__products{
    @include page-grid;

    row-gap: 48px;
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
