.container {
  padding-inline: 20px;
  max-width: 1260px;
  margin-inline: auto;
  background-color: $primary-white;

  @media (min-width: $tablet-size) {
    padding-inline: 72px;
  }

  @media (min-width: $desktop-size) {
    padding-inline: 120px;
  }
}
