.contact-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 14px;
  line-height: 140%;

  &__title {
    margin-bottom: 8px;
  }

  &__link {
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;

    @include hover (color, $color-silver);
  }
}