.contacts-call {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: $color-text-white;

  &--hover {
    text-align: right;
    margin-bottom: 0;
    padding-right: 16px;
    position: absolute;
    // text-shadow: 18px 4px 26px ;
    transform: translateX(-100%) translateY(-35%);
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition-time;

    &:hover {
      opacity: 1;
      pointer-events: all;
    }
  }

  &--margin-bottom {
    margin-bottom: 16px;
  }

  &__margin {
    margin-bottom: 8px;
  }

  &__margin-none {
    margin-bottom: 0;
  }

  &__link {

    text-decoration: none;
    width: fit-content;
    position: relative;
    color: inherit;

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $color-text-white;

      transition: transform $transition-time ease-in;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__hover {
    text-decoration: none;
    box-sizing: content-box;
    position: relative;
    text-decoration-style: solid;
    color: inherit;

    &::after {
      left: 0;
      content: "";
      position: absolute;
      bottom: -3px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $color-text-white;

      transition: transform $transition-time ease-in;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
