@import '../utils/mixins';

.contacts {
  position: absolute;
  background: #f9f9f9;
  border-radius: 8px;

  @include content-padding-inline;

  .contact-us-form {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }


  .contact-input {
    margin-bottom: 12px;

    label {
      font-family: Manrope, sans-serif;
      font-size: 14px;
      color: #7e7e83;
    }

    input,
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-family: Manrope, sans-serif;
      font-size: 14px;
    }
  }

  .submit-button {
    padding: 12px 48px;
    background-color: #1b2129;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    text-align: center;
    cursor: pointer;

    @include hover(background-color, #333);
  }
}


@include on-tablet {
  .contacts {
    width: 498px;
    left: calc(50% - 498px / 2 - 261px);
    top: 4242px;
  }

  .contact-input {
    margin-bottom: 12px;

    label {
      font-size: 14px;
    }

    input,
    textarea {
      font-size: 14px;
    }
  }

  .submit-button {
    padding: 12px 48px;
  }
}

@include on-desktop {
  .contacts {
    width: 600px;
    left: calc(50% - 600px / 2);
    top: 5883px;
  }

  .contact-input {
    margin-bottom: 20px;

    label {
      font-size: 16px;
    }

    input,
    textarea {
      font-size: 16px;
      padding: 16px;
    }
  }

  .submit-button {
    padding: 16px 56px;
  }
}


.phone,
.email,
.address {
  position: absolute;
  width: 392px;
  height: 50px;
  left: 72px;
}

.phone {
  top: 6327px;
}

.email {
  top: 6401px;
}

.phone,
.email {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #9393a3;
}

.address {
  top: 6475px;
  height: 96px;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #191919;
}


.phone-info,
.email-info,
.address-info {
  position: absolute;
  width: 392px;
  height: 22px;
  left: 72px;

  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.15px;
  color: #191919;
}

.phone-info {
  top: 6355px;
}

.email-info {
  top: 6429px;
}

.address-info {
  top: 6503px;
}
