.contacts {
  &__wrapper {
    @include pageGrid;
  }

  &__contacts-wrapper {
    grid-column: 1 / - 1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 8 / 13;
    }

  }

  &__item-wrapper {
    margin-bottom: 24px;
  }

  &__item {
    line-height: 22.4px;
    color: #9FADC2;
    margin: 0;

    &--name {
      margin-bottom: 8px;
    }
    &--link {
      color: #3E3E3E;
      text-decoration: none;
      text-transform: 0.5s;

      &:hover {
        color: #9FADC2;
      }
    }
  }
}
