.contact-us {
  &__container {
    @include page-grid;
  }

  &__form {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__input {
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 14px 16px;
    margin-bottom: 16px;
    width: 100%;
    height: 48px;
    font-size: 14px;

    @include style-forms;

    &:hover {
      border: 1px solid #d5d7de;
    }

    &::placeholder {
      font-family: 'Space Mono', monospace, 'Space Grotesk', Arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__message {
    font-family: inherit;
    border: 1px solid transparent;
    resize: none;
    box-sizing: border-box;
    padding: 14px 16px;
    margin-bottom: 32px;
    height: 148px;
    width: 100%;
    font-size: 14px;

    @include style-forms;

    &:hover {
      border: 1px solid #d5d7de;
    }
  }

  &__button {
    box-sizing: border-box;
    height: 56px;
    width: 100%;
    font-weight: 700;
    color: #fff;
    line-height: 27px;
    border: 2px solid #f0f1f4;
    border-radius: 8px;
    background-color: #292929;
    grid-column: 1 / -1;
    margin-bottom: 48px;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
      transition-duration: 0.3s;
      background-color: #f8f8fa;
      color: #292929;
    }

    &:active {
      background-color: #111;
      color: #fff;
    }

    @include on-tablet {
      margin-bottom: 80px;
    }

    @include on-desktop {
      margin: 0;
      grid-column: span 5;
    }
  }

  &__ways {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__type {
    font-size: 14;
    font-weight: 400;
    color: #9393a3;
  }

  &__communication {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #191919;
  }
}
