.contacts {
  margin: 0;
  padding: 0;
  &__title {
    row-gap: 48px;
  }

  @include onTablet {
    row-gap: 120px;
  }

  @include onDesktop {
    row-gap: 180px;
  }
}

.contact {
  &__form-and-info {
    @include pageGrid;
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: 1 / 6;
    }
    &--button {
      margin-bottom: 32px;
      height: 56px;
      background-color: #fff;
      border-radius: 40px;
      cursor: pointer;
      &--text {
        font-weight: 700;
        font-style: bold;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        color: #1d1d1d;
      }
    }
    &--info {
      margin: 0;
      text-align: left;
      grid-column: 1 / -1;

      @include onTablet {
        grid-column: span 3;
      }

      @include onDesktop {
        grid-column: 8 / 11;
        margin-top: 0;
      }
    }
  }
}

.info__item {
  margin: 0;
  color: #fff;
  text-align: left;
  &--title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
  }
  &--text {
    color: #fff;
    margin: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    &:hover {
      color: #7e7e83;
    }
  }
  &--maps {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #7e7e83;
    }
  }
  &--tel {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #7e7e83;
    }
  }
  &--email {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #7e7e83;
    }
  }
}

.form__input {
  border-radius: 40px;
  height: 48px;
  padding: 14px 16px;
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
  }
}

.form__textarea {
  display: grid;
  height: 148px;
  border-radius: 16px;
  color: #f8f8fa;
  resize: none;
  &--text {
    font-weight: 400;
    height: 120px;
    font-size: 14px;
    line-height: 20px;
    color: #7e7e83;
    padding: 14px 16px;
  }
}
