.contacts-call {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: $color-text-white;

  &--hover {
    margin-bottom: 0;
    display: none;
    width: max-content;
    padding-right: 16px;
    text-align: right;
    position: absolute;
    text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
    transform: translateX(-100%) translateY(-35%);
  }

  &--margin-bottom {
    margin-bottom: 16px;
  }

  &__margin{
    margin-bottom: 8px;
  }

  &__margin-none {
    margin-bottom: 0;
  }

  &__link {
    text-decoration: none;
    @include borderBottom;
    width: fit-content;
    position: relative;
    color: inherit;
  }

  &__hover {
    display: block;
    text-decoration: none;
    color: $color-text-white;
  }
}
