.details {
  padding-top: 92px;
  @include contentPadding;

  @include onTablet {
    padding-top: 120px;
  }
  @include onDesktop {
    padding-top: 144px;
  }
  &__button {
    display: flex;
    justify-content: center;

    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 324px;
      height: 56px;
      background: #fff;
      border-radius: 40px;
      font-weight: 700;
      text-align: center;
      color: $menu-text-color;
      text-decoration: none;
      transition: transform 1s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__title {
    padding-bottom: 48px;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -1.5px;
    text-transform: capitalize;

    @include onTablet {
      padding-bottom: 64px;
      font-size: 48px;
    }
    @include onDesktop {
      padding-bottom: 48px;
      font-size: 64px;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 48px;

    @include onDesktop {
      max-width: 672px;
    }
  }
}

.image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);

    &__photo:first-child {
      grid-column: span 4;
    }
    &__photo:last-child {
      grid-column: span 2;
    }
    .image-last:first-child {
      grid-column: span 2;
    }
    .image-last:last-child {
      grid-column: span 4;
    }
    gap: 24px;
  }
  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    &__photo:first-child {
      grid-column: span 8;
    }
    &__photo:last-child {
      grid-column: span 4;
    }
    .image-last:first-child {
      grid-column: span 4;
    }
    .image-last:last-child {
      grid-column: span 8;
    }
  }
  &__photo {
    max-height: 320px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
