.details {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }
  }

  &__button {
    @include page-grid;

    width: 100%;
    justify-content: center;
  }
}
