.explore-online {
  &__title {
    text-align: center;
    margin-bottom: 40px;

    @media (min-width: $tablet-size) {
      margin-bottom: 48px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 48px;

    @media (min-width: $desktop-size) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
    }
  }
}

.card {
  display: block;
  transition: $transition-time;

  &:hover {
    transform: scale(1.1);
  }

  &__photo {
    display: flex;
    justify-content: center;
    margin: 0 auto 24px;
    width: 100%;

    @media (min-width: $tablet-size) {
      margin-bottom: 32px;
    }
  }

  &__title {
    margin-bottom: 4px;
    color: $acccent-color;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
  }

  &__desc {
    /* stylelint-disable-next-line */
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
  }
}
