@use '../mixins';

.explore-online {
  text-align: center;

  &__article {
    padding-bottom: 48px;

    &:nth-last-of-type(1) {
      padding-bottom: 0;
    }

    @include mixins.on-desktop {
      grid-column: span 4;
      padding-bottom: 0;
    }
  }

  &_description {
    font-family: Roboto, serif;
    font-variation-settings: 'wdth' 100;
    text-align: center;
  }
}
