.footer {
  height: 200px;
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-image: url("../images/bg-footer.png");
  background-size: cover;
  background-position: center;


  @include onTablet {
    height: 400px;
    background-image: url("../images/bg-footer-md.png")
  }

  @include onDesktop {
    height: 460px;
    background-image: url("../images/bg-footer-lr.png")

  }
}
