.footer {
  height: 180px;
  background-image: url(../images/footer-bgi.png);
  background-size: cover;
  background-position: 50%;

  @media (min-width: $tablet-size) {
    height: 359px;
  }

  @media (min-width: $desktop-size) {
    height: 359px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
