@use '../mixins';

.footer {
  position: sticky;
  z-index: -1;
  bottom: 0;

  height: 25vh;

  background-image: url('../images/footer-background.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include mixins.on-desktop {
    height: 50vh;
  }

  @include mixins.on-large {
    height: 40vh;
  }
}
