.form-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  background-color: #f8f8fa;
  border: 1px solid transparent;
  border-radius: 40px;
  padding: 14px 16px;

  &--textarea {
    height: 148px;
    border-radius: 16px;
    resize: none;
  }
}
