.form {
  display: flex;
  flex-direction: column;

  &__input {
    @include input-and-button-wiew;

    transition: box-shadow $transition-time;

    box-sizing: border-box;
    height: 48px;
    padding: 14px 16px;
    margin-bottom: 16px;

    font-size: 14px;
    line-height: 20px;
    color: $input-color;

    &::placeholder {
      color: #7e7e83;
    }

    &:hover {
      border: 1px solid #d5d7de;
      &::placeholder {
        color: $input-color;
      }
    }

    &:focus {
      border: 1px solid $input-color;
    }
  }

  &__input--textarea {
    height: 148px;
    margin-bottom: 32px;
    border-radius: 16px;
  }
}
