.good {
  margin-bottom: 40px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    @media (min-width: 1200px) {
      max-height: 362px;
    }

  }


  &__item {
    padding-top: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  &__price {
    font-weight: 700;
    padding-top: 12px;
  }
}
