.header {
  background-image: url(../images/bg.svg);
  background-size: cover;
  background-position: 50%;
  
  &__content {
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 28px 20px 40px;
    display: flex;
    flex-direction: column;
  }
  
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-family: "Manrope", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1.5px;
    display: block;
    
  }
  
  &__container {
    display: flex;
    gap: 40px;
  }
}
