.header {
  background-image: url(../Images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  &__title {
    margin: 0;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 56px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 65px;
    }

    @include on-desktop {
      padding-bottom: 92px;
    }
  }
}
