.header {
  padding: 25px 20px 30px;
  height: 100vh;
  background-image: url(../images/header-background.png);
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-size) {
    padding: 50px 72px;
  }

  @media (min-width: $desktop-size) {
    padding: 50px 120px;
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    display: flex;
    transition: transform $transition-time;

    &:hover {
      transform: scale(1.2);
    }

    @media (min-width: $tablet-size) {
      height: 65px;
      width: 87px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;

    @media (min-width: $tablet-size) {
      gap: 55px;
    }
  }

  &__title {
    margin-top: 130px;
    color: #fff;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;

    @media (min-width: $tablet-size) {
      margin-top: 140px;
      font-size: 64px;
      line-height: 64px;
    }

    @media (min-width: $desktop-size) {
      margin-top: 84px;
    }
  }
}
