.icon {
  display: block;
  width: 24px;
  height: 24px;

  &--phone {
    position: relative;
    background-image: url(../images/icons/icon-phone.svg);
    &::after {
      position: absolute;
      content: '+1 234 555-55-55';
      top: 20%;
      right: 100%;
      white-space: nowrap;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 2px;
      text-align: right;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #1b2129;
      opacity: 0;
      visibility: hidden;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}
