.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(../images/icons/icon-phone.svg);

    @include onDesktop {
      &::after {
        position: absolute;
        right: 116px;
        top: 50%;
        transform: translateY(-50%);
        animation: myAnimation 5s infinite;
        content: "+1 234 555-55-55";
        color: $color-white;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity $time-duration;
      }
      
      &:hover::after {
        opacity: 1;
      }
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}