/* #region icon */
.icon {
  height: 24px;
  width: 24px;
  background-size: cover;
  display: block;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../icons/icon-phone-mb.png);

    @include on-tablet {
      background-image: url(../icons/icon-phone.png);
    }
  }

  &--burger {
    background-image: url(../icons/icon-burger-mb.png);

    @include on-tablet {
      background-image: url(../icons/icon-burger.png);
    }

    &:hover {
      background-image: url(../icons/icon-burger-mb-hover.png);

      @include on-tablet {
        background-image: url(../icons/icon-burger-hover.png);
      }
    }
  }

  &--close {
    background-image: url(../icons/icon-close-mb.png);

    @include on-tablet {
      background-image: url(../icons/icon-close.png);
    }
  }
}

/* #endregion */
