.icon {
  width: 24px;
  height: 24px;
  display: block;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.2);
  }

  @include onTablet {
    height: 32px;
    width: 32px;
  }
  &--phone {
    background-image: url(../images/icons/icon-phone.svg);
  }
  &--menu {
    background-image: url(../images/icons/icon-burger-menu.svg);
  }
  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}

.icon--phone-wrapper {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (min-width: 1024px) {
  .icon--phone-wrapper:hover .icon--phone-hover {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.icon--phone-hover {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  letter-spacing: 2px;
  color: #fff;
  white-space: nowrap;
  margin-right: 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  transition: opacity 0.3s;
  display: inline-block;
  position: absolute;
  right: 100%;
}
