.icon {
  display: block;
  width: 24px;
  height: 24px;
  transition: 1s;

  &--phone {
    position: relative;
    background-image: url(../images/icons/icon-phone.svg);
    &::after {
      position: absolute;
      content: '+1 234 555-55-55';
      top: 20%;
      right: 100%;
      white-space: nowrap;
      font-size: 12px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 2px;
      text-align: right;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #1b2129;
      opacity: 0;
      visibility: hidden;
      transition: 3s;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }

    @media (min-width: 744px) {
      background-image: url(../images/icons/icon-phone-big.svg);
      width: 32px;
      height: 32px;
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);

    &:hover {
      background-image: url(../images/icons/menu-hover.svg);
      background-repeat: no-repeat;
      margin: 0;
    }

    @media (min-width: 744px) {
      background-image: url(../images/icons/icon-burger-menu-big.svg);
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;

      &:hover{
        background-image: url(../images/icons/icon-menu-hover-big.svg);
      }
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}
