.main {
  padding-top: 60px;
  padding-bottom: 120px;

  &__container {
    display: grid;
    row-gap: 92px;

    @include onTablet {
      row-gap: 120px;
    }
  
    @include onTablet {
      row-gap: 144px;
    }
  }

  @include onTablet {
    padding-top: 120px;
  }

  @include onDesktop {
    padding-bottom: 182px;
  }
}