.main {
  &__content {
    @include contentPaddingBlock;
  }

  &__recomended {
    margin-bottom: 96px;
    @include onTablet {
      margin-bottom: 120px;
    }
  }

  &__categories {
    margin-bottom: 96px;
    @include onTablet {
      margin-bottom: 120px;
    }
  }

  &__about-us {
    margin-bottom: 104px;
    @include onTablet {
      margin-bottom: 120px;
    }
  }

  &__background {
    background-image: url(../images/main-background.png);
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 48px;

    @include onTablet {
      height: 400px;
      margin-bottom: 56px;
    }

    @include onDesktop {
      height: 460px;
    }
  }
}
