@use '../variables';
@use '../mixins';

* {
  margin: 0;
  padding: 0;
}

.page {
  scroll-behavior: smooth;

  font-family: Cinzel, serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  color: variables.$main-dark;
  letter-spacing: 0;

  transition-duration: 5000ms;

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}

.main {
  background-color: white;
}

.container {
  display: block;
  padding-inline: 20px;

  @include mixins.on-tablet {
    padding-inline: 72px;
  }

  @include mixins.on-desktop {
    max-width: 1260px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}
