.menu {
  height: 100vh;
  background: #c2c2c2;

  color: $secondary-color;
  font-weight: 600;
  text-transform: uppercase;

  overflow: auto;

  &__top {
    margin-bottom: 24px;

    background-color: #e5e5e5;

    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;

    color: inherit;
    line-height: 27px;
  }

  &__book-test {
    display: inline-block;
    border-bottom: 1px solid $secondary-color;
    padding-bottom: 7px;

    color: inherit;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-decoration: none;
  }
}
