.menu {
  height: 100vh;
  background-color: $menu-bc-color;
  font-weight: bold;
  overflow: auto;

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;

    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 56px;
    }
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__content {
    @include contentPaddingInline;
  }

  &__phone-number {
    @extend %menu-phone-call-style;

    margin-bottom: 16px;
  }

  &__call-to-order {
    @extend %menu-phone-call-style;

    padding-bottom: 7px;
    width: fit-content;
    border-bottom: 1px solid $main-text-color;
  }
}
