.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 25px 20px 30px;
  height: 100vh;
  background-color: $acccent-color;

  overflow: auto;

  opacity: 0;
  transition: all $transition-time;
  transform: translateX(100%);
  pointer-events: none;

  @media (min-width: $tablet-size) {
    padding: 50px 72px;
  }

  @media (min-width: $desktop-size) {
    padding: 50px 120px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:target {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }

  &__contacts{
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
  }

  &__phone-number {
    position: relative;

    color: $primary-white;
    font-weight: 700;
    font-style: Bold;
    text-transform: uppercase;

     &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $primary-white;

      transform: scale(0);
      transform-origin: left;
      transition: transform $transition-time;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__call {
    position: relative;
    
    margin-top: 8px;
    padding-bottom: 7px;

    color: $primary-white;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

     &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $primary-white;

      transform: scale(0);
      transform-origin: left;
      transition: transform $transition-time;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}

.nav {
  margin-top: 40px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-bottom: 32px;
  }

  &__link {
    position: relative;
    color: $primary-white;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;

    transition: transform $transition-time;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $primary-white;

      transform: scale(0);
      transform-origin: left;
      transition: transform $transition-time;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
