.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item {
    list-style: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: $color-text-white;
    @include borderBottom;
  }
}
