.nav {
  &__link {
    color: #1D1D1D ;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 2px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 32px;
    list-style: none;
  }
}
