.now-on-view {
  &__title {
    text-align: center;
  }

  &__desc {
    margin-top: 8px;
    font-weight: 400;
    font-style: Regular;
    text-align: center;
  }

  &__exhibition {
    margin-top: 48px;
  }

  &__link {
    margin-top: 40px;
    width: 280px;

    @media (min-width: $tablet-size) {
      width: 392px;
    }

    @media (min-width: $desktop-size) {
      width: 324px;
    }
  }
}

.old-masters {
  &__img-thumb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

    @media (min-width: $tablet-size) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 24px;
    }

    @media (min-width: $desktop-size) {
      grid-template-columns: 2fr 1fr;
    }
  }

  &__pic {
    display: flex;
    object-fit: cover;
    object-position: 30%;
    width: 100%;
    height: 100%;

    transition: transform $transition-time;

    &:hover {
      transform: scale(1.1);
    }

    @media (min-width: $tablet-size) {
      object-fit: contain;
    }
  }
}

.bodhisattvas {
  &__img-thumb {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;

    @media (min-width: $tablet-size) {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    @media (min-width: $desktop-size) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__pic {
    display: flex;
    width: 100%;
    height: 100%;

    transition: transform $transition-time;

    &:hover {
      transform: scale(1.1);
    }

    @media (min-width: $tablet-size) {
      &--third {
        display: none;
      }
    }

    @media (min-width: $desktop-size) {
      &--third {
        display: flex;
      }
    }
  }
}

.disney {
  &__img-thumb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

    @media (min-width: $tablet-size) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 24px;
    }

    @media (min-width: $desktop-size) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 24px;
    }
  }

  &__pic {
    display: flex;
    object-fit: cover;
    object-position: 100%;
    width: 100%;
    height: 100%;

    transition: transform $transition-time;

    &:hover {
      transform: scale(1.1);
    }

    @media (min-width: $tablet-size) {
      object-fit: contain;
    }
  }
}

.exh-name {
  margin-top: 24px;
  color: $acccent-color;
}

.exh-date {
  font-weight: 400;
  font-style: Regular;
}
