.picafterview {
  background-image: url(../images/picafterview.png);
  height: 200px;
  background-position: 50%;
  background-size: cover;

  @include onTablet {
    height: 400px;
  }

  @include onDesktop {
    height: 460px;
  }
}
