.place {
  &__photo {
    width: 100%;
    transition: all 0.3s;
    
    &:hover {
      transform: translateX(-5%) scale(110%);
    }
    
    &:nth-child(2n) {
      &:hover {
        transform: translateX(5%) scale(110%);
      }
    }
  }

  &__photo-container {
    box-sizing: border-box;
    display: flex;
    gap: 20px;
  }
}
