.product {
  @include hover(transform, translateY(-20px));

  &__photo {
    width: 100%;
    margin-bottom: 32px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;

    margin-bottom: 8px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;

    margin-top: 16px;
  }
}
