@import '../utils/mixins';

.recommended {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 700;
  font-style: 32px;
  line-height: 50%;
  text-align: center;
  letter-spacing: -1.5px;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__products {
    @include page-grid;

    row-gap: 40px;
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    &__text {
      font-family: 'Manrope';
      font-weight: 700;
      font-size: 16px;
      color: white;
      text-align: center;
    }
  }
}
