.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 64px;
  }

  &--align--left {
    text-align-last: left;
  }
}

