.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  color: $color-text-black;
  text-align: center;

  &--text-position {
    text-align: left;
  }

  @include onTablet {
    font-size: 48px;
    line-height: 48px;
  }

  &__article-name {
    font-size: 24px;
    line-height: 30px;
    color: inherit;
    margin-bottom: 16px;

    &--margin{
      margin-bottom: 4px;
      line-height: 32px;
      color: $color-red;
    }
  }
}
