.timeless {
  background-color: #fcfaef;

  &__container {
    
    padding-bottom: 48px;
    box-sizing: border-box;
    width: 100%;
    @media (min-width:744px) {
      display: flex;
      padding: 120px 0 72px;
    }
  }

  &__title {
    margin-right: 111px;
    padding: 48px 0 20px;
    text-align: left;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    @media (min-width:744px) {
      display: flex;
      align-items: start;
      font-size: 40px;
      line-height: 40px;
      padding: 0;
      width: 50%;
    }
  }

  &__text {
    line-height: 22.4px;
    letter-spacing: 0.15px;
    font-weight: 400;
    @media (min-width:744px) {
      text-align: left;
      width: 50%;
    }
  }
}
