.top-bar {
  padding-block: 24px;

  @include on-tablet {
    padding-block: 36px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    width: 130px;
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 190px;
      height: 56px;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    @include on-desktop {
      gap: 32px;
    }
  }

  &__icon {
    width: $icon-mobile-size;
    height: $icon-mobile-size;
    background-size: cover;

    @include on-tablet {
      width: $icon-tablet-size;
      height: $icon-tablet-size;
    }

    @include hover(transform, scale(1.2));
  }

  &__icon--phone {
    background-image: url(../img/icon-phone-call.svg);
  }

  &__icon--burger {
    background-image: url(../img/icon-burger-menu.svg);

    &:hover {
      background-image: url(../img/icon-burger-menu-hover.svg);
    }
  }

  &__icon--close {
    background-image: url(../img/icon-close.svg);
  }
}
