.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;

  @include onDesktop {
    padding-top: 50px;
  }


  &__logo {
    display: flex;
    @include hover (transform,scale(1.2));

    &-link {
      height: 46px;
      width: 64px;

      @include onTablet {
        height: 64px;
        width: 86px;
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    @include onTablet {
      gap: 50px;
    }
  }


}
