.header__top {
  margin: 0 auto;
  width: 100%;
  padding-top: 29px;

  @include onTablet {
    padding-top: 34px;
  }


  &__logo {
    display: flex;
    width: 130px;
    height: 38px;

    @include onTablet {
      width: 187px;
      height: 56px;
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include onTablet {
      gap: 24px;
    }
  }
}
