.about-us {
  margin-top: calc(60px - 36px);
  display: flex;
  gap: 32px;
  flex-direction: column;

  @include respond-up(tablet) {
    margin-top: calc(120px - 36px);
    flex-direction: row;
    gap: 24px;
  }

  &__title {
    @include respond-up(tablet) {
      width: 50%;
      flex-basis: 50%;
      max-width: none;
    }

    @include respond-up(desktop) {
      max-width: 411px;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;

    @include respond-up(tablet) {
      width: 50%;
      flex-basis: 50%;
      max-width: none;
    }

    @include respond-up(desktop) {
      max-width: 498px;
    }
  }
}
