.contacts {
  margin-top: 80px;
  margin-bottom: calc(120px - 36px);

  @include respond-up(tablet) {
    margin-top: 120px;
  }
  @include respond-up(desktop) {
    margin-top: 180px;
  }

  &__title {
    text-align: center;
    margin-bottom: 48px;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;

    @include respond-up(tablet) {
      flex-direction: row;
      gap: 24px;
    }
    @include respond-up(desktop) {
      gap: 198px;
    }
  }

  // form
  &__form {
    @include respond-to(tablet) {
      margin-inline: auto;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: 100%;
    max-width: 280px;

    margin-bottom: 3rem;

    @include respond-up(tablet) {
      max-width: 288px;
      margin-bottom: 0;
    }
    @include respond-up(desktop) {
      max-width: 411px;
    }
  }
  &__input {
    font-family: inherit;
    border-radius: 40px;
    padding: 14px;

    width: 100%;
  }
  &__textarea {
    font-family: inherit;
    border-radius: 16px;
    padding: 14px;
    resize: none;
    height: 148px;

    width: 100%;
  }
  &__button {
    margin-top: 1rem;

    width: 100%;
  }

  // address wrapper
  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;

    font-style: normal;
  }
  // address element wrapper
  &__label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 8px;
  }
  &__value {
    text-decoration: none;
    transition: color 0.2s;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $color-menu;
    }
  }
}
