.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 15px;

  a {
    text-decoration: none;
    color: #9393a3;
    font-size: 12px;
    transition: color 0.3s;

    &:hover {
      color: $main-text-color;
    }
  }
}
