.about-us {
  --colums: 2;

  display: grid;
  column-gap: 24px;

  grid-template-columns: repeat(var(--colums), 1fr);

  @include contentpadding;

  &--left {
    text-align: left;
  }

  @include mobile {
    --colums: 6;
  }

  @include desktop {
    --colums: 12;
  }

  &__title {
    text-align-last: left;
    grid-column: 1 / -1;

    @include mobile {
      grid-column: 1 / 4;
    }

    @include desktop {
      grid-column: span 5;
    }
  }

  &__paragraph {
    margin: 0;
    padding-top: 32px;
    grid-column: 1 / -1;

    @include mobile {
      padding-top: 120px;
      grid-column: 4 / 7;
    }

    @include desktop {
      grid-column: span 5;
    }
  }
}
