.aboutUs {
  padding: $paddingSmartphone;

  @include tablet {
    padding: $paddingTablet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    padding: $paddingDesktop;
  }

  &__titleBlock {
    margin-bottom: 32px;

    @include tablet {
      width: 288px;
    }

    @include desktop {
      width: 411px;
    }

    &--text {
      color: $redColor;
      font-family: Cinzel, sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
    }
  }

  &__timeContain {

    @include tablet {
      width: 288px;
    }

    @include desktop {
      width: 516px;
    }

    &--fifthAvenue {
      margin-bottom: 24px;
    }
  }
}
