.about {
  padding-bottom: rem(124);

  @include mobile-sm {
    padding-bottom: rem(106);
  }

  &__content {
    @include pagegrid;
  }

  &__title {
    grid-column: span 6;

    @include tablet-sm {
      grid-column: span 3;
    }

    @include mobile-sm {
      grid-column: span 2;
    }
  }

  &__description {
    font-family: $spacemono;
    grid-column: span 6;
    font-weight: fontweight(22.4, 16);

    @include tablet-sm {
      grid-column: span 3;
    }

    @include mobile-sm {
      grid-column: span 2;
    }
  }
}
