.about-us {
  padding: 60px 0 0;

  &__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1.5px;
    margin-bottom: 32px;

    @include onTablet {
      font-size: 48px;
      line-height: 48px;
      margin-right: 80px;
    }

    @include onDesktop {
      font-size: 64px;
      line-height: 64px;
      margin-right: 160px;
    }
  }

  &__text {
    width: 280px;
    font-size: 23px;
    font-weight: 500;
    line-height: 32px;

    @include onTablet {
      width: 288px;
    }

    @include onDesktop {
      width: 498px;
    }
  }

  @include onTablet {
    display: flex;
    padding-top: 120px;
  }
}
