.about-us {
  &__photo {
    width: 100%;
    height: 200px;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }

    background-image: url('../image/section_3_header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    @include page-grid;

    background-color: $about-us_bg_color;
    padding-block: 48px;

    @include on-tablet {
      padding-block: 120px;
    }
  }

  &__title {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.15px;

    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: -1/-6;
    }
  }
}
