.button {
  width: 100%;

  @include on-desktop {
    width: 324px;
  }

  &--contact-us {
    margin-top: 10px;
    padding: 0;
    border: none;
    cursor: pointer;

    @include on-desktop {
      width: 498px;
    }
  }

  display: flex;
  background-color: $main-color-of-button;
  color: $text-button;
  height: 56px;
  border-radius: 8px;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: $accent-font-weight;
  text-align: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, transform 0.4s ease-out;

  &:hover {
    background-color: $hover-color-button;
    transition: transform 0.4s;
    transform: scale(0.99);
  }

  &:active {
    background-color: $after-color-button;
  }
}
