.categories {
  &__title {
    @include main-title;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__item {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__images {
    display: flex;
    gap: 24px;
  }

  &__link {
    flex: 1;
    display: block;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      @include scale-with-transition;
    }
  }

  &__item-title {
    font-weight: 700;
    font-size: 18px;

    @include on-tablet {
      font-size: 24px;
    }
  }

  &__button {
    background-color: #f98921;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    color: #fff;
    border: none;
    padding: 0 48px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;

    @include animation-with-transition(background-color, #1b2129);

    &:focus {
      background-color: #010810;
    }

    @include on-desktop {
      max-width: 324px;
    }
  }
}
