.comparison {
  margin-bottom: 90px;

  @include on-md {
    margin-bottom: 120px;
  }

  @include on-lg {
    margin-bottom: 144px;
  }

  &__title {
    margin-bottom: 48px;

    @include on-lg {
      margin-bottom: 56px;
    }
  }
}
