.main__compare {
  display: grid;
  justify-items: center;
  justify-content: center;
  margin-inline: 20px;
  margin-bottom: 92px;

  @include onTablet {
    margin-inline: 176px;
    margin-bottom: 120px;
  }

  @include onDesktop {
    margin-inline: 120px;
    margin-bottom: 144px;
  }
}

.bike {
  &__container {
    display: grid;
    gap: 40px;
    width: 100%;

    @include onTablet {
      gap: 48px;
    }

    @include onDesktop {
      // grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
      grid-auto-flow: column;
      gap: 24px;
    }
  }

  &__thumb {
    @include onDesktop {
      max-width: 324px;
      min-width: auto;
    }
  }

  &__picture {
    width: 280px;
    height: 228px;
    margin-bottom: 32px;

    @include onTablet {
      width: 392px;
      height: 316px;
    }

    @include onDesktop {
      max-width: 324px;
      height: 256px;
    }
  }

  &__name {
    @include textNameStyling;
    margin-bottom: 8px;
  }

  &__description {
    @include textStyling;
    margin-bottom: 16px;
  }

  &__price {
    @include textNameStyling;
  }
}
