.contact {
  width: 100%;
  margin-bottom: 120px;

  @include on-xl {
    margin-bottom: 180px;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__container {
    @include page-grid;

    row-gap: 48px;
  }

  &__form-wrapper {
    grid-column: span 2;

    @include on-md {
      grid-column: span 3 / span 3;
    }

    @include on-lg {
      grid-column: span 5 / span 5;
    }
  }

  &__socials-wrapper {
    grid-column: span 2;

    @include on-md {
      grid-column: span 3 / span 3;
      grid-column-start: 4;
    }

    @include on-lg {
      grid-column: span 5 / span 5;
      grid-column-start: 8;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    row-gap: 16px;

    &__input {
      @include form-input;
    }

    &__textarea {
      @include form-textarea;

      resize: none;
    }

    &__submit {
      @include primary-button;

      margin-top: 16px;
    }
  }

  &-socials {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    &__item {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      &-title {
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0;
      }

      &-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0;

        color: $color-light-text;
        text-decoration: none;

        @include social-hover-light;
      }
    }
  }
}
