.contacts {
  &__wrapper {
    @include pageGrid;
    row-gap: 40px;
    column-gap: 24px;
    @include onTablet {
      row-gap: 48px;
    }
    @include onDesktop {
      justify-items: center;
    }
  }
}

.contact {
  row-gap: 16px;
  grid-column: 1 / -1;
  @include onTablet {
    grid-column: span 3;
  }
  @include onDesktop {
    grid-column: span 5;
  }
}

.form {
  &__input {
    width: 100%;
    border-radius: 16px;
    margin-bottom: 16px;
    height: 48px;
    background-color: #f8f8fa;
    border: none;
    outline: none;
    &--message {
      margin-bottom: 32px;
      padding-bottom: 148px;
    }
    &--button {
      width: 100%;
      border-radius: 40px;
      padding: 15px 0;
      cursor: pointer;
      background-color: $main-text-color;
      font-weight: 700;
      font-size: 16px;
      line-height: 27.7px;
      text-align: center;
      border: none;
      outline: none;
    }
  }
}

.adrress {
  margin: 0;
  grid-column: 1 / -1;
  @include onTablet {
    grid-column: span 3;
  }
  @include onDesktop {
    grid-column: span 5;
  }
  &__block {
    margin-bottom: 24px;
  }

  &__title {
    font-weight: 400;
    font-size: 14px;
    list-style: 19.6px;
    margin-bottom: 8px;
  }

  &__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    &--style-link {
      text-decoration: none;
      color: $main-text-color;
    }
  }
}

input:hover::placeholder {
  color: $placeholder-color;
  font-weight: 600;
}
