.contact-us {
  margin-bottom: 120px;

  @include on-desktop {
    margin-bottom: 182px;
  }

  &__title {
    @include text($text-title-size-mob...);

    text-align: center;
    margin-bottom: 48px;

    @include on-tablet {
      @include text($text-title-size-tab...);
    }

    @include on-desktop {
      @include text($text-title-size-desk...);
    }
  }

  &__form {
    height: 364px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-mobile {
      margin-bottom: 48px;
    }

    & > * {
      box-sizing: border-box;
      width: $width-mob;
      outline: none;

      @include on-tablet {
        width: $width-tab;
      }

      @include on-desktop {
        width: 412px;
      }
    }

    &--textarea {
      height: 148px;
      margin-bottom: 32px;
      padding: 14px 16px;
      border-radius: 16px;
      border: none;
      border-color: transparent;
      resize: none;
    }
  }

  &__input {
    height: 48px;
    padding: 14px 16px;
    margin-bottom: 16px;
    border-radius: 40px;
    border: none;
    border-color: transparent;
  }

  &__button {
    border: none;
    border-color: transparent;
    border-radius: 40px;

    font-weight: 700;
  }

  &__contacts-container {
    display: flex;
    flex-direction: column;

    left: 0;

    @include on-mobile {
      position: relative;
    }

    & > a {
      margin-bottom: 24px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    & a > p {
      color: $text-color;
    }
  }

  &__span {
    margin-bottom: 8px;

    @include text(14px, 19.6px, 400);
  }
}
