.contact-box {
  @include pagegrid;
  @include contentpadding;

  margin: 48px 0 120px;

  &__container {
    grid-column: 1 / -1;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include mobile {
      grid-column: 1 / 2;
      margin-bottom: 102px;
    }

    @include desktop {
      grid-column: 1 / 5;
      margin-bottom: 148px;
    }
  }

  &__boxes {
    grid-column: 1 / -1;

    @include mobile {
      grid-column: 4 / 5;
    }

    @include desktop {
      grid-column: 8 / 11;
    }
  }
}

.contact {
  &__phone {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $main-text-color;
  }
  &__email {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $main-text-color;
  }
  &__address {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $main-text-color;
  }
}

.contacts {
  &__phone__number {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: $main-text-color;

    &:hover {
      text-shadow: 1px 4px 16px 0 $contact-button-color-shadow-hover;
    }
  }

  &__email__address {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: $main-text-color;

    &:hover {
      text-shadow: 1px 4px 16px 0 $contact-button-color-shadow-hover;
    }
  }

  &__address__street {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: $main-text-color;

    &:hover {
      text-shadow: 1px 4px 16px 0 $contact-button-color-shadow-hover;
    }
  }
}
