.contacts {
  padding-bottom: 120px;

  @include ontablet {
    padding-bottom: 102px;
  }

  @include ondesktop {
    padding-bottom: 164px;
  }
  &__phone {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $text-color;

    @include onphone {
      margin-top: 48px;
      margin-bottom: 8px;
    }
  }

  &__number {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: $text-color;

    &:hover {
      text-shadow: 1px 4px 16px 0 $contact-button-color-shadow-hover;
    }
  }

  &__email {
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $text-color;
  }

  &__email__address {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: $text-color;

    &:hover {
      text-shadow: 1px 4px 16px 0 $contact-button-color-shadow-hover;
    }
  }

  &__street {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: $text-color;

    &:hover {
      text-shadow: 1px 4px 16px 0 $contact-button-color-shadow-hover;
    }
  }

  &__address {
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $text-color;
  }
}
