.contact-us {
  padding-bottom: rem(120);

  @include mobile-sm {
    padding-bottom: rem(64);
  }

  &__content {
    @include pagegrid;
  }

  &__title {
    grid-column: 1 / -1;
  }

  &__form {
    grid-column: span 5;

    .form {
      &__name,
      &__email {
        margin-bottom: rem(16);
      }

      &__message {
        height: rem(148);
        margin-bottom: rem(32);
      }
    }

    @include tablet-sm {
      grid-column: span 6;
      margin-bottom: rem(80);
    }

    @include mobile-sm {
      margin-bottom: rem(48);
    }
  }

  &__information {
    grid-column: 7 / -1;
    display: grid;
    grid-auto-rows: max-content;

    @include tablet-sm {
      grid-column: span 6;
    }

    &-caption {
      margin-bottom: rem(8);
      font-size: rem(14);
      color: #9393a3;
      line-height: lineheight(19.6, 14);
    }

    .desc {
      font-family: $spacemono;
      line-height: lineheight(22.4, 16);
      text-decoration: none;
      color: $main;

      &:not(:last-child) {
        margin-bottom: rem(24);
      }
    }
  }
}
