.details {
  &__container {
    @include page-grid;
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }

  &__items {
    grid-column: 1 / -1;

    display: grid;
    row-gap: 40px;
    margin-bottom: 40px;

    @include on-tablet {
      row-gap: 48px;
      margin-bottom: 48px;
    }
  }

  &__link {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 5 / -5;
    }
  }
}
