.details {
  &__photos {
    gap: 20px;

    @include ontablet {
      gap: 24px;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include hovertime;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    margin: 16px 0 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
  }

  &__text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;

    @include ontablet {
      margin-bottom: 48px;
    }
  }
}
