.details {
  margin-bottom: 80px;

  @include flex-col;

  align-items: center;

  @include on-tablet {
    margin-bottom: 120px;
  }

  @include on-desktop {
    margin-bottom: 180px;
  }

  &__title {
    @include text($text-title-size-mob...);

    text-align: center;
    margin-bottom: 48px;

    @include on-tablet {
      @include text($text-title-size-tab...);

      margin-bottom: 64px;
    }

    @include on-desktop {
      @include text($text-title-size-desk...);
    }
  }

  &__article {
    @include flex-col;

    max-width: 600px;

    @include on-mobile {
      margin-bottom: 40px;
    }

    @include on-tablet {
      grid-column: span 6;

      &:not(:last-of-type) {
        margin-bottom: 48px;
      }
    }

    @include on-desktop {
      max-width: 1020px;
      grid-column: span 12;

      &:not(:last-of-type) {
        margin-bottom: 48px;
      }
    }

    &--img-container {
      display: flex;
      justify-content: center;
      column-gap: 24px;

      margin-bottom: 16px;
    }
  }

  &__img-wrapper {
    overflow: hidden;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    box-sizing: border-box;
    padding: 0;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    overflow: hidden;

    @include hover(transform, scale(1.2), 0.3s);

    width: 100%;
    height: 100%;
  }

  &__article-title {
    @include text(24px, 33.6px, 700);

    margin-bottom: 8px;
  }

  &__article-text {
    @include text(16px, 22.4px, 400);
  }

  &__button {
    width: $width-mob;

    @include on-mobile {
      padding: $margin-mob;
    }

    @include on-tablet {
      width: 392px;
    }

    @include on-desktop {
      width: 324px;
    }
  }
}
