.details {
  margin-bottom: 80px;

  @include on-md {
    margin-bottom: 120px;
  }

  @include on-xl {
    margin-bottom: 180px;
  }

  &__title {
    margin-bottom: 48px;

    @include on-md {
      margin-bottom: 64px;
    }

    @include on-xl {
      margin-bottom: 48px;
    }
  }

  &-container {
    display: grid;
    row-gap: 40px;
    margin-bottom: 40px;

    @include on-md {
      row-gap: 48px;
      margin-bottom: 48px;
    }
  }

  &__button {
    @include primary-button;

    &-container {
      @include page-grid;
    }

    &-content {
      grid-column: span 2 / span 2;

      @include on-md {
        grid-column: span 4 / span 4;
        grid-column-start: 2;
      }

      @include on-lg {
        grid-column: span 4 / span 4;
        grid-column-start: 5;
      }
    }
  }
}
