.exibitions {
  &__title-container {
    min-width: 280px;
    max-width: 392px;
    margin: 0 auto 48px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    min-width: 280px;
    max-width: 324px;
  }
}
