.exploreOnline {
  padding: 100px 20px;

  @include tablet {
    padding: 140px 176px;
  }

  @include desktop {
    padding: 140px 120px;
  }

  &__title {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 48px;
    }

    @include desktop {
      width: 498px;
      text-align: center;
      margin: 0 auto 48px;
    }
  }

  &__contain {

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &--areas {
      margin-bottom: 48px;
    }
  }
}
