.explore-online {
  max-width: 392px;
  margin-inline: auto;

  @include on-desktop {
    max-width: 100%;
    width: 100%;
    .explore-online_main {
      display: flex;
      gap: 24px;
    }

    .explore-online__main__content {
      max-width: calc(33.33% - (48px / 3));
    }

    .explore__title__description {
      margin-bottom: 0;
    }
  }
}

.explore__title {
  text-align: center;

  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $red-text-color;
  }

  &__description {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 48px;

    &--margin-bottom {
      margin-bottom: 0;
    }
  }
}

.explore__photo{
  display: flex;
  max-width: 100%;
  width: 100%;
  justify-content: center;
  &__img {
    max-width: 100%;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 32px;
    }
  }
}
