.footer {
  height: 200px;
  width: 100%;

  background-image: url(./images/mobile/footer_mob.png);
  background-size: cover;
  background-repeat: no-repeat;

  z-index: -1;

  @include on-tablet {
    height: 480px;

    background-image: url(./images/tablet/footer_tab.png);
  }

  @include on-desktop {
    height: 556px;

    background-image: url(./images/desktop/footer_desk.png);
  }
}
