.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: url(../images/footer.png) center/cover no-repeat;
  z-index: -1;

  height: 200px;

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;
  }
}
