.header {
  background-image: url(../images/bg-header-mobile.png);
  background-size: cover;
  @include background-properties();

  @include onTablet {
    background-image: url(../images/bg-header-tablet.png);
  }

  @include onDesktop {
    background-image: url(../images/bg-header-desktop.png);
  }
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;
    @media (min-width: $tablet-min-width) {
      font-size: 64px;
    }
  }
  &__bottom {
    padding-bottom: 40px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}
