.header {
  // display: none !important;
  background-image: url(../images/sections/header/photo.png);
  background-size: cover;
  background-position: right;

  @include mobile {
    background-position: center;
  }

  &__content {
    height: 100vh;

    @include contentpadding;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-align: center;

    @include contentsize;

    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin: 0;
  }

  &__bottom {
    padding: 0 20px;

    @include contentpaddingbottom;
  }
}
