.header {
  background-image: url(../img/bikes/1.png);
  background-size: cover;
  background-position: right;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__bottom {
    margin-bottom: 88px;
  }

  &__title {
    display: block;
    font-weight: 700;
    text-align: center;
    font-style: normal;
    line-height: 100%;
    letter-spacing: -1.5px;
    margin: 0;

    @include titlesize;
  }
}
