.main__hero {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  gap: 20px;
  width: 100%;
  // padding-top: 200px;
  // padding-bottom: 200px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/mikkel-bech-mobile.jpg");

  @media (min-width:1261px) {
    background-image: url("../images/Cover_photo.jpg");
    min-height: 712px;
    // padding-top: 400px;
    // padding-bottom: 400px;
  }
}

@include onTablet {
  .main__hero {
    background-image: url("../images/mikkel-bech-tablet.jpg");
    min-height: 628px;
    // background-position: center;
    // background-size: cover;
    // padding-top: 314px;
    // padding-bottom: 314px;
  }
}

@include onDesktop {
  .main__hero {
    background-image: url("../images/mikkel-bech-desctop.jpg");
    min-height: 712px;

    // padding-top: 356px;
    // padding-bottom: 356px;
    // background-position: center;
    // background-size: cover;
  }
}

.main__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
  text-align: center;
  color: $mainColor;
  grid-row-start: 4;

  @include onTablet {
    font-size: 64px;
    line-height: 64px;
  }

  @include onDesktop {
    font-size: 80px;
    line-height: 80px;
  }
}
