.menu {
  width: 100vw;
  height: 100vh;
  background-color: #d12d35;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  transform: translate(-100vw);
  overflow: auto;

  @include animate(all);

  &__wrapper {
    padding-top: 25px;

    @include responsive(tablet) {
      padding-top: 50px;
    }
  }

  &:target {
    opacity: 1;
    transform: translateX(0);
  }

  &__top-nav {
    position: sticky; /* to keep cross always visible */
    top: 0;
    z-index: 1;
    margin-bottom: 40px;
  }

  &__nav {
    margin-bottom: 32px;
  }

  &__item {
    color: #fff;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__link {
    color: inherit;

    @include responsive(desktop) {
      &:hover {
        border-bottom: 1px solid $light-accent;
      }
    }
  }

  &__locations {
    margin-bottom: 16px;
  }
}
