.menu {
  overflow: auto;
  top: 0;
  z-index: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $menu-background-color;
  position: fixed;
  font-weight: 600;
  text-transform: uppercase;

  &__nav {
    margin: 24px 0 40px;
  }

  &__book {
    display: flex;
    flex-direction: column;
  }

  &__call-number {
    color: $menu-color;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
  }

  &__call-book {
    width: fit-content;
    color: $menu-color;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    padding-bottom: 7px;
    border-bottom: 1px $menu-color solid;
  }
}
