.main__move {
  display: grid;
  margin-bottom: 92px;

  @media (min-width:480px) {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-bottom: 132px;
  }

  @include onDesktop {
    margin-bottom: 164px;
  }
}

.main__move-text {
  font-size: 23px;
  font-weight: 500;
  line-height: 32px;
}
