.move-free {
  @include page-grid;

  row-gap: 32px;
  margin-bottom: 90px;

  @include on-md {
    margin-bottom: 130px;
  }

  @include on-lg {
    margin-bottom: 165px;
  }

  &__title {
    grid-column: span 2;

    @include on-md {
      grid-column: span 3;
    }

    @include on-lg {
      grid-column: span 5;
    }
  }

  &__paragraph {
    font-size: 23px;
    font-weight: 500;

    grid-column: span 2;

    @include on-md {
      grid-column: span 3;
    }

    @include on-lg {
      grid-column: span 7;
    }
  }
}
