.move-free {
  margin-top: 60px;
  padding: 0 0 92px;

  @include on-tablet {
    margin: 120px 0 132px;
    padding: 0;
  }

  @include on-desktop {
    margin-top: 120px;
    padding-bottom: 164px;
  }

  &__title {
    @include text($text-title-size-mob...);

    @include on-mobile {
      margin-bottom: 32px;
    }

    @include on-tablet {
      @include text($text-title-size-tab...);

      margin-right: 24px;
      width: $width-tab;
    }

    @include on-desktop {
      @include text($text-title-size-desk...);

      margin-right: 24px;
      width: 412px;
    }
  }

  &__text {
    @include text(23px, 32.2px, 500);

    @include on-tablet {
      width: $width-tab;
      height: 192px;
    }

    @include on-desktop {
      width: 498px;
      height: 96px;
    }
  }
}
