.museum-hours {
  @include page-grid;

  &__title {
    &::before {
      content: 'Plan your visit';
      font-size: 12px;
      line-height: 140%;
      color: $main-accent;
    }

    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__locations {
    margin-top: 32px; // change maybe?
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
      grid-column: 4 / -1;
      margin-top: 0;
    }

    @include on-desktop {
      grid-column: 6 / -1;
    }
  }

  &__location {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-name {
      font-size: 24px;
      line-height: 30px;
      color: $dark-text-color;
    }
  }

  &__schedule {
    display: flex;
    gap: 24px; // not sure

    &-hours {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-weight: 700;
    }

    &-days {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__holidays {
    color: $dark-text-color;

    &::before {
      content: 'Closed on';
      font-weight: 700;
    }
  }
}
