.now-on-view {
  &__title-container {
    min-width: 280px;
    max-width: 392px;
    margin: 0 auto 48px;
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    margin-bottom: 40px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    min-width: 280px;
    max-width: 324px;
  }
}
