.offers {
  &__title {
    margin-bottom: 48px;

    @include on-desktop {
      margin-bottom: 56px;
    }
  }

  &__products {
    @include page-grid;

    row-gap: 40px;
  }

  &__product {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
