.product {
  display: flex;
  flex-direction: column;

  &__image {
    cursor: pointer;
    width: 100%;
    object-fit: contain;
    transition: transform $transition-duration ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__price {
    margin-top: auto;
  }
}
