.product {
  @include flex-col;

  overflow: hidden;

  @include hover(transform, scale(1.15), 0.3s);

  &:not(:last-of-type) {
    margin-bottom: 0;

    @include on-mobile {
      margin-bottom: 40px;
    }
  }

  @include on-tablet {
    margin-bottom: 48px;
  }

  @include on-desktop {
    margin-bottom: 0;
  }

  &__image {
    height: 228px;
    width: $width-mob;

    margin-bottom: 32px;

    @include on-tablet {
      width: 392px;
      height: 316px;
    }
  }

  &__image > img {
    width: 100%;

    @include on-desktop {
      width: 324px;
      height: 256px;
    }
  }

  &__name {
    margin-bottom: 8px;

    @include text(24px, 33.6px, 700);
  }

  &__text {
    margin-bottom: 16px;

    @include text(16px, 22.4px, 400);
  }

  &__price {
    @include text(24px, 33.6px, 700);
  }
}
