
.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;

  @include on-tablet {
    font-size: 48px;
  }

  &--align--left {
    text-align-last: left;
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 0;
      text-align: left;
    }
  }

  &-plan {
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: #D12D35;
  }

  &--margin-bottom {
    margin-bottom: 8px;
  }

  &--explore-margin {
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 48px;
    }
  }
}
