.now-on-view {
  display: flex;
  flex-direction: column;
  gap: 48px;

  &__title {
    margin: 0;
  }

  &__subtitle {
    margin: 8px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
  }

  &__photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__hide-on-tablet {
      @media (min-width: 744px) and (max-width: 1259px) {
        display: none;
      }
    }
  }

  &__image {
    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    /*
    @media (min-width: $breakpoint-tablet) {
      display: none;
    }

    &--tablet {
      display: none;

      @media (min-width: $breakpoint-tablet) and (max-width: 1259px) {
        display: block;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: $breakpoint-desktop) {
        display: block;
      }
    }
    */
  }

  &__description-title {
    margin: 24px 0 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: $color-accent;
  }

  &__description-date {
    margin: 0;
  }
}
