.contact {
  margin-top: -12px;

  @include onTablet {
    margin-top: 0;
  }

  @include onDesktop {
    margin-top: 50px;
  }

  &__content {
    @include createGridPage;
  }

  &__form {
    grid-column: 1/-1;

    @include onTablet {
      grid-column: 1/4;
    }

    @include onDesktop {
      grid-column: 1/6;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    border-radius: 40px;
    width: -webkit-fill-available;
    height: 48px;
    padding-inline: 16px;
    background: $input-bg-color;
    font-size: 14px;
    color: $placeholder-color-input-active;

    &::placeholder {
      line-height: 20px;
      color: $placeholder-color-input;
    }

    @include hover(transition, linear);
    @include inputActiveTextColor;
  }

  &__textarea {
    border-radius: 16px;
    width: -webkit-fill-available;
    height: 148px;
    padding: 14px;
    background: $input-bg-color;
    font-family: inherit;
    resize: none;

    &::placeholder {
      font-size: 14px;
      line-height: 20px;
      color: $placeholder-color-input;
    }

    @include hover(transition, linear);
    @include inputActiveTextColor;
  }

  &__submit-btn {
    margin-top: 32px;
    border-radius: 40px;
    width: -webkit-fill-available;
    height: 56px;
    padding: 0 48px;
    background: $color-white;
    font-size: 16px;
    line-height: 27px;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    color: $main-dark-color;

    @include hover(transform, scale(1.01));
    @include buttonActive;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-column: 1/-1;
    margin-top: 48px;
    font-family: inherit;

    @include onTablet {
      grid-column: 4/6;
      margin-top: 0;
    }

    @include onDesktop {
      grid-column: 8/11;
    }

    &__section {
      font-family: inherit;
      &-title {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 140%;

        color: $main-color-text;
      }
      &-link {
        font-size: 16px;
        line-height: 140%;
        font-weight: 500;
        color: $main-color-text;
      }
    }
  }
}
