.contacts {
  &__content {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 75px;
    }

    @media (min-width: $breakpoint-desktop) {
      display: flex;
      flex-direction: row;
      justify-content: left;
    }
  }

  &_branches {
    @media (min-width: $breakpoint-desktop) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 72px;
    }
  }

  &__branch {
    &--fifth-avenue {
      margin-bottom: 48px;
    }

    &--met-cloisters {
      margin-bottom: 48px;
    }
  }

  &__subtitle {
    margin: 0 0 16px;
    font-size: 16px;
    font-weight: 700;
  }

  &__phone {
    margin-bottom: 8px;
  }

  &__phone-title {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }

  &__phone-number {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: $color-text;
    transition: all 0.3s;

    &:hover {
      color: $color-accent;
    }
  }

  &__address-title {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }

  &__address-description {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: $color-text;
    transition: all 0.3s;

    &:hover {
      color: $color-accent;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 288px;

    @media (min-width: $breakpoint-desktop) {
      max-width: 400px;
      margin-left: 20px;
    }

    &-field {
      &--name {
        border: none;
        outline: none;
        background-color: #f8f8fa;
        font-family: Cinzel, sans-serif;

        padding: 14px 11px;

        &:active {
          outline: black 1px solid;
        }
      }

      &--email {
        border: none;
        outline: none;
        background-color: #f8f8fa;
        font-family: Cinzel, sans-serif;

        padding: 14px 11px;

        &:active {
          outline: black 1px solid;
        }
      }

      &--message {
        resize: vertical;
        border: none;
        outline: none;
        background-color: #f8f8fa;
        font-family: Cinzel, sans-serif;

        padding: 14px 11px 110px;

        &:active {
          outline: black 1px solid;
        }
      }
    }
  }
}
