@use 'variables' as v;

@mixin on-tablet {
  @media (min-width: v.$tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: v.$desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} #{v.$transition-time};

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 24;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 24;
  }

  @include on-desktop {
    --columns: 12;
  }
}
