@mixin desktoptView {
  @media (min-width: 1260px){
    @content;
  }
}

@mixin tabletView {
  @media (min-width: 744px){
    @content;
  }
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin defaultTransitionOnState($property, $state, $value) {
  transition: #{$property} 450ms;

  &:#{$state} {
    #{$property} : $value;
    @content;
  }
}

@mixin hiddenSlider {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 450ms;
}

@mixin visibleSlider {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
  transition: transform 450ms;
}
