$font-weight-bold: 700;
$font-weight-regular: 400;
$font-size-main: 16px;
$base-line-hight: 140%;
$hover-cursor: default;
$base-color: #1b2129;
$actions-color: #f98921;
$menu-and-form-bg: #f9f9f9;
$grid-full: '1 / -1';
$tab-desk-section-margins: 120px;
$main-letter-spacing: 0.15px;
$transition-value: 0.3s;
