$tablet-min-width: 744px;
$desktop-min-width: 1020px;
$font-primary: 'Manrope', serif;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 18px;
$font-size-xl: 32px;
$font-weight-regular: 400;
$font-weight-bold: 700;
$color-primary: #1b2129;
$color-secondary: #fff;
$color-background: #fcfaef;
$color-background-input: #f9f9f9;
$color-button-defeult: #f98921;
$color-button-hover: #1b2129;
$color-button-pressed: #010810;
