.icon {
  width: 32px;
  height: 32px;
  display: block;
  background-size: cover;
  transition: all 300ms;

  @media (max-width: 744px) {
    width: 24px;
    height: 24px;
  }

  &--phone {
    background-image: url(./blocks/icon/images/icon-phone-call.png);
    position: relative;


    &::before {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      font-weight: 700;
      opacity: 0;
      top: 8px;
      color: #fff;
      left: -165px;
      content: "+1 234 555-55-55";
      display: inline-block;
      position: absolute;
      width: max-content;
      cursor: text;
      transition: all 300ms;
      pointer-events: none;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &--menu {
    background-image: url(./blocks/icon/images/icon-burger-menu.png);

    &:hover {
      background-image: url(./blocks/icon/images/icon-burger-menu-hover.png);
    }
  }

  &--cross {
    background-image: url(./blocks/icon/images/icon-cross.png);
  }
}
