.icon {
  width: 32px;
  height: 32px;
  display: block;
}

.icon--phone {
  background-image: url(./blocks/icon/images/icon-phone-call.png);
}

.icon--menu {
  background-image: url(./blocks/icon/images/icon-burger-menu.png);
}
