@mixin article-primary-title {
  color: $primary-font-color;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;

  @include onTablet {
    font-size: 48px;
  }
}

@mixin section-primary-text {
  color: $primary-font-color;
  font-size: 16px;
  line-height: 27px;
}

@mixin card-title {
  color: $secondary-page-color;
  font-weight: 700;
  text-align: center;
}
