@mixin header-menu-padding {
  padding: 25px 20px 30px;

  @include onTablet {
    padding: 50px 72px 30px;
  }

  @include onLaptop {
    padding: 50px 140px 30px;
  }
}

@mixin flex-space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin width-and-height ($width, $height) {
  width: $width;
  height: $height;
}

@mixin header_icon-size {
  width: 24px;
  height: 24px;

  @include onTablet {
    width: 32px;
    height: 32px;
  }
}

@mixin buttons-style {
  display: block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

@mixin menu-links-underline {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid #fff;
}

@mixin main-links-underline {
  @include menu-links-underline;
  border-bottom: 1px solid $secondary-page-color;
}

@mixin section-margin {
  margin-bottom: 24px;
}

@mixin articles-margin {
  margin-bottom: 40px;
}

@mixin inputs-style {
  display: block;
  box-sizing: border-box;

  padding: 14px 10px;

  font-family: inherit;
  color: $primary-font-color;
  font-size: 14px;
  line-height: 20px;

  background-color: $form-color;

  border: none;
  border-radius: 0;

  &::placeholder {
    color: #7e7e83;
  }

  &:focus {
    border: 1px solid $primary-font-color;
    border-radius: 0;
  }

  &:hover {
    &::placeholder {
      color: $primary-font-color;
    }
  }
}
