// colors
$color-text-dark: #1d1d1d;
$color-text-light: #fff;
$color-bg-menu: #c2c2c2;
$color-go-top: #333;

// size of text and icons, logo, go back to top
$font-size-base: 16px;
$font-size-nav: 22px;
$font-size-section-title-mb: 32px;
$font-size-section-title-tb: 48px;
$font-size-section-title-desktop: 64px;
$font-size-description-mb: 24px;
$icon-size-mobile: 24px;
$icon-size-tablet: 32px;
$icon-size-large-desktop: 40px;
$logo-height-mobile: 38px;
$logo-height-tablet: 56px;
$logo-height-large-desktop: 72px;
$goback-top-size-mobile: 40px;
$goback-top-on-small-desktop: 70px;
$goback-top-size-tablet: 50px;
$goback-top-size-large-desktop: 70px;

// text
$font-main: 'Poppins', sans-serif;

// gap and padding
$gap-icons-mobile: 24px;
$gap-icons-tablet: 32px;
$gap-icons-large-desktop: 40px;
$padding-inline-mobile: 20px;
$padding-inline-tablet: 72px;
$padding-inline-desktop: 90px;

// transition
$transition-fast: 0.3s;
