// colors
$color-text-dark: #1d1d1d;
$color-text-light: #fff;
$color-surface: #f8f8fa; // inputs background
$color-accent: #7e7e83;
$color-border: #292929;
$color-shadow: #e8e8f0;

// component colors
$color-bg-menu: #c2c2c2;
$color-go-top: #333;

// size of text and icons, logo, go back to top
$font-size-base: 16px;
$font-size-nav: 22px;
$font-size-section-title-mb: 32px;
$font-size-section-title-tb: 48px;
$font-size-section-title-desktop: 64px;
$font-size-description-mb: 24px;
$icon-size-mobile: 24px;
$icon-size-tablet: 32px;
$icon-size-large-desktop: 40px;
$logo-height-mobile: 38px;
$logo-height-tablet: 56px;
$logo-height-large-desktop: 72px;
$goback-top-size-mobile: 40px;
$goback-top-on-small-desktop: 70px;
$goback-top-size-tablet: 50px;
$goback-top-size-large-desktop: 70px;

// text
$font-main: 'Poppins', sans-serif;

// gap and padding
$gap-icons-mobile: 24px;
$gap-icons-tablet: 32px;
$gap-icons-large-desktop: 40px;
$padding-inline-mobile: 20px;
$padding-inline-tablet: 72px;
$padding-inline-desktop: 90px;

// transition
$transition-fast: 0.3s;
$transition-medium: 0.6s;
$transition-slow: 1s;

// easing
$easing-standard: ease;
$easing-emphasized: cubic-bezier(0.2, 0.0, 0, 1);

// z-index scale
$z-index-negative: -1;
$z-index-base: 0;
$z-index-raised: 1;
$z-index-overlay: 100;
$z-index-fixed: 1000;
