.icon {
  display: block;
  transition: transform 0.3s;

  @include icon-logo;
  @include hover(transform, scale(1.2));

  &--phone {
    background-image: url('../images/Phone-number\ \(2\).svg');
  }

  &--menu {
    background-image: url('../images/Icon-Burger-menu\ \(1\).svg');

    &:hover {
      background-image: url('../images/Icon-Burger-menu-hover\ \(1\).svg');
    }
  }

  &--close {
    background-image: url('../images/Icon-Close\ \(1\).svg');
  }
}
