.sectiontitle {
  margin: 0;
  margin-bottom: 48px;
  margin-top: 64px;

  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: start;

  @include ontablet {
    margin-top: 120px;
    margin-bottom: 56px;
    font-size: 40;
  }

  @include ondextop {
    margin-bottom: 56px;
    font-size: 48px;
  }

  &--timeless {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-align: start;

    @include ontablet {
      font-size: 48px;
    }

    @include ondextop {
      font-size: 48px;
    }
  }
}
