@use '../../base/variables' as var;
@use '../../tools/mixins.scss';

.products {
  margin-bottom: 120px;

  &__title {
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 56px;
    font-weight: 700;
  }

  &__article {
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
  }

  &__products {
    display: flex;
  }

  &__image {
    background-color: var.$color__grey;
    width: 498px;
    height: 324px;
    @include mixins.animation(transform, scale(1.05));

    &:nth-child(2) {
      margin-left: 24px;
    }
    &-img {
      display: block;
      width: auto;
      height: 324px;
      margin: 0 auto;
      cursor: pointer;
    }
    &-title {
      margin-top: 16px;
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var.$color__main-white;
    background-color: var.$color__orange;
    border-radius: 8px;
    border: none;
    height: 56px;
    width: 324px;
    line-height: 27px;
    cursor: pointer;
    &:hover {
      background-color: var.$color__black;
    }
    &:active {
      background-color: var.$color__black-black;
    }
  }
}
