.button {
  width: 100%;

  padding-block: 14px;

  background-color: $main-backgroundButton-color;
  border: 2px solid $main-borderButton-color;
  border-radius: 8px;
  color: $main-textButton-color;

  font-size: 16px;
  line-height: 168.75%;

  @include hoverButton;

  &:active {
    background-color: $active-backgroundButton-color;
    border-color: $active-borderButton-color;
    color: $active-textButton-color;
  }

  &--link {
    text-decoration: none;
    text-align: center;
    grid-column: 1 / -1;

    @include onDesktop {
      grid-column: 1 / 5;
    }
  }
}
