.main {
  &__content {
    display: grid;
    row-gap: 96px;

    @include constentPaddingInline;

    @include onTable {
      row-gap: 120px;
    }

    &--top {
      padding-top: 64px;
      padding-bottom: 96px;

      @include onTable {
        padding-top: 120px;
        padding-bottom: 120px;
      }
    }

    &--bottom {
      padding-top: 48px;
      padding-bottom: 64px;

      @include onTable {
        padding-bottom: 120px;
        padding-top: 56px;
      }
    }
  }

  &__background-photo {
    display: block;
    object-fit: cover;
    width: 100%;
  }
}
