.explore-online {
  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 100%;
    max-width: 324px;
    margin-inline: auto;
    box-sizing: border-box;
    padding-inline: 20px;

    @media (min-width: $breakpoint-tablet) and (max-width: 1259px) {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      max-width: 600px;
      padding-inline: 72px;
    }

    @media (min-width: $breakpoint-desktop) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 1020px;
      padding-inline: 0;
    }
  }

  &__image {
    display: flex;
    margin: 0 0 24px;
    width: 100%;
    width: 250px;
    height: 225px;
    justify-content: center;

    @media (min-width: $breakpoint-tablet) {
      width: 300px;
      height: 275px;
    }

    @media (min-width: $breakpoint-desktop) {
      width: 308px;
      height: 280px;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    width: 100%;
    max-width: 324px;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: $color-accent;
    margin: 0 0 4px;
  }

  &__description {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin: 0;
  }
}
