@import './location-hours';

.museum-hours {
  width: 100%;

  @include on-mobile {
    @include column(32px);
  }

  @include on-tablet {
    @include tablet-grid;

    &__header {
      grid-column: span 3;
    }

    &__content {
      grid-column: span 3;
    }
  }

  @include on-desktop {
    @include desktop-grid;

    max-width: 1024px;

    &__header {
      grid-column: span 5;
    }

    &__content {
      grid-column: span 7;
    }
  }

  &__header {
    text-align: left;
  }

  &__content {
    @include column(24px);
  }
}
