.bike {
  margin-top: 164px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.5px;
    text-align: center;

    @media (max-width: 800px) {
      font-size: 48px;
      line-height: 48px;
    }

    @media (max-width: 470px) {
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 24px;
    justify-content: space-around;

    @media (max-width: 1140px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    transition: transform 0.5s ease-in-out; // Transição suave para entrada e saída
    text-align: start;
    margin: auto;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 32px;
  }

  &__id {
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    letter-spacing: 0;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    letter-spacing: 0;
  }
}
