.header {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center;

  &__content {

    height: 100vh;

    margin-inline: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 36px;
    line-height: 100%;
    color: $main-textPage-color;

    @include onTable {
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 56px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include onTable {
      padding-bottom: 65px;
    }

    @include onDesktop {
      padding-bottom: 92px;
    }
  }
}
