.header {

  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center;

  &__title {
    margin: 0;
    font-size: 36px;
    line-height: 100%;
    width: 280px;

    @include onTablet {
      font-size: 48px;
      width: 392px;
    }

    @include onDesktop {
      width: 476px;
    }
  }

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    padding-bottom: 40px;

    @include onTablet {
      padding-bottom: 65px;
    }
  }
}
