.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 24px;

  @include onTable {
    padding-block: 32px;
  }

  @include hoverHeaderCursor(cursor, pointer);

  @include hoverTopBarNumber(opacity, 1);

  &__icons {
    display: flex;
    text-align: center;
    gap: 24px;

    @include onTable {
      gap: 32px;
    }
  }

  &__icons-hover {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__phone-number-hover {
    display: block;

    @include fontInter;

    color: $main-textPage-color;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 2px;

    opacity: 0;

    @include hoverHeaderCursor(cursor, pointer);
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;

    @include onTable {
      height: 24px;
    }

    @include hoverHeaderCursor(cursor, pointer);

    @include hoverZoom(transform, scale(1.2));
  }
}
