.contacts {
  font-style: normal;

  @include text;

  &__list {
    display: grid;
    row-gap: 24px;
  }

  &__title {
    margin-bottom: 8px;

    font-weight: normal;
    color: $secondary-title-color;
  }

  &__text {
    @include link-decoration;
  }
}
