.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  grid-column: 1 / -1;

  @include onDesktop {
    grid-column: 8 / -1;
  }

  &__title {
    margin: 0;
    padding-bottom: 8px;
    color: $title-contacts-color;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.15px;
  }

  &__description {
    margin: 0;
    color: #191919;
    font-weight: 400;
    letter-spacing: 0.15px;
    text-decoration: none;

    @include hover(color, $button-color);
  }
}
