.contact-us {
  row-gap: 16px;
  grid-column: 1 / -1;

  @include onDesktop {
    grid-column: 1 / 7;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-input {
      outline: none;
      font-family: "Manrope", sans-serif;
      padding: 14px 16px;
      border: none;
      border-radius: 8px;
      background: $main-light-color;

      height: 48px;

      &::placeholder {
        color: #7e7e83;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.15px;
      }

      &:hover {
        border: 1px solid #dbdbdb;
        color: $main-dark-color;

        &::placeholder {
          color: $main-dark-color;
        }
      }

      &:focus {
        border: 2px solid $action-color;
      }
    }
  }
}
