@import './mixinsFooter.sass'

.footer
    width: 100dvw
    min-height: 348px
    max-height: 380px
    z-index: -1
    background-image: url('../../../public/assets/footer/bg-footer.png')
    background-repeat: no-repeat
    background-size: contain
    background-attachment: fixed
    background-position: 100% 100%
    object-position: center center
    @include onMobileFooter()
    
