.footer {
  position: sticky;
  z-index: -1;
  bottom: 0;

  height: 200px;

  visibility: hidden;
  background-image: url(../images/footer-mobile.png);
  background-position: center;
  background-size: cover;

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
    background-image: url(../images/footer-desktop.png);
  }
}

body.loaded .footer {
  visibility: visible;
}
