.footer {
  padding-top: 100px;
}
.footer__bg {
  background-image: url(./../../../../src/images/footer-bg.png);
  height: 180px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media (min-width: 744px) {
    height: 359px;
  }
}
