.footer {
  visibility: hidden;
  position: sticky;
  z-index: -1;

  height: 200px;

  bottom: 0;

  background-image: url(../images/footer.png);
  background-position: center;
  background-size: cover;

  @include onTablet {
    height: 400px;
  }

  @include onDesktop {
    height: 460px;
    background-image: url(../images/footer-desktop.png);
  }
}

body.loaded .footer {
  visibility: visible;
}
