@use '../variables' as *;

.about {
  padding: 3rem 0;

  h2 {
    margin-bottom: 1.5rem;
    color: #222;
    font-weight: 700;
  }

  &__text {
    color: $black !important;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 500;
  }

  img {
    border-radius: 8px;
    display: block;
    width: 100%;
  }
}
