@import 'variables';

body,
html {
  color: $color-text;
  background: $color-bg;
  font-family: $font-main;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;

  @include transition(transform, 0.3s);

  &:hover {
    transform: scale(1.05);
  }
}
