// styles/_base.scss

@use 'variables' as *; // <--- Adicione esta linha

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-white; // Agora a variável $color-white é reconhecida
    font-family: $font-sans-serif;  // E a $font-sans-serif também
    color: $color-text-dark;
    line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

h1, h2, h3 {
    font-family: $font-serif;
    font-weight: 700;
    line-height: 1.2;
}

main > section {
    padding: 60px $content-padding;
    max-width: $max-width;
    margin: 0 auto;
}