.btn {
  &__wrapper {
    margin-top: 40px;
    @include pageGrid;

    @include onTablet {
      margin-top: 48px;
    }
  }

  &__button {
    height: 56px;
    background-color: #fff;
    border: none;
    border-radius: 40px;

    font-size: 16px;
    color: #1d1d1d;
    font-weight: 700;
    line-height: 27px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;

    grid-column: 1 / -1;

    @include hover(box-shadow, 1px 4px 16px 0 rgba(232, 232, 240, 0.44));

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: 5 / -5;
    }

    &:active {
      box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
    }
  }
}
