.button {
  border: 0;
  background: #d12d35;
  color: #fff;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  padding-block: 15px;
  font-family: Cinzel, sans-serif;
  transition-duration: 0.3s;

  &:hover {
    background-color: #ae1c23;
  }

  &:active {
    background-color: #eb343d;
  }
}
