.categories{
  display: grid;
  grid-template-columns: repeat(2,1fr);

  @include onDesktop{
    grid-template-columns: repeat(12,1fr);
  }


  &__title{
    grid-column: 1/ -1;
    text-align: center;
  }

}
.category{
  &__photos{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);

    @include onDesktop{
      grid-template-columns: repeat(12,1fr);
    }
  }

  &__photo-wide{
    aspect-ratio: 1 / 1;
    height: 100%;
    object-fit: cover;
    object-position: center;

    @include onDesktop{
      grid-column: span 8;
      aspect-ratio: auto;
    }
  }
  &__photo--wide{
    height: 100%;
    aspect-ratio: 1 / 1;
    object-position: right;
    object-fit: cover;
  }

  &__photo-square{
    @include onDesktop{
      grid-column: span 4;
    }
  }
}
