.categories {
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.category{
  &__photos{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    @include onTablet{
      grid-template-columns: repeat(6,1fr);
    }

    @include onDesktop{
      grid-template-columns: repeat(12,1fr);
    }
  }
  &__photo-wide{
    @include onMobile{
      grid-column: span 1;
      aspect-ratio: 1 /  1;
      object-fit: cover;
    }

    @include onTablet{
      grid-column: span 3;
      aspect-ratio: auto;
      height: 130px;
    }
    @include onDesktop{
      grid-column: span 6;
  }
}
}
