.compare-bikes {
  margin-top: 92px;
  margin-bottom: 48px;

  &__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-regular;
    line-height: $line-height-xl;
    text-align: center;
  }
}

.bikes {
  display: grid;
}

.bike {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  &__img {
    width: 100%;
  }

  &__model,
  &__price {
    font-size: 24px;
    font-weight: $font-weight-bold;
    line-height: $line-height-xxl;
    text-align: left;
  }

  &__description {
    font-size: $font-size-sm;
    font-weight: $font-weight-light;
    line-height: $line-height-md;
    text-align: left;
  }
}
