.main-btn {
  background: var(--white-color);
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;
  border: none;
  border-radius: 40px;
  max-width: 100%;
  width: 100%;
  cursor: pointer;
}

.main-input {
  display: inline-block;
  height: 48px;
  background: var(--white-color);
  border: none;
  max-width: 100%;
  width: 100%;
  border-radius: 40px;
  padding: 14px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  outline: none;
}

.main-textarea {
  display: inline-block;
  height: 148px;
  background: var(--white-color);
  border: none;
  max-width: 100%;
  width: 100%;
  border-radius: 16px;
  padding: 14px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  outline: none;
}
