.contacts-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  margin-bottom: 48px;
}

.contacts-subtitle {
  @include menu-text;

  color: $main-color;
  padding-bottom: 16px;
}

.contact-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.contact-content {
  font-weight: 700;
  color: $main-color;

  &:visited {
    color: $main-color;
  }
}

.contacts-wrapper {
  margin-bottom: 48px;
}

.contact-wrapper_item:not(:last-child) {
  padding-bottom: 8px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 100px;
}

.contact-form_text {
  height: 144px;
  resize: none;
}

.contact-form_input,
.contact-form_text {
  font-family: Cinzel, serif;
  background-color: #f8f8fa;
  padding: 10px 14px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  &:focus,
  &:active {
    border: 1px solid $main-color;
  }
}

.form-button {
  cursor: pointer;
  text-align: center;
  padding: 15px 0;
  font-weight: 700;
  background-color: $accent-color;
  color: $main-white;
  border: none;
  &:hover {
    background-color: $hovered;
  }
}

.footer {
  z-index: -1;
  width: 100%;
  position: sticky;
  bottom: 0;
  background-image: url('../images/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
}

@media (min-width: 744px) {
  .form-box {
    display: flex;
    gap: 75px;
    align-items: center;
    justify-content: center;
  }

  .contacts {
    margin-bottom: 100px;
  }
}

@media (min-width: 1260px) {
  .form-box {
    align-items: flex-start;
  }
  .contact-form_main {
    display: flex;
    gap: 24px;
  }
  .contact-form_input,
  .contact-form_text {
    width: 411px;
  }
}
