@use '_shared-1' as *;

.welcome-image{
  display: block;
  background-image: url(../images/gown_theMet.png);
  margin: 0 auto;
  background-position: center;
  width: 1260px;
  height: 840px;
  position: relative;
  overflow: visible;
  z-index: 1;
  margin-bottom: 50px;
}

  @media (max-width: 744px) {
    .welcome-image {
      background-image: url(../images/gown@744.png);
      width: 744px;
      height: 840px;
    }
  }
  @media(max-width: 320px) {
    .welcome-image{
      background-image: url(../images/gown@320.png);
      width: 320px;
      height: 568px;
    }
  }

.welcome-image__content {
  display: grid;
  grid-template-columns: repeat($desktop-columns, $desktop-column-width);
  column-gap: $desktop-gutter;
  padding-left: $desktop-margin;
  padding-right: $desktop-margin;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

  @media (max-width: 744px) {
    .welcome-image__content {
      grid-template-columns: repeat($tablet-columns, $tablet-column-width);
      padding-left: $tablet-margin;
      padding-right: $tablet-margin;
    }
  }
  @media (max-width: 320px) {
    .welcome-image__content {
      grid-template-columns: repeat($mobile-columns, $mobile-column-width);
      padding-left: $mobile-margin;
      padding-right: $mobile-margin;
    }
  }


.welcome-image__text{
  position: absolute;
  top:24%;
  left: 32%;
  max-width:498px;
  height: 160px;
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -1.5px;
  z-index:2;
  line-height: 100%;
  vertical-align: middle;
}

  @media (max-width: 744px) {
    .welcome-image__text {
      top: 31%;
      left: 26%;
      max-width: 392px;
      font-size: 40px;
      height: auto;
      font-size: 64px;
      line-height:64px
    }
  }

  @media (max-width: 320px) {
    .welcome-image__text {
      top: 35%;
      left: 16%;
      max-width:280px;
      font-size: 40px;
      line-height: 100%;
    }
  }

h1 {
  position:absolute;
  top: 7%;
  left: 11%;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;
  z-index: 2;
  text-align: center;
  vertical-align: middle;
  line-height: 80%;;

}

  @media(max-width: 744px) {
    h1 {
      top: 6%;
      left: 6%;
      width: 87px;
      height: 65px;;

    }
  }

  @media(max-width: 320px) {
    h1 {
      top: 5%;
      left: 5%;
      width: 64px;
      height: 46px;
      font-size: 30px;

    }
  }


.index-nav__menu{
  position: absolute;
  top: 10%;
  right: 5%;
  z-index:10;
  display: flex;
  justify-content: center;
  align-items: center;
}

    @media (max-width: 744px) {
      .index-nav__menu {
        top: 10%;
        right: 10%;

      }
    }

    @media (max-width: 320px) {
      .index-nav__menu {
        top: 5%;
        right: 10%;

      }
    }

.burger-icon {
   display: block;
   width: 32px;
   height: 32px;
   cursor: pointer;
}

    @media (max-width: 744px) {
      .burger-icon {
        width: 24px;
        height:24px;
        top:15%;

      }
    }

    @media (max-width: 320px) {
      .burger-icon {
        width: 20px;
        height:20px;
        top:10%;

      }
    }



.phone-icon{
  position: absolute;
  top: 10%;
  right: 12%;
  cursor: pointer;
}

  @media (max-width: 744px) {
    .phone-icon {
      top: 10%;
      right: 20%;
    }
  }

  @media (max-width: 320px) {
    .phone-icon {
      top: 5%;
      right: 20%;
    }
  }

.phone-icon,
.hover-overlay{
  cursor: url('../images/cursor.png'), pointer;
}



.hover-overlay{
  position: absolute;
  top: 3%;
  left: 68%;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease ;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: right;
  text-align: right;
  z-index: 4;
  visibility: hidden;
  font-weight: 700;
  font-size: 16px;

}


@media (max-width: 744px) {
  .hover-overlay {
    left: 60%;
    top: 5%;
  }
}

@media (max-width: 320px) {
  .hover-overlay {
    left: 50%;
    top: 5%;
  }

}

.phone-icon:hover ~ .hover-overlay{
  opacity: 1;
  visibility: visible;
}

.hover-overlay p{
  margin: 8px 0;
  font-size: 18px;
  font-weight: 400;
}



