.contacts {
  &__wrapper {
    @include pageGrid;

    row-gap: $spacing-xl;
    margin-top: $spacing-4xl;
  }

  &__block {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    max-width: 237px;

    @include tablet {
      grid-column: 1 / 4;
      height: 185px;
    }

    &.contacts__block--row {
      @include tablet {
        margin-top: -185px;
      }

      @include desktop {
        margin-top: 0;
        grid-column: 4 / 7;
      }
    }
  }

  &__title {
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: 700;
    color: $color-black;
  }

  &__phone {
    font-size: $font-size-xs;
    line-height: $line-height-base;
    color: $color-black;
    margin: 0;
  }

  &__phone-number {
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: 700;
    color: $font-color-dark;
    margin-block: $spacing-xs - 3px;
    text-decoration: none;
  }

  &__adress {
    font-size: $font-size-xs;
    line-height: $line-height-base;
    color: $color-black;
    margin: 0;
    margin-top: $spacing-xs;
  }

  &__adress-location {
    font-size: $font-size-base;
    line-height: $line-height-md;
    font-weight: 700;
    color: $font-color-dark;
    margin: 0;
    text-decoration: none;
  }

  &__form {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    @include tablet {
      grid-column: 4 / -1;
      grid-row: 1;
    }

    @include desktop {
      grid-column: 8 / -1;
    }

    input {
      box-sizing: border-box;
      font-size: $font-size-xs;
      line-height: $line-height-xs;
      color: $font-color-light;
      background-color: $color-light-bg;
      border: 0;
      transition-duration: $transition-default;
      height: $form-input-height;
      font-family: $font-family-base;
      padding-left: $form-padding-left;

      &:hover {
        border: 1px solid $color-border-hover;
      }

      &:focus {
        border: 1px solid $color-border-focus;
      }
    }

    textarea {
      box-sizing: border-box;
      font-size: $font-size-xs;
      line-height: $line-height-xs;
      color: $font-color-light;
      background-color: $color-light-bg;
      border: 0;
      transition-duration: $transition-default;
      height: $form-input-height;
      font-family: $font-family-base;
      padding-left: $form-padding-left;
      padding-top: $form-padding-top;

      &:hover {
        border: 1px solid $color-border-hover;
      }

      &:focus {
        border: 1px solid $color-border-focus;
      }
    }

    .large-input {
      height: $form-textarea-height;
    }
  }

  &__submit-button {
    margin-top: $spacing-sm;
  }
}
