@import "variables";

.contact {

  &__info {
    flex-grow: 1;
  }

  &__form {
    @media screen and (min-width: 1260px) {
      flex-basis: 50%;
      margin-right: 111px;
    }
  }

  &__info-list {
    list-style: none;
    margin: 48px 0 0;
    padding: 0;

    @media screen and (min-width: 1260px) {
      margin: 0;
      flex-grow: 1;
    }
  }

  @media screen and (min-width: 1260px) {
    display: flex;
    align-items: flex-start;
  }

  &__info-item {
    margin-bottom: 24px;
  }

  &__info-text {
    font-family: $subFont;
    color: #9393a3;
    font-size: 14px;
    margin: 0 0 8px;
  }

  &__info-link {
    font-family: $mainFont;
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
