@use './shared' as *;

@media (max-width: 320px) {
  .welcome-image {
    width: 320px;
    height: 568px;
    background-image: url(../images/gown@320.png);
  }

  .welcome-page__logo {
    position: relative;
    top: 25px;
    left: 20px;

    width: 64px;
    height: 46px;
  }

  .welcome-image__text {
    width: 100%;
    height: 100%;
  }

  .welcome-image__text-image {
    position: absolute;
    top: 200px;
    left: 20px;
    display: block;
  }

  .index-nav__menu {
    position: absolute;
    z-index: 10;
    top: 36px;
    left: 276px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .burger-icon {
    position: relative;
    z-index: 2;
    top: 10%;

    a {
      cursor: pointer;

      position: relative;

      display: block;

      width: 32px;
      height: 32px;

      &::after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        opacity: 0;
        background-image: url(../images/Icon-Burger-menu-hover.png);
        background-repeat: no-repeat;
        background-size: contain;

        transition: opacity 0.3s ease;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        transition: opacity 0.3s ease;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
        img {
          opacity: 0;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .phone-icon {
    top: 36px;
    left: 228px;
  }

  .hover-overlay {
    position: absolute;
    z-index: 4;
    top: 15%;
    left: 20%;
  }

  .hover-overlay a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #d12d35;

      a {
        color: #d12d35;
      }
    }
  }
}
