.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 744px) {
  .container {
    max-width: 1260px;
    padding: 0 72px;
  }
}

@media (min-width: 1020px) {
  .container {
    min-width: 1020px;
    padding: 0 120px;
  }
}
