@use './shared' as *;

@media (max-width: 744px) {
  .contact {
    display: grid;
    grid-template-columns: repeat($tablet-columns, $tablet-column-width);
    column-gap: $tablet-gutter;

    box-sizing: border-box;
    width: $tablet-width;
    max-width: $tablet-max-width;
    margin: 0 auto $tablet-spacing; // Centered with bottom margin
    margin-bottom: 10%;
    padding-right: $tablet-margin;
    padding-left: $tablet-margin;
  }

  .contact__title {
    grid-column: 2 / span 4;
    align-self: start;

    width: 392px;
    margin-top: 50px;
    margin-bottom: 50px;

    font-size: 48px;
    font-weight: 700;
    color: #161616;
    text-align: center;
    letter-spacing: -1.5px;
  }
}

@media (max-width: 744px) {
  .contact__locations {
    display: grid;
    grid-column: 1 / span -1;
    grid-template-rows: auto repeat(3, auto);
    column-gap: $tablet-gutter;

    padding: 0 $tablet-margin;
  }

  .contact__locations--theMet {
    grid-column: 1 / span 4;
    grid-row: 2;

    width: 100%;
    height: 185px;
    margin-bottom: 20px;
  }

  .contact__locations--cloisters {
    grid-column: 1 / span 3;
    grid-row: 3;
    width: 100%;
    height: 208px;
  }

  .theMet__title {
    grid-column: 1 / span 3;
    grid-row: 2;

    min-height: 27px;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 700;
    color: #161616;
  }

  .theMet__phone {
    grid-column: 1 / span 3;
    grid-row: 3;
    align-self: end;

    margin-bottom: -2px;

    font-size: 14px;
    font-weight: 400;
    color: #161616;
  }

  .theMet__number {
    grid-column: 1 / span 2;
    grid-row: 4;

    min-height: 27px;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 700;
    color: #161616;
  }

  .theMet__address {
    grid-column: 1 / span 2;
    grid-row: 5;
    align-self: end;

    margin-bottom: -2px;

    font-size: 14px;
    font-weight: 400;
    color: #161616;
  }

  .theMet__street {
    grid-column: 1 / span 2;
    grid-row: 6;
    font-size: 16px;
    font-weight: 700;
  }

  .theCloisters__title {
    grid-column: 4 / span 3;
    grid-row: 2;

    min-height: 27px;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 700;
    color: #161616;
  }

  .theCloisters__phone {
    grid-column: 4 / span 2;
    grid-row: 3;
    align-self: end;

    margin-bottom: -2px;

    font-size: 14px;
    font-weight: 400;
    color: #161616;
  }

  .theCloisters__number {
    grid-column: 4 / span 2;
    grid-row: 4;

    min-height: 27px;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 700;
    color: #161616;
  }

  .theCloisters__address {
    grid-column: 4 / span 2;
    grid-row: 5;
    align-self: end;

    height: 27px;
    margin-bottom: -2px;

    font-size: 14px;
    font-weight: 400;
    color: #161616;
  }

  .theCloisters__street {
    grid-column: 4 / span 3;
    grid-row: 6;

    height: 68px;

    font-size: 16px;
    font-weight: 700;
    color: #161616;
  }

  .contact__form {
    overflow-y: auto;
    display: grid;
    grid-column: 4 / -1;
    grid-row: 2 / span 2;
    gap: 20px;
    align-content: flex-start;

    box-sizing: border-box;
    width: 100%;
    max-width: 288px;
    height: 376px;
  }

  .contact__form textarea {
    resize: none;
    height: 100px;
    min-height: 50px;
  }

  .contact__form-submit[type='submit'] {
    cursor: pointer;

    grid-row: 4;
    justify-self: center;

    width: 280px;
    padding: 12px 24px;
    border: none;

    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;

    background-color: #d12d35;

    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ae1c23;
    }

    &:active {
      background-color: #eb343d;
    }
  }

  .contact__form input,
  .contact__form textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border: 0;

    font-family: inherit;

    background-color: #f8f8fa;
  }

  .contact__form input:not([type='submit']) {
    height: 48px;
  }

  .visually-hidden {
    position: absolute;

    overflow: hidden;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    clip: rect(0, 0, 0, 0);
  }
}
