.contacts{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 16px ;

  @include onDesktop{
    grid-template-columns: repeat(12,1fr);
  }

  &__title{
    text-align: center;
    grid-column: 1/ -1;
  }

  &__form-container{
    grid-column: span 2;

    @include onDesktop{
      grid-column:  span 5;
    }
  }
  &__form-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.form__info{
  @include onDesktop{
    grid-column: 8 / 10;
  }
}

.form__input{
  padding: 16px;
  border-radius: 40px;
  background: #F8F8FA;
}

.form__text-area{
  border-radius: 10px;
  height: 70px;
  padding: 14px 16px;
}

.form__button{
  padding: 20px;
  border-radius: 70px ;
}

.form__input--2{
  text-decoration: none;
  color:#3E3E3E ;
}
.form__label{
  font-weight: normal;
  color: #9FADC2;
}
