.call-action-form {
  padding-top: 120px;
  padding-bottom: 164px;
  background: var(--main-color);
  position: relative;
  z-index: 2;

   &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
  }

  .container-form {
    padding-top: 48px;
    display: flex;
    justify-content: space-evenly;

    .context-info {
      display: flex;
      color: var(--white-color);
      flex-direction: column;
      gap: 24px;

      .info-item {
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          letter-spacing: 0;
        }
        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          letter-spacing: 0;
          color: var(--white-color);
          text-decoration: none;
          transition: color var(--anim-speed) ease;
          &:hover {
            color: rgba(var(--white-color), 0.7);
          }
        }
      }
    }
    .main-form {
      max-width: 50%;
      width: 100%;
      .input-container {
        margin-bottom: 16px;
      }
    }
  }
}

@media (max-width: 480px) {
  .container-form {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .call-action-form .container-form .main-form {
    max-width: 100%;
  }

  .call-action-form .container-form .context-info {
    max-width: 100%;
    width: 100%;
  }
}
