.the-details {
  margin-top: 92px;

  &__title {
    font-size: $font-size-lg;
    line-height: $line-height-xl;
    font-weight: $font-weight-regular;
    text-align: center;
  }
}

.details {
  display: grid;
  gap: 40px;

  &__title {
    margin: 16px 0 8px;
    font-size: 24px;
    line-height: $line-height-xxl;
    font-weight: $font-weight-bold;
  }

  &__description {
    margin: 0;
    font-size: $font-size-sm;
    font-weight: $font-weight-light;
    text-align: left;
  }

  &__photos-square,
  &__photos-rectangle {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 1;
  }

  &__photos {
    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 24px;
  }

  &__button {
    width: 100%;
    height: 56px;
    justify-items: center;
    cursor: pointer;
    background-color: #fff;
    text-align: center;
    border: none;
    border-radius: 40px;
    margin-top: 40px;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    line-height: $line-height-lg;
    transition: 0.3s;
  }

  &__button:hover {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
  }

  &__button:active {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
  }
}
