@use './shared' as *;

/* Exhibition Block Styles */
.exhibition-block {
  display: grid;
  grid-template-columns: repeat($desktop-columns, $desktop-column-width);
  grid-template-rows: auto auto;
  column-gap: $desktop-gutter;

  box-sizing: border-box;
  width: $desktop-width;
  max-width: $desktop-max-width;
  margin: 0 auto;
  margin-bottom: $section-spacing;
}

.exhibition-block__images {
  display: grid;
  grid-column: 1 / span 12;
  grid-row: 1;
  column-gap: $desktop-gutter;

  &-large {
    grid-column: 1 / span 8;
    grid-row: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-small {
    grid-column: 9 / span 4;
    grid-row: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.exhibition__info {
  display: grid;
  grid-template-columns: repeat($desktop-columns, $desktop-column-width);
  grid-template-rows: auto auto;
  column-gap: $desktop-gutter;

  box-sizing: border-box;
  width: $desktop-width;
  max-width: $desktop-max-width;
  margin: 0 auto;
  margin-bottom: $section-spacing;
}

.exhibition__info-title {
  grid-column: 1 / span 8;
  grid-row: 2;

  font-size: 16px;
  font-weight: 700;
  color: #d12d35;
  text-transform: uppercase;
}

.exhibition__info-dates {
  grid-column: 1 / span 5;
  grid-row: 3;
  align-self: start;

  margin-bottom: 30px;

  font-size: 16px;
  font-weight: 400;
}

.mobile-break {
  display: inline;
}

.exhibition-block--triple {
  display: grid;
  grid-template-columns: repeat($desktop-columns, $desktop-column-width);
  grid-template-rows: auto auto;
  column-gap: $desktop-gutter;

  box-sizing: border-box;
  width: $desktop-width;
  max-width: $desktop-max-width;
  margin: 0 auto;
  margin-bottom: $section-spacing;
}

.exhibition-block--triple__images {
  display: grid;
  grid-column: 1 / span 12;
  grid-row: 1;
  column-gap: $desktop-gutter;

  width: $desktop-width;

  &-small-1 {
    grid-column: 1 / span 3;
    grid-row: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-small-2 {
    grid-column: 4 / span 3;
    grid-row: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-small-3 {
    grid-column: 7 / span 3;
    grid-row: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.exhibition-block--reverse {
  display: grid;
  grid-template-columns: repeat($desktop-columns, $desktop-column-width);
  grid-template-rows: auto auto;
  column-gap: $desktop-gutter;

  box-sizing: border-box;
  width: $desktop-width;
  max-width: $desktop-max-width;
  margin: 0 auto;
  margin-bottom: $section-spacing;
}

.exhibition-block--reverse__images {
  display: grid;
  grid-column: 1 / span 12;
  grid-column-gap: 24px;
  grid-template-columns: repeat(12, 63px);
  grid-template-rows: auto;

  &-large {
    grid-column: 5 / -1;
    grid-row: 1;
  }

  &-small {
    grid-column: 1 / span 4;
    grid-row: 1;
  }
}

.exhibition__info-button {
  cursor: pointer;

  display: flex;
  place-self: center center;
  align-items: center;
  justify-content: center;

  width: 324px;
  max-width: 1260px;
  height: 56px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #d12d35;
}
