@use './shared' as *;

@media (max-width: 320px) {
  .explore {
    display: grid;
    grid-template-columns: repeat($mobile-columns, $mobile-column-width);
    column-gap: $mobile-gutter;

    box-sizing: border-box;
    width: $mobile-width;
    max-width: $mobile-max-width;
    margin-bottom: $mobile-spacing;
    padding: 0 20px;
  }

  .explore__title {
    grid-column: 1 / span 2;
    align-self: start;

    width: 280px;
    margin-bottom: 50px;

    font-size: 32px;
    font-weight: 700;
    color: #161616;
    text-align: center;
    letter-spacing: -1.5px;
  }
  .explore__info-title-1 {
    grid-area: title1;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
  }

  .explore__info-subtitle-1 {
    grid-area: subtitle1;
    font-size: 14px;
    text-align: center;
  }

  .explore-block__images-small-1 {
    grid-area: image1;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .explore-block__images-small-2 {
    grid-area: image2;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .explore__info-title-2 {
    grid-area: title2;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
  }

  .explore__info-subtitle-2 {
    grid-area: subtitle2;
    font-size: 14px;
    text-align: center;
  }

  .explore-block__images-small-3 {
    grid-area: image3;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .explore__info-title-3 {
    grid-area: title3;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
  }

  .explore__info-subtitle-3 {
    grid-area: subtitle3;
    font-size: 14px;
    text-align: center;
  }
}

/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@media (max-width: 320px) {
  .explore__info-grid {
    display: grid;
    grid-template-areas:
      'image1 image1'
      'title1 title1'
      'subtitle1 subtitle1'
      '. .'
      'image2 image2'
      'title2 title2'
      'subtitle2 subtitle2'
      '. .'
      'image3 image3'
      'title3 title3'
      'subtitle3 subtitle3';
    grid-template-columns: repeat($mobile-columns, $mobile-column-width);
    grid-template-rows: repeat(12, auto);
    column-gap: $mobile-gutter;

    box-sizing: border-box;
    width: 280px;
    max-width: 320px;
    margin: 0 auto $mobile-spacing;
    padding: 0;
  }
  /* stylelint-enable */

  .explore-block__images-small-1 {
    grid-area: image1;
  }
  .explore__info-title-1 {
    grid-area: title1;
  }
  .explore__info-subtitle-1 {
    grid-area: subtitle1;
  }

  .explore-block__images-small-2 {
    grid-area: image2;
  }
  .explore__info-title-2 {
    grid-area: title2;
  }
  .explore__info-subtitle-2 {
    grid-area: subtitle2;
  }

  .explore-block__images-small-3 {
    grid-area: image3;
  }
  .explore__info-title-3 {
    grid-area: title3;
  }
  .explore__info-subtitle-3 {
    grid-area: subtitle3;
  }
}
