@use './shared' as *;

.explore {
  display: grid;
  grid-template-columns: repeat($desktop-columns, $desktop-column-width);
  column-gap: $desktop-gutter;

  box-sizing: border-box;
  width: $desktop-width;
  max-width: $desktop-max-width;
  margin: 0 auto;
  margin-bottom: 50px;
}

.explore__title {
  grid-column: 4 / span 6;
  align-self: center;

  margin-top: 50px;

  font-size: 48px;
  font-weight: 700;
  color: #161616;
  text-align: center;
  letter-spacing: -1.5px;
}

.explore__info-title-1,
.explore__info-title-2,
.explore__info-title-3,
.explore__info-title-4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  color: #d12d35;
  text-align: center;
  text-transform: uppercase;
}

.explore__info-subtitle-1,
.explore__info-subtitle-2,
.explore__info-subtitle-3,
.explore__info-subtitle-4 {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #161616;
  text-align: center;
}

/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.explore__info-grid {
  display: grid;
  grid-template-areas:
    'img1 img1 img1 img1 img2 img2 img2 img2 img3 img3 img3 img3'
    'ttl1 ttl1 ttl1 ttl1 ttl2 ttl2 ttl2 ttl2 ttl3 ttl3 ttl3 ttl3'
    'sub1 sub1 sub1 sub1 sub2 sub2 sub2 sub2 sub3 sub3 sub3 sub3';
  grid-template-columns: repeat($desktop-columns, $desktop-column-width);
  grid-template-rows: auto auto auto;
  column-gap: $desktop-gutter;

  width: $desktop-width;
  max-width: $desktop-max-width;
  margin: 0 auto;

  // Assign grid areas to elements
  .explore-block__images-small-1 {
    grid-area: img1;
  }
  .explore-block__images-small-2 {
    grid-area: img2;
  }
  .explore-block__images-small-3 {
    grid-area: img3;
  }

  .explore__info-title-1 {
    grid-area: ttl1;
  }
  .explore__info-title-2 {
    grid-area: ttl2;
  }
  .explore__info-title-3 {
    grid-area: ttl3;
  }

  .explore__info-subtitle-1 {
    grid-area: sub1;
  }
  .explore__info-subtitle-2 {
    grid-area: sub2;
  }
  .explore__info-subtitle-3 {
    grid-area: sub3;
  }
}

/* stylelint-enable */
