.footer {
  width: 100%;
  height: 180px;
  background-image: url('../images/footer-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    height: 359px;
  }
}
