@use './shared' as *;

.footer {
  overflow: hidden;
  display: block;

  box-sizing: border-box;
  width: 1260px;
  margin: 0 auto;
  margin-top: 140px;
}

.footer__image {
  width: 1260px;
  height: 359px;
}

@media (max-width: 744px) {
  .footer {
    overflow: hidden;
    width: 100%;
    max-width: 744px;
    margin: 0 auto;
  }

  .footer__image {
    position: relative;
    left: 40%;
    transform: translate(-50%);

    width: 1260px;
    max-width: none;
    height: auto;
    margin-top: 150px;
  }
}

@media (max-width: 320px) {
  .footer {
    overflow: hidden;

    width: 100%;
    max-width: 320px;
    margin: 0;
    padding: 0;
  }

  .footer__image {
    width: 400px; // Make image container full width
    margin: 0;
    padding: 0;

    picture {
      display: block;
      width: 100%;
    }

    img {
      display: block; // Remove any default spacing
      width: 100%; // Make image full width
      max-width: none; // Override any max-width constraints
      height: auto;
    }
  }
}
