@use './shared' as *;

.footer {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  overflow: hidden;
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 0;

  transition: opacity 0.3s ease;
}

.footer__image {
  width: 1260px;
  max-width: 100%;
  height: 359px;
}

body {
  min-height: 100vh;
  margin: 0;
  padding-bottom: 359px;
}

@media (max-width: 744px) {
  .footer {
    pointer-events: none;

    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 50%;

    overflow: hidden;

    width: 100%;
  }

  .footer__image {
    width: 1259px;
    height: 359px;
    object-fit: cover;
  }

  body {
    padding-bottom: 359px;
  }
}

@media (max-width: 320px) {
  .footer {
    pointer-events: none;

    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 21.5%;
    transform: translateX(-50%);

    width: 320px;
    max-width: 630px;
    height: 180px;
    margin: 0;
  }

  .footer__image {
    width: 100%;
    height: 100%;
  }

  .footer__image picture,
  .footer__image img {
    width: 320px;
    height: 180px;
    object-fit: cover;
  }

  body {
    min-height: 100vh;
    margin: 0;
    padding-bottom: 70%;
  }
}
