// styles/_gallery.scss

@use 'variables' as *;

.gallery {
  text-align: center;
  padding: 80px $content-padding;

  &__title {
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    gap: 30px;

    &--3-cols {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    text-align: left;
  }

  &__item-title {
    font-size: 1.25rem;
    margin-top: 15px;
    font-weight: 400;
  }

  &__item-date {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 5px;
    color: $color-text-light;
  }
}