// header
.header {
  background-image: url('../images/headerM.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 100px;
  box-sizing: border-box;

  &-tittle {
    margin-top: 130px;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.5px;
    text-align: center;
    color: $main-white;
  }
}

.header-nav {
  @include navigation;
}

.nav-links {
  display: flex;
  gap: 24px;
  text-align: end;
  &_box {
    display: none;
    position: absolute;
    top: 3px;
    right: 216px;

    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
    opacity: 0;
    // transform: translateX(-20px);
  }
}

.phone-title {
  font-weight: 700;
  line-height: 27px;
  color: $main-white;
}

@media (min-width: 744px) {
  .nav-links {
    gap: 55px;
  }

  .icon--phone {
    margin-right: 55px;
  }

  .header-tittle {
    font-size: 64px;
    margin-top: 140px;
  }
}

@media (min-width: 1020px) {
  .header-tittle {
    font-size: 80px;
    line-height: 80px;
    margin-top: 140px;
  }

  .nav-links {
    align-items: center;
    gap: 0;
    &_box {
      margin-right: 16px;
    }
  }

  .icon--phone:hover + .nav-links_box {
    display: block;
    opacity: 1;
    transform: translateX(0);
  }
}
