 .header {
  background-image: url(/header-img/header-bg-img.png);
  box-sizing: border-box;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 }
 