.header {
  max-height: 568px;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg-mob.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include content-padding-inline;

  @include on-desktop {
    background-image: url(../images/header-desktop.png);
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1.5px;
  color: $color-white;
}
