.hero-section {
  height: 711px;
  display: flex;
  align-items: center;
  justify-content: center;

  .h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    color: var(--white-color);
  }
}

@media (max-width: 485px) {
  .hero-section .h1 {
    font-size: 30px;
  }
}
