@use 'variables';

.hero {
  background-image: url("../images/met-banner.png");
  background-size: cover;
  background-position: center;
  background-color: variables.$primary-color;
  color: variables.$white; // Usando variável
  padding: 6rem 2rem;
  text-align: center;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }
}
