@use '_shared-1' as *;
.museum-hours{
  display: grid;
  grid-template-columns: repeat($desktop-columns, $desktop-column-width);
  column-gap: $desktop-gutter;
  max-width: $desktop-max-width;
  margin: 0 auto;
  padding-left: $desktop-margin;
  padding-right: $desktop-margin;
  box-sizing: border-box;
}

      @media (max-width: 744px) {
        .museum-hours{
        grid-template-columns: repeat($tablet-columns, $tablet-column-width);
        padding-left: $tablet-margin;
        padding-right: $tablet-margin;
        margin:0 auto;
        max-height: none;
        justify-content: space-between;
      }

    }

      @media (max-width: 320px) {
      .museum-hours{
        display: grid;
        grid-template-columns:repeat($mobile-columns, $mobile-column-width);
        margin-left: 20px;
        margin-right: 0;
        padding: 0;
        justify-items: start;
        align-items: start;
      }
    }

.museum-hours__plan{
  display:grid;
  grid-template-columns: repeat($desktop-columns, $desktop-column-width);
  grid-column: 2/span 4;
  grid-row:1;
  align-items: baseline;
  height: 67px;
  width: 100%;
  margin-top:40px;
}

.museum-hours__plan-title{
  grid-column: 1 /span 2;
  color: #D12D35;
  font-size: 12px;
  font-weight:800;
  margin-right: 8px;

}

.museum-hours__plan-subtitle{
  grid-column: 1/span 7;
  color:#161616;
  font-size: 48px;
  font-weight: 700;
  white-space: nowrap;
}

 @media (max-width: 744px) {
      .museum-hours__plan {
        display: grid;
        grid-template-columns: repeat($tablet-columns, $tablet-column-width);
        grid-column: 1 / span 8;
        grid-row: 1;

      }
      .museum-hours__plan-title {
        grid-column: 2 / span 2;
      }
      .museum-hours__plan-subtitle {
        grid-column: 2 / span 3;
        white-space: normal;
      }
    }

    @media (max-width: 320px) {
      .museum-hours__plan {
        display:grid;
        grid-template-columns: repeat($mobile-columns, $mobile-column-width);
        grid-column: 1 / span 5;
        grid-row: 1;
      }
      .museum-hours__plan-title {
        grid-column: 1 / span 4;
      }
      .museum-hours__plan-subtitle {
        grid-column: 1 / span 4;
        font-size: 32px;
        white-space: nowrap;
      }
    }



.museum-hours__locations{
  grid-column: 7/ span 6;
  grid-row: 1;
  color:#161616;
  width: 100%;
  margin-top:15px;


  @media (max-width: 744px) {
    grid-column: 5 /span 4;
    grid-row: 1;

  }

  @media (max-width: 320px) {

    grid-column: 1 / span 6;
    grid-row: 2;
    flex-direction: column;
  }

}


.museum-hours__locations-title{

  grid-column: 6/span 5;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color:#161616;
  margin-top:20px;
  margin-bottom: 16px;

  @media (max-width: 744px) {
    grid-column: 4 /span 4;

  }

  @media (max-width: 320px) {
    grid-column: 3/ span 3;
}
}

.hours-row{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;

  @media (max-width: 744px) {
    margin-bottom: 6px;
  }

  @media (max-width: 320px) {
    margin-bottom: 4px;

}
}


.museum-hours__locations-hours{
  width: 120px;
  height:27px;
  font-weight:700;
  font-size: 16px;
  font-weight: 700;

 }

  @media (max-width: 744px) {
    .museum-hours__locations-hours {
      width: 120px;
      min-width: 80px;
    }
  }

  @media (max-width: 320px) {
    .museum-hours__locations-hours {
      width: 120px;
      min-width: 60px;
    }
  }


.museum-hours__locations-days{
  padding-left: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  white-space: normal;

}

.closed-on-row {
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;

  .museum-hours__locations-hours {
    margin-bottom: 8px;
  }

  .museum-hours__locations-days-extended {

    font-size: 14px;
    line-height: 15px;
    max-width: 100%;
    white-space: pre-wrap;
    overflow-wrap: break-word;

}
}

@media (max-width: 744px) {
  .closed-on-row {
    margin-top: 12px;
    margin-bottom: 12px;
  }

    .closed-on-row .museum-hours__locations-days-extended {
       font-size: 12px;
       line-height: 14px;
       width: 200px;
    }
  }
