
.icon--phone {
 width: 24px;
 height: 24px;
 display: block;
}

.icon--phone {
  background-image: url(/header-img/icon-phone-call.png);
}

.icon--phone {
  background-image: url(/header-img/icon-burger-menu.png);
}