.icon {
  display: block;
  width: $width-24;
  height: $height-24;
}

.icon--phone {
  background-image: url("../images/header/Icon-Phone-call.png");
  position: relative;
}

.icon--phone:hover::before {
  content: ("+1 234 5555-55-55");
  width: max-content;
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  line-height: $line-height-xs;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  position: absolute;
  padding-right: 50px;
  top: 5px;
  pointer-events: auto;
}

.icon--menu {
  background-image: url("../images/header/Icon-Burger-menu.png");
}

.icon-close img {
  width: $width-24;
  height: $height-24;
}
