.icon {
  display: block;
  width: 24px;
  height: 24px;
  text-decoration: none;

  &--phone {
    background-image: url(../images/icons/icon-phone-call.png);

    @include onDesktop {
      &::after {
        position: relative;
        display: block;
        left: -165px;
        top: 2px;
        content: "+1 234 5555-55-55";
        width: 165px;
        color: #fff;
        opacity: 0;
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
        letter-spacing: 2px;
        font-family: "Poppins", sans-serif;
        transition: opacity 0.3s linear;
        pointer-events: none;
      }

      &:hover::after {
        pointer-events: all;
        opacity: 1;
      }
    }

  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.png);
  }

  &--close {
    background-image: url(../images/icons/icon-close.png);
  }
}
