img {
  transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.03); // aumenta 3%
  }
}

.gallery__image-split {
  display: flex;
  gap: 15px;
  width: 100%;
  margin-bottom: 1rem;
  img {
    flex-grow: 1;
    width: 100%;
    object-fit: cover;
    height: 600px;
  }
}
