@import "mixins";
@import "variables";

.info {
  flex-grow: 1;

  &__list {
    list-style: none;
    margin: 48px 0 0;
    padding: 0;

    @include for-desktop {
      margin: 0;
      flex-grow: 1;
    }
  }

  &__item {
    margin-bottom: 24px;
  }

  &__text {
    font-family: $secondaryFont;
    color: #9393a3;
    font-size: 14px;
    margin: 0 0 8px;
  }

  &__link {
    font-family: $primaryFont;
    text-decoration: none;
    color: inherit;
    position: relative;

    @include for-desktop {
      @include underline;
    }
  }
}
