.intro {
  &__title,
  &__info {
    margin: 0;
    font-weight: $font-weight-regular;
    line-height: $line-height-xl;
  }

  &__title {
    margin-bottom: 32px;
    font-size: $font-size-lg;
  }

  &__info {
    font-size: 23px;
  }
}
