@use 'abstracts';

.site-header {
  background: url('../images/banners/header-banner.jpg') right / cover no-repeat;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__title {
    margin-bottom: 88px;
    text-align: center;
    letter-spacing: -1.5px;

    @include abstracts.font(36px, 1, 700);

    @include abstracts.on-tablet {
      margin-bottom: 130px;
      font-size: 4rem;
    }

    @include abstracts.on-desktop {
      margin-bottom: 203px;
      font-size: 80px;
    }
  }
}

.main-content {
  background-color: abstracts.$primary-bg;

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 60px 0 120px;

    @include abstracts.on-tablet {
      padding: 120px 0 102px;
    }

    @include abstracts.on-desktop {
      padding-bottom: 164px;
    }
  }

  &__section {
    &.about-section {
      margin-bottom: 92px;

      @include abstracts.on-tablet {
        margin-bottom: 132px;
      }

      @include abstracts.on-desktop {
        margin-bottom: 164px;
      }
    }
    &.bikes-section {
      margin-bottom: 92px;

      @include abstracts.on-tablet {
        margin-bottom: 120px;
      }

      @include abstracts.on-desktop {
        margin-bottom: 144px;
      }
    }

    &.details-section {
      margin-bottom: 80px;

      @include abstracts.on-tablet {
        margin-bottom: 120px;
      }

      @include abstracts.on-desktop {
        margin-bottom: 180px;
      }
    }
  }

  &__title {
    text-align: center;
    letter-spacing: -1.5px;

    @include abstracts.font(32px, 1, 500);

    &--left {
      text-align: left;
    }

    @include abstracts.on-tablet {
      font-size: 48px;
    }

    @include abstracts.on-desktop {
      font-size: 64px;
    }
  }
}

.site-footer {
  position: sticky;
  z-index: -1;
  bottom: 0;

  height: 200px;

  background: url(../images/banners/footer-banner.jpg) center / cover no-repeat;

  @include abstracts.on-tablet {
    height: 480px;
  }

  @include abstracts.on-desktop {
    height: 555px;
  }
}
