.main-container {
  position: relative;
  background: var(--main-color);
  z-index: 1;
}

.main-section {
  padding: 0 var(--main-horisontal-pad);
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  background: var(--main-color);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
  }
}

@media (max-width: 768px) {
  :root {
    --main-horisontal-pad: 72px;
  }
}

@media (max-width: 485px) {
  :root {
    --main-horisontal-pad: 20px;
  }
}
