.main {
  color: #fff;
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 92px;
  @include cnstPaddingInlaine;
  @include cnstPaddingBlock;
  &__about {
    @include aboutContent;
  }
  .title--section {
    width: 100%;
    white-space: nowrap;
    @include sizeTitleSection;
    text-align: center;
  }
  .about--discription {
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;
  }

}

.box--bikes {
  @include bikeContentPosition;
}

.bike {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 418px;
}

.bike__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  .title--bike {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }

  .price {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }
}

.image__bike {
  width: 280px;
  height: 228px;
  background-size: cover;
  margin-bottom: 32px;
}

.green--bike {
  background-image: url(../image/Green--bike.png);
}

.grey--bike {
  background-image: url(../image/Grey--bike.png);
}

.wite--bike {
  background-image: url(../image/White--bike.png);
}

.main__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  .image__details {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .details__image {
    @include smollImageDeteils;
    background-size: cover;
    background-position: center;
  }

  .description__details {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 672px;
  }

  .image--gps01 {
    background-image: url(../image/Details01.png);
    @include bigImageDeteils;
  }
  .image--gps02 {
    background-image: url(../image/Details02.png);
  }
  .image--lights01 {
    background-image: url(../image/Details03.png);
    @include bigImageDeteils;

  }
  .image--lights02 {
    background-image: url(../image/Details04.png);
  }
  .image--hydraulic01 {
    background-image: url(../image/Details05.png);
  }
  .image--hydraulic02 {
    background-image: url(../image/Details06.png);
    @include bigImageDeteils;

  }
  .main--bottom {
    display: flex;
    justify-content: center;
  }
}

.button {
  @include button;
}

.form {
  @include form;
  padding-top: 48px;
}

.mainform {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @include mainForm;
}

.message {
  padding: 14px 16px;
  border-radius: 16px;
  color: $color__input--text;
  font-size: 14px;
  width: 100%;
}

.input {
  color: $color__input--text;
  font-size: 14px;
  border-radius: 40px;
  width: 100%;
  height: 48px;
  padding-left: 16px;
}

.contact--information {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact__link {
  text-decoration: none;
  color: #fff;
}

.button:hover {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
}
