@media (max-width: 1023px) {
  .nav {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 767px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}
