.menu{
  background-color: #D12D35;
  box-sizing: border-box;
  height: 100vh;
  font-weight: 700;
}

.top-bar{
  padding: 25px 20px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__content{
  padding-inline: 20px;
}

.menu__top{
  margin-bottom: 20px;
}
