@mixin paddingBottom() {
  padding: 0 20px 88px;
  @media (min-width: 576px) {
    padding: 0 72px 130px;
  }
  @media (min-width: 992px) {
    padding: 0 294px 203px;
  }
}

@mixin titleSize {
  font-size: 36px;
  @media (min-width: 576px) {
    font-size: 64px;
  }
  @media (min-width: 992px) {
    font-size: 80px;
  }
}

@mixin backgroundPositionHeader {
  background-image: url(../image/Cover_photo.png);
  background-size: cover;
  background-position: right;
  @media (min-width: 576px) {
    background-position: center;
  }
}

@mixin iconSize {
  width: $width--icons;
  height: $hight--icons;
  @media (min-width: 576px) {
    width: 32px;
    height: 32px;
  }
}

@mixin tell {
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
}

@mixin cnstPaddingInlaine() {
  padding-inline: 20px;
  @media (min-width: 576px) {
    padding-inline: 72px;
  }
  @media (min-width: 992px) {
    padding-inline: 120px;
  }
}

@mixin cnstPaddingBlock {
  padding-block: 60px 120px;

  @media (min-width: 576px) {
    padding-block: 120px;
  }
  @media (min-width: 992px) {
    padding-block: 120px 182px;
  }
}

@mixin aboutContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media (min-width: 576px) {
    flex-direction: row;
    gap: 24px;
    justify-content: space-around;
  }
}

@mixin sizeTitleSection {
  font-size: 32px;
  letter-spacing: -1.5px;
  line-height: 100%;
  @media (min-width: 576px) {
    font-size: 48px;
  }
  @media (min-width: 992px) {
    font-size: 64px;
  }
}

@mixin bikeContentPosition {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media (min-width: 576px) {
    gap: 48px;
  }
  @media (min-width: 992px) {
    flex-direction: row;
    gap: 24px;
  }
}

@mixin button {
  border-radius: 40px;
  width: 278px;
  height: 56px;
  padding-inline: 48px;
  @media (min-width: 576px) {
    width: 288px;
  }
  @media (min-width: 992px) {
    width: 411px;
  }
}

@mixin smollImageDeteils {
  width: 130px;
  height: 130px;
  @media (min-width: 576px) {
    width: 184px;
    height: 187px;
  }
  @media (min-width: 992px) {
    width: 324px;
    height: 320px;
  }
}

@mixin bigImageDeteils {
  @media (min-width: 576px) {
    width: 392px;
    height: 187px;
  }
  @media (min-width: 992px) {
    width: 672px;
    height: 320px;
  }
}

@mixin form {
  max-width: 411px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  @media (min-width: 576px) {
    flex-direction: row;
    gap: 24px;
  }
  @media (min-width: 992px) {
    gap: 198px;
  }
}

@mixin mainForm {
  width: 280px;
  @media (min-width: 576px) {
    width: 288px;
  }
  @media (min-width: 992px) {
    width: 411px;
  }
}

@mixin footerSize {
  @media (min-width: 576px) {
    height: 480px;
  }
  @media (min-width: 992px) {
    height: 555px;
  }
}
