/* Dropdown telefone ajustado */
.phone-dropdown {
  position: absolute;
  top: 20px;
  left: 0;
  color: $white;
  font-size: 0.4rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 0.5rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 1003;

  /* Estado ativo */
  &.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

    .phone-item__number {
      text-decoration: none;
      color: $white;

      &:hover {
        color: $hover-blue;
      }
    }
  }

  /* Ajuste para telas de até 1260px */
  @media screen and (max-width: 1260px) {
    left: 740px; /* mais próximo do ícone */
    top: 20px;
    font-size: 1.5rem; /* aumenta a legibilidade */
    padding: 1rem;
  }

  /* Ajuste para telas de até 768px */
  @media screen and (max-width: 768px) {
    left: 390px;
    top: 20px;
    font-size: 0.9rem; /* ainda mais legível no mobile */
    padding: 0.8rem;
  }

  @media screen and (max-width: 320px) {
    left: 70px;
    top: 20px;
    font-size: 0.5rem; /* ainda mais legível no mobile */
    padding: 0.5rem;
  }
}
