.online__head {
  @include grid;

  margin-bottom: 48px;
  margin-top: 140px;
}

.online__title {
  margin: 0;
  text-align: center;
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: var(--h2);
  line-height: 1.15;
  letter-spacing: 0.06em;
}

.online__head .online__title {
  grid-column: 1 / -1;
}

.online-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.online__grid {
  @include grid;
}

.online__grid .online-card {
  grid-column: 1 / -1;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .online__grid .online-card {
    grid-column: span 2;
  }
}

@media (min-width: 1200px) {
  .online__grid .online-card {
    grid-column: span 4;
  }
}

.online-card__img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
}

.online-card__name {
  margin: 0;
  text-align: center;
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: var(--accent);
}

.online-card__text {
  margin: 0;
  text-align: center;
  font-family:
    Roboto,
    system-ui,
    -apple-system,
    Arial,
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: var(--ink);
}

@media (min-width: 744px) and (max-width: 1199.98px) {
  .online__head .online__title {
    grid-column: 2 / 6;
    min-height: 96px;
    display: grid;
    align-content: center;
  }
  .online__grid .online-card {
    grid-column: 2 / 6;
    min-height: 538px;
  }
}

@media (max-width: 743.98px) {
  .online__head {
    margin-top: 100px;
  }

  .online__head .online__title {
    grid-column: 1 / -1;
    min-height: 64px;
    display: grid;
    align-content: center;
  }

  .online__grid .online-card {
    grid-column: 1 / -1;
    min-height: 447px;
  }
}
