@use 'variables' as *;

.museum-hours {
  padding: 80px $content-padding;

  &__container {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__left {
    flex: 1;
    max-width: 300px;

    & > .museum-hours__subtitle {
      font-size: 0.8rem;
      color: $color-primary-red;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 0.3rem;
    }

    & > .museum-hours__title {
      font-size: 2rem;
      font-weight: 900;
      font-family: serif;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  &__right {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
  }

  &__info {
    font-size: 1rem;
    line-height: 1.6;

    p {
      margin: 0.3rem 0;
    }

    strong {
      font-weight: 700;
    }
  }

  &__heading {
    font-weight: 700;
    font-size: 1.3rem;
    font-family: serif;
    text-transform: uppercase;
    margin-bottom: 0.6rem;
  }

  &__closed-on {
    font-weight: bold;
    margin-top: 0.8rem;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}
