.hidden-navbar-container {
  position: fixed;
  min-height: 100vh;
  height: 100vh;
  top: 0;
  left: -100vw;
  background: #c2c2c2;
  max-width: 100%;
  width: 100%;
  padding: 0 var(--main-horisontal-pad);
  visibility: hidden;

  &.is-active {
    animation: 0.3s fade-in ease-in-out forwards;
  }

  &.is-closed {
    left: -100vw;
    visibility: hidden;
  }

  .top-line-container {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
    align-items: center;

    .close-btn-container {
      cursor: pointer;
      transition: transform var(--anim-speed) ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
      svg {
        path {
          transition: transform var(--anim-speed) ease-in-out;
          transform-origin: center;
        }
      }
    }
  }

  .container-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px 0;

    .number-container {
      a {
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0;
        vertical-align: middle;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--main-color);
        transition: color var(--anim-speed) ease;
        &:hover {
          color: rgba(var(--main-color), 0.7);
        }
      }
    }

    .call-to-action {
      position: relative;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      vertical-align: middle;
      text-transform: uppercase;
      color: var(--main-color);
      text-decoration: none;
      &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background: var(--main-color);
        opacity: 1;
        transition: none;
      }
    }
  }
}

.navbar-hidden {
  padding: 24px 0;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  li {
    .link-nav {
      font-weight: 700;
      font-size: 22px;
      line-height: 22px;
      letter-spacing: 2px;
      vertical-align: middle;
      text-transform: uppercase;
      color: var(--main-color);
      text-decoration: none;
      position: relative;
      transition: color var(--anim-speed) ease;

      &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background: var(--main-color);
        opacity: 0;
        transition: var(--anim-speed) width ease, var(--anim-speed) opacity ease;
      }

      &:hover {
        color: rgba(var(--main-color), 0.7);
        &::before {
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}

@keyframes fade-out {
  0% {
    visibility: visible;
    left: 0;
  }
  100% {
    left: -100vw;
    visibility: hidden;
  }
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    left: -100vw;
  }
  100% {
    visibility: visible;
    left: 0;
  }
}
