.on-view {
    padding: $spacing-xl $spacing-lg;
    background-color: $white; // O fundo branco já está no .page-content

    &__title {
        text-align: center;
        font-size: 2.2rem;
        margin-bottom: $spacing-lg;
    }

    &__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $spacing-lg;
        max-width: $content-max-width;
        margin: 0 auto;
    }
}

.gallery-card {
    background: $white;
    
    img {
        width: 100%;
        display: block;
    }

    &__info {
        padding: $spacing-lg;
        border: 1px solid $gray-border;
        border-top: none;

        h3 {
            font-size: 1.5rem;
        }
        p {
            color: $gray-text;
            margin-top: $spacing-sm;
        }
    }
}

@media (max-width: $bp-tablet) {
    .on-view__gallery {
        grid-template-columns: 1fr;
    }
}
