@use './shared' as *;

@media (max-width: 320px) {
  .onview {
    display: grid;
    grid-template-columns: repeat($mobile-columns, $mobile-column-width);
    column-gap: 20px;
    place-items: start start;

    width: 280px;
    max-width: $mobile-width;
    margin-right: 0;
    margin-left: 0;
    padding: 10px;
  }

  .onview__title {
    grid-column: 1 / span 2;
    grid-row-start: 1;
    place-self: center center;

    margin-top: 50px;

    font-size: 32px;
    font-weight: 700;
    color: #161616;
    text-align: center;
    letter-spacing: -1.5px;
  }

  .onview__subtitle {
    grid-column: 1 / span 2;
    grid-row: 2;
    place-self: center center;

    margin-bottom: 50px;

    font-size: 16px;
    font-weight: 400;
    color: #161616;
    text-align: center;
  }

  .tablet-break {
    display: inline; // No break here on mobile
  }

  .mobile-break {
    display: block; // Create break on mobile
  }
}
