.section-four {
  margin: 0 auto;
  padding: 0 auto;
  display: flexbox;
  place-items: flex-start center;
  color: $text-gray-16;
}

.section-four__image-container {
  width: 100%;
  margin-bottom: 48px;
}

.section-four__image-cropped-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.section-four__image-cropped {
  width: 130px;
  height: 130px;
  background-image: url(/src/assets/images/image-section-four-left.png);
  background-size: 370px;
  background-position: -60px;
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.section-four__image-cropped-right {
  width: 130px;
  height: 130px;
  background-image: url(/src/assets/images/image-section-four-right.png);
  background-size: cover;
  background-position: left center;
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

// TEXT
.section-four__image-text-content {
  display: inline-block;
  place-items: center center;
  width: 100%;
  font-size: 0.9rem;
  gap: 16px;
}

.section-four__image-title {
  width: 280px;
  margin-bottom: 2px;
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  color: $primary-red;
}

.section-four__image-text {
  width: 280px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}
