.section-3 {
  margin-bottom: 120px;
  @media (min-width: 744px) {
    min-width: 744px;
    &__title {
      grid-column: 1/4;
    }
    &__text-box {
      grid-column: 4/7;
    }
  }

  @media (min-width: 1260px) {
    min-width: 1260px;

    &__title {
      grid-column: 1/6;
    }

    &__text-box {
      grid-column: 6/12;
    }
  }

  &__text {
    &:not(:last-child) {
      font-weight: 700;
      margin-bottom: 16px;
    }

    &:last-child {
      margin-top: 40px;
    }
  }

}
