.section-5 {
  display: block;
  height: 200px;
  max-width: 100%;
  margin: 0;
  padding: 0;

  background-image: url("../images/photos/320px/04.png");
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: 744px) {
    height: 400px;
    background-image: url("../images/photos/04-744.png");
  }

  @media (min-width: 1260px) {
    height: 460px;
    background-image: url("../images/photos/04-1260.png");
  }
}
