.section-two {
  display: flex;
  align-items: center;
  margin: 100px 20px;
  margin-bottom: 100px;
}

.section-two__column--container {
  margin-bottom: 32px;
}

// Plan your visit
.section-two__subtitle {
  font-size: 10px;
  font-weight: 700;
  line-height: 140%;
  color: $primary-red;
}

// Museum hours
.section-two__column--title {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  color: $text-gray-16;
}

// subtitles all
.section-two__location {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: $text-gray-16;
}

// Avenue/Coisters title
.section-two__hours-list {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  color: $text-gray-16;
}

// column right time
.section-two__hours-time {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 27px;
}

// column left item
.section-two__hours-item {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 37px;
}

.section-two__closed-dates {
  margin-bottom: 32px;
  font-size: 14px;
}

.section-two__closed-on {
  font-weight: 700;
}

.section-two__hours-list-two {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}

// Cloisters/closed on
.section-two__closed-dates-two {
  font-size: 14px;
}

.section-two__closed-two {
  font-weight: 700;
}
