.section-ten {
  margin: 0 auto;
  padding: 0 auto;
  display: flexbox;
  place-items: flex-start center;
  color: $text-gray-16;
}

.section-ten__title {
  font-size: 26px;
  text-align: center;
  width: 280px;
  margin-bottom: 48px;
}
