body {
  margin: 0;
  padding: 0;
}

.menu__container {
  margin-right: 20px;
  margin-bottom: 100px;
}

.menu {
  margin-top: 40px;
  margin-left: 40px;

  .menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu__logo {
      width: 52px;
      height: 34px;
    }

    .menu__close {
      cursor: pointer;
    }
  }

  .main-nav {
    margin-top: 40px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 0.7rem;
      }

      a {
        color: $white;
        text-decoration: none;
        font-family: cinzel, serif;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: color 0.3s;

        &:hover {
          color: $hover-yellow;
          cursor: pointer;
        }
      }
    }
  }
}

.menu__content {
  margin: 0;
  margin-top: 32px;

  .menu__content-title {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: $white;
  }

  .menu__content-title-cloisters {
    margin: 0;
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 700;
    color: $white;
  }

  .menu__content-number {
    display: block;
    margin-top: 6px;
    font-weight: 700;
    text-decoration: none;
    color: $white;
    transition: color 0.3s ease;

    &:hover {
      text-decoration: none;
      color: $hover-yellow;
      cursor: pointer;
    }
  }

  .menu__content-line-text {
    position: relative;
    display: block;
    color: $white;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 39%;
      height: 1px;
      border-radius: 50px;
      background-color: $white;
    }
  }
}

.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  background-color: $primary-red;
  padding: 24px;
  overflow: auto;
  z-index: 999;
  transition: right 0.3s ease;

  &.active {
    right: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
