.section-one {
  /* Propriedades de Background para centralizar a imagem */
  background-image: url(/src/assets/images/image-background.png);
  background-position: center;
  background-size: cover;

  /* Propriedades para o layout do conteúdo interno */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Propriedades de altura e espaçamento */
  min-height: 100vh;
  color: $white;
  padding-top: 25px;
}

.section-one__content {
  position: relative;
  top: -60px;
  text-align: center;
  margin: 0;
  width: 100%;
  color: $white;
}

.section-one__title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 35px;
}
