.section-five {
  margin: 0 auto;
  padding: 0 auto;
  display: flexbox;
  place-items: flex-start center;
  color: $text-gray-16;
}

.section-five__image-container {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.section-five__cropped-left {
  width: 88px;
  height: 88px;
  background-image: url(/src/assets/images/image-section-five-first.png);
  background-size: cover;
  background-position: left center;
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.section-five__cropped-middle {
  width: 88px;
  height: 88px;
  background-image: url(/src/assets/images/image-section-five-midle.png);
  background-size: cover;
  background-position: left center;
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.section-five__cropped-right {
  width: 88px;
  height: 88px;
  background-image: url(/src/assets/images/image-section-five-last.png);
  background-size: cover;
  background-position: left center;
  overflow: hidden;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.section-five__text-content {
  display: inline-block;
  place-items: center center;
  width: 100%;
  margin-bottom: 48px;
  font-size: 0.9rem;
  gap: 16px;
}

.section-five__title {
  width: 280px;
  font-size: 14px;
  font-weight: 700;
  color: $primary-red;
}

.section-five__text {
  font-size: 14px;
  font-weight: 400;
}
