.top-bar {
  padding: 24px 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.logo {
  display: inline-block;
  text-align: center;
  font-family: Cinzel;
  font-weight: 700;
  color: white;
  text-decoration: none;

  &__line {
    display: block;
    font-size: 18px;
    position: relative;
    padding-bottom: 4px;

    &:hover::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #0000ee;
    }
  }
}
