.top-bar {
  padding: 24px 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.logo {
  display: inline-block;
  text-align: center;
  text-decoration: none;

  &__img {
    display: block;
    width: 87px;
  }

  &:hover {
    transform: scale(1.05);
  }
}
