.page-title {
  font-size: 36px;
  letter-spacing: -1.5px;

  @include onTablet {
    font-size: 64px;
  }

  @include onDesktop {
    font-size: 80px;
  }

  @extend %headers;
}

.section-title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;

  @include onTablet {
    font-size: 48px;
  }

  @include onDesktop {
    font-size: 64px;
  }

  @extend %headers;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  text-align: left;

  @extend %headers;
}
