@font-face {
  font-family: "Sharp Sans No2";
  src: url("../fonts/Sharp_Sans_No2/Sharp_Sans_No2_Medium.otf");
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir/Avenir.ttc");
}

h1 {
  color: $secondaryColor;

  text-align: center;
  font-family: "Sharp San No2", "Avenir", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;

  margin: 0;

  @include onTablet {
    font-size: 36px;
    line-height: 150%;
    text-transform: capitalize;
  }

  @include onDesktop {
    font-size: 60px;
  }
}

h2 {
  color: $primaryColor;

  font-family: "Sharp San No2", "Avenir", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  margin: 0;

  @include onDesktop {
    font-size: 36px;
    line-height: 110%;
    letter-spacing: 1.8px;
  }
}

h3 {
  color: $primaryColor;

  font-family: "Sharp San No2", "Avenir", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.9px;
  text-transform: uppercase;

  margin: 0;

  @include onTablet {
    text-align: center;
  }

  @include onDesktop {
    font-size: 24px;
    letter-spacing: 1.2px;
    text-align: left;
  }
}

h4 {
  color: $secondaryColor;

  font-family: "Sharp San No2", "Avenir", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.9px;
  text-transform: uppercase;

  margin: 0;
}

h5 {
  color: $secondaryColor;

  font-family: "Sharp San No2", "Avenir", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.9px;
  text-transform: uppercase;

  margin: 0;
}

p {
  color: $secondaryColor;

  font-family: "Sharp San No2", "Avenir", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  margin: 0;

  @include onTablet {
    @include onDesktop {
      font-size: 16px;
    }
  }
}
