/* _variables.scss */

// Cores
$color-primary: #292929;
$color-secondary: #fff;
$color-accent: rgba(0, 0, 0, 0.5);
$color-hover: #f8f8fa;

// Fontes
$font-family-base: 'Space Grotesk', Roboto, Arial, sans-serif;

// Tamanhos
$max-width: 800px;
$padding-base: 16px;
$margin-base: 20px;

