
// Colors
$color-primary-red: #d13437;
$color-white: #fff;
$color-black: #000;
$color-text-dark: #1a1a1a;
$color-text-light: #4c4c4c;
$color-background-light: #fdfdfd;
$color-border: #e5e5e5;

// Fonts
$font-serif: 'Cormorant Garamond', serif;
$font-sans-serif: Lato, sans-serif;

// Sizing
$max-width: 1260px;
$content-padding: 40px;

// Breakpoints
$bp-tablet: 768px;
$bp-desktop: 1024px;