.museum-visit {
  margin-bottom: 100px;
}

.plan {
  margin-bottom: 32px;
  &_title {
    font-size: 12px;
    font-weight: 700;
    line-height: 16.8px;
    color: $accent-color;
  }

  &_hours {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.5px;
    color: $main-color;
  }
}

.visit-info_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: $main-color;
  margin-bottom: 16px;
}

.wrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}

.visit-schedule {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &_hour {
    font-weight: 700;
    line-height: 27px;
  }
  &_day {
    @include main-text();
  }
}

.visit-closed {
  font-weight: 700;
  line-height: 27px;
}

.visit-days {
  @include main-text();
}

.visit-wrap-close {
  margin-bottom: 24px;
}
