/* Error: Undefined mixin.
 *    ,
 * 10 | /   @include onTablet{
 * 11 | |     column-gap: 24px;
 * 12 | |     $columns: 6;
 * 13 | \   }
 *    '
 *   about-us.scss 10:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502  \250c    @include onTablet{\a 11 \2502  \2502      column-gap: 24px;\a 12 \2502  \2502      $columns: 6;\a 13 \2502  \2514    }\a    \2575 \a   about-us.scss 10:3  root stylesheet";
}
