.about {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 92px;

  @media screen and (min-width: 744px) {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: auto;
    margin-bottom: 132px;
  }

  @media screen and (min-width: 1260px) {
    display: flex;
    justify-content: space-between;
    width: 1020px;
    height: auto;
    margin-bottom: 164px;
  }

  // &__title-wrapper{
  //   // width: 250px;
  // }

  &__title {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.5px;

    @media screen and (min-width: 744px) {
      font-size: 48px;
    }

    @media screen and (min-width: 1260px) {
      font-size: 64px;
      line-height: 64px;
      letter-spacing: -1.5px;
    }

  }

  &__description-wrapper{
    display: block;
    width: 288px;

    @media screen and (min-width: 1260px) {
      width: 498px;
    }
  }

  &__description {
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;

    @media screen and (min-width: 1260px) {
      font-size: 23px;
      font-weight: 500;
      line-height: 32.2px;
    }
  }
}

