@media (min-width: 1260px){
  .about-us{
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 207px;

    &__title{
      width: 411px;
    }

    &__body{
      width: 498px;
      height: 96px;
    }
  }
}

@media (min-width: 744px) and (max-width: 1259px){
  .about-us{
    margin-top: 120px;
    margin-left: 72px;

    &__title{
      width: 288px;
    }

    &__body{
      width: 288px;
      height: 192px;
    }
  }
}

@media (max-width: 743px){
  .about-us{
    flex-direction: column;
    margin-top: 60px;
    margin-left: 20px;

    &__title{
      width: 152px;
    }

    &__body{
      width: 280px;
      height: 192px;
    }
  }
}

.about-us{
  display: flex;
  gap: 24px;
  color: #fff;

  &__title{
    height: auto;
  }

  &__body{
    line-height: 140%;
  }
}
