.about--as {
  @include pageGrid;

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 6;
    }

  }

  &__description {
    margin: 0;
    line-height: 140%;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
      margin-top: 40px;
    }

    @include onDesktop {
      grid-column: 6 / 12;
      margin-top: 60px;
    }
  }
}
