@import 'variables.scss';
@import 'mixins.scss';

.about {
    background-color: #fcfaef;
  
    &__image {
      background-image: url(../image/about__image.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      height: 200px;
  
      @include tablet {
        height: 400px;
      }
  
      @include desktop {
        height: 460px;
      }
    }
  
    &__content {
      @include page-grid;
  
      padding-block: 48px;
  
      @include tablet {
        padding-block: 120px;
      }
    }
  
    &__title {
      grid-column: 1 / -1;
  
      @include tablet {
        grid-column: 1 / 4;
      }
  
      @include desktop {
        grid-column: 1 / 7;
      }
    }
  
    &__description {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.15px;
      grid-column: 1 / -1;

      @include tablet {
        grid-column: 4 / 7;
      }
  
      @include desktop {
        grid-column: 8 / 13;
      }
    }
  }