.about {
  @include pageGrid;
  @include contentPaddingInline;

  &__title {
    grid-column: span 2;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__content {
    grid-column: span 2;
    font-family: "Space Mono", sans-serif;
    line-height: 22.4px;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }
}
