@import './variables';

.about__us {
  padding-top: 120px;
  padding-bottom: 82px;
  color: $text-color;
  height: auto;
  width: 100vw;
  background-color: #1d1d1d;

  .about__content {
    display: flex;
    align-items: flex-start;
    padding-left: 120px;
    gap: 24px;

    .about__content__title {
      font-weight: $primary-font-weight;
      font-size: 64px;
      width: 440px;
      align-self: flex-start;
    }

    .about__content__text {
      font-weight: $primary-font-weight;
      font-size: 23px;
      width: 498px;
    }
  }
}
