.about-us {
  @include landingPageGrid;

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    &--first {
      margin-top: 32px;
    }

    &--second {
      margin-top: 24px;
    }
  }

  &__locations {
    grid-column: span 2;

    @include forTablets {
      grid-column: 4 / span 3;
    }

    @include forDesktops {
      grid-column: 6 / span 7;
    }
  }

  &__schedule {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  &__hours {
    font-weight: 700;
  }

  &__hours,
  &__days {
    list-style: none;
    padding: 0;
  }

  &__closed {
    font-size: 16px;
  }
}
