.divisions {
  font-size: 16px;
  line-height: 27px;
  text-align: left;
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 4 / 7;
    margin-top: 0;
  }

  @include on-desktop {
    grid-column: 6 / 13;
  }
}

.divisions__fifthAvenue {
  margin-top: 32px;

  @include on-tablet {
    margin-top: 0;
  }
}

.divisions__cloisters {
  margin-top: 24px;
}

.fifthAvenue__schedule,
.cloisters__schedule {
  margin-top: 16px;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px 24px;
}

.cloisters__schedule {
  grid-template-rows: 1fr 1fr;
}

.fifthAvenue__closed-text,
.cloisters__closed-text,
.fifthAvenue__schedule--date,
.cloisters__schedule--date {
  font-weight: 400;
}

.fifthAvenue__closed-title,
.cloisters__closed-title {
  margin-top: 16px;
}

.divisions__fifthAvenue,
.divisions__cloisters {
  font-size: 24px;
  line-height: 30px;
}
