@media (max-width: 2260){
  :root{
    --margins-main: 120px;
    --title-font-size: 64px;
    --frame-font-size: 80px;
    --margin-between-blocks: 150px;
    --font-phone: 12px;
    --icon-size: 32px 32px;
    --header-height: 120px;
    --header-logo-height: 56px;
    --header-logo-width: 187px;
    --icon-phone-size: 28px 28px;
    --icon-menu-size: 24px 16px;
    --header-menu-gap: 32px;
    --header-hover-menu-size: 32px 32px;

  }
}

@media (max-width: 860){
  :root{
    --frame-font-size: 64px;
    --title-font-size: 48px;
  }
}

@media (max-width: 744){
  :root{
    --margins-main: 72px;
    --margin-between-blocks: 100px;
    --font-phone: 10px;
    --icon-size: 32px;
    --header-height: 120px;
    --header-logo-height: 56px;
    --header-logo-width: 187px;
    --icon-phone-size: 28px 28px;
    --icon-menu-size: 24px 16px;
    --header-menu-gap: 32px;
    --header-hover-menu-size: 32px 32px;
  }
}

@media (max-width: 620){
  .frame{
    flex-direction: column;
    margin-inline: var(--margins-main);
  }
}

@media (max-width: 550){
  :root{
    --margins-main: 20px;
    --title-font-size: 32px;
    --frame-font-size: 36px;
    --margin-between-blocks: 90px;
    --font-phone: 8px;
    --icon-size: 24px;
    --header-height: 86px;
    --header-logo-height: 38px;
    --header-logo-width: 130px;
    --icon-phone-size: 20px 20px;
    --icon-menu-size: 20px 12px;
    --header-menu-gap: 24px;
    --header-hover-menu-size: 28px 28px;
  }

  .header{
    background-position: 86% 0%;
  }

  .contact__container{
    flex-direction: column;
    gap: var(--margins-main);
    box-sizing: border-box;
  }

  .form{
    width: 100%;
    &__text{
      box-sizing: border-box;
      width: 100%;
    }
    &__button{
      box-sizing: border-box;
      width: 100%;
    }
  }
  .details__photo{
    aspect-ratio: 1/1;
    width: 130px;
    background-position: center;
  }

  .header__number{
    top: 100%;
    right: -100%;
  }
}

