body.no-scroll {
  overflow: hidden;
}

.animation--slide-right {
  opacity: 0;
  transform: translateX(50px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;

  &.is-visible {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation--slide-left {
  opacity: 0;
  transform: translateX(-50px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;

  &.is-visible {
    opacity: 1;
    transform: translateX(0);
  }
}

.animation--fog {
  opacity: 0;
  filter: blur(20px);
  transition:
    opacity 1.5s ease-out,
    filter 1.5s ease-out;

  &.is-visible {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes fog {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  50% {
    opacity: 0.5;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.pop-up--fog {
  opacity: 0;
  filter: blur(20px);

  &.is-visible {
    transition:
      opacity 1.5s ease,
      filter 1s ease;
    opacity: 1;
    filter: blur(0);
  }
}


