.article {
  margin: 0;
  margin-bottom: 24px;

  &--center {
    @media (min-width: 1260px) {
      transform: translate(8%);
    }
  }

  &--center--second {
    @media (min-width: 1260px) {
      transform: translate(12%);
    }
  }

  &--weight {
    font-weight: 700;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  &__day {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    height: 27px;
    row-gap: 8px;
    white-space: nowrap;

    &--space {
      margin-left: -15px;

      @media (min-width: 700px) {
        margin-left: 0;
      }
    }
  }

  &__holiday {
    display: flex;
    flex-direction: column;
    margin: 16px 0 24px;

    &--m {
      margin-top: -16px;
    }
  }

  &__first-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

    @media (min-width: 700px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__first-image {
    height: 130px;
    width: 130px;
    background-image: url(../images/primeiraArte.png);
    background-position: -50px;
    background-size: 300px;
    transition-duration: 1s;

    @media (min-width: 700px) {
      grid-column: 1/2;
      width: 392px;
      height: 186px;
      background-size: cover;
    }

    @media (min-width: 1260px) {
      width: 672px;
      height: 320px;
    }
  }

  &__first-image:hover {
    transform: scale(1.1);
  }

  &__second-image {
    height: 130px;
    width: 130px;
    background-image: url(../images/segundaArte.png);
    background-position: center;
    background-size: cover;
    transition-duration: 1s;

    @media (min-width: 700px) {
      width: 186px;
      height: 186px;
      background-size: cover;
    }

    @media (min-width: 1260px) {
      width: 320px;
      height: 320px;
    }
  }

  &__second-image:hover {
    transform: scale(1.1);
  }

  &__descripition {
    margin: 0;

    &--title {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      color: #d12d35;
      margin-bottom: -16px;
    }

    &-contact {
      margin: 0;
      margin-top: 16px;
    }

    &-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
      margin-bottom: 2px;
    }

    &-information {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      margin-top: 2px;
      color: #161616;
      text-decoration: none;
    }

    &-information:hover {
      color: #d12d35;
    }

    &--left {
      @media (min-width: 1260px) {
        margin-left: -220px;
      }
    }
  }

  &__second-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;

    @media (min-width: 700px) {
      grid-template-columns: (2, 1fr);
      column-gap: 24px;
    }

    @media (min-width: 1260px) {
      grid-template-columns: (3, 1fr);
      column-gap: 24px;
      margin-left: -220px;
    }
  }

  &__third-image {
    width: 88px;
    height: 87px;
    background-image: url(../images/terceiraArte.png);
    background-position: center;
    background-size: cover;
    transition-duration: 1s;

    @media (min-width: 700px) {
      width: 288px;
      height: 288px;
    }

    @media (min-width: 1260px) {
      width: 320px;
      height: 320px;
    }
  }

  &__third-image:hover {
    transform: scale(1.1);
  }

  &__fourth-image {
    width: 88px;
    height: 87px;
    background-image: url(../images/quartaArte.png);
    background-position: center;
    background-size: cover;
    transition-duration: 1s;

    @media (min-width: 700px) {
      width: 288px;
      height: 288px;
    }

    @media (min-width: 1260px) {
      width: 320px;
      height: 320px;
    }
  }

  &__fourth-image:hover {
    transform: scale(1.1);
  }

  &__fifth-image {
    width: 88px;
    height: 87px;
    background-image: url(../images/quintaArte.png);
    background-position: center;
    background-size: cover;
    transition-duration: 1s;

    @media (min-width: 700px) {
      display: none;
    }

    @media (min-width: 1260px) {
      display: block;
      width: 320px;
      height: 320px;
    }
  }

  &__fifth-image:hover {
    transform: scale(1.1);
  }

  &__third-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

    @media (min-width: 700px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
    }
  }

  &__sixth-image {
    height: 130px;
    width: 130px;
    background-image: url(../images/sextaArte.png);
    background-position: center;
    background-size: cover;
    transition-duration: 1s;

    @media (min-width: 700px) {
      width: 186px;
      height: 186px;
    }

    @media (min-width: 1260px) {
      width: 320px;
      height: 320px;
    }
  }

  &__sixth-image:hover {
    transform: scale(1.1);
  }

  &__seventh-image {
    height: 130px;
    width: 130px;
    background-image: url(../images/setimaArte.png);
    background-position: right;
    background-size: cover;
    transition-duration: 1s;

    @media (min-width: 700px) {
      width: 392px;
      height: 186px;
      grid-column: 2/3;
    }

    @media (min-width: 1260px) {
      width: 672px;
      height: 320px;
    }
  }

  &__seventh-image:hover {
    transform: scale(1.1);
  }

  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: 700px) {
      width: 392px;
    }
  }

  &__eighth-image {
    width: 280px;
    height: 277px;
    background-image: url(../images/oitavaArte.png);
    background-position: center;
    background-size: cover;
    margin-top: 40px;
    transition-duration: 1s;

    @media (min-width: 700px) {
      width: 392px;
      height: 392px;
    }

    @media (min-width: 1260px) {
      margin-top: 0;
    }
  }

  &__eighth-image:hover {
    transform: scale(1.1);
  }

  &__image-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #d12d35;
    margin-bottom: 2px;
  }

  &__image-descripition {
    margin-top: 2px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }

  &__ninth-image {
    width: 280px;
    height: 280px;
    background-image: url(../images/nonaArte.png);
    background-position: center;
    background-size: cover;
    transition-duration: 1s;

    @media (min-width: 700px) {
      width: 392px;
      height: 392px;
    }
  }

  &__ninth-image:hover {
    transform: scale(1.1);
  }

  &__tenth-image {
    width: 280px;
    height: 280px;
    background-image: url(../images/decimaArte.png);
    background-position: center;
    background-size: cover;
    transition-duration: 1s;

    @media (min-width: 700px) {
      width: 392px;
      height: 392px;
    }
  }

  &__tenth-image:hover {
    transform: scale(1.1);
  }

  &__title-contact {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    margin-top: 48px;
  }
}
