$text--color: #fff;
$menu--color--text: #1d1d1d;

.top__bar {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icones {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__logo {
    display: flex;

    @media (min-width:576px) {
      width: 187px;
      height: 56px;
      flex-shrink: 0;
    }
  }
}

.menu {
  height: 100vh;
  box-sizing: border-box;
  background: #c2c2c2;
  font-weight: 600;
  text-transform: uppercase;

  &__top {
    margin-bottom: 32px;
  }

  &:target {
    opacity: 1;
    pointer-events: all;

  }

  &__phone--number {
    display: block;
    color: $menu--color--text;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
  }

  &__book-a-test-ride {
    display: block;
    color: $menu--color--text;
    text-decoration: none;
    padding-bottom: 7px;
    border-bottom: 1px solid $menu--color--text;
    width: fit-content;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__content {
    padding-inline: 20px;
  }
}

.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    color: $menu--color--text;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;

    &:hover {
      padding-bottom: 7px;
      border-bottom: 1px solid $menu--color--text;
    }
  }
}
