.aside {
  background-color: #d12d35;
  position: fixed;
  inset: 0;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.aside:target {
  opacity: 1;
  pointer-events: all;
}

.aside__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;

  @media (min-width: 576px) {
    padding-block: 64px;
  }

  @media (min-width: 1024px) {
    padding-block: 64px;
  }
}

.aside__img-logo {
  height: 46px;
  width: 64px;
  display: block;

  @media (min-width: 576px) {
    height: 65px;
    width: 87px;
  }
}

.aside__closed {
  background-image: url(/src/img/header/svg/icon-close.svg);
  display: block;
  width: 24px;
  height: 24px;
  transition: linear 0.4s;
  background-position: center;
  background-size: cover;

  @media (min-width: 576px) {
    width: 32px;
    height: 32px;
  }
}

.aside__nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list__item {
  color: #fff;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  list-style: none;
}

/* Стилі для навігаційних посилань */
.aside__home,
.aside__about-us,
.aside__now-on-view,
.aside__explore-online,
.aside__contscts {
  text-decoration: none;
  color: #fff;
  font-family: Cinzel, serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.list-bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list-bottom__item {
  color: #fff;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  list-style: none;
}

.list-bottom__met-fifth-avenue,
.list-bottom__met-cloisters {
  display: block;
  color: #fff;
  font-family: Cinzel, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: none;
}

.list-bottom__met-cloisters {
  margin-bottom: 8px;
}

.list-bottom__call-order {
  position: relative;
  color: #fff;
  font-family: Cinzel, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 8px;
}

.list-bottom__call-order::after {
  position: absolute;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.link-aside {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 8px;
  transition:
    text-decoration-color 0.3s ease,
    text-underline-offset 0.3s ease;

  &:hover {
    text-decoration-color: currentColor;
  }
}
