.nomber__list {
    display: flex;
    flex-direction: column;
    width: 201px;
    height: 156px;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style: none;
    &--item {
        font-size: 16px;
        line-height: 27px;
        color: $color-white;


    }
    &--link {
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 2px;
        color: $color-white;
        text-decoration: none;

        &:hover {
            color: $color-white;
        }
    }

    &--order--item{
        margin-top: 8px;
        width: fit-content;
        padding-bottom:7px ;
        border-bottom: 1px solid $color-white;
    }

    &--order--link{
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        color: $color-white;
        text-decoration: none;
        transform: scale(00.3s);
        &:hover {
            color: $color-white;
            animation: 0.3s;
        }
    }


}