@import 'variables.scss';
@import 'mixins.scss';

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: $btn-view-bg-color;
  color: $btn-text-color;
  transition: transform 0.3s;
  border: 1px solid $text-color;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: none;
  z-index: 999;

  &__icon {
  width: 24px;
  height: 24px;
  }

  &:hover {
    background-color: $btn-to-top;
  }
}

