.smart-banner-img {
  width: 100vw; // на всю ширину viewport
  margin-inline: calc(-50vw + 50%); // забираємо внутрішні відступи контейнера
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
