.bang-olufsen {
  background-image: url(../images/bang-olu.png);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  padding-top: 35vh;

  @include on-tablet {
    padding-top: 50vh;
  }

  @include on-desktop {
    padding-top: 70vh;
  }
}
