.banner {
  width: 100%;
  position: relative;

  img {
    width: 100%;
  }

  h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 56px;
    position: absolute;
    bottom: 92px;
    left: 120px;
    width: 500px;
  }

  &--top {
    margin-top: -96px;
  }

  &--full-w {
    height: 100%;
    max-height: 200px;
    overflow: hidden;
    margin-top: 96px;

    @include on-tablet {
      max-height: 400px;
      margin-top: 120px;
    }

    @include on-dektop {
      max-height: 460px;
    }

    img {
      object-fit: fill;
      object-position: 0 -177px;
    }
  }
}
