.banner {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__container {
  background-image: url('../images/Cover_bike.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  height: 711px;

  margin-top: -100px;

  z-index: -1;

  position: relative;

  &-title {
    position: absolute;
    bottom: 260;
    left: 400;

    color: #FFF;

    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
  }
}
