@import "./values.scss";
@import "./mixins.scss";
@import "./browser.scss";

.main {
  padding-top: 60px;
  display: grid;
  row-gap: 96px;
  background-color: #1d1d1d;

  @include onTablet {
    padding-top: 120px;
    row-gap: 120px;
  }
}
