body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
  color: $white-clr;
  background-color: $main-bg-clr;
  font-size: 16px;
  text-decoration: none;
  list-style: none;

  @include tablet {
    min-width: 744px;
  }

  @include desktop {
    min-width: 1260px;
  }
}

.container {
  padding: 0 20px;

  @include tablet {
    padding: 0 72px;
  }

  @include desktop {
    padding: 0 120px;
  }
}

.background {
  background-image: url('/images/bg-main/bicycle-02x.png');
  background-size: cover;
  background-position: right;
  background-attachment: local;

  @include tablet {
    height: 100vh;
    background-position: ri;
    background-image: url('/images/bg-main/bicycle-1x.png');
  }

  @include desktop {
    height: 100vh;
    background-image: url('/images/bg-main/bicycle-1-5x.png');
    background-attachment: local;
  }
}
