.button {
  line-height: 56px;
  padding-inline: 48px;
  border-radius: 8px;
  background-color: $main-text-color;

  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-align: center;

  border: 0;
  transition: all $effectDuration;

  &:hover {
    background-color: #f8f8fa;
    color: $main-text-color;
    cursor: pointer;
    transition: all $effectDuration;
  }

  &:active {
    background-color: #111;
    color: #f0f1f4;
  }
}
