.bike {
  &__photo {
    width: 100%;

    @include hover(transform, scale(1.1));
  }

  &__description {
    font-size: 16px;
    font-weight: $normal-text;
    line-height: 140%;
  }
  &__title {
    font-size: 24px;
  }
  &__price {
    font-size: 24px;
    font-weight: $bold-text;
    margin-top: 16px;
  }
}
