.bike-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__input {
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    border-radius: 40px;
    border: none;
    background-color: $colorInputBg;
    font-size: 14px;
    line-height: 20px;
    color: $colorTextInp;
    padding: 16px;
    outline: none;
    font-family: Poppins, sans-serif;
    &--textarea {
      height: 148px;
      resize: none;
      border-radius: 16px;
    }
    &::placeholder {
      color: $colorPlaceholder;
    }
  }
}
