@import "blocks/reset";
@import "utils/variables";

.page {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;

  &__body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: $menu-bg-color;
  }
}
