.category {
  &__title {
    align-self: self-start;
    margin: 96px 0 48px;
  }

  &::after {
    content: "";
    background-image: url(/images/element-phone-mobile.png);
    background-size: cover;
    background-position: 50%;

    position: absolute;
    width: 100%;
    height: 200px;

    top: 3238;
    right: 0;
    left: 0;

    @include onTablet {
      height: 400px;
    }
    @include onLaptop {
      height: 460px;
    }
  }

  .category-block {
    display: flex;
    gap: 20px;

    &__item--1 {
      flex-grow: 2;
    }

    &__item--2 {
      flex-grow: 1;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;

      border-radius: 4px;
      transition: $main-transition;

      &:hover {
        transform: $minor-transform;
      }
    }

    &__name {
      align-self: self-start;
      margin: 16px 0;
      @include onTablet;
    }

    &__btn {
      margin: 40px 0 96px;
    }
  }
}
