.bottom-image {
  position: sticky;
  z-index: -1;
  bottom: 0;
  min-height: 200px;

  background-image: url(../images/footer-image.png);
  background-position: center bottom;
  background-size: cover;

  @include onTablet {
    min-height: 480px;
  }

  @include onDesktop {
    min-height: 555px;
  }
}
