.menu {
  height: 100vh;
  padding: 24px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $burgerColor;
  overflow: hidden;

  opacity: 0;
  pointer-events: none;
  &:target {
    opacity: 1;
    pointer-events: all;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
  }

  &__bottom-pages {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }
  &__logo {
    width: 130px;

    @include on-desktop {
      width: 187px;
    }
  }

  &__bottom-link {
    font-family: Poppins, sans-serif;
    color: $bgColor;

    @include font-setting(22px, 600, 22px, 2px);

    @include on-desktop {
      @include font-setting(22px, 700, 22px, 2px);
    }

    margin-bottom: 32px;
  }
  &__bottom-link:last-child {
    margin-bottom: 0;
  }

  &__bottom-call {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__bottom-link2 {
    color: $bgColor;
    font-family: Poppins, sans-serif;

    @include font-setting(12px, 600, 16px, 2px);

    @include on-desktop {
      @include font-setting(12px, 700, 16px, 2px);
    }
  }

  &__bottom-annon {
    color: $bgColor;

    @include font-setting(16px, 600, 27px);

    @include on-desktop {
      @include font-setting(16px, 700, 27px);
    }
  }

  @include on-tablet {
    padding: 36px 72px;
  }

  @include on-desktop {
    padding: 36px 128px;
  }
}

body:has(.menu:target) {
  overflow: hidden;
}
