@use 'mixins' as *;

.buttons {
  display: flex;
  justify-content: center;
  padding: 40px 0 140px;

}

.button {
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 0;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &--primary {
    background-color: rgba(209, 45, 53, 1);
    color: #fff;
    width: 392px;
    height: 56px;
    padding: 0 48px;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(174, 28, 35, 1);
    }
  }
}
