.button {
  height: $button-height;
  padding: 0 48px;
  border-radius: 8px;
  background-color: $main-text-color;
  border: 2px solid $main-text-color;
  cursor: pointer;
  @include btn-style;
  transition: color $animation-duration,
    border-color $animation-duration,
    background-color $animation-duration;

  &:hover {
    color: $main-text-color;
    background-color: $bg-grey-color;
    border-color: $accent-color;
  }

  &:active {
    color: $button-text-color;
    background-color: $black-color;
    border-color: $black-color;
  }
}
