.main__button-container {
}

.main__button {
  cursor: pointer;
  border-radius: 8px;
  background: #F98921;
  height: 56px;
  width: 280px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: none;
  margin-top: 40px;
  text-align: center;
  transition: transform 0.3s;


  @include on-tablet {
    width: 100%;
    max-width: 600px;
  }

  @include on-desktop {
    max-width: 280px;
    width: 100%;
  }
}

.main__button:hover {
  background: #1B2129;
  transform: scale(1.1);
}

.main__button:active {
  background: #010810;
}

.centered-image-container {
  display: flex;
}

.centered-image {
  background-image: url(./images/under-button-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  background-position: center;
  width: 100vw;

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
    background-position: center;
  }
}



