.button {
  border-radius: 40px;
  border-style: none;
  width: 100%;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  color: $background-color;
  background-color: $text-color;

  @include onTablet {
    width: 392px;
  }

  @include onDesktop {
    width: 324px;
  }

  &:hover {
    cursor: default;
    box-shadow: 1px 4px 16px 0px $hover-button-color;
  }

  &:active {
    box-shadow: 1px 4px 16px 0px $active-button-color;
  }
}

