.button {
  cursor: pointer;

  height: 56px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: $main-color;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  font-family: $fontMain;

  &:hover {
    border: 2px solid #f0f1f4;
    background-color: #f8f8fa;
    color: $main-color;
    transition: $effectDuration;
  }

  &:active {
    color: #fff;
    background-color: #111;
  }
}
