/* #region button */
.button {
  background-color: $main-text-color;
  color: $bg-main-color;
  padding: 14.5px 108.5px;
  border-radius: 40px;
  font-weight: $font-weight-bold;
  text-decoration: none;
  border: none;

  box-sizing: border-box;
  margin: 0 auto;
  max-width: 392px;

  cursor: pointer;

  &:hover {
    box-shadow: 1px 4px 16px #e8e8f0;
    transform: $main-transform-animation;
  }

  @include on-tablet {
    padding-inline: 165.5px;
  }

  &--form-button {
    margin-top: 2em;
    max-width: 288px;

    @include on-tablet {
      padding-inline: 124px;
    }

    @include on-lap-top {
      padding-inline: 184.5px;
      max-width: 411px;
    }
  }
}

/* #endregion */
