.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff;

  height: 418px;

  @media (min-width: 744px) {
    height: 487px;
  }
  @media (min-width: 1260px) {
    height: 424px;
  }

  &__img {
    width: 280px;
    height: 288px;
    margin-bottom: 32px;

    @media (min-width: 744px) {
      width: 392px;
      height: 392px;
      img {
        width: 392px;
      }
    }
    @media (min-width: 1260px) {
      width: 324px;
      height: 324px;

      img {
        width: 324px;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__about {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 16px;
  }

  &__price {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
  }
}
