.card {
  &__photo {
    width: 100%;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: white;
    margin-top: 32px;
    margin-bottom: 8px;
  }

  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: white;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: white;
  }
}
