
@use 'variables' as *;

.card {
  width: 300px;
  height: 400px;
  padding: 10;
  margin: 0;
  display: flex;
  flex-direction: column;
  transition-duration: $duration-highlight;
  &:hover {
    transform: scale(1.2);
  }
  &__image-wrapper {
    margin: 0;
    padding: 0;
  }
  &__image {
    flex-grow: 4;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  &__title {
    flex-grow: 1;
    padding: 0;
    margin: 0;
  }
  &__text {
    flex-grow: 2;
    padding: 0;
    margin: 0;
  }
  &__price {
    flex-grow: 1;
    padding: 0;
    margin: 0;
  }
}
