.cart {
  &__container {
    @include on-desktop {
      @include page-grid;
    }
  }

  &__content {
    @include on-desktop {
      display: grid;
      grid-column: span 5;
    }
  }

  &__item {
    font-family: 'Space Mono', sans-serif;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    background-color: $button-hover-color;
    border: 1px solid $button-hover-color;
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 14px 16px;
    outline: none;

    &::placeholder {
      color: $input-text-color;
    }

    &:hover {
      border: 1px solid $input-border-color;
      color: $main-text-color;
    }

    &:focus {
      border: 1px solid $main-text-color;
      color: $main-text-color;
    }
  }

  &__massage {
    resize: none;
    margin-bottom: 32px;
  }

  &__button {
    height: 56px;
    border-radius: 8px;
    background-color: $main-text-color;
    border: 0;
    color: $button-text-color;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 48px;

    &:hover {
      background-color: $button-hover-color;
      color: $main-text-color;
      border: 2px solid $button-border-color;
      cursor: pointer;
    }

    &:active {
      border: 0;
      background-color: $button-isactive-color;
      color: $button-text-color;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    color: $footer-text-color;
  }

  &__description {
    text-decoration: none;
    display: inline-block;
    font-family: 'Space Mono', sans-serif;
    margin-bottom: 24px;
    color: $footer-main-color;
    font-size: 16px;
    font-weight: 400;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.information__cart {
  @include on-desktop {
    grid-column: 7 / -1;
  }
}
