.catalogue {
  display: grid;
  justify-content: center;
  column-gap: 40px;
  row-gap: 20px;

  &__header {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 47px;
  }

  &__images {
    display: flex;
    column-gap: 20px;

    &--blocks {
      width: 100%;
      height: 130px;

      @media (min-width: 744px) {
        height: 184px;
        width: 288px;
      }

      @media (min-width: 1260px) {
        height: 324px;
        width: 498px;
      }

      transition: transform 0.5s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__text {
    font-weight: 700;
    font-size: 18px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $button-color;
    border-radius: 5px;
    width: 100%;
    height: 56px;
    margin-top: 40px;
    margin-bottom: 120px;

    color: white;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;

    @media (min-width: 1260px) {
      width: 324px;
    }

    &:hover {
      background-color: $button-hover-color;
    }

    &:active {
      background-color: $button-active-color;
    }
  }
}
