.category {
  &__title {
    color: #292929;

    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  &__images {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    width: 130px;

      &--1 {
        @include onTablet {
        width: 184px;
        }

        @include onDesktop {
          width: 324px;
        }
      }

      &--2 {
        @include onTablet {
          width: 392px;
        }

        @include onDesktop {
          width: 672px;
        }
      }
  }

  &__link {
    display: block;
    margin-top: 16px;
    color: #292929;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }
}
