.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px
    }

    @include on-desktop {
      row-gap: 56px
    }

  }
}


.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__photo {
    width: 100%;
    transition: transform $transition-main-time;
    &:hover {
      transform: scale(1.05);
      }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;

    @include on-tablet {
      font-size: 24px;
    }

    @include on-desktop {
      font-size: 24px;
    }

  }

  &__button {
    background-color: rgba(249, 137, 33, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 14.5px 111px;

    @include on-tablet {
      padding: 14.5px 271px;
    }

    @include on-desktop {
      padding: 14.5px 133px;
    }

    transition: transform $transition-main-time;
    &:hover {
        transform: scale(1.1);
      }

  }
}

.button {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
