.button {
  margin-top: 56px;
  width: 100%;
  background-color: black;
  text-align: center;
  padding: 15px 0;
  border-radius: 10px;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
    border-radius: 20px;
  }

  &__link {
    color: white;
    line-height: 27px;
  }
}
