.categories {
  &__wrapper {


    @include on-tablet {
    }
  }
}

.category {
  &__photos {

    margin-bottom: 16px;
  }

  &__link {
    &--wide {

    }

    &--square {

    }
  }

  &__photo {
    width: 100%;
    transition: transform 0.3s;

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 498px;
      height: 324px;
    }
  }

  &__photo:hover {
    transform: scale(0.9);
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}

.under-button__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.under-button__image {
  max-width: 100%;
  min-width: 100%;
  height: 460px;
}
