.category {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;

  &__title {
    color: $main-color;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    width: 130px;

      &--1 {
        @include onTablet {
        width: 184px;
        }

        @include onDesktop {
          width: 324px;
        }
      }

      &--2 {
        @include onTablet {
          width: 392px;
        }

        @include onDesktop {
          width: 672px;
        }
      }
  }

  &__link {
    display: block;
    margin-top: 16px;

    color: $main-color;
    font-size: 18px;
    line-height: 140%;
  }
}
