@use 'mixins' as *;
@use 'variables' as *;

.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 64px;
    }
  }
}

.category {

  &__photos {
    @include pageGrid;
    margin-bottom: 16px;
  }

  &__link {
    position: relative;
    &--big {
      @include onTablet {
        grid-column: span 4;
        grid-row: 1;
      }

      @include onDesktop {
        grid-column: span 8;
        grid-row: 1;
      }
    }

    &--small {
      height: 0;
      padding-bottom: 100%;
      @include onTablet {
        grid-column: span 2;
        grid-row: 1;
      }

      @include onDesktop {
        grid-column: span 4;
        grid-row: 1;
      }
    }

    &--row--2 {
      height: 0;
      padding-bottom: 100%;
      @include onTablet {
        grid-column: span 3;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }
  }


  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

  &__title {
    padding-top: 24px;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: rgba(209, 45, 53, 1);
    text-transform: uppercase;
    grid-column: 2 / 2;

    @include onTablet {
      grid-column: span  4;
    }

    @include onDesktop {
      grid-column: span 8;
    }

  }

  &__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: rgba(22, 22, 22, 1);
    text-transform: uppercase;
    grid-column: 2 / 2;
    @include onTablet {
      grid-column: span  4;
    }

    @include onDesktop {
      grid-column: span 8;
    }

  }
}
