.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories__title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;

  margin: 96px 20px 48px;
}

.categories__wrap {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 168px;

  margin: 0 20px 40px;
}

.categories__icon {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

.categories__photo {
  width: 130px;
  height: 130px;
}

.categories__name {
  margin: 0;
  font-weight: 700;
}

.categories__button {
  width: 280px;
  height: 56px;
  margin: 40px 20px 96px;

  border-radius: 40px;
  background: #292929;
}

.categories__button:hover {
  background: #090909;
}

.button__name {
  margin: 0;
  padding: 0;
  width: auto 62px;
  height: auto 27px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}
