.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;
  }

  &__view-all {
    width: 280px;
    height: 56px;
    padding-inline: 48px;
    margin: 0 auto;

    @include on-tablet {
      width: 600px;
      height: 56px;
    }

    @include on-desktop {
      width: 324px;
      height: 56px;
    }

    border-radius: 8px;
    padding-right: 48px;
    padding-left: 48px;
    background-color: #F98921;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;

    margin-bottom: 96px;

    transition: transform 0.3s;

    &:hover {
      transform: scale(0.9);
      background-color: $hover-link-color;
      cursor: url(/src/images/cursor-vector.cur), auto;
    }

    &:active {
      background-color: $pressed-link-color;
      transform: scale(1.01);
    }
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }
  &__link {
    @include on-tablet  {
      grid-column: span 3;
    }

    @include on-desktop  {
      grid-column: span 6;
    }
  }

  &__photo {
    width: 100%;
    transition: transform 0.5s, border-radius 0.15s;

    &:hover {
      transform: scale(1.1);
      border-radius: 10%;
      border: 1px solid #1B2129;

    }
  }


  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
  }
}
