body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.main {
  background-color: $color-text-menu;
  padding: 60px 0 120px;

  @include onTablet {
    padding: 120px 0 100px;
  }

  @include onDesktop {
    padding-bottom: 164px;
  }
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesktop {
    padding-inline: 120px;
  }
}

.title-second {
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: -1.5px;
  color: #fff;

  @include onTablet {
    font-size: 48px;
    line-height: 48px;
  }

  @include onDesktop {
    font-size: 64px;
    line-height: 64px;
  }
}

.title-third {
  font-size: 24px;
  line-height: 33px;
  font-size: 700;
  color: #fff;
}

img {
  max-width: 100%;
}
