.compare-bikes {
  &__product {
    display: grid;
    column-gap: 40px;

    @include kebab-case {
      justify-items: center;
    }

    @include on-desctop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      justify-items: stretch;
    }
  }
}
