.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #1d1d1d;

  .main-content__text{
    display: flex;
    justify-content: space-between;
    width: 933px;
    gap: 20px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 50px;

    .main-content__move{
      font-size: 64px;
      font-weight: 500;
      width: 411px;
      margin: 0;
    }

    .main-content__paragraphe{
      width: 498px;
      font-size: 23px;
      font-weight: 500;
      line-height: 1.4;
      display: block;
      margin: 0;
    }
  }

  .main-content__compare {
    .main-content__head {
      display: flex;
      justify-content: center;
      text-align: center;
      height: 64px;
      width: 498px;
      font-size: 64px;
      font-weight: 500;
      color: #fff;
      margin-bottom: 20px;
    }

    .main-content__head {
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .main-content__compare-cards{
      margin-top: 20px;
      display: grid;
      grid-template-columns: 324px 324px 324px;
      align-items: center;
      width: 1020px;
      margin-bottom: 20px;

      .main-content__compare-card{
        width: 324px;
        height: 446px;
        gap: 20px;
        .main-content__compare-image{
          width: 324px;
          height: 256px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          margin-bottom: 10px;
        }
        .main-content__compare-name{
          font-size: 24px;
          font-weight: 700;
          font-style: bold;
          color: #fff;
          margin-top: 10px;
        }
        .main-content__compare-text{
          font-size: 16px;
          font-weight: 400;
          color: #fff;
          margin-top: 10px;
        }
        .main-content__compare-text{
          font-size: 16px;
          font-weight: 400;
          color: #fff;
          margin-top: 10px;
          font-style: regular;
        }
      }
      @media screen and (max-width: 744px) {
        width: 392px;

        .main-content__compare-card {
          width: 392px;
          padding: 0;
        }
      }
    }
  }
}
