@use './variables.scss' as vars;

.compare {
  display: grid;
  padding-left: 120px;
  padding-right: 120px;
  width: 1020px;

  @media (max-width: 744px) {
    width: 392px;
    padding-left: 176px;
    padding-right: 176px;
  }

  @media (max-width: 320px) {
    padding: 0 20px 92px;
    grid-template-columns: 280px;
    width: 280px;
  }
}

.bikes__grid {
  display: grid;
  grid-template-columns: 324px 324px 324px;
  column-gap: 24px;

  @media (max-width: 744px) {
    grid-template-columns: 392px;
    gap: 48px;
  }

  @media (max-width: 320px) {
    grid-template-columns: 280px;
    gap: 40px;
  }
}

.bike {
  transition: transform var(--transition-speed);
  width: 324px;
  height: 446px;

  @media (max-width: 744px) {
    width: 392px;
    height: 484px;
    padding: 0;
  }

  @media (max-width: 320px) {
    width: 280px;
    height: 390px;
    padding: 0;
  }
}

.compare__bike {
  font-family: vars.$font-family;
  color: vars.$color-of-text;
  font-size: vars.$font-size-l;
  letter-spacing: vars.$letter-spacing-hs;
  line-height: vars.$line-height-h1-h2;
  font-weight: 500;
  padding-bottom: 56px;
  text-align: center;

  @media (max-width: 744px) {
    font-size: vars.$font-size-mh;
    padding-bottom: 48px;
    width: 392px;
  }

  @media (max-width: 320px) {
    font-size: vars.$font-size-m3;
    padding-bottom: 48px;
    max-width: 280px;
  }
}

.name__bike {
  font-family: vars.$font-family;
  font-size: vars.$font-size-m;
  font-weight: 700;
  line-height: vars.$line-height-h3-h4;
  letter-spacing: vars.$letter-spacing;
  color: vars.$color-of-text;
  padding-bottom: 8px;
  height: 34px;
}

.info__bike {
  font-family: vars.$font-family;
  font-size: vars.$font-size-xs;
  font-weight: 400;
  line-height: vars.$line-height-h3-h4;
  letter-spacing: vars.$letter-spacing;
  color: vars.$color-of-text;
  height: 67px;

  @media (max-width: 744px) {
    height: 44px;
  }

  @media (max-width: 320px) {
    height: 66px;
  }
}

.price {
  font-family: vars.$font-family;
  font-size: vars.$font-size-m;
  font-weight: 700;
  line-height: vars.$line-height-h3-h4;
  letter-spacing: vars.$letter-spacing;
  color: vars.$color-of-text;
  margin-top: 16px;
  height: 34px;
}
