.compareBikes {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
  justify-content: center;

  padding-inline: 20px;
  padding-top: 92px;

  @media (min-width: 744px) {
    padding-inline: 72px;
    padding-top: 132px;

    grid-template-columns: repeat(6, 80px);
    gap: 24px;
  }

  @media (min-width: 1260px) {
    padding-inline: 120px;

    grid-template-columns: repeat(12, 63px);
    gap: 24px;
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    grid-column: 1 / -1;

    @media (min-width: 744px) {
      font-size: 48px;
      grid-column: 2 / 6;
    }

    @media (min-width: 1260px) {
      font-size: 64px;
      grid-column: 4 / 10;
    }
  }

  &__cards {
    padding-top: 48px;
    grid-column: 1 / -1;

    @media (min-width: 744px) {
      grid-column: 2 / 6;
      grid-column: span;
    }

    @media (min-width: 1260px) {
      grid-column: 1 / -1;
      padding-top: 56px;

      display: flex;
      justify-content: space-between;
      gap: 24px;
    }
  }
}
