.compareBikes {

  &__products {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      justify-items: center;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      justify-items: stretch;
    }
  }

  .product__photo{
    transition: transform 0.3s;
  position: relative;

  &:hover {
    transform: scale(1.06);
  }
  }
}
