.compare-bikes {
  &__products {
    @include page-grid;

    row-gap: 40px;
  }

  &__product {
    grid-column: 1 / -1;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
