/* #region compare-bikes */

.product {
  display: grid;
  padding-bottom: 40px;

  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 2 / 6;
  }

  @include on-desktop {
    padding-bottom: 0;
    grid-column: span 4;
  }

  &--zero-padding {
    padding: 0;
  }
}

.compare-bikes {
  @include on-tablet {
    padding-bottom: 120px;
  }

  @include on-desktop {
    padding-bottom: 144px;
  }

  &__title {
    padding-bottom: 48px;
    text-align: center;

    @include on-desktop {
      padding-bottom: 56px;
    }
  }

  &__model {
    padding-bottom: 8px;
  }

  &__photo {
    width: 100%;

    @include on-tablet {
      width: 392px;
    }

    @include on-desktop {
      width: 324px;
      padding-bottom: 0;
    }
  }

  &__price {
    font-weight: $max__weight;
  }

  &__text {
    padding-bottom: 16px;
  }
}

/* #endregion */
