.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;

  background-color: #1d1d1d;

  .main-content__text{
    display: flex;
    gap: 20px;
    justify-content: space-between;

    width: 933px;
    margin-top: 30px;
    margin-bottom: 50px;

    color: #fff;

    .main-content__move{
      width: 411px;
      margin: 0;
      font-size: 64px;
      font-weight: 500;
    }

    .main-content__paragraphe{
      display: block;

      width: 498px;
      margin: 0;

      font-size: 23px;
      font-weight: 500;
      line-height: 1.4;
    }
  }

  .main-content__compare {
      display: block;
      justify-content: center;
      align-items: center;
    .main-content__head {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 64px;
      margin-bottom: 20px;

      font-size: 64px;
      font-weight: 500;
      color: #fff;
      text-align: center;
    }

    .main-content__compare-cards{
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 30px;

      width: 1020px;
      margin-top: 20px;
      margin-bottom: 20px;

      .main-content__compare-card{
        gap: 20px;
        width: 324px;
        height: 446px;
        .main-content__compare-image{
          width: 324px;
          height: 256px;
          margin-bottom: 10px;

          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .main-content__compare-name{
          margin-top: 10px;

          font-size: 24px;
          font-weight: 700;
          font-style: bold;
          color: #fff;
        }

        .main-content__compare-text{
          margin-top: 10px;

          font-size: 16px;
          font-weight: 400;
          font-style: regular;
          color: #fff;
        }
      }

    }
  }

  @media screen and (max-width: 744px) {
        .main-content__text{
          justify-content: center;
          .main-content__move{
            width: 288px;
            height: 48px;
            font-size: 48px;
          }

          .main-content__paragraphe{
            width: 288px;
            height: 192px;
            font-size: 23px;
            font-weight: 500px;
          }

        }

        .main-content__compare-cards{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;
          width: 392px;

          .main-content__compare-card{
            width: 392px;
            height: 484px;
          }
        }
      }
}
