.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-right: 120px;
  padding-left: 120px;

  background-color: #1d1d1d;

  .main-content__text {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    width: 933px;
    margin-top: 30px;
    margin-bottom: 50px;

    color: #fff;

    .main-content__move {
      width: 411px;
      margin: 0;
      font-size: 64px;
      font-weight: 500;
    }

    .main-content__paragraphe {
      display: block;

      width: 498px;
      margin: 0;

      font-size: 23px;
      font-weight: 500;
      line-height: 1.4;
    }
  }

  .main-content__compare {
    display: block;
    align-items: center;
    justify-content: center;
    .main-content__head {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 64px;
      margin-bottom: 20px;

      font-size: 64px;
      font-weight: 500;
      color: #fff;
      text-align: center;
    }

    .main-content__compare-cards {
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: center;

      width: 1020px;
      margin-top: 20px;
      margin-bottom: 20px;

      .main-content__compare-card {
        gap: 20px;
        width: 324px;
        height: 446px;
        .main-content__compare-image {
          width: 324px;
          height: 256px;
          margin-bottom: 10px;

          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .main-content__compare-name {
          margin-top: 10px;

          font-size: 24px;
          font-weight: 700;
          font-style: bold;
          color: #fff;
        }

        .main-content__compare-text {
          margin-top: 10px;

          font-size: 16px;
          font-weight: 400;
          font-style: regular;
          color: #fff;
        }
      }
    }
  }

  @media screen and (max-width: 744px) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 744px;
    padding-right: 72px;
    padding-left: 72px;

    .main-content__text {
      justify-content: center;

      .main-content__move {
        width: 288px;
        height: 48px;
        font-size: 48px;
        font-weight: 500;
      }

      .main-content__paragraphe {
        width: 288px;
        height: 192px;
        font-size: 23px;
        font-weight: 500;
      }
    }

    .main-content__compare {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .main-content__head {
        width: 392px;
        height: 48px;
        font-size: 48px;
        font-weight: 500;
      }

      .main-content__compare-cards {
        flex-direction: column;
        width: 392px;

        .main-content__compare-card {
          width: 392px;
          height: 484px;
          .main-content__compare-image {
            width: 392px;
            height: 316px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 320px) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 320px;
    padding-right: 20px;
    padding-left: 20px;

    .main-content__text {
      flex-direction: column;
      justify-content: center;

      .main-content__move {
        width: 152px;
        height: 32px;
        font-size: 32px;
        font-weight: 500;
      }

      .main-content__paragraphe {
        width: 280px;
        height: 192px;
        font-size: 23px;
        font-weight: 500;
      }
    }

    .main-content__compare {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .main-content__head {
        width: 280px;
        height: 32px;
        font-size: 32px;
        font-weight: 500;
      }

      .main-content__compare-cards {
        flex-direction: column;
        width: 280px;
        .main-content__compare-card {
          width: 280px;
          height: 418px;
          .main-content__compare-image {
            width: 280px;
            height: 228px;
          }
        }
      }
    }
  }
}
