.header {
  height: 100vh;
  padding-top: 25px;
  background-image: url(../images/image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include Phone {
    padding-top: 32px;
  }
  &__actionss {
    margin-bottom: 129px;
    @include Desktop {
      margin-bottom: 92px;
    }

    @include Tablet {
      margin-bottom: 140px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;

    @include Desktop {
      gap: 60px;
    }
  }

  &__contacts {
    position: absolute;
    right: 107px;
    top: -2px;
    padding-right: 20px;
    text-align: end;
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition;
    margin-bottom: 8px;
    &:hover {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__call:hover ~ &__contacts {
    opacity: 1;
    pointer-events: all;
  }

  &__title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.5px;
    font-weight: 700;
    text-align: center;
    color: $main-white;

    @include Desktop {
      font-size: 80px;
      line-height: 80px;
    }
    @include Tablet {
      margin-top: 120px;
    }
  }
}
