.contact-info {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__phone {
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color: #1d1d1d;
  }

  &__text {
    margin: 0;
    padding-bottom: 8px;
    width: fit-content;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #1d1d1d;

    border-bottom: 1px solid #1d1d1d;
  }
}
