.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-area: form;

  &__input {
    height: 48px;
    background-color: #F8F8FA;
    border: 0;
    font-family: $text-font-family;
    text-indent: 16px;

    @include change-input;

    &--message {
      height: 144px;
    }

    &::placeholder {
      color: #7E7E83;
    }

    &:hover {
      border: 1px solid #D5D7DE;

      @include change-input;
    }

    &:focus {
      border: 1px solid $dark-text-color;

      @include change-input;
    }
  }

  &__button {
    width: 100%;
    height: 56px;
    text-align: center;
    border: 0;

    font-family: $text-font-family;
    background-color: $red-text-color;
    color: $text-color;

    font-size: 16px;
    font-weight: 700;
    line-height: 27px;

    &:hover {
      @include hover-button;
    }

    &:active {
      @include pressed-button;
    }
  }
}
