.about {
  @include page-Grid;

  &__title {
    @include typografy-up;

    grid-column: 1/-1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-pc {
      grid-column: span 6;
    }
    &--item {
      margin: 0;
    }
  }
  &__content {
    grid-column: 1 /-1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-pc {
      grid-column: span 6;
    }
  }
}

.color--red {
  display: block;
  text-align: start;

  font-family: Cinzel, sans-serif;
  font-weight: 700;

  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0;

  color: red;
}

.position {
  display: grid;

  column-gap: 20px;

  --columns: 2;

  grid-template-columns: repeat(var(--columns), 1fr);

  grid-column: span 1;

  @include on-tablet {
    grid-column: span 2;
  }

  @include on-pc {
    grid-column: span 3;
  }
}

.blod {
  @include typografy-important-information;
}
