.contacts {
  margin: 0 auto;
  margin-top: 140px;
  text-align: center;

  h2 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    font-weight: 700;
  }

  .contacts__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
    text-align: center;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      margin: 48px 20px 20px;
      gap: 24px;
    }

    @media (max-width: 425px) {
      grid-template-columns: 1fr;
    }

    div {
      text-align: left;
    }
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 8px;
    }

    input,
    textarea {
      width: 100%;
      padding: 8px;
      font-size: 16px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      background-color: #f8f8fa;

      &::placeholder {
        color: #ccc;
      }
    }

    textarea {
      resize: vertical;
    }
  }

  .contact__info {
    &--title {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
    }
    &--text {
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
    }
    a {
      text-decoration: none;
      color: black;
    }
    &--number {
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      &:hover {
        color: darkslategrey;
      }
    }
    &--address {
      font-weight: 700;
      font-size: 16px;
      line-height: 23px;
      &:hover {
        color: darkslategrey;
      }
    }
  }

  .form__button--box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    width: 411px;
    height: 56px;
    box-sizing: border-box;

    @media (max-width: 425px) {
      width: 100%;
      margin: 0 10px;
    }
  }

  .form__button {
    margin-top: 40px;
    display: block;
    color: white;
    background-color: #d12d35;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
  }
}
