@import './variables';

.contact__us {
  position: relative;
  padding-bottom: 164px;

  .contact__header {
    margin: 0 auto;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: $text-color;
  }

  .contact__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 198px;
    padding-left: 120px;
    margin-top: 48px;

    .contact__form {
      width: 411px;

      .name {
        border: 0;
        border-radius: 40px;
        width: 100%;
        height: 48px;
        padding-left: 16px;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 400;
      }

      .email {
        margin-top: 16px;
        border: 0;
        border-radius: 40px;
        width: 100%;
        height: 48px;
        padding-left: 16px;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 400;
      }

      .message {
        margin-top: 16px;
        border: 0;
        border-radius: 16px;
        width: 100%;
        resize: none;
        padding-top: 14px;
        padding-left: 16px;
        margin-bottom: 32px;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 400;
      }

      .message::placeholder {
        font-family: $font-family;
        font-size: 14px;
        font-weight: 400;
      }

      .form__button {
        display: block;
        margin: 0 auto;
        border-color: transparent;
        border-radius: 40px;
        width: 100%;
        height: 56px;
        background-color: $text-color;
        color: $secondary-text-color;
        font-weight: $strong-font-weight;
        text-align: center;
      }
    }

    .contact__info {
      color: $text-color;

      a {
        color: $text-color;
        text-decoration: none;
      }

      a:hover {
        color: gray;
      }
    }
  }
}
