.contact {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    align-items: flex-start;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__info {
    flex: 1 1 50%;
    display: flex;
    gap: 30px;
    text-align: left;

    @media (min-width: 769px) and (max-width: 1259px) {
      flex-direction: column;
    }

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__form-container {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__subheading {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 5px 0 2px;
  }

  &__adress {
    color: black;
    &:hover {
      color: red;
    }
    &:active {
      color: red;
    }
  }

  &__text {
    font-size: 1rem;
    margin-bottom: 10px;
    &:hover {
      color: red;
    }
    &--link {
      color: black;

      &:hover {
        color: red;
      }
      &:active {
        color: red;
      }
    }
  }

  &__form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__input,
  &__textarea {
    height: 48px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    background-color: #f8f8fa;
    font-family: Cinzel, serif;
  }

  &__textarea {
    height: 144px;
  }

  &__button {
    background-color: darkred;
    color: white;
    padding: 15px;
    font-size: 16px;
    line-height: 27px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    font-family: Cinzel, serif;
    &:hover {
      background-color: #ae1c23;
    }
  }
}
