.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__wrap {
  margin: 0 20px 96px;
  width: 280px;
}

.contacts_title {
  width: 280px;
  height: 48px;
  color: #292929;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
}

.contacts__item {
  width: 280px;
  height: 48px;
  box-sizing: border-box;
  padding: 14px 16px;
  font-size: 14px;
  border: 1px solid transparent;
  background-color: #f8f8fa;
  margin-bottom: 16px;
}

.contacts__items--textarea {
  margin-bottom: 16px;
  height: 148px;
  font-family: inherit;
  color: #7e7e83;
  resize: none;
}

.contacts__items:hover {
  border: 1px solid black;
}

.contacts__button {
  width: 280px;
  height: 56px;
  margin-top: 16px;
  align-items: center;
  flex-shrink: 0;

  border-radius: 40px;
  border: 3px solid #292929;

  font-weight: 700;
  line-height: 27px;
}

.contacts__details {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts__type {
  color: #9fadc2;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}

.contacts__info {
  color: #3e3e3e;
  font-weight: 400;
  text-decoration: none;
}
