$footer-text-color: rgb(9, 9, 10);
$footer-hover-color: rgb(33, 116, 249);
$font-family: 'Manrope', sans-serif;
.contact-info__textarea {
  resize: none;

}

.footer {
  max-width: 100%;
  padding-block: 24px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;

    &:hover {
      text-decoration: underline;
      color: $footer-hover-color;
    }
  }

  .contact-info {
    cursor: pointer;

    &__item {
      margin-bottom: 16px;
    }

    &__label {
      font-family: $font-family;
      font-size: 14px;
      color: rgba(147, 147, 163, 1);
      text-decoration: none;
    }

    &__phone,
    &__email {
      font-family: $font-family;
      font-size: 14px;
      color: $footer-text-color;
      text-decoration: none;
      transition: color 0.3s;
    }

    &__address {
      font-family: $font-family;
      font-size: 16px;
      color: rgba(25, 25, 25, 1);
    }
  }
}


