.form-container {
  padding-inline: 20px;

  h1 {
    padding-top: 104px;
    font-family: Space Grotesk , sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    @media (min-width: 576px) {
      padding-top: 120px;
      font-family: Space Grotesk , sans-serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    @media (min-width: 1024px) {
      padding-top: 120px;
      font-family: Space Grotesk , sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 48px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .input-field {
      width: 100%;
      padding: 16px;
      border: 1px solid #f8f8fa;
      border-radius: 10px;
      background-color: #f8f8fa;
      font-size: 14px;
      color: black;
      font-family: Space Mono , monospace;
      font-weight: 400;
      line-height: 19.6px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

      &::placeholder {
        color: #bbb;
      }
    }

    .message-field {
      height: 100px;
      resize: none;
    }

    .submit-button {
      width: 100%;
      padding-top: 32px;
      border: none;
      border-radius: 10px;
      color: #f8f8fa;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;

      &:hover {
        color: black;
      }
    }
  }
  @include contentPaddingInline;
}
