.content-phone {
  &__card {
    color: $color_white;
    white-space: nowrap;
    line-height: 1.68;
    font-weight: 700;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__number {
    color: $color_white;
    text-decoration: none;
  }
}
