.contact-section {
  display: flex;
  flex-direction: column;
  column-gap: 100px;
  padding-inline: var(--content-padding, 16px);

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 120px;
  }

  .form-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__title {
      padding-top: 104px;
      padding-bottom: 56px;
      font-family: Space Grotesk, sans-serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 32px;
      text-align: left;

      @media (min-width: 576px) {
        padding-top: 120px;
        font-size: 40px;
        line-height: 40px;
      }

      @media (min-width: 1024px) {
        padding-top: 120px;
        font-size: 48px;
        line-height: 48px;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .input-field {
        max-width: 411px;
        height: 48px;
        padding: 16px;
        border: 1px solid #f8f8fa;
        border-radius: 10px;
        background-color: #f8f8fa;
        font-size: 14px;
        color: black;
        font-family: Space Mono, monospace;
        font-weight: 400;
        line-height: 19.6px;

        @media (min-width: 1024px) {
          width: 411px;
        }

        &::placeholder {
          color: #bbb;
        }

        input:focus {
          outline: none;
        }
      }

      .message-field {
        height: 100px;
        resize: none;
      }

      .submit-button {
        max-width: 445px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 16px;
        border: none;
        border-radius: 8px;
        background-color: black;
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;

        @media (min-width: 1024px) {
          width: 445px;
        }

        &:hover {
          color: white;
        }
      }
    }
  }

  .contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 48px;

    @media (min-width: 1024px) {
      margin-top: 210px;
    }

    &__block {
      margin-bottom: 24px;

      h2 {
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #9393a3;
      }

      a {
        font-size: 16px;
        line-height: 22.4px;
        margin: 0;
        color: #191919;
        font-family: "Space", "Mono", monospace;
        font-weight: 400;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: #007bff;
          text-decoration: underline;
        }
      }
    }
  }
  @include contentPaddingInline;
}
