.main__contacts {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 134px;
}

.contacts__adress {
  margin-top: 40px;
}

.contacts__title {
  margin: 0;
  text-align: center;
}

.avenue__subtitle {
  font-size: 16px;
  font-weight: 700;
}

.avenue__phone,
.avenue__adress {
  font-size: 14px;
}

.avenue__phone p {
  margin: 0;
  padding: 0;
}

.avenue__phone a {
  text-decoration: none;
  font-weight: 700;
  color: var(--black-main);
}

.cloisters__phone a {
  text-decoration: none;
  font-weight: 700;
  color: var(--black-main);
}

.avenue__adress h2 a,
.cloisters__adress h2 a {
  text-decoration: none;
  color: inherit;
}

.avenue__phone a:hover {
  color: var(--active-red);
}

.avenue__adress {
  padding-top: 15px;
}

.avenue__adress h2,
.cloisters__adress h2 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 4px;
}

.avenue__adress h2:hover {
  color: var(--active-red);
}

.contacts__cloisters {
  padding-top: 48px;
}

.cloisters__subtitle {
  font-size: 16px;
  font-weight: 700;
}

.cloisters__phone,
.cloisters__adress {
  font-size: 14px;
}

.cloisters__adress {
  padding-top: 15px;
}

.cloisters__phone a:hover {
  color: var(--active-red);
}

.cloisters__adress h2:hover {
  color: var(--active-red);
}

.contacts__form {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  all: unset;
  background-color: var(--input-color);
  height: 48px;
  color: var(--black-main);
}

.form__text {
  padding-top: 14px;
  height: 144px;
}

.form__send {
  all: unset;
  cursor: pointer;
  text-align: center;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  color: var(--input-color);
  background-color: var(--red-main);
  transition: background-color var(--hover-transition);
}

.form__send:hover {
  background-color: var(--red-hover);
}

.form__name:hover::placeholder,
.form__email:hover::placeholder,
.form__text:hover::placeholder {
  color: var(--black-main);
}

.form__name,
.form__email,
.form__text {
  font-size: 14px;
  color: var(--black-main);
  font-weight: 400;
  border: 1px solid transparent;
  transition: var(--hover-transition);
  padding-left: 16px;
}

.form__name:hover,
.form__email:hover,
.form__text:hover {
  border: 1px solid var(--border-color);
  color: var(--black-main);
}

.form__name:focus,
.form__email:focus,
.form__text:focus {
  border: 1px solid var(--black-main);
}

.form__send:active {
  background-color: var(--active-red);
}

.avenue__adress a:visited,
.cloisters__adress a:visited {
  color: inherit;
}

@media only screen and (min-width: 744px) and (max-width: 1259px) {
  .main__contacts {
    position: relative;
    flex-direction: row;
    gap: 75px;
  }

  .contacts__title {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
  }
}

@media only screen and (min-width: 1260px) {
  .main__contacts {
    width: 1020px;
    margin-top: 200px;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    gap: 75px;
  }

  .contacts__title {
    margin-top: -100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    font-size: 48px;
  }

  .contacts__adress {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .contacts__cloisters {
    padding-top: 0;
  }

  .contacts__form {
    width: 411px;
  }
}
