@import './variables';

.container {
  padding-inline: 20px;
  max-width: 1260px;
  margin-inline: auto;
  background-color: $white;
  display: grid;
  row-gap: 100px;

  @media (min-width: $tablet-min-width) {
    padding-inline: 72px;
    row-gap: 140px;
  }

  @media (min-width: $desktop-min-width) {
    padding-inline: 120px;
  }
}
