.contactUs {
  padding-bottom: 84px;
  scroll-margin-top: 150px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;

    @media (min-width: 1260px) {
      font-size: 48px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    @media (min-width: 744px) {
      flex-direction: row;
      gap: 75px;
    }

    @media (min-width: 1260px) {
      gap: 111px;
    }
  }

  &__addresses {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @media (min-width: 1260px) {
      flex-direction: row;
      gap: 24px;
    }
  }

  @media (min-width: 744px) {
    padding-bottom: 154px;
  }

  @media (min-width: 1260px) {
    padding-bottom: 134px;
  }
}

.contactUs-address {
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
  }

  &__phone {
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
  }
  &__phoneNumber {
    color: $main-dark-color;
    text-decoration: none;
  }

  &__address {
    max-width: 237px;
    line-height: 27px;
    margin-top: 8px;
  }
  &__addressMap {
    color: $main-dark-color;
    text-decoration: none;
  }

  a {
    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: $main-red-color;
      }
    }
  }
  span {
    font-weight: 700;
    font-size: 16px;
  }
}

.contactUs-form {
  outline: none;
  max-width: 280px;

  &__name {
    margin-bottom: 16px;
    height: 48px;
  }
  &__email {
    margin-bottom: 16px;
    height: 48px;
  }

  &__message {
    margin-bottom: 32px;
    height: 144px;
    padding-top: 14px;
    resize: none;
    vertical-align: top;
  }

  &__button {
    width: 100%;
    height: 56px;
    color: $main-white-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    background-color: $main-red-color;
    cursor: pointer;
    margin: 0 auto;
    border: none;

    @media (any-hover: hover) {
      &:hover {
        background-color: #ae1c23;
      }
    }
    &:active {
      background-color: #eb343d;
    }
  }

  @media (min-width: 1260px) {
    max-width: 411px;
  }
}

.--input {
  width: 100%;
  background-color: #f8f8fa;
  border-radius: none;
  border: 0 solid #d5d7de;
  box-sizing: border-box;
  padding-left: 11px;
  font-family: Cinzel, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  outline: none;

  @media (any-hover: hover) {
    &:hover {
      border: 1px solid #d5d7de;
    }
  }

  &:focus {
    border: 1px solid #161616;
  }
}
