.contact {
  &__wrapper {
    @include page-grid;

    row-gap: 48px;

    @include on-tablet {
      row-gap: 80px;
    }
  }

  &__form {
    display: grid;
    grid-column: span 2;
    row-gap: 16px;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__form-row {
    background-color: #f8f8fa;
  }

  &__form-style {
    font-family: 'Space Mono', serif;
    box-sizing: border-box;
    padding: 14px 16px;
    font-size: 14px;
    line-height: 140%;
    background-color: #f8f8fa;
    color: $main-text-color;
    border-radius: 8px;
    border: 1px solid transparent;
    width: 100%;
    transition: all 0.5s;
    outline: none;
  }

  &__form-style:hover {
    border: 1px solid #d5d7de;
    color: $main-text-color;
  }

  &__form-style:hover::placeholder {
    color: $main-text-color;
  }

  &__form-style:focus {
    border: 1px solid $main-text-color;
    color: $main-text-color;
  }

  &__form-textarea {
    margin-bottom: 16px;
    min-height: 148px;
    resize: none;
  }

  &__form-style:-webkit-autofill {
    box-sizing: border-box;
    padding: 14px 16px;
    font-size: 14px;
    line-height: 140%;
    background-color: #f8f8fa;
    color: #7e7e83;
    border-radius: 8px;
    border: none;
    width: 100%;
    transition: all 0.5s;
    outline: none;
  }

  &__form-textarea:-webkit-autofill {
    margin-bottom: 16px;
    min-height: 148px;
    resize: none;
  }

  &__form-style:-webkit-autofill:hover,
  &__form-textarea:-webkit-autofill:hover {
    border: 1px solid #d5d7de;
    color: $main-text-color;
  }

  &__form-style:-webkit-autofill:focus,
  &__form-textarea:-webkit-autofill:focus {
    border: 1px solid $main-text-color;
    color: $main-text-color;
  }

  &__button {
    font-family: 'Space Grotesk', serif;
    font-weight: 700;
    line-height: 27px;
    background-color: $main-text-color;
    color: #fff;
    font-size: 16px;
    padding: 14px 16px;
    border-radius: 8px;
    border: 2px solid #f0f1f4;
    cursor: pointer;
    transition: all 0.5s;
  }

  &__button:hover {
    @include hover(transform, scale(1.1));

    color: $main-text-color;
    background-color: #f8f8fa;
    border: 2px solid #f0f1f4;
  }

  &__button:active {
    color: #fff;
    background-color: $main-text-color;
  }

  &__info {
    display: grid;
    grid-column: span 2;

    @include on-desktop {
      grid-column: 7/-1;
    }
  }

  &__info-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #9393a3;
    margin: 0;
    margin-bottom: 8px;
  }

  &__info-link {
    text-decoration: none;
    font-family: 'Space Mono', serif;
    font-weight: 400;
    color: #191919;
    margin-bottom: 24px;
  }

  &__info-link:hover {
    @include hover(color, #802b00);
  }

  &__info-link:last-of-type {
    margin-bottom: 0;
  }
}
