.contacts{
@include pageGrid;
  &__inf{
  grid-column: 1/-1;



}
}

.text__inf-size{
  background-color: white;
  text-decoration: none;
  width: 278px;
  height: 48px;
  border-radius: 24px;
}


.text__inf-mes-size{
  background-color: white;
  text-decoration: none;
  resize: none;
  height: 148px;
  width: 278px;
}
