.contact-us {
  &__wraper {
    @include page-grid;

    gap: 48px;
  }

  &__form {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desctop {
      grid-column: 1 / 7;
    }

    &-field {
      height: 48px;
      background-color: rgb(249, 249, 249);
      border-radius: 8px;
      border: none;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      padding-left: 16px;
      padding-right: 16px;
    }
    &-message {
      font-family: $main-font-family;
      height: 148px;
      padding: 16px;
      resize: none;
    }
  }

  &__button {
    margin-top: 32px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desctop {
      grid-column: 8 / -1;
    }

    &-title {
      color: #9393a3;
      font-size: 14px;
      font-weight: 400px;
      line-height: 140%;
      letter-spacing: 0.15px;
    }

    &-info {
      font-size: 16px;
      color: #191919;
      font-weight: 400px;
      line-height: 140%;
      letter-spacing: 0.15px;
      text-decoration: none;
    }
  }
}
