.contact-us {
  &__content {
    @include pageGrid;

    row-gap: 48px;
  }

  &__input-blok {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 48px;
  }

  &__input {
    background: rgba(248, 248, 250, 1);
    height: 48px;
    border-radius: 40px;
    padding: 14px 16px;
    box-sizing: border-box;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(41, 41, 41, 1);

    &--message {
      height: 148px;
      padding: 14px 16px;
      gap: 10px;
      border-radius: 16px;
    }

    &:focus {
      outline: none;
    }
  }

  &__message {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__button {
    width: 100%;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 24px;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 2;
    }

    @include onDesktop {
      grid-column: 8 / 11;
    }
  }

  &__contact-blok {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__pretitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }
}
