.contact-us__wrapper {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-us__input {
  color: #7e7e83;
  border-radius: 40px;
  border: #f8f8fa 1px solid;
  padding: 0 20px;
  height: 48px;

font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.contact-us__textarea {
  padding: 14px 16px;
  border-radius: 16px;
  min-height: 148px;
}

.contact-us__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-us__info-item {
  margin-bottom: 24px;
}

.contact-us__info-link {
  text-decoration: none;

font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;

  color: #fff;
}

.contact-us__info-title {
font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;

  cursor: default;

  color: #fff;

  margin: 0 0 8px;
}
