.contact-us {
  @include page-margin;
  @include page-grid;

  &__title {
    margin-top: 80px;
    margin-bottom: 48px;

    grid-column: 1 / -1;

    @include on-desktop {
      margin-top: 180px;
    }
  }

  &__form {
    grid-column: 1 / -1;
    gap: 16px;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__info {
    grid-column: 1 / -1;
    margin-top: 48px;
    gap: 24px;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 8 / -1;
    }
  }

  &--title {
    margin-bottom: 8px;
  }

  &--text {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
  }

  &__adress {
    color: #fff;
    text-decoration: none;
  }

  &__button {
    grid-column: 1 / -1;
    margin-top: 16px;
    justify-self: center;

    // width: 278px;
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    transition: $transition-time;

    &:hover {
      box-shadow: 1px 4px 16px #e8e8f028;
    }

    &:active {
      box-shadow: 1px 4px 16px #e8e8f040;
    }
  }

  &--field {
    box-sizing: border-box;

    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    padding: 16px;
  }
}

.field {
  &--small {
    justify-self: center;

    // width: 277px;
    width: 100%;
    height: 48px;
    border-radius: 40px;
  }

  &--large {
    justify-self: center;

    // width: 277px;
    width: 100%;
    height: 148px;
    border-radius: 16px;
  }
}

textarea {
  font-family: Poppins, serif;
  color: $main-text-color;
  resize: none;
  border: none;
  outline: none;

  transition: $transition-time;

  &::placeholder {
    transition: $transition-time;
    font-family: Poppins, serif;
    color: #7e7e83;
  }

  &:hover::placeholder {
    color: $main-text-color;
  }
}
