.form {
  width: 278px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include on-laptop {
    width: 411px;
  }

  &__input--message {
    height: 150px;
    padding-top: 15px;
  }

  &__input {
    border-radius: 30px;
    padding-left: 10px;
    color: #7e7e83;
    font-size: 16px;
    font-weight: 400;

    &--item {
      height: 48px;
    }

    &:hover {
      color: #292929;

      &::placeholder {
        color: #292929;
      }
    }
  }

  &__button {
    height: 58px;
    margin-top: 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;

    &:hover {
      box-shadow: 1px 4px 16px 1px #e8e8f066;
    }
  }
}

.template {
  margin-top: 48px;
  color: $main-text-color;

  &__item {
    &--smaller {
      font-size: 12px;
      font-weight: 400;
    }

    &--bigger {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.contacts {
  @include on-tablet {
    &__container {
      display: flex;
      gap: 24px;
    }
  }

  @include on-laptop {
    &__container {
      gap: 198px;
    }
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #f0f8ff !important;
  color: #000 !important;
  font-weight: bold;
  border: 1px solid #ccc;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  border: 1px solid #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

textarea:-webkit-autofill {
  background-color: #f0f8ff !important;
  color: #000 !important;
  font-weight: bold;
  border: 1px solid #ccc;
  transition: background-color 5000s ease-in-out 0s;
}

textarea:-webkit-autofill:focus {
  border: 1px solid #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}
