/* Section Contact Us - 320px */

.sectionMain__contactUs {
  margin-top: 70px;
}

.sectionMain__contactUs-contactUs {
  display: flex;
  flex-direction: column;
  width: 280px;
  color: white;
  font-family: Poppins, sans-serif;
  gap: 10vw;
  margin-left: calc(47vw - 140px);
}

.sectionMain__contactUs-titleSection {
  font-size: 32px;
  font-family: Poppins, sans-serif;
  text-align: center;
  color: white;
  font-weight: 500;
}

.sectionMain__contactUs-contactUs-data {
  display: flex;
  flex-direction: column;
}

.sectionMain__contactUs-contactUs-data-item {
  width: 288px;
  height: 48px;
  background-color: #f8f8fa;
  color: #7e7e83;
  border-radius: 50px;
  border: 0;
  margin-top: 20px;

  /* ✅ Додано внутрішні відступи */
  padding: 0 5%;
  box-sizing: border-box;
}

.sectionMain__contactUs-contactUs-data-item::placeholder {
  color: #7e7e83;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.sectionMain__contactUs-contactUs-data-message::placeholder {
  padding-top: 5%;
}

.sectionMain__contactUs-contactUs-data-message {
  height: 148px;
  border-radius: 15px;

  /* ✅ Додано внутрішній відступ */
  padding: 5%;
  box-sizing: border-box;
  resize: none;
}

.sectionMain__contactUs-contactUs-data-send {
  color: #1d1d1d;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  margin-top: 40px;
}

.sectionMain__contactUs-contactUs-contact-phone p,
.sectionMain__contactUs-contactUs-contact-email p,
.sectionMain__contactUs-contactUs-contact-address p {
  font-size: 14px;
  font-weight: 400;
}

.sectionMain__contactUs-contactUs-contact-phone,
.sectionMain__contactUs-contactUs-contact-email,
.sectionMain__contactUs-contactUs-contact-address {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #f8f8fa;
}

.sectionMain__contactUs-contactUs-contact-phone a,
.sectionMain__contactUs-contactUs-contact-email a {
  text-decoration: none;
  color: #f8f8fa;
}

.sectionMain__contactUs-contactUs-data-item:hover {
  transition: 0.8s;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.sectionMain__contactUs-contactUs-data-send:hover {
  transition: 1s;
  font-weight: 700;
}

/* MEDIA - 744px */

@media (min-width: 744px) {
  .sectionMain__contactUs-contactUs {
    flex-direction: row;
    width: 549px;
    margin-left: calc(65vw - 423px);
  }

  .sectionMain__contactUs-titleSection {
    font-size: 48px;
  }
}

/* MEDIA QUERY - 1260px */

@media (min-width: 1260px) {
  .sectionMain__contactUs-contactUs {
    width: 846px;
    margin-left: calc(45vw - 423px);
  }

  .sectionMain__contactUs-titleSection {
    font-size: 48px;
    font-weight: 600;
  }

  .sectionMain__contactUs-contactUs-data-item {
    width: 411px;
    height: 48px;
  }

  .sectionMain__contactUs-contactUs-data-message {
    height: 148px;
  }
}
