.contacts {

  &__wrapper {
    @include pageGrid;
    row-gap: 40px;
    padding-bottom: 40px;

    @include onTablet {
      row-gap: 56px;
      padding-bottom: 120px;
    }
  }

  &__button {
    width: 100%;
  }

  &__form {
    grid-column: span 2;

    @include onTablet {
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: span 5;
    }

  }

  &__card {
    grid-column: span 2;

    @include onTablet {
      grid-column: span 4;
    }

    @include onDesktop {
      grid-column: 7 / span 6;
    }
  }
}
