
$footer-text-color: rgba(147, 147, 163, 1);
$footer-hover-color: rgba(249, 137, 33, 1);
$font-family: 'Manrope', sans-serif;

.footer {
  max-width: 100%;
  padding-block: 24px;
  box-sizing: border-box;

  height: 100vh;
  @include contentPaddingInline;
  display: flex;
  flex-direction: column;

  .contact-info {
    margin-bottom: 16px;

    &__item {
      margin-bottom: 16px;

    &__label {
      font-family: $font-family;
      font-size: 14px;
      color: $footer-text-color;
      font-weight: bold;
    }

    &__phone,
    &__email {
      font-family: $font-family;
      font-size: 14px;
      color: $footer-text-color;
      text-decoration: none;
      transition: color 0.3s;


    }

    &__address {
      font-family: $font-family;
      font-size: 16px;
      color: rgba(25, 25, 25, 1);
    }
  }
}
}