
/* #region contacts */

.contacts {
  box-sizing: border-box;
  margin-top: 180px;
  text-align: center;
}

.contacts__title {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: -1.5px;

  margin-bottom: 80px;
}

.contacts__content {
  display: flex;
  justify-content: center;
}

.contacts__form {
  min-width: 411px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form__input {
  background-color: #fff;
  color: #1D1D1D;

  height: 50px;

  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;

  padding-left: 20px;

  border: none;
  border-radius: 25px;
}

textarea {
  padding: 15px;
  background-color: #fff;
  color: #1D1D1D;

  padding-left: 20px;

  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;

  border: none;
  border-radius: 25px;

  resize: none;
}

textarea:focus {
  outline: none;
  color: #1D1D1D;
}

input::placeholder, textarea::placeholder {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #1D1D1D;
}

input:focus {
  outline: none;
}

.contacts__address {
  margin-left: 200px;

  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.contacts__address a{
  line-height: 30px;
}

.contacts__link:hover {
  color: #7a7a7a;
  cursor: pointer;
}

.contacts__link {
  text-decoration: none;
  color: #fff;
}

.submit-button {
  margin-top: 30px;
}

@media (max-width: 1198.98px) {
  .contacts__address {
    margin-left: 150px;
  }
}

@media (max-width: 790.98px) {
  .contacts__address {
    margin-left: 30px;
  }

  .contacts__form {
    min-width: 280px;
  }
}

@media (max-width: 550.98px) {
  .contacts {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
  }

  .contacts__form {
    margin: 0 0 50px 0;
  }

  .contacts__content {
    flex-direction: column;
  }

  .contacts__address {
    margin: 0;
  }
}
/* #endregion */
