.section-title--contuct-us {
  margin-bottom: 48px;
}

.contact-us--info {
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 1 / 4;
  }
}

.fifthAvenue-contact {
  @include onTablet {
    margin-bottom: 48px;
  }
}

.contact-us__small-titles {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 16px;
  margin-bottom: 4px;
}

.form {
  grid-column: 1 / -1;

  @include onTablet {
    grid-column: 4 / 7;
  }

  @include onDeskTop {
    grid-column: 8 / 13;
  }
}

.form-field {
  background-color: #F8F8FA;
  width: 100%;
  border: none;
  margin-bottom: 16px;
  height: 48px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #7E7E83;
  font-family: 'Cinzel', serif;

  &::placeholder {
    padding-left: 10px;
    }

    &:hover {
      color: $main-title-color;
    }

    &:selected {
      border: 1px solid #161616;
    }

    &--message {
      height: 144px;
    }

    &--message::placeholder {
      padding-top: 14px;
      text-align: start;
      position: absolute;
      top: 0;
    }
}

.button__contuct-us {
  background-color: $red-color;
  width: 100%;
  margin-top: 32px;
  font-family: Cinzel;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  color: #fff;
  border: none;

  @include onTablet {
    height: 56px;
  }

  &:hover {
    background-color: $red-color-hover;
  }

  &:active {
    background-color: $red-color-pressed;
  }
}
