.decor-img {
  background-image: url(../img/image-bg.png);
  background-position: center;
  height: 200px;
  background-size: cover;
  object-fit: cover;
  margin: 0 calc(50% - 50vw);

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
  }
}
