.container-content {
  display: flex;
  padding-top: 120px;
  padding-bottom: 44px;
  gap: 24px;
  .title {
    max-width: 50%;
    width: 100%;
    .h3 {
      font-weight: 500;
      font-size: 64px;
      line-height: 100%;
      letter-spacing: -1.5px;
      color: var(--white-color);
    }
  }
  .desc {
    p {
      font-weight: 500;
      font-size: 23px;
      line-height: 140%;
      letter-spacing: 0;
      color: var(--white-color);
    }
  }
}

@media (max-width: 768px) {
  .container-content .title .h3 {
    font-size: 35px;
  }
  .container-content .desc p {
    font-size: 23px;
  }
}

@media (max-width: 485px) {
  .container-content {
    flex-direction: column;
  }
}
