
@use 'variables' as *;

.detail {
  &__images {
    // max-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__image-wrap {
    flex-shrink: 1;
    padding: 20px 10px;
  }
  &__image-wrap--main {
    flex-shrink: 2;
  }
  &__image {
    max-width: 100%;
    height: max(20vh, 30vw);
    background-repeat: no-repeat;
    object-fit: cover;
  }
  &__text {
    height: 20vh;
  }
}
