.details {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 64px;
    }
  }
}

.detail {
  &__photos {
    // position: relative;
    @include page-grid;

    column-gap: 24px;
    margin-bottom: 18px;
  }

  &__link {
    position: relative;
    overflow: hidden;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:hover {
      transform: rotate(5deg) scale(1.2);
      transition: 1s;
      overflow: hidden;
    }
  }


  &__title {
    // margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__text {
    color: #FFF;
    font-style: 16px;
    line-height: 140%;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 8;
    }
  }
}

.explore {
  @include page-grid;

  &__button {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    border-radius: 40px;
    background-color: #fff;
    color: #1D1D1D;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 5 / -5;
    }

    &:hover {
      box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
      transform: scale(1.02);
    }

    &:active {
      box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
      transform: scale(1.02);
    }
  }
}



