.details {
  @include page-grid;
  @include page-margin;

  &__title {
    margin-bottom: 48px;
    grid-column: 1 / -1;
  }

  &__sub-title {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  &__items {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__images {
    @include page-grid;

    margin-inline: 0;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--square {
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }

    &--wide {
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
  }

  &__button {
    grid-column: 1 / -1;
    margin-top: 40px;
    justify-self: center;

    width: 278px;
    height: 56px;
    background-color: #fff;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    transition: $transition-time;

    &:hover {
      box-shadow: 1px 4px 16px #e8e8f028;
    }

    &:active {
      box-shadow: 1px 4px 16px #e8e8f040;
    }
  }
}
