.details {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 80px;

  @include tablet {
    margin-bottom: 120px;
  }

  @include descktop {
    margin-bottom: 180px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .details-container {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__photo {
    display: flex;
    gap: 24px;
  }

  &__image {
    object-fit: cover;
    min-width: 0;
    height: 130px;
    border-radius: 4px;

    @include tablet {
      height: 188px;
    }

    @include descktop {
      height: 320px;
    }
  }

  &__photo-wide {
    width: 65%;
    transition:
      transform 0.5s ease,
      box-shadow 0.3s ease;

    &:hover {
      transform: scale(102%);
      box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    }
  }

  &__photo-square {
    width: 32%;
    transition:
      transform 0.5s ease,
      box-shadow 0.3s ease;

    &:hover {
      transform: scale(102%);
      box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    margin: 0 auto;
    height: 56px;
    width: 278px;

    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 1px 4px 16px 0 #e8e8f0a3;
    }
    &:active {
      box-shadow: 1px 4px 30px 0 #e8e8f0a3;
    }

    @include tablet {
      width: 392px;
    }

    @include descktop {
      width: 324px;
    }
  }
}
