.ending {
  @include on-tablet {
    width: 600px;
  }

  @include on-desktop {
    width: 1020px;

    @include page-grid;
    .contact-us {
      grid-column: 1/6;
    }
    .footer {
      position: relative;
      top: 104px;
      grid-column: -1/-6;
    }
  }
}
