@import './variables.scss';

.explore {
  @include PageGrid;
  display: grid;

  &__title {
    grid-column: span 2;

    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: 4 / 10;
    }
  }

  &__item {
    text-align: center;
    margin-bottom: 48px;
    grid-column: span 2;

    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: span 4;
    }

    &--text {
      color: $black;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      font-family: Roboto;

      &-red {
        color: $red;
        font-weight: 700;
        font-size: 24px;
        line-height: 140%;
        margin-bottom: 4px;
      }
    }
  }

  &__item img {
    margin-bottom: 24px;
    width: 100%;
    height: auto;
  }
}
