@import './utils/mixin';
@import './utils/mass';

.explore {
  margin-top: 140px;

  @include on-mobile {
    margin-top: 100px;
  }

  &__wrapper {
    @include inline-padding;
  }

  &__title {
    @include title;

    margin: 0;
    text-align: center;
  }
}

.explore__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  gap: 24px;

  @include on-tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

  @include on-mobile {
    margin-top: 40px;
    flex-direction: column;
  }
}

.explore__card {
  width: 324px;

  @include on-mobile {
    width: 100%;
    max-width: 100%;
  }

  @include on-tablet {
    width: 392px;
  }

  &-photo {
    width: 100%;

    @include hover(transform, scale(1.05));
  }

  &-undertitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    color: red;
    margin: 0;
    text-align: center;
    margin-top: 32px;
  }

  &-undertext {
    font-family: Roboto, serif;
    text-align: center;
    margin: 0;
    margin-top: 4px;

    @include small-text(rgba(22, 22, 22, 1), 400);
  }
}
