.more__to__explore {
  margin-top: 140px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.main__container2 {
  display: flex;
  gap: 40px;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: 769px) and (max-width: 1259px) {
    flex-direction: column;
  }

  @media (max-width: 768px) {
    display: block;
  }

  .brick-1 {
    flex: 1 1 0;
    text-align: center;

    &__images {
      a {
        display: block;
        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
        }
      }
    }

    &__text {
      font-size: $schedule-item-font-size;
      color: #333;
      margin-top: 5px;
      font-size: 24px;
      color: $header-plan-title-color;
      line-height: 33.6px;
      font-weight: 700;

      @media (min-width: 769px) and (max-width: 1259px) {
        margin-top: 32px;
      }
    }

    &__text2 {
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: rgba(22, 22, 22, 1);

      @media (min-width: 769px) and (max-width: 1259px) {
        margin-bottom: 48px;
      }
    }
  }

  .brick-2 {
    flex: 1 1 0;
    text-align: center;

    &__images {
      a {
        display: block;
        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
        }
      }
    }

    &__text {
      font-size: $schedule-item-font-size;
      color: #333;
      margin-top: 5px;
      font-size: 24px;
      color: header-plan-title-color;
      line-height: 33.6px;
      font-weight: 700;

      @media (min-width: 769px) and (max-width: 1259px) {
        margin-top: 32px;
      }
    }

    &__text2 {
      font-weight: 400;
      font-size: font-size-small;
      line-height: 27px;
      color: rgba(22, 22, 22, 1);
    }
  }

  .brick-3 {
    flex: 1 1 0;
    text-align: center;

    &__images {
      a {
        display: block;
        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
        }
      }
    }

    &__text {
      font-size: schedule-item-font-size;
      color: #333;
      margin-top: 5px;
      font-size: 24px;
      color: $header-plan-title-color;
      line-height: 33.6px;
      font-weight: 700;

      @media (min-width: 769px) and (max-width: 1259px) {
        margin-top: 32px;
      }
    }

    &__text2 {
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      color: rgba(22, 22, 22, 1);
    }
  }
}
