.explore-online {
  &__image {
    width: 280px;
    height: 277px;
    margin-inline: auto;

    @include on-tablet {
      width: 392px;
      height: 387px;
    }

    @include on-desktop {
      width: 324px;
      height: 320px;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr;
    margin-inline: auto;

    @include on-tablet {
      grid-template-columns: 1fr;
      column-gap: 24px;
      margin-inline: auto;
      box-sizing: border-box;
    }

    @include on-desktop {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 24px;
    }
  }
  &__item {
    padding-top: 48px;
  }
  &__title {
    margin-bottom: 0;
    font-family: $bodyFont;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: center;
    color: rgba(209, 45, 53, 1);
  }
  &__text {
    margin: 0;
    font-family: $explore-onlineFont;
    font-weight: 400;
    text-align: center;

    color: rgba(22, 22, 22, 1);
  }
}
