.explore-online {
  &__paintings {
    @include page-grid;

    row-gap: 48px;
  }

  &__painting {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: span 4;
    }
  }
}

.painting {
  &__image {
    width: 100%;
    object-fit: cover;

    @include hover(transform, scale(1.05));
  }

  &__title {
    color: $main-color;
    font-size: 24px;
    font-weight: $title-font-weight;
    line-height: 1.41;
    letter-spacing: 0;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 4px;

    @include on-tablet {
      margin-top: 32px;
    }

    @include on-desktop {
      margin-top: 32px;
    }
  }

  &__descr {
    line-height: 1.69;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
  }
}


