.feedback {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
  justify-content: center;

  padding-inline: 20px;
  padding-top: 92px;

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 32px;
    letter-spacing: -1.5px;
    text-align: center;
  }

  &__form {
    grid-column: 1 / -1;
  }

  &__contacts {
    grid-column: 1 / -1;
  }

  @media (min-width: 744px) {
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
    justify-content: center;
    padding-inline: 72px;

    &__form {
      grid-column: span 3;

      .form__actions {
        width: 100%;
      }
    }

    &__contacts {
      grid-column: 4 / -1;
    }
  }

  @media (min-width: 1260px) {
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    justify-content: center;

    padding-inline: 120px;

    &__form {
      grid-column: span 5;
    }

    &__contacts {
      padding-left: 198px;
      grid-column: 6 / -1;
    }
  }
}
