@font-face {
  font-family: Cinzel, sans-serif;
  font-weight: 400;
  src: url('../assets/fonts/Cinzel/Cinzel-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  src: url('../assets/fonts/Cinzel/Cinzel-Bold.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: Inter, sans-serif;
  src: url('../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.woff2')
    format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-optical-sizing: auto;
}

@font-face {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  src: url('../assets/fonts/Poppins/Poppins-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  src: url('../assets/fonts/Poppins/Poppins-Medium.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  src: url('../assets/fonts/Poppins/Poppins-Bold.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  src: url('../assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  src: url('../assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  src: url('../assets/fonts/Ubuntu/Ubuntu-Medium.woff2') format('woff2');
  font-style: normal;
}

* {
  font-family: Poppins, Roboto, Arial, sans-serif;
  line-height: 140%;
}
