.footer {
  @include PageGrid;

  @include contentPaddingInline;

  row-gap: 48px;

  &__content {
    @include PageGrid;

    flex-direction: row;
    gap: 24px;

    @include onDesktop {
      grid-column: 1 / 7;
    }

    @include onTablet {
      grid-column: 3 span;
    }

    @include onMobile {
      grid-column: 1 / -1;
    }
  }

  &__main {
    @include PageGrid;
    row-gap: 48px;

    @include onDesktop {
      grid-column: 1 / -1;
    }

    @include onTablet {
      grid-column: 1 / -1;
    }

    @include onMobile {
      grid-column: 1 / -1;
    }
  }

  &__title {
    @include onDesktop {
      padding-top: 140px;
      grid-column: 1 / -1;
    }

    @include onTablet {
      padding-top: 140px;
      grid-column: 1 / -1;
    }

    @include onMobile {
      grid-column: 1 / -1;
      line-height: 32px;
      font-size: 32px;
    }
  }

  &__image {
    position: relative;
    display: inline-block;
    justify-content: center;
    object-fit: cover;

    @include onDesktop {
      height: 360px;
    }

    @include onTablet {
      height: 360px;
    }

    @include onMobile {
      height: 180px;
    }
  }
}

.info {

  @include onDesktop {
    grid-column: 3 span;
  }

  @include onTablet {
    row-gap: 48px;
    grid-column: 1 / 4;
  }

  &__header {
    margin: 0;

    color: $Main-dark;
    font-family: "Cinzel", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
  }

  &__text {
    margin-top: 16px;
    color: $Main-dark;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
  }

  &__content {
    color: $Main-grey;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;

    text-decoration: none;
  }

  &__addres {
    margin-top: 16px;
    color: $Main-grey;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;

    &__phone {
      color: $Main-grey;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include onDesktop {
    grid-column: -6 / -1;
  }

  @include onTablet {
    grid-column: 3 span;
  }

  @include onMobile {
    grid-column: 1 / -1;
  }
}
