footer {
  margin-top: 180px;
  height: 600px;
  background-image: url(../img/footer.png);
  background-size: cover;
  background-position: center;
}

@media (max-width: 550.98px) {
  footer {
    margin-top: 125px;
    height: 350px;
  }
}