.footer {
  position: sticky;
  z-index: -1;
  width: 100vw;
  height: 180px;

  background-image: url(../images/areas/footer-bg-mobile-2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  bottom: 0;

  @include onTablet {
    height: 359px;
  }
  @include onDesktop {
    background-image: url(../images/areas/footer-bg-2x.png);
  }
}

