.footer{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 359px;
  background:url(./imagec/footer/photo--footer2.jpg) no-repeat;
  background-size: cover;
  background-position: top;

  text-align: center;
  justify-content: center;
  bottom: 0px;

}

