@import './utils/mixin';

.footer{
  position: sticky;
  bottom: 0;
  left: 0;
  height: 380px;
  width: 100%;
  z-index: -1;

  background-image: url(/src/images/footer-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  @include on-mobile {
    height: 180px;
  }
}

