.form {
  margin-bottom: 48px;

  @include onTablet {
    margin-bottom: 0;
  }

  &__name {
    @include inputSettings;
    border-radius: $button-border-radius;
    margin-bottom: $form-gap;
    @include hover(color, #292929);
    @include focus(color, #292929);
  }

  &__email {
    @include inputSettings;
    border-radius: $button-border-radius;
    margin-bottom: $form-gap;
    @include hover(color, #292929);
    @include focus(color, #292929);
  }

  &__message {
    @include inputSettings;
    border-radius: 16px;
    margin-bottom: 32px;
    height: 148px;
    resize: none;
    @include hover(color, #292929);
    @include focus(color, #292929);

    font-family: 'Poppins', sans-serif;
  }

  &__button {
    width: 100%;
    box-sizing: border-box;
    @include buttonSettings;
    border: none;
    cursor: pointer;

    @include hover(box-shadow, 1px 4px 16px 0px #e8e8f066);
    @include active(box-shadow, 1px 4px 16px 0px #e8e8f0a3);
  }
}

input:autofill {
  font-family: 'Poppins', sans-serif;
}
