.form-field {
  color: $main-accent;
  font-size: 14px;
  line-height: 143%;

  padding: 14px 16px;
  display: block;
  width: 100%;
  height: 48px;

  word-break: normal;
  font-family: "Poppins", Helvetica, sans-serif;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #f8f8fa;
  background-clip: padding-box;

  &:hover {
    border: 2px solid #d5d7de;
  }

  &:invalid {
    border-color: $red-600;
    color: $red;
  }

  &::placeholder {
    color: #7e7e83;
    font-size: 14px;
    line-height: 143%;
  }

  &:hover::placeholder {
    border-color: #d5d7de;
    color: #7e7e83;
  }

  &:focus {
    border-color: #7e7e83;
    outline: none;
  }

  &--textarea {
    height: 148px;
    resize: none;
  }
}
