.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 288px;

  &__input {
    height: 48px;
    border-radius: 40px;
    text-indent: 1em;

    color: #7e7e83;
    font-family: Poppins, sans-serif;

    &--textarea {
      height: 148px;
      border-radius: 16px;
      padding-top: 12px;
      box-sizing: border-box;

      &::placeholder {
        font-size: 1.1em;
      }
    }
  }

  @include on-lap-top {
    max-width: 411px;
  }
}

.contact-info {
  &__phone-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__phone-title {
    font-weight: 400;
  }

  &__number {
    text-decoration: none;
    color: $main-text-color;

    &:hover {
      color: aqua;
      text-decoration: underline;
    }
  }

  &__email-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__email-title {
    font-weight: 400;
  }

  &__email {
    text-decoration: none;
    color: $main-text-color;

    &:hover {
      color: aqua;
      text-decoration: underline;
    }
  }

  &__adress-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__adress-title {
    font-weight: 400;
  }

  &__address {
    text-decoration: none;
    color: $main-text-color;

    &:hover {
      color: aqua;
      text-decoration: underline;
    }
  }
}

/* #endregion */
