.frame{
  display: flex;
  justify-content: space-between;
  margin-top: var(--margin-between-blocks);
  margin-inline: var(--margins-main);

  &__title{
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: var(--title-font-size);
    line-height: 100%;
    letter-spacing: -1.5px;
    color: $mainFontColor;
    white-space: nowrap;
    margin-right: 100px;
  }


  &__sentence{
    display: block;
    height: auto;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0;
    color: $mainFontColor;
  }
}


