.galery {
  margin: 0;
  padding: 0 20px;

  @include constentPaddingInline;
}

.recommended {
  padding-block: 64px 96px;

  @include onTablet {
    padding-block: 120px;
  }

  &__title {
    margin: 0;
    font-size: 32px;
    padding-bottom: 8px;

    @include onTablet {
      padding: 0;
      font-size: 40px;
    }
  }

  &__person-box {
    padding-top: 40px;
    display: flex;
    flex-direction: column;

    @include onTablet {
      padding-top: 56px;
    }

    &--img {
      width: 280px;
      height: 280px;
      padding-bottom: 24px;
      border-radius: 4px;

      @include onTablet {
        width: 600px;
        height: 600px;
      }
    }

    &--title {
      padding-bottom: 8px;
      font-size: 18px;
    }

    &--describtion {
      padding-bottom: 12px;
      font-family: "Space Mono", monospace;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
    }

    &--price {
      font-size: 16px;
    }
  }
}

.categories {
  margin: 0;
  padding-bottom: 96px;

  &__title {
    margin: 0;
    font-size: 32px;
    padding-bottom: 8px;

    @include onTablet {
      padding: 0;
      font-size: 40px;
    }
  }

  &__category {
    padding-top: 40px;

    @include onTablet {
      padding-top: 56px;
    }

    &--images {
      display: flex;
      justify-content: center;
      padding-bottom: 16px;
    }

    // &--img {
    //   width: 130px;
    //   height: 130px;
    //   border-radius: 4px;
    //   background-size: cover;
    //   background-position: center;


    // }

    &--img1 {
      position: relative;
      left: 0;
      top: 0;
    }

    &--img2 {
      position: relative;
      right: 0;
      top: 0;
      margin-left: 20px;

      @include onTablet {
        margin-left: 24px;
      }
    }

    &--title {
      font-size: 18px;

      @include onTablet {
        font-size: 24px;
      }
    }
  }


  &__img1 {
    background-image: url(../images/categories/products-item-birds-mobile.png);

    @include categoriesItemImages;

    @include onTablet {
      background-image: url(../images/categories/products-item-birds.png);

      width: $tablet-categoryItemImage-large--width;
    }
  }

  &__img2 {
    background-image: url(../images/categories/products-item2-mobile.png);

    @include categoriesItemImages;

    @include onTablet {
      background-image: url(../images/categories/products-item2.png);
    }
  }

  &__img3 {
    background-image: url(../images/categories/audio-item.png);
    @include categoriesItemImages;
  }

  &__img4 {
    background-image: url(../images/categories/audio-item2-mobile.png);
    @include categoriesItemImages;

    @include onTablet {
      background-image: url(../images/categories/audio-item2.png);

      width: $tablet-categoryItemImage-large--width;
    }
  }

  &__img5 {
    background-image: url(../images/categories/accessories-item-mobile.png);
    @include categoriesItemImages;

    @include onTablet {
      background-image: url(../images/categories/accessories-item.png);

      width: $tablet-categoryItemImage-large--width;
    }
  }

  &__img6 {
    background-image: url(../images/categories/accessories-item2.png);
    @include categoriesItemImages;
  }



  &__button {
    margin-top: 40px;

    @include onTablet {
      width: 100%;
    }
  }
}
