.gallery {
  display: flex;
  flex-direction: column;
  gap: 48px;

  max-width: 280px;

  @include on-tablet {
    max-width: 600px;
  }

  @include on-laptop {
    max-width: 1020px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__button {
    height: 56px;
    background: #d12d35;
    min-width: 280px;
    align-self: center;
    cursor: pointer;

    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: white;

    border: none;

    @include on-tablet {
      min-width: 392px;
    }

    &:hover {
      background: #ae1c23;
    }
    &:active {
      background: #eb343d;
    }
  }
}
