.gallery {
  &__photo {
    width: 100%;
    transition-duration: $effectDuration;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    color: $background-color-menu;
    text-align: center;
    font-weight: 700;
    line-height: 140%;
    font-size: 24px;
    margin-bottom: 4px;

    @include onTablet {
      margin-top: 32px;
    }
  }

  &__text {
    margin: 0;
    color: $color-main-text;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
  }
}
