.page {
  font-family: Cinzel, serif;
  font-size: 16px;
  color: #161616;
  line-height: 140%;

  scroll-behavior: smooth;

  &__body {
    position: relative;
    min-width: 320px;
    margin: 0;

    background: #fff;
    padding-bottom: 180px;

    @include on-tablet {
      padding-bottom: 359px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__menu {
    position: fixed;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
    transition: all 0.3s;

    &:target {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
      z-index: 2;
    }
  }
}

.page:has(.page__menu:target) {
  overflow: hidden; /* not to scroll the page */

  .top-bar {
    padding-right: 37px;

    @include on-tablet {
      padding-right: 90px;
    }

    @include on-desktop {
      padding-right: 137px;
    }
  }
}
