.general {
  background-color: #1D1D1D;

  &__content {
    display: grid;
    row-gap: 92px;
    padding-top: 60px;
    padding-bottom: 120px;
    background-color: #1D1D1D;

    @include onTablet {
      row-gap: 132px;
      padding-top: 120px;
      padding-bottom: 102px;
    }

    @include onDesktop {
      row-gap: 164px;
      padding-top: 120px;
      padding-bottom: 164px;
    }
  }
}
