$subtitle-min-font-size: 32px;
$subtitle-max-font-size: 64px;
$max-width: 85%;
$icon-size: 32px;
$icon-min-size: 24px;
$logo-width: 187px;
$logo-height: 56px;
$logo-min-width: 130px;
$logo-min-height: 38px;
