.main {
  &__show {
    margin: 0 auto;
  }
}

.exhibitions-showcase {
  margin-bottom: 100px;

  @media (min-width: 723px) {
    margin-bottom: 140px;
  }

  &__title {
    color: #161616;
    text-align: center;
    font-family: Cinzel, serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.5px;
    margin-bottom: 8px;

    @media (min-width: 723px) {
      font-size: 48px;
    }
  }

  &__subtitle {
    color: #161616;
    text-align: center;
    font-family: Cinzel, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.69;
    margin-bottom: 48px;
  }
}

.block-guidebook {
  &__block-img {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    width: 100%;
    margin-bottom: 24px;
    pointer-events: none;
  }

  &__link {
    flex: 1 1 auto;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    object-fit: cover;
    min-width: 130px;
    min-height: 130px;
  }

  &__image--image-left {
    object-position: 20% 20%;
    object-fit: cover;
  }

  &__description {
    color: #d12d35;
    font-family: Cinzel, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.69;
  }

  &__date {
    color: #161616;
    font-family: Cinzel, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.69;
  }

  &__date:not(:last-child) {
    margin-bottom: 48px;
  }

  &__date:last-child {
    margin-bottom: 40px;
  }

  &__image-right {
    object-position: right;
    object-fit: cover;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    display: inline-block;
    background-color: #d12d35;
    color: #fff;
    text-align: center;
    font-family: Cinzel, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.69;
    text-decoration: none;
    cursor: pointer;
    padding: 14px 38px 14px 65px;

    &:hover {
      background-color: #ae1c23;
    }

    &:focus {
      background-color: #eb343d;
    }

    @media (min-width: 576px) {
      padding: 14px 107px;
    }

    @media (min-width: 1024px) {
      padding: 14px 74px;
    }
  }
}

.three-objects {
  &__block-img {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    width: 100%;
    margin-bottom: 24px;
    pointer-events: none;
  }

  &__link {
    flex: 1 1 auto;
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    object-fit: cover;
  }

  &__link--hidden {
    @media (min-width: 575px) and (max-width: 800px) {
      display: none;
    }
  }
}
