.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: inline-block;
    width: 125px;
    height: 16px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__phone {
    width: 24px;
    height: 24px;
  }

  &__burger-menu {
    width: 24px;
    height: 24px;
  }
}
