.header__top {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  @include padding;

  &__img {
    object-fit: cover;
    width: 130px;
    height: 38px;

    @include on-tablet {
      object-fit: cover;
      width: 187px;
      height: 56px;
    }

    @include on-desktop {
      object-fit: cover;
      width: 187px;
      height: 56px;
    }
  }

  &__icons {
    display: flex;
    gap: 32px;

    &--phone {
      position: relative;
      background-size: contain;
      width: 24px;
      height: 24px;
      background-image: url(../images/Icon-Phone-call.svg);
      background-repeat: no-repeat;

      @include on-tablet {
        object-fit: cover;
        width: 32px;
        height: 32px;
      }

      @include on-desktop {
        object-fit: cover;
        width: 32px;
        height: 32px;
      }

      &::after {
        content: '+1 234 555-55-55';
        text-decoration: none;
        color: white;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        opacity: 0;
        visibility: hidden;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: calc(-450% + 10px);
        transform: translateY(-50%);
        transition:
          opacity 0.2s ease,
          visibility 0s;
      }

      &:hover::after {
        opacity: 1;
        visibility: visible;
        display: flex;

        @include on-tablet {
          text-decoration: none;
          color: white;
          font-weight: bold;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 2px;
        }

        @include on-desktop {
          text-decoration: none;
          color: white;
          font-weight: bold;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 2px;
        }
      }
    }

    &--menu {
      background-size: contain;
      width: 24px;
      height: 24px;
      background-image: url(../images/Icon-Burger-menu.svg);
      background-repeat: no-repeat;

      @include on-tablet {
        width: 32px;
        height: 32px;
      }

      @include on-desktop {
        width: 32px;
        height: 32px;
      }
    }
  }
}
