.header {
  background-image: url(../images/main-pic.png);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 40px;

    @include on-tablet {
      font-size: 64px;
      padding-bottom: 456px;
    }

    @include on-pc {
      font-size: 80px;
      padding-bottom: 482px;
    }

    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;
    padding-bottom: 288px;
  }
}


