.header {
  
  &-page {
    background-image: url(../images/image-header.jpg);
    @media screen and (min-width: 1260px) {
      background-image: url(../images/header-image--pc.png);
    }
    @include header-height-block;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  &-top {
    display: flex;
  }

  &-bottom {
    @include padding-inline;
    padding-block: 40px;
  }

  &-title {
    color: $header-color;
    @include header-size--h1;
  }

}
