.hours {
  display: flex;
  justify-content: center;
  margin: 140px 20px;
  gap: 24px;

  &__details {
    background-color: #fff;

    &__sched {
      display: flex;
      margin-bottom: 16px;
      gap: 24px;
    }
  }
}

.hours h2 {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  margin-bottom: 32px;
}

.hours h3 {
  font-size: 24px;
  line-height: 30px;
}

.hours h4 {
  font-size: 16px;
  line-height: 27px;
}

.hours h5 {
  color: #D12D35;
  font-size: 12px;
  line-height: 140%;
}

.hours p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
