.hours {
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    max-width: 280px;
    gap: 32px;
  }

  &__contain {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__plan {
    color: #d12d35;
    font-size: 12px;
  }

  &__hours {
    color: #161616;
    font-size: 32px;
    font-weight: 32px;
    letter-spacing: -1.5px;
  }

  &__fifth {
    color: #161616;
    font-size: 24px;

    &--schedule {
      margin-top: 16px;
      display: flex;
      flex-direction: rows;
      gap: 24px;
    }

    &--time {
      font-weight: 700;
      line-height: 27px;
    }

    &--days {
      line-height: 27px;
      font-size: 16px;
    }
  }

  &__closedon {
    display: flex;
    flex-direction: column;
    line-height: 27px;
    margin-top: 16px;
    font-size: 16px;

    &--closed {
      font-weight: 700;
    }
  }
}

.title {
  max-width: 280px;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

@media (min-width: 744px) {
  .hours {
    flex-direction: row;
    padding: 0 72px;
    gap: 24px;
    justify-content: space-between;
    align-items: center;

    &__content {
      flex-direction: row;
      gap: 24px;
      justify-content: center;
      max-width: none;
    }

    &__hours {
      font-size: 48px;
      letter-spacing: -1.5px;
      line-height: 48px;
    }
  }
}

@media (min-width: 1260px) {
  .hours {
    &__content {
      gap: 64px;
    }
  }
}
