.how-to-buy {
  @include page-grid;

  margin-bottom: 104px;

  @include on-tablet {
    margin-bottom: 120px;
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 5;
    }
  }

  &__content {
    line-height: 22.4px;
    display: grid;
    row-gap: 24px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__description {
    font-family: 'Space mono', sans-serif;
    font-size: 16px;
    margin: 0;
    font-weight: 400;
  }
}
