.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icons__box {
  padding: 36px 0;
  display: flex;
  gap: 24px;
}

.icon__phone {
  background-image: url(../icons/Icon-Phone-call.svg);
}

.icon__burger-menu {
  background-image: url(../icons/Icon-Burger-menu.svg);
}

.icon__close {
  background-image: url(../icons/Icon-Close.svg);
}
