.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(./images/icons/icon-phone.png);
  }

  &--burger {
    background-image: url(./images/icons/icon-burger-menu.png);
    &:hover {
      transform: scale(1.2);
      background-image: url(./images/icons/Icon-Burger-menu-hover.png);
    }
  }

  &--close {
    background-image: url(./images/icons/Icon-Close.png);
  }
}
