.icon {
  height: 24px;
  width: 24px;
  display: inline;
}

.icon--phone {
  background-image: url(img/Phone-number.png);
}

.icon--menu {
  background-image: url(img/Icon-Burger-menu.png);
}

.icon--close {
  background-image: url(img/Icon-Close.png);
}
