$timeOfAnimation: 300ms;

.icon {
  display: block;
  width: 24px;
  height: 24px;
  transition: all $timeOfAnimation;

  &:hover {
    transform: scale(1.2);
  }

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url('../images/icon/icon-phone-call.png');
    background-position: center;

    &::before {
        content: "+1 234 555-55-55";
        letter-spacing: 2px;
        color: #ffffff;
        white-space: nowrap;
        opacity: 0;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        transition: opacity .3s;
        position: absolute;
        top: 50%;
        right: calc(100% + 8px);
        transform: translateY(-50%);
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &--menu {
    background-image: url('../images/icon/icon-burger-menu.png');
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      background-image: url('../images/icon/icon-burger-menu-clicked.png');
      background-repeat: no-repeat;
    }
  }

  &--close {
    background-image: url('../images/icon/icon-close.png');
    background-position: center;
  }
}
