.icon {
  display: block;
  height: 24px;
  width: 24px;

  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
  }

  &--phone {
    background-image: url(../image/icons/icon-phone-call.svg);
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    float: right;

  }

  &--menu {
    background-image: url(../image/icons/icon-burger-menu.svg);
  }

  &--close {
    background-image: url(../image/icons/icon-close.svg);

  }

  &--menu:hover {
    background-image: url(../image/icons/icon-hover-menu.svg);
  }
}

.number--phone {
  display: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 100%;
  left: 0;
  padding-right: 20px;
}

.icon--phone:hover + .number--phone {
  display: inline-block;
}
