.icon {
  display: block;
  height: $icon-size-mob;
  width: $icon-size-mob;
  background-size: cover;

  @include on-tablet {
    height: $icon-size-tablet;
    width: $icon-size-tablet;
  }

  &--phone {
    background-image: url(../icons/phone-icon.png);
  }

  &--menu {
    background-image: url(../icons/menu-icon.png);
    @include big-screen {
      &:hover {
        background-image: url(../icons/menu-hover-icon.png);
      }
    }
  }

  &--close {
    background-image: url(../icons/close-icon.png);
  }
}
