.icon {
  display: block;
  background-size: cover;
  height: 24px;
  width: 24px;

  @include onTablet {
    height: 32px;
    width: 32px;
  }


  &--phone {
    position: relative;
    background-image: url(../images/phone.svg);

    @include onDesktop {
      &::before {
        content: "+1 234 555-55-55";
        display: flex;
        align-items: center;
        position: absolute;
        width: max-content;
        height: 100%;
        top: 0;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 2px;
        color: #ffff;
        right: 52px;
        text-align: center;
        transform: scale(0);
        transition-duration: 0.3s;
        transform-origin: right;
      }
      &:hover::before{
        transform: scale(1);
      }
    }
  }

  &--close {
    background-image: url(../images/close.svg);
  }

  &--menu {
    background-image: url(../images/burger.svg);
    transition-duration: 0.3s;

    &:hover {
      background-image: url(../images/burger-hover.svg);
    }
  }
}
