@use 'mixins';

.categories {
  &__image {
    width: 130px;
    height: 130px;
  }

  @include mixins.on-tablet {
    &__image__big-birds {
      content: url(../images/categories-birds-tablet.png);

      @include mixins.big-img-tablet;

      @include mixins.on-big-tablet {
        width: 392px;
      }
    }

    &__image__small-square {
      content: url(../images/categories-square-tablet.png);

      @include mixins.norm-img-tablet;
    }
    &__image__small-single-ear {
      content: url(../images/categories-single-ear-tablet.png);

      @include mixins.norm-img-tablet;
    }
    &__image__big-rect-ears {
      content: url(../images/categories-rect-ear-tablet.png);

      @include mixins.big-img-tablet;

      @include mixins.on-big-tablet {
        width: 392px;
      }
    }
    &__image__big-black-phone {
      content: url(../images/categories-black-phone-tablet.png);

      @include mixins.big-img-tablet;

      @include mixins.on-big-tablet {
        width: 392px;
      }
    }
    &__image__small-charger {
      content: url(../images/categories-charger-tablet.png);

      @include mixins.norm-img-tablet;
    }
  }

  @include mixins.on-desktop {
    &__image__big-birds {
      content: url(../images/birds-desktop.png);

      @include mixins.big-img-desktop;

      @include mixins.on-big-desktop {
        width: 672px;
      }
    }
    &__image__small-square {
      content: url(../images/square-ear-desktop.png);

      @include mixins.norm-img-desktop;
    }
    &__image__small-single-ear {
      content: url(../images/single-ear-desktop.png);

      @include mixins.norm-img-desktop;
    }
    &__image__big-rect-ears {
      content: url(../images/rect-ears-desktop.png);

      @include mixins.big-img-desktop;

      @include mixins.on-big-desktop {
        width: 672px;
      }
    }
    &__image__big-black-phone {
      content: url(../images/black-phone-desktop.png);

      @include mixins.big-img-desktop;

      @include mixins.on-big-desktop {
        width: 672px;
      }
    }
    &__image__small-charger {
      content: url(../images/charger-desktop.png);

      @include mixins.norm-img-desktop;
    }
  }
}
