.image {
  display: grid;
  grid-column: 1 / -1;
  height: 200px;
  background-image: url(../images/Image\ \(10\).png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
  }
}
