.images {
  height: 130px;
  width: 100%;

  @include on-tablet {
    height: 186px;
  }

  @include on-laptop {
    height: 320px;
  }

  &--mobile {
    @include on-tablet {
      display: none;
    }
  }

  &--non-mobile {
    display: none;

    @include on-tablet {
      display: block;
    }
  }

  &--md {
    width: calc(100% + 2 / 3 * 100% - 20px);

    @include on-tablet {
      width: calc(100% + 2 / 3 * 100% - 24px);
    }
  }
}
