img {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.compare-bikes__product .product__photo:hover,
.detail__photo:hover {
  transform: scale(1.1);
  opacity: 0.9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
