.container,
.recommended,
.categories,
.contacts {
  padding-inline: 20px;
}

@media (min-width: 576px) {

  .container,
  .recommended,
  .categories,
  .contacts {
    padding-inline: 72px;
  }
}

@media (min-width: 1024px) {

  .container,
  .recommended,
  .categories,
  .contacts {
    padding-inline: 120px;
    margin-inline: auto;
  }
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  background: url(../images/header-bg-mobile-2x.png) center/cover;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header__title {
  margin: 0;
  color: #fff;
  font-weight: 700;
  line-height: 36px;
  tab-size: 36px;
}

@media (min-width: 576px) {
  .header__title {
    font-size: 48px;
    line-height: 48px;
  }
}

.header__bottom {
  padding-bottom: 40px;
}

@media (min-width: 576px) {
  .header__bottom {
    padding-bottom: 64px;
  }
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

@media (min-width: 576px) {
  .icon {
    height: 32px;
    width: 32px;
  }
}

.icon--phone {
  position: relative;
  display: flex;
  background-image: url(../images/icon-phone.svg);
}

.icon--phone:hover::before {
  content: "+1 234 5555-55-55";
  position: absolute;
  top: 3px;
  left: -100px;
  width: max-content;
  font-size: 10px;
  font-weight: 700;
  color: #1b2129;
}

@media (min-width: 576px) {
  .icon--phone:hover::before {
    top: 5px;
    left: -130px;
    font-size: 14px;
  }
}

.icon--menu {
  background-image: url(../images/icon-burger-menu.svg);
}

.icon--menu:hover {
  background-image: url(/src/images/icon-burger-menu-hover.svg);
}

.icon--close {
  background-image: url(../images/icon-close.svg);
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #f9f9f9;
  font-weight: 700;
  color: #1b2129;
  overflow: auto;
}

.menu__top {
  position: sticky;
  background-color: #f9f9f9;
  top: 0;
  z-index: 1;
  margin-bottom: 32px;
}

@media (min-width: 576px) {
  .menu__top {
    margin-bottom: 56px;
  }
}

.menu__nav {
  margin-bottom: 48px;
}

.menu__phone-number {
  display: block;
  margin-bottom: 16px;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 2px;
}

.menu__call-to-order {
  display: block;
  width: fit-content;
  padding-bottom: 4px;
  border-bottom: 1px solid #1b2129;
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 2px;
}

.nav__link {
  position: relative;
  color: inherit;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  display: block;
  transform: scale(0);
  transition: transform 0.3s;
  height: 0.7px;
  width: 100%;
  background-color: #1b2129;
}

.nav__link:hover::after {
  transform: scale(1);
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin: 0;
  padding: 0;
  
  list-style: none;
  font-size: 22px;
  line-height: 22px;
  color: inherit;
  text-decoration: none;
}

.page {
  font-family: Manrope, serif;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 320px;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all, 0.5s;
  transform: translateX(-100%);
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;
}

@media (min-width: 576px) {
  .top-bar {
    padding-block: 32px;
  }
}

.top-bar__logo-link {
  display: flex;
}

.top-bar__logo {
  height: 16px;
  transition: transform 0.3s;
}

.top-bar__logo:hover {
  transform: scale(1.2);
}

@media (min-width: 576px) {
  .top-bar__logo {
    height: 24px;
  }
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.section-title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #1b2129;
}

@media (min-width: 576px) {
  .section-title {
    margin-bottom: 56px;
    font-size: 40px;
    line-height: 40px;
  }
}

@media (min-width: 1024px) {
  .section-title {
    margin-bottom: 56px;
    font-size: 48px;
    line-height: 48px;
  }
}

.main {
  background-color: #fff;
}

.main__content {
  display: grid;
  row-gap: 64px;
  padding-block: 64px;
}

@media (min-width: 576px) {
  .main__content {
    padding-block: 120px;
    row-gap: 120px;
  }
}

.product__photo {
  width: 100%;
  transition: 0.3s;
}

.product__photo:hover {
  transition: scale 0.3s;
  cursor: pointer;
}

.product__photo:hover:hover {
  scale: 1.1;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
}

.product__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: 0.15px;
}

.product__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
}

.recommended {
  margin: 0;
  color: #1b2129;
}

.recommended__products {
  --columns: 2;

  display: grid;
  gap: 40px 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}

@media (min-width: 576px) {
  .recommended__products {
    --columns: 6;

    column-gap: 24px;
  }
}

@media (min-width: 1024px) {
  .recommended__products {
    --columns: 12;
  }
}

@media (min-width: 576px) {
  .recommended__products {
    justify-items: center;
  }
}

.recommended__product {
  grid-column: 1/-1;
}

@media (min-width: 576px) {
  .recommended__product {
    grid-column: 2/-2;
  }
}

@media (min-width: 1024px) {
  .recommended__product {
    grid-column: span 4;
  }
}

.info {
  background-color: #fcfaef;
  color: #1b2129;
}

.info__content {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  padding-inline: 20px;
}

@media (min-width: 576px) {
  .info__content {
    --columns: 6;

    column-gap: 24px;
  }
}

@media (min-width: 1024px) {
  .info__content {
    --columns: 12;
  }
}

@media (min-width: 576px) {
  .info__content {
    padding-inline: 72px;
  }
}

@media (min-width: 1024px) {
  .info__content {
    padding-inline: 120px;
    margin-inline: auto;
  }
}

.info__picture {
  background: url(../images/products/unique-product.png) center/cover;
  height: 200px;
}

@media (min-width: 576px) {
  .info__picture {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .info__picture {
    height: 460px;
  }
}

.info__title {
  grid-column: 1/-1;
  margin: 48px 0 24px;
}

@media (min-width: 576px) {
  .info__title {
    grid-column: span 3;
    margin: 120px 24px 176px;
  }
}

@media (min-width: 1024px) {
  .info__title {
    grid-column: span 6;
  }
}

.info__description {
  grid-column: 1/-1;
  margin-bottom: 48px;
  line-height: 22.4px;
}

@media (min-width: 576px) {
  .info__description {
    grid-column: 4/7;
    margin: 120px 0 0;
  }
}

@media (min-width: 1024px) {
  .info__description {
    grid-column: 8/13;
    margin: 120px 0;
  }
}

.categories__wrapper {
  display: grid;
  row-gap: 40px;
}

@media (min-width: 576px) {
  .categories__wrapper {
    row-gap: 56px;
  }
}

.category__photos {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-bottom: 16px;
}

@media (min-width: 576px) {
  .category__photos {
    --columns: 6;

    column-gap: 24px;
  }
}

@media (min-width: 1024px) {
  .category__photos {
    --columns: 12;
  }
}

@media (min-width: 576px) {
  .category__link--square {
    grid-column: span 3;
  }
}

@media (min-width: 1024px) {
  .category__link--square {
    grid-column: span 6;
  }
}

.category__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category__photo:hover {
  transition: scale 0.3s;
}

.category__photo:hover:hover {
  scale: 1.1;
}

.category__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25.2px;
  color: #1b2129;
}

@media (min-width: 576px) {
  .category__title {
    font-size: 24px;
    line-height: 33.6px;
  }
}

.category__button {
  display: block;
  transition: background-color 0.3s ease;
  width: 280px;
  height: 56px;
  margin: 40px auto 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background-color: #f98921;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}

@media (min-width: 576px) {
  .category__button {
    margin: 40px auto 0;
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .category__button {
    margin: 0;
    margin-top: 40px;
    width: 324px;
  }
}

.category__button:hover {
  background-color: #1b2129;
  cursor: pointer;
}

.category__button:active {
  background-color: #010810;
}

.contact-us__block {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}

@media (min-width: 576px) {
  .contact-us__block {
    --columns: 6;

    column-gap: 24px;
  }
}

@media (min-width: 1024px) {
  .contact-us__block {
    --columns: 12;
  }
}

.contact-us__block-form {
  grid-column: span 2;
}

@media (min-width: 576px) {
  .contact-us__block-form {
    grid-column: span 6;
  }
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
}

.contact-us__input {
  height: 48px;
  padding-left: 16px;
  color: #1b2129;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 8px;
}

.contact-us__input::placeholder {
  font-size: 14px;
  letter-spacing: 0.15px;
  color: #7e7e83;
}

.contact-us__input:hover {
  border-color: #dbdbdb;
}

.contact-us__input:hover::placeholder {
  color: #1b2129;
}

.contact-us__input:focus {
  outline-color: #f98921;
}

.contact-us__textarea {
  height: 148px;
  padding: 14px 16px;
  margin-bottom: 32px;
  resize: none;
  font-family: Manrope, sans-serif;
  color: #1b2129;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  border-radius: 8px;
}

.contact-us__textarea::placeholder {
  font-size: 14px;
  letter-spacing: 0.15px;
  color: #7e7e83;
}

.contact-us__textarea:hover {
  border-color: #dbdbdb;
}

.contact-us__textarea:hover::placeholder {
  color: #1b2129;
}

.contact-us__textarea:focus {
  outline-color: #f98921;
}

.contact-us__button {
  transition: background-color 0.3s;
  width: auto;
  height: 56px;
  border: none;
  border-radius: 8px;
  margin-top: 16px;
  min-width: 280px;
  grid-column: 1/-1;
  background-color: #f98921;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}

.contact-us__button:hover {
  background-color: #1b2129;
  cursor: pointer;
}

.contact-us__button:active {
  background-color: #010810;
}

@media (min-width: 1024px) {
  .contact-us__content {
    grid-column: 8/-1;
  }
}

.contact-us__content__block {
  margin-bottom: 24px;
}

.contact-us__content__block-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #9393a3;
}

.contact-us__content__block-text {
  color: #191919;
  transition: color 0.3s;
}

.contact-us__content__block-text:hover {
  color: #f98921;
}

.recommended,
.info__content,
.container {
  max-width: 1020px;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
