* {
  box-sizing: border-box;
}

.page {
  font-family: Cinzel, serif;
  color: #161616;
  font-size: 16px;
  line-height: 27px;
  scroll-behavior: smooth;
}
.page__body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}
.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}
.page__menu:target {
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}

.header {
  background-image: url(/src/images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;
}
.header__content {
  height: 100vh;
}
.header__title {
  margin: 0;
  margin-top: 129px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
@media (min-width: 744px) {
  .header__title {
    font-size: 64px;
    line-height: 64px;
    margin-top: 60px;
  }
}
@media (min-width: 1024px) {
  .header__title {
    font-size: 80px;
    line-height: 80px;
    margin-top: 60px;
  }
}

.top-bar {
  padding-block: 25px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 744px) {
  .top-bar {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .top-bar {
    padding-inline: 120px;
  }
}
@media (min-width: 744px) {
  .top-bar {
    padding-block: 50px;
  }
}
.top-bar__icons {
  display: flex;
  gap: 24px;
}
.top-bar__logo {
  display: flex;
  width: 64px;
  height: 46px;
  transition: transform 0.3s;
}
.top-bar__logo:hover {
  transform: scale(1.2);
}
@media (min-width: 744px) {
  .top-bar__logo {
    width: 87px;
    height: 65px;
  }
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  transition: transform 0.3s;
}
.icon:hover {
  transform: scale(1.2);
}
@media (min-width: 744px) {
  .icon {
    height: 32px;
    width: 32px;
  }
}
.icon--phone {
  background-image: url(/src/images/icons/Icon-phone-call.svg);
}
.icon--menu {
  background-image: url(/src/images/icons/header-bg-mobile.svg);
}
.icon--menu:hover {
  background-image: url(/src/images/icons/header-bg-mobile-hover.svg);
  transform: scale(1.2);
}
.icon--close {
  background-image: url(/src/images/icons/Icon-close.svg);
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #d12d35;
  font-weight: 700;
  text-transform: uppercase;
}
.menu__top {
  margin-bottom: 40px;
}
.menu__nav {
  margin-bottom: 32px;
}
.menu .container {
  padding-inline: 20px;
}
@media (min-width: 744px) {
  .menu .container {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .menu .container {
    padding-inline: 120px;
  }
}
.menu__phone-title {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
  margin: 0;
}
.menu__phone-number {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 16px;
}
.menu__phone-number:hover {
  color: rgb(83, 192, 98);
}
.menu_call-to-order {
  display: block;
  width: fit-content;
  padding-bottom: 7px;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.nav__link {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}
.nav__link:hover::after {
  transform: scale(1);
}

.section-title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}
@media (min-width: 744px) {
  .section-title {
    font-size: 48px;
  }
}
.section-title--align-left {
  text-align: left;
}

.main {
  background-color: #fff;
}
.main .container {
  display: grid;
  row-gap: 100px;
  padding-block: 100px;
}
@media (min-width: 744px) {
  .main .container {
    row-gap: 120px;
    padding-block: 120px;
  }
}

.about-us {
  padding-inline: 20px;
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}
@media (min-width: 744px) {
  .about-us {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .about-us {
    padding-inline: 120px;
  }
}
@media (min-width: 744px) {
  .about-us {
    --columns: 6;
    column-gap: 24px;
  }
}
@media (min-width: 1024px) {
  .about-us {
    --columns: 12;
  }
}
.about-us__title-container {
  grid-column: 1/-1;
}
@media (min-width: 744px) {
  .about-us__title-container {
    grid-column: 1/4;
  }
}
@media (min-width: 1024px) {
  .about-us__title-container {
    grid-column: span 5;
  }
}
.about-us__plan {
  color: #d12d35;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.8px;
  margin: 0;
}
.about-us__title {
  margin-bottom: 16px;
}
.about-us__content {
  grid-column: 1/-1;
}
@media (min-width: 744px) {
  .about-us__content {
    grid-column: 4/7;
  }
}
@media (min-width: 1024px) {
  .about-us__content {
    grid-column: span 5;
  }
}
.about-us__location-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 24px 0 16px;
}
.about-us__hours {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}
.about-us__hours li:not(:last-child) {
  margin-bottom: 8px;
}
.about-us__text {
  font-weight: 400;
  line-height: 27px;
}
.about-us__text:not(:last-child) {
  display: inline-block;
  margin-bottom: 8px;
}
.about-us__closed-days {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin: 0;
  margin-top: 16px;
}

/*# sourceMappingURL=index.css.map */
