
@use 'variables' as *;

html {
  font-family: Poppins, serif;
  font-weight: 500;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: $color-background;
  color: $color-text;
  position: relative;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

footer {
  display: unset;
  margin: 0;
  padding: 0;
}

body:has(.menu:target) .body-wrapper {
  overflow: hidden;
  height: 0;
}

body:not(:has(.menu:target)) .menu {
  overflow: hidden;
  height: 0;
}

.footer-image {
  z-index: -1;
  position: sticky;
  bottom: 0;
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

@import 'header';
@import 'main';
@import 'card';
@import 'detail';
@import 'contact-us';
@import 'menu';
