.information {
  &__heading {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
  }
  &__text {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 24px;

    text-decoration: none;
    color: #fff;

    &:hover {
      transition-duration: 500ms;
      color: #9a8f8f;
    }
  }
}
