.info {
  padding-top: 60px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;

  @include on-desktop {
    grid-template-columns: repeat(2, 1fr);
  }

  @include on-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  &__text {
    width: 280px;
    font-weight: 500;
    line-height: 140%;
    font-size: 23px;
    color: white;
    margin: 0;

    @include on-desktop {
      width: 498px;
      margin-right: 87px;
    }

    @include on-tablet {
      width: 288px;
    }
  }

  &__title {
    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 411px;
    }
  }

  @include on-desktop {
    padding-top: 120px;
  }

  @include on-tablet {
    padding-top: 120px;
  }

}
