.info {
  display: grid;

    @include page-grid;
  &__input {
    @include page-grid;

    color: #7E7E83;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 40px;
    background: #F8F8FA;
    border: 1px solid #F8F8FA;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding: 14px 16px;
    outline: none;

    @include on-tablet{
      width: 288px;
    }

    @include on-desktop {
      width: 411px;
    }

    @include hover(border, 1px solid #D5D7DE);

    &:focus {
      color: #292929;
      border: 1px solid #292929;
    }

    &-textarea {
      font-family: $text-font;
      display: flex;
      height: 158px;
      border-radius: 14px;
      resize: none ;
    }
  }

  &__place {
    display: grid;
    width: 100%;

    row-gap: 16px;
    grid-column: span 2;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__text {
    margin-top: 48px;
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 8 / 13;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    margin: 24px 0 8px;
  }

  &__value {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 140%;
    width: 100%;
    font-weight: 500;
  }

  &__button {
    @include button;

    border: 1px solid #FFF;
    padding: 0 48px;
    margin: 32px auto 0;
    width: 278px;
    height: 56px;
    outline: none;

    @include hover(box-shadow, 1px 4px 16px 0 #e8f0fe);

    &:active {
      box-shadow: 1px 4px 16px 0 #e8e8f0a3;
    }

    @include on-tablet {
      margin: 32px 0 0;
    }

    @include on-desktop {
      width: 411px;
    }

  }
}
