.information {
  @include content-padding-inline;

  @include on-desktop {
    width: 500px;
  }

  &-field__input--small {
    height: 48px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: #F8F8FA;
    outline: none;
    border: 1px solid #F8F8FA;
    transition: 0.3s;
  }

  &-field__input--big {
    resize: none;
    height: 148px;
    width: 100%;
    border-radius: 8px;
    background-color: #F8F8FA;
    margin-bottom: 32px;
    outline: none;
    border: 1px solid #F8F8FA;
    transition: 0.3s;
  }

  &__button {
    width: 100%;
    height: 56px;
    color: #fff;
    border-radius: 8px;
    padding: 0, 48px;
    background-color: #292929;
    align-items: center;
    line-height: 27px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
  }

  &__button:hover {
    width: 100%;
    height: 56px;
    border-radius: 8px;
    padding: 0, 48px;
    color: black;
    line-height: 27px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #F0F1F4;
    background-color: #F8F8FA;
    transition: 0.3s;
  }

  &__button:active {
    background-color: #111;
    color: #fff;
    border: 2px solid #111;
  }

  &-field__input--small:hover {
    border: 1px solid #D5D7DE;
    transition: 0.3s;
    color: black;
  }

  &--field__input--big:hover {
    border: 1px solid #D5D7DE;
    transition: 0.3s;
    color: #F8F8FA;
  }

  &-field__input--small:focus {
    transition: 0.3s;
    color: black;
    border: 1px solid #292929;
  }

  &-field__input--big:focus {
    transition: 0.3s;
    color: black;
    border: 1px solid #292929;
  }

  &-field__input--small::placeholder {
    padding-left: 16px;
    font-family: 'Space Mono' , sans-serif;
  }

  &-field__input--big::placeholder {
    padding-left: 16px;
    padding-top: 14px;
    font-family: 'Space Mono' , sans-serif;
  }
}

.information-field__input::-webkit-autofill,
.information-field__input::-webkit-autofill:hover,
.information-field__input::-webkit-autofill:focus {
  border: 1px solid yellow;
  transition: background-color 5000s ease-in-out 0s;
}
