.info {
  background-color: #1d1d1d;

  color: #fff;

  &__container {
    max-width: 1260px;
    margin-inline: auto;

    display: grid;

    grid-template-columns: repeat(12, 1fr);

    padding: 90px 0;

    @media (max-width: 744px) {
      max-width: 600px;

      grid-template-columns: repeat(6, 1fr);

      margin-inline: auto;
    }

    &-title {
      font-size: 64px;
      line-height: 64px;

      font-weight: 500;

      grid-column: 1 / 6;

      @media (max-width: 744px) {
        font-size: 48px;
        line-height: 48px;

        font-weight: 500;

        grid-column: 1 / 4;
      }
    }

    &-paragraph {
      font-size: 23px;
      line-height: 32.2px;

      font-weight: 500;

      grid-column: 6 / -2;

      @media (max-width: 744px) {
        font-size: 23px;
        line-height: 32.2px;

        font-weight: 500;

        grid-column: 4 / -1;
      }
    }
  }
}
