@import './variables';
@import './mixins';

.visit {
  @include page-grid;

  &__title {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }

    &-text {
      font-weight: 700;
      margin: 0 0 1em;

      &--small {
        color: $red;
        font-size: 12px;
        line-height: 141%;
        margin-bottom: 2px;
      }

      &--big {
        color: $black;
        font-size: $font-size-big;
        line-height: 32px;
        letter-spacing: -1.5px;

        @include on-tablet {
          font-size: 48px;
          line-height: 48px;
        }
      }
    }
  }
}

.visit__place {
  color: $black;

  margin-bottom: 24px;

  &-wrap {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &-name {
    margin: 0;
    font-weight: 700;
    font-size: $font-size-medium;
    line-height: 30px;
    margin-bottom: 16px;
  }

  &-shedule {
    display: flex;
    align-items: center;

    gap: 24px;
    flex-direction: row;
    margin-bottom: 1em;

    &-working-time p {
      font-size: $font-size-small;
      font-weight: 700;
      line-height: 27px;
      margin-bottom: 8px;
    }

    &-working-days p {
      font-weight: 400;
      font-size: $font-size-small;
      line-height: 27px;
      margin-bottom: 8px;
    }

    &-working-time p:last-child,
    &-working-days p:last-child {
      margin-bottom: 0;
    }

    &-working-days--second {
      padding-right: 58px;
    }
  }

  &-closing-days {
    font-size: $font-size-small;
    line-height: 27px;

    &--title {
      font-weight: 700;
    }

    &--content {
      font-weight: 400;

      @include on-desktop {
        white-space: nowrap;
      }
    }
  }
}
