.input {
  height: $height-input-contacts;
  border-radius: 40px;
  background: $input-color;
  width: 100%;
  box-sizing: border-box;
  transition: all $transition-duration;
  padding-top: auto;
  padding-left: 16px;

  &:hover {
    border: 1px solid #d5d7de;
  }

  &::placeholder {
    color: #7e7e83;
    font-size: 14px;
    font-weight: $normal-text;
    line-height: 20px;
  }
  &:hover::placeholder {
    color: #292929;
  }
  &--message {
    height: 120px;
    border-radius: 16px;
    background: $input-color;
    box-sizing: border-box;
    padding-top: 14px;
  }
}
