.item {
  &__option {
    grid-column: 1 / -1;

    &__image {
      width: 280px;
      height: 228px;
      margin-bottom: 32px;
    }

    &__title {
      @include fonts(700, 24px, 140%);
      margin-bottom: 8px;
    }

    &__description {
      @include fonts(400, 16px, 140%);
      margin-bottom: 16px;
    }

    &__price {
      @include fonts(700, 24px, 140%);
    }
  }
}
