.login {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @include onDesktop {
    grid-template-columns: 2fr 1fr;
    gap: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @include onDesktop {
      grid-column: 1 / 2;
    }
  }

  &__information {
    @include onDesktop {
      grid-column: 2 / 13;
    }
  }


  &__field {
    width: 100%;
  }

  &__input {
    font-family: 'Space Mono', sans-serif;
    width: 280px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    line-height: 19.6px;
    box-sizing: border-box;
    background-color: #F8F8FA;
    min-height: 48px;
    outline: none;

    &:-webkit-autofill {
      color: $main-color;
      background-color: #9393A3;
      -webkit-box-shadow: 0 0 0px 1000px #F8F8FA inset;
    }

    @include onTablet {
      width: 600px;
    }

    @include onDesktop {
      width: 411px;
    }
  }

  &__textarea {
    resize: none;
    min-height: 148px;
  }

  &__button {
    height: 56px;
    width: 280px;
    padding: 0 48px 0 48px;
    border: none;
    border-radius: 8px;
    border: 2px solid #F0F1F4;
    background-color: $main-color;
    color: white;
    font-size: 16px;
    cursor: pointer;

    @include onTablet {
      width: 600px;
    }

    @include onDesktop {
      width: 411px;
    }

    &:hover {
      background-color: #F8F8FA;
    }
  }

  &__name {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    color: #9393A3;
    font-size: 14px;
    line-height: 19.6px;
    margin-bottom: 8px;
  }

  &__contact {
    font-family: 'Space Mono', sans-serif;
    color: #191919;
    text-decoration: none;
    margin-bottom: 24px;
    line-height: 22.4px;
    display: inline-block;;

    &:hover {
      color: #9393A3;
    }
  }
}
