.logo {
  display: block;
  width: 130px;
  height: 38px;
  background-size: contain;
  background-repeat: no-repeat;

  @include hover(transform, scale(1.1));

  @include ontablet {
    width: 187px;
    height: 56px;
  }

  @include ondesktop {
    width: 187px;
    height: 56px;
  }
}

.header__top-logo {
  background-image: url(../icons/logo.png);
}

.menu__logo {
  background-image: url(../icons/menu_logo.png);
}
