$logoMyBike: '../images/mainLogoW.svg';
$iconMenu: '../images/menuIcon.svg';
$iconPhone: '../images/phoneIcon.svg';
$mainBackgroungPhoto: '../images/mainPhoto.jpg';
$iconClose: '../images/closeIcon.svg';
$logoMainOpenedMenu: '../images/mainLogoB.svg';
$logoOpenedMenu: '../images/menuOpenedIcon.svg';
$imgBikeSporty: '../images/sportyBike.png';
$imgBikeSt: '../images/stBike.png';
$imgBikeAgile: '../images/agileBike.png';
$imgFooter: '../images/footerImg.png';
