html {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;

  --black-color: #292929;
  
  color: var(--black-color);
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

.header {
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-bar {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url(../icons/phone-number.svg);
}

.icon--sidebar--menu {
  background-image: url(../icons/icon-burger-menu.svg);
}

.icon--close {
  background-image: url(../icons/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__title {
  margin: 0;
  font-size: 36px;
  line-height: 100%;
}

.sidebar__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: #E5E6E8;

  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
  transition: 0.5s;
}

.sidebar__menu__top {
  padding-bottom: 24px;
}

.sidebar__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0%);
}

.sidebar__nav__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0;
  padding: 0;
  margin-bottom: 48px;
}

.sidebar__menu__link {
  text-decoration: none;
  color: var(--black-color);
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.sidebar__menu__link:hover {
  text-decoration: underline;
  color: var(--black-color);
}

.sidebar__menu__phone {
  color: var(--black-color);
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
  line-height: 140%;
  letter-spacing: 2px;
}

.sidebar__menu__call {
  color: var(--black-color);
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid var(--black-color);
  padding-bottom: 7px;
  line-height: 140%;
  letter-spacing: 2px;
}

@media (max-width: 320px) {
  .header__logo {
    width: 125px;
  }
  .sidebar__menu__logo {
    width: 125px;
  }
}
