.main1 {
  background-color: #1D1D1D;
  color: #fff;

  &__content {
    display: grid;
    row-gap: 92px;
    padding-block: 92px;

    @include ContentPaddingInline;

    @include OnTablet {
      row-gap: 120px;
      padding-block: 120px;
    }
  }
}
