
html {
  --general-font-family: 'Poppins', sans-serif;
  --general-bg: #1d1d1d;
}


body {
  font-family: var(--general-font-family);
  font-style: normal;
  background-color: var(--general-bg);
  line-height: 100%;
  margin: 0;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 36px 136px;
}

/* Header */
.header {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position: center;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header__title {
  margin: 0;
  padding-bottom: 203px;
  color: #FFF;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.5px;
}

/* Top bar */
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar__logo {
  display: flex;
  align-items: center;
  width: 187px;
  height: 56px;
}

.top-bar__icons {
  display: flex;
  gap: 32px;
}

/* Icons */
.icon {
  display: block;
  width: 32px;
  height: 32px;
}

.icon--phone {
  background-image: url(../images/phone-call.svg);
}

.icon--menu {
  background-image: url(../images/burger-menu.svg);
  pointer-events: none;
}

.icon--close {
  background-image: url(../images/close.svg);
}

/* Navigation */
.navigation {
  text-transform: uppercase;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: #C2C2C2;
}

.navigation:target {
  opacity: 1;
  pointer-events: all;
}

/* Nav-menu */
.navigation__menu {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap: 32px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 44px;
  margin-bottom: 40px;
}

.navigation__link {
  display: inline-block;
  text-decoration: none;
  color: #1D1D1D;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navigation__link::after {
  display: block;
  content: '';
  height: 1px;
  background: #1D1D1D;
  margin-top: 8px;
  opacity: 0;
}

.navigation__link:hover::after {
  opacity: 1;
}


.navigation__text {
  margin: 0;
  padding: 0;
  color: #1D1D1D;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
}

.navigation__text--special {
  display: block;
  width: max-content;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #1D1D1D;
  padding-bottom: 8px;
  margin-top: 16px;
}

/* Media query */

@media screen and (max-width: 744px) {
  .container {
    padding: 36px 76px;
  }
}

@media screen and (max-width: 744px) {
  .header__title {
    font-size: 64px;
    padding-bottom: 130px;
  }

  .icon--menu {
    pointer-events: all;
  }
}

@media screen and (max-width: 375px), (max-width: 414px) {
  .container {
    padding: 24px 20px;
  }
  .header__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 320px) {
  .top-bar__logo {
    width: 130px;
  }
}
