body {
  margin: 0;
}

html {
  font-family: Cinzel, Roboto, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
span,
p,
a,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background-image: url("../images/main-bacground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 568px;
  margin-bottom: 100px;
  box-sizing: border-box;
}
.header-tittle {
  margin-top: 130px;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.5px;
  text-align: center;
  color: white;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 20px;
  box-sizing: border-box;
  height: 100vh;
  background-color: #d12d35;
  opacity: 0;
  pointer-events: none;
}

.menu:target {
  opacity: 1;
  pointer-events: all;
}

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  margin-bottom: 40px;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}
.menu-content_item {
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  color: white;
}

.menu-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.menu-contact_item {
  color: white;
  font-weight: 700;
  line-height: 27px;
}

.menu-order {
  text-decoration: none;
  border-bottom: 1px solid white;
  padding-bottom: 8px;
  color: white;
  font-weight: 700;
  line-height: 27px;
}

.museum-visit {
  margin-bottom: 100px;
}

.plan {
  margin-bottom: 32px;
}
.plan_title {
  font-size: 12px;
  font-weight: 700;
  line-height: 16.8px;
  color: #d12d35;
}
.plan_hours {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
  color: #161616;
}

.visit-info_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #161616;
  margin-bottom: 16px;
}

.wrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}

.visit-schedule {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.visit-schedule_hour {
  font-weight: 700;
  line-height: 27px;
}
.visit-schedule_day {
  font-weight: 400;
  line-height: 27px;
}

.visit-closed {
  font-weight: 700;
  line-height: 27px;
}

.visit-days {
  font-weight: 400;
  line-height: 27px;
}

.visit-wrap-close {
  margin-bottom: 24px;
}

.view {
  margin-bottom: 100px;
}

.view-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
  padding-bottom: 8px;
}

.view-explore {
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  margin-bottom: 48px;
}

.picture-wrapper {
  display: flex;
  margin-bottom: 24px;
  gap: 20px;
}

.collection-title {
  color: white;
  font-weight: 700;
  line-height: 27px;
  color: #d12d35;
}

.date-title {
  font-weight: 400;
  line-height: 27px;
}

.picture-box {
  display: flex;
  margin-bottom: 24px;
  gap: 8px;
}

.view-wrapper {
  margin-bottom: 48px;
}

.view-link {
  color: white;
  font-weight: 700;
  line-height: 27px;
  background-color: #d12d35;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 280px;
  display: inline-block;
  padding: 15px 0;
  margin-top: -8px;
}
.view-link:hover {
  background-color: #ae1c23;
}

.explore {
  margin-bottom: 100px;
}

.explore-image-wrapper:not(:last-child) {
  margin-bottom: 48px;
}

.explore-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  color: #161616;
  margin-bottom: 40px;
}

.explore-text {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #d12d35;
  padding-bottom: 4px;
  margin-top: 24px;
}

.explore-subtitle {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.contacts-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  margin-bottom: 48px;
}

.contacts-subtitle {
  color: white;
  font-weight: 700;
  line-height: 27px;
  color: #161616;
  padding-bottom: 16px;
}

.contact-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.contact-content {
  font-weight: 700;
}

.contacts-wrapper {
  margin-bottom: 48px;
}

.contact-wrapper_item:not(:last-child) {
  padding-bottom: 8px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 100px;
}

.contact-form_input,
.contact-form_text {
  background-color: #f8f8fa;
  padding: 10px 14px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.contact-form_input:focus, .contact-form_input:active,
.contact-form_text:focus,
.contact-form_text:active {
  border: 1px solid #161616;
}

.contact-form_text {
  height: 144px;
}

.form-button {
  cursor: pointer;
  text-align: center;
  padding: 15px 0;
  font-family: Cinzel;
  font-weight: 700;
  background-color: #d12d35;
  color: white;
  border: none;
}
.form-button:hover {
  background-color: #ae1c23;
}

.footer {
  background-image: url("../images/footer-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  height: 180px;
}

/*# sourceMappingURL=main.css.map */
