.main {
  display: grid;
  row-gap: 92px;
  padding-top: 60px;
  padding-bottom: 120px;

  @include contentPaddingInline;

  @include onTablet {
    row-gap: 120px;
    padding-top: 120px;
    padding-bottom: 102px;
  }
}

.about-us {

  @include pageGrid;

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: span 5;
    }
 }

  &__content {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__description {
    margin: 0;
    font-weight: 500;
    line-height: 32.2px;
    font-size: 23px;
    letter-spacing: 0;
  }
}
