.page {
  font-family: 'Cinzel', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #161616;

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;

  --icon-size: 24px;
  --height-of-top-bar-mobile: 46px;
  --white-text-color: #fff;
}

.top-bar {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  height: var(--height-of-top-bar-mobile);
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  height: var(--height-of-top-bar-mobile);
  width: 64px;
}

.top-bar__icons {
  display: flex;
  gap: var(--icon-size);
  align-items: center;
}

.header__title {
  margin: 0;
  height: 80px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.5px;
  color: var(--white-text-color);
  text-align: center;
}

.header__help {
  height: 200px;
  visibility: hidden;
}

.icon {
  display: block;
  height: var(--icon-size);
  width: var(--icon-size);
}

.icon--phone {
  background-image: url(../images/icons/icon-phone.svg);
}

.icon--menu {
  background-image: url(../images/icons/icon-burger-menu.svg);
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #d12d35;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__content {
  padding-inline: 20px;
  margin-top: 40px;
}

.icon--close {
  background-image: url(../images/icons/icon-close.svg);
  align-self: center;
}

.menu__nav {
  margin-bottom: 32px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  text-decoration: none;
  color: var(--white-text-color);
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.menu__phone-part {
  color: var(--white-text-color);
}

.menu__phone-part:not(:last-of-type) {
  margin-bottom: 8px;
}

.menu__phone-part:last-of-type {
  margin-bottom: 16px;
}

.menu__phone-number {
  text-decoration: none;
  color: var(--white-text-color);
}

.menu__call-to-order {
  text-decoration: none;
  color: var(--white-text-color);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;

  padding-bottom: 7px;
  border-bottom: 1px solid #fff;
}
