.main1 {
  background-color: $color-dark;

  &__content {
    display: grid;
    row-gap: 80px;
    padding-top: 60px;
    padding-bottom: 120px;

    @include on-tablet {
      padding-top: 120px;
      padding-bottom: 102px;
      row-gap: 120px;
    }

    @include on-desktop {
      padding-top: 120px;
      padding-bottom: 164px;
      row-gap: 144px;
    }
  }
}
