.main-section {
  display: grid;
  row-gap: 60px;
  padding-block: 60px;
  background-color: #1d1d1d;

  &__content {
    display: grid;
    row-gap: 60px;
    padding-block: 60px;

    @include on-tablet {
      row-gap: 120px;
      padding-block: 120px;
    }

    @include on-desktop {
      row-gap: 120px;
      padding-block: 120px;
    }
  }
}
