.main {
  padding: 60px 0 120px;

  @include contentPadingInline;

  @include onTablet {
    padding-block: 120px;
  }

  @include onDesktop {
    padding-top: 120px;
    padding-bottom: 164px;
  }
}
