/* #region page */
:root {
  --color-white: #fff;
  --color-main-dark: #161616;
  --color-accent-main: #d12d35;
}

.page {
  font-family: "Cinzel", serif;
  font-size: 16px;
  line-height: 27px;
  color: var(--color-main-dark);
  scroll-behavior: smooth;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}
/* #endregion */
/* #region header */
.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__center {
  padding: 0 20px 288px;
}

.header__title {
  text-align: center;
  margin: 0;
  color: var(--color-white);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1.5px;
}
/* #endregion */
/* #region menu */
.top-bar {
  padding: 25px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar__logo {
  display: flex;
  img {
    width: 64px;
    height: 46px;
  }
}

.menu {
  box-sizing: border-box;
  overflow: auto;
  height: 100vh;
  background-color: var(--color-accent-main);
}

.menu__top {
  margin-bottom: 40px;
}

.menu__content {
  padding-inline: 20px;
}

.menu__nav {
  margin-bottom: 32px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
}

.menu__fifth-avenue {
  padding-bottom: 8px;
}

.menu__contacts-list {
  margin-bottom: 16px;
}

.menu__address {
  display: block;
  color: var(--color-white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__phone-number {
  display: block;
  color: var(--color-white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__address:hover,
.menu__phone-number:hover {
  color: var(--color-main-dark);
}

.menu__call-to-order {
  display: block;
  color: var(--color-white);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__call-to-order:hover {
  padding-bottom: 7px;
  border-bottom: 1px solid var(--color-white);
  width: fit-content;
}
/* #endregion*/
/* #region main */
.gallery__images {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  gap: 20px;
}

.main__image {
  max-width: 100%;
  margin-bottom: 24px;
  flex-grow: 1;
}

.img-1 {
  width: 50%;
  object-fit: cover;
  object-position: left;
}

.img-7 {
  width: 50%;
  object-fit: cover;
  object-position: right;
}

.main__image:hover {
  transform: scale(1.5);
}

.main__title {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
}
/* #region section-1*/
.timetable,
.now-on-view,
.explore-online,
.contacts {
  padding: 100px 20px 0;
}

.timetable-top {
  margin-bottom: 32px;
}

.timetable-top > .main__title {
  margin: 0;
}

.plan-your-visit {
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  color: var(--color-accent-main);
}

.timetable-top > .plan-your-visit {
  margin: 0;
  margin-bottom: 2px;
}

.museum-hours__title {
  margin: 0;
  margin-bottom: 16px;
}

.schedule {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}

.schedule-holiday {
  margin-bottom: 16px;
}

.schedule__time,
.schedule-holiday__time {
  font-weight: 700;
}

.schedule__time {
  margin: 0;
}

.schedule__days,
.schedule-holiday__days,
.now-on-view__text {
  font-weight: 400;
}

.schedule__list-time > .schedule__time,
.schedule__list-days > .schedule__days {
  margin: 0;
  margin-bottom: 8px;
}

.schedule-holiday > .schedule-holiday__time,
.schedule-holiday > .schedule-holiday__days {
  margin: 0;
}

.schedule-holiday > .schedule-holiday__days {
  margin-bottom: 8px;
}
/* #endregion*/
/* #region section-2 */
.now-on-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.now-on-view__top > .now-on-view__text {
  margin: 0;
  margin-top: 8px;
}

.now-on-view__top {
  text-align: center;
}

.gallery {
  margin-top: 48px;
}

.gallery__images_add-gap {
  gap: 8px;
}

.exhibition {
  display: flex;
  flex-direction: column;
}

.exhibition__name {
  font-weight: 700;
  color: var(--color-accent-main);
  text-decoration: none;
}

.exhibition__about {
  font-weight: 400;
  text-decoration: none;
}

.gallery__link {
  margin-top: 40px;
}

.gallery__link__button {
  padding: 0;
  font-family: "Cinzel", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  border: none;
  cursor: pointer;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-accent-main);
  width: 100%;
  height: 56px;
}
/* #endregion*/
/* #region section-3 */
.explore-online {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.exlore-online__top {
  margin-bottom: 40px;
}

.explore-online__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.explore-online__list__item:not(:last-child) {
  margin-bottom: 48px;
}

.explore-online__name,
.explore-online__text {
  margin: 0;
  gap: 8px;
}

.explore-online__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: var(--color-accent-main);
}

.explore-online__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
/* #endregion*/

/* #region section-4 */
.contacts__top,
.contacts__fifth-avenue,
.contacts__cloisters {
  margin-bottom: 48px;
}

.contacts__top {
text-align: center;
}

.contacts__name {
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.contacts__text {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  margin-bottom: 4px;
}

.contacts__phone-number {
  font-weight: 700;
  color: #3e3e3e;
  margin-bottom: 8px;
}

.contacts__address {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #3e3e3e;
  text-decoration: none;
}

.contacts__address:hover,
.contacts__phone-number:hover {
  color: var(--color-accent-main);
}

.form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 288px;
}

input {
  box-sizing: border-box;
  font-family: "cinzel", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  background: #f8f8fa;
  border: none;
  color: #7e7e83;
}

input:hover {
  color: var(--color-main-dark);
}

textarea {
  box-sizing: border-box;
  font-family: "cinzel", sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  height: 144px;
  border: none;
  background: #f8f8fa;
  resize: none;
  color: #7e7e83;
}

.form__button {
  display: block;
  height: 56px;
  color: var(--color-white);
  background-color: var(--color-accent-main);
}

.form__button:hover {
  background-color: #ae1c23;
  color: var(--color-white);
}

/* #endregion*/
/* #endregion */
/* #region icon */
.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url(../images/icons/icon-phone.png);
}

.icon--burger-menu {
  background-image: url(../images/icons/icon-burger-menu.png);
}

.icon--close {
  background-image: url(../images/icons/icon-close.png);
}
/* #endregion */
/* #region footer */

.footer {
  display: flex;
  flex-grow: 1;
  margin-top: 100px;
  width: 100%;
  height: 180px;
  background-image: url(../images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: sticky;
  bottom: 0;
  z-index: -1;
}
/* #endregion */

/* For tablets: */
// @media only screen and (min-width: 744px) {
//   .timetable {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//   }

//   .contacts-tablet{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//   }

// }

// @media only screen and (min-width: 1260px) {
//   .explore-online__list {
//     display: flex;
//     flex-direction: row;
//     gap: 24px;
//   }

//   .contacts-tablet_column {
//     display: flex;
//     flex-direction: row;
//     gap: 60px;

//   }

// }
