.main-content__contacts {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 111px;
  bottom: 48px;




  @include contentPaddingInline;

.contacts {
  grid-column: 1 / -1;


  @include onTablet{
    width: 100%;
  }

  @include onDesktop{
  grid-column: 1 / 6;


  }
}

.contacts-form{
  @include onDesktop{
    padding-top: 56px;
  }
}


.footer {
  grid-column: 1 / -1;
  padding-top: 48px;


  @include onTablet{
    padding-top: 80px;
    width: 100%;
  }

  @include onDesktop{
  grid-column: 7 / -1;
  padding-top:134px ;

}
}
}


