.container {
  padding-inline: 2rem;
}

@media screen and (min-width: 576px) {
  .container {
    padding-inline: 7.2rem;
  }
}

@media screen and (min-width: 1260px) {
  .container {
    max-width: 102rem;
    margin-inline: auto;
    padding-inline: 12rem;
  }
}

.poppins-regular {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #292929;
  background-color: #f8f8fa;
  -webkit-text-fill-color: #292929;
  -webkit-box-shadow: 0 0 0 1000px #f8f8fa inset;
  transition: background-color 0.3s ease-in-out 0s;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  font-size: 10px;
  font-family: Poppins, sans-serif;
  color: #fff;
  background: #1d1d1d;
  scroll-behavior: smooth;
  scroll-padding-top: 2.5rem;
}

@media screen and (min-width: 745px) {
  .page {
    scroll-padding-top: 6rem;
  }
}

@media screen and (min-width: 1260px) {
  .page {
    scroll-padding-top: 1.5rem;
  }
}

.page__body {
  min-width: 32rem;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  transform: translateX(-100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.header {
  background-image: url("../images/background-header.jpg");
  background-size: cover;
  background-position: 86%;
}

@media screen and (min-width: 745px) {
  .header {
    background-position: center;
  }
}

@media screen and (min-width: 1500px) {
  .header {
    background-position: 0 43%;
  }
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header__title {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 1;
  letter-spacing: -1.5px;
  text-align: center;
  padding-bottom: 8.8rem;
}

@media screen and (min-width: 745px) {
  .header__title {
    font-size: 6.4rem;
    padding-bottom: 13rem;
  }
}

@media screen and (min-width: 1260px) {
  .header__title {
    font-size: 8rem;
    padding-bottom: 20rem;
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2.4rem;
}

@media screen and (min-width: 745px) {
  .top-bar {
    padding-block: 3.6rem;
  }
}

.top-bar__logo-link {
  display: flex;
  width: 13rem;
  height: 3.8rem;
}

@media screen and (min-width: 745px) {
  .top-bar__logo-link {
    width: 18.7rem;
    height: 5.6rem;
  }
}

.top-bar__logo {
  transition: transform 0.3s;
  height: 100%;
}

.top-bar__logo:hover {
  transform: scale(1.1);
}

.top-bar__icons {
  display: flex;
  gap: 2.4rem;
}

@media screen and (min-width: 745px) {
  .top-bar__icons {
    gap: 3.2rem;
  }
}

.icon {
  display: block;
  height: 2.4rem;
  width: 2.4rem;
  background-size: 1.8rem;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 576px) {
  .icon {
    background-size: 2.4rem;
    width: 3.2rem;
    height: 3.2rem;
  }
}

.icon--phone {
  background-image: url("../icons/icon-phone.svg");
}

@media screen and (min-width: 1260px) {
  .icon--phone {
    position: relative;
  }
  .icon--phone::before {
    opacity: 0;
    transition: opacity 0.2s ease-in, right 0.3s ease-in-out;
    position: absolute;
    display: block;
    content: "+1 234 555-55-55";
    width: 17.8rem;
    top: 50%;
    right: -0.3rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: 2px;
    text-align: left;
    color: #fff;
  }
  .icon--phone:hover::before {
    z-index: -2;
    opacity: 1;
    right: 3.2rem;
  }
}

.icon--menu {
  background-image: url("../icons/icon-burger.svg");
}

.icon--menu:hover {
  background-image: url("../icons/icon-burger-opened.svg");
}

.icon--close {
  background-image: url("../icons/icon-close.svg");
  position: relative;
}

@media screen and (min-width: 576px) {
  .icon--close {
    background-size: 2.4rem;
    width: 3.2rem;
    height: 3.2rem;
  }
}

.menu {
  text-transform: uppercase;
  font-weight: 600;
  height: 100vh;
  color: #1d1d1d;
  background-color: #c2c2c2;
  overflow: auto;
}

@media screen and (min-width: 576px) {
  .menu__top {
    margin-bottom: 0;
  }
}

.menu__bottom {
  padding-bottom: 2.4rem;
  position: relative;
}

@media screen and (min-width: 745px) {
  .menu__bottom {
    padding-bottom: 3.6rem;
  }
}

.menu__nav {
  margin-bottom: 4rem;
}

.menu__phone-number {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.7rem;
  margin-bottom: 1.6rem;
}

.menu__book-a-ride {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 2px;
  width: fit-content;
  padding-bottom: 8px;
  border-bottom: 1px solid #1d1d1d;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.nav__item {
  font-size: 2.2rem;
  line-height: 1;
  letter-spacing: 2px;
}

.nav__link {
  position: relative;
  color: inherit;
  text-decoration: none;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #1d1d1d;
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}

.nav__link:hover::after {
  transform: scale(1);
}

.main__content {
  display: grid;
  padding-block: 6rem 12rem;
  gap: 8rem;
}

@media screen and (min-width: 576px) {
  .main__content {
    gap: 12rem;
    padding-block: 12rem 10.2rem;
  }
}

@media screen and (min-width: 1260px) {
  .main__content {
    gap: 14.4rem;
    padding-block: 12rem 16.4rem;
  }
}

.section-title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1.5px;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .section-title {
    font-size: 4.8rem;
  }
}

@media screen and (min-width: 1260px) {
  .section-title {
    font-size: 6.4rem;
  }
}

.section-title--align-left {
  text-align: left;
}

.catch {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  row-gap: 3.2rem;
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 576px) {
  .catch {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 0 2.4rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1260px) {
  .catch {
    --columns: 12;

    margin-bottom: 2rem;
  }
}

.catch__section-title {
  width: 100%;
  margin-bottom: 3.2rem;
  grid-column: 1/-1;
}

@media screen and (min-width: 576px) {
  .catch__section-title {
    font-size: 4.2rem;
    margin-bottom: 0;
    grid-column: 1/4;
  }
}

@media screen and (min-width: 744px) {
  .catch__section-title {
    font-size: 4.8rem;
  }
}

@media screen and (min-width: 1260px) {
  .catch__section-title {
    font-size: 6.4rem;
    grid-column: 1/5;
  }
}

.catch__text {
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-align: left;
  grid-column: 1/-1;
}

@media screen and (min-width: 576px) {
  .catch__text {
    grid-column: 4/-1;
  }
}

@media screen and (min-width: 1260px) {
  .catch__text {
    grid-column: 6/-2;
  }
}

.compare-bikes__section-title {
  margin-bottom: 4.8rem;
}

@media screen and (min-width: 1260px) {
  .compare-bikes__section-title {
    margin-bottom: 5.6rem;
  }
}

.recommended__products {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-bottom: 1.2rem;
  gap: 4rem;
  justify-content: center;
}

@media screen and (min-width: 576px) {
  .recommended__products {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 0 2.4rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1260px) {
  .recommended__products {
    --columns: 12;

    margin-bottom: 2rem;
  }
}

.recommended__product {
  margin-inline: auto;
  max-width: 39.2rem;
  grid-column: 1/-1;
}

@media screen and (min-width: 576px) {
  .recommended__product {
    grid-column: 2/span 4;
  }
}

@media screen and (min-width: 1260px) {
  .recommended__product {
    grid-column: span 4;
  }
}

.product__photo {
  width: 100%;
  margin-bottom: 3.2rem;
}

.product__item {
  display: block;
  transition: transform 0.3s;
}

.product__item:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 576px) {
  .product__item {
    transition: transform 0.3s;
  }
  .product__item:hover {
    transform: scale(1.03);
  }
}

@media screen and (min-width: 1260px) {
  .product__item {
    transition: transform 0.3s;
  }
  .product__item:hover {
    transform: scale(1.1);
  }
}

.product__description {
  margin-bottom: 1.6rem;
}

.product__price {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.4rem;
  text-align: left;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.4rem;
  text-align: left;
  margin-bottom: 0.8rem;
}

.description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  text-align: left;
}

.details {
  display: grid;
  row-gap: 4rem;
}

@media screen and (min-width: 576px) {
  .details {
    row-gap: 4.8rem;
  }
}

.details__section-title {
  grid-column: 1/-1;
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 576px) {
  .details__section-title {
    margin-bottom: 1.6rem;
  }
}

@media screen and (min-width: 1260px) {
  .details__section-title {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1260px) {
  .details {
    margin-bottom: 3.6rem;
  }
}

.category__photos {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-bottom: 1.2rem;
  gap: 3.2rem 2rem;
  grid-template-rows: 1fr;
}

@media screen and (min-width: 576px) {
  .category__photos {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 0 2.4rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1260px) {
  .category__photos {
    --columns: 12;

    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 0) {
  .category__photos {
    margin-bottom: 1.6rem;
  }
}

.category__link {
  position: relative;
  transition: transform 0.3s;
}

.category__link:hover {
  transform: scale(1.06);
}

@media screen and (min-width: 1260px) {
  .category__link {
    transition: transform 0.3s;
  }
  .category__link:hover {
    transform: scale(1.04);
  }
}

.category__link--wide {
  grid-row: 1/2;
}

@media screen and (min-width: 576px) {
  .category__link--wide {
    grid-column: span 4;
  }
}

@media screen and (min-width: 1260px) {
  .category__link--wide {
    grid-column: span 8;
  }
}

.category__link--square {
  height: 0;
  padding-bottom: 100%;
}

@media screen and (min-width: 576px) {
  .category__link--square {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1260px) {
  .category__link--square {
    grid-column: span 4;
  }
}

@media screen and (min-width: 576px) {
  .category__link--right {
    grid-column: 3/span 4;
  }
}

@media screen and (min-width: 1260px) {
  .category__link--right {
    grid-column: 5/span 8;
  }
}

@media screen and (min-width: 576px) {
  .category__link--left {
    grid-column: 1/span 2;
  }
}

@media screen and (min-width: 1260px) {
  .category__link--left {
    grid-column: 1/span 4;
  }
}

.category__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  row-gap: 3.2rem;
  height: 5.6rem;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

@media screen and (min-width: 576px) {
  .button {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 0 2.4rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1260px) {
  .button {
    --columns: 12;

    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 576px) {
  .button {
    margin: 0;
  }
}

.button__text {
  border-radius: 4rem;
  color: #1d1d1d;
  background-color: #fff;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.7rem;
  transition: all 0.15s linear;
}

.button__text:hover {
  transform: translateY(1px);
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
}

.button__text:active {
  box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  transform: translateY(3px);
}

@media screen and (min-width: 576px) {
  .button__text {
    grid-column: 2/span 4;
  }
}

@media screen and (min-width: 1260px) {
  .button__text {
    grid-column: 5/span 4;
  }
}

.contact-us {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  row-gap: 4.8rem;
  margin-bottom: 0;
}

@media screen and (min-width: 576px) {
  .contact-us {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 0 2.4rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1260px) {
  .contact-us {
    --columns: 12;

    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 576px) {
  .contact-us {
    row-gap: 4.8rem;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1260px) {
  .contact-us {
    margin-bottom: 0;
  }
}

.contact-us__section-title {
  grid-column: 1/-1;
}

.contact-us__contacts {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

@media screen and (min-width: 576px) {
  .contact-us__contacts {
    grid-column: 4/-1;
  }
}

@media screen and (min-width: 1260px) {
  .contact-us__contacts {
    grid-column: 8/span 3;
  }
}

.contact-us__contact-item {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contact-us__contact-item :first-child {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.96rem;
  text-align: left;
}

.contact-us__contact-item :last-child {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.24rem;
  text-align: left;
}

.contact-us__contact {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.contact-us__contact:hover {
  transform: translateX(1rem) scale(1.1);
}

.input {
  background-color: #f8f8fa;
  color: #292929;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  border: none;
  outline: none;
  border-radius: 4rem;
  height: 4.8rem;
  padding-inline: 1.6rem;
  box-sizing: border-box;
  grid-column: 1/-1;
}

.input:hover {
  border: 3px solid #d5d7de;
  padding-inline: 1.3rem;
}

.input:active, .input:focus {
  border: 1px solid #292929;
  padding-inline: 1.5rem;
}

.input::placeholder {
  color: #7e7e83;
}

.form {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-bottom: 1.2rem;
  row-gap: 1.6rem;
  grid-column: 1/-1;
}

@media screen and (min-width: 576px) {
  .form {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 0 2.4rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1260px) {
  .form {
    --columns: 12;

    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 576px) {
  .form {
    row-gap: 1.6rem;
    grid-column: 1/span 3;
  }
}

@media screen and (min-width: 1260px) {
  .form {
    grid-column: 1/span 5;
  }
}

.form__submit {
  margin-top: 1.6rem;
}

@media screen and (min-width: 576px) {
  .form__submit {
    grid-column: 1/-1;
  }
}

.form__textarea {
  height: 14.8rem;
  padding-block: 1.4rem;
  border-radius: 1.6rem;
  resize: none;
  position: relative;
}

.form__textarea:hover {
  border: 3px solid #d5d7de;
  padding: 1.1rem 1.3rem;
}

.form__textarea:active, .form__textarea:focus {
  border: 1px solid #292929;
  padding: 1.3rem 1.5rem;
}

.footer {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  row-gap: 3.2rem;
  grid-column: 1/-1;
  object-fit: cover;
  max-height: 55rem;
  margin-bottom: 0;
  overflow: hidden;
}

@media screen and (min-width: 576px) {
  .footer {
    --columns: 6;

    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 0 2.4rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1260px) {
  .footer {
    --columns: 12;

    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 576px) {
  .footer {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1260px) {
  .footer {
    margin-bottom: 0;
  }
}

.footer__img {
  grid-column: 1/-1;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
