body {
  margin: 0;
  padding: 0;
  font-family: $main-font-family, sans-serif;
  scroll-behavior: smooth;
  background-color: $background-color;
}

.main {
  padding: 0 $mobile-inline-padding;
  color: $text-color;

  @include onTablet {
    padding: 0 $tablet-inline-padding;
  }

  @include onDesktop {
    padding: 0 $desktop-inline-padding;
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__titles {
    margin-top: 92px;
    font-size: $titles-font-size-mobile;
    font-weight: $main-font-weight;
    line-height: $titles-font-size-mobile;
    letter-spacing: $main-letter-spacing;
    text-align: center;

    @include onTablet {
      font-size: $titles-font-size-tablet;
      line-height: $titles-font-size-tablet;
      margin-top: 120px;
    }
    @include onTablet {
      font-size: $titles-font-size-desktop;
      line-height: $titles-font-size-desktop;
    }
  }
}

.bikes__bike--photo, .details__photos--photo {
  transition: transform $animation-duration ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

a {
  text-decoration: none;
}
