@media (min-width: 576px) {
  .header {
    padding-block: 50px 456px;

    .container {
      padding-inline: 72px;
    }

    &__hover {
      display: none;
    }
    &__top {
      img {
        width: 87px;
        height: 65px;
      }
    }
    .icon {
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__title {
      font-size: 64px;
      line-height: 64px;
      margin-top: 158px;
    }
  }

  .menu {
    padding: 32px 72px 298px 72px;

    &__top {
      img {
        width: 64px;
        height: 46px;
      }
    }
  }

  .about {
    padding-top: 140px;
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 24px;
    }
    &__start {
      grid-column: 1 / 4;
    }
    &__content {
      grid-column: span 3;
    }
    &__title {
      font-size: 48px;
      line-height: 48px;
    }

    .container {
      padding-inline: 72px;
    }
  }

  .view {
    padding-top: 140px;
    &__title {
      font-size: 48px;
      line-height: 48px;
    }
    &__card-photos {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 24px;

      &-large {
        height: 186px;
        margin-right: 0;
      }
      &-large-wide {
        grid-column: span 4;
        width: 100%;
      }
      &-small {
        height: 284px;
        width: 100%;
        grid-column: span 3;
        margin-right: 0;
      }
      &-small-display-none {
        display: none;
      }
      &-large-square {
        grid-column: span 2;
        width: 100%;
      }
    }
    .container {
      padding-inline: 72px;
    }
    &__card-label-short {
      width: 100%;
    }
    &__btn {
      display: block;
      width: 392px;
      margin-inline: auto;
    }
  }

  .explore {
    padding-top: 140px;
    &__wrapper {
      padding-inline: 104px;
      justify-items: center;
    }
    &__card {
      width: 392px;
      &-photo {
        height: 387px;
      }
    }
  }

  .contacts {
    padding-top: 140px;
    padding-bottom: 156px;

    &__title {
      font-size: 48px;
      line-height: 48px;
    }

    &__wrapper {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 24px;
    }

    &__content-wrapper {
      grid-column: 1 / 4;
    }

    &__search {
      grid-column: span 3;
    }
  }

  .footer {
    height: 359px;
  }
}

@media (min-width: 1260px) {
  .header {
    position: relative;

    .container {
      padding-inline: 120px;
    }

    &__icons {
      gap: 55px;

      .icon--phone:hover,
      .header__hover {
        opacity: 1;
        pointer-events: all;
      }
    }

    &__title {
      font-size: 80px;
      line-height: 80px;
      margin-top: 100px;
    }
    &__hover {
      display: flex;
      flex-direction: column;
      align-items: end;
      opacity: 0;
      position: absolute;
      top: 24px;
      right: 255px;
      transition: 0.3s;

      &-subtitle {
        font-size: 16px;
        line-height: 27px;
        color: $white-color;
      }
      &-link {
        text-decoration: none;
        color: $white-color;
      }
      &-link-m8 {
        margin-bottom: 8px;
      }
    }
  }
}
