.menu {
  padding: 32px 120px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #d12d35;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  z-index: 1000;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  transform: translateX(100%);
  overflow: auto;

  @include mobile {
    padding: 20px;
    height: 100vh;
    right: -100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &.menu--active {
      right: 0;
      transform: translateX(0);
      opacity: 1;
      pointer-events: all;
    }

    &__nav {
      display: flex;
      flex-direction: column;
      gap: 32px;
      font-size: 22px;
      line-height: 22px;
      letter-spacing: 2px;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      font-size: 24px;
      color: white;
      margin: 0;
      margin-bottom: 20px;
      margin-top: 25px;
    }

    &__close {
      background: none;
      border: none;
      font-size: 24px;
      color: white;
      cursor: pointer;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 50px;
    }

    &__link {
      font-size: 24px;
      color: white;
      text-decoration: none;
    }

    .menu__contacts--text {
      margin-top: 8px;
    }

    .menu__call {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      font-weight: 700;
      color: white;
    }
  }

  &:target {
    right: 0;
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-weight: $font-weight-bold;
    font-size: $font-size-for-logo;
    line-height: 32px;
    color: white;
    margin: 0;
    margin-bottom: 55px;
  }

  &__nav {
    display: flex;
    color: white;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    font-weight: $font-weight-bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: black;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &__contacts {
    color: white;
    text-decoration: none;
    display: block;
    margin: 48px 0 0 0;

    &--link {
      color: white;
      text-decoration: none;
      font-weight: $font-weight-bold;
      font-size: $font-size-small;
      line-height: 27px;

      &:hover {
        color: teal;
      }
    }

    &--text {
      font-weight: $font-weight-bold;
      font-size: $font-size-small;
      line-height: 27px;
      margin: 0;
    }
  }

  &__call {
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid white;
    width: fit-content;
    font-weight: $font-weight-bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;

    &:link {
      color: white;
    }

    &:visited {
      color: white;
    }

    &:hover {
      color: black;
    }

    &:active {
      color: red;
    }
  }
}
