.menu {
  box-sizing: border-box;
  background: $accent-color;
  height: 100vh;
  font-weight: 700;
  text-transform: uppercase;
  overflow: auto;

  &__top {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: $accent-color;
  }

  &__bottom {
    margin-top: 40px;
    margin-bottom: 30px;

    @include onDesktop {
      margin-top: 55px;
      margin-bottom: 100px;
    }
  }

  &__phone-number {
    color: white;
    text-decoration: none;
  }

  &__call-to-order {
    color: white;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 16px;
    padding-bottom: 7px;
    border-bottom: 1px solid white;
  }

  &__phone-container {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 32px 0 8px;

    &--bottom {
      margin-bottom: 16px;
    }
  }
}
