
/* #region menu */
.top__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  padding-top: 35px;
  z-index: 1;
}

.menu {
  height: 100vh;
  background-color: #C2C2C2;

  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 3;
  padding: 0px 120px;

}

.menu__content {

}

.menu__nav {
  margin: 48px 0 40px 0;
}

.menu__phone-number {
  display: block;
  color: #1D1D1D;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 16px;
}

.menu__test-ride {
  color: #1D1D1D;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;

  width: fit-content;
  padding-bottom: 8px;
  border-bottom: 1px solid #1D1D1D;
}



@media (max-width: 767.98px) {
  .menu {
    padding: 0 70px;
  }
}

@media (max-width: 540.98px) {
  .menu {
    padding: 0 25px;
   }
}

@media (max-width: 449.98px) {

.top__bar {
  padding-top: 25px;
  }
}
/* #endregion */
