.menu {
  box-sizing: border-box;
  height: 100%;
  background-color: #c2c2c2;
  text-transform: uppercase;
  font-weight: 600;
  color: $main-body-color;
  overflow: auto;

  &__content {
    @include contentPadingInline;
  }

  &__phone-number {
    display: block;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    color: inherit;
    margin-bottom: 16px;

    @include onDesktop {
      font-weight: 700;
    }

  }

  &__call-to-order {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: inherit;
    padding-bottom: 7px;
    border-bottom: 1px solid $main-body-color;

    @include onDesktop {
      font-weight: 700;
    }
  }
}
