.menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    @include on-desktop {
      width: 172px;
    }
  }

  &__cross {
    height: 24px;
    width: 24px;

    background-image: url("../icons/cross_icon.svg");
    background-position: center;
    background-size: contain;

    @include on-tablet {
      height: 32px;
      width: 32px;
    }
  }
}
