.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: rgba(194, 194, 194, 1);
  font-weight: 600;
  text-transform: uppercase;

  &__content {
    @include contentPaddingInline;
  }

  &__top {
    margin-bottom: 24px;
  }

  &__phone-number {
    display: block;
    color: rgba(29, 29, 29, 1);
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    margin-bottom: 16px;
  }

  &__book-a-test-ride {
    width: fit-content;
    padding-bottom: 7px;
    display: block;
    color: rgba(29, 29, 29, 1);
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(29, 29, 29, 1);
  }

  &__nav {
    margin-bottom: 40px;
  }

}
