.menu__content {
    height: 700px;
     background-color: $color-red;
     padding-top: 50px;
     @include padingInlain;
     display: flex;
     flex-direction: column;
     gap: 48px;


    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &--logo {
            width: 87px;
            height: 65px;
            line-height: 80%;
            justify-content: center;
            align-items: center;

            
            letter-spacing: -1.5px;
            font-size: 40px;
            line-height: 80%;
            color: $color-white;
        }
        &--close {
            display: block;
            width: 32px;
            height: 32px;
            background: url('./imagec/menu--close.png') no-repeat center;
            
      }
    }
}