@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin contentPaddingInline () {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesktop {
    padding-inline: 120px;
    max-width: 1020px;
    margin-inline: auto;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} $effectDuration;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin pageGrid {
  --columns: 2;
  display: grid;
  row-gap: 40px;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 6;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 24px;
  }

  @include onDesktop {
    --columns: 12;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: 24px;
    justify-items: stretch;
  }
}
