
/* #region @media querys */
@mixin on-tablet {
  @media (min-width:744px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width:1260px) {
    @content;
  }
}
/* #endregion @media querys */

/* #region Transform Effect */
@mixin transform-scale-hover {
  transform: scale(1.2);
  transition-duration: 300ms;
}

@mixin transform-scale-normal {
  transform: scale(1);
  transition-duration: 300ms;
}


@mixin transition300ms {
  transition-duration: 300ms;
}
/* #endregion Transform Effect */

/* #region Paddings */


@mixin padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }
  @include on-desktop {
    padding-inline: 120px;
  }
}

@mixin padding-block {
  padding-block: 24px;

  @include on-tablet {
    padding-block: 36px;
  }
  @include on-desktop {
    padding-block: 36px;
  }
}

/* #endregion Paddings*/

