@mixin on-tablet() {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin on-lap-top() {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin margin-top() {
  margin-top: 48 / 16 + em;
}

@mixin max-width-cont() {
  max-width: 320px;
  padding-inline: 20px;
  margin-inline: auto;

  @include on-tablet {
    max-width: 600px;
    padding-inline: 72px;
  }

  @include on-lap-top {
    max-width: 1020px;
    padding-inline: 120px;
  }
}

@mixin descr-max-width-cont() {
  max-width: 280px;

  @include on-tablet {
    max-width: 600px;
  }

  @include on-lap-top {
    max-width: 1020px;
  }
}

@mixin transition() {
  transition: 0.35s ease;
}

@mixin link-hover {

  text-decoration: underline;
  text-shadow: 1px 2px 20px #e8e8f0;
}
