@use 'variables';

@mixin on-tablet() {
  @media (min-width: variables.$tablet-min-width) {
    @content;
  }
}

@mixin on-big-tablet() {
  @media (min-width: variables.$big-tablet-min-width) {
    @content;
  }
}

@mixin on-desktop() {
  @media (min-width: variables.$desktop-min-width) {
    @content;
  }
}

@mixin on-big-desktop() {
  @media (min-width: variables.$big-desktop-min-width) {
    @content;
  }
}

// images/categories

@mixin big-img-tablet() {
  object-fit: cover;
  border-radius: 5px;
  width: 340px;
  height: 184px;
}

@mixin norm-img-tablet() {
  width: 184px;
  height: 184px;
}

@mixin big-img-desktop() {
  object-fit: cover;
  border-radius: 5px;
  width: 592px;
  height: 324px;
}

@mixin norm-img-desktop() {
  width: 324px;
  height: 324px;
}

// icons
@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}
