@mixin Grid {
  grid-template-columns: repeat(12, auto);
  column-gap: 24px;
  margin: 0 auto;
}

@mixin Desktop {
  @media (min-width: 1260px) {
    @content;
  }
}

@mixin Tablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin Phone {
  @media (min-width: 440px) {
    @content;
  }
}

// @mixin pageGrid {
//   --numOfColumns: 2;
//   display: grid;
//   grid-template-columns: repeat((var(--numOfColumns), 1fr));
//   column-gap: 20px;

//   @include onTablet {
//     --numOfColumns: 6;
//     column-gap: 24px;
//   }

//   @include onDesktop {
//     --numOfColumns: 12;
//   }
// }

// @media (min-width: 788px) {
//   .container {
//     grid-template-columns: repeat(3, auto);
//   }
// }

// @media (min-width: 1024px) {
//   .container {
//     grid-template-columns: repeat(4, auto);
//   }
// }
