.modalwindow{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 1260px;
  height: 700px;
  background-color: #C2C2C2;

  .modalwindow__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1020px;
    height: 128px;
    padding: 20px 120px;
  }

  .logo_modal{
    background-image: url('../images/imageM.png');
    height: 56px;
    width: 187px;
    }

  .icon_close{
    background-image: url('../images/icon-close.png');
    height: 32px;
    width: 32px;
    background-position: center;
    background-size: cover;
    border: none;
    background-color: transparent;
  }

  .nav-list{
    list-style: none;
    padding: 0px 120px;
    margin: 0;

    .nav-items{
      font-size: 22px;
      font-style: bold;
      font-weight: 700px;
      color: #1d1d1d;
      padding-bottom: 20px;

      a{
        text-decoration: none;
        color: inherit;


        &:hover{
        text-decoration: underline;
        text-decoration-color: #1d1d1d;
        text-decoration-thickness: 2px;
        text-decoration-style: solid;
        transition: all 0.3s ease-in-out;
        }
      }

      .is_acive {
        font-size: 16px;
        text-decoration: underline;
        text-decoration-color: #1d1d1d;
        text-decoration-thickness: 2px;
        text-decoration-style: solid;
      }

      .number_modal{
        font-size: 16px;
        font-style: bold;

      }

    }
  }

}

#modalwindow:target {
  display: block;
}


