.online{
    margin: 0;
       &__mores{
        @include pageGrid;
        row-gap: 24px;
        .mores{
                grid-column: 1 / -1 ;
        @include onTablet{
            grid-column: 2 / -2;
        }
        @include onPc{
            grid-column: span 4;
        }
    
    }
  }
}
.more{
    
    &--phote{
        width: 100%;
    }
    &--titel{
        color: #D12D35;
        font-family: Cinzel , sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 24px;

        line-height: 140%;

        text-align: center;

    }
    &--information{
        color:  #161616;
        font-family: Roboto ,sans-serif;
        font-weight: 400;
        font-size: 16px;

        line-height: 27px;

    
        text-align: center;

    }
}
.gallery--texts{
    display: grid;
    

}
