.moveFree {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 20px;
  justify-content: center;

  padding-inline: 20px;
  padding-top: 60px;

  @media (min-width: 744px) {
    padding-inline: 72px;
    padding-top: 120px;

    grid-template-columns: repeat(6, 80px);
    gap: 24px;
  }

  @media (min-width: 1260px) {
    padding-inline: 120px;

    grid-template-columns: repeat(12, 63px);
    gap: 24px;
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    letter-spacing: -1.5px;

    grid-column: 1 / -1;

    @media (min-width: 744px) {
      font-size: 48px;

      grid-column: 1 / 4;
    }

    @media (min-width: 1260px) {
      font-size: 64px;

      grid-column: 1 / 6;
    }
  }

  &__about {
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;

    grid-column: 1 / -1;

    @media (min-width: 744px) {
      width: 288px;

      grid-column: 4 / 7;
    }

    @media (min-width: 1260px) {
      width: 498px;

      grid-column: 6 / 13;
    }
  }
}
