.move {
  display: grid;
  grid-gap: 32px;

  @include middleScreen {
    & {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 24px;
    }
  }

  @include middleScreen {
    & {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: $text-color;

    @include middleScreen {
      font-size: 48px;
      grid-column: 1/4;
    }

    @include middleScreen {
      font-size: 64px;
      grid-column: 1/6;
    }
  }

  &__article {
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    color: $text-color;

    @include middleScreen {
      grid-column: 4/7;
    }

    @include middleScreen {
      grid-column: 7/13;
    }
  }
}
