.move-free {
  justify-content: center;
  font-weight: 500;

  &__title {
    margin: 0 0 20px;
    padding: 0 20px;
    grid-column: 1/-1;
    line-height: 32px;
    letter-spacing: -1.5px;
    font-size: 32px;
    width: 152px;
    }

    &__text {
      margin: 0;
      grid-column: 1/-1;
      font-size: 23px;
      line-height: 32.2px;
      padding: 20px;
    }
}
