.about-us {
  --columns: 1;

  display: grid;
  row-gap: 20px;
  margin-bottom: 92px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include tablet {
    margin-bottom: 132px;
    column-gap: 24px;

    --columns: 6;

    &__title {
      grid-column: 1 / 4;
      font-weight: 500;
      font-size: 48px;
      letter-spacing: -1.5px;
    }

    &__description {
      grid-column: 4 / -1;
    }
  }

  @include descktop {
    margin-bottom: 164px;
    column-gap: 24px;

    --columns: 12;

    &__title {
      grid-column: 1 / 6;
      font-weight: 500;
      font-size: 64px;
      letter-spacing: -1.5px;
    }

    &__description {
      grid-column: 6 / -2;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
  }
}
