.move-free {
  @include page__grid;

  &__title {
    grid-column: 1 / -1;

    @include on__tablet {
      grid-column: 1 / 4;
    }

    @include on__desktop {
      grid-column: span 5;
    }
  }

  &__text {
    font-size: 23px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;

    grid-column: 1 / -1;

    @include on__tablet {
      grid-column: 4 / 7;
    }

    @include on__desktop {
      grid-column: span 6;
    }
  }
}
