.museum-hours {
  @include pageGrid;

  &__title {
    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__content {
    display: grid;
    row-gap: 24px;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: span 7;
    }
  }

  &__day-and-time {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8px;

    &--time {
      font-weight: 700;
    }
  }

  &__schedule {
    &-title {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 16px;
    }
  }

  &__closed {
    margin-top: 16px;
    font-weight: 700;
    // font-size: 16px;
    // line-height: 27px;
  }
}
