.nav {
  margin: 0;
  padding: 0;
  text-align: left;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-align: left;
  }

  &__link {
    text-decoration: none;
    display: flex;

    font-family: Cinzel, serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    padding-bottom: 32px;
    color: $text-color;
    cursor: url('/src/styles/img/Cursor-Mouse-Mice.svg'), auto;

    &:hover {
      display: flex;
      width: fit-content;
      padding-bottom: 7px;
      border-bottom: 1px solid $text-color;
      margin-bottom: 25px;
      cursor: url('/src/styles/img/Cursor-Mouse-Mice.svg'), auto;
    }
  }
}

.last {
  @media (min-width: 1260px) {
    padding-bottom: 48px;

    &:hover {
      padding-bottom: 7px;
      border-bottom: 1px solid $text-color;
      margin-bottom: 40px;
    }
  }
}

.numb-1 {
  padding-bottom: 8px;
}

.numb-2 {
  padding-bottom: 16px;
}

.numbers {
  text-decoration: none;
  font-size: 16px;
  color: $text-color;
  display: flex;

  font-family: Cinzel, serif;
  font-weight: 700;
  line-height: 27px;
  text-align: left;

  letter-spacing: 1px;
}

.call-order {
  text-decoration: none;
  color: $text-color;
  left: 20px;

  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: left;

  display: flex;
  width: fit-content;
  padding-bottom: 7px;
  border-bottom: 1px solid $text-color;
}
