.top--bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px 0;
  height: 46px;
}

.page__html:has(.right--menu:target) .top--bar {
  position: sticky;
  top: 0;
  background-color: #d12d35;
}

.nav--logo {
  text-decoration: none;
  font-family: Cinzel, serif;
  width: 64px;
  height: 46px;
}

.nav--logo:hover {
  width: 74px;
  height: 56px;

  position: relative;
  right: 5px;
}
