.nav {
  color: #1d1d1d;
  font-weight: 600;
  text-transform: uppercase;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    row-gap: 32px;
  }

  &__link {
    position: relative;
    font-family: Poppins, sans-serif;
    color: inherit;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-decoration: none;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #1d1d1d;

      position: absolute;
      transition: 0.6s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__call-to-order {
    margin-block: 40px 16px;
    display: block;
    color: inherit;
    text-decoration: none;
  }

  &__book-test-ride {
    padding-bottom: 7px;
    width: fit-content;
    display: block;
    color: inherit;
    text-decoration: none;

    border-bottom: 1px solid #1d1d1d;
  }
}
