.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

  }

  &__link {
    color: $secondary-color;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -2px;
      height: 1px;
      width: 100%;
      background-color: $secondary-color;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
