.menu {
  overflow: auto;
  background-color: #C2C2C2;
  height: 100vh;
  box-sizing: border-box;
  text-transform: uppercase;

  color: $background-color;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0 $mobile-inline-padding;

  @include onTablet {
    padding: 0 $tablet-inline-padding;
  }

  @include onDesktop {
    padding: 0 $desktop-inline-padding;
    font-weight: 700;
  }

  &__top {
    position: sticky;
    z-index: 1;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      height: 128px;
    }

    &--logo {
      width: 130px;
      height: 38px;

      @include onTablet {
        width: 187px;
        height: 56px;
      }
    }

    .icon {
      display: block;
      height: 24px;
      width: 24px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../images/cross-icon.png);

      @include onTablet {
        height: 32px;
        width: 32px;
      }
    }
  }

  .nav {
    &__list {
      margin-top: 24px;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 32px;
      list-style: none;
      flex-direction: column;

      @include onTablet {
        margin-top: 8px;
      }

      @include onDesktop {
        margin-top: 24px;
      }
    }

    &__link {
      font-size: 22px;
      line-height: 22px;
      letter-spacing: 2px;
      text-decoration: none;
      color: $background-color;

      &:hover {
        cursor: default;
        width: fit-content;
        border-bottom: 2px solid $background-color;
      }
    }
  }

  &__phone-number {
    color: $background-color;
    display: block;
    margin-top: 40px;
    font-size: 16px;
    line-height: 27px;
  }

  &__book-a-ride {
    color: $background-color;
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 1px solid $background-color;
    margin-top: 16px;
  }
}

.page__menu {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;

  &:target {
    opacity: 1;
    pointer-events: all;
  }
}

