.nav {
  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-block: 24px 40px;
    list-style-type: none;
    gap: 32px;
  }

  &__item {
    display: block;
    text-wrap: nowrap;
    text-align: left;
    text-transform: uppercase;
  }

  &__link {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 2px;
    color: $menu-text-color;
    text-decoration: none;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $main-bg-color;
      bottom: -8px;
      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }

    @include ondesktop {
      font-weight: 700;
    }
  }
}
