* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  background-color: transparent;
}

input,
textarea {
  margin: 0;
}

input {
  overflow: visible;
}

textarea {
  overflow: auto;
}

button {
  background-color: transparent;
  border: none;
}
