body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Space Grotesk", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  display: flex;
}

h2,
h3,
p {
  margin: 0;
}

button {
  box-sizing: border-box;
}
