* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}
