* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Helvetica, sans-serif;
  background-color: $nav-text;
  color: white;
  font-size: 16px;
  line-height: 140%;
}

// h1 {
//   font-size: em;
// }
