:root {
  color: #292929;

  --space-mono-font: 'Space Mono', monospace;
  --space-grotesk-font: 'Space Grotesk', sans-serif;
  --h1-font-size: 36px;
  --h2-font-size: 32px;
  --h3-font-size: 18px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

h1,
h2,
h3,
p,
textarea,
input {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
