.now-on-view {
  &__container {
    display: grid;
    row-gap: 48px;
  }
  &__titles {
    text-align: center;
    justify-content: center;
    margin-top: 8px;

    @include landingPageGrid;
  }

  &__info {
    grid-column: span 2;

    @include forTablets {
      grid-column: 2 / span 4;
    }

    @include forDesktops {
      grid-column: 4 / span 6;
    }
  }
}
