.now-on-view {
  &__container {
    display: grid;
    row-gap: $big_gap;
  }
  &__titles {
    text-align: center;
    justify-content: center;
    margin-top: 8px;

    @include landing-page-grid;
  }

  &__info {
    grid-column: $regular_span;

    @include for-tablets {
      grid-column: 2 / span 4;
    }

    @include for-desktops {
      grid-column: 4 / span 6;
    }
  }
}
