.now-on-view {
  &__content {
    display: grid;
    row-gap: 48px;
  }

  &__descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.69;
    letter-spacing: 0;
    text-align: center;
  }

  &__button {
    @include page-grid;

    margin-top: 40px;
    cursor: pointer;

    &--link {
      box-sizing: border-box;
      text-decoration: none;
      color: $white-color;
      background-color: $main-color;
      font-weight: $title-font-weight;
      line-height: 1.69;
      border: none;
      text-align: center;
      padding-top: 15px;
      height: 56px;

      grid-column: 1 / -1;

      @include on-tablet {
        grid-column: 2 / 6;
      }

      @include on-desktop {
        grid-column: 5 / 9;

        &:hover {
          background-color: #ae1c23;
        }
        &:focus {
          background-color: #eb343d;
        }
      }
    }
  }
}

.exhibition {
  &__photos {
    @include page-grid;

    &--small {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;

      grid-column: 1 / -1;

      @include on-tablet {
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 / -1;
        gap: 24px;
      }

      @include on-desktop {
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1 / -1;
        gap: 24px;
      }
    }
  }

  &__link {
    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }

    &--second {
      @include on-tablet {
        &:nth-child(3) {
          display: none;
        }
      }

      @include on-desktop {
        &:nth-child(3) {
          display: inline-block;
        }
      }
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include hover(transform, scale(1.05));
  }

  .photo-first {
    object-position: 30%;
  }

  .photo-last {
    object-position: right;
  }

  &__title {
    color: $main-color;
    font-weight: $title-font-weight;
    line-height: 1.69;
    letter-spacing: 0;
    text-align: left;
    padding-top: 24px;
    margin: 0;
  }

  &__date {
    line-height: 1.69;
    letter-spacing: 0;
    text-align: left;
    margin: 0;
  }
}
