
.sub-container {
  margin-bottom: $indent-main;
}

.view {
  &__subtitle {
    text-align: center;
  }

  &__pic-size {
    @include picture-size-cover;
  }

  &__new-look-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    @include on-tablet {
      grid-template-columns: 2fr 1fr;
      column-gap: 24px;
    }
  }

  &__new-look-picture {
    height: 130px;

    @include hover-scale-pictures;
    @include trans-trans-03s;


    @include on-tablet {
      height: 180px;

      @include on-pc {
        height: 320px;
      }
    }
  }

  &__indent-after-pict {
    margin-bottom: $indent-small;
  }

  &__new-look-picture--descr {
    background-image: url(../images/new-look-1.png);

    @include on-tablet {
      background-image: url(../images/new-look-1-big.png);

    }
  }
  &__new-look-picture--aristocrat {
    background-image: url(../images/new-look-2.png);
  }

  &__category-title {
    color: $title-color-secondary;
    font-size: $titles-font-small;
    font-weight: $font-weight-big;
    line-height: $line-height-standart; /* 168.75% */
  }

  &__bodhisattvas-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 87px;
    column-gap: 8px;



    @include on-tablet {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 284px;
      column-gap: 24px;

      @include on-pc {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 320px;
      }
    }
  }

  &__bodhisattvas-picture--1 {
    background-image: url(../images/Bodhisattvas-1.png);

    @include trans-trans-03s;
    @include hover-scale-pictures;
  }

  &__bodhisattvas-picture--2 {
    background-image: url(../images/Bodhisattvas-2.png);

    @include trans-trans-03s;
    @include hover-scale-pictures;
  }

  &__bodhisattvas-picture--3 {
    background-image: url(../images/Bodhisattvas-3.png);

    @include trans-trans-03s;
    @include hover-scale-pictures;
  }

  &__disney-pictures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px;
    column-gap: 20px;


    @include on-tablet {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 186px;

      @include on-pc {
        grid-template-columns: 324px 672px;
        grid-template-rows: 320px;
      }
    }
  }

  &__disney-picture--hall {
    background-image: url(../images/disney-hall.png);

    @include trans-trans-03s;
    @include hover-scale-pictures;
  }

  &__disney-picture--statue {
    background-image: url(../images/disney-statue-mobile.png);

    @include trans-trans-03s;
    @include hover-scale-pictures;

    @include on-tablet {
      background-image: url(../images/disney-statue-on-tablet.png);

      @include trans-trans-03s;
    @include hover-scale-pictures;
    }
  }

  &__disney-dates--indent {
    margin-bottom: 40px;
  }

  &__button {
    background-color: $title-color-secondary;
    height: 56px;
    color: $text-color;
    font-weight: $font-weight-big;
    font-size: 16px;
    line-height: 56px;
    transition: 0.3s;
    text-align: center;
    margin: 0 auto;

    @include on-tablet {
      box-sizing: border-box;
      display: flex;
      width: 392px;
      padding: 0 48px;
      justify-content: center;
    }

    @include on-pc {
      width: 324px;
    }

    &:hover {
      background-color: #AE1C23;
      border-radius: 1%;
      cursor: pointer;
    }

    &:active {
      background-color: #EB343D;
    }

    &-link {
      text-decoration: none;
    }
  }
}
