.now {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__title {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__exhibs {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 48px 0;

    &__container {
      margin-bottom: 48px;
    }
  }
}

.now h2 {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  text-align: center;
}

.now h3 {
  color: #D12D35;
  font-size: 24px;
  line-height: 140%;
}

.now h4 {
  color: #D12D35;
  font-size: 16px;
  line-height: 27px;
}

.now p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.now img {
  height: 320px;
  margin-bottom: 24px;
}

.now button {
  background-color: red;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: cinzel, serif;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 140px;
  height: 56px;
  width: 234px;
}

.now__exhibs__container__2 {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 140px;
}

.now__exhibs__container__piece {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  width: 320px;
}
