.on-view {
  display: grid;
  grid-template-areas:
    'subheader'
    'ex-1'
    'ex-2'
    'ex-3'
    'button';
  grid-gap: 48px;

  @include section-gap;

  padding-right: 20px;
}

.subheader {
  grid-area: subheader;

  &__view {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;

    &__h2 {
      color: $main-dark;

      @include h2-title-black;

      display: flex;
      padding-bottom: 8px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    &__h3 {
      @include base-black-font;

      color: $main-dark;
      text-align: center;
    }
  }
}

.exhibition-1 {
  grid-area: ex-1;
  display: flex;
  flex-direction: column;

  &__images {
    display: flex;
    gap: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-block: 0;
  }

  &__title {
    @include on-view-red;

    color: $main-red;
  }

  &__description {
    @include on-view-black;

    color: $main-dark;
  }
}

.img-1 {
  background-image: url('/src/styles/img/on-view/new-look-mini.png');
  display: flex;
  transition: transform 0.3s;

  height: 130px;
  width: 130px;
  padding-bottom: 24px;

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: 744px) {
    background-image: url('/src/styles/img/on-view/new-look-tablet.png');
    width: 392px;
    height: 186px;
  }

  @media (min-width: 1260px) {
    background-image: url('/src/styles/img/on-view/new-look-laptop.png');
    width: 672px;
    height: 320px;
  }
}

.img-2 {
  background-image: url('/src/styles/img/on-view/old-masters.png');
  transition: transform 0.3s;

  padding-bottom: 24px;
  height: 130px;
  width: 130px;

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: 744px) {
    background-image: url('/src/styles/img/on-view/old-masters-tablet.png');
    width: 184px;
    height: 186px;
  }

  @media (min-width: 1260px) {
    background-image: url('/src/styles/img/on-view/old-masters-laptop.png');
    width: 324px;
    height: 320px;
  }
}

.exhibition-2 {
  grid-area: ex-2;
  display: flex;
  flex-direction: column;

  &__images {
    display: flex;
    gap: 8px;
    padding-bottom: 24px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-block: 0;
  }

  &__title {
    @include on-view-red;

    color: $main-red;
  }

  &__description {
    @include on-view-black;

    color: $main-dark;
  }
}

.img-3 {
  background-image: url('/src/styles/img/on-view/wisdom.png');
  transition: transform 0.3s;
  padding-bottom: 24px;
  height: 130px;
  width: 130px;

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: 744px) {
    background-image: url('/src/styles/img/on-view/wisdom-tablet.png');
    width: 288px;
    height: 284px;
  }

  @media (min-width: 1260px) {
    background-image: url('/src/styles/img/on-view/wisdom-laptop.png');
    width: 324px;
    height: 320px;
  }
}

.img-4 {
  background-image: url('/src/styles/img/on-view/compassion.png');
  transition: transform 0.3s;
  padding-bottom: 24px;
  height: 130px;
  width: 130px;

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: 744px) {
    background-image: url('/src/styles/img/on-view/compassion-tablet.png');
    width: 288px;
    height: 284px;
  }

  @media (min-width: 1260px) {
    background-image: url('/src/styles/img/on-view/compassion-laptop.png');
    width: 324px;
    height: 320px;
  }
}

.img-5 {
  background-image: url('/src/styles/img/on-view/power.png');
  transition: transform 0.3s;

  padding-bottom: 24px;
  height: 130px;
  width: 130px;

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: 744px) {
    display: none;
  }

  @media (min-width: 1260px) {
    display: flex;
    background-image: url('/src/styles/img/on-view/power-laptop.png');
    width: 324px;
    height: 320px;
  }
}

.exhibition-3 {
  grid-area: ex-3;
  display: flex;
  flex-direction: column;

  &__images {
    display: flex;
    gap: 20px;
    padding-bottom: 24px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-block: 0;
  }

  &__title {
    @include on-view-red;

    color: $main-red;
  }

  &__description {
    @include on-view-black;

    color: $main-dark;
  }
}

.img-6 {
  background-image: url('/src/styles/img/on-view/disney.png');
  display: flex;
  transition: transform 0.3s;

  height: 130px;
  width: 130px;
  padding-bottom: 24px;

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: 744px) {
    background-image: url('/src/styles/img/on-view/disney-tablet.png');
    width: 184px;
    height: 186px;
  }

  @media (min-width: 1260px) {
    background-image: url('/src/styles/img/on-view/disney-laptop.png');
    width: 324px;
    height: 320px;
  }
}

.img-7 {
  background-image: url('/src/styles/img/on-view/dame-mini.png');
  display: flex;
  transition: transform 0.3s;

  height: 130px;
  width: 130px;
  padding-bottom: 24px;

  &:hover {
    transform: scale(1.1);
  }

  @media (min-width: 744px) {
    background-image: url('/src/styles/img/on-view/dame-tablet.png');
    width: 392px;
    height: 186px;
  }

  @media (min-width: 1260px) {
    background-image: url('/src/styles/img/on-view/dame-laptop.png');
    width: 672px;
    height: 320px;
  }
}

.view-all {
  display: flex;
  background-color: $main-red;
  color: #fff;

  width: 280px;
  height: 56px;

  @media (min-width: 744px) {
    width: 392px;
    height: 56px;
  }

  @media (min-width: 1260px) {
    width: 324px;
    height: 56px;
  }

  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  margin: 0 auto;

  &:hover {
    background-color: $hover-red;
  }

  &:active {
    background-color: $active-red;
  }
}

a {
  display: flex;
}
