.main__online {
  margin-top: 70px;
}

.online__title {
  letter-spacing: -1.5px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.online__events {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.online__areas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.online__img {
  width: 280px;
  height: 277px;
}

.online__header {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  color: var(--red-main);
}

.online__text {
  margin-top: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--black-main);
}

.online__img--1 {
  background-image: url(../images/online-1.png);
  background-size: cover;
}

.online__img--2 {
  background-image: url(../images/online-2.png);
  background-size: cover;
}

.online__img--3 {
  background-image: url(../images/online-3.png);
  background-size: cover;
}


@media only screen and (min-width: 744px) and (max-width: 1259px) {

  .online__img {
    width: 392px;
    height: 387px;
  }

}
