.onview {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}

.title {
  padding-top: 30px;
  text-align: center;

  &__secondary {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
  }
}

.exhibition {
  max-width: 280px;

  &__pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;
    padding-top: 48px;

    &--2 {
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
    }
  }

  &__picture {
    background-image: url(../images/onview/old_masters.png);
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__picture--1 {
    background-size: 230% auto;
    background-position: 20% center;
  }

  &__picture--2 {
    background-image: url(../images/onview/prince.png);
    background-size: cover;
    background-position: center;
  }

  &__picture--4 {
    background-image: url(../images/onview/buddha.png);
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
  }

  &__picture--5 {
    background-image: url(../images/onview/carpet.png);
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
  }

  &__picture--6 {
    background-image: url(../images/onview/carpet-2.png);
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
  }

  &__picture--7 {
    background-image: url(../images/onview/clock.png);
    background-size: cover;
    background-position: center;
  }

  &__picture--8 {
    background-image: url(../images/onview/statues.png);
    aspect-ratio: 1 / 1;
    background-size: 200% auto;
    background-position: 100% center;
  }

  &__title {
    font-size: 16px;
    line-height: 27px;
    color: #d12d35;
    margin-top: 24px;
  }

  &__description {
    line-height: 27px;
  }
}

.allexhibitions {
  margin: 40px;
}

@media (min-width: 744px) {
  .onview {
    padding: 70px 72px;
  }

  .title {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 392px;

    &__main {
      font-size: 48px;
    }
  }

  .exhibition {
    max-width: 600px;
    width: 100%;

    &__pictures {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;

      &--2 {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__picture--1 {
      grid-column: 1 / 3;
      aspect-ratio: auto;
      background-size: 100%;
    }

    &__picture--6 {
      display: none;
    }

    &__picture--8 {
      grid-column: 2 / -1;
      aspect-ratio: auto;
      background-size: 100%;
      background-position: 0% 20%;
    }
  }

  .allexhibitions {
    max-width: 392px;
  }
}

@media (min-width: 1260px) {
  .onview {
    padding: 70px 120px;
  }

  .title {
    max-width: 498px;

    &__secondary {
      max-width: 325px;
    }
  }

  .exhibition {
    max-width: 1020px;

    &__pictures {
      &--2 {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &__picture--6 {
      display: flex;
    }
  }
}
