.onview {
  display: flex;
  flex-direction: column;
  align-items: center;

    &__card {
      margin-top: 48px;
    }

    &__title {
      text-align: center;
    }

    &__exhibs1 {
      display: grid;
      gap: 24px;
      grid-template:
      "first first second" 1fr
      / 1fr 1fr 1fr;
  }

    &__exhibs__img1 {
      background-image: url(../images/img-1.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      grid-area: first;
      height: 320px;
      width: 627px;
    }

    &__exhibs__img2 {
      background-image: url(../images/img-2.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-area: second;
      height: 320px;
      width: 324px;
    }

    &__exhibs2 {
      display: grid;
      gap: 24px;
      grid-template:
      "uno dos tres" 1fr
      / 1fr 1fr 1fr;
    }

    &__exhibs__img3 {
      background-image: url(../images/img-3.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      grid-area: uno;
      height: 320px;
      width: 324px;
    }

    &__exhibs__img4 {
      background-image: url(../images/img-4.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      grid-area: dos;
      height: 320px;
      width: 324px;
    }

    &__exhibs__img5 {
      background-image: url(../images/img-5.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      grid-area: tres;
      height: 320px;
      width: 324px;
    }

    &__exhibs3 {
      display: grid;
      gap: 24px;
      grid-template:
      "um dois dois" 1fr
      / 1fr 1fr 1fr;
    }

    &__exhibs__img6 {
      background-image: url(../images/img-6.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      grid-area: um;
      height: 320px;
      width: 324px;
    }

    &__exhibs__img7 {
      background-image: url(../images/img-7.png);
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      grid-area: dois;
      height: 320px;
      width: 672px;
    }

    &__button {
      background-color: #D12D35;
      border: transparent;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      line-height: 27px;
      font-family: cinzel, serif;
      font-weight: 700;
      text-transform: uppercase;
      margin: 40px 0 140px;
      height: 56px;
      width: 324px;
    }

}

.onview h2 {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  margin: 8px 0;
}

.onview h4 {
  color: #D12D35;
  font-size: 16px;
  line-height: 27px;
  margin-top: 24px;
}

.onview p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
