.page {
  scroll-behavior: smooth;
  color: $text-color;
  min-height: 320px;

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: all 0.6s;

    &:target {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
    }
  }
}
