.page {
  font-family: 'Space Grotesk', sans-serif;
  color: $color-black;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    transition: all 0.3s;
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}

p {
  font-family: 'Space Mono', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
}

.picture {
  margin-top: 96px;
  background-image: url(../images/design.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
  }
}
