.page {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-optical-sizing: auto;
  color: $text-color;

  scroll-behavior: smooth;

  &:has(.page__menu:target) {
    overflow: hidden; /* not to scroll the page */
  }

  &__body {
    margin: 0;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.3s;
    pointer-events: none;

    &:target {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0);
    }
  }
}

.content {
  padding: 0 20px;
  margin: 0 auto;

  @include onTablet {
    max-width: 600px;
    padding: 0 72px;
  }

  @include onDesktop {
    max-width: 1020px;
    padding: 0 120px;
  }
}

img {
  @include hover(transform, scale(1.05));

  cursor:
    url(../icons/Mice.png) 8 8,
    pointer;
}

a {
  cursor:
    url(../icons/Mice.png) 8 8,
    pointer;
}
