.bottom-wrapper {
  @include page-grid;
}

.bottom-title {
  grid-column: 1 / -1;
}

.contacts {
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: 1 / 7;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $gap-in-form;
  }

  &__input {
    font-family: Manrope, sans-serif;
    padding-left: 16px;
    height: 48px;
    font-weight: 400;
    font-size: 14px;
    color: $main-txt-col;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #f9f9f9;

    &:hover {
      outline: 1px solid #dbdbdb;
    }

    &:focus {
      outline: 2px solid $button-accent;
    }

    &--message {
      height: 148px;
      padding-top: 14px;
      resize: none;
    }
  }

  &__button {
    margin-top: $gap-in-form;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 80px;
    }
  }
}

.footer {
  grid-column: 1 / -1;

  @include on-desktop {
    grid-column: 8 / 13;
    grid-row: 2 / 3;
  }

  &__title {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    color: $footer-title-txt-col;
  }

  &__link {
    text-decoration: none;
  }

  &__text {
    @include hover(font-weight, 700);

    margin: 0;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    color: $main-txt-col;
  }
}
