.page__html {
  font-family: Cinzel, serif;

  scroll-behavior: smooth;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}
