.part {
  --columns: 2;

  margin: 0;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;
  color: $main-text-color;

  @include on-tablet {
    margin-bottom: 64px;
    font-size: 48px;
  }

  @include on-laptop {
    font-size: 64px;
  }

  &--left {
    text-align: left;
    width: 100%;
    white-space: nowrap;
  }

  &--info {
    display: flex;
    margin: 0;
    color: $main-text-color;
    font-size: 23px;
    max-width: 498px;
  }
}

.about-us {
  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;

    @include on-tablet {
      flex-direction: row;
      gap: 140px;
      justify-content: center;
    }
  }
}
