.phone {
  display: flex;
  flex-direction: column;
  justify-content: right;

  color: #FFF;
  text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
  font-family: $text-font-family;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px; /* 168.75% */
  text-transform: uppercase;
  justify-items: baseline;

  opacity: 1;
  pointer-events: none;


  &__items {
    padding: 0;
    margin: 0;
    text-align: right;
  }
}
