.phone {
  position: relative;

  &__hover {
    position: absolute;
    top: -40px;
    left: -190px;
    text-align: right;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition:
      opacity 0.3s ease,
      pointer-events 0.3s ease;
  }

  @include on-desktop {
    &:hover .phone__hover,
    .phone__hover:hover {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__link {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      text-decoration: underline;
    }
  }
}
