.phone {
  &__dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    z-index: 100;
    min-width: 201px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    right: 50px;
    transform-origin: top center;
    transform: translateY(-60%);
    color: rgba(255, 255, 255, 1);
    box-shadow: 18px 4px 26px 0 rgba(0, 0, 0, 0.44);
    text-align: right;
    opacity: 0;
    overflow: hidden;
    transition:
      opacity 1s ease,
      transform 1s ease;

    &--link {
      text-decoration: none;
      color: rgba(255, 255, 255, 1);
      transition: color 1s ease;
      display: inline-block;
      padding-bottom: 8px;
    }

    &--text {
      margin: 0;
    }
  }

  p {
    color: rgba(255, 255, 255, 1);
  }

  @include on-desktop {
    &__dropdown:hover &__menu,
    &__dropdown:focus-within &__menu {
      opacity: 1;
      visibility: visible;
      display: block;
    }
  }

  @media (max-width: 767px) {
    &__menu {
      display: none !important;
    }
  }
}
