* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: $mainColor;
}

body:has(.menu:target) {
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $mainColor;
  cursor: pointer;
}
