.product {
  &__photo {
    width: 100%;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    @include productLine-height;
  }

  &__category {
    font-size: 16px;
    font-weight: 400;
    @include productLine-height;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    @include productLine-height;
  }
}
