.product {
  // justify-items: center;

  &__title {
    font-size: 18px;
  }

  &__category {
    font-family: 'Space Mono', serif;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
  }

  &__photo {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }
}
