.product-card {
  color: $main-color;
  font-family: $font-grotesk, sans-serif;

  @include on-tablet {
    width: 600px;
  }

  @include on-desktop {
    width: 324px;
  }
  &__name {
    margin-top: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
  }

  &__description {
    margin-top: 8px;
    font-family: $font-mono, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;

    @include on-tablet {
      max-width: 280px;

      $product-card-width: 600px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__image {
    width: 280px;

    @include on-tablet {
      width: 600px;
      transition: transform $item-scale-duration;

      @include hover(scale, $item-scale-size, $transition-duration);
    }

    @include on-desktop {
      width: 324px;
      transition: transform $item-scale-duration;

      @include hover(scale, $item-scale-size, $transition-duration);
    }
  }
  &__price {
    margin-top: 12px;
    font-family: $font-grotesk, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
  }
}
