.products {
  display: grid;
  row-gap: 40px;
  padding-inline: 20px;
}

.product {
  color: #fff;
  line-height: 140%;

  &__photo {
    width: 100%;
    margin-bottom: 32px;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
  }
}
