.product {
  &__photo {
    width: 100%;
    transition: $transition;

    &:hover {
      transition: $transition;
      transform: $transform;
    }
  }

  &__price {
    font-weight: bold;
  }

  &__category {
    margin-bottom: 12px;
    font-family: $fontSecond;
    margin-top: 8px;
    line-height: 145%;

    &-1 {
      line-height: 165%;
    }

    &-2 {
      line-height: 165%;
    }
  }
}
