.product {
  &__photo {
    width: 100%;

    @include hover(transform, scale(1.05));
  }

  &__link {
    display: block;

    grid-row: 1;
  }

  &__title {
    grid-row: 2;
  }

  &__text {
    font-family: 'Space Mono', serif;
    font-weight: 400;

    @include on-desktop {
      max-width: 280px;
      grid-row: 3;
    }
  }

  &__price {
    grid-row: 4;
    margin-top: auto;
  }
}
