
.product {

  &__link {
    display: block;
  }


  &__photo {
    width: 100%;

    transition: transform $transition-duration ease-in-out;
    &:hover {
      transform: scale(1.15);

    }
  }

  &__title {
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 700;
  }

  &__description {
    letter-spacing: 0.15px;
    font-weight: 400;
  }
}
