@media (min-width: 321px) and (max-width: 744px) {
  .hero .container {
    margin: 0 auto;
    padding: 0 72px;
  }

  .hero {
    &__description {
      font-size: 48px;
    }
  }

  .recommended,
  .browse,
  .about-us,
  .contact-us {
    &__title {
      font-size: 48px;
      width: 100%;
    }
  }

  .recommended.container,
  .browse.container,
  .about-us.container,
  .contact-us.container,
  .overlay .container {
    padding: 0 72px;
  }

  .about-us.container {
    grid-template-columns: 1fr 1fr;
  }

  .recommended {
    &__cards {
      grid-template-columns: 1fr;
    }
  }
  .browse {
    &__btn {
      width: 100%;
    }
  }
}

@media (max-width: 320px) {
  .hero .container {
    margin: 0 auto;
    padding: 0 20px;
  }

  .hero {
    &__description {
      font-size: 48px;
      width: 100%;
    }
  }

  .recommended,
  .browse,
  .about-us,
  .contact-us {
    &__title {
      font-size: 32px;
      width: 100%;
    }
  }

  .recommended.container,
  .browse.container,
  .about-us.container,
  .contact-us.container,
  .overlay .container {
    padding: 0 20px;
  }

  .about-us.container,
  .contact-us.container {
    grid-template-columns: 1fr;
  }

  .browse {
    &__item.item-1,
    &__item.item-4,
    &__item.item-5,
    &__item.item-2,
    &__item.item-3,
    &__item.item-6 {
      max-width: 50%;
      object-fit: cover;
    }

    &__btn {
      width: 100%;
    }
  }
}
