.recommended {
  &__product {
    align-items: center;
    justify-content: center;
    max-width: 1260px;
    display: grid;
    row-gap: 40px;
    text-align: justify;
    
    @include content-padding-inline;


    @include on-tablet {
      grid-template-columns: repeat(600px, 1fr);
      display: grid;
      gap: 24px 56px;
    }

    @include on-desctop {
      column-gap: 24px;
      grid-template-columns: repeat(3, 3fr);
    }

    .recommendet__link {
      text-decoration: none;
      color: $content-text-color;
    }
  }
}
