@import 'mixin';
@import 'normalize';

.recomended {

  @include page-grid;

  row-gap: 48px;

  @include on-tablet {
    row-gap: 56px;
  }

  &__title {
    grid-column: 1 / -1;
    @include on-tablet {
      grid-column: span 3;
    }
    @include on-tablet {
      grid-column: span 4;
    }
  }

  &__products {

    @include page-grid;

    row-gap: 40px;
    grid-column: 1 / -1;

  }

  &__product {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 4;
    }
  }
}
