.recommended {
  padding-inline: 20px;

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
  }

  .item {
    &__card {
      margin-bottom: 40px;
    }

    &__image {
      margin-bottom: 24px;

      > img {
        width: 280px;
        height: 280px;
      }
    }

    &__name {
      margin-bottom: 8px;
      font-size: 18px;
      font-weight: 700;
      line-height: 140%;
    }

    &__description {
      margin-bottom: 12px;
      line-height: 140%;
      letter-spacing: 0.15px;
    }

    &__price {
      font-weight: 700;
      line-height: 140%;
    }
  }
}

@media (min-width: 744px) {
  .recommended {
    padding-inline: 72px;
    margin-bottom: 120px;

    h2 {
      font-size: 40px;
    }

    .item {
      &__card {
        margin-bottom: 56px;
      }

      &__image {
        margin-bottom: 24px;

        > img {
          width: 600px;
          height: 600px;
        }
      }

      &__description {
        margin-bottom: 34px;
      }
    }
  }

  @media (min-width: 1260px) {
    .recommended {
      padding-inline: 120px;

      h2 {
        font-size: 48px;
      }

      .item {
        display: flex;
        gap: 24px;

        &__card {
          margin-bottom: 0;
        }

        &__image {
          > img {
            width: 324px;
            height: 324px;
          }
        }

        &__description {
          margin-bottom: 12px;
        }
      }
    }
  }
}
