.Recommended {
  margin: 0 20px;
  margin-top: 64px;

  &__blok {
    display: flex;
    flex-direction: column;

    @media (min-width: 1260px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      margin-top: 56px;
    }
  }

  @media (min-width: 744px) {
    margin: 120px 72px;
  }

  @media (min-width: 1260px) {
    margin: 120px;
  }

  &__text {
    font-size: 32px;
    margin-bottom: 8px;

    @media (min-width: 744px) {
      font-size: 40px;
    }
  }
}

.prodackt-card {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.2);
  }

  &__img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    height: auto;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    color: $text-color;
    margin-top: 24px;
  }

  &__text {
    height: fit-content;
    font-weight: 400;
    font-size: 16px;
    color: $text-color;
    margin-top: 8px;
  }

  &__prise {
    margin-top: 12px;
  }
}
