.recommended__products {
  @include pageGrid;

  row-gap: 40px;
}

.product {
  grid-column: 1/-1;

  @include onDesktop {
    grid-column: span 4;
  }
}

.product__photo {
  width: 100%;
}

.product__description {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-style: normal;
}
