.recommended {
  &__products {
    @include pageGrid;
    row-gap: 24px;
    column-gap: 24px;
  }

  &__product {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / 5;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }
}
