html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
img,
b,
ol,
ul,
li,
form,
article,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
