* {
  box-sizing: border-box;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

body,
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;

  body:target {
    overflow: hidden;
  }
}
