* {
  box-sizing: border-box;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  position: relative;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.page__menu {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  opacity: 0;
  pointer-events: none;

  &:target {
    opacity: 1;
    pointer-events: all;
  }
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.menu {
  overflow: auto;
}

.menu__top {
  position: sticky;
  top: 0;
  z-index: 1;
}
