body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  margin: 0;
  padding: 0;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input, textarea {
  border: none;
  font-family: inherit;
  padding: 0;
  margin: 0;
}
