@media screen and (min-width: 320px) and (max-width: 743px) {
  .top {
    .header {
      padding: 20px 24px;

      .header__logo {
        width: 130px;
        height: 38px;
      }

      .header__icons {
        width: 76px;

        .page__menu {
          font-weight: 600;

          .menu__top {
            padding: 20px 24px;

            .menu__logo {
              width: 130px;
              height: 38px;
            }
          }

          .menu__links {
            padding-left: 24px;
            margin-top: 2px;
          }

          .menu__info {
            padding-left: 24px;
            margin-top: 20px;

            .menu__test::after {
              left: 24px;
            }
          }
        }
      }
    }

    .home {
      background-position: right;

      .home__text {
        font-size: 36px;
        padding-top: 356px;
      }
    }
  }

  .about__us {
    padding-top: 60px;
    padding-bottom: 46px;

    .about__content {
      padding-left: 20px;
      flex-direction: column;
      gap: 32px;

      .about__content__title {
        font-size: 32px;
        width: 164px;
      }

      .about__content__text {
        width: 280px;
      }
    }
  }

  .compare__bikes {
    padding-top: 46px;
    padding-bottom: 46px;

    .compare__title {
      font-size: 32px;
      margin-bottom: 48px;
    }

    .compare__cards {
      grid-template-columns: repeat(1, 280px);
      gap: 40px;

      .compare__card {
        img {
          max-width: 280px;
        }
      }
    }
  }

  .details {
    padding-bottom: 40px;
    padding-top: 46px;
    grid-template-columns: 1fr;
    gap: 40px;

    .details__header {
      font-size: 32px;
    }

    .details__unlock,
    .details__lights,
    .details__discs {
      padding-left: 0;
      padding-right: 0;
      margin-left: 20px;
      margin-right: 20px;

      .details__images {
        grid-template-columns: 130px 130px;
        gap: 20px;

        a {
          height: 130px;
          width: 100%;
        }
      }
    }

    .details__button {
      width: 278px;
      height: 56px;
      margin-left: 22px;
    }
  }

  .contact__us {
    padding-top: 40px;
    padding-bottom: 120px;

    .contact__header {
      font-size: 32px;
      font-weight: 500;
    }

    .contact__blocks {
      grid-template-columns: 280px;
      gap: 48px;
      padding-left: 20px;

      .contact__form {
        width: 280px;

        .name {
          width: 261.96px;
        }

        .email {
          width: 261.96px;
        }

        .message {
          width: 261.96px;
        }
      }
    }
  }
}

@media screen and (min-width: 744px) and (max-width: 1023px) {
  .top {
    .header {
      padding: 36px 72px;
      .header__icons {
        .page__menu {
          font-weight: 600;

          .menu__top {
            padding: 36px 72px;
          }

          .menu__links {
            padding-left: 72px;
            margin-top: 4px;
          }

          .menu__info {
            padding-left: 72px;
            margin-top: 26px;

            .menu__test::after {
              left: 72px;
            }
          }
        }
      }
    }
    .home {
      .home__text {
        font-size: 64px;
        padding-top: 340px;
      }
    }
  }

  .about__us {
    padding-bottom: 132px;

    .about__content {
      padding-left: 72px;
      padding-right: 72px;

      .about__content__title {
        font-size: 48px;
        width: 288px;
      }

      .about__content__text {
        width: 288px;
      }
    }
  }

  .compare__bikes {
    padding-bottom: 120px;

    .compare__title {
      font-size: 48px;
      margin-bottom: 48px;
    }

    .compare__cards {
      grid-template-columns: repeat(1, 324px);
      gap: 48px;
    }
  }

  .details {
    padding-bottom: 120px;

    .details__header {
      font-size: 48px;
    }

    .details__unlock,
    .details__lights,
    .details__discs {
      .details__images {
        a {
          height: 187px;
        }
      }
    }
  }

  .contact__us {
    padding-bottom: 102px;
    font-weight: 500;

    .contact__blocks {
      padding-left: 72px;
      gap: 24px;

      .contact__form {
        width: 288px;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1259px) {
  .top {
    height: 690px;
    .header {
      .header__icons {
        .page__menu {
          .menu__info {
            margin-top: 2px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1260px) {
  .top {
    height: 711px;
  }
}
