/* header,
main,
aside,
footer {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 0 20px;
  padding-inline: 20px;

} */

@media (min-width: 744px) {
  .main {
    &__move-free {
      display: flex;
      flex-direction: row;
      gap: 24px;
      margin-bottom: 132px;
    }

    &__compare-bikes {
      margin-bottom: 52px;

      /* .bikes__cards {
        display: flex;
        flex-direction: row;
        gap: 24px; /////
      } */
    }

    &__details {
      margin-bottom: 120px;
      width: 600px;

      .title-details {
        margin-bottom: 64px;
      }

      .card__img--first {
        height: 187px;
        width: 392px;
        object-fit: cover;
      }

      .card__img--second {
        height: 187px;
        width: 392px;
      }
    }

    .top-bar {
      padding: 36px 72px;
    }

    .logo {
      width: 187px;
      height: 56px;
    }

    .icon {
      height: 32px;
      width: 32px;
    }

    .header__title {
      font-size: 64px;
    }

    .title {
      font-size: 48px;
    }
  }
}

@media (min-width: 1260px) {
  .main {
    &__move-free {
      display: flex;
      flex-direction: row;
      gap: 24px;
      margin-bottom: 164px;
    }

    &__compare-bikes {
      margin-bottom: 144px;

      .bikes__cards {
        display: flex;
        flex-direction: row;
        gap: 24px; /////
      }
    }

    &__details {
      margin-bottom: 120px;
      width: 933px;

      .title-details {
        margin-bottom: 48px;
      }

      .card__img--first {
        height: 321px;
        width: 672px;
        object-fit: cover;
      }

      .card__img--second {
        height: 321px;
        width: 672px;
      }
    }
  }

  .header__title {
    font-size: 80px;
  }

  .title {
    font-size: 64px;
    &-feedback {
      font-size: 48px;
    }
  }

  /* .bikes__card {
    flex-direction: row;
    gap: 24px;
  } */
}
