.right--menu {
  height: 100vh;
  box-sizing: border-box;

  background-color: #D12D35;
}

.right--menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 40px;
  margin-left: 20px;

  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;

}

.right--menu__link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.right--menu__numbers {
  margin-top: 32px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.right--menu__phone--link {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.right--menu__call {
  padding: 8px 0;
  font-family: Cinzel, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: left;
  border-bottom: 1px solid;
  width: fit-content;
}
