.schedule {
  @include page-grid;

  .visit__title {
    margin-bottom: 32px;
    grid-column: 1 / -1;

    .visit {
      margin: 0;
      font-weight: 700;
      font-size: 12px;
      line-height: 16.8px;
      color: $category-font-color;
    }

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-descktop {
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-descktop {
      grid-column: 6 / 12;
    }

    .schedule__title {
      margin: 0;
    }

    .schedule__time-days {
      margin: 16px 0;
      display: flex;
      gap: 24px;
      text-decoration: none;

      .schedule__time {
        display: block;
        margin: 0;
        padding: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: -1px;
        list-style: none;
      }

      .schedule__days {
        display: block;
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: -1px;
        list-style: none;
      }
    }
    .schedule__closed-on--title {
      margin: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: -1px;
    }
    .schedule__closed-on--content {
      margin: 0 0 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 27px;
      letter-spacing: -1px;
    }
  }

  &__benefits {
    display: grid;
    row-gap: 16px;

    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    font-weight: bold;
  }

  &__description {
    margin: 0;
    line-height: 27px;
  }
}
