.schedule {
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

    @media (max-width: 567.98px) {
      & {
        grid-template-columns: 1fr;
        gap: 32px;
      }
    }
  }

  &__sub-title {
    color: $color_orange;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4;
  }

  &__card {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.cadr-schedule {
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__table {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 25px;
    row-gap: 8px;
    margin-bottom: 16px;
  }

  &__label {
    font-weight: 700;
    line-height: 1.68;
  }

  &__value {
    line-height: 1.68;
  }

  &__closed {
    font-weight: 700;
    line-height: 1.68;
  }

  &__day-off {
    line-height: 1.68;
  }
}
