$timeOfAnimation: 300ms;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-on-view {
  padding: 0 20px;
  margin-top: 100px;

  @include on-tablet {
    padding: 0 72px;
    margin-top: 140px;
  }

  &__header {
    margin-bottom: 48px;
  }

  &__header-title {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__header-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  &__images {
    display: flex;
    margin-top: 48px;
    &:first-child {
      margin-top: 0;
    }

    margin-bottom: 24px;
  }

  &__image {
    transition: all $timeOfAnimation;

    &:hover {
      transform: scale(1.01);
    }

    padding-right: 20px;

    &:last-child {
      padding-right: 0;
    }

    @include on-tablet {
      padding-right: 24px;
    }
  }

  &__image-three {
    transition: all $timeOfAnimation;

    &:hover {
      transform: scale(1.01);
    }

    padding-right: 8px;

    &:last-child {
      padding-right: 0;
    }

    @include on-tablet {
      padding-right: 24px;
    }
  }

  &__image--one {
    width: 130px;
    height: 130px;

    @include on-tablet {
      width: 392px;
      height: 186px;
    }

    @include on-desktop {
      width: 672px;
      height: 320px;
    }
  }

  &__image--two {
    width: 130px;
    height: 130px;

    @include on-tablet {
      width: 184px;
      height: 186px;
    }

    @include on-desktop {
      width: 324px;
      height: 320px;
    }
  }

  &__image--three {
    width: 88px;
    height: 87px;

    @include on-tablet {
      width: 288px;
      height: 284px;
    }

    @include on-desktop {
      width: 324px;
      height: 320px;
    }
  }

  &__image--four {
    width: 88px;
    height: 87px;

    @include on-tablet {
      width: 288px;
      height: 284px;
    }

    @include on-desktop {
      width: 324px;
      height: 320px;
    }
  }

  &__image--five {
    width: 88px;
    height: 87px;

    @include on-tablet {
      width: 0;
      height: 0;
    }

    @include on-desktop {
      width: 324px;
      height: 320px;
    }
  }

  &__image--six {
    width: 130px;
    height: 130px;

    @include on-tablet {
      width: 184px;
      height: 186px;
    }

    @include on-desktop {
      width: 324px;
      height: 320px;
    }
  }

  &__image--seven {
    width: 130px;
    height: 130px;

    @include on-tablet {
      width: 392px;
      height: 186px;
    }

    @include on-desktop {
      width: 672px;
      height: 320px;
    }
  }

  &__content-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    align-self: start;

    color: rgba(209, 45, 53, 1);
  }

  &__content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    align-self: start;
  }

  &__button {
    align-self: center;
    margin-top: 40px;
    font-family: Cinzel, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;

    width: 280px;
    height: 56px;

    @include on-tablet {
      width: 392px;
    }

    @include on-desktop {
      width: 324px;
    }

    border: 0;
    background-color: rgba(209, 45, 53, 1);

    transition: all $timeOfAnimation;

    &:hover {
      background-color: rgba(174, 28, 35, 1);
    }

    &:active {
      background-color: rgba(235, 52, 61, 1);
    }
  }
}
