@use 'mixins';

.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -1.5px;

  &-align-left {
    text-align: left;
  }

  @include on-tablet {
    font-size: 48px;
    margin-bottom: 64px;
  }

  @include on-desktop {
    font-size: 64px;
  }
}
