.main {
  &__content {
    display: grid;
    row-gap: 92px;
    padding-top: 60px;
    margin-bottom: 120px;

    @include on-tablet {
      row-gap: 120px;
      padding-block: 120px;
      margin-bottom: 102px;
    }

    @include on-desktop {
      row-gap: 144px;
      margin-bottom: 164px;
    }
  }
}
