.section-title {
  font-weight: 500;
  margin: 0;
  margin-bottom: 48px;
  font-size: 32px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  letter-spacing: -1.5px;
  background-color: $maintTextColor;

  @include ontablet {
    margin-bottom: 64px;
    font-size: 40px;
  }

  @include ondesktop {
    font-size: 48px;
  }

  &--align--left {
    text-align: left;
  }
}
