.section-title {
  margin: 0;
  font-weight: $title-font-weight;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -1.5px;
  text-align: center;

  @include on-tablet {
    font-size: 48px;
  }

  &--align--left {
    text-align: left;
  }

  &--first--part {
    color: $main-color;
    font-size: 12px;
    font-weight: $title-font-weight;
    line-height: 1.4;
    letter-spacing: 0;
  }
}

