.section-title {
  margin: 0;
  color: $mainTextColor;
  font-family: $mainFont;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  padding-top: 64px;

  @media (min-width: 576px) {
    padding-bottom: 56px;
  }

  @media (min-width: 768px) {
    padding-top: 120px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;

    grid-column: 1/-1;
  }
}
