.about-us {
  display: grid;
  margin-top: 100px;
  grid-template-columns: 1fr;
  padding: 0 20px;

  @include on-tablet {
    margin-top: 140px;
    padding: 0 72px;
    grid-template-columns: 1fr 1fr;
  }

  @include on-desktop {
    margin-top: 138px;
    padding-left: 120px;
    padding-right: 189px;
  }

  &__title {
    @include on-tablet {
      grid-column: 1/-1;
    }

    text-align: left;
    margin: 0;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__text {
    text-align: left;
    margin: 0;
    font-size: 12px;
    line-height: 16.8px;
    color: rgba(209, 45, 53, 1);
  }

  &__header {
    text-align: center;
  }

  &__content-one {
    @include on-tablet {
      grid-column: 2/3;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__content-title {
    margin: 0;
    margin-bottom: 16px;
    grid-column: span 2;
  }

  &__content-hours {
    display: grid;

    gap: 8px;
    margin: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
  }

  &__content-days {
    display: grid;
    gap: 8px;
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }

  &__bottom {
    grid-column: span 2;
  }

  &__bottom-title {
    margin: 0;
    margin-top: 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
  }

  &__bottom-text {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}
