.section {
  @include page-grid;
  padding: 100px 20px 0;

  @include on-tablet {
    padding: 140px 72px 0;
  }

  @include on-desktop {
    padding: 200px 120px 0;
  }
  &--regular-font {
    @include regular-font;
  }
  &--regular-font-bold {
    @include regular-font-bold;
  }
  &--sub-title-font {
    @include sub-title-font;
  }
  &__button {
    background-color: $red-color;
    border: none;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    line-height: 27px;
    color: $white-color;
    grid-column: 1 / -1;
    height: 56px;
    @include on-tablet {
      grid-column: 2 / 6;
    }
    @include on-desktop {
      grid-column: 5 / 9;
    }
    &:hover {
      background-color: rgba(174, 28, 35, 1);
    }
    &:active {
      background-color: rgba(235, 52, 61, 1);
    }
  }
}
.section-title {
  grid-column: 1 / -1;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -2px;
  line-height: 32px;
  @include on-tablet {
    font-size: 48px;
    letter-spacing: -1.5px;
    line-height: 48px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 48px;
  }
  &--museum-hours {
    grid-column: span 5;
    text-align: start;
  }
  &--left-aligned {
    grid-column: span 2;
    @include on-tablet {
      grid-column: span 3;
    }
    @include on-desktop {
      grid-column: span 5;
    }
    text-align: start;
  }
}
.section-title-before {
  grid-column: span 2;
  @include on-tablet {
    grid-column: span 3;
  }
  @include on-desktop {
    grid-column: span 5;
  }
  color: $red-color;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.about-us {
  &__address {
    grid-column: span 2;
    @include on-tablet {
      grid-column: span 3;
    }
    @include on-desktop {
      grid-column: span 7;
    }
  }
  &__address-street {
    margin-bottom: 16px;
    &--second {
      margin-top: 24px;
    }
  }
  &__week-timetable {
    display: flex;
    gap: 24px;
  }
  &__closed {
    margin-top: 16px;
  }
}
.section-description {
  padding-bottom: 48px;
  text-align: center;
  grid-column: 1 / -1;
  @include on-tablet {
    grid-column: 2 / 6;
  }
  @include on-desktop {
    grid-column: 5 / 9;
  }
}
.exhibition-description {
  grid-column: 1 / -1;
  padding-bottom: 48px;
}
.exhibition-pics {
  @include page-grid;
  display: grid;
  height: 130px;

  @include on-tablet {
    height: 186px;
  }

  @include on-desktop {
    height: 320px;
  }
  &--budda {
    height: 87px;

    @include on-tablet {
      height: 284px;
    }
    @include on-desktop {
      height: 320px;
    }
  }
  &__new-look-main {
    height: 100%;
    background-image: url('../images/new-look-main-mob.png');
    background-size: cover;
    background-position: start;
    background-repeat: no-repeat;

    grid-column: span 1;
    @include on-tablet {
      grid-column: span 4;
      background-image: url('../images/new-look-main.png');
    }
    @include on-desktop {
      grid-column: span 8;
      background-image: url('../images/new-look-main.png');
    }
  }

  &__new-look-man {
    height: 100%;
    background-image: url('../images/new-look-man-mob.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    grid-column: span 1;
    @include on-tablet {
      grid-column: span 2;
      background-image: url('../images/new-look-man.png');
    }
    @include on-desktop {
      grid-column: span 4;
      background-image: url('../images/new-look-man.png');
    }
  }
  &__budda-1 {
    height: 100%;
    background-image: url('../images/budda-mob.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: span 2;
    @include on-tablet {
      grid-column: span 3;
      background-image: url('../images/budda-1.png');
    }
    @include on-desktop {
      grid-column: span 4;
      background-image: url('../images/budda-1.png');
    }
  }
  &__budda-2 {
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include on-tablet {
      display: block;
      background-image: url('../images/budda-2.png');
      grid-column: span 3;
    }
    @include on-desktop {
      grid-column: span 4;
      background-image: url('../images/budda-2.png');
    }
  }

  &__budda-3 {
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include on-tablet {
      display: none;
    }
    @include on-desktop {
      display: block;
      grid-column: span 4;
      background-image: url('../images/budda-3.png');
    }
  }
  &__walt-disney-1 {
    height: 100%;
    background-image: url('../images/walt-disney-1-mob.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: span 1;
    @include on-tablet {
      grid-column: span 2;
      background-image: url('../images/walt-disney-1.png');
    }
    @include on-desktop {
      grid-column: span 4;
      background-image: url('../images/walt-disney-1.png');
    }
  }
  &__walt-disney-2 {
    height: 100%;
    background-image: url('../images/walt-disney-2-mob.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: span 1;
    @include on-tablet {
      grid-column: span 4;
      background-image: url('../images/walt-disney-2.png');
    }
    @include on-desktop {
      grid-column: span 8;
      background-image: url('../images/walt-disney-2.png');
    }
  }
}
.exhibition-title {
  color: $red-color;
  margin-top: 24px;
}

.explore-more {
  &__title {
    color: $red-color;
  }
  &__collection-pic {
    background-image: url('../images/explore-more-1.png');
  }
  &__travel-pic {
    background-image: url('../images/explore-more-2.png');
  }
  &__tour-pic {
    background-image: url('../images/explore-more-3.png');
  }
  &__collection-pic,
  &__travel-pic,
  &__tour-pic {
    margin-top: 48px;
    height: 277px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include on-tablet {
      height: 357px;
    }
    @include on-desktop {
      height: 320px;
    }
  }
}

.section-explore-more {
  @include page-grid;
  grid-column: 1 / -1;
}
.explore-more-collection,
.explore-more-travel,
.explore-more-tour {
  text-align: center;
  grid-column: 1 / -1;
  @include on-tablet {
    grid-column: 2 / 6;
  }
  @include on-desktop {
    grid-column: span 4;
  }
}
.explore-more-title {
  grid-column: 1 / -1;
  @include on-tablet {
    grid-column: 2 / 6;
  }

  @include on-desktop {
    grid-column: span 12;
  }
}
.contacts {
  @include page-grid;
  padding-bottom: 100px;

  .section-title {
    grid-column: 1 / -1;
    text-align: center;
    padding-bottom: 48px;
  }

  &__grid {
    grid-column: 1 / -1;
    @include page-grid;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__address-block-1,
  &__address-block-2 {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
  &__address-block-2 {
    padding-top: 48px;
    @include on-tablet {
      padding-top: 48px;
    }
    @include on-desktop {
      padding-top: 0;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }

    input,
    textarea {
      outline: none;
      padding: 12px;
      font-size: 14px;
      border: 1px solid #ccc;
      font-family: 'Cinzel', serif;
    }

    textarea {
      min-height: 100px;
      resize: vertical;
      resize: none;
    }

    button {
      background-color: $red-color;
      color: $white-color;
      padding: 14px 0;
      border: none;
      cursor: pointer;
    }
  }
}
