section {
  @include constent-padding-inline;
}

.move-free {
  @include on-tablet {
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &-bike {
    height: 192px;
    width: 280px;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 498px;
    }
  }

  &__title {
    margin: 0;
    padding-top: 20px;
  }
}
