.section {
  width: 100%;
  max-width: $mobile-width;
  margin: 60px auto 0;

  @include on-tablet {
    max-width: $tablet-width;
    margin: 120px auto 0;
  }

  @include on-desktop {
    max-width: $desktop-width;
  }

  &__title {
    max-width: 585px;
    margin-bottom: $margin-bottom-main;

    font-family: 'Space Grotesk', sans-serif;
    font-size: $font-size-section-title;
    font-weight: 700;
    line-height: $font-size-section-title;

    @include on-tablet {
      font-size: $font-size-title;
      line-height: $font-size-title;
    }
  }

  &__action {
    display: block;

    width: 100%;
    max-width: 324px;
    padding: 15px;
    border-radius: 8px;

    font-family: 'Space Grotesk', sans-serif;
    font-size: $font-size-main;
    font-weight: 700;
    line-height: 27px;
    color: #fff;
    text-align: center;
    text-decoration: none;

    background-color: #292929;

    @include hover(background-color, #f8f8fa);
    @include hover(color, #292929);
  }

  &--info {
    --columns: 1;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: $gap-main;

    @include on-tablet {
      --columns: 2;
    }

    p {
      font-family: 'Space Mono', sans-serif;
      font-size: $font-size-main;
      font-weight: 400;
    }
  }

  &__note {
    width: 100%;
    margin-top: $margin-bottom-small;
    margin-bottom: $margin-bottom-main;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  &__grid {
    --columns: 1;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: $gap-main;

    @include on-tablet {
      --columns: 6;
    }

    @include on-desktop {
      --columns: 12;
    }

    div {
      overflow: hidden;
    }

    img {
      width: 100%;

      @include hover(transform, scale(1.1));
    }

    div:first-child {
      grid-column: 1 / -1;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    div:last-child {
      grid-column: 1 / -1;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }

    &--reverse {
      div:first-child {
        grid-column: 1 / -1;

        @include on-tablet {
          grid-column: span 2;
        }

        @include on-desktop {
          grid-column: span 4;
        }
      }

      div:last-child {
        grid-column: 1 / -1;

        @include on-tablet {
          grid-column: span 4;
        }

        @include on-desktop {
          grid-column: span 8;
        }
      }
    }
  }

  &--contact {
    --columns: 1;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: $gap-main;

    @include on-tablet {
      --columns: 2;
    }

    input,
    textarea {
      width: 100%;
      max-width: 411px;
      margin-bottom: $margin-bottom-small;
      padding: 14px 16px;
      border: none;
      border-radius: 8px;

      font-family: 'Space Mono', sans-serif;
      font-size: $font-size-small;
      font-weight: 400;

      background-color: #f8f8fa;
    }

    textarea {
      height: 148px;
    }

    .section__action {
      max-width: 411px;
    }
  }
}
