.section-title {
  text-align: center;
  margin: 0;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;

  @include on-desktop {
    font-size: 48px;
    line-height: 48px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 48px;
  }

  &--title {
    margin: 0;
  }
  &--plan {
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    color: rgba(209, 45, 53, 1);
  }
  &--left {
    text-align: left;
    margin: 0;
    padding-bottom: 32px;
  }
}
