[class*="__wrapper"] {
  @include gridSettings;
}

[class*="__top"] {
  @include topBar;
}

[class*="__logo"] {
  display: block;
  background-repeat: no-repeat;
  width: 130px;
  height: 38px;

  @include onTablet {
    width: 187px;
    height: 56px;
  }
}

[class$="__title"] {
  justify-self: center;
  grid-column: span 2;

  @include onTablet {
    grid-column: span 6;
  }

  @include onDesktop {
    grid-column: span 12;
  }
}

.button {
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  color: $darkColorMain;
  border-radius: 40px;
  padding-block: 15px;
  background-color: #fff;
  text-decoration: none;

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }
}

.title {

  &-main {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;

    @include onTablet {
      font-size: 3rem;
      line-height: 3rem;
    }

    @include onDesktop {
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  &-secondary {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.4;
  }

}

.text-default {
  font-size: 1rem;
  line-height: 1.4;
}
