.short-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;

  @include onTablet {
    padding: 36px 72px;
  }

  @include onDesktop {
    padding: 36px 120px;
  }

  &__image {
    width: 130px;

    @include onTablet {
      width: 187px;
    }
  }

  &__right-block {
    display: flex;
    align-items: center;
    column-gap: 24px;
    height: 24px;

    @include onTablet {
      height: 32px;
      column-gap: 32px;
    }
  }

  &__icon {
    position: relative;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: default;

    @include onTablet {
      height: 32px;
      width: 32px;
    }

    &--phone-number {
      background-image: url(../images/icons/menu-phone.png);

      @include onDesktop {
        &:hover {
          background-position: 100%;
          padding-left: 160px;

          &::before {
            content: "+1 234 555-55-55";
            display: block;
            width: 140px;
            right: 40px;
            top: 10px;
            position: absolute;
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 2px;
          }
        }
      }
    }

    &--open {
      background-image: url(../images/icons/menu-open.png);
      transition-duration: 500ms;
      &:hover {
        background-image: url(../images/icons/menu-hover.png);
      }
    }

    &--close {
      background-image: url(../images/icons/menu-close.png);
    }
  }
}
