@import 'mixins';

.nav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  height: 100vh;
  pointer-events: none;
  background-color: $sideMenuBGColor;
  transition: all 0.3s;
  transform: translateX(100%);
  &:target{
    overflow: hidden;
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }
  &:has(.nav:target) {
    overflow: hidden; /* not to scroll the page */
    .menu {
      overflow: auto; /* to scroll the menu if needed */
    }
  }

  &__list{
    display: flex;
    flex-direction: column;
    margin-inline: var(--margins-main);
    margin-top: 24px;
    gap: 32px;
    list-style: none;
    padding: 0;
  }

  &__link{
    display: inline-block;
    text-decoration: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $sideMenuFontColor;
    position: relative;

    @include hover(color, $sideMenuLinkHover);

    &::after{
      content: '';
      position: absolute;
      bottom: -10%;
      left: 0;
      width: 100%;
      height: 2px;
      background: $sideMenuFontColor;
      transform: scaleX(0);
      transition: transform 0.3s;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__bottom{
    margin-top: 40px;
    margin-left: var(--margins-main);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
  }

  &__bottom_link{
    text-decoration: none;
  }

  &__link_phone{
    text-decoration: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    vertical-align: middle;
    text-transform: uppercase;
    color: $sideMenuFontColor;
    transition: font-size $transitionTime;
    &:hover{
      font-size: 17px;
    }
  }

  &__link-book{
    text-decoration: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    color: $sideMenuFontColor;
    padding-bottom: 8px;
    border-bottom: 1px solid $sideMenuFontColor;
    transition: font-size $transitionTime;
    &:hover{
      font-size: 13px;
    }
  }
}
