.side {
  position: fixed;

  @include headerSizing();

  background-color: $side-menu-bg-color;
  background-size: cover;
  background-position: center;
  color: $header-text-color;

  opacity: 0;
  pointer-events: none;

  &:target {
    opacity: 1;
    pointer-events: all;
  }

  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 568px) {
      width: 32px;
      height: 32px;
    }

    &--close-btn {
      background-image: url("../images/icon-close.svg");
    }
  }

  &__button {
    display: block;

    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    width: fit-content;

    &:hover {
      border-color: $header-text-color;
    }
  }

  &__navbar {
    margin-top: 40px;

    @media screen and (min-width: 992px) {
      margin-top: 55px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 24px;

      &-item {
        font-size: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
  }

  &__info {
    margin-top: 32px;

    @media screen and (min-width: 992px) {
      margin-top: 48px;
    }

    display: flex;
    flex-direction: column;

    line-height: 27px;
    font-size: 16px;
  }

  &__order-text {
    margin-top: 16px;

    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
