.sound-vision {
  &__wrapper {
    display: grid;
    row-gap: 56px;
  }

  &__photos {
    @include page-grid;
  }
  &__photo {
    @include hover(transform, scale(1.2));

    width: 100%;
    height: 100%;
  }

  &__link--left {
    grid-column: 1 / 1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__link--right {
    grid-column: 2 / 2;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }
  &__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
  }
  &__button[type='submit'] {
    @include on-desktop {
      width: 324px;
    }
  }
}
