/* #region page */
html {
  color: #1b2129;
  font-family: "Manrope", sans-serif;
  line-height: 140%;
  font-size: 16px;
}

body {
  margin: 0;
}
/* #endregion */

/* #region header */
.header {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  height: 100vh;
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* #endregion */

/* #region icon */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  display: flex;
  gap: 24px;
}

.header__title {
  margin: 0;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(../images/icon-phone.png);
}

.icon--menu {
  background-image: url(../images/icon-burger-menu.png);
}
/* #endregion */

/* #region footer */
/* .footer {

} */
/* #endregion */
