.container {
  padding-inline: 20px;
  position: relative;
}

@media (min-width: 576px) {
  .container {
    padding-inline: 72px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1020px;
    padding-inline: 120px;
    margin-inline: auto;
  }
}

.museum__hours {
  display: grid;
}

@media (min-width: 576px) {
  .museum__hours {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .museum__hours {
    grid-template-columns: 1fr 1.3fr;
  }
}

.schedule__title {
  font-family: Cinzel, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.museum__schedule {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 24px;
}

.museum__schedule p {
  margin: 8px 0;
}

.schedule__time {
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  margin: 16px 0 0;
}

.schedule__day {
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin: 0;
}

.now-on-view {
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
}

.now-on-view-small-title {
  font-weight: 400;
  text-align: center;
  margin-top: 8px;
}

.now-on-view__item-under-title {
  font-weight: 400;
  text-align: left;
  margin: 0;
}

.now-on-view__item {
  margin-top: 48px;
}

.now-on-view__img {
  place-self: center center;
  width: 100%;
  height: auto;
  transition-duration: 0.5s;
}

.now-on-view__img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.now-on-view .img__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.now-on-view .img__wrap--item2 {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.now-on-view .img__wrap--tablet,
.now-on-view .img__wrap--item2--tablet,
.now-on-view .img__wrap--item3--tablet {
  display: none;
}

.now-on-view .img__wrap--desktop,
.now-on-view .img__wrap--item2--desktop,
.now-on-view .img__wrap--item3--desktop {
  display: none;
}

@media (min-width: 576px) {
  .now-on-view .img__wrap,
  .now-on-view .img__wrap--item2 {
    display: none;
  }

  .now-on-view .img__wrap--tablet,
  .now-on-view .img__wrap--item2--tablet,
  .now-on-view .img__wrap--item3--tablet {
    display: grid;
  }

  .now-on-view .img__wrap--tablet,
  .now-on-view .img__wrap--desktop {
    grid-template-columns: 2fr 1fr;
  }

  .now-on-view .img__wrap--item2--tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  .now-on-view .img__wrap--item3--tablet,
  .now-on-view .img__wrap--item3--desktop {
    grid-template-columns: 1fr 2fr;
  }

  .now-on-view .img--item11,
  .now-on-view .img--item32 {
    max-width: 392px;
    max-height: 186px;
  }

  .now-on-view .img--item12,
  .now-on-view .img--item31 {
    max-width: 184px;
    max-height: 186px;
  }
}

@media (min-width: 992px) {
  .now-on-view .img__wrap--tablet,
  .now-on-view .img__wrap--item2--tablet,
  .now-on-view .img__wrap--item3--tablet {
    display: none;
  }

  .now-on-view .img__wrap--desktop,
  .now-on-view .img__wrap--item2--desktop,
  .now-on-view .img__wrap--item3--desktop {
    display: grid;
  }

  .now-on-view .img__wrap--item2--desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  .now-on-view .img--item11,
  .now-on-view .img--item32 {
    max-width: 672px;
    max-height: 320px;
  }

  .now-on-view .img--item12,
  .now-on-view .img--item31 {
    max-width: 324px;
    max-height: 320px;
  }
}

.now-on-view--btn {
  margin-top: 40px;
  color: #fff;
  padding: 14px 0;
  min-width: 280px;
  text-align: center;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  background-color: #d12d35;
  border: none;
}

@media (min-width: 576px) {
  .now-on-view__btn {
    width: 392px;
  }
}

@media (min-width: 992px) {
  .now-on-view__btn {
    width: 324px;
  }
}

.page {
  font-family: Cinzel, sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

.page:has(.page__menu:target) {
  overflow: hidden; /* not to scroll the page */
}

.top__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px 0;
}

@media (min-width: 576px) {
  .top__bar {
    padding-block: 50px 0;
  }
}

.header {
  background-image: url('../images/bg.png');
  background-size: cover;
  background-position: center;
}

.header__content {
  box-sizing: border-box;
  height: 100vh;
}

.header__top--logo {
  width: 64px;
  height: 46px;
}

.header__icons {
  display: flex;
  gap: 24px;
  align-items: center;
}

@media (min-width: 576px) {
  .header__icons {
    gap: 55px;
  }
}

.menu__footer p {
  margin: 0;
}

.header__icons .tel-menu {
  font-weight: 700;
  line-height: 27px;
  text-align: right;
  color: #fff;
  padding-right: 30px;
  display: none;
  pointer-events: none;
  position: absolute;
  right: 190px;
}

.header__icons .tel-menu h3,
.header__icons .tel-menu p {
  margin: 0;
  transition-duration: 0.5s;
}

.header__icons .tel-menu--phone-number:hover {
  transform: scale(0.95);
}

@media (min-width: 576px) {
  .header__icons .tel-menu {
    gap: 55px;
  }
}

@media (min-width: 992px) {
  .header__icons .tel-menu {
    right: 240px;
  }
}

.header .icon--phone:hover ~ .tel-menu {
  display: none;
  pointer-events: none;
}

@media (min-width: 576px) {
  .header .tel-menu:hover {
    display: block;
    pointer-events: all;
  }

  .header .icon--phone:hover ~ .tel-menu {
    transition-duration: 2s;
    display: block;
    pointer-events: all;
  }
}

.header__bottom {
  margin-top: 129px;
  padding-inline: 20px;
}

@media (min-width: 576px) {
  .header__bottom {
    padding-inline: 72px;
  }
}

@media (min-width: 992px) {
  .header__bottom {
    max-width: 1020px;
    padding-inline: 120px;
    margin-inline: auto;
  }
}

.header__bottom h1 {
  font-family: Cinzel, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.5px;
  text-align: center;
  color: #fff;
  margin: 0;
}

@media (min-width: 576px) {
  .header__bottom {
    margin-top: 141px;
  }

  .header__bottom h1 {
    font-size: 64px;
    line-height: 64px;
  }
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  transition-duration: 0.4s;
}

@media (min-width: 576px) {
  .icon {
    height: 32px;
    width: 32px;
  }
}

.icon--phone {
  background-image: url('../images/icons/icon-phone-call.png');
}

.icon--menu {
  background-image: url('../images/icons/icon-burger-menu.png');
}

.icon--close {
  background-image: url('../images/icons/icon-close.png');
}

.icon:hover {
  transform: scale(1.2);
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #d12d35;
  text-transform: uppercase;
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  color: #fff;
  overflow: auto;
  transition-duration: 0.5s;
}

.menu__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px 0;
}

@media (min-width: 576px) {
  .menu__bar {
    padding-block: 50px 0;
  }
}

.menu__content {
  margin-top: 40px;
}

.menu__top--logo {
  width: 64px;
  height: 46px;
}

.menu__phone-number {
  color: inherit;
  text-decoration: none;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.contacts--address a {
  text-decoration: none;
  color: inherit;
}

.contacts--phone a {
  color: inherit;
  text-decoration: none;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-size: 16px;
  font-weight: 700;
}

.menu__phone-number a:hover {
  transform: scale(0.9);
}

.menu__call-to-order {
  color: inherit;
  width: fit-content;
  text-decoration: none;
  padding-bottom: 7px;
  margin-top: 16px;
  font-family: Cinzel, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
}

.menu__call-to-order:hover {
  border-bottom: 1px solid #fff;
}

.menu__nav {
  margin-bottom: 32px;
}

.menu__footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.nav__link:hover {
  border-bottom: 1px solid #fff;
}

.section__title {
  font-family: Cinzel, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  color: #161616;
  margin: 0;
}

@media (min-width: 576px) {
  .section__title {
    font-size: 48px;
    line-height: 48px;
  }
}

.section__title--align-left {
  text-align: left;
}

.museum__small-title {
  font-family: Cinzel, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.8px;
  text-align: left;
  margin: 0;
  color: #d12d35;
}

.item__title {
  font-weight: 700;
  text-align: left;
  color: #d12d35;
  margin: 24px 0 0;
}

.item__title--explore {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}

.main__content {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  padding-block: 100px;
}

@media (min-width: 576px) {
  .main__content {
    row-gap: 140px;
    padding-block: 140px;
  }
}

.main .btn {
  transition-duration: 0.4s;
}

.main .btn:hover {
  background-color: #ae1c23;
  cursor: pointer;
}

.main .btn:active {
  background-color: #eb343d;
}

.explore-online {
  color: #161616;
}

.explore-online__wrap {
  margin: 40px 0 24px;
}

.explore-online__wrap--img--tablet,
.explore-online__wrap--img--desktop {
  display: none;
}

@media (min-width: 576px) {
  .explore-online__wrap {
    margin: 48px 0 32px;
  }

  .explore-online__wrap--img {
    display: none;
  }

  .explore-online__wrap--img--tablet {
    display: block;
  }
}

@media (min-width: 992px) {
  .explore-online__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .explore-online__wrap--img--tablet {
    display: none;
  }

  .explore-online__wrap--img--desktop {
    display: block;
  }
}

.explore-online__item {
  text-align: center;
}

.explore-online--under--title {
  font-family: Roboto, Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.contacts__content {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-top: 48px;
}

@media (min-width: 576px) {
  .contacts__content {
    --columns: 6;
    
    column-gap: 24px;
  }
}

@media (min-width: 992px) {
  .contacts__content {
    --columns: 12;
  }
}

.contacts__wrap {
  text-align: left;
  grid-column: 1/4;
}

@media (min-width: 992px) {
  .contacts__wrap {
    display: grid;
    grid-column: span 6;
    grid-template-columns: repeat(2, 1fr);
  }
}

.contacts--phone-title,
.contacts--address--title {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.contacts--address {
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
}

.contacts--phone,
.contacts--address {
  color: #3e3e3e;
  transition-duration: 0.3s;
}

.contacts--phone:hover {
  transform: scale(1.1);
}

.contacts--address:hover {
  transform: scale(1.1);
}

.contacts__form {
  outline-style: none;
  display: grid;
  gap: 16px;
  min-width: 280px;
  max-width: 288px;
  margin: auto;
  margin-top: 48px;
  max-height: 376px;
}

.contacts__form--message,
.contacts__form input {
  outline: none;
  color: #7e7e83;
  background-color: #f8f8fa;
  border: none;
  padding: 14px 10px;
  height: 20px;
  font-family: Cinzel, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.contacts__form--message {
  resize: none;
  height: 116px;
}

.contacts__form button {
  color: #fff;
  padding: 14px 0;
  text-align: center;
  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  background-color: #d12d35;
  border: none;
}

.contacts__form button:hover {
  cursor: pointer;
}

@media (min-width: 576px) {
  .contacts__form {
    margin: 0;
    grid-column: 4/-1;
  }
}

@media (min-width: 992px) {
  .contacts__form {
    grid-column: 8/-1;
    max-width: 411px;
  }
}

.contacts__form--message:hover,
.contacts__form input:hover {
  color: #161616;
}

.contacts__form--message:focus-visible,
.contacts__form input:focus-visible {
  outline: 1px solid #161616;
}

.footer {
  background-image: url('../images/footer-bg.png');
  background-size: cover;
  background-position: center;
  height: 180px;
  z-index: -1;
}

@media (min-width: 576px) {
  .footer {
    height: 359px;
  }
}

/*# sourceMappingURL=style.css.map */
