/* #region page */

.page {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #fff;

  scroll-behavior: smooth;
}

.page__body {
  all: unset;
  background-color:#1D1D1D;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

/* #endregion */

/* #region header */

.header {
 background-image: url(/src/images/header-bg-mobile.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position-x: 80%;
 height: 100vh;
 box-sizing: border-box;

 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.header__bottom {
  padding: 0 20px 40px;
}

.header__title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
}

/* #endregion */

/* #region menu */

.menu__top {
  margin-bottom: 24px;
}

.menu__content {
  padding-inline: 20px;
}

.menu {
  height: 100vh;
  box-sizing: border-box;
  background-color: #C2C2C2;
  font-weight: 600;
}

.menu:target {
  opacity: 1;
  pointer-events: all;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__phone-number {
  display: block;
  margin-bottom: 16px;
  color: #1D1D1D;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
}

.menu__test-ride {
  display: block;
  padding-bottom: 7px;
  border-bottom: 2px solid #1D1D1D;
  width: fit-content;

  color: #1D1D1D;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 2px;
}

/* #endregion */

/* #region top-bar */
.top-bar {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar__logo {
  display: flex;
}

/* #endregion */

/* #region nav */
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  text-decoration: none;
  color: #1D1D1D;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

/* #endregion */

/* #region icons */

.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url(/src/images/icon-phone.png);
}

.icon--menu {
  background-image: url(/src/images/icon-burger-menu.png);
}

.icon--close {
  background-image: url(/src/images/icon-close.png);
}

/* #endregion */

/* #region main */
.main__section {
  margin-block: 0;
  margin-inline: 20px;
}

.main__section__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
  margin: 0;
  text-align: center;
}

.main__section__about__title {
  text-align: left;
}

.about {
  margin-block: 60px 92px;
}

.about__text {
  font-weight: 500;
  font-size: 23px;
  line-height: 140%;
  margin-block: 32px 0;
}

.main__section__compare__title {
  margin-bottom: 48px;
}

.compare__bike:not(:last-of-type) {
  margin-bottom: 40px;
}

.compare__bike__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin-top: 32px;
}

.compare__bike__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-top: 8px;
}

.compare__bike__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin-top: 16px;
}

.main__section__details__title {
  margin-block: 92px 48px;
}

.details__bike {
  margin-bottom: 40px;
}

.details__bike__images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 16px;
}

.details__bike__features {
  line-height: 140%;
}

.details__bike__features--name {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;

  margin-bottom: 8px;
}

.details__bike__features--about {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.main__explore {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-inline: 20px;
  margin-bottom: 80px;
}

.main__explore__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  align-items: center;

  width: 278px;
  height: 56px;
  padding-inline: 48px;
  border-radius: 40px;
}

.contacts__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts__button::placeholder {
  color: #7E7E83;
}

.contacts__button:not(:last-child) {
  height: 48px;
  width: 278px;
  border-radius: 40px;
  padding-left: 16px;

  margin-bottom: 16px;
}

.contacts__button--comment {
  width: 278px;
  height: 148px;
  border-radius: 16px;
  padding: 14px 16px;

  margin-bottom: 32px;
}

/* #endregion */

/* #region footer */

/* .footer {

} */

/* #endregion */
