.televisions {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include onTablet {
      flex-direction: row;
    }

    @include  onDesktop {
      flex-direction: row;
      gap: 111px;
    }
  }

  &__photo {
    position: relative;
    width: 100%;
    max-height: 200px;

    @include onTablet {
      max-height: 400px;
    }

    @include onDesktop {
      max-height: 460px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: inherit;
    background-position: center;

    //@include onTablet {
    //  max-height: 400px;
    //}
    //
    //@include onDesktop {
    //  max-height: 460px;
    //}
  }

  &__content {
    display: flex;
    background-color: #fcfaef;
    padding: 48px 0;

    &__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      margin: 0;

      @include onTablet {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
      }

      @include onDesktop {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 22.4px;
      margin: 0;

      @include onTablet {
        width: 100%;
        max-width: 288px;
      }

      @include onDesktop {
        width: 100%;
        max-width: 411px;
      }
    }

    @include  onTablet {
      padding: 120px 0;
    }
  }
}
