.the-details {
  &__wrapper {
    display: grid;
    row-gap: 40px;
    margin-bottom: 40px;

    @include on__tablet {
      row-gap: 48px;
      margin-bottom: 48px;
    }
  }

  &__bottom {
    width: 100%;
    text-align: center;
  }

  &__button {
    width: 100%;

    @include on__tablet {
      width: 392px;
    }

    @include on__desktop {
      width: 324px;
    }
  }
}
