.timeless {
  background-color: #fcfaef;

  margin-top: 96px;

  @include on-desktop {
    margin-top: 96px;
  }

  &__img {
    height: 200px;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }

  &__item {
    @include page-grid;

    padding-block: 48px;
    padding-inline: 20px;


    @include on-tablet {
      padding-inline: 72px;
      padding-block: 120px;
    }

    @include on-desktop {
      padding: 120px;
    }

    &-title {
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      margin: 0;

      grid-column: 1 / -1;

      @include on-tablet {
        grid-column: 1 / 4;
        font-size: 40px;
        line-height: 40px;
      }

      @include on-desktop {
        grid-column: 1 / 7;
        font-size: 48px;
      }
    }

    &-text {
      grid-column: 1 / -1;
      margin-top: 24px;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.15px;

      @include on-tablet {
        grid-column: 4 / 7;
        margin: 0;
      }

      @include on-desktop {
        grid-column: 8 / 13;
        margin: 0;
      }
    }
  }
}
