.top-bar {
  padding: 36px 120px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    display: flex;
    gap: 32px;
  }

  &__logo {
    display: flex;
  }
}
