.Logo {
  width: 130px;
  height: 38px;
  transition: transform $transition-time;

  &:hover {
    transform: scale(1.2);
  }

  @include onTablet{
    width: 187px;
    height: 56px;
  }
}

.top-bar {
  box-sizing: border-box;
  padding-block: 24px;

  @include onTablet {
    padding-block: 36px;
  }
  
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
  }
}
