.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: $logo_height_mb;

    @include icons-hover(transform, scale(1.25));

    &--header {
      @include for-tablets {
        height: 65px;
        width: 87px;
      }
    }
  }
}
