.top-bar {
  display: flex;
  padding-block: 0;
  @include contentPadingInline;
  justify-content: space-between;
  height: 86px;
  align-items: center;

  @include onTablet {
    height: 110px;
  }

  @include onDesktop {
    height: 128px;
  }

  &__logo {
    display: flex;
  }

  &__icon {
    display: flex;
  }

  &__img {
    @include onDesktop {
      width: 187px;
      height: 56px;
    }
  }
}
