body {
  margin: 0;
  font-family: $font-family;
  scroll-behavior: smooth;
}

.header {
  background: url('../images/background-thumb.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-inline: $padding-mobile;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    padding-inline: 120px;
  }

  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 36px;

    &__icons {
      display: flex;
      gap: 24px;
    }

    &__logo-link {
      display: flex;
    }

    &__logo {
      height: 24px;

      @include hover(transform, scale(1.1));
    }
  }

}

.bottom{
  padding-bottom: 40px;

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #FFF;
  }
}

body:has(.menu:target) {
  overflow: hidden; /* not to scroll the page */
}
