@import 'variable';

.image {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  transition: transform $animation-speed ease;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

a {
  display: block;
  width: 100%;
  height: fit-content;
}

.icons {
  display: flex;
  gap: 32px;
  background-size: contain;

  @media (max-width: $phone-format) {
    gap: 24px;
  }
}

.icon {
  height: 32px;
  width: 32px;
  transition: opacity $animation-speed ease;
  background-size: contain;
  
  @media (max-width: $phone-format) {
    height: 24px;
    width: 24px;
  }

  &-phone {
    @include bg-icon-style(url(../pictures/Phone-icon.svg));

    position: relative;

    &::before {
      pointer-events: none;
      position: absolute;
      content: '+1 234 5555-55-55';
      width: max-content;
      display: block;
      color: white;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      right: 50px;
      opacity: 0;
      transition: opacity $animation-speed ease;
    }

    @media (min-width: $tablet-format) {
      &:hover::before {
        opacity: 1;
      }
    }
  }

  &-menu {
    @include bg-icon-style(url(../pictures/Menu-icon.svg));

    transition: opacity $animation-speed ease;
  }

  &--close {
    @include bg-icon-style(url(../pictures/Close-icon.svg));
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.button {
  height: 56px;
  border-radius: 40px;
  background-color: white;
  font-family: $main-font;
  font-weight: $bold-font-weight;
  font-size: 16px;
  line-height: 27px;
  border-style: none;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
    cursor: pointer;
  }

  &:active {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
  }
}

.input {
  font-family: $main-font;
  background-color: #f8f8fa;
  border-radius: 40px;
  grid-column: 1/-1;
  padding-left: 16px;
  outline: none;
  border: none;

  &-webkit-autofill,
  &-webkit-autofill:hover,
  &-webkit-autofill:focus {
    color: white;
  }

  &::placeholder {
    transition: color 0.3s ease;
  }

  &__name,
  &__email {
    height: 48px;
    margin-bottom: 16px;
  }

  &__message {
    padding: 14px 16px;
    line-height: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    height: 148px;
    resize: none;
  }

  &:hover {
    cursor: pointer;

    &::placeholder {
      color: #292929;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 85%;
  width: 100%;
  background-image: url(../pictures/Footer-image.svg);
  z-index: -1;
  height: 555px;

  @media (max-width: $tablet-format) {
    height: 480px;
  }

  @media (max-width: $phone-format) {
    height: 200px;
  }
}
