:root {
  --primary-color: #3498db;
  --red-main: rgba(209, 45, 53, 1);
  --red-hover: rgba(174, 28, 35, 1);
  --active-red: rgba(235, 52, 61, 1);
  --black-main: rgba(22, 22, 22, 1);
  --white-main: rgba(255, 255, 255, 1);
  --input-color: rgba(248, 248, 250, 1);
  --border-color: rgba(213, 215, 222, 1);
  --hover-transition: 0.3s;
}
