$text-dark: #1d1d1d;
$text-light: #fff;
$background-light: #f8f8fa;
$color-shadow: #e8e8f0;
$input-dark: #292929;
$text-hover: #ddd;
$text-active: #bbb;
$input-lite: #d5d7de;
$bg-menu: #e5e5e5;

$tablet-min-width: 576px;
$desctop-min-width: 1024px;

$effectDuration: 0.3s;
$scale: scale(1.2);
