$tablet-width: 744px;
$desktop-width: 1260px;
$default-font-size: 16px;
$default-line-height: 22.4px;
$default-font-weight: 400;
$accent-font-size: 24px;
$accent-line-height: 33.6px;
$accent-font-weight: 700;
$text-color-light: #fff;
$text-color-dark: #1d1d1d;
$bg-color-light: #c2c2c2;
$bg-color-dark: #1d1d1d;
$shadow-color-hover: #e8e8f066;
$shadow-color-active: #e8e8f0a3;
$border-color-hover: #d5d7de;
$border-color-active: #292929;
