$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$font-size-biggest: 36px;
$font-size-h2: 32px;
$font-size-h3: 18px;
$font-size-normal: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height: 140%;
$white: #fff;
$color-title: #292929;
$color-bg-menu: #e5e6e8;
$color-contacts-item: #9393a3;
$color-contacts-communication: #191919;
$color-hover-button: #f8f8fa;
$color-border-button-hover: #f0f1f4;
$color-button-active: #111;
$color-input-hover: #d5d7de;
$font-family-title: 'Space Grotesk', sans-serif;
$font-family-text: 'Space Mono', sans-serif;
$appear-duration: 2s;
$delay-header: .3s;
$delay-header-title: .6s;
$delay-recommend: .9s;
$delay-categories: 1.2s;
$delay-contact-us: 1.5s;
$delay-about-contacts-us: 1.8s;
