$text-color:#292929;
$background-color:#ececec;

@mixin transition {
  transition: transform 0.3s;
}

@mixin topElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin onTablet {
  @media (min-width:744px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width:1260px) {
    @content;
  }
}
