$whiteColor: #fff;
$blackColor: #161616;
$redColor: #d12d35;
$hoverColor: #ae1c23;
$activeColor: #eb343d;
$linkColor: #3e3e3e;
$inputBackgroundColor: #f8f8fa;
$placeholderColor: #7e7e83;
$sideIntendTablet: 72px;
$sideIntendSmartphone: 20px;
$sideIntendDesktop: 120px;
$paddingTablet: 140px 72px;
$paddingSmartphone: 100px 20px;
$paddingDesktop: 140px 120px;
