$tablet-min-width: 744px;

// $desctop-min-width: 1260px;

// $tablet-min-width: 576px;
$desctop-min-width: 1024px;
$effectDuration: 0.3s;
$main-color: #fff;
$main-accent-color: #D12D35;
$hover-color: #AE1C23;
$pressed-color: #EB343D;
$primary-bg-color: #F8F8FA;
$main-dark-color: #161616;
$primary-dark-color: #3E3E3E;
