@import './utils/mixin';
@import './utils/mass';

.visit {
  padding: 138px 0;

  @include on-mobile {
    padding: 100px 0;
  }

  &__wrapper {
    display: grid;

    @include on-mobile {
      display: flex;
      justify-content: center;
    }

    @include inline-padding;
  }
}

.visit__info {
  @include page-grid;

  &-lists {
    display: flex;
    gap: 25px;
  }

  &-close {
    margin-bottom: 24px;
  }

  &-titles {
    grid-column: span 5;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-mobile {
      grid-column: span 2;
      padding-bottom: 32px;
    }

    &-large {
      margin: 0;

      @include title;
    }

    &-small {
      color: red;
      font-size: 12px;
      font-weight: 700;
      margin: 0;
    }
  }

  &-data {
    grid-column: span 7;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-mobile {
      grid-column: span 2;
    }
  }
  &-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
  }

  &-nav {
    list-style: none;
    padding-top: 16px;
  }

  &-list {
    padding: 0;
    list-style: none;
  }

  &-time {
    padding-bottom: 8px;
    margin: 0;

    @include small-text(rgba(22, 22, 22, 1), 700);
  }
  &-days {
    padding-bottom: 8px;
    margin: 0;

    @include small-text(rgba(22, 22, 22, 1), 400);
  }
}
