.welcome {
  background-image: url(../img/header/header-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 101vh;

  color: $main-white-color;

  text-transform: uppercase;

  transform: translateY(-98px);

  &__title {
    max-width: 270px;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 129px + 96px;

    @media (min-width: 744px) {
      max-width: 450px;
      font-size: 64px;
      padding-top: 141px + 96px;
    }

    @media (min-width: 1260px) {
      max-width: 550px;
      font-size: 80px;
      padding-top: 83px + 96px;
    }
  }
}
