.wrapper {
  max-width: 320px;
  margin: 0;
  padding-inline: 20px;
  box-sizing: border-box;

  @include on-tablet {
    max-width: 744px;
    padding-inline: 72px;
  }

  @include on-desktop {
    max-width: 1260px;
    padding-inline: 120px;
  }
}
