html,body,ul,li,button,h1,h2,h3,h4,h5,p,a{
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
}

a {
  color: inherit;
}

input {
  border: none;
}

body {
  font-family: Poppins,sans-serif;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}
