.now-on-view {
  @include now-on-view-grid;

  &__title {
    @include now-on-view-title-grid;
  }

  &__title-name {
    justify-self: center;
    width: max-content;
  }

  &__subscription {
    width: inherit;
    justify-self: center;
    text-align: center;
    font-weight: 400;
    line-height: 27px;
  }

  &__container {
    @include now-on-view-container-grid;
  }

  &__pictures {
    @include now-on-view-pictures-gap;

    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    width: 100%;

    &--three {
      gap: 8px;
    }
  }

  &__picture {
    object-fit: cover;
    width: 100%;

    &--visibility {
      @include now-on-view-picture-visibility;
    }
  }

  &__scene-info {
    @include now-on-view-scene-info-grid;
  }

  &__inscription {
    line-height: 27px;
  }

  &__date {
    line-height: 27px;
    font-weight: 400;
  }

  &__button {
    @include now-on-view-button-grid;

    margin-top: -8px;
  }
}
