.compare-bikes {
  margin-bottom: $basic-margin-bot;
  scroll-margin-top: 100px;

  @include on-tablet {
    margin-bottom: 120px;
  }

  @include on-desktop {
    margin-bottom: 144px;
  }

  &__product {
    display: grid;
    row-gap: $main-gap;

    @include on-tablet {
      justify-items: center;
      row-gap: $main-gap * 2;
      padding: 0 104px;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: $main-gap;
      padding: 0;
    }
  }
}
