.details {
  display: flex;
  flex-direction: column;
  gap: $main-gap * 2;
  margin-bottom: $basic-margin-bot;
  scroll-margin-top: 100px;

  @include on-tablet {
    margin-bottom: 120px;
  }

  @include on-desktop {
    margin-bottom: 180px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
  }

  &__photo {
    display: flex;
    gap: $main-gap;
  }

  &__image {
    display: grid;
    grid-template-columns: 7fr 3fr;
    object-fit: cover;
    min-width: 0;
    height: 130px;
    border-radius: 4px;

    &--1 {
      grid-column: 1;
      transition: transform 0.6s;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    &--2 {
      grid-column: 2;
      transition: transform 0.6s;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    @include on-tablet {
      display: grid;
      grid-template-columns: 7fr 3fr;
      height: 350px;

      &--1 {
        grid-column: 1;
      }

      &--2 {
        grid-column: 2;
      }
    }

    @include on-desktop {
      display: grid;
      grid-template-columns: 7fr 3fr;
      height: 420px;

      &--1 {
        grid-column: 1;
      }

      &--2 {
        grid-column: 2;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    margin: 0 auto;
    height: 60px;
    width: 250px;
    padding: 0 20px;
    cursor: pointer;

    transition: box-shadow 300ms;

    &:hover {
      box-shadow: 1px 2px 10px #e8e8f0a3;
    }

    &:active {
      box-shadow: 1px 4px 16px #e8e8f0a3;
    }

    @include on-tablet {
      width: 390px;
    }

    @include on-desktop {
      width: 325px;
    }
  }
}
