.section-5 {
  display: grid;
  padding-top: 5dvw;
  padding-bottom: 7dvw;
  justify-content: center;
}
.section-5 .contact__title {
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  grid-row: 1/1;
  font-weight: bold;
  margin-bottom: 2dvw;
}
.section-5 .article-list {
  grid-row: 2/2;
}
.section-5 .article-list .contact-card {
  display: flex;
  flex-direction: column;
  gap: 1dvw;
}
.section-5 .article-list .contact-card .contact__name {
  font-size: 16px;
  font-weight: bold;
}
.section-5 .article-list .contact-card .contact-phone, .section-5 .article-list .contact-card .contact-address {
  display: flex;
  flex-direction: column;
  gap: 1dvw;
}
.section-5 .article-list .contact-card .contact-phone .contact-phone__label, .section-5 .article-list .contact-card .contact-address .contact-phone__label {
  font-size: 14px;
  font-weight: normal;
}
.section-5 .article-list .contact-card .contact-phone .contact-phone__number, .section-5 .article-list .contact-card .contact-address .contact-phone__number {
  font-size: 16px;
  font-weight: bold;
  font-line-height: 140%;
}
.section-5 .article-list .contact-card .contact-phone .contact-address__label, .section-5 .article-list .contact-card .contact-address .contact-address__label {
  font-size: 14px;
  font-weight: normal;
}
.section-5 .article-list .contact-card .contact-phone .contact-address__addr, .section-5 .article-list .contact-card .contact-address .contact-address__addr {
  font-size: 16px;
  font-weight: bold;
  font-line-height: 140%;
}
.section-5 .form-contact {
  grid-row: 2/2;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.section-5 .form-contact textarea, .section-5 .form-contact input, .section-5 .form-contact button {
  outline: none;
  border: none;
  padding: 1dvw;
  color: #161616;
}
.section-5 .form-contact textarea {
  resize: none;
}
.section-5 .form-contact input ::-moz-placeholder, .section-5 .form-contact textarea ::-moz-placeholder {
  color: #7E7E83;
  font-size: 14px;
  font-weight: 400;
}
.section-5 .form-contact input ::placeholder, .section-5 .form-contact textarea ::placeholder {
  color: #7E7E83;
  font-size: 14px;
  font-weight: 400;
}
.section-5 .form-contact input:active, .section-5 .form-contact textarea:active {
  border: 1px solid #161616;
}
.section-5 .form-contact input:focus, .section-5 .form-contact textarea:focus {
  border: 1px solid #161616;
}
.section-5 .form-contact input:focus::-moz-placeholder, .section-5 .form-contact textarea:focus::-moz-placeholder {
  visibility: hidden;
}
.section-5 .form-contact input:focus::placeholder, .section-5 .form-contact textarea:focus::placeholder {
  visibility: hidden;
}
.section-5 .form-contact input:hover, .section-5 .form-contact textarea:hover {
  border: 1px solid #D5D7DE;
}
.section-5 .form-contact input:hover::-moz-placeholder, .section-5 .form-contact textarea:hover::-moz-placeholder {
  color: #161616;
}
.section-5 .form-contact input:hover::placeholder, .section-5 .form-contact textarea:hover::placeholder {
  color: #161616;
}
.section-5 .form-contact > label > input, .section-5 .form-contact > label > textarea {
  background-color: #f8f8fa;
}
.section-5 .form-contact button {
  background-color: #D12D35;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.section-5 .form-contact button:hover {
  background-color: #ae1c23;
}
.section-5 .form-contact button:active {
  background-color: #eb343d;
}
@media screen and (min-device-width: 1030px) and (max-device-width: 2600px) {
  .section-5 {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
  .section-5 .contact__title {
    font-size: 48px;
    grid-column: 5/9;
  }
  .section-5 .article-list {
    grid-column: 2/7;
    display: inline-flex;
    justify-content: space-evenly;
  }
  .section-5 .article-list .contact-card:nth-child(3) {
    grid-column: 2/5;
  }
  .section-5 .article-list .contact-card:nth-child(2) {
    grid-column: 5/8;
  }
  .section-5 .form-contact {
    grid-column: 7/11;
  }
  .section-5 .form-contact input, .section-5 .form-contact textarea, .section-5 .form-contact button {
    width: 411px;
  }
  .section-5 .form-contact input {
    height: 30px;
  }
  .section-5 .form-contact textarea {
    height: 100px;
  }
}
@media screen and (min-device-width: 744px) and (max-device-width: 1029.99px) {
  .section-5 {
    grid-template-columns: repeat(6, 100px);
    gap: 24px;
    margin: 0 30px;
    justify-content: center;
  }
  .section-5 .contact__title {
    display: flex;
    width: 100dvw;
    justify-content: center;
    font-size: 48px;
    margin-left: -2.5rem;
  }
  .section-5 .article-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 2/4;
    margin-right: 2dvw;
  }
  .section-5 .form-contact {
    justify-content: stretch;
    grid-column: 4/6;
    grid-row: 2/2;
  }
  .section-5 .form-contact input, .section-5 .form-contact textarea, .section-5 .form-contact button {
    width: 270px;
  }
  .section-5 .form-contact input {
    height: 30px;
  }
  .section-5 .form-contact textarea {
    height: 100px;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 743.99px) {
  .section-5 {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin: 0 50px;
  }
  .section-5 .contact__title {
    font-size: 36px;
    justify-self: center;
  }
  .section-5 .article-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 2dvw;
  }
  .section-5 .form-contact {
    grid-column: 1/2;
    grid-row: 3/3;
  }
  .section-5 .form-contact input, .section-5 .form-contact textarea, .section-5 .form-contact button {
    width: 75dvw;
  }
  .section-5 .form-contact input {
    height: 30px;
  }
  .section-5 .form-contact textarea {
    height: 100px;
  }
  .section-5 .form-contact button {
    padding: 2dvw;
  }
}/*# sourceMappingURL=section-5.css.map */