@import './mixinsSection5.sass'

.section-5
    display: grid
    padding-top: 5dvw
    padding-bottom: 7dvw
    justify-content: center
    .contact__title
        width: max-content
        text-align: center
        grid-row: 1 / 1
        font-weight: bold
        margin-bottom: 2dvw
    .article-list
        grid-row: 2 / 2
        .contact-card
            display: flex
            flex-direction: column
            gap: 1dvw
            .contact__name
                    font:
                        size: 16px
                        weight: bold
            .contact-phone, .contact-address
                display: flex
                flex-direction: column
                gap: 1dvw
                .contact-phone__label
                    font:
                        size: 14px
                        weight: normal
                .contact-phone__number
                    font:
                        size: 16px
                        weight: bold
                        line-height: 140%
                .contact-address__label
                    font:
                        size: 14px
                        weight: normal
                .contact-address__addr
                    font:
                        size: 16px
                        weight: bold
                        line-height: 140%
    .form-contact
        grid-row: 2 / 2
        display: flex
        flex-direction: column
        gap: 23px
        textarea, input, button
            outline: none
            border: none
            padding: 1dvw
            color: #161616
        textarea
            resize: none
        input, textarea
            ::placeholder
                color: #7E7E83
                font:
                    size: 14px
                    weight: 400
            &:active
                border: 1px solid #161616
            &:focus
                border: 1px solid #161616
                &::placeholder
                    visibility: hidden
            &:hover
                border: 1px solid #D5D7DE
                &::placeholder
                    color: #161616
                    
        > label
            > input, > textarea
                background-color: #f8f8fa
        button
            background-color: #D12D35
            color: #fff
            font:
                size: 16px
                weight: bold
            &:hover 
                background-color: #ae1c23
            &:active
                background-color: #eb343d

    @include onDesktopSection5(12)
    @include onTabletSection5(6)
    @include onMobileSection5(1)
    
    