@mixin on-phone {
  @media screen and (max-width: $phone-max-width) {
    @content;
  }
}

@mixin on-tablet {
  @media screen and (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media screen and (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-pading-inline() {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    padding-inline: 120px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
    filter: brightness(0.2) invert(1);
  }
}
