.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $red-color;
  text-transform: uppercase;
  color: $fff;

  &__top {
    margin-bottom: 40px;
  }

  &__nav {
    margin-bottom: 32px;
  }

  &__content {
    @include constentPaddingInLine;
  }

  &__phone-number {
    margin-bottom: 8px;
    display: block;
  }

  &__call-to-order {
    width: fit-content;
    padding-bottom: 7px;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;

    &::after {
      content: "";
      bottom: 8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $fff;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}

.phone-number-cloisters {
  margin-bottom: 16px;
}
