.popup {
  position: absolute;
  text-align: right;
  width: 201px;
  display: none;
  pointer-events: all;

  &__address {
    line-height: 1.68;
    color: $fff;
    text-transform: uppercase;
  }

  &__phone {
    line-height: 1.68;
    color: $fff;

    @include hover(color, $red-color);
  }

  &__address--gap {
    margin-top: 8px;
  }
}

.popup--visible {
  display: block;
  right: 120%;
  transform: translateY(0%);

  @include tablet {
    transform: translateY(-35%);
  }
}

@media (max-width: 405px) {
  .top-bar__popup {
    position: absolute;
    right: 95%;
    transform: translateY(30%);
  }
}

@media (max-width: 320px) {
  .top-bar__popup {
    position: absolute;
    right: 95%;
  }
}

.icon--phone:hover + .popup {
  @include tablet {
    right: 120%;
    display: block;
    transform: translateY(-35%);
  }

  @include desktop {
    right: 120%;
    transform: translateY(-35%);
  }
}
