.popup {
  position: fixed;
  text-align: right;
  top: 3%;
  right: 25%;
  display: none;

  &__address {
    line-height: 1.68;
    color: $fff;
    text-transform: uppercase;
  }
  &__phone {
    line-height: 1.68;
    color: $fff;
  }
  &__address--gap {
    margin-top: 8px;
  }
}

.icon--phone:hover + .popup {
  @include tablet {
    display: block;
    pointer-events: all;
    cursor: pointer;
    top: 3%;
    right: 18.5%;
  }

  @include desktop {
    right: 29%;
  }
}
