.contact {
  margin-block: 64px;

  @include onTablet {
    margin-block: 120px;
  }

  &__submit-button {
    border: 0;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    line-height: 27px;
    margin-top: 16px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 111px;

    @include onDesktop {
      flex-direction: row;
    }
  }

  &__block1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    &__info {
      padding: 14px 16px;
      outline: none;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.15px;
      box-sizing: border-box;
      border-radius: 10px;
      border: $white-color;
      width: 100%;
      height: 50px;
    }

    &__info:hover {
      border: 1px solid #dbdbdb;
    }

    &__info:focus {
      border: 2px solid $button-color;
    }

    &__field {
      padding: 14px 16px;
      font-family: Manrope, sans-serif;
      width: 100%;
      border: 2px solid $white-color;
      box-sizing: border-box;
      outline: none;

      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.15px;
    }

    &__field:focus {
      border: 2px solid $button-color;
    }
  }

  &__block2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__href {
      text-decoration: none;
      color: #191919;
      line-height: 140%;
    }

    &__title {
      margin: 0;
      color: #9393a3;
    }
  }
}
