.icon {
  display: inline-block;
  height: 32px;
  width: 32px;
  gap: 32px;
  position: relative;

  &--phone {
    background-image: url(../images/icons-logo/icon-phone-call.svg);
    background-size: cover;

    &::before {
      content: '+1 234 555-55-55';
      position: absolute;
      font-weight: 700;
      line-height: 16px;
      margin-right: 12px;
      letter-spacing: 2px;
      white-space: nowrap;
      top: 50%;
      right: 100%;
      transform: translateY(-50%);

      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.6s ease,
        visibility 0.6s ease;
      color: #fff;
      font-size: 12px;

      @media (max-width: 425px) {
        font-size: 8px;
      }
    }

    &:hover::before {
      opacity: 1;
      visibility: visible;
    }
  }

  &--burger {
    background-image: url(../images/icons-logo/icon-burger.svg);
    background-size: cover;

    &:hover {
      background-image: url(../images/icons-logo/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons-logo/icon-close.svg);
    background-size: cover;
  }
}
