.product {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__title {
    margin: 24px 0 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
  }

  &__photo {
    width: 100%;
  }

  &__price {
    margin: auto 0 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
  }

  &__prescription {
    margin: 8px 0 12px;
    font-family: $description-font;
  }
}
