.about-us {
  &__content {
    gap: 32px;

    @include page-grid;
  }

  &__title {
    grid-column: 1 / -1;

    margin: 0;
    padding: 0;

    @include on-tablet {
      grid-column: 1 / 4;
      column-gap: 24px;
    }

    @include on-small-desktop {
      grid-column: span 5;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 23px;
    letter-spacing: 0;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-small-desktop {
      grid-column: span 6;
    }
  }
}
