.contact {
  @include pageGrid;

  row-gap: 48px;

  &__title {
    grid-column: 1 / -1;
  }

  &__input-form {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__reference-info {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: 8 / 11;
    }
  }
}
