.main {
  background-color: $main-black-color;

  &__content {
    display: flex;
    padding-top: 60px;
    padding-bottom: 120px;

    flex-direction: column;

    row-gap: 80px;

    @include onTablet {
      padding-top: 120px;
      padding-bottom: 102px;
      row-gap: 120px;
    }

    @include onDesktop {
      padding-bottom: 164px;
      row-gap: 180px;
    }
  }
}
