.product {
  &__link {
    all: unset;
    cursor: pointer;
    text-decoration: none;
  }

  &__photo {
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
  }

  &__title {
    margin-top: 1rem;
    font-weight: 600;
  }

  &__description {
    font-weight: 400;
    letter-spacing: 0;
  }

  &__price {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    letter-spacing: 0;
  }
}
