@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/Poppins-Bold.ttf');
  font-weight: 700;
}
