$screen-min-width: 320px;
$tablet-min-width: 744px;
$desktop-min-width: 1260px;

$text-color-primary: #292929;
$text-color-input: #7e7e83;
$text-color-contacts-type: #9fadc2;
$text-color-contacts: #3e3e3e;

$background-color: #fff;
$input-color: #f8f8fa;
$input-border-color: #d5d7de;
$button-color: #292929;

$effect-duration: 0.5s;
