$main-clr: #292929;
$black-accent: #111;
$white-clr: #fff;
$light-gray-clr: #f8f8fa;
$soft-gray-clr: #f0f1f4;
$medium-gray-clr: #d5d7de;
$gray-gray-clr: #b5b5c2;
$gray-clr: #9393a3;
$dark-gray-clr: #7e7e83;

$fw-bold: 700;

$mobile-length: 24px;
$tablet-length: 32px;

$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$mobile-max-width: 743px;

$transition-time: 0.3s;
