.explore-online {
  &__wrapper {
    @include page-grid;

    row-gap: 48px;
  }
}

.collection {
  &__picture {
    width: 100%;

    @include hover(transform, scale(1.1));
  }

  grid-column: span 2;

  @include on-tablet {
    grid-column: 2 / 6;
  }

  @include on-desktop {
    grid-column: span 4;
    justify-items: stretch;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    color: $accent-color;
    text-align: center;
    margin-top: 32px;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    color: $main-text-color;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin-top: 4px;
  }
}
