.menu{
    font-family: "Cinzel", sans-serif; 
    height: 100vh;
   
    background-color: $main_color;
    font-weight: 700;
    text-transform: uppercase;
    color: $main_text_color;


    &_top{
        margin-bottom: 32px;
    }
    &_nav{
        margin-bottom: 40px;
    }
    
    &__phone_avenu{
        font-size: 16px;
        margin-bottom: 16px;
        line-height: 27px;
    }
    
    &__phone-cloisters{
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 16px;
    }
    &__phone-сall{
        font-size: 12px;
        letter-spacing: 3px;
        padding-bottom: 3;
        border-bottom: 1px solid white;
        width: fit-content;
    }


}

