.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 48px;
  width: 100%;
  height: 56px;

  &--low {
    @include onDesktop {
      max-width: 324px;
    }
  }
}
