.contacts {

  &__section-title {
    grid-column: 1 / -1;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 56px;
    }
  }

  &__wrapper {
    @include pageGrid;
  }

  &__form {
    grid-column: 1 / -1;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__info {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 3;
    }

    @include onDesktop {
      grid-column: 7 / -1;
    }
  }

  &__subtitle {
    color: #9393a3;
    margin-bottom: 8px;
  }

  &__info-item {
    display: block;
    margin-block-end: 24px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #191919;

    &:hover {
      color: #9393a3;
    }

    &:last-child {
      margin-block-end: 0;
    }
  }

}
