.list-wrap {
  @include flexbox (flex, column);

  &__form {
    @include flexbox (flex, column);
  }

  &__name {
    @include inputStyle;
    margin-bottom: 16px;
  }

  &__email {
    @include inputStyle;
    margin-bottom: 16px;
  }

  &__textarea {
    height: 148px;
    font-family: $font-family-therd;
    box-sizing: border-box;
    padding: 14px 16px;
    font-size: 14px;
    width: 100%;
    line-height: 1.96rem;
    font-weight: 400;
    border: 1px solid #f8f8fa;
    border-radius: 8px;
    background-color: #f8f8fa;
    color: #7e7e83;
    margin-bottom: 32px;

    &:hover {
      border-color: #d5d7de;
    }

    &:hover::placeholder {
      color: #292929;
    }

    &:focus {
      border-color: #292929;
    }
  }

  &__button {
    background: #292929;
    color: #fff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    cursor: pointer;

    @include hover(transition, $transition-time);

    &:hover {
      background: #f8f8fa;
      border: 2px solid #f0f1f4;
      color: #292929;
    }

    &:active {
      background: #111;
      color: #fff;
    }

    &--low {
      @include onDesktop {
        max-width: 324px;
      }
    }
  }
}
