.museum-explore {
  @include onTablet {
    padding-inline: 104px;
  }

  @include onDesktop {
    padding-inline: 0;
  }

  &__title {
    margin-bottom: 40px;

    text-align: center;
    font-size: 32px;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 48px;
    }
  }
}
