.icon {
  display: block;
  transition: transform $effect-duration;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

    &--phone-hover {
      position: absolute;
      top: 50%;
      right: 0;
      display: none;
      width: max-content;
      transform: translate(-35%, -50%);
      font-family: $main-font-family;
      font-size: 12px;
      line-height: 140%;
      font-weight: $main-font-weight;
      letter-spacing: 2px;
      color: $main-text-color;
    }

  &--phone {
    position: relative;
    background-image: url(../images/icons/icon-phone.svg);

    &:hover {
      .icon--phone-hover {
        display: block;
      }
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}
