.advantages {
  position: relative;
  background-color: #fcfaef;

  &::before {
    content: "";
    display: block;
    height: 200px;
    background-image: url(../images/limited-edition.jpg);
    background-size: cover;
    background-position: center;

    @include onTablet {
      height: 400px;
    }

    @include onDesktop {
      height: 460px;
    }
  }

  &__wrapper {
    @include pageGrid;
  }

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__description {
    margin: 0;
    letter-spacing: 0.15px;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 8 / -1;
    }
  }
}
