.header {
  background-color: $color-black;
  background-image: url(../images/cover_photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right -50px top 0;

  @include onTablet() {
    background-position: center top 0;
  }

  @include onDesktop() {
    background-position: center top -100px;
  }

  &__content {
    padding-bottom: 88px;
    font-size: 36px;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;

    @include onTablet() {
      padding-bottom: 130px;
      font-size: 64px;
    }

    @include onDesktop() {
      padding-bottom: 203px;
      font-size: 88px;
    }
  }

  &__link {
    display: flex;
  }

  &__logo {
    @include logo-size;
    @include hover(transform, scale(1.2));
  }

  &__title {
    text-align: center;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;
    font-size: inherit;
  }
}

@include onTablet() {
  padding-bottom: 130px;
  font-size: 64px;
  background-position: center top 0;
}

@include onDesktop() {
  padding-bottom: 203px;
  font-size: 88px;
  background-position: center top -100px;
}
