.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform $time-duration;

  @media (min-width: 576px) {
    width: 32px;
    height: 32px;
  }

  &:hover {
    transform: scale(1.2);
  }

  &--phone {
    position: relative;
    background-image: url(../images/icon-phone-call.svg);
  }

  &--phone:hover::before {
    content: "+1 234 5555-55-55";
    position: relative;
    float: right;
    margin-right: calc(100% + 20px);
    width: max-content;
    transform: translateY(-50%);
    top: 50%;
    color: $color-white;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
  }

  &--burger {
    background-image: url(../images/icon-burger-menu.svg);

    &:hover {
      background-image: url(../images/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icon-close.svg);
  }
}
