.button {
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: $white-color;
  background: $orange-color;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  &:hover {
    background: $main-text-color;
  }
}
