.button {
  width: 278px;
  height: 56px;
  border-radius: 40px;
  border: 1px solid #fff;
  background-color: #fff;
  margin: 0 auto;
  color: $body-bgc;
  font-size: 16px;
  line-height: 27px;
  font-weight: $font-weight-bold;

  transition: all 0.3s;

  @include on-tablet {
    width: 392px;
    height: 56px;
  }

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 4px 16px rgba(255, 255, 255, 0.3);
  }

  &:active {
    box-shadow: 0.5px 4px 16px rgba(255, 255, 255, 0.5);
  }

  &--form {
    width: 280px;
    margin-top: 16px;

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 411px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 16px;

  &__input {
    width: 278px;
    height: 48px;
    border-radius: 40px;
    border: 1px solid #fff;
    padding-left: 16px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    font-weight: $font-weight-thin;
    outline: none;

    &:hover::placeholder {
      color: $main-text-color;
    }

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 411px;
    }
  }

  &__textarea {
    position: relative;
    height: 148px;
    width: 278px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid #fff;

    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: $font-weight-thin;
    outline: none;

    &:hover::placeholder {
      color: $main-text-color;
    }

    @include on-tablet {
      width: 288px;
    }

    @include on-desktop {
      width: 411px;
    }
  }
}
