.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    position: relative;
    background-image: url(/src/images/icons/Icon-Phone-call.svg);

    &::after {
      content: '+1 234 555-55-55';
      position: absolute;
      right: 32px;
      color: white;
      font-size: 12px;
      font-weight: $font-weight-bold;
      font-family: Poppins, sans-serif;
      letter-spacing: 2px;
      padding: 5px;
      white-space: nowrap;
      opacity: 0;
      transform: translateX(-10px);
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    }

    &:hover::after {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &--menu {
    background-image: url(/src/images/icons/burger-menu.svg);

    &:hover {
      background-image: url(/src/images/icons/burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(/src/images/icons/Icon-close.svg);
  }
}
