.icon {
  display: block;
  width: 24px;
  height: 24px;

  &--phone {
    background-image: url(/src/images/icon-phone.png);
  }

  &--menu {
    background-image: url(/src/images/icon-menu.png);
  }

  &--close {
    background-image: url(/src/images/icon-close.png);
  }
}
