.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../icons/icon-phone.svg);

    &:hover::before {
      content: '+1 234 555-55-55';
      position: absolute;
      right: 50px;
      top: 30%;
      align-items: center;

      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      white-space: nowrap;
      color: $main-text-color;
    }
  }

  &--menu {
    background-image: url(../icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../icons/icon-close.svg);
  }
}
