.input {
  padding: 14px 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: $main-text-color;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: $light-grey-color;

  &::placeholder {
    color: #7e7e83;
  }
  &:hover {
    border: 2px solid #dbdbdb;
  }
  &:focus {
    border: 2px solid $orange-color;
    outline: none;
  }
}
