.product {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 280px;
  height: 418px;

  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  @include on-tablet {
    width: 392px;
    height: 484px;
  }

  &__photo {
    width: 100%;
    display: block;
    padding-bottom: 32px;
  }

  &__title {
    @include default-title-style;
  }

  &__description {
    @include default-description-style;

    padding-bottom: 16px;
  }

  &__price {
    font-weight: $font-weight-bold;
    font-size: 24px;
    line-height: 33.6px;
  }
}
