.about-us {
  @include on-tablet {
    display: flex;
    flex-flow: row nowrap;
  }

  @include on-desktop {
    gap: 24px;
  }

  &__text {
    display: inline-block;
    font-family: $space-mono-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 104px;

    max-width: 280px;

    @include content-padding-inline;

    @include on-tablet {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      padding-left: 24px;
      padding-bottom: 120px;
    }

    @include on-desktop {
      max-width: 498px;
    }
  }
}
