.contact-us {
  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include content-padding-inline;
  }
  &__label {
    height: 100%;
    width: 100% ;
    margin-bottom: 16px;


  }
  &__input {
    box-sizing: border-box;
    height: 48px;
    width: 280px;
    font-family: $space-mono-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 14px 16px;
    border-radius: 8px;
    border: none;
    background-color: $input-backgraund-color;

    &:hover {
      border: $hovered-input-border;
      color: $hovered-input-text-color;
    }

    &:focus {
      border: $targeted-input-border;
      color: $targeted-input-text-color;
    }

    @include on-tablet {
      max-width: 600px;
    }

    &--textarea {
      min-height: 148px;


    }

    &--btn {
      height: 56px;
      background-color: $button-background-color;
      border-radius: 8px;
      border: none;
      color: $button-text-color;
      font-family: $space-grotesk-font;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      cursor: pointer;

        &:hover {
          border: $hovered-button-border;
          background-color: $hovered-button-background-color;
          color: $hovered-button-text-color;
        }

        &:focus {
          border: $focused-button-border;
          background-color: $focused-button-background-color;
          color: $focused-button-text-color;
        }

    }

  }
}

