.non-content {

  &__image{
    background-image: url(../images/non-content-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    max-width: 576px;
    margin-bottom: 48px;
  }
}
