.non-content {
  &__image {
    background-image: url(../images/non-content-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include non-content-image;
  }
}
