.main {
  flex-grow: 1;
}

.section {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;

  @include section-margin-bottom;
  @include section-title-size;


  &__title {
    @include content-padding-inline;

    margin-bottom: 3rem;
    min-width: 280px;

    @include on-tablet {
      min-width: 498px;
    }
  }


  &:last-of-type {
    margin-bottom: 3rem;

    @include on-tablet {
      margin-bottom: 5rem;
    }

    @include on-desktop {
      margin-bottom: 0;
    }
  }
}

    .title--mb--24px {
      margin-bottom: 1.5rem;

      @include on-tablet {
        min-width: 287px;
        padding-right: 0;
      }
    }


