.contact__title{
  margin-top: 0;
  margin-bottom: 48px;

  text-align: center;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1.5px;
  text-transform: capitalize;
}

.big_message-bar {
  margin-top: 0;
  margin-bottom: 32px;
}

.small_name-bar {
  margin-top: 0;
  margin-bottom: 16px;
}

.small_email-bar {
  margin-top: 0;
  margin-bottom: 16px;
}

.big_message-bar__input,
.small_name-bar__input,
.small_email-bar__input {
  width: 100%;
  border-radius: 16px;
  background: #FFF;

  padding: 14px 16px;
  color: #7E7E83;
  font-size: 16px;
  font-weight: 400;

  transition: border 0.3s;
}

.big_message-bar__input:hover,
.small_name-bar__input:hover,
.small_email-bar__input:hover {
  border: 1px solid #D5D7DE;
  color: #292929;
}

.big_message-bar__input::placeholder,
.small_name-bar__input::placeholder,
.small_email-bar__input::placeholder {
  font-weight: 400;
  text-shadow: none;
}

.big_message-bar__input:focus,
.small_name-bar__input:focus,
.small_email-bar__input:focus {
  color: #292929;
  border-radius: 16px;

  font-weight: 400;
  outline: none;

  border: 1px solid #292929;
}
