.contact__title{
  margin-top: 0;
  margin-bottom: 48px;

  text-align: center;
  font-size: 32px;
  font-weight: 500;

  letter-spacing: -1.5px;
  text-transform: capitalize;
}

.small-bar__input{
  margin-bottom: 16px;
}

.big_message-bar__input {
  margin-bottom: 32px;
}

.big_message-bar__input,
.small-bar__input {
  width: 100%;
  box-sizing: border-box;

  font-family: Poppins, sans-serif;

  border-radius: 24px;
  background: #FFF;
  border: 1px solid #FFF;

  padding: 14px 16px;
  color: #7E7E83;
  font-size: 14px;
  line-height: 20px;

  transition: border 0.3s;
}

.big_message-bar__input:hover,
.small-bar__input:hover {
  border: 1px solid #D5D7DE;
  color: #292929;
}

.big_message-bar__input::placeholder,
.small-bar__input::placeholder {
  text-shadow: none;
}

.big_message-bar__input:focus,
.small-bar__input:focus {
  border-radius: 24px;
  outline: none;
  border-color: #292929;
}

.big_message-bar__input:valid,
.small-bar__input:valid {
  color: #292929;
}
