.contact-us__label {
  display: flex;
  flex-direction: row;
  gap: 20%;
}

.contact-input__label{
  width: 40%;
}

.contact-info__label{
  width: 40%;
}

@media (max-width: 800px){
  .contact-us__label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.contact-info__title {
  font-size: 14px;
  font-weight: 400;
}

.contact__description {
  font-size: 16px;
  font-weight: 500;
}
