.details-card {
  @include pageGrid;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 1;

    &--square {
      @include onTablet {
        grid-column: span 2;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }

    &--rect {
      @include onTablet {
        grid-column: span 4;
      }

      @include onDesktop {
        grid-column: span 8;
      }
    }

    @include hoverSimpleScale(transform, scale(1.1));
  }

  &__title {
    align-self: left;
    margin-top: 16px;
    grid-column: 1 / -1;
  }

  &__text {
    align-self: left;
    margin-top: 8px;
    grid-column: 1 / -1;
  }
}
