.button {
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: $main-text-color;
  background-color: #fff;
  font-weight: 700;
  line-height: 27px;
  padding-block: 15px;
  border-radius: $border-radius;
  cursor: pointer;
  transition: all $effect-duration ease;
  border: none;

  &:hover {
    box-shadow: 1px 4px 16px 0 #e8e8f066;
  }

  &:active {
    box-shadow: 1px 4px 16px 0 #e8e8f0a3;
  }
}
