.contact-info {
  @include on-tablet {
    grid-column: span 2;
  }

  @include on-desktop {
    grid-column: 8/11;
  }

  display: flex;
  gap: 24px;
  flex-direction: column;

  &__title {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-bottom: 8px;
  }

  &__description {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    line-height: 22px;
    transition: all $effect-duration;

    &:hover {
      color: $hover-text-color;
    }
  }
}
