/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.contact__variable, */
.days-thanks-giving,
.days__names-open,
.exhibitions__data,
.exhibitions__title,
.explore__about,
.icon__tooltip {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #161616;
}

.about__info-title,
.button,
.contact__value,
.days__hours-open,
.exhibitions__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #161616;
}

.about__title::before,
.explore__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #eb343d;
  margin-bottom: 4px;
}

.exhibitions__name,
.explore__name {
  text-decoration: none;
  color: #eb343d;
}

.form-field::placeholder {
  color: #7e7e83;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.form-field {
  font-family: inherit;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid transparent;
  background-color: #f8f8fa;
  padding: 12px 14px;
}

body,
h1,
h2,
h3,
li,
p,
ul {
  margin: 0;
}

li,
ul {
  padding: 0;
}

/* @keyframes move {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.grid__exhibitions-second {
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

@media (min-width: 744px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }
}

@media (min-width: 1020px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

.grid--tablet {
  display: block;
}

@media (min-width: 744px) {
  .grid--tablet {
    display: grid;
  }
}

@media (min-width: 1020px) {
  .grid--tablet {
    display: grid;
  }
}

.grid__phone {
  grid-column: 1/-1;
}

@media (min-width: 744px) {
  .grid__item-tablet--1-1 {
    grid-column: 1/2;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--1-2 {
    grid-column: 1/3;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--1-3 {
    grid-column: 1/4;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--1-4 {
    grid-column: 1/5;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--1-5 {
    grid-column: 1/6;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--1-6 {
    grid-column: 1/7;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--2-2 {
    grid-column: 2/3;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--2-3 {
    grid-column: 2/4;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--2-4 {
    grid-column: 2/5;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--2-5 {
    grid-column: 2/6;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--2-6 {
    grid-column: 2/7;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--3-3 {
    grid-column: 3/4;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--3-4 {
    grid-column: 3/5;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--3-5 {
    grid-column: 3/6;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--3-6 {
    grid-column: 3/7;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--4-4 {
    grid-column: 4/5;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--4-5 {
    grid-column: 4/6;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--4-6 {
    grid-column: 4/7;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--5-5 {
    grid-column: 5/6;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--5-6 {
    grid-column: 5/7;
  }
}

@media (min-width: 744px) {
  .grid__item-tablet--6-6 {
    grid-column: 6/7;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--1-1 {
    grid-column: 1/2;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--1-2 {
    grid-column: 1/3;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--1-3 {
    grid-column: 1/4;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--1-4 {
    grid-column: 1/5;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--1-5 {
    grid-column: 1/6;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--1-6 {
    grid-column: 1/7;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--1-7 {
    grid-column: 1/8;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--1-8 {
    grid-column: 1/9;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--1-9 {
    grid-column: 1/10;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--1-10 {
    grid-column: 1/11;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--1-11 {
    grid-column: 1/12;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--1-12 {
    grid-column: 1/13;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--2-2 {
    grid-column: 2/3;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--2-3 {
    grid-column: 2/4;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--2-4 {
    grid-column: 2/5;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--2-5 {
    grid-column: 2/6;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--2-6 {
    grid-column: 2/7;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--2-7 {
    grid-column: 2/8;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--2-8 {
    grid-column: 2/9;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--2-9 {
    grid-column: 2/10;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--2-10 {
    grid-column: 2/11;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--2-11 {
    grid-column: 2/12;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--2-12 {
    grid-column: 2/13;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--3-3 {
    grid-column: 3/4;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--3-4 {
    grid-column: 3/5;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--3-5 {
    grid-column: 3/6;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--3-6 {
    grid-column: 3/7;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--3-7 {
    grid-column: 3/8;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--3-8 {
    grid-column: 3/9;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--3-9 {
    grid-column: 3/10;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--3-10 {
    grid-column: 3/11;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--3-11 {
    grid-column: 3/12;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--3-12 {
    grid-column: 3/13;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--4-4 {
    grid-column: 4/5;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--4-5 {
    grid-column: 4/6;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--4-6 {
    grid-column: 4/7;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--4-7 {
    grid-column: 4/8;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--4-8 {
    grid-column: 4/9;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--4-9 {
    grid-column: 4/10;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--4-10 {
    grid-column: 4/11;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--4-11 {
    grid-column: 4/12;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--4-12 {
    grid-column: 4/13;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--5-5 {
    grid-column: 5/6;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--5-6 {
    grid-column: 5/7;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--5-7 {
    grid-column: 5/8;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--5-8 {
    grid-column: 5/9;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--5-9 {
    grid-column: 5/10;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--5-10 {
    grid-column: 5/11;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--5-11 {
    grid-column: 5/12;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--5-12 {
    grid-column: 5/13;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--6-6 {
    grid-column: 6/7;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--6-7 {
    grid-column: 6/8;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--6-8 {
    grid-column: 6/9;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--6-9 {
    grid-column: 6/10;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--6-10 {
    grid-column: 6/11;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--6-11 {
    grid-column: 6/12;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--6-12 {
    grid-column: 6/13;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--7-7 {
    grid-column: 7/8;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--7-8 {
    grid-column: 7/9;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--7-9 {
    grid-column: 7/10;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--7-10 {
    grid-column: 7/11;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--7-11 {
    grid-column: 7/12;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--7-12 {
    grid-column: 7/13;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--8-8 {
    grid-column: 8/9;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--8-9 {
    grid-column: 8/10;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--8-10 {
    grid-column: 8/11;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--8-11 {
    grid-column: 8/12;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--8-12 {
    grid-column: 8/13;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--9-9 {
    grid-column: 9/10;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--9-10 {
    grid-column: 9/11;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--9-11 {
    grid-column: 9/12;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--9-12 {
    grid-column: 9/13;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--10-10 {
    grid-column: 10/11;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--10-11 {
    grid-column: 10/12;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--10-12 {
    grid-column: 10/13;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--11-11 {
    grid-column: 11/12;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--11-12 {
    grid-column: 11/13;
  }
}

@media (min-width: 1020px) {
  .grid__item-dextop--12-12 {
    grid-column: 12/13;
  }
}

.page {
  font-family: Cinzel, serif;
  scroll-behavior: smooth;
}

.page .page__body--with-menu {
  overflow: hidden;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: transform 1.5s;
}

.page__menu:target {
  transform: translateX(0);
}

.page__section {
  margin-bottom: 100px;
}

@media (min-width: 744px) {
  .page__section {
    margin-bottom: 140px;
  }
}

.page__section-title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: #161616;
  text-align: center;
  margin-bottom: 50px;
}

.page__section-title--bottom-0 {
  margin-bottom: 0;
}

@media (min-width: 744px) {
  .page__section-title {
    font-size: 48px;
    line-height: 48px;
  }
}

.header {
  background-image: url(header-pic.e629e718.png);
  background-size: cover;
  background-position: 50%;
}

.header,
.header__content {
  box-sizing: border-box;
  height: 100vh;
}

.header__content {
  flex-direction: column;
  padding: 25px 0 55vh;
}

.header__content,
.header__right-side {
  display: flex;
  justify-content: space-between;
}

.header__right-side {
  gap: 30px;
}

@media (min-width: 744px) {
  .header__right-side {
    gap: 63px;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: #fff;
  text-align: center;
  animation-name: move;
  animation-duration: 4s;
}

@media (min-width: 744px) {
  .header__title {
    font-size: 64px;
    line-height: 100%;
  }
}

@media (min-width: 1020px) {
  .header__title {
    font-size: 80px;
    line-height: 100%;
  }
}

.logo {
  width: 64px;
  height: 46px;
}

@media (min-width: 1020px) {
  .logo {
    width: 87px;
    height: 65px;
  }
}

.icon {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  text-decoration: none;
}

@media (min-width: 1020px) {
  .icon {
    width: 24px;
    height: 24px;
  }
}

.icon__tooltip {
  position: absolute;
  right: 100%;
  top: 0;
  transform: translateY(-75%);
  padding-right: 20px;
  display: block;
  width: max-content;
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
  color: #fff;
  margin-bottom: 8px;
  transition: opacity 1s;
  pointer-events: none;
  opacity: 0;
}

.icon__tooltip--second {
  top: 0;
  transform: translateY(40%);
}

@media (min-width: 1020px) {
  .icon:hover .icon__tooltip {
    pointer-events: all;
    opacity: 1;
  }
}

.icon--menu {
  background-image: url(menu.11980eae.svg);
}

.icon--menu:hover {
  background-image: url(menu_hover.c680bfbf.svg);
}

.icon--phone {
  background-image: url(phone.14e90a37.svg);
}

.icon--cross {
  background-image: url(Vector.029e3cfd.png);
}

.container {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px;
}

@media (min-width: 744px) {
  .container {
    padding: 0 72px;
  }
}

.menu {
  background-color: #d12d35;
}

.menu__content {
  height: 100vh;
  padding: 25px 0;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

@media (min-width: 1020px) {
  .menu__top {
    padding-bottom: 55px;
  }
}

.menu__list {
  list-style: none;
}

.menu__item {
  margin-bottom: 24px;
}

.menu__link {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 1px solid transparent;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  transition: border-color 0.35s;
}

.menu__link:hover {
  border-color: #fff;
}

.menu__contacts {
  margin-bottom: 8px;
}

.menu__contacts:last-child {
  margin-bottom: 16px;
}

.menu__call--phone,
.menu__contact {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
}

.menu__call--phone,
.menu__call-as {
  text-decoration: none;
}

.menu__call-as {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.menu__call-as--action {
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
}

.about__title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: #161616;
  margin-bottom: 32px;
}

.about__title::before {
  display: block;
  content: 'Plan your visit';
  font-size: 12px;
  color: #d12d35;
  letter-spacing: 0.5px;
  margin-bottom: 2px;
}

@media (min-width: 744px) {
  .about__title {
    display: block;
    font-size: 48px;
    line-height: 48px;
  }
}

.about__info-title {
  margin-bottom: 16px;
}

.about__quide {
  display: flex;
  gap: 0 25px;
}

.days__hours-open:not(:last-child) {
  margin-bottom: 8px;
}

.days__hours-open:nth-last-child(-2n + 2) {
  margin-bottom: 16px;
}

.days__names-open:not(:last-child) {
  margin-bottom: 8px;
}

.days-thanks-giving {
  margin-bottom: 24px;
}

.gallery__exhibitions {
  margin-bottom: 50px;
}

.gallery__exhibitions:last-child {
  margin-bottom: 40px;
}

.exhibitions__title {
  max-width: 280px;
  text-align: center;
  margin: 0 auto 50px;
}

@media (min-width: 744px) {
  .exhibitions__title {
    max-width: 400px;
  }
}

.exhibitions__photo-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-height: 320px;
  margin-bottom: 24px;
}

.exhibitions__photo-container::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

@media (min-width: 744px) {
  .exhibitions__photo-container {
    height: 200px;
    padding-bottom: 0;
  }

  .exhibitions__photo-container--second {
    height: 284px;
  }
}

@media (min-width: 1020px) {
  .exhibitions__photo-container {
    height: 320px;
    padding-bottom: 0;
  }

  .exhibitions__photo-container--none {
    visibility: visible;
  }
}

.exhibitions__none {
  display: block;
}

@media (min-width: 744px) {
  .exhibitions__none {
    display: none;
  }
}

@media (min-width: 1020px) {
  .exhibitions__none {
    display: block;
  }
}

.exhibitions__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.exhibitions__photo--1 {
  object-position: -70px 0;
}

@media (min-width: 744px) {
  .exhibitions__photo--1 {
    object-position: center;
  }
}

.exhibitions__photo--2 {
  object-position: right;
}

@media (min-width: 744px) {
  .exhibitions__photo--2 {
    object-position: center;
  }
}

.exhibitions__photo:hover {
  transform: scale(1.04);
  filter: contrast(1.3);
}

.exhibitions__name {
  display: block;
  max-width: 210px;
  cursor: pointer;
}

@media (min-width: 744px) {
  .exhibitions__name {
    max-width: 600px;
  }
}

.exhibitions__data {
  max-width: 280px;
}

@media (min-width: 744px) {
  .exhibitions__data {
    max-width: 400px;
  }
}

.button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  cursor: pointer;
  text-decoration: none;
  background-color: #d12d35;
  color: #fff;
}

.button:hover {
  background-color: #ae1c23;
}

.button:active {
  background-color: #eb343d;
}

.explore__photo-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  margin-bottom: 24px;
}

@media (min-width: 744px) {
  .explore__photo-container {
    margin-bottom: 32px;
  }
}

.explore__photo {
  grid-column: 1/5;
  width: 100%;
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.explore__photo:hover {
  transform: scale(1.04);
  filter: contrast(1.3);
}

.explore__info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore__about {
  font-family: Roboto, sans-serif;
  text-align: center;
  width: 280px;
}

@media (min-width: 744px) {
  .explore__about {
    width: 330px;
  }
}

@media (min-width: 1020px) {
  .explore__about {
    width: 280px;
  }
}

.contact__container,
.explores__item:not(:last-child) {
  margin-bottom: 50px;
}

.contact__value {
  text-decoration: none;
}

.contact__value--adress {
  line-height: 22px;
}

.contact-us__info-title {
  margin-bottom: 16px;
}

.contact-us__name {
  margin-bottom: 4px;
}

.contact-us__phone {
  margin-bottom: 8px;
}

.contact-us__field {
  margin-bottom: 16px;
}

.contact-us__field--textarea {
  margin-bottom: 32px;
}

.contact-us__field:last-child {
  margin: 0;
}

.contact-us__button {
  font-family: inherit;
  border: none;
}

/* .form-field {
  height: 48px;
  color: #161616;
} */

.form-field:hover {
  border-color: #d5d7de;
}

.form-field:hover::placeholder {
  color: #161616;
}

.form-field:focus {
  outline: none;
  border-color: #161616;
}

.form-field:focus::placeholder {
  color: #161616;
}

.form-field--textarea {
  height: 144px;
  resize: none;
}

.footer {
  background-image: url(footer-pic.a3985732.png);
  height: 180px;
  background-size: cover;
  background-position: 0 0;
}

@media (min-width: 744px) {
  .footer {
    height: 360px;
  }
}

@media (min-width: 1020px) {
  .footer {
    background-image: url(footer-dextop.21289841.png);
    background-size: cover;
    background-position: 50%;
    height: 360px;
  }
}
