.section-1
    grid-row: 1 / 1
    width: 100dvw
    height: 100dvh
    display: flex
    justify-content: center
    background-image: url('../../../public/assets/section-1/bg.png')
    background-size: cover
    background-position: top center
    background-repeat: no-repeat

    &__content
        text-align: center
        margin-top: 200px
        max-width: 280px 
        height: 128px
        color: white
        font: 
            size: 40px
            weight: 700