.btn {
  padding: 15px 0;
  border: 1px solid $mainTextColor;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  background-color: $mainTextColor;

  &:hover {
    border: 1px solid $btn_hover_border;
    color: $mainTextColor;
    background-color: #fff;
  }

  &:active {
    color: #fff;
    background-color: $mainTextColor;
  }

}
