.btn {
  padding: 15px 0;
  width: 100%;
  border-radius: 40px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  outline: none;

  &--black {
    border: 3px solid $mainTextColor;
    color: #fff;
    background-color: $mainTextColor;
    transition: color $transition, background-color $transition;

    &:hover {
      background-color: #fff;
      color: $mainTextColor;
      transition: color $transition, background-color $transition;
    }

    &:active {
      color: #fff;
      background-color: $mainTextColor;
      transition: color $transition, background-color $transition;
    }
  }

}
