.btn {
  width: 100%;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center;


  &--black {
    border: 1px solid $mainTextColor;
    color: #fff;
    background-color: $mainTextColor;

    &:hover {
      border: 1px solid $btn_hover_border;
      color: $mainTextColor;
      background-color: #fff;
    }

    &:active {
      color: #fff;
      background-color: $mainTextColor;
    }
  }

  &--white {
    border: 3px solid $btn_hover_border;
    color: $mainTextColor;
    background-color: #fff;

    &:hover {
      border: 3px solid $mainTextColor;
    }

    &:active {
      color: #fff;
      background-color: $mainTextColor;
    }

  }

}
