.sec-title {
  padding-bottom: $paddBottSecTitleMax;

  @include onTab {
    padding-bottom: $paddBottSecTitleMax * 1.17;
  }

  &--header {
    padding-bottom: 0;
  }

  &--about {
    padding-bottom: 24px;

    @include onTab {
      padding-bottom: 0;
    }
  }

  &__content {
    font-size: 32px;
    line-height: 32px;
    display: inline-block;
    @include onTab {
      font-size: 40px;
      line-height: 40px;
    }

    @include onDesk {
      font-size: 48px;
      line-height: 48px;
    }

    &--header {
      font-size: 36px;
      line-height: 36px;
      text-align: start;

      @include onTab {
        font-size: 48px;
        line-height: 48px;
      }

      @include onDesk {
        font-size: 56px;
        line-height: 56px;
      }
    }
  }
}
