.compare-bikes {
  &__title {
    margin-bottom: 48px;

    @include section-title-mobile;

    @include on-tablet {
      margin-bottom: 48px;

      @include section-title-tablet;
    }

    @include on-desktop {
      margin-bottom: 56px;

      @include section-title-desktop;
    }
  }

  &__container {
    width: 100%;

    @include on-desktop {
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
    }
  }
}
