.compare-bikes {
  &__product {
    display: grid;
    row-gap: 40px;

    // align-items: start;
    // grid-template-columns: repeat(3, 1fr);
    // column-gap: 40px;

    @include on-tablet {
      justify-items: center;
    }

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      background-color: red;
      justify-items: stretch;
    }
  }
}
