.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0 48px;

  border-radius: 40px;
  background: $c-white;
  width: 100%;

  color: #1d1d1d;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  height: 56px;

  &:hover {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.51);
    cursor: pointer;
  }

  &:active {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
  }
}
