%h1 {
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: -1.5px;
}

%h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
}

%h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%; 
}

%menu-link {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
}

%link-to-order {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
}
