@mixin onTablet {
  @media (min-width: $screen-m) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $screen-l) {
    @content;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} $transition;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin square($size) {
  width: $size;
  height: $size;
}
