@mixin onTablet {
  @media (min-width:576px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width:1024px) {
    @content;
  }
}

@mixin contentPaddingInlineMinWidth {
  padding-inline: 20px;
  min-width: 320px;

  @include onTablet() {
    padding-inline: 72px;
  }

  @include onDesktop() {
    padding-inline: 120px;
  }
}

@mixin marginBetweenBloks {
  margin-bottom: 100px;

  @include onTablet() {
    margin-bottom: 140px;
  }
}

@mixin backgroundSizePosition {
  background-size: cover;
  background-position: center;
}

@mixin hover ($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin contentGrid {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat($coloms-mobile, 1fr);

  @include onTablet {
    grid-template-columns: repeat($coloms-tablet, 1fr);
    column-gap: 24px;
  }

  @include onDesktop {
    grid-template-columns: repeat($coloms-dekstop, 1fr);
  }
}

@mixin widthDekstop {
  @include onDesktop {
    max-width: 1260px;
    margin: 0 auto;
  }
}

@mixin borderBottom {
  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    display: block;
    height: 1px;
    width: 100%;
    background-color: $color-text-white;

    transition: transform $transition-time ease-in;
    transform: scale(0);
    transform-origin: left;
  }

  &:hover::after {
    transform: scale(1);
  }
}
