* {
  box-sizing: border-box;
}

body,
h1,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-accent: #d12d35;
  --color-main-light: #fff;
  --color-main-dark: #161616;
}
