* {
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  color: $main-text-color;
  font-size: 18px;
  line-height: 140%;
}

section {
  // @include contentPaddingInline;

}

/* #region SCROLLBAR */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgb(163, 163, 163);
}

body::-webkit-scrollbar-thumb {
  outline: 1px solid #c9c9c9;
  background-color: $hover-color;
  border-radius: 5px;
}
/* #endregion*/
