.container {
  @include content-padding-inline;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.page:has(.page__menu:target) {
  overflow: hidden;

  /* not to scroll the page */
}
