.page {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  font-style: normal;
  color: $main-text-color;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }

  .on-top {
    box-sizing: border-box;
    text-decoration: none;
    color: $main-text-color;
    font-size: 24px;
    line-height: 24px;
    background-color: rgba(126, 126, 131, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all $duration;

    &:hover {
      background-color: $main-text-color;
      color: white;
    }
  }
}
