* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
section {
  margin: 0;
}

input,
textarea,
button {
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
