html {
  font-family: "Cinzel", "Arial", serif;
  scroll-behavior: smooth;
  color: $main-dark;
}

* {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
div,
a,
ul {
  margin: 0;
  padding: 0;
}

a,
img {
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}
