body,
h1,
h2,
h3,
p,
ul,
form,
input,
button,
a,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-primary;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

label {
  cursor: pointer;
}

input {
  background: none;
  border: none;
  outline: none;
}

textarea {
  outline: none;
}
