.u {

  // --- Buttons

  &-button {
    padding: 14px 16px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $secondaryColor;
    background-color: $primaryColor;
    border-radius: 50px;
    border: none;
    font-family: inherit;
    transition: box-shadow $effectDuration;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 4px 16px 0 #E8E8F066;
    }

    &:active {
      box-shadow: 1px 4px 16px 0 #E8E8F0A3;
    }
  }

  // --- Inputs

  &-input {
    padding: 14px 16px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: #7E7E83;
    background-color: $primaryColor;
    border-radius: 50px;
    border: none;
    font-family: inherit;
    outline: none;

    &:hover {
      color: #292929;
    }
  }

  &-area {
    resize: none;
    border-radius: 16px;
  }

  // --- Typography

  &-title {
    font-size: 32px;
    letter-spacing: -1.5px;
    font-weight: 500;
    margin: 0;

    @include on-tablet {
      font-size: 48px;
    }

    @include on_desktop {
      font-size: 64px;
    }
  }

  &-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    margin: 0;
  }

  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    margin: 0;
  }

  // --- Images

  &-image {
    transition: transform $effectDuration;

    &:hover {
      transform: scale(1.05);
    }
  }
}
