$font-default: Cinzel, serif;
$font-size-default: 16px;
$font-size-xxl: 48px;
$font-size-xl: 24px;
$font-size-l: 22px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$text-color-main-dark: #161616;
$text-color-main-white: #fff;
$text-color-input: #7e7e83;
$bg-color-input: #f8f8fa;
$accent-color: #d12d35;
$accent-color-hover: #ae1c23;
$accent-color-pressed: #eb343d;
$tablet-min-width: 744px;
$tablet-max-width: 1024px;
$desktop-min-width: 1025px;
$desktop-max-width: 1260px;
$animation-duration: 0.3s;


