// sections widths
$tab-min-width: 744px;
$desk-min-width: 1260px;

// colors
$text-color: #fff;
$bg-color: #1d1d1d;
$bg-menu-color: #c2c2c2;
$input-text-color: #292929;

// margins
$margin-mob: 0 20px;
$margin-tab: 0 72px;
$margin-desk: 0 120px;

// text sizes
$text-title-size-mob: (32px, 32px, 500);
$text-title-size-tab: (48px, 48px, 500);
$text-title-size-desk: (64px, 64px, 500);

// element`s width
$width-mob: 280px;
$width-tab: 288px;
$width-desk: 320px;

// logo`s sizes
$logo-mob-width: 130px;
$logo-mob-height: 38px;
$logo-width: 187px;
$logo-height: 56px;

// animation
$animation-duration: 0.3s ease;
$menu-duration: 0.3s ease-in-out;
