$tablet-min-width: 576px;
$desktop-min-width: 1024px;

$time-duration: 0.3s;

$color-white: #fff;
$color-light-grey: #F8F8FA;
$color-silver: #D5D7DE;
$color-middle-grey: #C2C2C2;
$color-dark-grey: #292929;
$color-black: #1D1D1D;