$color-accent: #d12d35;
$color-accent-hover: #ae1c23;
$color-accent-active: #eb343d;
$color-main-light: #fff;
$color-main-dark: #161616;
$color-bc-unactive: rgba(0,0,0,0.4);

$screen-s: 320px;
$screen-m: 744px;
$screen-l: 1260px;

$transition: 0.3s;
