/* stylelint-disable */
$tablet-min-with: 744px;
$desktop-min-with: 1260px;
$effectDuration: 0.3s;

$color-main-dark: #161616;
$color-main-accent: #d12d35;
$color-light: #fff;
$color-button-hover: #ae1c23;
$color-link: #3e3e3e;
$color-input-bg: #f8f8fA;
$color-input-text: #7e7e83;
/* stylelint-enable */
