$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$padding-mobile: 20px;
$padding-tablet: 72px;
$padding-desktop: 120px;
$color-accent-main: #d12d35;
$color-accent-main-hover: #ae1c23;
$color-main-dark: #161616;
