.about-us {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;
    column-gap: 24px;
  }

  @include on-desktop {
    --columns: 12;
  }

  &____title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / -1;
    }
  }

  &__content {
    margin: 0;
    line-height: 140%;
    padding-left: 20px;
    padding-right: 20px;
    grid-column: 1 / -1;


    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: 7 / 12;
    }
  }
}
