@mixin header-bg-img {
  @media (min-width: 320px) {
    background-image: url(/src/images/header-bg-mobile.png);
  }

  @media (min-width: 600px) {
    background-image: url(/src/images/header-bg-tablet-size.png);
  }

  @media (min-width: 1020px) {
    background-image: url(/src/images/full-header-bg.png);
  }

}

@mixin top-bar-padding {
  @media (min-width: 320px) {
    padding: 25px 20px 0;

  }

  @media (min-width: 600px) {
    padding: 50px 72px 0;

  }

  @media (min-width: 1020px) {
    padding: 50px 120px 0;

  }
}

@mixin header-title-width {
  @media (min-width: 320px) {
    margin: 129px auto;
    width: 240px;
    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: 600px) {
    margin: 141px auto;
    width: 392px;
    font-size: 64px;
    line-height: 64px;
  }

  @media (min-width: 1020px) {
    width: 498px;
    margin: 83px auto;
    font-size: 80px;
    line-height: 80px;
  }
}

@mixin main-conten-margin-and-gap {
  @media (min-width: 320px) {
    margin: 100px 20px 0;
    row-gap: 100px;
  }

  @media (min-width: 600px) {
    margin: 0;
    margin-top: 140px;
    row-gap: 140px;
  }

  @media (min-width: 744px) {
    margin: 140px 72px 0;
    row-gap: 140px;
  }

  @media (min-width: 1020px) {
    margin: 0;
    margin-top: 140px;
    row-gap: 140px;
  }

  @media (min-width: 1260px) {
    margin: 140px 120px 0;
    row-gap: 140px;
  }
}

@mixin main-content-grid {
  @media (min-width: 320px) {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: auto;
    column-gap: 20px;
  }

  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: auto;
    column-gap: 24px;
  }

  @media (min-width: 744px) {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-template-rows: auto;
    column-gap: 24px;
  }

  @media (min-width: 1020px) {
    display: grid;
    grid-template-columns: repeat(12, 63px);
    grid-template-rows: auto;
    column-gap: 24px;
  }
}

@mixin nav-content-margin {
  @media (min-width: 320px) {
    margin: 40px 0 0 20px;
  }

  @media (min-width: 600px) {
    margin: 40px 0 0 72px;
  }

  @media (min-width: 744px) {
    margin: 40px 0 0 72px;
  }

  @media (min-width: 1020px) {
    margin: 55px 0 0 121px;
  }
}

@mixin menu-contacts-margin {
  @media (min-width: 320px) {
    margin-top: 48px;
    margin-left: 20px;
  }

  @media (min-width: 600px) {
    margin-top: 32px;
    margin-left: 72px;
  }

  @media (min-width: 1020px) {
    margin-top: 48px;
    margin-left: 121px;
  }
}

@mixin icons-gap {
  @media (min-width: 320px) {
    gap: 24px
  }

  @media (min-width: 600px) {
    gap:55px
  }
}

@mixin title-name-font-size {
  @media (min-width: 320px) {
    font-size: 32px;
  }

  @media (min-width: 600px) {
    font-size: 48px;
  }
}
