.button {
  display: flex;
  height: 56px;
  padding: 0 48px;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: $action-color;
  cursor: pointer;

  color: $white-color;
  font-weight: 700;
  text-decoration: none;

  @include hover (background-color, $effectDuration);

  @include onTablet {
    width: auto;
  }

  @include onDesktop {
    width: 324px;
  }

  &:hover {
    background: $main-dark-color;
  }

  &:active {
    background: $active-color;
  }

  &__footer {
    width: auto;
    margin: 32px 0 48px;
    grid-column: 1 / -1;

    @include onTablet {
      margin-bottom: 80px;
    }
  }
}
