.button {
  cursor: pointer;
  display: block;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #d12d35;
  font-family: "Cinzel", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;

  width: 100%;
  height: 56px;
  border: 0;
}

.button:hover {
  background-color: #ae1c23;
}

.button:focus {
  background-color: #eb343d;
}
