.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }

    @include on-desktop {
      row-gap: 56px;
    }
  }

  &__button {
    @include page-grid;

    &--link {
      display: flex;
      grid-column: 1 / -1;
      color: $button-text-color;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      height: 56px;
      border-radius: 8px;
      background-color: $main-text-color;
      transition-duration: 0.3s;
      margin-inline: 20px;

      @include on-tablet {
        margin-inline: 72px;
      }

      @include on-desktop {
        grid-column: 1 / 6;
        margin: 0 0 0 120px;
      }

      &:hover {
        box-sizing: border-box;
        color: $main-text-color;
        border: 2px solid $button-hover-border-color;
        background: $button-hover-background;
      }

      &:active {
        color: $button-text-color;
        background-color: $button-active-backround;
      }
    }
  }
}

.section-title {
  padding-top: 96px;

  @include on-tablet {
    padding-top: 120px;
  }

  @include on-desktop {
    padding-top: 128px;
  }

}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
    padding-inline: 20px;

    @include on-tablet {
      padding-inline: 72px;
    }

    @include on-desktop {
      padding-inline: 120px;
    }
  }

  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    @include hover(transform, scale(1.03));
  }

  &__title {
    margin: 0;
    font-size: 24px;
    line-height: 140%;
    padding-inline: 20px;
    padding-bottom: 40px;

    @include on-tablet {
      padding-inline: 72px;
      padding-bottom: 56px;
    }

    @include on-desktop {
      padding-inline: 120px;
    }
  }
}

