html {
  --main-color: #1d1d1d;
  --secondary-color: #fff;
  --menu-bg-color: #c2c2c2;
  --button-hover-shadow-color: #e8e8f066;
  --button-active-shadow-color: #e8e8f0a3;
  --input-bg-color: #f8f8fa;
  --input-accent-color: #292929;
  --input-placeholder-color: #7e7e83;
  --input-hover-border-color: #d5d7de;
}
