$main-color: #292929;
$secondary-color: #fff;
$background-color: #f8f8fa;
$grey-accent-button: #f0f1f4;
$input-text-color: #7e7e83;
$grey-accent-input-area: #d5d7de;
$button-color-focus: #111;
$header-info-color: #9393a3;
$text-info-color: #191919;
$background-menu-color: #e5e6e8;
$blue-accent: #2c27c1;
