[class*='__container'] {
  max-width: $max-width-container;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 20px;

  @include on-tablet {
    padding: 0 72px;
  }
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 64px;
  }
}

.button {
  display: block;
  line-height: 56px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: $secondary;
  background-color: $primary;
  border-radius: 40px;
  width: 100%;
  cursor: pointer;

  @include on-hover(box-shadow, 1px 4px 16px 0 rgba(232, 232, 240, 0.4));

  &:active {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
  }
}

.input {
  font-size: 14px;
  line-height: 20px;
  color: #292929;
  padding: 14px 16px;
  border: 1px solid transparent;
  border-radius: 40px;

  &::placeholder {
    color: $hover-links;
  }

  @include on-hover(border, 1px solid $hover-input);

  &:focus {
    border: 1px solid #292929;
  }
}
