.container {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    padding-inline: 120px;
  }
}

.background {
  background-image: url(../images/background\ nothing.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px; /* Уменьшает высоту контейнера */
  background-position: center;
  margin-bottom: 120px;

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
  }
}
