.container {
  max-width: 320px;
  margin: 0 auto;
  padding-inline: 20px;

  @include on-tablet {
    max-width: 745px;
    padding-inline: 72px;
  }

  @include on-desktop {
    max-width: 1260px;
    padding-inline: 120px;
  }
}
