.contact-us {
  @include page-grid;
  
  @include on-tablet {
    padding-bottom: 80px;
  }

  padding-bottom: 48px;

  &__title {
    padding-top: 104px;
    padding-left: 20px;
    margin-bottom: 28px;
    color: #292929;
    font-family: "Space Grotesk", sans-serif;
    font-size: 40px;
    line-height: 100%;
    grid-column: 1 / -1;

    @include on-tablet {
      padding-top: 120px;
      padding-left: 72px;
      margin-bottom: 36px;
      grid-column: 1 / 6;
    }

    @include on-desktop {
      padding-left: 120px;
      grid-column: span 6;
    }
  }

  &__info {
    padding-left: 20px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 5;
      padding-left: 72px;
    }

    @include on-desktop {
      padding-left: 20px;
      grid-column: 7 / 13;
    }
  }

  &__content {
    grid-column: 1 / -1;
    padding: 0 20px;


    @include on-tablet {
      padding: 0 72px;
      grid-column: 1 / 7;
    }

    @include on-desktop {
      padding-left: 120px;
      padding-right: 0;
      grid-column: 1 / 6;
    }
  }
}
