.container {
  margin-inline: auto;
  min-width: 280px;

  padding-inline: $content-padding-inline-mobile;

  @include on-tablet {
    min-width: 600px;
    padding-inline: $content-padding-inline-tablet;
  }

  @include on-desktop {
    width: 1024px;
    margin-inline: auto;
    padding-inline: $content-padding-inline-desktop;
  }
}
