.details {

  &__title {
    margin: 0;
    margin-bottom: 48px;
  }

  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }
  }

  &__button-wrapper {
    @include page-grid;

    width: 100%;

  }

  &__button {
    @include primary-button;

    grid-column: 1 / -1;
  }


  @include on-tablet {
    &__button {
      grid-column: 2 / 6;
    }
  }

  @include on-desktop {
    &__button {
      grid-column: 5 / 9;
    }
  }
}




