:where(a, button, input, textarea, select, [tabindex]:not([tabindex='-1'])) {
  &:focus-visible {
    outline: 2px solid $outline-focus-color;
    outline-offset: 2px;
    border-radius: 4px;

    box-shadow: 0 0 0 1px black;
  }
}
