
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}


.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}
