@mixin footer-margin-top {
  @media (min-width: 320px) {
    margin-top: 100px;
  }

  @media (min-width: 600px) {
    margin-top: 156px;
  }

  @media (min-width: 1020px) {
    margin-top: 140px;
  }
}
