a {
  text-decoration: none;
  color: black;
  cursor: url("../../src/images/Mice.png"), auto;
}

a:hover {
  color: #f98921;
  cursor: url("../../src/images/Mice.png"), auto;
  @include hover(transform, scale(1.07));
}

body {
  cursor: url("../../src/images/Mice.png"), auto;
}

img {
  @include hover(transform, scale(1.07));
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgb(81, 255, 0) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(82, 85, 85) inset !important;
}
