* {
  transition: all 0.3s ease-in-out;
}

html {
  scrollbar-width: none;
}

.container {
  @include content-padding-inline;
}

.bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.regular {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.regular--small {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.regularRoboto {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.boldSubtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
}

.contactLineH {
  line-height: 22.4px;
}

.center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.columnFlex {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  &:hover {
    transform: scale(1.02);
  }
}

.image--wide {
  grid-column: span 1;

  @include on-tablet {
    grid-column: span 4;
  }

  @include on-desltop {
    grid-column: span 8;
  }
}

.image--regular {
  grid-column: span 1;

  @include on-tablet {
    grid-column: span 2;
  }

  @include on-desltop {
    grid-column: span 4;
  }
}

.image--regularCenter {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 2/6;
  }

  @include on-desltop {
    grid-row: 2;
    grid-column: span 4;
  }
}

.image--left {
  object-position: left;
}

.image--right {
  object-position: right;
}

.red {
  color: $defaultRed;
}

.button {
  background-color: $defaultRed;
  color: $white;
  border: none;
  height: 56px;
  text-align: center;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: $hoverRed;
  }

  &:active {
    background-color: $pressedRed;
  }
}

.formStyle {
  background: $white;
  color: $mainDark;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 14px 10px;
  box-sizing: border-box;
  border: 1px solid transparent;
  outline: none;

  &::placeholder {
    color: $defaultGray;
  }

  &:hover {
    border: 1px solid #d5d7de;
    &::placeholder {
      color: $mainDark;
    }
  }

  &:focus {
    border: 1px solid $mainDark;
    &::placeholder {
      color: $mainDark;
    }
  }
  &:active {
    color: $mainDark;
    border: 1px solid $mainDark;
  }
}

.gridColumns {
  @include page-grid;

  row-gap: 48px;
}

.allScreen {
  grid-column: 1/-1;
}

.centeredElement {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 2 / 6;
  }

  @include on-desltop {
    grid-column: 5 / 9;
  }
}

.centeredElement--wide {
  @include on-desltop {
    grid-column: 4 / 10;
  }
}

.phoneOnePosition {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 1/3 span;
    grid-row: 2;
  }

  @include on-desltop {
    grid-row: 2;
    grid-column: 1/4;
  }
}

.phoneTwoPosition {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 1/3 span;
    grid-row: 3;
  }

  @include on-desltop {
    grid-row: 2;
    grid-column: 4/7;
  }
}

.formPosition {
  grid-column: 1/-1;

  @include on-tablet {
    grid-row: 2 / span 2;
    grid-column: 4/-1;
  }

  @include on-desltop {
    grid-row: 2;
    grid-column: 7 / 13;
  }
}

.page:has(.aside:target) {
  overflow: hidden;
}
