a {
  text-decoration: none;
  color: black;
  cursor: url("../../src/images/Mice.png"), auto;
}

a:hover {
  color: #f98921;
  cursor: url("../../src/images/Mice.png"), auto;
  @include hover(transform, scale(1.07));
}

body {
  cursor: url("../../src/images/Mice.png"), auto;
}

img {
  @include hover(transform, scale(1.07));
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
