*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 1em;
}

h2 {
  margin: 0;
}

.page-width {
  width: 100%;
  max-width: $page-width;
  margin-inline: auto;

  @include content-padding-inline;
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @include on-tablet {
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
  }

  &__item {
    width: 100%;
    grid-column: 1 / -1;

    &--half {
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 3;
      }

      @include on-desktop {
        grid-column: span 6;
      }
    }

    &--wide {
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }
}
