.info {
  &__title {
    color: #7E7E83;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__text {
    color: #191919;
    font-family: "Space Mono", sans-serif;
    font-size: 16px;
    margin-bottom: 24px;

    &:hover {
      color: darkblue;
    }
  }

  &__number,
  &__email,
  &__maps {
    color: #191919;
    text-decoration: none;

    &:hover {
      color: darkblue;
    }
  }
}
