.menu {
  box-sizing: border-box;

  height: 100vh;
  background-color: $menu-background-color;
  font-weight: 600;
  text-transform: uppercase;
  overflow: auto;
  z-index: 100;

  &__top {
    margin-bottom: 24px;
    position: sticky;
    top: 0;
    z-index: 101;
    background-color: $menu-background-color;

    @include on-tablet {
      margin-bottom: 8px;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    position: relative;
    display: inline-block;
    color: $dark-text-color;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      bottom: -8px;
      height: 1px;
      background-color: $dark-text-color;

      transition: $effectDuration;
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__book-a-test-ride {
    display: block;
    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 1px solid $dark-text-color;

    color: $dark-text-color;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
  }
}
