@mixin on-tablet {
  @media (min-width: $min-tablet-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $min-desktop-width) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    padding-inline: 120px;
    margin-inline: auto;
    max-width: 1020px;
  }
}

.container {
  @include content-padding-inline;
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --columns: 12;
  }
}

@mixin style-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 56px;
  margin: 0 auto;
  line-height: 27px;
  font-weight: 700;
  color: $aside-text-color;
  background-color: $main-text-color;
  text-align: center;
  border-radius: 40px;
  transition: all 0.3s;

  @include on-tablet {
    width: 392px;
  }

  @include on-desktop {
    width: 324px;
  }

  &:hover {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
  }
  &:active {
    box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
  }
}
