@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-adding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.container {
  max-width: 1020px;

  @include content-adding-inline;
}

@mixin content-padding-bottom() {
  padding-bottom: 88px;

  @include on-tablet {
    padding-bottom: 130px;
  }

  @include on-desktop {
    padding-bottom: 203px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s ease-in;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin hover-photo($property, $toValue) {
  transition: #{$property} cubic-bezier(0.15, 0.32, 0.55, 1.35) 0.5s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin page-grid {
  --columns: 2;

  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;
  }

  @include on-desktop {
    --columns: 12;
  }
}
