@mixin onTablet{
  @media(min-width: 576px){
    @content
  }
}

@mixin onDesktop{
  @media(min-width: 1020px){
    @content
  }
}
@mixin constentPaddingInline(){
  padding-inline: 20px;

  @include onTablet{
    padding-inline: 72px;
  }

  @include onDesktop{
    padding-inline: 120px;
  }
}
