@mixin on-tablet {
  @media (width > $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (width > $desktop-min-width) {
    @content;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: 24px;
  }

  @include on-desktop {
    --columns: 12;
  }
}

@mixin hover($property, $to-value) {
  transition: #{$property} $hover-transition-duration;
  &:hover {
    #{$property}: $to-value;
  }
}

