@mixin width-744 {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin width-1260 {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin text-base {
  font-size: 16px;
  line-height: 27px;
}
