.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    position: relative;
    color: $main-text-color;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 22px;

    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      height: 1px;
      background-color: $main-text-color;
      display: block;
      width: 100%;

      transition: transform 0.3s;
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
