body,
div,
ul,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
  outline: none;
  border: none;
}

.main {
  background-color: $color-main;
  &__content {
    display: grid;
    row-gap: 100px;
    padding-block: 100px;

    @include onTablet {
      row-gap: 140px;
      padding-block: 140px;
    }
  }
}
