a,
p,
h1,
h2,
h3,
ul,
li {
  padding: 0;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px $color-light-gray-bg inset !important;
}

a {
  cursor: pointer;
}
