@mixin now-on-view-grid {
  @media (width >= 320px) {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    row-gap: 48px;
  }

  @media (width >= 600px) {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    row-gap: 48px;
  }

  @media (width >= 1020px) {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / 13;
    row-gap: 48px;
  }
}

@mixin now-on-view-title-grid {
  @media (width >= 320px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1 / -1;
    row-gap: 8px;
  }

  @media (width >= 600px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 2 / -2;
    row-gap: 8px;
  }

  @media (width >= 1020px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 5 / 9;
    row-gap: 8px;
  }
}

@mixin now-on-view-container-grid {
  @media (width >= 320px) {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
    grid-column: 1 / -1;
    row-gap: 24px;
  }

  @media (width >= 600px) {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
    grid-column: 1 / -1;
    row-gap: 24px;
  }

  @media (width >= 1020px) {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
    grid-column: 1 / -1;
    row-gap: 24px;
  }
}

@mixin now-on-view-scene-info-grid {
  @media (width >= 320px) {
    grid-column: 1 / -1;
  }

  @media (width >= 600px) {
    grid-column: 1 / -1;
  }

  @media (width >= 1020px) {
    grid-column: 1 / -1;
  }
}

@mixin now-on-view-button-grid {
  @media (width >= 320px) {
    grid-column: 1 / -1;
  }

  @media (width >= 600px) {
    grid-column: 2 / -2;
  }

  @media (width >= 1020px) {
    grid-column: 5 / 9;
  }
}

@mixin now-on-view-picture-visibility {
  @media (width >= 320px) {
    display: inherit;
  }

  @media (width >= 600px) {
    display: none;
  }

  @media (width >= 1020px) {
    display: inherit;
  }
}

@mixin now-on-view-pictures-gap {
  @media (width >= 320px) {
    gap: 20px;
  }

  @media (width >= 600px) {
    gap: 24px;
  }

  @media (width >= 1020px) {
    gap: 24px;
  }
}
