html {
  font-family: 'Space Grotesk', 'Space Mono', sans-serif;
  font-weight: 700;
}

body,
ul,
h1,
h2,
h3,
form,
button {
  margin: 0;
}

body {
  padding: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
