html {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  color: $text-color-main;
}

body {
  margin: 0;
}

nav {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

li {
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
}
