* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
input,
button,
textarea {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

label {
  cursor: pointer;
}

input {
  background: none;
  border: none;
  outline: none;
}

textarea {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}
