@mixin schedule-grid {
  @media (min-width: 320px) {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    row-gap: 24px;
  }

  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    row-gap: 24px;
  }

  @media (min-width: 1020px) {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    row-gap: 24px;
  }
}

@mixin schedule-title-grid {
  @media (min-width: 320px) {
    grid-column: 1 / -1;
    margin-bottom: 8px;
  }

  @media (min-width: 600px) {
    grid-column: 1 / 4;
  }

  @media (min-width: 1020px) {
    grid-column: 1 / 6;
  }
}

@mixin schedule-inscription-grid {
  @media (min-width: 320px) {
    grid-column: 1 / -1;
  }

  @media (min-width: 600px) {
    grid-column: 1 / 2;
  }

  @media (min-width: 1020px) {
    grid-column: 1 / 5;
  }
}

@mixin schedule-description-grid {
  @media (min-width: 320px) {
    grid-column: 1 / -1;
    row-gap: 16px;
  }

  @media (min-width: 600px) {
    grid-column: 4 / -1;
    row-gap: 16px;
  }

  @media (min-width: 1020px) {
    grid-column: 6 / 13;
    row-gap: 16px;
  }
}
