.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 36px;
  }

  &__logo {
    display: flex;
    transition: $effectDuration;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 187px;
      height: 56px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 32px;
    }
  }
}
