@mixin mainTitle {
  color: $main-color;
  font-size: 36px;
  font-weight: 700;

  @include onTablet {
    font-size: 48px;
  }

  @include onDesktop {
    font-size: 56px;
  }
}

@mixin sectionTitle {
  color: $main-color;
  font-family: Space Grotesk;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;

  @include onTablet {
    font-size: 40px;
  }

  @include onDesktop {
    font-size: 48px;
  }
}

@mixin productTitle {
  color: $main-color;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

@mixin description {
  color: $main-color;
  font-family: Space Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@mixin productPrice {
  color: $main-color;
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

@mixin categorytTitle {
  color: $main-color;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;

  @include onTablet {
    font-size: 24px;
  }
}

@mixin input {
  color: $main-color;
  font-family: Space Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@mixin contacts-title {
  color: $contacts-titles-color;
  font-family: Space Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@mixin contacts-link {
  color: $contacts-link-color;
  font-family: Space Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%
}
