.button {
  display: flex;
  border: none;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  justify-content: center;
  align-items: center;
  background-color: $button-bgcolor;
  color: $button-text-color;
  line-height: 27px;
  height: 56px;
  transition: background-color 0.12s;

  &:hover {
    background-color: #ae1c23;
    cursor: pointer;
  }
}

.inscription {
  color: $inscription-color;
}

.title-name {
  @include title-name-font-size;

  letter-spacing: -1.5px;
  line-height: 48px;
}
