$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effect-duration: 0.3s;
$main-text-color: #292929;
$menu-bg-color: #e5e6e8;
$contacts-names-color: #9393a3;
$contacts-description-color: #191919;
$forms-bg-color: #f8f8fa;
$white-color: #fff;
$main-font-family: "Space Grotesk", sans-serif;
$main-font-weight: 700;
$secondary-font-family: "space Mono", sans-serif;
$secondary-font-weight: 400;
