$white: #fff;
$accent-color: #d12d35;
$hover-accent-color: #ae1c23;
$click-color: #eb343d;
$contact-txt-color: #3e3e3e;
$main-dark: #161616;
$input-bg-color: #f8f8fa;
$input-placeholder-color: #7e7e83;
$tablet-min-whidth: 722px;
$desktop-min-whidth: 1024px;
$font-weight-section-title-mobile: 32px;
$font-weight-section-title-tablet: 48px;
$font-size-header-title-mobile: 40px;
$font-size-header-title-tablet: 64px;
$font-size-header-title-desktop: 80px;
