$tablet-min-width: 744px;

$desktop-min-width: 1024px;

$main-text-color: #292929;
$secondary-text-color: #7e7e83;

$effectDuration: 0.3s;

$form-bg-colour: #f8f8fa;

$white: #fff;

$hover_efect_color: #999595;
