$tablet-min-width: 576px;
$desctop-min-width: 1200px;

// main color
$main-text-color: rgb(29, 29, 29);
$main-bg-color: rgb(29, 29, 29);
$button-color: #fff;

// form color
$form-bg-items: #f8f8fa;
$form-color-text: #292929;
$form-color-placeholder: #7e7e83;
