// ==== Colors ====
$color-text-dark: #1D1D1D;
$color-text-light: #FFF;
$color-bg-menu: #C2C2C2;

// ==== Fonts ====
$font-main: 'Poppins', sans-serif;

// ==== Sizes ====
$font-size-base: 16px;
$font-size-nav: 22px;
$icon-size-mobile: 24px;
$icon-size-tablet: 32px;
$logo-height-mobile: 38px;
$logo-height-tablet: 56px;

// ==== Layout ====
$gap-icons-mobile: 24px;
$gap-icons-tablet: 32px;
$padding-inline-mobile: 20px;
$padding-inline-tablet: 72px;
$transition-fast: 0.3s;
