$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$main-text-color: #292929;
$button-border-hover-color: #f0f1f4;
$background-hover-color: #f8f8fa;
$font-family: 'Space Grotesk', serif;
$second-family: 'Space Mono', monospace;
