$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$effectDuration: 0.3;
$main-text-color: #1b2129;
$categories-color-orange: #f98921;
$categories-color-withe: #ffff;

body {
  margin: 0;
  font-family: Manrope, sans-serif;
}
