$tablet-min-width: 576px;
$desktop-min-width: 1024px;

$effectDurstion: 0.3s;

$main-color-text: #fff;
$hover-color-form: #292929;
$main-color-form: #7e7e83;
$other-color-text: #1d1d1d;
$secondary-color-menu: #c2c2c2;
