$text-font-family: Cinzel, sans-serif;
$text-color: #FFF;
$red-text-color: #D12D35;
$dark-text-color: #161616;
$header-margin: 40px;
$header-width: calc(100vw - $header-margin);
$tablet-min-width: 744px;
$desctop-min-width: 1260px;
$mobile-margin: 20px;
$tablet-margin: 72px;
$desctop-margin: 120px;
$now-on-view-content-gap-mobile: 20px;
$now-on-view-content-gap-small-mobile: 8px;
$now-on-view-content-gap-tablet: 24px;
