$tablet-min-width: 576px;
$desktop-min-width: 1024px;

$effectDuration: 0.3s;

$main-text-color: #292929;
$gray: #7e7e83;
$white: #fff;

$smooth-transition: 300ms;

$text: 'Designed with instinct, to bring joy back to the everyday. Through the Glyph Interface, a perfected OS and exceptional dual camera. All startlingly fast.' ;
