$tablet-min-width: 576px;
$nav-text-color: #1d1d1d;
$icon-button-height: 24px;
$icon-button-width: 24px;
$menu-bg-color: #c2c2c2;
$main-bg-color: #1d1d1d;
$main-font-color: #fff;
$main-font-family: Poppins, sans-serif;
$main-line-height: 1.4;
