// menu
$menu-bg:#c2c2c2;

$tablet-min-width: 576px;
$desktop-min-width: 1024px;

$effectDuraction: 0.3s;

$main-dark-color: #1d1d1d;
$main-color-text: #fff;

//input
$input-bg-color: #f8f8fa;
$placeholder-color-input: #7e7e83;
$placeholder-color-input-active: #292929;

//colors
$color-white: #fff;
