$tablet-min-width: 576px;
$desktop-min-width: 1024px;

$effectDuration: 0.3s;

$main-text-color: #161616;


$input-padding-left: clamp(10px, calc(0.0731vw + 10.666px), 16px);
$input-padding-right: clamp(10px, calc(0.0731vw + 10.666px), 16px);
