$main-text-color: #1b2129;
$second-text-color: #fff;
$form-background: #f9f9f9;
$button-color: #f98921;
$button-hover-color: #1b2129;
$button-passed-color: #010810;
$main-background-color: #fff;
$second-background-color: #fcfaef;
