$header-title-color: #fff;
$sidemenu-color: #c2c2c2;
$tablet-min-width: 576px;
$laptop-min-width: 1024px;
$main-text-color: #1d1d1d;
$form-background: #f8f8fa;
$form-text-def-color: #7e7e83;
$form-text-color: #292929;
$form-hover-border: #d5d7de;
