$transition: 0.2s all linear;

$color-primary: #292929;
$color-secondary: #FFFFFF;
$color-border-button: #F0F1F4;
$color-border-input: #D5D7DE;
$color-bg: #F8F8FA;
$color-text: #7E7E83;
$color-menu-bg: #E5E6E8;
$color-pressed: #111111;
$color-title-contact: #9393A3;
$color-text-contact: #191919;
;

