$transition-value: 0.3s;
$white-color: #fff;
$hover-bike: #979797;
$header-top-background: #1d1d1d88;
$menu-background: #c2c2c2;
$black-color: #1d1d1d;
$box-shadow-color: #E8E8F0;
$font-weight-bold: 700;
$font-weight-medium: 500;
$icon-number-width: 138px;
$size-icon: 32px;
$icon-number-position: $size-icon + 20px;
$letter-spacing-negative: -1.5px;
$letter-spacing-wide: 2px;
$details-link-height: 56px;

