$wite-color: hsl(0, 0%, 100%);
$accet-main: hsl(357, 65%, 50%);
$button-active:hsl(357, 82%, 56%);
$main-dark: hsl(0, 0%, 9%);
$input-backgroound: hsl(240, 17%, 98%);
$input-color: hsl(240, 2%, 50%);
$inputbutton: hsl(357, 72%, 40%);
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
