$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$main-text-color: #fff;
$menu-text-color: #1d1d1d;
$menu-background-color: #c2c2c2;
$hover-color: #e8e8f0a3;
$main-font-family: Poppins, sans-serif;;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-small: 400;
$font-size-small: 12px;
$font-size-input-form: 14px;
$font-size-medium: 16px;
$font-size-bold: 22px;
$font-size-bold-1: 24px;
$font-size-bold-2: 32px;
$font-size-bold-3: 36px;
$font-size-bold-tablet: 48px;
$font-size-bold-desktop: 64px;
$font-size-bold-desktop-big: 80px;
