.museum-hours {
  @include onTablet {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 32px;

    // PLaced this instead of gap above
    @include onTablet {
      margin-right: 24px;
      margin-bottom: 0;
    }

    &-desc {
      font-size: 12px;
      line-height: 16.8px;

      color: $main-accent;
    }

    &-name {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: -1.5px;

      @include onTablet {
        font-size: 48px;
        line-height: 48px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
