.section--more-to-explore-online {
  width: 100%;

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }

  .section {
    &__title {
      color: var(--main-dark, #161616);
      text-align: center;
      font-family: Cinzel, sans-serif;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2rem; /* 100% */
      letter-spacing: -1.5px;

      @include onTablet {
        grid-column: 2/-2;
      }

      @include onDesktop {
        grid-column: 4/-4;
      }
    }

    &__item {
      @include onTablet {
        grid-column: 2/-2;
      }

      &--1 {
        @include onDesktop {
          grid-column: 1/5;
        }
      }
      &--2 {
        @include onDesktop {
          grid-column: 5/9;
        }
      }
      &--3 {
        @include onDesktop {
          grid-column: 9/-1;
        }
      }
    }
  }

  .item {
    &__title {
      color: $accent-main;
      text-align: center;
      font-size: 1.5rem;
      line-height: 140%;
      padding-top: 24px;

      @include onTablet {
        padding-top: 32px;
      }

      @include onDesktop {
        padding-top: 32px;
      }
    }

    &__description {
      color: $main-dark;
      text-align: center;
      font-family: Roboto, serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.69rem;
    }
  }
}
