.top-bar {
  padding-block: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 50px;
  }

  &__icons {
    display: flex;
    gap: 24px;
    align-items: center;

    @include on-tablet {
      gap: 55px;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 46px;
    width: 64px;

    @include hover(transform, scale(1.2));
    

    @include on-tablet {
      height: 65px;
      width: 87px;
    }
  }
}
