.museumHours {
  @include page-grid;

  &__title {
    margin-bottom: 32px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__description {
    grid-column: 1/ -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: span 7;
    }
  }

  &__subtitle {
    font-size: 12px;
    line-height: 16.8px;
    font-weight: 700;
    color: $red-text-color;
  }
}

.shedule {
  &--cloisters {
    margin-top: 24px;
  }

  &__title {
    @include h3-properties;
    
    line-height: 30px;
  }

  &__description {
    display: flex;
    column-gap: 24px;
    padding-block: 16px;
  }

  &__time {
    font-weight: 700;
    display: grid;
    row-gap: 8px;
  }
}
