.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 56px;
    }
  }

  &__button {
    @include pageGrid;
  }
  &__link {
    display: flex;
    height: 56px;

    grid-column: span 2;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $main-text-color;

    color: $resetColor;
    font-weight: 700;
    text-decoration: none;

    transition: all $effectDuration;

    @include onTablet {
      grid-column: span 6;
    }

    @include onDesktop {
      grid-column: span 4;
    }

    @include hoverButton;

    &:active {
      color: $resetColor;
      background: $button-active-color;
    }
  }
}
