@use 'variables' as *;
@use '../utils/mixins' as *;

.button {
  padding: 15px 0;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  color: $main-bg;
  font-size: 16px;
}
