@use 'variables' as *;
@use '../utils/mixins' as *;

.move {
  @include pageGrid;

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDekstop {
      grid-column: span 5;
    }
  }

  &__text {
    margin: 0;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDekstop {
      grid-column: span 5;
    }
  }
}
