@use 'variables' as *;
@use '../utils/mixins' as *;

.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  line-height: 100%;

  @include on-tablet {
    margin-bottom: 64px;
    font-size: 48px;
  }

  @include on-dekstop {
    margin-bottom: 56px;
    font-size: 64px;
  }

  &--align--left {
    text-align: left;
    margin-bottom: 32px;
  }
}
