$tablet-min-width: 576px;
$dekstop-min-width: 1024px;
$effect-duration: 0.3s;
$main-font-family: Poppins, sans-serif;
$main-color-text: #fff;
$aside-color-text: #1d1d1d;
$main-bg: #1d1d1d;
$aside-bg-color: #c2c2c2;
$placeholder-color: #7e7e83;
$placeholder-size: 14px;
$bg-input: #F8F8FA;
$color-input: #292929;
