@mixin onDesktopSection4($numColumns)
    @media screen and (min-device-width: 1150px) and ( max-device-width: 2600px )
        grid-template-columns: repeat($numColumns, 1fr)
        gap: 24px
        .explore__title
            text-align: center
            grid-column: 5 / 9
            font-size: 48px
            width: 498px
        .explore__list
            grid-column: 2 / 12
            display: inline-flex
            gap: 24px
            justify-content: stretch
            align-items: flex-start
            .explore__item
                .item__photo
                    margin-bottom: 31px

@mixin onTabletSeciton4($numColumns)
    @media screen and (min-device-width: 744px) and ( max-device-width: 1149.99px )
        grid-template-columns: repeat($numColumns, 1fr)
        gap: 24px
        .explore__title
            text-align: center
            grid-column: 3 / 5
            font-size: 48px
            width: 498px
        .explore__list
            grid-column: 2 / 6
            display: flex
            flex-direction: column
            gap: 24px
            justify-content: center
            align-items: center
            .explore__item
                .item__photo
                    margin-bottom: 31px

@mixin onMobileSection4($numColumns)
    @media screen and (min-device-width: 320px) and ( max-device-width: 743.99px )
        grid-template-columns: repeat($numColumns, 1fr)
        gap: 24px
        justify-items: center
        .explore__title
            text-align: center
            grid-column: 1 / 1
            font-size: 36px
            width: 280px
        .explore__list
            grid-column: 1 / 1
            display: flex
            flex-direction: column
            gap: 24px
            justify-content: center
            align-items: center
            .explore__item
                .item__photo
                    width: 90%
                    margin-bottom: 31px


        