@import './mixinsSection4.sass'
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')

.section-4
    display: grid
    grid-auto-flow: row
    padding: 5dvh
    .explore__title
        width: max-content
        font-weight: bold
        grid-row: 1 / 1

    .explore__list
        list-style: none
        .explore__item
            text-align: center
            .item__title
                color: #D12D35
            .item__description
                padding: .95dvw
                margin-top: .15dvw
                font:
                    weight: 400
                    family: Roboto, sans-serif
    @include onDesktopSection4(12)
    @include onTabletSeciton4(6)
    @include onMobileSection4(1)
    

    
    
    
    