.move-free {
  @include pageGrid;

  &__title {
    grid-column: 1/-1;
    margin-bottom: 32px;
  }

  &__desc {
    grid-column: span 2;

    font-size: 23px;
    font-weight: 500;
    line-height: 140%;
  }

  @include onTablet {
    &__title {
      grid-column: 1/4;
      margin-bottom: 0;
    }

    &__desc {
      grid-column: 4/-1;
    }
  }

  @include onDesktop {
    &__title {
      grid-column: 1/5;
    }

    &__desc {
      grid-column: 6/-2;
    }
  }
}
