.divider-img {
  background-image: url(../images/divide-about-us.png);
  background-size: cover;
  background-position: center;
  height: 200px;

  @include onTablet {
    height: 400px;
  }

  @include onDesktop {
    height: 460px;
  }
}
