html{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1,
h2,
p,
h3,
body,
a,
li,
ul{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: rgba(41, 41, 41, 1);
}

form{
  display: flex;
  flex-direction: column;
}

.link{
  box-sizing: border-box;
}
