.main{
  display: grid;
  row-gap: 96px;
  padding-block: 64px;

  // @include content-padding-inline;

  @include on-desktop{
    row-gap: 120px;
  padding-block: 120px;
  }

  @include on-tablet{
    row-gap: 120px;
  padding-block: 120px;
  }
}

.recommended{
  @include content-padding-inline;
  &__products{
    @include  page-grid;

    row-gap: 40px;
  }
}

.product{
  grid-column: 1/-1;

  @include on-tablet{
    grid-column: 1/-1;
  }

  @include on-desktop{
    grid-column: span 4;
  }

  &__photo{
    width: 100%;
  }
}
