.contacts{
  @include  page-grid;

  padding-inline: 20px;

  @include on-tablet{
        padding-inline: 72px;
    }

      @include on-desktop{
        padding-inline: 120px;
      }


  &__box{
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;

    @include on-tablet{
      grid-column: 1/-1;
    }

    @include on-desktop{
      grid-column: 1/6;
    }
  }

  &__name{
    margin-bottom: 16px;
    height: 48px;
    padding-left: 16px;
    background-color: rgba(248, 248, 250, 1);
    border: none;
    border-radius: 8px;
    }

    &__email{
    margin-bottom: 16px;
    height: 48px;
    padding-left: 16px;
    background-color: rgba(248, 248, 250, 1);
    border: none;
    border-radius: 8px;
    }

    &__message{
    margin-bottom: 32px;
    height: 148px;
    padding: 14px 16px;
    background-color: rgba(248, 248, 250, 1);
    border: none;
    border-radius: 8px;
    resize: none;
    }
    &__send{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 48px;
    height: 56px;
    background-color: rgba(41, 41, 41, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;

      @include on-tablet{
        margin-bottom: 80px;
      }
    }
}

.adress{
  grid-column: 1/-1;

    @include on-tablet{
      grid-column: 1/-1;
    }

    @include on-desktop{
      padding-top: 100px;
      grid-column: 7/-1;
    }
}
