.nav {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px 112px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @include onTablet {
    padding: 36px 72px 168px;
  }

  @include onDesktop {
    padding: 36px 120px 203px;
  }

  &__logo {
    width: 130px;
    height: 38px;

    @media (min-width: 480px) {
      width: 186px;
      height: 56px;
    }
  }

  &__items {
    display: grid;
    grid-auto-flow: column;
    gap: 24px;
  }

  &__phone {
    &::before {
      content: "+1 234 555-55-55";
      position: absolute;
      pointer-events: none;
      opacity: 0;
      transition: all 300ms;
      padding: 5px 10px;
      white-space: nowrap;
      transform-origin: right;

      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
    }

    &:hover {
      &::before {
        transform: translateX(-100%);
        opacity: 1;
      }
    }
  }

  &__menu {
    background-color: transparent;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__btn-burger {
    cursor: pointer;
  }
}

.icons {
  width: 24px;
  height: 24px;
  cursor: pointer;

  @media (min-width: 480px) {
    width: 32px;
    height: 32px;
  }
}
