.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;

  @include hover-transform;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/phone.svg);
  }

  &--menu {
    background-image: url(../images/menu.svg);

    &:hover {
      background-image: url(../images/menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/close.svg);
  }
}
