.contact__contents {
  @include page-grid;

  &-bars {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &-bar-data {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border-radius: 40px;
    background-color: #f8f8fa;

    margin: 0;
    margin-bottom: 16px;

    font-family: $main-font;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    padding-left: 16px;

    &::placeholder {
      color: #7e7e83;
    }
  }

  &-bar-massage {
    box-sizing: border-box;
    height: 148px;
    border-radius: 16px;
    background-color: #f8f8fa;
    width: 100%;
    vertical-align: top;

    font-family: $main-font;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;

    padding: 14px 16px;

    &::placeholder {
      color: #7e7e83;
    }
  }

  &-bar-button {
    display: grid;
    box-sizing: border-box;
    margin-bottom: 48px;
  }

  &-description {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 6;
    }

    @include on-desktop {
      grid-column: 9 / 12;
    }

    &-h3 {
      margin: 0;
      margin-bottom: 8px;

      font-family: $main-font;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0;
    }

    &-p {
      margin: 0;
      margin-bottom: 24px;

      font-family: $main-font;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
    }
  }
}
