.footer {
  background-image: url('../assets/photos/footer4x.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 180px;
  width: 100%;

  position: sticky;
  bottom: 0;

  z-index: -1;

  @include on-tablet {
    height: 360px;
  }
}
