.form {
  @include onTablet {
    grid-column: span 5;
  }

  @include onDesktop {
    grid-column: -6 / -1;
  }

  &__inputs {
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input {
    display: block;

    padding-inline: 16px;
    height: 48px;
    background-color: $input-bg-color;

    border: 1px solid transparent;
    border-radius: 0;

    color: $secondary-accent;
    font-size: 14px;
    line-height: 20px;

    transition: background-color $transition-duration,
      border-color $transition-duration;

    &:hover {
      background-color: $input-bg-color-hover;
    }

    &:focus {
      outline: none;
      border-color: $secondary-accent;
    }

    &::placeholder {
      color: $input-placeholder-color;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    &--textarea {
      height: 144px;
      padding-block: 14px;

      resize: none;
    }
  }

  &__button:hover {
    cursor: pointer;
  }
}
