.location {
  @include onDesktop {
    grid-column: span 6;
  }

  &__title {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 27px;
  }

  &__details-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
  }

  &__details-value {
    font-size: 16px;
    line-height: 27px;

    transition: color $transition-duration;

    &:hover {
      color: $main-accent;
    }

    &-address {
      line-height: 140%;
    }
  }
}
