.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  &__field {
    width: 100%;

    & input,
    textarea {
      background-color: $dark-white;
      border: none;
      padding: 10px 14px;
      width: 100%;
      color: $main-dark;
      font-family: Cinzel, sans-serif;
      font-size: 0.89rem;
      line-height: 1.25rem;
      box-sizing: border-box;

      &::placeholder {
        color: $placeholder;
        font-size: 0.89rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
      }
    }

    & input {
      height: 48px;
    }

    & textarea {
      height: 144px;
      resize: none;
    }

    input:hover,
    textarea:hover {
      outline: none;
      border: 1px solid #d5d7de;
    }
    input:focus,
    textarea:focus {
      outline: none;
      border: 1px solid $main-dark;
    }
  }
}
