@mixin onTablet {
  @media (min-width:$tabletMin-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width:$onDesktopMin-width) {
    @content;
  }
}

@mixin padingInlineblock {
  padding-inline: 120px;
}

@mixin marginBottom {
  margin-bottom: 48px;
}

@mixin gridPage {
  --column: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--column),1fr);

  @include onTablet {
    --column: 6;
  }

  @include onDesktop {
    --column: 12;
  }
}
