@mixin onTablet {
  @media (min-width:$tabletMin-width) {
    .container {
      padding: 36px 71px;
    }
    @content;
  }
}

@mixin onDesktop {
  @media (min-width:$onDesktopMin-width) {
    .container {
      padding: 36px 124px;
    }
    @content;
  }
}

@mixin productSectiomAdaptive {
  display: flex;
  flex-direction: row;
}

@mixin gridPage {
  display: grid;
  --columns: 2;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 6;
  }

  @include onDesktop {
    --columns: 12;
  }

}

@mixin padingInlineblock {
  padding-inline: 120px;
}

@mixin marginBottom {
  margin-bottom: 48px;
}
