$tabletMin-width: 744px;
$onDesktopMin-width: 1060px;
$color-white:#fff;
$color-shadowWhite:#f8f8fa;
$color-browWhite:#7e7e83;
$color-faded:#3e3e3e;
$color-shadow:#292929;
$color-blueWhite:#9fadc2;
$medium-font-weight: 700;
$bold-font-weight: 800;
$small-bottomGap:16px;
$medium-bottomGap:48px;
