$icons-size: 24px;
$icons-size-big-screen: 32px;
$main-white: #fff;
$second-white: #f8f8fa;
$main-red: #d12d35;
$dark-red: #ae1c23;
$light-red: #eb343d;
$main-dark: #161616;
$light-dark: #7e7e83;
$bg-grey: #f8f8fa;
$font-weight-normal: 400;
$font-weight-bold: 700;
$standard-transition: all 0.6s ease-in-out;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
