$tablet-min-wigth: 576px;
$desktop-min-wigth: 1024px;

$effectDuration: 0.3s;

$main-textPage-color: #292929;
$secondary-textPage-color: #191919;
$tertiary-textPage-color: #9393a3;
$main-backgroundMenu-color: #e5e6e8;
$main-backgroundMenuTop-color: #e5e5e5;

$main-borderButton-color: #292929;
$hover-borderButton-color: #f0f1f4;
$active-borderButton-color: #111;
$main-backgroundButton-color: #292929;
$hover-backgroundButton-color: #f8f8fa;
$active-backgroundButton-color: #111;
$main-textButton-color: #fff;
$hover-textButton-color: #292929;
$active-textButton-color: #fff;

$main-borderCategory-color: #f8f8fa;
$hover-borderCategory-color: #d5d7de;
$focus-borderCategory-color: #292929;
$main-borderCategory-color: #f8f8fa;

$main-textCategory-color: #292929;
$placeholder-textCategory-color: #7e7e83;
$hoverPlaceholder-textCategory-color: #292929;
$focusPlaceholder-textCategory-color: #292929;
