$first-font-family: "Space Grotesk", helvetica, sans-serif;
$second-font-family: "Space Mono", helvetica, sans-serif;
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$main-text-color: #292929;
$active-color: #111;
$input-color: #7e7e83;
$input-hover-color: #d5d7de;
$hover-color: #f8f8fa;
$border-hover-color: #f0f1f4;
$menu-background-color: #ececec;
$effectDuration: 0.3s;
$scale-value: 1.08;
$scale-value-for-header: 1.2;
