@import './mixinsSection3.sass'

.section-3
    padding: 2dvw
    display: grid
    justify-items: center
    grid-auto-flow: row
    .gallery-title
        margin-top: 2dvw
        grid-row: 1 / 1
        display: flex
        justify-content: center
        align-items: flex-start
        flex-direction: column
        text-align: center
        .gallery-title__title
                font:
                    weight: bold
    .gallery-exhibition

        display: flex
        flex-direction: column
        align-items: center
        gap: 2dvw
        .exhibition__item
            display: flex
            flex-direction: column
            gap: .15dvw
            &:first-child
                .item__list
                    display: grid
                    grid-template-columns: 2fr 1fr
                    gap: 1.25dvw
                    justify-content: center
            &:nth-child(2)
                .item__list
                    display: grid
                    grid-template-columns: repeat(3, 1fr)
                    gap: 1.25dvw
                    justify-content: center
            &:nth-child(3)
                .item__list
                    display: grid
                    grid-template-columns: 1fr 2fr
                    gap: 1.25dvw
                    justify-content: center
            .item__title
                margin-top: 2dvh
                font:
                    weight: bold
                    size: 16px
                color: #D12D35
            .item__date
                font-size: 16px
    .gallery-all__anchor
        margin-bottom: 3dvw
        width: max-content
        padding: 1.15dvw
        height: 56px
        background-color: #D12D35
        text-decoration: none
        text-align: center
        line-height: 56px
        color: white
        font:
            weight: bold
            size: 16px
        grid-row: 3 / 3
        &:hover 
            background-color: #ae1c23
        &:active
            background-color: #eb343d
    @include onDesktopSection3(12)
    @include onTabletSection3(6)
    @include onMobileSection3(1)
    
    
        