@mixin on-table {
  @media (min-width:576px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desctop-min-width ) {
    @content;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property};

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin constent-padding-inline() {
  padding-inline: 20px;

  @include on-table {
    padding-inline: 72px;
  }



}
