@mixin onTablet {
  @media (min-width: 743px) {
    @content;
  }
}

@mixin onDeskTop {
  @media (min-width: 1080px) {
    @content;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin pageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include onDeskTop {
    grid-template-columns: repeat(12, 1fr);
  }
}
