$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$backgroung-buttom-color: #F98921;
$effectDuration: 0.3s;

$main-text-color: #1B2129;
$paragraf-text-color: #7E7E83;
$background-color-menu: #e5e5e5;
$background-color: #F9F9F9;

$heared-color: #FFFFFF;
