$main-text-color: #fff;
$menu-text-color: #1d1d1d;
$menu-background-color: #c2c2c2;
$menu-text-weight: 600;
$transition-dutation: 0.3s;
$post-title-weight: 700;
$buttom-hover: 1px 4px 16px 0 #e8e8f066;
$buttom-focus: 1px 4px 16px 0 #e8e8f0a3;
$form-text-color: #292929;
$form-placeholder-color: #7e7e83;
