$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effect-duration: 0.5s;
$bg-main-color: #1d1d1d;
$bg-second-color: #fff;
$bg-form-color: #f8f8fa;
$main-text-color: #fff;
$menu-text-color: #1d1d1d;
$hover-text-color: #aaa;
$input-text-color: #292929;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
