$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effect-duration: 0.3s;
$main-text-color: #1b2129;
$background-about-us-color: #fcfaef;
$background-button-color: #f98921;
$background-button-hover-color: #1b2129;
$background-button-active-color: #010810;
$placeholder-text-color: #7e7e83;
$background-menu-color: #f9f9f9;
$white-text-color: #fff;
$contact-us-link-color: #191919;
$form-border-hover-color: #dbdbdb;
$link-hover-color: #f98921;
