.compare {
  display: grid;
  row-gap: 48px;
  grid-template-columns: repeat(1, 1fr);

  &__products {
    @include pageGrid;
    row-gap: 40px;

  }

  &__product {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }
}

.product {
  @include hover(transform, scale(1.03));

  cursor: pointer;
  &__photo {
    width: 100%;
  }

  &__title {
    margin-top: 32px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  &__description {
    margin-top: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__price {
    margin-top: 16px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }
}
