.form {
  &__input {
    width: 100%;
    height: 48px;
    padding-inline: 14px;
    border-radius: 40px;
    background: $color-inputs-bg;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;

    &::placeholder {
      color: $color-inputs-placeholder;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      transition: color $time-duration;
    }

    &:hover::placeholder {
      color: $color-inputs-text;
    }

    &:focus-visible {
      outline: none;
    }

    &--textarea {
      display: block;
      height: 148px;
      padding-block: 14px;
      resize: none;
      border-radius: 16px;
      color: $color-inputs-text;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  &__button {
    grid-column: 1 / -1;
    height: 56px;
    cursor: pointer;
    margin-top: 16px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: $color-black;
    border-radius: 40px;
    background-color: $color-white;

    @include hover(box-shadow, 1px 4px 16px 0 $color-button-shadow-hover);

    &:active {
      box-shadow: 1px 4px 16px 0 $color-button-shadow-active;
    }

    &:focus-visible {
      outline: none;
    }
  }
}
