.main {
  background-color: $color-black;

  @include sticky-footer-handler(margin-bottom);

  &__content {
    padding-block: 60px 80px;
    row-gap: 92px;
    display: grid;

    @include onTablet {
      padding-block: 120px 120px;
      row-gap: 120px;
    }

    @include onDesktop {
      padding-block: 120px 180px;
      row-gap: 144px;
    }
  }
}
