.move-free {
  --columns-count: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns-count), 1fr);
  row-gap: 32px;

  @include onTablet {
    justify-items: center;
    --columns-count: 2;
    column-gap: 24px;
  }

  @include onDesktop {
    justify-items: stretch;
  }

  &__description {
    text-align: left;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
}
