.page 
    display: grid
    grid-template-columns: repeat(6, 16.666666667dvw)
    grid-auto-flow: row
    gap: 24px
    text-align: start
    overflow-x: hidden
    position: absolute
    width: 100dvw
    left: 0
    right: 0 