@use '../utils' as *;

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fcfaef;

  margin-top: $section-margin-top;

  &__media {
    @include about-image-height;

    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
  }

  &__content {
    padding: 0 20px;
    margin-bottom: 48px;
  }

  &__title {
    margin-top: 48px;

    size: 32px;
    line-height: 32px;
    font-weight: 700;
  }

  &__description {
    margin-top: 24px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
  }
}
