.btn {
  @include page-grid;

  @include on-mobile {
    padding-bottom: 48px;
  }

  &__settings {
    @include ajustes-btn;

    background-color: $color-white;
    height: 56px;
    border: none;
    border-radius: 40px;
    color: $color-text-link;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    grid-column: 1/-1;
    line-height: 27px;
    cursor: pointer;


    @include on-tablet {
      grid-column: 2/-2;
    }

    @include on-desktop {
      grid-column: 5/-5;
    }

    &--text {
      margin: 1;
    }
  }

  &__contact {
    @include ajustes-btn;

    width: 100%;
    background-color: $color-white;
    height: 56px;
    border: none;
    border-radius: 40px;
    color: $color-text-link;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 48px;
    grid-column: 1/-1;
    cursor: pointer;


    @include on-tablet {
      grid-column: span 3;
      margin-bottom: 0;
    }

    @include on-desktop {
      grid-column: 5/-5;
    }
  }
}
