$color-title: #fff;
$color-background-menu: #c2c2c2;
$color-text-link: #1d1d1d;
$color-text-form: #7e7e83;
$color-white: #fff;
$color-retangulo-form: #f8f8fa;
$color-background-page: #1d1d1d;
$color-shadow-buttons:#E8E8F0;
