$font-poppins: 'Poppins', sans-serif;
$font-weight-700: 700;
$font-weight-600: 600;
$font-size-title: 36px;
$font-size-link: 22px;
$font-size-call: 16px;
$font-size-call-to-order: 12px;
$line-height-title: 36px;
$line-heigth-link: 22px;
$line-heigth-call: 27px;
$line-heigth-call-to-order: 16px;
$spacing-letter--1_5: -1.5px;
$spacing-letter-2: 2px;
