/***********************************
--------- COMMON STYLES ------------
************************************/

html {
  font-family: $global-font-family, monospace;
  font-size: $global-fz;
  line-height: $global-lh;
  color: $main-color;
  font-weight: $global-fw;
  font-style: normal; // default value
  scroll-behavior: smooth;
}

.container {
  @extend %contentPaddingCentering;
}
