/***********************************
------- FLEX POSITION START --------
************************************/

@mixin flex-align($just-pos) {
  display: flex;
  justify-content: $just-pos;
  align-items: center;
}

/***********************************
------- FLEX POSITION END ----------
************************************/

/***********************************
----------- MEDIA  START -----------
************************************/

@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

/***********************************
------------ MEDIA  END ------------
************************************/

/***********************************
----------- HOVER  START -----------
************************************/

@mixin hover ($property, $toValue) {
  transition: #{$property} $effectDuration $effectFunc;
  @media (hover:hover) {
    &:hover {
      #{$property}: $toValue;
      @content;
    }
  }
}

/***********************************
----------- HOVER  END -------------
************************************/
