@mixin flex-centering($just-pos) {
  display: flex;
  justify-content: $just-pos;
  align-items: center;
}

@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin hover ($property, $toValue) {
  transition: #{$property} $effectDuration $effectFunc;
  @media (hover:hover) {
    &:hover {
      #{$property}: $toValue;
      @content;
    }
  }
}

@mixin btn-sqr ($size, $color) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: $size + px;
    height: $size + px;
    background-color: $color;
    right: -50px;
    top: 50%;
    transform: translateY(-50.5%);
    bottom: 0;

    @include onTablet {
      transform: translateY(-50.5%);
      right: -71px;
    }

  }

  &::after {
    content: "";
    width: 7px;
    height: 7px;

    border-top: 3px solid #d7dde3;
    border-left: 3px solid #d7dde3;

    position: absolute;
    right: -32px;
    top: 50%;
    transform: rotate(134deg) translateY(50%);

    @include onTablet {
      right: -43px;
    }
  }
}
