%contentPaddingCentering {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesktop {
    max-width: 1260px;
    padding-inline: 120px;
    margin-inline: auto;
    box-sizing: border-box;
  }
}

%pageGrid {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include onTablet {
    --columns: 6;
    column-gap: 24px;
  }

  @include onDesktop {
    --columns: 12;
  }
}

%title {
  font-family: $addition-font-family-2, sans-serif;
  font-weight: 700;
}
