// colors
$button-color: #fff;
$main-color: #292929;
$form-bg-color: #f8f8fa;
$burger-menu-color: #e5e6e8;
$footer-contacts: #9393a3;

// general
$global-fz: 16px;
$global-lh: 22.4px;
$global-fw: 400;

// fonts
$global-font-family: "Space Mono";
$addition-font-family-1: "Inter";
$addition-font-family-2: "Space Grotesk";

// hover
$effectDuration: 0.3s;
$effectFunc: ease;

// media
$tablet-min-width: 744px;
$desktop-min-width: 1260px;

// burger close icon
$close-icon-left: #414141;
$close-icon-right: #c10d00;
