// colors
$white: #fff;
$black-ease: #0f0e08;
$black: #000;
$grey-dark: #4e4e4e;
$grey: #687480;
$green: #1a5a4c;
$orange: #f14a27;

// general
$global-fz: 14;
$global-lh: 1.15;
$global-fw: 400;

// hover
$effectDuration: 0.3s;
$effectFunc: ease;

// media
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
