.schedule {
  font-size: 1rem;
  line-height: 1rem;
  color: $main-dark;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__container {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  &__labels,
  &__values {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__label {
    color: var(--main-dark, #161616);
    font-family: Cinzel, sans-serif;
    font-size: 1rem;
    line-height: 1.69rem;
  }

  &__value {
    font-weight: 400;
  }
}
