.Contact {
  &__list {
    grid-column: 1 / -1;
    list-style: none;
    margin: 48px 0 8px;
    padding: 0;

    &--Email {
      grid-column: 1 / -1;
      list-style: none;
      padding: 0;

      @include forTablet {
        margin-top: 0;
        grid-column: 4 / 6;
        grid-row: 2;
      }

      @include forDesktop {
        grid-column: 9 / 11;
      }
    }

    &--Address {
      grid-column: 1 / -1;
      list-style: none;
      padding: 0;

      @include forTablet {
        margin-top: 0;
        grid-column: 4 / 6;
        grid-row: 3;
      }

      @include forDesktop {
        grid-column: 9 / 12;
      }
    }

    @include forTablet {
      margin-top: 0;
      grid-column: 4 / 7;
      grid-row: 1;
    }

    @include forDesktop {
      grid-column: 9 / 11;
    }
  }

  &__item {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;

    &--href {
      text-decoration: none;
      color: #fff;
    }

    &--Big {
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
      line-height: 22.4px;
    }

    &__row {
      margin-top: 24px;
    }
  }

  &__button {
    background-color: #fff;
    grid-column: 1 / -1;
    border-radius: 40px;
    width: 100%;
    height: 56px;
    margin-top: 16px;
    border: none;
    cursor: pointer;
    outline: none;

    font-weight: $font-size-big;
    font-size: 16px;
    line-height: 27px;

    @include forTablet {
      grid-column: 1 / 4;
    }

    @include forDesktop {
      grid-column: 1 / 7;
    }
  }

  &__center {
    display: grid;
    max-width: 1260px;
    margin-inline: auto;
  }

  &__grid {
    @include pageGrid;
    margin: 0 20px;

    @include forTablet {
      margin: 0 72px;
    }

    @include forDesktop {
      margin: 0 120px;
    }
  }

  &__input {
    padding: 14px 16px;
    grid-column: 1 / -1;
    margin-bottom: 12px;
    height: 48px;
    border-radius: 40px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;

    &::placeholder {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    &--Big {
      height: 148px;
      border-radius: 16px;
      padding-top: 14px;
      resize: none;
    }

    @include forTablet {
      grid-column: 1 / 4;
    }

    @include forDesktop {
      grid-column: 1 / 7;
    }
  }
}
