.header {
  display: none !important;
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg.png);
  background-size: cover;

  @include forTablet {
    background-image: url(../images/Cover_photo.png);
    background-position: center;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    margin: 0;
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    word-wrap: break-word;

    @include forTablet {
      font-size: 64px;
      text-align: center;
    }
  }

  &__bottom {
    padding-bottom: 88px;
    @include contentPadding;
    @include forTablet {
      padding-bottom: 130px;
    }
  }
}

