.icon {
  display: block;
  height: 24px;
  width: 24px;

  transition: transform 0.3s;

  &:hover {
    transform: $transform;
  }

  @include forTablet{
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
  }

  &--phone {
    background-image: url(../images/Icon-Phone-call.png);
  }

  &--menu {
    background-image: url(../images/Icon-Burger-menu.png);
  }

  &--close {
    background-image: url(../images/Icon-Close.png);
  }
}

