.section-title {
  margin: 0;
  margin-bottom: 48px;
  color: white;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;

  @include forTablet {
    font-size: 48px;
  }

  @include forDesktop {
    font-size: 64px;
  }
}
