.section-title {
  margin: 0;
  margin-bottom: 48px;
  color: white;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;

  &--align--left {
    text-align: left;
    padding: 0 20px;

    @include forTablet {
      min-width: 288px;
      padding-left: 72px;
      padding-right: 0;
    }

    @include forDesktop {
      min-width: 411px;
      padding-left: 120px;
      padding-right: 0;
    }
  }
  @include forTablet {
    line-height: 48px;
    font-size: 48px;
  }

  @include forDesktop {
    line-height: 64px;
    font-size: 64px;
  }
}

.section-description {
  padding: 0 20px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 32.2px;

  @include forTablet {
    padding: 0 72px 0 24px;
    margin: 0;
  }

  @include forDesktop {
    padding: 0 120px 0 24px;
    margin: 0;
  }
}

.MoveFree {
  @include forTablet {
    display: flex;
  }

  @include forDesktop {
    display: flex;
  }
}
