.top-bar {
  padding-block: 24px;
  @include contentPadding;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include forTablet {
   padding-block: 76px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;
    @include forTablet {
      height: 56px;
    }

    &:hover {
      transform: $transform;
    }
  }
}
