.contact-means {
  @include text-cinzel($c-dark-ink);
  @include p;
  @include bold;

  transition: color $d-transition-duration linear;
  text-decoration: none;

  &:hover {
    color: $c-main-accent;
  }

  &::before {
    @include h5($c-dark-ink);

    display: block;
  }

  &--phone::before {
    content: 'Phone';
  }

  &--address::before {
    content: 'Address';
  }
}
