@use '../base/variables' as var;

.about-us {
  margin-bottom: 120px;
  background-color: var.$color__beige;
  &__image {
    height: 460px;
    background-image: url('../img/main/about-us/background-old-speaker.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;

    width: 100%;
  }
  &__history {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    align-items: center;
    height: 360px;
  }

  &__title {
    font-size: 48px;
    grid-column: span 6;
  }

  &__text {
    grid-column: 8/13;
    line-height: 22px;
  }
}
