@use '../base/variables' as var;

.contact-us {
  margin-bottom: 120px;
  &__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 56px;
  }
  &__content {
    display: flex;
    gap: 111px;
  }

  // &__form {
  // }
  &__inputs {
    display: flex;
    flex-direction: column;
    &-design {
      padding: 14px 16px;
      background-color: var.$color__grey;
      border: 1px solid transparent;
      border-radius: 8px;
      width: 498px;
      height: 48px;
      margin-bottom: 16px;
      font-size: 14px;
      color: var.$color__black;

      &::placeholder {
        color: #7e7e83;
      }
      &:nth-child(6) {
        margin-bottom: 32px;
        height: 148px;
        resize: none;
      }

      &:hover {
        border: 1px solid #dbdbdb;
      }
      &:hover::placeholder {
        color: var.$color__black;
      }
      &:focus {
        outline: none;
        border: 2px solid var.$color__orange;
      }
    }
  }

  &__button {
    height: 56px;
    width: 498px;
    border: none;
    border-radius: 8px;
    color: var.$color__main-white;
    background-color: var.$color__orange;
    line-height: 27px;

    &:hover {
      background-color: var.$color__black;
    }
    &:active {
      background-color: var.$color__black-black;
    }
  }

  // &__info {
  // }

  &__text {
    color: #191919;
    margin-bottom: 24px;
    h2 {
      margin-bottom: 8px;
      color: #9393a3;
      font-size: 14px;
      font-weight: 400;
    }
    a {
      color: #191919;
      &:hover {
        font-weight: 700;
      }
    }
    address {
      font-style: normal;
    }
  }
}
