@use '../base/variables' as var;

.header {
  height: 100vh;
  background-image: url('../img/header/header-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    height: inherit;
    max-width: 1260px;
    padding: 36px 120px 64px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
  }
  &__icons {
    display: flex;
    align-items: center;
    gap: 36px;

    &-phone {
      display: block;
      position: relative;
      background-image: url('../img/icons/phone.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 24px;
      height: 24px;
      &:hover::before {
        content: '+1 234 555-55-55';
        letter-spacing: 2px;
        position: absolute;
        font-family: Inter, serif;
        right: 50px;
        top: 30%;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        white-space: nowrap;
        color: #1b2129;
      }
    }
    &-menu {
      display: flex;
      position: relative;
      background-image: url('../img/icons/menu.svg');
      background-repeat: no-repeat;
      background-size: cover;

      width: 24px;
      height: 16px;

      &:hover {
        background-image: url('../img/icons/menu2.svg');
        width: 24px;
        height: 16px;
      }
    }
  }
  &__title {
    color: var.$color__main-white;
    font-weight: 700;
    line-height: 56px;
    font-size: 56px;
  }
}
