@use '../base/variables' as var;

.header {
  min-height: 720px;
  background-image: url('../img/header/header-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: inherit;
    padding: 0 120px;
    padding-top: 36px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
  }
  &__icons {
    display: flex;
    align-items: center;
    gap: 36px;
  }
  &__title {
    padding-bottom: 64px;
    color: var.$color__main-white;
    font-weight: 700;
    line-height: 56px;
    font-size: 56px;
  }
}
