@use '../base/variables' as var;

.main {
  &__container {
    padding: 0 120px;
    max-width: 1260px;
    padding-top: 120px;
    margin: 0 auto;
  }
}

.recommended-products {
  &__title {
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 56px;
    font-weight: 700;
  }

  &__articles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
  }

  &__article {
    height: 525px;
    width: 324px;

    &-background {
      background-color: var.$color__grey;
      border: none;
      border-radius: 4px;
      height: 324px;
      cursor: pointer;
    }

    &-img {
      width: 324px;
      height: 324px;
      object-fit: contain;
    }
    &-title {
      font-size: 18px;
      font-weight: 700;
      line-height: 25.2px;
      padding-top: 24px;
    }
    &-text {
      font-size: 16px;
      max-width: 280px;
      line-height: 22.4px;
      padding-top: 8px;
      letter-spacing: 0.15px;
    }
    &-price {
      font-weight: 700;
      font-size: 16px;
      line-height: 22.4px;
      padding-top: 12px;
    }
  }
}

.products {
  &__title {
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 56px;
    font-weight: 700;
  }

  &__articles {
  }

  &__article {
    height: 20px;
    background-color: black;
    margin-bottom: 56px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var.$color__main-white;
    background-color: var.$color__orange;
    border-radius: 8px;
    border: none;
    height: 56px;
    width: 324px;
    cursor: pointer;
    line-height: 27px;
    &:hover {
      background-color: var.$color__black;
    }
    &:active {
      background-color: var.$color__black-black;
    }
  }
}
