@use '../base/variables' as var;

.main {
  margin-top: 120px;
  &__container {
    padding: 0 120px;
    max-width: 1260px;
    margin: 0 auto;
  }
}

.recommended-products {
  margin-bottom: 120px;
  &__title {
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 56px;
    font-weight: 700;
  }

  &__articles {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__article {
    height: 525px;
    width: 324px;

    &-background {
      background-color: var.$color__grey;
      border: none;
      border-radius: 4px;
      height: 324px;
    }

    &-img {
      width: auto;
      height: 324px;
      object-fit: contain;
      cursor: pointer;
    }
    &-title {
      font-size: 18px;
      font-weight: 700;
      line-height: 25.2px;
      padding-top: 24px;
    }
    &-text {
      font-size: 16px;
      max-width: 280px;
      line-height: 22.4px;
      padding-top: 8px;
      letter-spacing: 0.15px;
    }
    &-price {
      font-weight: 700;
      font-size: 16px;
      line-height: 22.4px;
      padding-top: 12px;
    }
  }
}

.products {
  margin-bottom: 120px;
  &__title {
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 56px;
    font-weight: 700;
  }

  &__article {
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
  }

  &__products {
    display: flex;
  }

  &__image {
    background-color: var.$color__grey;
    width: 498px;
    height: 324px;
    &:nth-child(2) {
      margin-left: 24px;
    }
    &-img {
      display: block;
      width: auto;
      height: 324px;
      margin: 0 auto;
      cursor: pointer;
    }
    &-title {
      margin-top: 16px;
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var.$color__main-white;
    background-color: var.$color__orange;
    border-radius: 8px;
    border: none;
    height: 56px;
    width: 324px;
    cursor: pointer;
    line-height: 27px;
    &:hover {
      background-color: var.$color__black;
    }
    &:active {
      background-color: var.$color__black-black;
    }
  }
}

.about-us {
  margin-bottom: 120px;
  background-color: var.$color__beige;
  &__image {
    height: 460px;
    background-image: url('../img/main/about-us/background-old-speaker.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    width: 100%;
  }
  &__history {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    height: 360px;
  }

  &__title {
    font-size: 48px;
  }

  &__text {
    line-height: 22px;
  }
}
