.about-us {
  @include page-grid;
  &__title {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }
  &__content {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 4/7;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }
  &__description {
    color: $text-color-description;
    margin: 0;
    line-height: 32px;
  }
}
