.about-us {
  &__content {
    @include page-grid;

    margin-bottom: 104px;

    @include on-table {
      margin-bottom: 120px;
    }
  }

  &__title {
    grid-column: 1 / -1;

    @include on-table {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__description {
    grid-column: 1 / -1;

    @include on-table {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &__text {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
