.about {
  margin-top: 96px;

  @include onTablet {
    margin-top: 120px;
  }

  &__text {
    margin-top: 48px;
    padding-inline: 20px;

    @include contentPaddingInline;
    @include onTablet {
      display: flex;
      justify-content: space-between;
      margin-top: 56px;
    }
  }

  &__title {
    @include onTablet {
      width: 48%;
    }

    @include onPc {
      padding-inline: 0;
      width: 48%;
    }

    font-family: Space, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
  }

  &__img {
    width: 100vw;
    height: 200px;
  }

  &__span {
    display: inline-block;
    width: 100%;
    margin-top: 24px;

    @include onTablet {
      width: 49%;
      margin-top: 0;
    }

    @include onPc {
      width: 49%;
    }
  }
}
