.about-us {
  display: flex;
  flex-direction: column;
  text-align: left;

  @include on-tablet {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }

  @include on-pc {
    align-items: center;
    justify-content: center;
    column-gap: 130px;
  }
}
