.about {
  margin-top: 96px;
  width: 100vw;

  @include onTablet {
    margin-top: 120px;
  }

  &__text {
    display: inline-block;
    justify-content: start;
    margin-top: 48px;
    width: 100%;
    box-sizing: border-box;
    gap: 111px;

    @include contentPaddingInline;
    @include onTablet {
      display: flex;
      justify-content: space-between;
      margin-top: 56px;
    }
  }

  &__title {
    @include titleBlock;
    width: 49%;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__span {
    display: inline-block;
    width: 100%;
    margin-top: 24px;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;

    @include onTablet {
      width: 49%;
      margin-top: 0;
    }

    @include onPc {
      width: 49%;
    }
  }
}
