.button {
    background-color: $button-background-color;
    border: none;
    height: 56px;
    border-radius: 8px;
    margin-bottom: 48px;
    cursor: pointer;
    transition: background-color 0.3s;

    @include on-tablet {
      margin-bottom: 80px;
    }

    grid-column: 1 / -1;
    padding: 15px 48px;

    @include on-desktop {
      grid-column: span 4;
    }

    &:hover {
      background-color: $main-text-color;
    }

    &:active {
      background-color: $button-active-color;
    }

    &__send {
      grid-column: 1 / -1;
    }

    &__link {
      color: $white-color;
      font-weight: 700;
      line-height: 27px;
      text-decoration: none;
    }
}