.button {
  font-weight: 700;
  line-height: 169%;
  text-align: center;
  color: $color-white;
  background-color: $main-text-color;
  text-decoration: none;
  border-radius: 8px;
  font-family: 'Space Grotesk', sans-serif;
  padding: 14.5px 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  border: 2px solid $main-text-color;
  cursor: pointer;

  &--wide {
    width: 100%;

    @include on-desktop {
      grid-column: span 4;
    }
  }

  &:hover {
    background-color: #f8f8fa;
    border: 2px solid #f0f1f4;
    border-radius: 8px;
    color: $main-text-color;
  }

  &:active {
    background-color: #111;
    color: $color-white;
  }
}
