.button {
  @include onButtonSize;

  background-color: $main-color;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  border-radius: 40px;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    border: 3px solid $main-color;
    color: $main-color;
  }
}
