.categories {

  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 64px;
    }
  }
}

.category {
  &__photos {
    @include pageGrid;
  }

  &__link {
    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include hover (transform, scale(1.1));
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    margin: 16px 0 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-radius: 8px;
  border: 2px solid #f98921;
  background: #f9f9f9;
  transition: background-color 5000s ease-in-out 7s;
}
