.categories {
  &__wrapper {
    display: grid;
    row-gap: 40;

    @include on-tablet {
      row-gap: 56px;
    }
  }
}

.category {
  &__photos {
    margin-bottom: 16px;

    @include grid;
  }
  &__link {
    &--one {
      grid-column: span 1;
      padding-left: 20px;
      cursor: pointer;
      overflow: hidden;

      @include on-tablet {
        grid-column: 1 / 3;
        padding-left: 72px;
      }

      @include on-desktop {
        grid-column: 1 / 6;
        padding-left: 120px;
      }
    }
    &--two {
      grid-column: span 1;
      padding-right: 20px;
      cursor: pointer;
      overflow: hidden;

      @include on-tablet {
        grid-column: 3 / 6;
        padding-right: 72px;
      }

      @include on-desktop {
        grid-column: 6 / 12;
        padding-right: 120px;
      }
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    @include hover(transform, scale(1.1));

  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    color: #010810;
    margin-bottom: 40px;
    margin-top: 16px;

    @include padding-inline;

    @include on-tablet {
      font-size: 24px;
      line-height: 33.6px;
      margin-bottom: 56px;
    }
  }

  &__button {
    display: block;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border: 0;
    width: auto;
    border-radius: 8px;
    background-color: $categories-color-orange;
    margin-bottom: 120px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    height: 56px;
    margin-left: 20px;
    color: $categories-color-withe;
    cursor: pointer;
    &:hover {
      background-color: #1b2129;
    }
    &:active {
      background-color: #010810;
    }

    @include on-tablet {
      margin-left: 56px;
    }

    @include on-desktop {
      margin-left: 120px;
      width: 324px;
      height: 56px;
    }
  }
}
