.category {

  &__products {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 56px;
    }

    @include onDesktop {
      row-gap: 56px;
    }
  }

  &__gallery {
    @include pageGrid;

    margin-bottom: 16px;
  }

  &__link {
    background-color: $light-bg;

    @include onTablet {
      height: 184px;
      grid-column: span 3;
    }
    @include onDesktop {
      height: 324px;
      grid-column: span 6;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: center;

    margin-bottom: 16px;
  }

  &__title {
    font-size: 18px;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__block {
    @include pageGrid;
  }

  &__button {
    display: block;
    grid-column: 1/-1;
    text-decoration: none;

    @include onDesktop {
      grid-column: span 4;
    }
  }
}
