.category {

  &__products {
    display: grid;
    row-gap: 40px;

    @include onTablet {
      row-gap: 56px;
    }

    @include onDesktop {
      row-gap: 56px;
    }
  }

  &__gallery {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns),1fr);
    margin-bottom: 16px;
  }

  &__photo {
    width: 100%;
    background: #000;
  }

  &__title {
    font-size: 18px;

    @include onTablet {
      font-size: 24px;
    }
  }

  &__block {
    @include pageGrid;
  }

  &__link {
    @include hover(transform, scale(1.1));
  }

  &__button {
    display: block;
    grid-column: 1/-1;
    text-decoration: none;

    @include onDesktop {
      grid-column: span 4;
    }
  }
}
