.category {
  @include categoryTop;
  @include contentPaddingInline;

  &__block {
    margin-top: 40px;

    @include onTablet {
      margin-top: 56px;
    }
  }

  &__block-img {
    display: flex;
    gap: 20px;

    @include onTablet {
      gap: 24px;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
  }

  &__h3 {
    margin-top: 16px;
  }

  &__img {
    cursor: pointer;
    display: inline-block;
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__button {
    width: 280px;
    height: 56px;
    color: white;
    border-radius: 8px;
    margin-top: 40px;
    cursor: pointer;

    @include button;

    @include onTablet {
      margin-top: 56px;
    }
  }
}

.img-1 {
  background-image: url(../images/Image4.png);
}

.img-2 {
  background-image: url(../images/Image5.png);
}

.img-3 {
  background-image: url(../images/Image6.png);
}

.img-4 {
  background-image: url(../images/Image7.png);
}

.img-5 {
  background-image: url(../images/Image8.png);
}

.img-6 {
  background-image: url(../images/Image9.png);
}

@include onTablet {
  .products .category__img:nth-child(2),
  .accessories .category__img:nth-child(2),
  .audio .category__img:first-child {
    width: 184px;
    height: 184px;
  }

  .products .category__img:first-child,
  .accessories .category__img:first-child,
  .audio .category__img:nth-child(2) {
    width: 100%;
    height: 184px;
  }

  .img-1 {
    background-image: url(../images/Image4-1.png);
  }
  .img-4 {
    background-image: url(../images/Image7-1.png);
  }
  .img-5 {
    background-image: url(../images/Image8-1.png);
  }

  .category__button {
    width: 600px;
  }
}

@include onPc {
  .products .category__img:nth-child(2),
  .accessories .category__img:nth-child(2),
  .audio .category__img:first-child {
    width: 324px;
    height: 324px;
  }

  .products .category__img:first-child,
  .accessories .category__img:first-child,
  .audio .category__img:nth-child(2) {
    width: 100%;
    height: 324px;
  }

  .category__button {
    width: 324px;
  }
}
