.closed {
  &__title-bold {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
  }
  &__day {
    margin: 0;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
  }
}
