.compare-bikes-container {
  &__compare-bikes {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin: 0 auto;

    @include on-tablet {
      width: 392px;
    }

    @include on-pc {
      width: 100%;
    }
  }

  &__cards {
    @include on-pc {
      column-gap: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
