.contacts {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }
  @include onDesktop {
    padding-inline: 120px;
  }

  &__blocks {
    @include pageGrid;
  }

  &__block {
    grid-column: span 2;

    @include onTablet {
      grid-column: 1 / 4;
    }
    @include onDesktop {
      grid-column: span 3;
    }
  }

  &__block-input {
    @include onTablet {
      grid-column: 4 / -1;
      grid-row: 1 / 6;
    }
    @include onDesktop {
      grid-column: 8 / -1;
    }
  }

  &__section-title {
    text-align: center;
  }

  &__subtitle {
    color: $main-text-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;

    margin: 0;
  }

  &__list {
    margin: 0;
    padding: 0;

    margin-top: 16px ;
  }

  &__list__item {
    color: $main-text-color;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;

    margin: 0;
    margin-bottom: 8px;

    text-decoration: none;

    &:last-child {
      margin-bottom: 0;
    }

    @include hover(transform, scale(1.2));
    transform-origin: top left;
  }

  &__list__item-span {
    font-size: 14px;
    font-weight: 400;

    margin-bottom: 4px;
  }

  &__subtitle {
    margin-top: 48px;
  }

  &__block-input {
    margin-top: 48px;
  }

  &__input {
    position: relative;
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    color: $main-text-color;
    background-color: #F8F8FA;
    border: #F8F8FA;
    margin-bottom: 16px;
    height: 48px;
    text-align: left;

    font-family: Cinzel;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    padding-left:16px;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $main-text-color;
      -webkit-background-color: #F8F8FA;
      border: #F8F8FA;
      transition: background-color 5000s ease-in-out 0s;
    }


    &3 {
      height: 144px;
      margin:0;
      padding-bottom: 98px;
    }

    &::placeholder {
      position: absolute;
      font-family: Cinzel;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #7E7E83;
      top: 14px;
    }

    &:hover {
      border: 1px solid #D5D7DE;

      &::placeholder {
        color: $main-text-color;
      }
    }

    &:focus{
      outline: none;
      border: 1px solid #161616;

      &::placeholder {
        color: $main-text-color;
      }
    }
  }

  &__button {
    margin-top: 32px;

    @include buttonParameters;

    @include onTablet {
      grid-column: 4 / -1;
    }
    @include onDesktop {
      grid-column: 8 / -1;
    }
  }

}
