@use '../utils' as *;

.contact {
  @include section-margin-top;
  @include padding-inline;

  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @include on-desktop {
    grid-template-columns: repeat(2, 1fr);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input,
  &__message {
    margin-top: $contact-form-margin-top;
    padding: $contact-form-padding;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    font-size: 16px;
    width: 100%;
  }

  &__button {
    margin-top: 32px;
    height: 56px;
    width: 100%;
    background-color: #1b2129;
    border-radius: $border-radius;
    color: white;
  }

  &__info {
    margin-top: 48px;

    @include on-tablet {
      margin-top: 80px;
    }

    @include on-desktop {
      margin: 0;
      margin-top: 16px;
      margin-left: $contact-info-margin-left;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 140%;
    color: #9393a3;
    letter-spacing: $letter-spacing;
    font-weight: 400;
  }

  &__value {
    margin-top: 8px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: $letter-spacing;
    font-weight: 400;
    color: #191919;
  }

  .contact__heading {
    grid-column: 1 / -1;
    margin-bottom: 40px;
  }
}
