.Contact-Us{
  &__wrapper{
    @include page-grid;

    row-gap: 48px;

    @include on-tablet {
      row-gap: 80px;
    }
  }

  &__form {
    gap: 16px;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column:  1/-1;
    }

    @include on-desktop {
      grid-column: 1/6;
    }
  }

  &__content{
    color: rgba(25, 25, 25, 1);
    text-decoration: none;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/-1;
    }

    @include on-desktop {
      grid-column:  8/-1;
    }

  }

  &__Email{
    @include contacr-input;

  }

  &__Name{
    @include contacr-input
  }

  &__Message{
    @include contacr-input;

    resize: none;

    color: hsla(240deg, 2%, 50%, 1);

    padding-top: 14px;
    height: 148px;

      &:hover{
        cursor: pointer;
        color: rgba(27, 33, 41, 1);
        border: 1px solid hsla(0deg, 0%, 86%, 1);
    }

    &:focus{
      color: rgba(27, 33, 41, 1);
      outline: none;
      border: 2px solid rgba(249, 137, 33, 1);
    }
    }


  &__button-send{
    width: 100%;

    @include primary-button;
  }

  &__section{
    color: rgba(147, 147, 163, 1);
  }

  &__Adress{
    color: #191919;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
  }

  &__info{
    &:hover{
      transition-duration: 0.3s;
      transform: scale(1.1);
    }
  }
}

