.Contact-Us{
  &__wrapper{
    @include page-grid;

    row-gap: 48px;

    @include on-tablet {
      row-gap: 80px;
    }
  }

  &__form {
    gap: 16px;
    grid-column:  2;

    @include on-tablet {
      grid-column:  1/-1;
    }

    @include on-desktop {
      grid-column: 1/6;
    }
  }

  &__content{
    color: rgba(25, 25, 25, 1);
    text-decoration: none;
    grid-column: span 2;

    @include on-tablet {
      grid-column: 1/-1;
    }

    @include on-desktop {
      grid-column:  8/-1;
    }
  }

  &__input{
    box-sizing: border-box;
    padding-left: 16px;
    height: 48px;
    margin-bottom: 16px;
    width: 100%;
    grid-column: 1/-1;
    border-radius: 8px;
    border:rgba(249, 249, 249, 1);
    color: rgba(126, 126, 131, 1);
    background-color: rgba(249, 249, 249, 1);

    &__Message{
      padding: 14px 16px;
      height: 148px;
      margin-bottom: 32px;
      resize: none;
    }
  }

  &__button-send{
    width: 100%;

    @include primary-button;
  }

  &__section{
    color: rgba(147, 147, 163, 1);
  }

  &__Adress{
    color: rgba(25, 25, 25, 1);
    text-decoration: none;
  }
}
