.contact__us {
  &__wrapper {
    @include page-grid;
  }
}

.form {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 1/4;
  }

  @include on-desktop {
    grid-column: 1/6;
  }
}

.info {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: 4/6;
  }

  @include on-desktop {
    grid-column: 8/11;
  }
}
