.contacts {
  &__content {
    @include pageGrid;
    row-gap: 48px;
    column-gap: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 8 / 12;
    }
  }

  &__input {
    padding: 14px 16px;
    height: 48px;
    border-radius: 40px;
    background-color: #f8f8f8;
  }

  &__textarea {
    padding: 14px 16px;
    margin-bottom: 32px;
    height: 148px;
    border-radius: 16px;
    background-color: #f8f8f8;
  }

  &__input,
  &__textarea {
    &::placeholder {
      font-size: 14px;
      font-family: "Poppins", Helvetica, sans-serif;
      line-height: 20px;
    }
  }

  &__item-title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    opacity: 0.8;
  }

  &__link {
    color: $primary-color;
    font-weight: 500;
    transition: color $effectDuration;

    &:hover {
      color: $tertiary-color;
    }
  }
}
