.contacts {
  display: grid;
  justify-content: center;
  row-gap: 40px;

  &__alignment {
    display: flex;
    flex-direction: column;
    row-gap: 48px;

    @include on-tablet {
      flex-direction: row;
      column-gap: 24px;
      width: 600px;
    }

    @include on-pc {
      column-gap: 196px;
      width: 1020px;
      align-items: flex-start;
    }
  }
}
