.contacts-container {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  color: $color-main;
  margin: 0;
  width: 260px;

  &__title {
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
  }

  &__info {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    color: inherit;
    text-decoration: none;
    margin-bottom: 24px;
    display: block;
  }
}
