.contacts {
  &__info {
    @include page-grid;
  }

  &__forms {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }

    &--text {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color: $text-input-color;
    }

    &--input {
      box-sizing: border-box;
      padding-left: 16px;

      width: 100%;
      border-radius: 40px;
      height: 48px;
      margin-bottom: 16px;
    }

    &--area {
      box-sizing: border-box;
      padding-left: 16px;
      width: 100%;
      border-radius: 16px;
      height: 148px;
    }
  }

  &__content {
    margin: 0;
    grid-column: 1/-1;
    margin-top: 42px;

    @include on-tablet {
      margin: 0;
      grid-column: 4/6;
    }

    @include on-desktop {
      grid-column: 8/12;
    }
  }

  &__us {
    margin: 0;
    margin-bottom: 8px;
    color: #fff;

    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;
  }

  &__address {
    text-decoration: none;
    margin: 0;
    margin-bottom: 24px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;
  }

  &__address:hover {
    text-decoration: underline;
    box-shadow: 1px 4px 16px #fff;
    border-radius: 40px;
  }
}
