.contact {
  @include contentPaddingInline;

  &__title {
    margin-block: 104px 48px;
    font-family: Space, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
    text-align: left;
  }

  &__input {
    width: 280px;
    height: 48px;
    margin-block: 8px;
  }

  &__textarea {
    min-height: 148px;
    width: 280px;
    margin-block: 8px;
  }

  &__button {
    margin-block: 24px;
    width: 280px;
    height: 56px;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
  }

  &__input,
  &__textarea,
  &__button {
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgba(248, 248, 250, 1);
    border: 2px solid rgba(240, 241, 244, 1);
    padding: 16px;

    @include onTablet {
      width: 600px;
    }
  }
}

.footer {
  padding-bottom: 64px;

  &__block {
    padding-block: 12px;
  }

  &__title {
    width: 280px;
    display: block;
    font-family: "Space Mono", monospace;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(147, 147, 163, 1);
    padding-block: 6px;
  }

  &__contant {
    width: 280px;
    display: block;
    color: rgba(25, 25, 25, 1);
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    padding-block: 6px;
  }
}
