.footer {
  @include page-grid;
}

.footer__img {
  grid-column: 1/-1;

  @include on-tablet {
    grid-column: span 6;
  }

  @include on-desktop {
    grid-column: span 12;
  }

  width: 100%;
  height: auto;
}
