.footer {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  background-image: url(/images/footer.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  height: 200px;

  @include onTablet {
    height: 450px;
  }

  @include onDesktop {
    height: 550px;
  }
}
