.footer {
  z-index: -1;
  position: sticky;
  padding: 0;
  margin: 0;
  margin-top: 100px;

  @include onTablet {
    margin-top: 156px;
  }
  @include onDesktop {
    margin-top: 150px;
  }

  &__img {
    display: flex;
    width: 100%;
    height: 180px;
    object-fit: cover;
    box-sizing: border-box;

    @include onTablet {
      height: 359px;
    }
  }
}
