.form {
  &__input {
    @include form-styles;

    height: 48px;
  }

  &__textarea {
    @include form-styles;

    resize: none;
    padding-block: 14px;
  }

  &__button {
    margin-top: 16px;
  }
}
