.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__input,
  &__textarea {
    border-radius: 8px;
    background-color: #f8f8fa;
    font-size: 14px;
    line-height: 140%;
    color: #7e7e83;
    padding: 14px 16px;
    box-sizing: border-box;
    border: 1px solid transparent;
    outline: none;

    &__textarea {
      min-height: 148px;
      margin-bottom: 16px;
      resize: none;
    }

    &:hover {
      border-color: #d5d7de;

      &::placeholder {
        color: $main-text-color;
      }
    }

    &:focus {
      border: 1px solid $main-text-color;
      color: $main-text-color;
    }
  }
}
