.header {
  background-size: cover;
  background-position: 85%;
  background-repeat: no-repeat;
  background-image: url(../images/cover_photo_mb.jpg);
  
  @include OnTablet {
    background-position: center;
  }

  @include OnDesktop {
    background-position: center;
  }

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include contentPaddingInline;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    letter-spacing: -1.5px;
    padding-bottom: 88px;

    @include OnTablet {
      font-size: 64px;
      padding-bottom: 130px;
    }

    @include OnDesktop {
      font-size: 80px;
      padding-bottom: 203px;
    }
  }
}
