@import '../variables';

.header {
  box-sizing: border-box;
  background-image: url(../images/Header-bg-mobile.png);
  height: 100vh;
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include on-tablet {
    background-position: center;
  }

  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-wrap: nowrap;
    letter-spacing: -1.5px;
    text-align: center;
    color: $color-main;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-pc {
      font-size: 80px;
    }
  }

  &__bottom {
    padding-bottom: 88px;

    @include on-tablet {
      padding-bottom: 130px;
    }

    @include on-pc {
      padding-bottom: 203px;
    }
  }
}
