.header {
  background-image: url('../images/Image-3.png');
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    margin-left: 20px;
    font-weight: 700;
    line-height: 36px;
    font-size: 36px;
    color: white;
    position: relative;
    transition: transform 0.3s ease-in-out;
    transform-origin: left center;

    @include on-tablet {
      margin-left: 72px;
      line-height: 48px;
      font-size: 48px;
    }

    @include on-desktop {
      margin-left: 120px;
      line-height: 56px;
      font-size: 56px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__bottom {
    @include padding-bottom;
  }
}
