.icon {
  display: block;
  transition: transform 0.3s;

  @include icon-logo;
  @include hover(transform, scale(1.2));

  &--phone {
    background-image: url('../images/icons/Phone-number.svg');

    &::after {
      content: '+1 234 555-55-55';
      position: absolute;
      right: 110%;
      top: 50%;
      transform: translateY(-50%);
      background-color: black;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      white-space: nowrap;
      font-size: 14px;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.3s,
        visibility 0.3s;
    }

    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &--menu {
    background-image: url('../images/icons/Icon-Burger-menu.svg');

    &:hover {
      background-image: url('../images/icons/Icon-Burger-menu-hover.svg');
    }
  }

  &--close {
    background-image: url('../images/icons/Icon-Close.svg');
  }
}
