.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  transition: transform(0.3s);

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;

    background-image: url('/src/images/icons/Icon-Phone-call.svg');
  }

  @include on-desktop {
    &--phone:hover::after {
      content: '+1 234 555-55-55';
      position: absolute;
      top: 50%;
      left: -150;
      transform: translate(0, -50%);

      text-decoration: none;
      text-wrap: nowrap;
      opacity: 1;
      visibility: visible;
    }
  }

  &--menu {
    background-image: url('../images/icons/Icon-Burger-menu.svg');
  }
  &--menu:hover {
    background-image: url('../images/icons/icon-burger-menu-hover.svg');
  }
  &--close {
    background-image: url('../images/icons/Icon-Close.svg');
  }
}
