.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-position: center;
  background-size: cover;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &__phone {
    background-image: url(../images/icons/Phone-2x.png);
  }

  &__menu {
    background-image: url(../images/icons/Icon-Burger-menu-2x.png);

    &:hover {
      background-image: url(../images/icons/Icon-burger-menu-hover.png);
    }
  }

  &__close {
    background-image: url(../images/icons/Icon-Close-3x.png);
    background-size: cover;
  }
}
