.input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  border: none;
  background: $color-white;
  height: 48px;
  margin-bottom: 16px;
  padding-left: 16px;
  color: #7e7e83;
  font-family: "Space Mono", sans-serif;
  font-size: 14px;
  line-height: 140%;
  grid-column: span 5;

  &:hover {
    color: $color-black;
    border: 1px solid #d5d7de;
  }

  &:focus {
    border: 1px solid $color-black;
    color: $color-black;

  }

  &--big {
    padding: 14px 16px;
    resize: none;
    vertical-align: top;
    height: 148px;
    margin-bottom: 32px;

    &:focus {
      padding: 14px 16px;
    }
  }
}
