.main-section {
  display: grid;
  row-gap: 92px;
  padding-block: 60px;
  background-color: $nav-font-color;

  @include inline-padding;

  @include on-tablet {
    padding-inline: 72px;
    padding-block: 120px;
  }

  @include on-pc {
    padding-inline: 120px;
    padding-block: 120px;
    row-gap: 160px;
  }
}
