.main-button {
  color: $nav-font-color;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  background-color: $color-main;
  padding: 14.5 108.5;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  border: 0;
  transition: 0.3s all;

  @include on-tablet {
    padding-left: 165px;
    padding-right: 165px;
  }

  @include on-pc {
    padding-left: 131px;
    padding-right: 131px;
  }

  &--send {
    padding-right: 119px;
    padding-left: 119px;

    @include on-tablet {
      padding-right: 123px;
      padding-left: 123px;
    }

    @include on-pc {
      padding-right: 184px;
      padding-left: 184px;
    }
  }

  &:hover {
    box-shadow: 1px 4px 16px #e8e8f066;
  }
}
