.main {
  display: grid;
  row-gap: 96px;
  align-content: center;
  padding-block: 96px;

  @include content-padding-inline;

  @include on-tablet {
    row-gap: 120px;
    width: 100%;
    height: 100%;

    // padding-block: 120px;
  }

  @include on-desktop {
    padding-right: 200px;
    padding-left: 20px;
  }
}
