.menu {
  height: 100vh;
  box-sizing: border-box;
  background-color: #e5e6e8;
  font-weight: 700;

  &__top {
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    font-family: "Space Grotesk", sans-serif;
    color: $color-black;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    margin-bottom: 16px;
  }

  &__call-to-order {
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid $color-black;
    font-family: "Space Grotesk", sans-serif;
    color: $color-black;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    width: fit-content;
  }
}
