.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $input-background-color;
  font-style: normal;
  font-weight: 700;
  overflow: auto;

  &__top {
    margin-bottom: 32px;
    position: sticky;
    top: 0;
    z-index: 1;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__bottom {
    padding-bottom: 168px;

    @include on-desktop {
      padding-bottom: 256px;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: block;
    color: inherit;
    text-decoration: none;
    line-height: 22.4px;
    letter-spacing: 2px;
    font-size: 16px;
    margin-bottom: 16px;
  }

  &_call-to-order {
    display: block;
    width: fit-content;
    padding-bottom: 4px;
    border-bottom: 1px solid $main-text-color;
    color: inherit;
    text-decoration: none;
    line-height: 22.4px;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: uppercase;
  }
}
