.nav {

  &__link {
    position: relative;
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $main-text-color;
      border-radius: 3px;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
