.nav {
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 32px;
  }

  &__link {
    color: $color-black;
    font-size: 22px;
    font-family: "Space Grotesk", sans-serif;
    text-decoration: none;
    line-height: 22px;
    letter-spacing: 2px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      display: block;
      height: 1px;
      width: 100%;
      transition: transform $effect-duration;
      background-color: $color-black;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
