.now-on-view {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include ontablet {
      row-gap: 64px;
    }
  }

  &__button {
    background-color: #d12d35;
    width: 324px;
    height: 56px;
    border: none;
    margin: 0 auto;
    cursor: pointer;

    font-family: Cinzel, serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    color: #ffff;

    &:hover {
      background-color: #ae1c23;
    }

    &:active {
      background-color: #eb343d;
    }
  }
}
