.page {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;

  &__menu {
    @include contentPaddingInline;
    height: 72px;

    @include onTablet {
      padding-bottom: 56px;
    }
  }
}
