.page {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-style: normal;

  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transform: translateX(-100%);

    &:target {
      opacity: 1;
      pointer-events: all;
      transition: all 0.3s;
      transform: translateX(0%);
    }
  }
}
