.page {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  color: $color-main;

  &__body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
    transition: all 0.3s;

    &:target {
      opacity: 1;
      pointer-events: all;
      transform: translateX(0%);
    }
  }
}
