.product{
  &__photo{
    width: 100%;
    transition: transform 0.3s;
    display: block;
  }
  a:hover &__photo {
    transform: scale(1.08);
  }

  &__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFF;
  }

  &__details{
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 140%;
    color: #FFF;
  }

  &__price{
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFF;
  }
}
