.product {
  &__photo {
    width: 100%;

    @include hover(transform, scale(1.05));
  }

  &__title {
    margin: 0;
    padding-block: 32px 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
  }

  &__description {
    margin: 0;
    padding-block: 8px 16px;
    font-size: 16px;
    line-height: 22.4px;
  }

  &__price {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
  }
}
