.product {
  &__images {
    width: 100%;
    margin-bottom: 24px;

    @include hover(transform, scale(1.1));
  }

  &__tittle {
    font-weight: bolt;
    font-size: 18px;
    line-height: 22.4px;
    color: #1b2129;
    margin-bottom: 8px;
  }

  &__category {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.15px;
    color: #1b2129;
    margin-bottom: 12px;
  }

  &__prise {
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    color: #1b2129;
    margin-bottom: 120px;
  }
}
