@use '../utils' as *;

.recommended {
  &__products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include on-desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-inline: auto;

    @include recommended-products-max-width;
  }

  &__title {
    font-size: 32px;
    padding-bottom: $recommended-title-padding-bottom;
  }

  &__image {
    margin-top: $recommended-image-margin-top;

    @include recommended-image-size;

    width: auto;

    border-radius: $recommended-image-radius;
    margin-bottom: $recommended-image-margin-bottom;
  }

  &__name {
    padding-bottom: $recommended-title-padding-bottom;

    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: $letter-spacing;
    margin-bottom: $recommended-description-margin-bottom;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
  }
}
