.recommended {
  @include contentPaddingInline;

  &__title {
    margin: 0;
    padding: 0;
    padding-block: 64px 48px;
  }

  &__name {
    padding-block: 24px 8px;
    font-family: "Space Mono", monospace;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0;
    text-align: left;
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__description {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    display: block;
    height: 88px;
  }

  &__price {
    display: block;
    padding-top: 12px;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }

  &__container {
    @include onPc {
      display: flex;
      gap: 24px;
    }
  }
}

.title-block {
  @include titleBlock;
}

.recommended__block {
  flex: 1 1 calc(33.333% - 24px);
}

.recommended__imgBloc {
  border: 1px solid red;
}
