.recomendent {
  padding-top: 120px;
  &__ptoduct {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      justify-items: center;
    }

    @include on-desktop {
      justify-items: stretch;
      column-gap: 24px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
