.main {
  padding-top: 60px;
  @include contentPaddingInline;

  @include OnTablet {
    padding-top: 120px;
  }
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include OnTablet {
    display: grid;
    grid-template-columns: repeat(2,50%);
    column-gap: 24px;
  }
}
