.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-family: Manrope, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;

  @include on-tablet {
    margin-bottom: 56px;
    font-size: 32px;
  }

  @include on-desktop {
    margin-bottom: 52px;
    font-style: 48px;
  }

  &--inline--left {
    text-align-last: left;
  }
}
