.sectiontitle {
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 48px;
  text-align: start;
  padding-top: 64px;

  @include padding-inline;

  @include on-tablet {
    padding-top: 120px;
    margin-bottom: 56px;
    font-size: 40px;
    line-height: 40px;
  }

  @include on-desktop {
    margin-bottom: 56px;
    font-size: 48px;
    line-height: 48px;
  }

  &--timeless {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    text-align: start;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 48px;
    }
  }
}
