.section-title {
  margin: 0;
  margin-bottom: 48px;

  font-family: Cinzel, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.5px;
  text-align: center;

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 48px;
  }

  &--algin--left {
    text-align: left;
  }
}
