.section-title {
  margin: 0;

  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
  padding-bottom: 8px;

  @include on-tablet {
    font-size: 48px;
    line-height: 48px;
  }

  @include on-pc {
    font-size: 64px;
    line-height: 64px;
  }

  &__description {
    color: $color-main;
    font-size: 23px;
    line-height: 32.2px;
    font-weight: 500;
    margin: 0;
    width: 280px;

    @include on-tablet {
      width: 288px;
    }

    @include on-pc {
      width: 498px;
    }
  }

  &--title-align {
    text-align: left;
    margin-bottom: 32px;
  }
}
