.send {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: 2px solid #f0f1f4;
  background: $color-white;
  padding: 0 48px;
  color: $color-black;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 48px;
  grid-column: span 2;

  @include onTablet {
    margin-bottom: 80px;
    grid-column: span 6;
  }

  @include onDesktop {
    margin-bottom: 0;
    grid-column: span 5;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-black;
    color: #fff;
  }
}
