.top-bar {
  padding-block: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include ontablet {
    padding-block: 50px;
  }

  &__icons {
    width: 457px;
    height: 147px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
    position: relative;
  }

  &__phone {
    display: none;
    width: 201px;
    height: 116px;
    text-align: right;

    &--tell {
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      text-decoration: none;
      padding-bottom: 8px;

      &:hover {
        color: #ae1c23;
      }
    }
  }

  &__blocknumber {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
  }

  @include ondesktop {
    &__blocknumber:hover .top-bar__phone {
      display: block;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 46px;

    @include hover(transform, scale(1.2));

    @include ontablet {
      height: 65px;
    }
  }
}
