.top-bar {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo {
    @include top-bar-logo;
    @include hover(transform, scale(1.2));

    &--link {
      @include hover(transform, scale(1.2));
    }
  }
}
