@use '../utils' as *;

.top-bar {
  padding-block: $top-bar-padding-block;

  @include padding-inline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 64px;
  }

  &__icon {
    display: flex;
    gap: $icon-gap-mobile;

    @include on-tablet {
      gap: $icon-gap-tablet;
    }
  }

  &__logo-link {
    display: flex;

  }

  &__logo {
    height: $logo-height-mobile;

    @include on-tablet {
      height: $logo-height-tablet;
    }
  }

}
