@mixin animation {
  transition: all 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}

@mixin animation_size($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}
