.button {
  font-family: $addition-font-family-2, sans-serif;
  display: block;
  color: $button-color;
  width: 100%;
  padding-block: 13px;
  background-color: $main-color;
  border-radius: 8px;
  font-weight: bold;
  line-height: 27px;
  cursor: pointer;
  text-align: center;
  border: 2px solid transparent;

  transition: color $effectDuration $effectFunc 0s,
    background-color $effectDuration $effectFunc 0s,
    border $effectDuration $effectFunc 0s;

  &:hover {
    color: $main-color;
    border: 2px solid #f0f1f4;
    background-color: #f8f8fa;
  }

  &:active {
    background-color: #111;
    color: $button-color;
  }
}
