.button {
  text-transform: uppercase;
  box-sizing: border-box;
  border: 1px solid $green;
  font-size: 16px;
  max-height: 50px;
  width: 100% - 17.7%;
  font-weight: 500;
  padding-block: 18px;
  background-color: transparent;
  cursor: pointer;
  @include btn-sqr (50, $green);

  @include hover (background-color, $green) {
    color: $white;
    border-color: $black;
  }

  @include onTablet {
    @include btn-sqr (70, $green);
  }
}
