.contacts {
  // display: flex;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__field {
    display: flex;
    width: 411px;
    height: 48px;

    align-items: flex-start;
    border-radius: 40px;
    background: #F8F8FA;
  }

  &__field--message {
    display: flex;
    width: 411px;
    height: 200px;
    align-items: flex-start;
    justify-content: left;
    gap: 10px;

    border-radius: 16px;
  }

  &__main {
    @include pageGrid;
    // display: block;
    // position: relative;

    justify-content: space-around;
  }

  &__info {
    display: block;
  }

  &__info--first {
    color: $info-text-color;
  }

  &__second {
    color: $info-text-numbers;
  }
}


