.header {
  background-image: url(../images/img-mob-webp.webp);
  background-size: cover;

  @include onTablet {
    background-image: url(../images/img-tab-webp.webp);
  }

  @include onDesktop {
    background-image: url(../images/img-web-webp.webp);
  }

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__waves {
    height: 57px;
    width: 48px;
    margin-bottom: 16px;
    background-image: url(../images/icon-waves.svg);
    background-size: cover;

    @include onTablet {
      widows: 64px;
      height: 76px;
      margin-bottom: 40px;
    }
  }

  &__title {
    margin: 0;
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 40px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include onTablet {
      padding-bottom: 64px;
    }
  }
}
