.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/just-phone.svg);

    // &:hover {
    //   +1 234 555-55-55w`13 
    // }
  }

  &--menu {
    background-image: url(../images/icon-burger-menu.svg);

    &:hover {
      background-image: url(../images/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icon-close.svg);
  }
}


