.recommended {
  &__products {
    @include pageGrid;
    row-gap: 40px;

    // width: 100%;
    // padding: 0 20px;

    // @include onTablet {
    //   padding: 0 72px;
    // }

    // @include onDesktop {
    //   max-width: 1020px;
    //   margin: 0 auto;
    // }
  }

  &__product {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }
}
