.about-us {
  @include pageGrid;

  &__tittle {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  &-schedule {

    &__tittle {
      font-weight: 700;
      font-size: $font-size-main;
      line-height: 30px;
      color: $color-main-black;

      margin-bottom: 16px;
    }

    &__avenue {
      display: flex;
      gap: 25px;

      margin-bottom: 16px;
    }

    &__time {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__hours {
      font-weight: 700;
      font-size: $font-size-main;
      line-height: $line-height-main;
      color: $color-main-black;
    }

    &__days {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &__day {
      font-weight: 400;
      font-size: $font-size-main;
      line-height: $line-height-main;

      color: $color-main-black;
    }

    &__closed {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
}
