.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  height: 100vh;
  background: $background-color;
  font-weight: 600;
  text-transform: uppercase;

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $background-color;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 8px;
    }

    @include on-desktop {
      margin-bottom: 24px;
    }
  }

  &__bottom {
    padding-bottom: 40px;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    color: $second-text-color;
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 1.68;
    margin-bottom: 16px;
  }

  &__book-test-ride {
    color: $second-text-color;
    text-decoration: none;
    display: block;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.17em;
    padding-bottom: 7px;
    border-bottom: 1px solid $second-text-color;
    width: fit-content;
  }
}
