/* #region button__explore */

.button__explore {
  @include pageGrid;

  &--link {
    @include bold-text__button;

    display: grid;
    place-items: center;
    background-color: $white;
    height: 56px;
    width: 100%;
    text-decoration: none;
    border-radius: $border-radius;

    @include hover(transform, scale(1.05));

    color: $dark-color;

    grid-column: span 2;

    @include onTablet {
      grid-column: 2/-2;
    }
    @include onDesktop {
      grid-column: 5/9;
    }
    &:hover {
      @include button-hover;
      @include hover(transform, scale(1.05));
    }

    &:active {
      @include button-active;
    }
  }
}

/* #endregion */
