.button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  height: 56px;
  font-family: "Cinzel", sans-serif;
  font-weight: 700;
  font-size: $font-size-main;
  color: $color-white;
  background-color: $color-red;
  border: 1px solid $color-red;
  margin: 0 auto;
  text-decoration: none;
  cursor: pointer;

  transition: $transition;

  &:hover {
    background-color: #ae1c23;
  }

  &--center {
    @include onTablet {
      width: 392px;
    }

    @include onDesktop {
      width: 324px;
    }
  }
}
