.call {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: $font-size-main;
    line-height: $line-height-main;
    text-transform: uppercase;
    color: $color-white;

    @include hover (opacity, 0.6);
  }
}
