.card {
  &__photo {
    width: 100%;

    margin-bottom: 24px;

    @include hover (transform, $scale-photo);

    @include onTablet {
      margin-bottom: 32px;
    }
  }

  &__tittle {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: $color-red;

    margin-bottom: 4px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: $color-main-black;
  }
  // test
}
