.contacts {
  &__container {
    @include pageGrid;

    &--text {
      display: flex;
      flex-direction: column;
      gap: 48px;

      margin-bottom: 48px;

      @include onTablet {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }

      @include onTablet {
        grid-column: span 3;
      }

      @include onDesktop {
        flex-direction: row;

        grid-column: span 6;
      }
    }
  }

  &__name {
    font-weight: 400;
    font-size: 14px;
    line-height: $line-height-main;
    color: $color-main-black;
  }

  &__link {
    width: 237px;
    font-weight: 700;
    font-size: $font-size-main;
    line-height: $line-height-main;
    text-decoration: none;
    color: $color-main-black;
    margin-bottom: 8px;

    @include hover (color, $color-red);

  }

  &__block {

    &--tittle {
      font-weight: 700;
      font-size: $font-size-main;
      line-height: $line-height-main;
      color: $color-main-black;
      margin-bottom: 16px;
    }

    &--information {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  &__form {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }
    @include onDesktop {
      grid-column: span 6;
    }
  }

  &__button {
    margin: 0;
  }

  &__field {
    margin-bottom: 16px;

    &--last {
      margin-bottom: 32px;
    }
  }
}
