.contact {
  @include pageGrid;

  justify-content: space-between;

  &__button {
    margin-top: 16px;
    height: 56px;
  }

  .section-title--contact {
    grid-column: 1 / -1;
  }
  &__form {
    grid-column: 1 / -1;
    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 80px;
    }

    @include onDesktop {
      grid-column: span 6;
      margin-bottom: 102px;
    }

    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  .form-input {
    height: 48px;
    padding-inline: 16px;
    padding-block: 14px;

    border: none;
    background-color: #f9f9f9;
    border-radius: 8px;

    &:hover {
      color: $font-color-main;
      border: 1px solid #dbdbdb;
    }

    &:focus {
      color: $font-color-main;
      outline: none;
      border: 2px solid #f98921;
    }

    &::placeholder {
      color: $font-color-form;
      font-size: 14px;
      letter-spacing: 0.15px;
      font-weight: $font-thin;
    }
  }

  .form-input--textarea {
    resize: none;
    width: 100%;
    height: 148px;

    &::placeholder {
      color: $font-color-form;
      font-size: 14px;
      letter-spacing: 0.15px;
      font-weight: $font-thin;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 64px;
    grid-column: 1 / -1;

    @include onTablet {
      margin-bottom: 120px;
    }

    @include onDesktop {
      grid-column: 8 / -1;
    }
  }

  &__info-item-value {
    text-decoration: none;
    color: $font-color-contacts;
    letter-spacing: 0.15px;
  }

  &__info-item-name {
    color: #9393a3;
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__info-item-value:hover {
    color: #9393a3;
  }
}
