/* #region detail */

.detail {
  &__elements {
    @include page-grid;
  }

  &__link {
    position: relative;
    column-gap: 20px;

    &--wide {
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
    &--square {
      height: 0;
      padding-bottom: $width-value;
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }

    @include hover(transform, scale(1.05));
  }

  &__photo {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: $width-value;
  }

  &__title {
    grid-column: 1/-1;

    @include bold-text;
    @include mp-0;

    margin-top: 16px;
  }

  &__describe {
    grid-column: 1/-1;

    @include mp-0;

    margin-top: 8px;

    @include usual-text;
  }
}

/* #endregion */
