.footer {
  background-image: url(../images/footer-mobile.png);
  background-size: cover;
  background-position: center;
  // position: fixed;
  z-index: -1;
  bottom: 0;
  height: 200px;
  width: 100%;
  pointer-events: none;
}
