/* #region footer */

.footer {
  position: sticky;
  bottom: 0;

  z-index: -1;

  height: 480px;
  background-image: url(/src/images/footer-photo.png);
  background-size: cover;
  background-position: center;
}

/* #endregion */
