/* #region header */

.header {
  background-image: url(/src/images/Cover_photo.svg);
  background-size: cover;
  background-position: right;

  &__content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    box-sizing: border-box;
    padding-bottom: 88px;
    display: flex;
    justify-content: center;
    text-align: center;

    @include on-tablet {
      padding-bottom: 130px;
    }

    @include on-desktop {
      padding-bottom: 203px;
    }
  }
  &__title {
    @include on-tablet {
      font-size: 64px;
    }

    @include on-desktop {
      font-size: 80px;
    }

    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -1.5px;
    line-height: 100%;
  }
}

/* #endregion */
