.header {
  // display: none !important;
  
  background-image: url(/src/images/header/header-bg.png);
  background-size: cover;
  background-position: center;
  
  

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    text-transform: uppercase;

    @include on-tablet {
      font-size: 40px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }
}
