.header {
  background-image: url("../images/header_background-phone.png");
  background-position: center;
  background-size: cover;

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__title {
    font-size: 36px;
    line-height: 36px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  &__bottom {
    padding-bottom: 40px;
  }
}
