/* icon.scss */
.icon {
  display: block;
  height: 24px;
  width: 24px;

  &--phone {
    background-image: url(../images/icon-phone-call.png);
  }

  &--menu {
    background-image: url(../images/icon-burger-menu.png);
  }

  &--close {
    background-image: url(../images/icon-close.png);
  }

  @include on-tablet {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
