.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url(../icons/icon-phone.png);
}

.icon--menu {
  background-image: url(../icons/icon-burger-menu.png);
}

.icon--close {
  background-image: url(../icons/icon-close.png);
}
