.icon {
  display: block;
  height: $icon-size-phone;
  width: $icon-size-phone;
  background-position: center;
  background-repeat: no-repeat;

  @include onTablet {
    width: $icon-size-tablet;
    height: $icon-size-tablet;
  }

  &--phone {
    background-image: url("../images/icons/icon-phone.png");
  }

  &--burger {
    background-image: url("../images/icons/icon-burger.png");
  }
  &--close {
    background-image: url("../images/icons/icon-close.png");
  }
}
