/* #region icon */

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    position: relative;
    background-image: url(/src/images/icons/icon-phone-call.svg);
    &::before {
      position: absolute;
      left: -160px;
      top: 10px;
      color: #fff;
      opacity: 0;
      content: '+1 234 5555-55-55';
    }
    &:hover::before {
      opacity: 1;
    }
  }
  &--menu {
    background-image: url(/src/images/icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(/src/images/icons/icon-burger-menu-hover.svg);
    }
  }
  &--close {
    background-image: url(/src/images/icons/icon-close.svg);
  }
}

/* #endregion */
