.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-image: url("../../images/icon/icon-menu.png");
}

.icon--phone {
  background-image: url("../../images/icon/icon-phone-call.png");
}

.icon--menu {
  background-image: url("../../images/icon/icon-menu.png");
}

.icon--close {
  background-image: url("../../images/icon/icon-close.png");
}
