/* #region menu */

.menu {
  background-color: $light-grey;
  pointer-events: none;

  &__top {
    margin-bottom: 32px;
  }

  &__content {
    box-sizing: border-box;
    height: 100vh;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__phone-number {
    color: $dark-color;
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
  }

  &__call-to-order {
    color: $dark-color;
    text-decoration: none;
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    padding-bottom: 7px;
    border-bottom: 1px solid $dark-color;
    width: fit-content;
  }

  &__nav {
    margin-bottom: 40px;
  }
}

/* #endregion */
