.menu {
  height: 100vh;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-color: #ececec;
  font-weight: $font-bold;
  text-transform: uppercase;
  overflow: auto;

  &__top {
    margin-bottom: 32px;
    position: sticky;
    top: 0;
    z-index: 1;

    @include onTablet {
      margin-bottom: 56px;
    }
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    text-decoration: none;
    color: inherit;
    font-size: $font-size-description;
    display: inline-block;
    letter-spacing: 2px;
    margin-bottom: 16px;
  }
  &__phone-number:hover {
    cursor: url(../images/cursor.png), pointer;
    transform: scale(1.1);
  }

  &__call-to-order {
    text-decoration: none;
    color: inherit;
    font-size: $font-size-description;
    display: block;
    width: fit-content;
    letter-spacing: 2px;
    padding-bottom: 3px;
    border-bottom: 1px solid $font-color-main;
  }

  &__call-to-order:hover {
    cursor: url(../images/cursor.png), pointer;
    transform: scale(1.1);
  }
}
