.museum-hours {
  @include page-grid;

  &__description {
    @include primary-text-style;

    font-weight: $mainFontWeight;
    margin: 0;
    grid-column: 1 / 3;
    color: $menuBackgroundColor;
  }

  &__wrapper {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 3;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__timetable {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 6;
    }

    @include on-desktop {
      grid-column: 7 / 10;
    }
  }

  &__benefits {
    display: grid;
    row-gap: 16px;

    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;
    font-weight: bold;
  }

  &__locations {
    grid-column: 1 / -1;

    &__title {
      margin: 0;
    }

    &__schedule {
      display: flex;
      gap: 30px;
      align-items: center;

      &__hours {
        font-weight: $mainFontWeight;
        font-size: 16px;
        line-height: 27px;
      }

      &__days {
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
      }
    }

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 6 / -1;
    }
  }
}
