.page {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #292929;

  scroll-behavior: smooth;

  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;
  }

  &__nav {
    margin-bottom: 48px;
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}
