.product {
  &__photo {
    width: 100%;
    &:hover {
      transform: scale(1.2);
      transition: transform 1s ease;
    }
  }

  &__about {
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    font-weight: 400;
  }
}
