.reason {
  &__photo {
    width: 100%;
    transition: transform $effectDuration ease;

    &:hover {
      transform: scale($scaleValue);
    }
  }

  &__title {
    margin: 24px 0 0;
    font-weight: $mainFontWeight;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: $menuBackgroundColor;
  }

  &__category {
    @include primary-text-style;

    margin: 0;
    font-family: Roboto, sans-serif;
    text-align: center;
  }
}
