/* section-title.scss */
.section-title {
  margin: 0;
  margin-bottom: 48px;

  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;

  @include on-tablet {
    margin-bottom: 64px;
    font-size: 48px;
    line-height: 48px;
  }

  @include on-desktop {
    font-size: 48px;
    line-height: 48px;
  }

  &--align--left {
    text-align: left;
  }
}
