$font-family: Poppins, sans-serif;
$tablet-width: 576px;
$desk-width: 1200px;
$duration: 0.3s;
$font-size: 16px;
$background-color: #c2c2c2;
$main-text-color: #fff;
$second-text-color: #1d1d1d;
$hover-color: #292929;
$border-color: #d5d7de;
$placeholder-color: #7e7e83;
