$icon-size-phone: 24px;
$icon-size-tablet: 32px;
$main-color: #292929;
$input-color: #f8f8fa;
$subtitle-color: #9393a3;
$color-info: #191919;
$hover-color: #f0f1f4;
$border-color: #f8f8fa;
$input-color: #7e7e83;

$transition-time: 0.3s;

$second-font: "Space Grotesk", sans-serif;
