$font-width-bold: 700;

.menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: #d12d35;
  overflow: auto;

  &__top {
    position: sticky; /* to keep cross always visible */
    top: 0;
    z-index: 1;
  }
  &__link {
    display: flex;
  }
  &__info {
    font-size: 16px;
    &--adress {
      margin: 0;
      font-weight: $font-width-bold;
      letter-spacing: 1px;
      padding-bottom: 8px;
    }
    &--phone {
      font-size: 14px;
      color: inherit;
      font-weight: $font-width-bold;
      letter-spacing: 0.6px;
    }
  }
  &__order--button {
    display: inline-block;
    padding-top: 8px;
    color: inherit;

    line-height: 27px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    width: max-content;

    transition: 1s;
  }
  &__order--button:hover {
    border-bottom: 1px solid #fff;
    transform: scale(1.05);
    transition: 1s;
  }
}

.menu__nav {
  color: #fff;
  text-transform: uppercase;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  @media (min-width: 744px) {
    padding: 32px 72px;
  }
  @media (min-width: 1240px) {
    padding: 32px 121px;
  }
  &__list {
    margin: 0;
    padding-bottom: 16px;
    list-style: none;
    font-weight: 700;
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__link {
    color: inherit;
  }
  &__item {
    font-size: 22px;

    @media (min-width: 1240px) {
      transition: 1s;
      &:hover {
        border-bottom: 1px solid #fff;
        transform: scale(1.05);
        transition: 1s;
      }
    }
  }
}
