.sidebar {
  box-sizing: border-box;
  height: 100vh;
  background-color: #c2c2c2;

  &__container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 578px;

    @include on-tablet {
      max-width: 744px;
      padding: 0 72px;
    }

    @include on-desktop {
      max-width: 1260px;
      padding: 0 120px;
    }
  }

  &__menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;

  }

  &__menu:target {
    opacity: 1;
    pointer-events: all;
    overflow: hidden;
  }

  &__:target ~ body {
    overflow: hidden; /* Убирает прокрутку страницы */
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 24px;
    }
  }

  &__icon-logo {
    padding: 24px 0;

    @include on-tablet {
      padding: 36px 0;
    }
  }

  &__icon-close {
    background-image: url(../images/side-bar-menu/side-bar-menu-icon-close/icon-close-side-bar-menu-mobile.png);
    background-repeat: no-repeat;
    background-position: center;

    @include on-tablet {
      background-image: url(../images/side-bar-menu/side-bar-menu-icon-close/icon-close-side-bar-menu-tablet.png);
    }

    @include on-desktop {
      background-image: url(../images/side-bar-menu/side-bar-menu-icon-close/icon-close-side-bar-menu-desktop.png);
    }
  }

  &__icons--img {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.menu:has(.sidebar:target) {
  overflow: hidden;
}
