.compare-bikes {
  &__products {
    @include page-grid;
  }

  &__product {
    grid-column: 1 / -1;

    transition: transform 200ms $easing-standard;

    &:hover {
      transform: scale(1.05);
      z-index: $z-index-raised;
    }

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-small-desktop {
      grid-column: span 4;
    }
  }
}
