.contact-us {
  &__wrapper {
    @include page-grid;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-small-desktop {
      grid-column: span 5;
    }
  }

  &__data {
    box-sizing: border-box;
    padding: 16px 14px;
    border-radius: 27px;
    border: none;
    background-color: $color-surface;
    width: 100%;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-border;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $color-accent;
    }

    &:hover::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $color-border;
    }
  }

  &__message {
    all: unset;
    box-sizing: border-box;
    padding: 16px 14px;
    margin-bottom: 16px;
    border-radius: 16px;
    background-color: $color-surface;
    width: 100%;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-border;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $color-accent;
    }

    &:hover::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $color-border;
    }
  }

  &__container {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-small-desktop {
      grid-column: 8 / -1;
    }
  }

  &__contact-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  &__contact-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    margin: 0;
  }

  &__contact {
    all: unset;
    cursor: pointer;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    transition: color $transition-slow $easing-standard;

    &:hover {
      color: $color-accent;
    }
  }
}
