h2 {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

h3 {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -1.5px;
  margin: 0;

  @include onTablet {
    font-size: 48px;
  }

  @include onDesktop {
    font-size: 64px;
  }

}

h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

.bike-block {
  padding-bottom: 40px;
}

.align-center {
  text-align: center;
}


.bike-block {
  @include onTablet {
    grid-column: 2/6;

    transition: transform 0.3s;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}

.bike-1 {
  @include onDesktop {
    grid-column: 1/5;

  }
}

.bike-2 {
  @include onDesktop {
    grid-column: 5/9;

  }
}

.bike-3 {
  @include onDesktop {
    grid-column: 9/13;

  }
}

.main {
  background-color: #1d1d1d;

  &__section {
    padding: 0 20px;

    @include onTablet {
      padding: 0 72px;
    }

    @include onDesktop {
      padding: 0 120px;
    }
  }
}

.move-free{

  @include onTablet {
      display: grid;
      padding: 0 72px;
      grid-template-columns: repeat(6, 1fr);
      grid-column-gap: 24px;
  }

  @include onDesktop {
      display: grid;
      padding: 0 120px;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: 24px;

  }

  &__content{
    font-weight: 500;
    font-size: 23px;
    line-height: 140%;
    padding-bottom: 92px;

    @include onTablet {
      grid-column: 4/7;
      padding-top: 120px;
      padding-bottom: 132px;

    }

    @include onDesktop {
      grid-column: 6/13;
      padding-bottom: 164px;
    }
  }

  &__title {
    padding: 60px 0 32px;
    line-height: 100%;

    @include onTablet {
      font-size: 48px;
      padding-top: 120px;
      grid-column: 1/4;

    }

    @include onDesktop {
      font-size: 64px;
      grid-column: 1/6;
    }
  }
}

.compare-bikes {

  &__products {
    padding-bottom: 92px;
    @include onTablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-column-gap: 24px;
      padding-bottom: 120px;
    }

    @include onDesktop {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 24px;
        padding-bottom: 144px;

    }
  }


  &-title {
    line-height: 32px;
    padding-bottom: 48px;

  }

  &__img {
    width: 100%;
    margin-bottom: 32px;
  }

  &__name {
    padding-bottom: 8px;

  }
}

.details {
  &__title {
    letter-spacing: -0.5px;
    padding-bottom: 48px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;

    @include onTablet {
      grid-template-columns: repeat(6, 1fr);

    }
  }

  &__text-block {
    @include onDesktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }

  }

  &__text {
    @include onDesktop {
      grid-column: 1/9;

    }
  }


  &__img {
    width: 100%;
    display: block;
    height: 100%;

    @include onTablet {
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.03);
      }
    }
  }

  &__1-img,
  &__6-img {
    display: block;

    @include onTablet {
      display: none;
    }
  }

  &__1-img-tab,
  &__6-img-tab {
    display: none;

    @include onTablet {
      display: block;
      width: 100%;
    }

  }

  &__img-block {
    width: 100%;
    height: 100%;

  }

  &__img-block-1 {

    @include onTablet {
      object-fit: cover;
      grid-column: 1/5;

    }
  }

  &__img-block-2 {

    @include onTablet {
      grid-column: 5/7;
    }
  }

  &__img-block-3 {
    @include onTablet {
      grid-column: 1/3;
    }
  }

  &__img-block-4 {
    @include onTablet {
      object-fit: cover;
      grid-column: 3/7;
    }
  }

  &__desc {
    padding-bottom: 8px;
  }

  &__text {
    padding-bottom: 48px;
    margin: 0;
  }
}

.button-explore {

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

  }

  @include onDesktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

  }

  &__elem {

    @include onTablet {
      grid-column: 2/6;
      width: 100%;
    }

    @include onDesktop {
      grid-column: 5/9;
    }

    height: 56px;
    background-color: #fff;
    color: #1d1d1d;
    font-weight: 700;
    font-size: 16px;
    border-radius: 40px;
    line-height: 56px;
    text-align: center;

    &:hover {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
    }

    &:active {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
    }
  }
}

.contacts--title {
  padding-top: 80px;
  padding-bottom: 48px;

  @include onTablet {
    padding-top: 120px;
  }

  @include onDesktop {
    font-size: 48px;
    padding-top: 180px;
  }
}

.contacts {
  padding-bottom: 120px;

  @include onTablet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 180px;

  }

  &__form {
    width: 100%;
    display: block;
    margin-bottom: 16px;
    border-radius: 40px;
    border: 0;
    padding: 14px 16px;
    box-sizing: border-box;
    background-color: #f8f8fa;
    color: #292929;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

  }

  &__name,
  &__email {
    height: 48px;

  }

  &__message {
    height: 148px;
    border-radius: 16px;
    overflow: auto;
    resize: none;
    position: relative;

    &::placeholder {
      font-family: Poppins, sans-serif;


    }

    &::-webkit-scrollbar {
      width: 8px;

    }

    &::-webkit-scrollbar-thumb {
      transition: 0.3s;
      background: #545454;
      border-radius: 20px;

    }

    &::-webkit-scrollbar-thumb:hover {
      background: #3b3b3b;
    }
  }

  &__button {
    width: 100%;
    border: 0;
    height: 56px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    &:hover {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
    }

    &:active {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
    }

  }

  &__block {

    @include onTablet {
      grid-column: 1/4;
    }

    @include onDesktop {
      grid-column: 1/6;
    }
  }

  &__info {

    @include onTablet {
      grid-column: 4/7;
    }

    @include onDesktop {
      grid-column: 8/13;
    }
    padding-top: 24px;
  }

  &__info * {
    margin: 0;
  }

  &__info h5 {
    margin-top: 8px;
  }

  &__info h4 {
    margin-top: 24px;
  }

  &__info-address-link,
  &__info-email-link,
  &__info-phone-link {
    text-decoration: none;
    color: #f8f8fa;
    transition: 0.3s;

    &:hover {
      color: #857979;
    }
  }
}

.footer {
  height: 200px;
  background-image: url(../images/Footer.jpg);
  background-size: cover;
  background-position: center;
  bottom: 0;
  position: sticky;
  z-index: -1;

  @include onTablet {
    height: 480px;
  }

  @include onDesktop {
    height: 555px;
  }

}


.button {
  text-decoration: none;
}








