.page {
  font-family: $font-main;
  font-size: $font-size-base;
  line-height: 120%;
  color: $color-text-light;
  scroll-behavior: smooth;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    margin: 0;
    min-width: 300px;
    background-color: $color-text-dark;
  }

  &__menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    opacity: 0;
    transition: all $transition-fast;
    transform: translateX(100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}
