.categories__button {
  margin-top: 56px;
  background-color: $main-text-color;
}

.button {
  display: flex;
  border-radius: 8px;
  width: 100%;
  height: 56px;
  transition: all $effect-duration;
  border: 1px solid $white-color;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    line-height: 27px;
    font-family: $main-font-family;
    font-weight: $main-font-weight;
    text-decoration: none;
    color: $white-color;
    transition: all $effect-duration;
  }

  &:hover {
    background-color: $white-color;
    border: 1px solid #F0F1F4;

    .button__link {
      color: $main-text-color;
    }
  }

  &--wrapper {
    @include page-grid;
  }

  @include on-desktop {
    grid-column: span 4;
  }
}
