.categories__button {
  background-color: $main-text-color;
}

.button {
  display: flex;
  border-radius: 8px;
  width: 100%;
  height: 56px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    line-height: 27px;
    font-family: $main-font-family;
    font-weight: $main-font-weight;
    text-decoration: none;
    color: #fff;
  }

  &--wrapper {
    @include page-grid;
  }

  @include on-desktop {
    grid-column: span 4;
  }
}
