.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__field {
    box-sizing: border-box;
    border: 2px solid #F0F1F4;
    border-radius: 8px;
    height: 48px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 140%;
    font-family: $secondary-font-family;
    font-weight: $secondary-font-weight;
    background-color: $forms-bg-color;
    transition-duration: color 1s;

    &:hover {
      border: 2px solid #D5D7DE;

      &::placeholder {
        color:  $contacts-description-color;
      }
    }

    &:focus {
      border-color: $main-text-color;
    }

    &--textarea {
      z-index: 1;
      height: 148px;
      padding-top: 14px;
      text-wrap: wrap;
    }
  }

  &__button {
    display: flex;
    place-content: center;
    place-items: center;
    border: 1px solid #fff;
    margin-top: 32px;
    margin-bottom: 48px;
    height: 56px;
    font-size: 16px;
    line-height: 27px;
    font-family: $main-font-family;
    font-weight: $main-font-weight;
    text-align: center;
    transition: all $effect-duration;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #fff;
      color: $main-text-color;
      border: 1px solid $main-text-color;
    }
  }
}
