.main {
  background-color: #fff;

  &__content {
    display: grid;
    row-gap: 96px;
    padding-top: 64px;
    padding-bottom: 96px;

    @include on-tablet {
      row-gap: 120px;
      padding-top: 120px;
      padding-bottom: 120px;
    }

    &--background {
      margin-bottom: 48px;
      padding: 0;
      height: 200px;
      background-image: url(../images/footer-img.png);
      background-position: center;
      background-size: cover;


      @include on-tablet {
        margin-bottom: 56px;
        height: 400px;
      }

      @include on-desktop {
        height: 460px;
      }
    }

    &--about-us-pad {
      padding-top: 0;
    }
  }
}

