.section-title {
  margin: 0;
  margin-bottom: 48px;
  font-size: 32px;
  line-height: 100%;
  font-family: $main-font-family;
  font-weight: $main-font-weight;
  text-align: left;
  color: $main-text-color;

  @include on-tablet {
    margin-bottom: 56px;
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 48px;
  }
}
