.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-background.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 96px;

  @include on-tablet {
    margin-bottom: 120px;
  }
  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;

  }

  &__bottom {
    padding: 40px 0;

    @include on-tablet {
      padding: 65px 0;
    }

    @include on-desktop {
      padding: 92px 0;
    }
  }
}
