.header {
  background-image: url(./blocks/header/images/header_bg.png);
  background-size: cover;
  height: 100vh;
  background-position: center;

  @media (max-width: 744px) {
    background-position: 90%;
  }

  &__top {
    padding-top: 36px;
  }

  &__socials {
    gap: 24px;
  }

  &__title {
    margin-bottom: 200px;
    text-align: center;
    font-weight: 700;
    font-size: 80px;
    letter-spacing: -1.5px;

    @media (max-width: 744px) {
      margin-bottom: 88px;
      font-size: 36px;
    }
  }

  &--menu {
    background-image: none;
  }

  &__phoneLink {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: 700;
    opacity: 0;
    top: 8px;
    color: #fff;
    left: -170px;
    display: block;
    position: absolute;
    width: max-content;
    transition: all 300ms;
    text-decoration: none;
    padding-right: 50px;
  }

  &__phone:hover &__phoneLink {
    opacity: 1;

    @media (max-width: 744px) {
      display: none;
    }
  }
}
