.header {
  display: flex;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  height: 100vh;
  place-content: space-between;
  flex-wrap: wrap;
  background-image: url('../../src//images/Image.jpg');
  background-size: cover;
  background-position: center;
}
