@import './mixinsHeader.sass'
@import '../menu/menu.sass'

.header
    position: absolute
    display: grid
    top: 52px

    .header__title 
        width: 80px
        text-align: right
    
    @include onDesktop(12)
    @include onTablet(6)
    @include onMobile(3)
    color: white
    .nav__list
        width: 100%
        height: 100%
        display: inline-flex
        justify-content: space-evenly
        gap: 2dvw
        align-items: center
        list-style: none

        .nav__item
            width: 32px
            height: 32px
            .nav__icon
                width: 32px
                height: 32px

        .nav__item:first-child
            background-image: url('../../../public/assets/icon-phone.svg')
            background-size: cover
        .nav__item:last-child
            background-image: url('../../../public/assets/icon-menu.svg')
            background-size: cover
            &:hover
                background-image: url('../../../public/assets/icon-menu-hover.svg')
                background-size: cover

.nav__modal-contacts
    position: absolute
    width: max-content
    display: none
    text-align: right
    &--show
        display: flex
        width: 100%
        margin-left: 2dvw
        flex-direction: column
        justify-content: flex-end
    
