.header {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__backgraund {
    height: 100vh;
    background-image: url(../images/header-image.png);
    background-size: cover;

    @include background-header-position;
  }

  &__title {
    font-weight: 700;
    margin: 0;
    letter-spacing: -1.5px;

    @include header-title-size;

    text-align: center;
  }

  &__bottom {
    padding-bottom: 88px;

    @include on-tablet {
      padding-bottom: 130px;
    }

    @include on-desktop {
      padding-bottom: 203px;
    }

    @include content-padding-inline;
  }
}
