.icon {

  @include iconSize;
  @include hover(transform, scale(1.2));

  &--phone {
    background-image: url(../images/icons/icon-phone-call-2x.png);
    background-size: cover;
  }

  &--buger {
    background-image: url(../images/icons/Icon-Burger-menu-2x.png);
    background-size: cover;
  }
  &--close {
    background-image: url(../images/icons/icon-close-2x.png);
    background-size: cover;
  }
}
