.icon {
  display: block;
  height: 24px;
  width: 24px;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  @include hover(transform, scale(1.2));

  @include onTablet() {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(../images/icons/icon-phone.svg);
    position: relative;

    &:hover::before {
      position: absolute;
      left: -200px;
      white-space: pre;
      content: "The Met Fifth Avenue\0a+1 212-535-7710\0aThe Met Cloisters\0a+1 212-923-3700";
      text-align: right;
      color: #fff;
      align-items: center;
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }
}


