.icon {
  display: block;
  height: 24px;
  width: 24px;
  &--phone {
    position: relative;
    color: #fff;
    background-image: url(/src/images/icon/Icon-Phone-call.svg);
    @media (min-width: 1240px) {
      &:hover .header__tel {
        display: flex;
        box-sizing: content-box;
        z-index: 2;
      }
    }
  }
  &--menu {
    background-image: url(/src/images/icon/Icon-Burger-menu.svg);
  }
  &--close {
    background-image: url(/src/images/icon/Icon-Close.svg);
  }

  @media (min-width: 744px) {
    height: 32px;
    width: 32px;
    background-size: cover;
  }
  @media (min-width: 1240px) {
    position: relative;
    display: inline-block;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
    }
  }
}
