.menu {
  height: 100vh;
  background-color: #f9f9f9;

  &__nav {
    margin-bottom: 40px;
  }

  &__bottom {
    padding-bottom: 40px;
  }

  &__top {
    margin-bottom: 32px;
  }

  &__phone-number {
    @include menuCallLink;
    margin-bottom: 16px;
    @include hover(color, #F98921)
  }

  &__call-to-order {
    width: fit-content;
    @include menuCallLink;
    padding-bottom: 4px;
    border-bottom: 1px solid #1b2129;
    transition: color 500ms, border-color 500ms;

    &:hover {
      color: #F98921;
      border-color: #F98921;
    }
  }
}












