.menu {
  height: 100vh;
  background-color: #f9f9f9;

  &__nav {
    margin-bottom: 40px;
  }

  &__content {
    padding-bottom: 40px;
    @include contentPaddingInline;
  }

  &__top {
    margin-bottom: 32px;
  }

  &__phone-number {
    @include menuCallLink;
    margin-bottom: 16px;
  }

  &__call-to-order {
    width: fit-content;
    @include menuCallLink;
    padding-bottom: 4px;
    border-bottom: 1px solid $c-font;
  }
}












