.menu {
  box-sizing: border-box;

  height: 100vh;
  background-color: $color-backgraund-menu;

  font-weight: 600;
  text-transform: uppercase;

  &__top {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 8px;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: block;
    color: $color-font-main-menu;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
    transition: $transition-time;

    &:hover {
      color: $color-link-hover;
    }
  }

  &__book-a-test-drive {
    display: block;
    width: fit-content;
    color: $color-font-main-menu;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    padding-bottom: 7px;
    border-bottom: 1px solid $color-font-main-menu;
  }
}
