$widthDesktop: 1260px
$widthLaptop: 1026px
$widthTablet: 744px
$widthMobile: 320px

@mixin onDesktop($numColumns) 
    @media screen and (min-device-width: 1260px)
        margin: 0 120px
        width: 1020px
        gap: 24px
        grid-template-columns: repeat($numColumns, 63px)
        .header__title
            font-size: 40px
        .header__nav
            grid-column: 11 / 13
        .nav__modal-contacts
            margin-top: 10%
            left: 6.5dvw
            grid-column: 8 / 10
            .nav__modal-contacts__title
                font-size: 15px


@mixin onLaptop($numColumns) 
    @media screen and (min-device-width: 1051px) and (max-device-width: 1259.99px)
        margin: 0 100px
        width: 90dvw
        gap: 24px
        grid-template-columns: repeat($numColumns, 1fr)
        
        .header__nav
            grid-column: 9 / 10
        .nav__modal-contacts
            margin-top: 10%
            left: -1.5dvw
            grid-column: 7 / 9
            .nav__modal-contacts__title
                font-size: 15px

@mixin onTablet($numColumns) 
    @media screen and (min-device-width: $widthTablet) and (max-device-width: 1259.99px)
        margin: 0 70px
        width: 85dvw
        gap: 24px
        grid-template-columns: repeat(4, 1fr) 2fr 1fr
        .header__nav
            grid-column: 6 / 7
        .nav__modal-contacts
            margin-top: 10%
            grid-column: 5 / 6
            .nav__modal-contacts__title
                font-size: 15px

@mixin onMobile($numColumns)
    @media screen and (min-device-width: $widthMobile) and (max-device-width: 743.99px)
        margin: 0 10px
        width: 90dvw
        gap: 24px
        grid-template-columns: 1fr 2fr 1fr
        .header__nav
            grid-column: 3 / 4
        .nav__modal-contacts
            top: 20px
            left: 15px
            grid-column: 2 / 3
            .nav__modal-contacts__title
                font-size: 12px
            .nav__modal-contacts__phone
                font-size: 10px

