.nav {
  margin-top: 40px;

  @include on-desktop {
    margin-top: 55px;
  }

  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    padding: 0;

    height: 238px;
    list-style: none;
  }

  &__link {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;
    color: $header-text-color;
    text-decoration: none;
    text-transform: uppercase;

    &::after {
      content: '';
      display: block;
      height: 1px;
      background-color: $header-text-color;
      width: 100%;
      position: absolute;
      bottom: -8px;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
