.nav {

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 32px;
  }

  &__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: $c-font;
    font-size: 22px;
    font-weight: $font-weight-bg;
    line-height: $line-height-normal;
    transition: scale 300ms;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -8px;
      height: 1px;
      background-color: $c-font;
      width: 100%;
      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform:scale(1);
    }
  }
}


