.nav {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;

    list-style: none;
  }

  &__link {
    position: relative;

    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-decoration: none;
    color: $dark-theme-color;

    @include linkHoverDecoration($dark-theme-color);
  }

  &__item {
    @include hover(transform, translateX(5px));
  }
}

@keyframes menu {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  80% {
    transform: translateX(-3%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
