.phone {
  position: relative;

  &__icon:hover+&__list,
  &__list:hover {
    visibility: visible;
  }

  &__list {
    position: absolute;
    left: -200px;
    padding: 10px;
    top:-25px;
    text-align: right;
    align-items: center;
    visibility: hidden;

    & a {
      color: #fff;
    }
  }
}
