.top-bar {
  display: flex;
  padding-block: 24px;
  align-items: center;
  justify-content: space-between;

  @include onTablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include onTablet {
      height: 56px;
    }
  }
}
