.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 56px;
    }
  }
}

.top-bar__link {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.top-bar__number {
  display: none;
  font-family: Poppins, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  transition: opacity 0.3s ease;

  @include on-desktop {
    display: block;
    opacity: 0;
  }
}
