.top-bar {
  padding-block: 20px;

  @include on-tablet {
    padding-block: 64px;
  }

  display: flex;
  justify-content: space-between;

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__phone {
    position: relative;

    text-decoration: none;

    @include on-desktop {
      &:hover::after {
        position: absolute;

        transform: translate(-100%, 50%);

        font-family: Inter, sans-serif;
        left: -8px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        text-wrap: nowrap;
        font-weight: 700;
        color: $main-text-color;
        content: '+1 234 5555-55-55';
      }
    }

    &:visited {
      color: inherit;
    }
  }

  &__logo-link {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 16px;

    @include on-tablet {
      height: 24px;
    }

    @include on-hover(transform, scale($default-scale-factor));
  }
}
