.top-bar {
  padding-block: 24px;

  @include content-padding-inline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__logo {
    background-image: url(../images/logo.png);

    @include logo-style;
  }
}
