.categories {
  &__container {
    @media (min-width: 768px) {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__content {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 47px;
    padding-bottom: 96px;

    @media (min-width: 576px) {
      padding-bottom: 120px;
      gap: 56px;
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &__section {
    grid-column: span 2;

    @media (min-width: 768px) {
      grid-column: 1/ -1;
    }
  }

  &__photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-bottom: 16px;

    @media (min-width: 576px) {
      gap: 24px;
    }
  }

  &__photo {
    width: 100%;
  }

  &__photo-link {
    transition: $transition;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;

    &:hover {
      color: $buttonColor;
    }

    @media (min-width: 576px) {
      font-size: 24px;
    }
  }

  &--button {
    padding-top: 40px;
    text-decoration: none;
    grid-column: span 2;

    @media (min-width: 768px) {
      grid-column: span 4;
    }
  }

}
