.menu {
  height: 100vh;
  background-color: $grayAccent;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: auto;

  &__top-bar {
    position: sticky; /* to keep cross always visible */
    top: 0;
    z-index: 1;
    background-color: $grayAccent;
  }

  &__nav {
    margin-top: 24px;
  }

  &__phone-number {
    display: inline-block;
    margin-top: 40px;
    color: $mainAccent;
    letter-spacing: 0;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;

    @include hover-increase_active-decrease;
  }

  &__book-ride {
    display: block;
    margin-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid $mainAccent;
    width: fit-content;
    color: $mainAccent;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;

    @include hover-increase_active-decrease;
  }
}
