.product {
  &__image {
    margin-bottom: 32px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__desc {
    margin-bottom: 16px;
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }
}
