.french-art {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__photos {
    display: grid;
    @include grid;
  }

  &__photo {
    grid-column: span 1;

    @include onTablet {
      &--square {
        grid-column: span 2;
      }

      &--wider {
        grid-column: span 4;
      }
    }

    @include onDeskTop {
      &--square {
        grid-column: span 4;
      }

      &--wider {
        grid-column: span 8;
      }
    }
  }
}
