.photos-info {
  display: flex;
  flex-direction: column;

  &__name {
    @include sub-section-text;
    text-decoration: none;

    color: $main-text-color;
  }

  &__dates {
    @include sub-section-text;

    color: $text-color;
  }
}
