.contacts {
  grid-column: 1 / -1;
  padding-bottom: 64px;

  @include onTablet {
    padding-bottom: 120px;
  }

  @include onDesktop {
    grid-column: 7 / 13;
    padding-bottom: 0;
  }

  &__caption {
    margin-top: 24px;
    color: #9393a3;
    font-size: 14px;
    line-height: 140%;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__link {
    margin-top: 8px;
    color: #191919;
    font-size: 16px;
    line-height: 140%;
    width: max-content;
    position: relative;
    transition: color 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 1.5px;
      background-color: $text-color;
      transition: width 0.3s ease-in-out;
    }

    &:hover {

      &::before {
        width: 100%;
      }
    }
  }

  &--margin-top-56 {
    @include onDesktop {
      margin-top: 56px;
    }
  }
}
