/*#region footer*/
.footer {
  box-sizing: border-box;
  background-image: url(../../src/images/footer_screenshot.png);
  background-size: cover;
  background-position: 90%;
  height: 200px;

  @media (min-width: $tablet-min-width) {
    height: 480px;
    background-position: 90%;
  }

  @media (min-width: $desktop-min-width) {
    height: 555px;
    background-position: 90%;
  }
}
/*#endregion*/
