/*form*/
.form {
  display: flex;
  flex-direction: column;
}

footer {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.input,
.email {
  box-sizing: border-box;
  height: 48px;
}

.message {
  box-sizing: border-box;
  height: 148px;
}

.input,
.email,
.message {
  background: #f9f9f9;
  border: none;
  border-radius: 8px;
  display: inline-block;
}

.input:hover,
.email:hover,
.message:hover {
  border: 0.5px solid #dbdbdb;
}

.form__button {
  margin-top: 16px;
  padding: 14px 16px;
}

.footer__title {
  margin-bottom: 8px;
}

.footer__subtitle {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: #191919;
  margin-bottom: 24px;
}

.form__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #1b2129;
}

.footer__wrapper:hover {
  color: #a967f0;
}

@media(min-width:320px) {
  .form__button {
    margin-bottom: 48px;
  }
  .form__input,
  .form__email,
  .form__message {
    padding: 14px 16px;
    margin-bottom: 16px;
    width: 280px;
  }
  .footer__subtitle:has(:last-child) {
    margin-bottom: 40px;
  }
  .footer__row {
    margin-top: 64px;
  }

  .form__title {
    margin-top: 64px;
  }
}

@media(min-width:744px) {
  .form__title {
    margin-top: 120px;
  }

  .form__button {
    margin-bottom: 48px;
  }
  .form__input,
  .form__email,
  .form__message {
    padding: 14px 16px;
    margin-bottom: 16px;
    width: 100%;
  }
  .footer__subtitle:has(:last-child) {
    margin-bottom: 120px;
  }
  .footer__row {
    margin-top: 120px;
  }
}

@media(min-width:1260px) {
  .footer__row {
    display: flex;
    margin-top: 120px;
    gap: 135px;
  }
  .form__button {
    margin-bottom: 48px;
  }
  .form__input,
  .form__email,
  .form__message {
    padding: 14px 16px;
    margin-bottom: 16px;
    width: 100%;
  }
  .footer__subtitle:has(:last-child) {
    margin-bottom: 120px;
  }
  .form__input,
  .form__email,
  .form__message,
  .form__button {
    width: 498px;
  }
  .form__title {
    font-size: 48px;
  }
}
