.footer {
  padding-bottom: 64px;

  @include onTablet {
    padding-bottom: 120px;
  }

  &__content {
    @include contentPaddinginline;
    @include pageGrid;

    &-title {
      grid-column: 1 / 6;
      @include titleStyle;
    }
  }
}

.contact-us {
  grid-column: 1 /-1;

  @include onDesktop {
    grid-column: 1 / 7;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &-input {
      @include formStyle;
      height: 48px;
    }

    &-message {
      @include formStyle;
      height: 148px;
      overflow-x: auto;
    }

    &-button {
      margin-top: 16px;
      @include buttonStyle;
    }
  }
}

.contacts {
  padding-top: 48px;

  @include onTablet {
    padding-top: 80px;
  }

  @include onDesktop {
    padding-top: 0;
  }
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: 1 / -1;

  @include onDesktop {
    grid-column: 8 / 11;
  }

}

.caption {
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #9393a3;
}

.contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #191919;
}
