@import '../../blocks/page/page-desktop/pageDesktop.sass'
@import '../../blocks/header/header-desktop/headerDesktop.sass'
@import '../../blocks/menu/menu-desktop/menu-desktop.sass'
@import '../../blocks/sections/section-1/section-1-desktop/section1Desktop.sass'
@import '../../blocks/sections/section-2/section-2-desktop/section2Desktop.sass'
@import '../../blocks/sections/section-3/section-3-desktop/section3Desktop.sass'
@import '../../blocks/sections/section-4/section-4-desktop/section4Desktop.sass'
@import '../../blocks/sections/section-5/section-5-desktop/section5Desktop.sass'
@import '../../blocks/footer/footer-desktop/footerDesktop.sass'

//@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap')

/*Reset CSS*/

* 
    margin: 0
    padding: 0
    box-sizing: border-box
    font: 
        family: Cinzel, Roboto, sans-serif

/*Estilização da barra de rolagem*/

*::-webkit-scrollbar
    width: 10px
    &-thumb 
        background-color: #d12d35

.page
    overflow-x: hidden
    width: 100dvw
    > * 
        scroll-behavior: smooth;
    /*Incremento do tamanho na imagem sob evento hover*/

    img:hover
        scale: 1.05
        z-index: 2


.page:not(.page--hidden)
    height: 100dvh
    overflow-y: hidden
    &::-webkit-scrollbar
        display: none

.page:has(.page__menu:target) 
  overflow: hidden //not to scroll the page

/*Fallback para prevenir overflow horizontal*/

html
    overflow-x: hidden