.btw-section-bg {
  background-image: url("../images/btw-section-bg/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;

  margin-bottom: 48px;

  @include onTablet {
    height: 400px;
    margin-bottom: 56px;
  }

  @include onDesktop {
    height: 460px;
    background-attachment: fixed;
  }
}
