.main-title {
  color: $black;
  font-size: 36px;
  line-height: 36px;
  @include title;

  @include onTablet {
    font-size: 48px;
    line-height: 48px;
  }

  @include onDesktop {
    font-size: 56px;
    line-height: 56px;
  }
}

.section-title {
  font-size: 32px;
  @include title;

  @include onTablet {
    font-size: 40px;
  }

  @include onDesktop {
    font-size: 48px;
  }
}

.section-subtitle {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.5px;

  @include onTablet {
    font-size: 24px;
    line-height: 33.6px;
  }
}
