.details {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 48px;
    }
  }
}

.details-block {
  &__images {
    @include page-grid;
  }

  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include hover(transform, scale(1.05));
  }

  &__title {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }

  &__description-wrapper {
    @include page-grid;
  }

  &__description {
    margin: 0;
    line-height: 140%;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: span 8;
    }
  }
}
