.header {
  background-image: url(./images/main-photo-header.png);
  background-size: cover;
  background-position: 100vh;

  @include on-tablet {
    background-position: 50%;
  }

  @include on-desktop {
    background-position: center;
  }

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    padding-bottom: 88px;
    text-align: center;

    @include on-tablet {
      padding-bottom: 130px;
      font-size: 64px;
    }

    @include on-desktop {
      padding-bottom: 203px;
      font-size: 80px;
      line-height: 100%;
      letter-spacing: 1.5px;
    }
  }

  &__title {
    margin: 0;
    color: $white-default;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-desktop {
      font-size: 80px;
      line-height: 100%;
      letter-spacing: 1.5px;
    }
  }
}
