.icon {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 24px;
  width: 24px;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  @include hover(transform, scale(1.3));

  &--phone {
    position: relative;
    align-content: center;
    background-image: url(./icons/phone.svg);

    @include hover(transform, scale(1.3));

    &--number {
      display: none;
      position: absolute;
      white-space: nowrap;
      padding: 4px 20px;

      right: 100%;
      transition: 0.3s;

      color: $white-default;
      font-family: inherit;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;

      @include on-tablet {
        padding: 8px 20px;
      }
    }

    @media (min-width: 450px) {
      &:hover &--number {
        display: inline-block;
      }
    }
  }

  &--menu {
    background-image: url(./icons/Icon-Burger-menu.svg);

    &:hover {
      background-image: url(./icons/burgerMenu-hover.svg);
    }
  }

  &--close {
    background-image: url(./icons/Icon-Close.svg);
  }
}
