.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: transform 0.5s ease-in-out;

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo {
    display: flex;
    width: 130px;
    height: 38px;

    @include hover(transform, rotate(360deg));

  }
}
