@use '../abstracts' as *;

.footer {
  margin-top: 84px;
  height: 180px;
  background-image: url('../images/footer/Footer-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;

  @include tablet {
    margin-top: 156px;
    height: 359px;
  }

  @include desktop {
    margin-top: 134px;
  }
}
