@use '../abstracts' as *;

.footer {
  height: 200px;
  background: url(../images/banners/footer-banner.jpg) center / cover no-repeat;

  position: sticky;
  bottom: 0;
  z-index: -1;

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;
  }
}
