@use '../abstracts' as *;

.footer {
  height: 180px;
  background-image: url('../images/footer/Footer-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;

  @include tablet {
    height: 359px;
  }
}
