@use '../abstracts' as *;

.main {
  background-color: $bg-color;

  &__content {
    padding: 60px 0 120px;
    display: flex;
    flex-direction: column;

    @include on-tablet {
      padding: 120px 0 102px;
    }

    @include on-desktop {
      padding-bottom: 164px;
    }
  }

  &__about-us {
    margin-bottom: 92px;

    @include on-tablet {
      margin-bottom: 132px;
    }

    @include on-desktop {
      margin-bottom: 164px;
    }
  }

  &__compare-bikes {
    margin-bottom: 92px;

    @include on-tablet {
      margin-bottom: 120px;
    }

    @include on-desktop {
      margin-bottom: 144px;
    }
  }

  &__details {
    margin-bottom: 80px;

    @include on-tablet {
      margin-bottom: 120px;
    }

    @include on-desktop {
      margin-bottom: 180px;
    }
  }

  &__title {
    letter-spacing: -1.5px;
    text-align: center;

    @include font(32px, 1, 500);

    &--left {
      text-align: left;
    }

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 64px;
    }
  }
}
