.contacts {
  &__wrapper {
    @include pageGrid;
    row-gap: 48px;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__form {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 5;
    }
  }

  &__info {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: 8 / -1;
    }
  }
}
