.header {
  background-image: url(../../assets/images/bike-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;

  @media (max-width: 800px) {
    background-image: url(../../assets/images/bike-bg--744.png);
  }

  @media (max-width: 470px) {
    background-position: right;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 128px;
    padding-inline: 120px;

    @media (max-width: 800px) {
      padding-inline: 72px;
    }

    @media (max-width: 470px) {
      padding-inline: 20px;
      height: 86px;
    }

    .logo {
      width: 187px;
      height: 56px;
      background-image: url(../../assets/images/MyBiKE-menu.png);
      background-size: contain;
      background-repeat: no-repeat;

      @media (max-width: 470px) {
        width: 130px;
        height: 38px;
      }
    }
  }

  &__title {
    h1 {
      font-family: Popping, sans-serif;
      font-weight: 700;
      font-size: 80px;
      line-height: 80px;
      text-align: center;
      margin-top: 260px;

      @media (max-width: 800px) {
        font-size: 64px;
        line-height: 64px;
      }

      @media (max-width: 470px) {
        font-size: 36px;
        line-height: 36px;
      }
    }
  }
}
