.header {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/main-hero.png');
  background-size: cover;
  background-position: center;
  padding: 25px 20px 0;

  &__title {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-top: 129px;
    line-height: 40px;
  }
}
