@mixin products-grid() {
  display: grid;
  row-gap: 40px;

  @include on-tablet-only {
    margin-inline: auto;
    max-width: 392px;
    row-gap: 48px;
  }

  @include on-desktop {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
  }
}
