@use './variables' as *;
@use 'sass:map';

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: $padding-inline-mobile;

  @include on-tablet {
    padding-inline: $padding-inline-tablet;
  }
}

@mixin content-padding-block {
  padding-block: $padding-block-mobile;

  @include on-tablet {
    padding-block: $padding-block-tablet;
  }
}

@mixin recommended-image-size {
  width: map.get(map.get($recommended-image-size, mobile), width);
  height: map.get(map.get($recommended-image-size, mobile), height);

  @include on-tablet {
    width: map.get(map.get($recommended-image-size, tablet), width);
    height: map.get(map.get($recommended-image-size, tablet), height);
  }

  @include on-desktop {
    width: map.get(map.get($recommended-image-size, desktop), width);
    height: map.get(map.get($recommended-image-size, desktop), height);
  }
}

@mixin recommended-products-max-width {
  max-width: map.get($recommended-products-max-width, mobile);

  @include on-tablet {
    max-width: map.get($recommended-products-max-width, tablet);
  }

  @include on-desktop {
    max-width: map.get($recommended-products-max-width, desktop);
  }
}

@mixin category-image-size {
  width: map.get(map.get($categories-image-size, mobile), width);
  height: map.get(map.get($categories-image-size, mobile), height);

  @include on-tablet {
    width: map.get(map.get($categories-image-size, tablet), width);
    height: map.get(map.get($categories-image-size, tablet), height);
  }

  @include on-desktop {
    width: map.get(map.get($categories-image-size, desktop), width);
    height: map.get(map.get($categories-image-size, desktop), height);
  }
}

@mixin categories-products-max-width {
  max-width: map.get($categories-products-max-width, mobile);

  @include on-tablet {
    max-width: map.get($categories-products-max-width, tablet);
  }

  @include on-desktop {
    max-width: map.get($categories-products-max-width, desktop);
  }
}

@mixin about-image-height {
  height: map.get($about-image-height, mobile);

  @include on-tablet {
    height: map.get($about-image-height, tablet);
  }

  @include on-desktop {
    height: map.get($about-image-height, desktop);
  }
}

@mixin about-image-width {
  width: map.get($about-image-width, mobile);

  @include on-tablet {
    width: map.get($about-image-width, tablet);
  }

  @include on-desktop {
    width: map.get($about-image-width, desktop);
  }
}
