* {
  font-family: Manrope, sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

$tablet-min-width: 576px;
$desktop-min-width: 1260px;
$main-text-color: #1b2129;
$padding-inline-mobile: 20px;
$padding-block-mobile: 20px;
$padding-inline-tablet: 72px;
$padding-block-tablet: 72px;
$section-margin-top: 96px;
$logo-height-mobile: 16px;
$logo-height-tablet: 24px;
$icon-gap-mobile: 24px;
$icon-gap-tablet: 32px;
$top-bar-padding-block: 24px;
$menu-list-gap: 32px;
$menu-nav-margin-bottom: 48px;
$menu-phone-margin-bottom: 16px;
$menu-order-padding-bottom: 4px;
$card-gap: 40px;
$recommended-image-radius: 4px;
$recommended-image-size: (
  mobile: (
    width: 280px,
    height: 280px,
  ),
  tablet: (
    width: 600px,
    height: 600px,
  ),
  desktop: (
    width: 324px,
    height: 324px,
  ),
);
$recommended-products-max-width: (
  mobile: 280px,
  tablet: 600px,
  desktop: 972px,
);
$recommended-card-width: 280px;
$recommended-card-min-height: 480px;
$letter-spacing: 0.15px;
$categories-gap: 20px;
$categories-image-size: (
  mobile: (
    width: 130px,
    height: 130px,
  ),
  tablet: (
    width: 288px,
    height: 184px,
  ),
  desktop: (
    width: 498px,
    height: 324px,
  ),
);
$categories-products-max-width: (
  mobile: 280px,
  tablet: 600px,
  desktop: 1020px,
);
$categories-button-color: #fff;
$categories-button-height: 56px;
$categories-button-background-color: #f98921;
$categories-button-margin-top: 40px;
$categories-content-margin-top: 46px;
$categories-label-margin-top: 16px;
$about-image-height: (
  mobile: 200px,
  tablet: 400px,
  desktop: 460px,
);
$about-image-width: (
  mobile: 320px,
  tablet: 744px,
  desktop: 1260px,
);
