@import './variables';
@import "../mixinforvariables";

.subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

.vinylplayer{
  background-image: url(../../images/vinylplayer.png);
  height: 200px;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: span 3;
  margin-top: 96px;
  margin-left: -20px;
}

.about-us{
  margin: 0 -20px;
  padding: 0 20px 48px ;
  background-color: #fcfaef;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  grid-column: span 2;
  
  &__textblock{
    display: grid;
    margin-top: 48px;
    gap: 24px;
  }

  &__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.15px;
  }
}

.main_block{
  display: grid;
  grid-template-columns: repeat(2, 130px); // Two columns, each 130px wide
  column-gap: 20px;
  padding: 0 20px;
}