.contact-us{
  display: grid;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  grid-column: span 2;
  margin-top: 64px;

  &__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
  }

  &__information{
    margin-top: 16px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    &--block{
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &--text1{
      font-weight: 400;
      font-size: 14px;
      line-height: 19.6px;
      letter-spacing: 0.15px;
      color: #9393A3;
    }
    &--text2{
      font-weight: 400;
      font-size: 16px;
      line-height: 22.4px;
      letter-spacing: 0.15px;
      color: #191919;
    }
  }
} 

.input_field{
  width: 100%;
  padding: 16px 14px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  letter-spacing: 0.15px;
  background: #F9F9F9;
  border: none;
  outline: none;
  color: #7E7E83;
  box-sizing: border-box;
  &:hover{
    border: 1px solid #DBDBDB;
    color: #1B2129;
    padding: 15px 13px;
  }
  &:focus{
    border: 2px solid #F98921;
    color: #1B2129;
    padding: 14px 12px;
  }
}

.field_message{
  position: relative;
  display: inline-block;
  height: 148px;
  font-family: Manrope, sans-serif;
}

.button2{
  width: 100%;
  font-family: Manrope, sans-serif;
}