.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-decoration: none;
}

.nav__item {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: left;
}

.nav__link{
  color: inherit;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
}
