$max-width: 1020px;
$gutter-width: 24px;
$margin-width: 120px;
$columns: 12;
$decktop-width: 1260px;
$tablet-width: 744px;
$font-family: 'Poppins', sans-serif;
$font-size: 23px;
$line-height: 1.4;
$font-color: #fff;
$background-color: #1d1d1d;
$background-color-menu: #c2c2c2;
$font-color-menu: $background-color;
$font-color-menu-hover: #555;
$transition-duration: 0.3s;
$transition-function: ease;
