@mixin onTablet() {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin contentPaddingInline() {
  padding-inline: $mobile-inline-padding;

  @include onTablet {
    padding-inline: $tablet-inline-padding;
  }
}

@mixin marginSections() {
  margin: 100px 0;

  @include onTablet {
    margin: 140px 0;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}
