$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$main-font: "Cinzel", serif;
$second-font: "Roboto", sans-serif;
$main-font-size: 16px;
$main-red-color: #d12d35;
$main-darkgrey-color: #3e3e3e;
$main-dark-color: #161616;
$main-light-color: #f8f8fa;
$grey-color: #7e7e83;
$color-button-hover: #ae1c23;
$white-color-for-text: #fff;
$mobile-inline-padding: 20px;
$tablet-inline-padding: 72px;
$desctop-inline-padding: 120px;
$mobile-line-higth: 27px;
$bold-font: 700;
$regular-font-weight: 400;
