.header {
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  height: 100vh;

  background-image: url(../images/BG_Cover_photo.png);
  background-size: cover;

  background-position: center;

  &__title {
    margin: 0;
    font-weight: 700; /* size media */
    font-size: 80px;  /* size media */
    text-align: center;
    letter-spacing: -1.5px;
  }

  &__bottom {
    padding: 0 20px 88px;
  }
}

