.header {
  background-image: url(../images/header-bg-mobile.jpg);
  background-size: cover;
  background-position: right 10% top;

  @include onTablet {
    background-position: center top;
  }
  @include onDesktop {
    background-image: url(../images/header-bg-big.jpg);
  }

  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include maxWidthContainer;
    @include contentPaddingInLine;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer {
    padding-bottom: 88px;
    @include contentPaddingInLine;
  }

  &__title {
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;

    @include onTablet {
      font-size: 64px;
    }
  }
}
