.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url("../images/phone-icon.svg");
    position: relative;
    display: flex;
    align-items: center;

    &:hover::before {
      content: "+1 234 555-55-55";

      text-align: center;
      width: 139px;
      position: absolute;
      right: 100%;

      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: $main-text-color;
      letter-spacing: 2px;
    }
  }

  &--menu {
    background-image: url("../images/menu-icon.svg");

    &:hover {
      background-image: url("../images/menu-icon-hover.svg");
    }
  }

  &--close {
    background-image: url("../images/close-icon.svg");
  }
}
