.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &__hover-number {
    display: block;
    opacity: 0;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 26px;
    transition: transform 0.3s;
    transform: scale(0);
    transform-origin: right;
  }

  &--phone {
    position: relative;
    background-image: url(../images/icons/icon-phone-call.svg);

    @include onTablet {
      &:hover {
        width: 200px;
        background-position: left 175px top;
        & .icon__hover-number {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  &--menu {
    background-image: url(../images/icons/icon-burger-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
    @include hover(transform, scale(1.2));
  }
}
