.icon {
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;

  @include onHover(transform, scale(1.2));

  @include onTablet {
    height: 32px;
    width: 32px;
  }
}

.icon--phone {
  background-image: url(../images/phone-icon.svg);
}

.icon--burger {
  background-image: url(../images/burger-icon.svg);

  &:hover {
    background-image: url(../images/burger-hover.svg);
  }
}

.icon--close {
  background-image: url(../images/close-icon.svg);
}
