.icon {
  display: block;
  background-size: contain;

  @include icons-size;
  @include hover-animation(transform, scale(1.2));

  &--phone {
    background-image: url(/src/img/icon/icon-phone.png);
  }

  &--menu {
    background-image: url(/src/img/icon/icon-burger-menu.png);

    &:hover {
      background-image: url(/src/img/icon/icon-burger-menu.png);
    }
  }

  &--close {
    background-image: url(/src/img/icon/close.png);
  }
}
