.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 500ms;

  box-sizing: border-box;
  height: 100vh;
  background-color: #C2C2C2;

  font-weight: 600;
}

.menu:target {
  transform: translateX(-0%);
}

.menu__content {
  padding-inline: 20px;
}

.additional-block {
  display: flex;
  flex-direction: column;
}

.menu__phone-number {
  color: #1D1D1D;
  text-decoration: none;

  line-height: 27px;

  margin-bottom: 16px;

  width: fit-content;
  transition: transform 250ms;
}

.menu__phone-number:hover {
  transform: scale(1.1);
}

.menu__book {
  color: #1D1D1D;
  text-decoration: none;

  width: fit-content;
  padding-bottom: 7px;
  border-bottom: 1px solid #1D1D1D;

  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;

  transition: transform 250ms;
}

.menu__book:hover {
transform: scale(1.1);
}

html:has(.menu:target) {
  overflow: hidden;
}
