.menu {
  height: 100vh;
  background-color: #c2c2c2;

  &__top {
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 8px;
    }
  }

  &__logo {
    @include logo-size;

    &--link {
      display: flex;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__book {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: $menu-font-weight;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;

    &--phone {
      font-size: 16px;
      line-height: 27px;
      color: $menu-color-text;
    }

    &--link {
      position: relative;
      width: max-content;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 2px;
      color: $menu-color-text;

      &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -8px;
        width: 100%;
        height: 1px;
        background-color: $menu-color-text;
      }
    }
  }
}
