.nav {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-weight: $menu-font-weight;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
  }

  &__link {
    position: relative;
    color: inherit;
    letter-spacing: 2px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -8px;
      height: 1px;
      width: 100%;
      background-color: $menu-color-text;

      transition: transform $effectDuration;
      transform: scale(0);
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
