.nav {
  grid-column: 1 / -1;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: $text-color;
    font-size: 22px;
    font-family: "Space Grotesk", "Arial", sans-serif;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
  }

  &__link {
    display: block;
    line-height: 140%;
    width: max-content;
    position: relative;
    transition: color 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0;
      height: 1.5px;
      background-color: $text-color;
      transition: width 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}
