.nav__link {
  color: #1D1D1D;
  text-decoration: none;

  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;

  display: inline-block;
  transition: transform 250ms;
}

.nav__link:hover {
  transform: scale(1.1);
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;

  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
