.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px 0;

  @include onTablet {
    padding: 36px 72px 0;
  }

  @include onDesktop {
    padding: 36px 120px 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;

    @include onTablet {
      gap: 32px;
    }
  }

  &__number {
    position: absolute;
    top: 30%;
    left: -150%;
    margin: 0;
    display: none;

    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 2px;

    opacity: 0;
    transition: opacity, 0.3s;

    @include onDesktop {
      display: block;
    }
  }
}
