.top-bar {
  display: flex;
  padding: 24px 0;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding: 36px 0;
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 32px;
    }
  }

  &__logo {
    @include logo-size;

    &-link {
      display: flex;
    }
  }
}
