.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 28px;

  @include content-padding-inline;

  @include on-tablet {
    padding-block: 36px;
  }

  &__logo-link {
    height: 24px;
    width: 125px;

    text-decoration: none;
  }

  &__logo {
    height: 16px;
    width: 125px;

    @include on-tablet {
      height: 24px;
      width: 172px;
    }

    @include scale-picture;
  }
}
