@import 'variable';

.contact {
  display: flex;
  justify-content: center;

  &__registration-form {
    display: grid;
    grid-column: 1 / 6;

    @media (max-width: $tablet-format) {
      grid-column: 1 / 4;
    }

    @media (max-width: $phone-format) {
      grid-row: 2;
    }
  }

  &__information {
    grid-column: 8 / -1;

    @media (max-width: $tablet-format) {
      grid-column: 4 / -1;
    }

    @media (max-width: $phone-format) {
      grid-row: 3;
      grid-column: 1 / -1;
    }
  }

  &__heading {
    font-weight: $medium-font-weight;
    font-size: 48px;
    line-height: 48px;
    color: white;
    grid-column: 1 / -1;
    grid-row: 1;
    margin: 180px 0 48px;
    text-align: center;

    @media (max-width: $tablet-format) {
      margin: 100px 0 48px;
    }

    @media (max-width: $phone-format) {
      margin: 80px 0 48px;
      font-size: 32px;
      line-height: 32px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;

    &-title {
      font-weight: $small-font-weight;
      font-size: 14px;
      line-height: 20px;
      color: white;
    }

    &-discription {
      font-weight: $medium-font-weight;
      font-size: 16px;
      line-height: 22px;
      color: white;
      width: fit-content;
      transition: color $animation-speed ease;

      &:hover {
        color: #7e7e83;
      }
    }

    &:last-of-type {
      margin-bottom: 120px;
    }
  }

  &__button {
    margin: 32px 0 182px;

    @media (max-width: $tablet-format) {
      margin: 32px 0 120px;
    }

    @media (max-width: $phone-format) {
      margin: 32px 0 48px;
    }
  }

  &__adress {
    text-decoration: none;
  }

  &__number {
    text-decoration: none;
    width: fit-content;
  }
}
