@import 'variable';
@import 'mixin';

.details {
  display: flex;
  justify-content: center;
  z-index: 0;
  padding-bottom: 100px;

  &__heading {
    font-weight: $medium-font-weight;
    font-size: 64px;
    line-height: 64px;
    color: white;
    grid-column: 1 / -1;
    grid-row: 1;
    text-align: center;
    margin: 144px 0 48px;

    @media (max-width: $tablet-format) {
      font-size: 48px;
      line-height: 48px;
      margin: 120px 0 64px;
    }

    @media (max-width: $phone-format) {
      font-size: 32px;
      line-height: 32px;
      margin: 92px 0 48px;
    }
  }

  &__image {
    height: 320px;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    position: relative;
    object-fit: cover;

    @media (max-width: $tablet-format) {
      height: 187px;
    }

    @media (max-width: $phone-format) {
      height: 130px;
    }

    &-auto-unlock {
      grid-row: 2;

      &:nth-of-type(1) {
        @include broad-coordination;
      }

      &:nth-of-type(2) {
        @include narrow-coordination;
      }
    }

    &-range {
      grid-row: 5;

      &:nth-of-type(3) {
        @include broad-coordination;
      }

      &:nth-of-type(4) {
        @include narrow-coordination;
      }
    }

    &-lightweight {
      grid-row: 8;

      &:nth-of-type(5) {
        @include narrow-coordination-reverse;
      }

      &:nth-of-type(6) {
        @include broad-coordination-reverse;
      }
    }
  }

  &__title {
    font-size: 24px;
    font-weight: $bold-font-weight;
    line-height: 34px;
    color: white;
    grid-column: 1 / -1;
    margin: 16px 0 8px;

    &-auto-unlock {
      grid-row: 3;
    }

    &-range {
      grid-row: 6;
    }

    &-lightweight {
      grid-row: 9;
    }
  }

  &__discription {
    font-size: 16px;
    font-weight: $small-font-weight;
    line-height: 22px;
    color: white;
    grid-column: 1 / -1;
    margin-bottom: 48px;

    @media (max-width: $phone-format) {
      margin-bottom: 40px;
    }

    &-auto-unlock {
      grid-row: 4;
    }

    &-range {
      grid-row: 7;
    }

    &-lightweight {
      grid-row: 10;
    }
  }

  &__button {
    grid-row: 22;
    grid-column: 5/9;

    @media (max-width: $tablet-format) {
      grid-column: 2/-2;
    }

    @media (max-width: $phone-format) {
      grid-column: 1/-1;
    }
  }
}
