@import 'variable';
@import 'mixin';

.header {
  background-image: url(../pictures/Cover_photo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 711px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 $laptop-indens;
  position: relative;
  background-position: 50%;

  @media (max-width: $tablet-format) {
    height: 628px;
    padding: 0 $tablet-indens;
  }

  @media (max-width: $phone-format) {
    background-position: 85%;
    height: 480px;
    padding: 0 $phone-indens;
  }

  &__content {
    height: 100%;
    width: 100%;
  }

  &__top {
    @include topbar;

    z-index: 1;
  }

  &__logo {
    background-image: url(../pictures/MyBiKE-white.svg);

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    height: 80px;
    width: 672px;
    font-size: 80px;
    line-height: 80px;
    font-weight: $bold-font-weight;
    letter-spacing: -1.5px;
    color: white;
    margin: 300px 0 0;
    text-align: center;

    @media (max-width: $tablet-format) {
      height: 64px;
      width: 600px;
      font-size: 64px;
      line-height: 64px;
      margin: 306px 0 0;
    }

    @media (max-width: $phone-format) {
      height: 36px;
      width: 279px;
      font-size: 36px;
      line-height: 36px;
      margin: 270px 0 0;
    }
  }
}

.icons {
  display: flex;
  gap: 32px;
  background-size: contain;

  @media (max-width: $phone-format) {
    gap: 24px;
  }
}

.icon {
  height: 32px;
  width: 32px;
  transition: opacity $animation-speed ease;

  @media (max-width: $phone-format) {
    height: 24px;
    width: 24px;
  }

  &-phone {
    @include bg-icon-style(url(../pictures/Phone-icon.svg));

    background-size: contain;
    position: relative;

    &::before {
      pointer-events: none;
      position: absolute;
      content: '+1 234 5555-55-55';
      width: max-content;
      display: block;
      color: white;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      right: 50px;
      opacity: 0;
      transition: opacity $animation-speed ease;
    }

    @media (min-width: $tablet-format) {
      &:hover::before {
        opacity: 1;
      }
    }
  }

  &-menu {
    @include bg-icon-style(url(../pictures/Menu-icon.svg));

    background-size: contain;
    transition: opacity $animation-speed ease;
  }

  &--close {
    @include bg-icon-style(url(../pictures/Close-icon.svg));

    background-size: contain;
  }

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.logo {
  background-size: cover;
  margin: 36px 0;
  height: $height-logo;
  width: $width-logo;

  @media (max-width: $phone-format) {
    height: 38px;
    margin: 24px 0;
    width: 130px;
  }
}
