@import 'variable';
@import 'mixin';

.header {
  background-position: 85%;
  background-image: url(../pictures/Cover_photo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 711px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 $laptop-indens;
  position: relative;

  @media (max-width: 1260px) {
    height: 744px;
    padding: 0 $tablet-indens;
  }

  @media (max-width: 744px) {
    height: 480px;
    padding: 0 $phone-indens;
  }

  &__content {
    height: 100%;
    width: 100%;
  }

  &__top {
    @include topbar;

    z-index: 1;
  }

  &__logo {
    background-image: url(../pictures/MyBiKE-white.svg);
  }

  &__title {
    height: 80px;
    width: 672px;
    font-size: 80px;
    line-height: 80px;
    font-weight: $bold-font-weight;
    letter-spacing: -1.5px;
    color: white;
    margin: 300px 0 0;

    @media (max-width: 1260px) {
      height: 64px;
      width: 600px;
      font-size: 64px;
      line-height: 64px;
      margin: 306px 0 0;
    }

    @media (max-width: 744px) {
      height: 36px;
      width: 279px;
      font-size: 36px;
      line-height: 36px;
      margin: 270px 0 0;
    }
  }

  &:has(.menu:target) {
    overflow: hidden;
  }
}

.icon {
  display: flex;
  gap: 32px;
  background-size: contain;

  @media (max-width: 744px) {
    gap: 24px;
  }

  &--phone {
    @include bg-icon-style(url(../pictures/Phone-icon.svg));

    height: 32px;
    width: 32px;
    background-size: contain;

    &::before {
      position: absolute;
      content: '+1 234 5555-55-55';
      width: max-content;
      display: block;
      color: white;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      right: 250px;
      opacity: 0;
      transition: opacity $animation-speed ease;

      @media (max-width: 1260px) {
        right: 200px;
      }

      @media (max-width: 744px) {
        right: 120px;
      }
    }

    &:hover::before {
      opacity: 1;
    }

    @media (max-width: 744px) {
      height: 24px;
      width: 24px;
    }
  }

  &--menu {
    @include bg-icon-style(url(../pictures/Menu-icon.svg));

    height: 32px;
    width: 32px;
    background-size: contain;

    @media (max-width: 744px) {
      height: 24px;
      width: 24px;
    }
  }

  &--close {
    @include bg-icon-style(url(../pictures/Close-icon.svg));

    height: 32px;
    width: 32px;
    background-size: contain;

    @media (max-width: 744px) {
      height: 24px;
      width: 24px;
    }
  }
}

.logo {
  background-size: cover;
  margin: 36px 0;
  height: $height-logo;
  width: $width-logo;

  @media (max-width: 744px) {
    height: 38px;
    margin: 24px 0;
    width: 130px;
  }
}
