@import 'variable';

html {
  font-family: $main-font;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 555px;

  @media (max-width: $tablet-format) {
    padding-bottom: 480px;
  }

  @media (max-width: $phone-format) {
    padding-bottom: 200px;
  }

  &:has(.menu:target) {
    overflow: hidden;
  }
}

a {
  display: block;
  width: 100%;
}

.content {
  display: grid;
  column-gap: 24px;
  height: 100%;
  margin: 0 $laptop-indens;
  grid-template-columns: repeat(12, 63px);

  @media (max-width: 1260px) {
    column-gap: 24px;
    margin: 0 $tablet-indens;
    grid-template-columns: repeat(6, 80px);
  }

  @media (max-width: 744px) {
    column-gap: 20px;
    margin: 0 $phone-indens;
    grid-template-columns: repeat(2, 130px);
  }
}

.main {
  background-color: $background-main;
  padding: 0 $laptop-indens;
  position: relative;

  @media (max-width: $tablet-format) {
    padding: 0 $tablet-indens;
  }

  @media (max-width: $phone-format) {
    padding: 0 $phone-indens;
  }
}
