@mixin bg-icon-style($directory) {
  background-image: $directory;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin broad-coordination() {
  grid-column: 1 / 9;
  @media (max-width: 1260px) {
    grid-column: 1 / 5;
  }
  @media (max-width: 774px) {
    grid-column: 1;
  }
}

@mixin narrow-coordination() {
  grid-column: 9 / -1;
  @media (max-width: 1260px) {
    grid-column: 5 / -1;
  }
  @media (max-width: 774px) {
    grid-column: 2;
  }
}
