.menu
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    width: 100dvw
    height: 100dvh
    background-color: #d12d35
    display: flex

    .menu__logo
        text-decoration: none
        position: absolute
        left: 124px
        top: 32px
        width: 87px
        height: 65px
        background-repeat: no-repeat
        background-position: center center
        background-image: url('../../../public/assets/favicon.svg')

    .menu__close
        all: unset
        border: none
        outline: none
        width: 32px
        height: 32px
        position: absolute
        top: 44px
        right: 120px
        background-image: url('../../../public/assets/menu/menu-close.svg')
    .menu__nav
        position: absolute
        top: 152px
        left: 120px
        .nav__list
            list-style: none
            text-align: start
            .list__item
                display: flex
                flex-direction: column
                gap: 24px
                .nav__link
                    margin-bottom: 24px
                    line-height: 22px
                    text-decoration: none
                    color: white
                    width: max-content
                    font:
                        weight: 700
                        size: 22px
                    &:hover
                        border-bottom: 1px solid white

    .menu__contacts
        position: absolute
        left: 120px
        top: 438px
        display: flex
        flex-direction: column
        
        .contact
            text-align: start
            .contact__name, .contact__number
                color: white
                line-height: 27px
                font:
                    weight: 700
                    size: 16px
            .contact__number
                text-decoration: none
        .contacts__call
            all: unset
            justify-self: start
            margin-top: 24px
            width: max-content
            font: 
                weight: 700
                size: 16px
            color: white
            &:hover
                border-bottom: 1px solid white
                padding-bottom: 8px

    &--hidden
        display: none
