.menu {
  box-sizing: border-box;
  height: 100vh;

  background-color: rgba(249, 249, 249, 1);
  font-weight: 700;
  text-transform: uppercase;
}

.menu__top {
  margin-bottom: 32px;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__content {
  padding-inline: 20px;
  padding-left: 120px;
}

.menu__phon-number {
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 27px;
}

.menu__coll-to-order {
  display: block;
  width: fit-content;
  border-bottom: 1px solid rgba(27, 33, 41, 1);

  padding-bottom: 7px;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.menu__phon-number:hover {
  color: blue;
}

.menu__coll-to-order:hover {
  color: blue;
}
