.page {
  font-family: Roboto, sans-serif;
  color: rgb(41, 27, 27);
  font-size: 16px;
  line-height: 22.4px;

  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.menu-open {
  overflow: hidden;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}
