.header {
  box-sizing: border-box;
  //position: absolute;

  height: 100vh;
  background-image: url(./image/Cover_photo.png);
  background-size: cover;
  background-position: 85% 15%;

  &__title {
    margin: 0;
    position: relative;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;
    height: 36;
    top: 456px;
    left: 21px;
    color: #FFF;
    padding: 356px 20px 88px;
    }

    &__bottom {
      padding: 0 20px 40px;
    }
  }
