* {
  box-sizing: border-box;
}

.body {
  font-family: Poppins, sans-serif;
}

h3 {
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0;
}

@import './styles/utils/variables';
@import './styles/utils/mixins';
@import 'styles/blocks/header';
@import 'styles/blocks/icon';
@import 'styles/blocks/menu';
@import 'styles/blocks/nav';
@import 'styles/blocks/page';
@import 'styles/blocks/top-bar';
@import 'styles/blocks/section-title';
@import 'styles/blocks/main';
@import 'styles/blocks/product';
@import 'styles/blocks/compare-bike';
@import 'styles/blocks/about-as';
@import 'styles/blocks/details';
@import 'styles/blocks/contact';
@import 'styles/blocks/footer';
