/* #region page */
.page {
  font-family: Cinzel, serif;
  color: #161616;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

/* #endregion */

/* #region header */
.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../photos/bg.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bottom {
  padding: 0 20px 288px;
}

/* #endregion */

/* #region menu */
.top--bar {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top--bar__icons {
  display: flex;
  gap: 24px;
}

.top--bar__logo {
  display: flex;
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #d12d35;
  font-weight: 700;
  text-transform: uppercase;
}

.menu__top {
  margin-bottom: 40px;
}

.menu__content {
  padding-inline: 20px;
}

.menu__phone--number {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 16px;
}

.menu__call--to--order {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  padding-bottom: 7px;
  border-bottom: 1px solid #fff;
  width: fit-content;
}

.menu__nav {
  margin-bottom: 16px;
}

/* #endregion */

/* #region nav */
.nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* #endregion */

/* #region icon */
.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(../photos/icons/Icon-Phone-call.png);
}

.icon--menu {
  background-image: url(../photos/icons/Icon-Burger-menu.png);
}

.icon--close {
  background-image: url(../photos/icons/Icon-Close.png);
}

.header__title {
  margin: 0;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.5px;
  text-align: center;
}

/* #endregion */

/* #region footer */

/* #endregion */
