.menu{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  box-sizing: border-box;
  padding: 50px 120px 83px;
  height: 100vh;
  background-color:#D12D35;

  opacity: 0;
  pointer-events: none;

  &:target{
    opacity: 1;
    pointer-events: all;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
     }
}
