.my-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $main-color;
  color: $white-color;
  cursor: pointer;
  padding: 20px;
  border-radius: 50%;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  &:hover {
    background-color: $input-color;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  &:active {
    background-color: $menu-bg-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
