/* #region page */
.page {
  font-family: Poppins, sans-serif;
  color: black;
  font-size: 23px;
  line-height: 32px;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

/* #endregion */

/* #region header */

.header {
  box-sizing: border-box;
  padding: 24px 20px 88px;
  height: 100vh;
  background-image: url(images/header-bg-mobile.png);
  background-size: cover;
  background-position: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__icons {
  display: flex;
  gap: 32px;
}

.header__addon {
  width: 26.25px;
  height: 21.25px;
  background-image: url(icons/vector.png);
  background-color: white;
  margin-bottom: 0;
}

.header__title {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
  text-align: center;

  color: #fff;
}

/* #endregion */

/* region menu */
.menu {
  box-sizing: border-box;
  padding: 24px 20px 88px;
  height: 100vh;
  background-color: #c2c2c2;
}

.menu__top {
  display: flex;
  justify-content: space-between;
}

/* endregion */

/* region icon */
.icon {
  display: block;
  width: 32px;
  height: 32px;
}

.icon--phone {
  background-image: url(icons/icon-phone-call.png);
}

.icon--menu {
  background-image: url(icons/icon-burger-menu.png);
}

.icon--close {
  background-image: url(icons/icon-close.png);
}

/* #endregion */

.main {
  width: 392px;
  height: 48px;
  top: 1072px;
  left: 176px;
  gap: 0;
  opacity: 0;
}

/* #region footer */

/* #endregion */
