* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }


@import './styles/utils/variables';
@import './styles/utils/mixins';
@import './styles/utils/section-title';
@import 'styles/main';
@import 'styles/product';
@import 'styles/recommended';
@import 'styles/about-us';
@import 'styles/contact-us';
@import 'styles/categories';
@import 'styles/button';
@import 'styles/header';
@import 'styles/page';
@import 'styles/top-bar';
@import 'styles/icon';
@import 'styles/menu';
@import 'styles/nav';







