/* #region page */
.page {
  font-family: Cinzel, serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  padding: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

/* #endregion */

/* #region header */
.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(images/header-bg.png);
  background-size: cover;
  background-position: center;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__center {
  padding-top: 129px;
}

.header__title {
  font-weight: 700;
  color: #FFF;
  font-size: 40px;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 40px;
  letter-spacing: -1.5px;
  text-align: center;
}

/* #endregion */

/* #region icon */
.icon {
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(images/icons/icon-phone-call.png);
}

.icon--menu {
  background-image: url(images/icons/icon-burger-menu.png);
}

.icon--close {
  background-image: url(images/icons/icon-close.png);
}

/* #endregion */

/* #region menu */
.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #D12D35;
  font-weight: 700;
  text-transform: uppercase;
}

.top-bar {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
}

.top-bar__logo{
  display: flex;
}

.menu__content {
  padding-inline: 20px;
  margin-top: 40px;
}

.menu__phone-numbers {
  margin-top: 32px;
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
}

.menu__phone-links {
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 8px;
}

.call--to--order {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  margin-top: 16px;

  display: block;
  width: fit-content;
  padding-bottom: 7px;
  border-bottom: 1px solid #FFF;
}

/* #endregion */

/* #region nav */
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  color: #FFF;
  text-decoration: none;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

/* #endregion */

/* #region main */
.main {
  color: black;
}

/* #endregion */

/* #region footer */
.footer {
  color: black;
}

/* #endregion */
