html {
  --text-color: #00acdc;
  --logo-size: 40px;
  --color: #000;
  --fonts: var(--fonts);
}

.page__body {
  margin: 0;
}

.header {
  background-image: url(images/mikkel-bech1260.svg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  height: 128px;
}

.top-bar__icons {
  display: flex;
  gap: 32px;
}

/* region Open Telephone */
.number__contact {
  display: none;
  color: #fff;
  text-align: right;
  font-family: var(--fonts);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.icon__telephone {
  position: relative;

}

.icon__telephone:hover .number__contac {
  display: block;
  width: 142px;
  height: 16px;
  position: absolute;
  top: 8px;
  right: 42px;
}

/* End region Open Telephone */
.header__bottom {
  color: #fff;

  text-align: center;
  font-family: var(--fonts);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 80px */
  letter-spacing: -1.5px;
  margin-bottom: 203px;
}

.main {
  background-color: #1d1d1d;
}

.main__content {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-right: 120px;
}

/* region menu  */
.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

.menu {

  box-sizing: border-box;
  background-color: #c2c2c2;
  height: 100vh;
  font-weight: 600;
  text-transform: uppercase;
}

.meny__top {
  margin-bottom: 24px;

}

.menu__nav {
  margin-bottom: 40px;
}

.menu__gallery {
  padding-inline: 32px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu__phone-number {
  display: block;
  text-decoration: none;
  margin-bottom: 16px;
  color: inherit;
  font-size: 16px;
  line-height: 27px;

}

.menu__test-ride {
  display: block;
  text-decoration: none;
  color: inherit;
  width: fit-content;
  padding-bottom: 7px;
  border-bottom: 1px solid #1d1d1d;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;

}

.nav__link {
  color: inherit;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  text-decoration: none;
}

/* ENDregion menu  */

/* region main */

.move-free {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  gap: 180px;

}

.move-free__header {
  display: flex;
  flex-wrap: nowrap;
}

.move-free__title {
  color: #fff;
  min-width: 411px;
  font-family: var(--fonts);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 64px */
  letter-spacing: -1.5px;

  text-align: center;
}

.move-free__content {
  color: #fff;
  font-family: var(--fonts);
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

}

.section-title {
  text-align: center;
  color: #fff;
  font-family: var(--fonts);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 64px */
  letter-spacing: -1.5px;

  margin-top: 164px;
}

.recommended__products {
  display: flex;
}

.recommended__produc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__title {
  color: #fff;
  font-family: var(--fonts);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-top: 32px;
}

.product__category {
  color: #fff;

  font-family: var(--fonts);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 8px;
}

.product__price {
  color: #fff;

  font-family: var(--fonts);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-top: 16px;
}

.categories__wrapper {
  margin-top: 48px;
}

.categories-title {
  text-align: center;
  color: #fff;
  font-family: var(--fonts);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 64px */
  letter-spacing: -1.5px;
  margin-top: 144px;
}

.category__photos {
  display: flex;
  justify-content: space-between;

}

.category__photo {
  background-size: cover;
  width: 100%;
}

.category__title {
  color: #fff;

  font-family: var(--fonts);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-top: 16px;
}

.category__description {
  color: #fff;
  font-family: var(--fonts);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 48px;
  margin-top: 8px;
}

.categoty__button {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.categoty__button__knob {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: #fff;
  width: 324px;
  height: 56px;

  color: #1d1d1d;
  font-family: var(--fonts);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
}

.contact-title {
  color: #fff;

  text-align: center;
  font-family: var(--fonts);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 48px */
  letter-spacing: -1.5px;
}

.grid-container {
  margin-top: 48px;
  margin-bottom: 164px;
  display: flex;
  gap: 175px;
}

.contact-us {
  margin-top: 180px;
}

.contact-us__block {
  display: flex;
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 411px;

}

.contact-us__form-field {
  height: 48px;
  border-radius: 40px;
  background: #f8f8fa;
}

.contact-us__form-field::placeholder {
  padding-left: 16px;
  padding-top: 14px;
}

.contact-us__form-field--message {
  height: 148px;
  border-radius: 16px;
  background: #f8f8fa;
}

.categoty__button__knob--resize {
  width: 411px;
  border-radius: 40px;
  height: 56px;
  background: #fff;
}

.contact-us__info {
  display: block;
  flex-direction: column;
}

.contact-us__info-title {
  color: #fff;
  font-family: var(--fonts);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-decoration: none;
}

.contact-us__info-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.grid-container div:nth-child(2) {
  margin-top: 24px;
}

.grid-container div:nth-child(3) {
  margin-top: 24px;
}

.contact-us__info-link {
  color: #fff;

  font-family: var(--fonts);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.contact-us__info-link:hover {
  color: red;
}

footer {
  background-image: url(images/footer-1260.svg);
  background-size: cover;
  height: 555px;
  background-position: 65%;
  position: sticky;
  bottom: 0;
  z-index: -1;
}
