.footer {
  padding-top: 64px;
  padding-bottom: 64px;

  @include on-tablet {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;

  @include on-tesktop {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-footer {
  width: 100%;
  gap: 16px;

  &__title {
    color: #1b2129;
    font-family: Manrope, sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 32px;
  }

  input {
    width: 100%;
    border-radius: 8px;
    padding: 14px 0;
    padding-left: 16px;

    background-color: #f9f9f9;
    color: #1b2129;

    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.15px;

    &::placeholder {
      color: #7e7e83;
    }
  }

  textarea {
    width: 100%;
    height: 148px;
    border-radius: 8px;
    padding: 14px 0;
    padding-left: 16px;
    resize: none;

    background-color: #f9f9f9;
    color: #1b2129;

    font-family: Manrope, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0.15px;

    &::placeholder {
      color: #7e7e83;
    }
  }

  button {
    width: 100%;
    display: block;
    text-align: center;
  }

  @include on-tablet {
    &__title {
      font-size: 40px;
      margin-bottom: 40px;
    }
  }

  @include on-tesktop {
    width: 498px;

    &__title {
      font-size: 56px;
    }
  }
}

.footer__info {
  margin-top: 48px;

  @include on-tablet {
    margin-top: 80px;
  }

  @include on-desktop {
    width: 411px;
  }
}

.info-footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
}

.info-footer__title {
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.15px;
  color: #9393a3;
}

.info-footer__link {
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.15px;
  color: #1b2129;

  &:hover {
    text-decoration: underline;
    color: #9393a3;
  }
}
