.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  &__container {
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 152px;
    height: 16px;
    position: relative;

    @include on-tablet {
      width: 228px;
      height: 24px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__nav {
    display: flex;
    gap: 24px;
  }

  &__call-link {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;

    p {
      display: none;
      font-family: Inter, sans-serif;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
      transition: all 0.3s ease 0s;
      color: #1b2129;
    }

    @include on-tablet {
      gap: 32px;

      &:hover {
        p {
          display: block;
        }
      }
    }
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;

  &-phone {
    position: relative;
    display: block;
    content: url('../img/phone-icon.svg');
    object-fit: cover;
    cursor: pointer;
  }

  &-menu {
    display: block;
    content: url('../img/menu-icon.svg');
    object-fit: cover;
    cursor: pointer;

    &:hover {
      content: url('../img/menu-hover-icon.svg');
    }

    &.active {
      content: url('../img/close-icon.svg');
    }
  }

  @include on-tablet {
    width: 32px;
    height: 32px;
  }
}
