.invisible {
  display: none;
}

[class*='__container'] {
  max-width: 280px;
  margin: 0 auto;

  @include on-tablet {
    max-width: 600px;
  }

  @include on-desktop {
    max-width: 1020px;
  }
}

body {
  color: #1b2129;
  &.unscrollable {
    overflow-y: hidden;
  }
}

.button {
  font-family: Manrope, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  display: block;
  text-align: center;
  padding: 14.5px 0;
  color: #fff;
  background-color: #f98921;
  border-radius: 8px;
  margin-top: 40px;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: #1b2129;
  }

  &:active {
    background-color: #010810;
  }
}
