.about-us {
  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;

    @include on-tablet {
      height: 400px
    }

    @include on-desktop {
      height: 460px;
      object-position: 0 70%;
    }
  }

  &__grid-container {
    @include page-grid;

    padding-top: 48px;
    padding-bottom: 64px;
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 6;
     }
  }

  &__text {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 6;
     }
  }
}
