$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$transition: 300ms ease;
$main-text-color: #1b2129;
$font-size-title-tablet: 48px;
$header-title-pb-tablet: 64px;
$top-bar-icons-gap-tablet: 32px;
