.button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;

  padding: 13px 48px;
  border-radius: 8px;
  background-color: $main-text-color;
  border: 2px solid $main-text-color;
  transition: all $effect-duration ease;
  grid-column: span 2;

  @include on-tablet {
    grid-column: span 6;
  }

  @include on-desktop {
    grid-column: span 4;
  }

  &:hover {
    color: $main-text-color;
    background-color: $bg-color-hover;
    border: 2px solid $border-color-hover;
  }

  &:active {
    background-color: $bg-color-active;
    border: 2px solid $bg-color-active;
  }
}
