.product {
  transition:
    transform $effect-duration ease,
    box-shadow $effect-duration ease;
  &:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 5px $box-shadow-color-hover;
  }
  &__photo {
    width: 100%;
    margin-bottom: 24px;
  }
  &__title {
    margin-bottom: 8px;
  }
  &__category {
    flex-grow: 1;
    margin-bottom: 12px;
  }
  &__price {
    font-family: 'Space Grotesk', sans-serif;
  }
}
