.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  background-image: url(../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    margin: 0;

    @include on-tablet{
      font-size: 48px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include const-padding-inline;

    @include on-tablet{
      padding-bottom: 65px;
    }
  }
}
