.main {
  display: grid;
  margin: 0 auto;
  row-gap: 92px;
  padding-block: 60px;

  @include onTablet {
    row-gap: 132px;
    padding-block: 120px;
  }

  @include onDesctop {
    row-gap: 164px;

  }

  @include contentPaddingInline;
}
