.product-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 40px;
  @include onTablet {
    row-gap: 48px;
    column-gap: 24px;
  }
  @include onDesctop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product {
  &__photo {
    width: 100%;
    margin-bottom: 32px;

    @include onTablet {
      max-width: 392px;
      max-height: 316px;
    }
  }

  &__name {
    margin: 0 0 8px;
  }

  &__description {
    margin: 0 0 16px;
  }
  &__price {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
  }
}
