.section {
  &__title {
    display: block;
    text-align: center;
    margin: 0 0 48px;
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 48px;

    }

    @include onDesctop {
      font-size: 64px;
      margin: 0 0 56px;
    }

    &-move-free {
      text-align: left;
      margin: 0;
    }
  }

  &__paragraph {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  &-move-free {
    display: grid;
    row-gap: 32px;
    column-gap: 24px;
    grid-template-columns: repeat(1, 1fr);
    @include onTablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

}
