.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;

  @include onTablet {
    padding: 36px 72px;
  }
  @include onTablet {
    padding: 36px 120px;
  }

  background-repeat: no-repeat;
  background-size: cover;

  &__logo {
    width: 130px;
    height: 38px;
    flex-shrink: 0;

    background-repeat: no-repeat;
    background-size: cover;

    &-header {
      background-image: url(../images/LogoW-source.svg);
      @include onTablet {
        width: 187px;
        height: 56px;
      }
    }

    &-menu {
      background-image: url(../images/LogoB-source.svg);
      @include onDesctop {
        width: 187px;
        height: 56px;
      }
    }
  }

  &__icons {
    display: flex;
    justify-content: space-between;

    gap: 24px;
    @include onTablet {
      gap: 32px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    @include onTablet {
      width: 32px;
      height: 32px;
    }

    background-repeat: no-repeat;
    background-size: cover;

    &-phone {
      background-image: url(../images/Icon-Phone-call.svg);
    }

    &-menu {
      background-image: url(../images/Icon-Burger-menu.svg);

      &:hover {
        background-image: url(../images/Icon-Burger-menu-hover.svg);
      }
    }

    &-close {
      background-image: url(../images/Icon-Close.svg);
    }
  }
}
