@mixin on-view-signature {
  .signature {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .signature-title {
    margin: 24px 0 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    color: $color-red-accent-main;
  }

  .signature-description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    color: $color-black;
  }
}
