@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesctop {
  @media (min-width: $desctop-min-width) {
    @content;
  }
}

@mixin contentPaddingInline() {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesctop {
    padding-inline: 120px;
    margin-inline: auto;
    max-width: 1020px;
  }
}

@mixin contentPaddingBlock() {
  padding-block-start: 25px;

  @include onTablet {
    padding-block-start: 50px;
  }
}

.container {
  @include contentPaddingInline;
}

@mixin hover ($property, $toValue) {
  transition: #{$property} $hoverDuration;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin pageGrid {
  display: grid;
  grid-template-columns: repeat(var(--columns, 2), 1fr);
  column-gap: 20px;

  @include onTablet {
    --columns: 6;
    column-gap: 24px;
  }

  @include onDesctop {
    --columns: 12;
  }
}

@mixin gridSpan($tablet, $desktop) {
  @include onTablet {
    grid-column: span #{$tablet};
  }
  @include onDesctop {
    grid-column: span #{$desktop};
  }
}
