$accent-color: #f98921;
$main-color: #1b2129;
$gray: #f9f9f9;
$midle-gray: #7e7e83;
$light-gray: #dbdbdb;
$middle-color: #191919;
$light-color: #9393a3;
$dark: #010810;
$white: #fff;

$inter: "Inter", sans-serif;
$manrope: "Manrope", sans-serif;

$logo-min: 152px;
$logo-max: 228px;
$icon-min: 24px;
$icon-max: 32px;

//font
$small-size: 14px;
$main-size: 16px;
$middle-size: 18px;
$large-size: 24px;

$accent-small-size: 32px;
$accent-middle-size: 40px;
$accent-large-size: 48px;
$accent-size: 52px;
