@mixin onTablet() {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin onDesktop() {
  @media (min-width: 1260px) {
    @content;
  }

}

@mixin contentIndent() {
  padding: 0 20px;
  max-width: 320px;
  min-width: 320px;
  margin-inline: auto;

  @include onTablet() {
    padding: 0 72px;
    max-width: 744px;
  }

  @include onDesktop() {
    padding: 0 120px;
    max-width: 1260px;
  }
}

@mixin hoverScaleTransition() {
  transition-duration: $Global-transition-duration;

  &:hover {
    transform: scale(1.2);
  }
}
