$Main-dark: #161616;
$Secondary-color: #fff;
$Accent-main: #d12d35;
$Text-color: #3e3e3e;
$Placeholder-color: #7e7e83;
$Input-bg-color: #f8f8fa;
$Accent-hover: #ae1c23;
$Accent-active: #eb343d;

$Global-transition-duration: 300ms;
