.main {
  background-color: $white;
  position: relative;
  z-index: 1;

  &__content {
    display: grid;
    row-gap: 100px;
    padding-block: 100px;

    @include on-table {
      row-gap: 140px;
      padding-block: 140px;
    }
  }
}
