/*#region Html*/
.page {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: "#1b2129" ;
  scroll-behavior: smooth;
}

.page:has(.page__menu:target) {
  overflow: hidden; /* not to scroll the page */
}

.page__body {
  margin: 0;
}

h1,
h3 {
  margin: 0;
}
