.page {
  font-family: 'Space Grotesk', sans-serif;
  color: $main-color;
  scroll-behavior: smooth;

  &:has(.header__menu:target) {
    overflow: hidden;
  }

  &__body {
    margin: 0;
    overflow-x: hidden;
  }

  &__main {
    position: relative;
  }

  &__footer {
    margin-top: 104px;
    margin-bottom: 64px;

    @include on-tablet {
      margin-block: 120px;
    }
  }
}
