.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .top-bar {
    padding-inline: 72px;
  }
}
@media (min-width: 576px) {
  .top-bar {
    padding-block: 32px;
  }
}
.top-bar__icons {
  display: flex;
  gap: 24px;
}
.top-bar__logo-link {
  display: flex;
  transition: transform 0.3s;
}
.top-bar__logo-link:hover {
  transform: scale(1.2);
}
@media (min-width: 576px) {
  .top-bar__logo-link {
    height: 24px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/header-bg-mobile.png);
  background-position: center;
  background-size: cover;
}
.header__title {
  margin: 0;
  font-family: Manrope, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
  letter-spacing: 0;
  vertical-align: middle;
}
@media (min-width: 576px) {
  .header__title {
    font-size: 40px;
  }
}
.header__bottom {
  padding-bottom: 40px;
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .header__bottom {
    padding-inline: 72px;
  }
}
@media (min-width: 576px) {
  .header__bottom {
    padding-bottom: 64px;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__link {
  position: relative;
  font-size: 22px;
  line-height: 22px;
  color: inherit;
  text-decoration: none;
  letter-spacing: 0;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  transform: scale(0);
  display: block;
  width: 100%;
  height: 1px;
  background-color: #1b2129;
  transition: transform 0.3s;
}
.nav__link:hover::after {
  transform-origin: left;
  transform: scale(1);
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  font-weight: 700;
  background-color: #f9f9f9;
}
.menu__top {
  margin-bottom: 32px;
}
@media (min-width: 576px) {
  .menu__top {
    margin-bottom: 0;
  }
}
.menu__content {
  position: relative;
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .menu__content {
    padding-inline: 72px;
  }
}
.menu__nav {
  margin-bottom: 48px;
}
.menu__phone-number {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 140%;
  color: inherit;
  text-decoration: none;
}
.menu__call-to-order {
  display: block;
  width: fit-content;
  padding-bottom: 4px;
  border-bottom: 1px solid #1b2129;
  font-size: 16px;
  line-height: 140%;
  color: inherit;
  text-decoration: none;
  letter-spacing: 2px;
}

.page {
  scroll-behavior: smooth;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #1b2129;
}
.page__body {
  min-width: 320px;
  margin: 0;
}
.page__menu {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.3s;
}
.page__menu:target {
  pointer-events: all;
  transform: translateX(0);
  opacity: 1;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s;
}
.icon--phone {
  background-image: url(../icons/icon-phone.png);
}
.icon--menu {
  background-image: url(../icons/icon-burger-menu.png);
}
.icon--menu:hover {
  background-image: url(../icons/icon-burger-menu-hover.png);
}
.icon--close {
  background-image: url(../icons/icon-close.png);
}
.icon:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=main.css.map */
