.section-3
    width: 100dvw
    height: max-content
    grid-row: 3 / 3
    display: flex
    flex-direction: column
    align-items: center
    gap: 48px

    &__title
        margin-top: 32px
        display: flex
        flex-direction: column
        width: max-content
        text-align: center

        .title__title
            font-size: 32px
        .title__subtitle
            width: 325px
            font:
                weight: 400
            line-height: 27px
        
    .work-list
        text-align: start
        width: 100dvw
        display: flex
        align-items: center
        flex-direction: column

        .work
           display: flex
           flex-direction: column
           gap: 24px
           width: 80dvw
           margin-bottom: 24px

           &__imgs
                display: grid
                gap: 24px
                width: 80dvw
                > img
                    width: 100%
                &--1
                    grid-template-columns: 2fr 1fr

                &--2
                    grid-template-columns: repeat(3, 1fr)
                
                &--3
                    grid-template-columns: 1fr 2fr
           &__title
                line-height: 27px
                font-size: 20px
                .title
                    color: #D12D35
                .subtitle
                    font-weight: 400
        .button
            &:hover
                background-color: #ae1c23
            &:active
                background-color: #eb343d
            outline: none
            border: none
            align-self: center
            text-decoration: none
            width: 324px
            height: 56px
            line-height: 56px
            font-weight: 700
            color: white
            text-align: center
            background-color: #d12d35

