/* #region header */
.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../../img/header-bg-mobile.png);
  background-size: cover;
  background-position: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  padding-left: 0;
  padding-right: 0;
  line-height: 100%;
  letter-spacing: -1.5px;
  padding-bottom: 130px;
  white-space: nowrap;
  text-align: center;
  align-items: center;
  color: #fff;
}

@media (max-width: 743px) {
  .header__title {
    font-size: 36px;
  }
}

@media (min-width: 744px) and (max-width: 1259px) {
  .header__title {
    font-size: 64px;
  }
}

@media (min-width: 1260px) {
  .header__title {
    font-size: 80px;
  }
}

.header__bottom {
  padding: 0 20px 40px;
}
/* #endregion */
