/* #region top-bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 743px) {
  .top-bar {
    padding: 24px 20px;
  }
}

@media (min-width: 744px) and (max-width: 1259px) {
  .top-bar {
    padding: 36px 72px;
  }
}

@media (min-width: 1260px) {
  .top-bar {
    padding: 36px 120px;
  }
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar__logo {
  display: flex;
}
/* #endregion */
