.now-on-view {
  &__button {
    grid-column: span 2;
    font-family: Cinzel, sans-serif;
    width: 392px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    background-color: $main-color-red;
    color: $second-color-white;
    box-sizing: border-box;
    border-style: none;
    height: 56px;
    margin-top: 32px;

    @include text-base;

    &:hover {
      cursor: pointer;
      background-color: $hover-color-red;
    }

    &:active {
      background-color: $pressed-color-red;
    }

    @include width-744 {
      grid-column: 2 / -2;
    }

    @include width-1260 {
      grid-column: 5 / -5;
    }
  }

  &__images {
    --columns: 2;

    display: grid;
    column-gap: 20px;
    margin-bottom: 24px;
    grid-template-columns: repeat(var(--columns), 1fr);

    @include width-744 {
      --columns: 6;

      column-gap: 24px;
    }

    @include width-1260 {
      --columns: 12;
    }
  }

  &__link {
    position: relative;
    display: block;
    max-width: 100%;

    &--hiden {
      @include width-744 {
        display: none;
        visibility: hidden;
      }

      @include width-1260 {
        display: grid;
        visibility: inherit;
      }
    }

    @include hover(transform, scale(1.05));

    &--long {
      @include width-744 {
        grid-column: span 4;
      }

      @include width-1260 {
        grid-column: span 8;
      }
    }

    &--box {
      height: 0;
      padding-bottom: 100%;

      @include width-744 {
        grid-column: span 2;
      }

      @include width-1260 {
        grid-column: span 4;
      }
    }

    &--box-small {
      @include hover(transform, scale(1.1));

      @include width-744 {
        grid-column: span 3;
      }

      @include width-1260 {
        grid-column: span 4;
      }
    }
  }

  &__images--mobile2-1 {
    column-gap: 8px;

    --columns: 3;

    @include width-744 {
      column-gap: 24px;

      --columns: 6;
    }

    @include width-1260 {
      --columns: 12;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__mobile1-1 {
    object-position: 20% 50%;
  }

  &__mobile3-2 {
    object-position: right;
  }

  &__mobile2-3 {
    @include width-744;
    @include width-1260;
  }

  &__title {
    @include text-base;

    margin: 0;
    font-weight: 700;
    color: $main-color-red;
  }

  &__text {
    margin: 0;
    font-weight: 400;

    @include text-base;
  }
}
