.explore {
  &__section-title {
    padding-bottom: 48px;
  }

  &__items {
    --columns: 2;

    gap: 20px;
    row-gap: 48px;
    display: grid;
    margin-top: 0;
    grid-template-columns: repeat(var(--columns), 1fr);

    @include width-744 {
      --columns: 6;

      column-gap: 24px;
    }

    @include width-1260 {
      --columns: 12;
    }
  }

  &__item {
    grid-column: 1 / -1;

    @include hover(transform, scale(1.05));

    @include width-744 {
      grid-column: 2 / -2;
    }

    @include width-1260 {
      grid-column: span 4;
    }
  }
}
