.section-title {
  margin: 0;
  align-items: center;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: $text-color;
  letter-spacing: -1.5px;
  text-align: center;
  margin-top: 100px;

  @include width-744 {
    font-size: 48px;
    line-height: 48px;
    margin-top: 140px;
  }

  &--text {
    color: $main-color-red;
    font-size: 12px;
    line-height: 16.8px;
    letter-spacing: normal;
  }
}
