.on-view {
  &__article {
    display: grid;
    row-gap: 48px;
  }

  &__article2 {
    --columns: 2;

    display: grid;
    text-decoration: none;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);

    @include width-744 {
      --columns: 6;

      column-gap: 24px;
    }

    @include width-1260 {
      --columns: 12;
    }
  }

  &__text {
    @include text-base;

    margin: 0;
    font-weight: 400;
    text-align: center;
    margin-bottom: 48px;
  }
}
