.header
    position: absolute
    width: 80dvw
    display: inline-flex
    justify-content: space-between
    background: yellow
    align-items: center
    margin-top: 52px
    background: transparent
    height: 70px
    left: 10dvw
    
    font:
        family: Cinzel
    .logo-anchor
        .logo-anchor__image
            height: 46px
            width: 64px
    
    .modal-contacts
        grid-column: 9 / 10
        > * 
            color: white

    .nav
        display: inline-flex
        gap: 1.5dvw
        align-items: center
        
        &__list
            list-style: none
            width: 72px
            height: 32px
            display: inline-flex
            justify-content: space-between
            align-items: center

            .list__item

                width: 24px
                height: 24px
                background-repeat: no-repeat
                background-size: cover
                
                &--modal
                    order: 0
                    width: max-content
                    height: max-content
                    position: absolute
                    margin-left: -132px
                    &.hidden
                        display: none
                    &.show
                        display: flex
                    .modal-contacts
                        display: flex
                        flex-direction: column
                        align-items: center
                        gap: 2.75dvh
                        text-align: center
                        margin-left: -8.5dvw
                        .contact
                            > *
                                font:
                                    size: 14px
                                    weight: 700

                            .contact__number
                                text-decoration: none
                                color: white
                &--phone
                    order: 1
                    background-image: url('../../../public/assets/header/icon-phone.svg')
                    &:hover 
                        + .list__item--modal
                            display: block

                &--menu
                    background-image: url('../../../public/assets/header/icon-menu.svg')                    
                    order: 2
                    &:hover
                        background-image: url('../../../public/assets/header/icon-menu--hover.png')


                .item__anchor
                    .anchor__image
                        width: 32px
                        height: 32px