.contacts {
  &__wrapper {
    @include pageGrid;
    row-gap: 48px;
  }
}

.contact {
  &__form {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: 1 / 6;
    }
  }
  &__name {
    @include formText;
  }

  &__email {
    @include formText;
  }

  &__message {
    @include formText;
    height: 120px;
    margin-bottom: 32px;
    border-radius: 16px;
    padding: 14px 16px;
  }

  &__button {
    outline: none;
    font-family: Poppins, sans-serif;
    border-radius: 40px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 700;
    line-height: 27px;
    color: $color-font-main-menu;
    text-decoration: none;
    padding: 14.5px 0;
    font-size: 16px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: $transition-time;

    &:hover {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
    }

    &:active {
      box-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
    }
  }

  &__text {
    grid-column: 1/ -1;
    display: grid;
    row-gap: 24px;
    color: $color-font-main;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: 8 / -1;
    }

    &__link {
      text-decoration: none;
      color: $color-font-main;
      font-style: normal;
      transition: $transition-time;

      &:hover {
        color: $color-link-hover;
      }
    }

    &__line1 {
      margin: 0;
    }

    &__line2 {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
