.product {
  &__photo {
    width: 100%;
    @include hover(transform, scale(1.1));
  }

  &__title {
    margin: 24px 0 0;
    font-size: 18px;
    line-height: 140%;
  }

  &__description {
    margin: 8px 0 12px;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    font-size: 16px;
    line-height: 140%;
    margin: 0;
  }
}
