.compare-bikes {

  &__title {
    @include section-title-styles;
  }

  &__content {
    @include grid-column-templates;
  }

  &__bike-card {
    grid-column: span 2;

    @include onTablet {
      grid-column: 2 / 6;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }
}
