@use './variables' as var;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var.$base__fonts;
  color: var.$color__black;
  font-size: 16px;

  &:has(.menu:target) {
    overflow: hidden;
  }
}

.container {
  padding: 0 120px;
  max-width: 1260px;
  margin: 0 auto;
}
