@mixin title-mobile {
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
}

@mixin title-tablet {
  font-size: 40px;
  line-height: 40px;
}

@mixin title-desktop {
  font-size: 48px;
  line-height: 48px;
}

@mixin title {
  margin-bottom: 48px;

  @include title-mobile;

  @include on-tablet {
    margin-bottom: 56px;

    @include title-tablet;
  }

  @include on-desktop {
    @include title-desktop;
  }
}

@mixin subtitle-mobile {
  font-size: 18px;
  font-weight: bold;
}

@mixin subtitle-tablet {
  font-size: 24px;
}

@mixin text {
  letter-spacing: 0.15px;
}
