.container {
  max-width: $container-max-width + 144px;
  margin-inline: auto;
  padding-inline: 20px;

  @include media-tablet {
    padding-inline: 72px;
  }
}

.section-title {
  margin-bottom: 48px;

  @include media-tablet {
    margin-bottom: 56px;
  }
}

.no-scroll {
  overflow: hidden;
}
