html {
  font-family: Poppins, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;

  color: $main-light;
  background-color: $main-dark;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}
