.page {
  font-family: "Poppins", sans-serif;
  line-height: 140%;
}

.heading {
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -1.5px;

  @include onLaptop {
    font-size: 48px;
  }

  @include onMobile {
    font-size: 32px;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
}
