@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Large desktop
$text-font-size-large: 1.5rem; // 24px
$text-font-size-medium: 1rem; // 16px
$text-font-size-small: 0.88rem; // 14px

// Desktop default
$title-font-size-large-desktop-lg: 5rem;
$title-font-size-medium-desktop-lg: 4rem;
$title-font-size-small-desktop-lg: 3rem;

// Tablet (desktop-md == tablet)
$title-font-size-large-desktop-md: 4rem;
$title-font-size-medium-desktop-md: 3rem;
$title-font-size-small-desktop-md: 3rem;

// Phone
$title-font-size-large-phone: 2.25rem; // 36px
$title-font-size-medium-phone: 2rem;
$title-font-size-small-phone: 2rem;
