$fz-base: 16px;
$fz-input: 14px;
$ff-base: 'Manrope', sans-serif;
$fw-base: 400;
$lh-base: 1.4;
$clr-primary: #1b2129;
$clr-accent: #f98921;
$clr-bg-body: #fff;
$clr-bg-menu: #f9f9f9;
$clr-bg-input: #f9f9f9;
$clr-bg-about-us: #fcfaef;
$clr-btn-bg: $clr-accent;
$clr-btn-bg-hover: $clr-primary;
$clr-btn-bg-pressed: #010810;
$clr-btn-text: #fff;
$clr-input-placeholder: #7e7e83;
$clr-info-label: #9393a3;
$clr-info-link: #191919;
$clr-text-base: $clr-primary;
$clr-title-base: $clr-primary;
$clr-title-secondary: #fff;
$transition-duration: 0.3s;
$transition-timing-function: ease-in-out;
$container-max-width: 1020px;
$tablet-breakpoint: 576px;
$desktop-breakpoint: 1024px;
$large-breakpoint: 1440px;
