@mixin header-block {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin header-top {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 24px 20px 0;

  display: flex;
  justify-content: space-between;

  @media (min-width: 744px) {
    padding: 36px 72px 0;
  }

  @media (min-width: 1260px) {
    padding: 36px 120px 0;
  }
}

@mixin header-logo {
  display: block;
  width: 130px;

  @media (min-width: 744px) {
    width: 187px;
  }
}

@mixin form-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 14px 16px;

  background-color: $input-bg-color;
  color: $input-color;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  transition: color $time-funclion;

  &:hover {
    color: $input-hover-color;
  }

  &:hover::placeholder {
    color: $input-hover-color;
  }
}

@mixin section-bg {
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 744px) {
    background-position: center top;
    background-attachment: fixed;
  }
}
