.page {
  scroll-behavior: smooth;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    margin: 0;
    background-color: $body-bg-color;
    color: $text-color;
  }

  &__header {
    margin-bottom: 60px;

    @include on-tablet {
      margin-bottom: 120px;
    }
  }
}
