body,
h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

address {
  font-style: normal;
}
