@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.page {
  display: grid;
  grid-template-columns: repeat(6, 16.666666667dvw);
  grid-auto-flow: row;
  gap: 24px;
  text-align: start;
  overflow-x: hidden;
  position: absolute;
  width: 100dvw;
  left: 0;
  right: 0;
}

.header {
  position: absolute;
  width: 80dvw;
  display: inline-flex;
  justify-content: space-between;
  background: yellow;
  align-items: center;
  margin-top: 52px;
  background: transparent;
  height: 116px;
  left: 10dvw;
  font-family: Cinzel;
}
.header .logo-anchor .logo-anchor__image {
  height: 65px;
  width: 87px;
}
.header .modal-contacts {
  grid-column: 9/10;
}
.header .modal-contacts > * {
  color: white;
}
.header .nav {
  display: inline-flex;
  gap: 1.5dvw;
  align-items: center;
}
.header .nav__list {
  list-style: none;
  width: 119px;
  height: 32px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav__list .list__item {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .nav__list .list__item--modal {
  order: 0;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  margin-left: -132px;
}
.header .nav__list .list__item--modal.hidden {
  display: none;
}
.header .nav__list .list__item--modal.show {
  display: flex;
}
.header .nav__list .list__item--modal .modal-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.75dvh;
  text-align: center;
  margin-left: -8.5dvw;
}
.header .nav__list .list__item--modal .modal-contacts .contact > * {
  font-size: 16px;
  font-weight: 700;
}
.header .nav__list .list__item--modal .modal-contacts .contact .contact__number {
  text-decoration: none;
  color: white;
}
.header .nav__list .list__item--phone {
  order: 1;
  background-image: url("../../../public/assets/header/icon-phone.svg");
}
.header .nav__list .list__item--phone:hover + .list__item--modal {
  display: block;
}
.header .nav__list .list__item--menu {
  background-image: url("../../../public/assets/header/icon-menu.svg");
  order: 2;
}
.header .nav__list .list__item--menu:hover {
  background-image: url("../../../public/assets/header/icon-menu--hover.png");
}
.header .nav__list .list__item .item__anchor .anchor__image {
  width: 32px;
  height: 32px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: #d12d35;
  display: flex;
}
.menu .menu__logo {
  text-decoration: none;
  position: absolute;
  left: 124px;
  top: 32px;
  width: 87px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../../public/assets/favicon.svg");
}
.menu .menu__close {
  all: unset;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 44px;
  right: 120px;
  background-image: url("../../../public/assets/menu/menu-close.svg");
}
.menu .menu__nav {
  position: absolute;
  top: 152px;
  left: 120px;
}
.menu .menu__nav .nav__list {
  list-style: none;
  text-align: start;
}
.menu .menu__nav .nav__list .list__item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu .menu__nav .nav__list .list__item .nav__link {
  margin-bottom: 24px;
  line-height: 22px;
  text-decoration: none;
  color: white;
  width: -moz-max-content;
  width: max-content;
  font-weight: 700;
  font-size: 22px;
}
.menu .menu__nav .nav__list .list__item .nav__link:hover {
  border-bottom: 1px solid white;
}
.menu .menu__contacts {
  position: absolute;
  left: 120px;
  top: 438px;
  display: flex;
  flex-direction: column;
}
.menu .menu__contacts .contact {
  text-align: start;
}
.menu .menu__contacts .contact .contact__name, .menu .menu__contacts .contact .contact__number {
  color: white;
  line-height: 27px;
  font-weight: 700;
  font-size: 16px;
}
.menu .menu__contacts .contact .contact__number {
  text-decoration: none;
}
.menu .menu__contacts .contacts__call {
  all: unset;
  justify-self: start;
  margin-top: 24px;
  width: -moz-max-content;
  width: max-content;
  font-weight: 700;
  font-size: 16px;
  color: white;
}
.menu .menu__contacts .contacts__call:hover {
  border-bottom: 1px solid white;
  padding-bottom: 8px;
}
.menu--hidden {
  display: none;
}

.section-1 {
  grid-row: 1/1;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  background-image: url("../../../public/assets/section-1/bg.webp");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.section-1__content {
  text-align: center;
  margin-top: 256px;
  width: 498px;
  height: 128px;
  color: white;
  font-size: 80px;
  font-weight: 700;
}

.section-2 {
  grid-row: 2/2;
  width: 100dvw;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 72px;
  display: inline-flex;
  justify-content: flex-start;
  gap: 48px;
  text-align: start;
}
.section-2__title, .section-2 .museum-hours {
  margin-top: 136px;
}
.section-2__title {
  margin-left: 72px;
  height: -moz-max-content;
  height: max-content;
  width: 411px;
}
.section-2__title .title__subtitle {
  color: #D12D35;
}
.section-2__title .title__title {
  font-size: 48px;
}
.section-2 .museum-hours {
  margin-right: 72px;
}
.section-2 .museum-hours__table {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
}
.section-2 .museum-hours__table .table__id {
  font-size: 24px;
}
.section-2 .museum-hours__table .table__row {
  display: inline-flex;
}
.section-2 .museum-hours__table .table__row .row__range-hours {
  font-weight: 700;
  margin-right: 24px;
}
.section-2 .museum-hours__table .table__row .row__range-hours :nth-child(1) {
  width: 96px;
}
.section-2 .museum-hours__table .table__row .row__range-hours :nth-child(2) {
  width: 121px;
}
.section-2 .museum-hours__table .table__row .row__range-days {
  font-weight: 400;
}
.section-2 .museum-hours__table .table__tool {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section-2 .museum-hours .museum-hours__table:nth-child(1) {
  margin-bottom: 28px;
}

.section-3 {
  width: 100dvw;
  height: -moz-max-content;
  height: max-content;
  grid-row: 3/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.section-3__title {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
}
.section-3__title .title__title {
  font-size: 48px;
}
.section-3__title .title__subtitle {
  width: 325px;
  font-weight: 400;
  line-height: 27px;
}
.section-3 .work-list {
  text-align: start;
  width: 100dvw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-3 .work-list .work {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 80dvw;
  margin-bottom: 24px;
}
.section-3 .work-list .work__imgs {
  display: grid;
  gap: 24px;
  width: 80dvw;
}
.section-3 .work-list .work__imgs > img {
  width: 100%;
}
.section-3 .work-list .work__imgs--1 {
  grid-template-columns: 2fr 1fr;
}
.section-3 .work-list .work__imgs--2 {
  grid-template-columns: repeat(3, 1fr);
}
.section-3 .work-list .work__imgs--3 {
  grid-template-columns: 1fr 2fr;
}
.section-3 .work-list .work__title {
  line-height: 27px;
  font-size: 20px;
}
.section-3 .work-list .work__title .title {
  color: #D12D35;
}
.section-3 .work-list .work__title .subtitle {
  font-weight: 400;
}
.section-3 .work-list .button {
  outline: none;
  border: none;
  align-self: center;
  text-decoration: none;
  width: 324px;
  height: 56px;
  line-height: 56px;
  font-weight: 700;
  color: white;
  text-align: center;
  background-color: #d12d35;
}
.section-3 .work-list .button:hover {
  background-color: #ae1c23;
}
.section-3 .work-list .button:active {
  background-color: #eb343d;
}

.section-4 {
  width: 100dvw;
  height: -moz-max-content;
  height: max-content;
  grid-row: 4/4;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.section-4__title {
  text-align: center;
  margin-top: 82px;
  font-size: 48px;
  width: 428px;
}
.section-4 .explore-list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  width: 60dvw;
}
.section-4 .explore-list .explore {
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-4 .explore-list .explore .explore__img {
  width: 70%;
}
.section-4 .explore-list .explore .explore__title {
  margin-top: 28px;
  color: #D12D35;
  font-size: 24px;
}
.section-4 .explore-list .explore .explore__desc {
  text-align: center;
  width: 70%;
  margin-top: 5px;
  font-family: Roboto;
  font-size: 16px;
}

.section-5 {
  grid-row: 5/5;
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: -moz-max-content;
  height: max-content;
  gap: 48px;
}
.section-5__title {
  text-align: center;
  margin-top: 82px;
  font-size: 48px;
}
.section-5__wrapper-content {
  display: inline-flex;
  justify-content: space-between;
  margin: 0 4.75dvw;
  gap: 5dvw;
}
.section-5__wrapper-content .contact-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.section-5__wrapper-content .contact-list .contact {
  text-align: start;
  line-height: 27px;
  gap: 5px;
}
.section-5__wrapper-content .contact-list .contact__id {
  font-size: 16px;
  font-weight: 700;
}
.section-5__wrapper-content .contact-list .contact .phone__label {
  font-weight: 400;
  font-size: 14px;
}
.section-5__wrapper-content .contact-list .contact .phone__number {
  font-weight: 700;
  font-size: 16px;
}
.section-5__wrapper-content .contact-list .contact .address {
  width: 200px;
}
.section-5__wrapper-content .contact-list .contact .address__label {
  font-weight: 400;
  font-size: 14px;
}
.section-5__wrapper-content .contact-list .contact .address__addr {
  color: #161616;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}
.section-5__wrapper-content .form-contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-height: 376px;
}
.section-5__wrapper-content .form-contact .input {
  outline: none;
  border: none;
  background-color: #f8f8fa;
  width: 55dvw;
  height: 48px;
  padding: 16px;
  color: #161616;
}
.section-5__wrapper-content .form-contact .input:hover {
  border: 1px solid #D5D7DE;
}
.section-5__wrapper-content .form-contact .input:hover::-moz-placeholder {
  color: #161616;
}
.section-5__wrapper-content .form-contact .input:hover::placeholder {
  color: #161616;
}
.section-5__wrapper-content .form-contact .input:focus, .section-5__wrapper-content .form-contact .input:active {
  border: 1px solid #161616;
}
.section-5__wrapper-content .form-contact .input:focus::-moz-placeholder, .section-5__wrapper-content .form-contact .input:active::-moz-placeholder {
  visibility: hidden;
}
.section-5__wrapper-content .form-contact .input:focus::placeholder, .section-5__wrapper-content .form-contact .input:active::placeholder {
  visibility: hidden;
}
.section-5__wrapper-content .form-contact .input::-moz-placeholder {
  color: #7E7E83;
}
.section-5__wrapper-content .form-contact .input::placeholder {
  color: #7E7E83;
}
.section-5__wrapper-content .form-contact .input--message {
  height: 144px;
  resize: none;
}
.section-5__wrapper-content .form-contact .button {
  outline: none;
  border: none;
  width: 55dvw;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: #D12D35;
}
.section-5__wrapper-content .form-contact .button:hover {
  background-color: #ae1c23;
}
.section-5__wrapper-content .form-contact .button:active {
  background-color: #eb343d;
}

.footer {
  grid-row: 6/6;
  width: 100dvw;
  min-height: 215px;
  max-height: 235px;
  z-index: -1;
  background-image: url("../../../public/assets/footer/bg-footer.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: 100% 100%;
  -o-object-position: center center;
     object-position: center center;
  margin-top: 120px;
}

/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cinzel, Roboto, sans-serif;
}

/*Estilização da barra de rolagem*/
*::-webkit-scrollbar {
  display: none;
}

.page {
  overflow-x: hidden;
  width: 100dvw;
  scroll-behavior: smooth;
  /*Incremento do tamanho na imagem sob evento hover*/
}
.page img:hover {
  scale: 1.05;
  z-index: 2;
}

.page:not(.page--hidden) {
  height: 100dvh;
  overflow-y: hidden;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

/*Fallback para prevenir overflow horizontal*/
html {
  overflow-x: hidden;
}/*# sourceMappingURL=mainTablet.css.map */