.hidden-element {
  display: none;
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -60px;
  width: max-content;

  font-size: 16px;
  font-weight: 700;
  color: #fff;
  margin-right: 16px;
  line-height: 10px;
  box-shadow: 18px 4px 26px 0 #00000070;

  &__phone {
    text-decoration: none;
    color: #fff;
  }
}

.top-bar__icons {
  position: relative;
}

.phone-wr {
  position: relative;
  height: max-content;
  width: max-content;

  @include hover(transform, scale(1.2));

  .hidden-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    height: 100%;
    width: 100%;

    &:checked + .hidden-element {
      display: block;
    }
  }
}

.icon {
  display: block;
  height: 24px;
  width: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url(/src/images/icons/icon-phone.png);
  }

  &--menu {
    background-image: url(/src/images/icons/burger-menu.png);

    &:hover {
      background-image: url(/src/images/icons/menu-selected.png);
    }
  }

  &--close {
    background-image: url(/src/images/icons/icon-close.png);
  }
}
